<div class="page-main">
	<div class="slider-main">
		<div class="container">
			<div class="search search-mob-main-page search-white tablet">
				<div class="shell">
					<input type="text" placeholder="Найти событие или артиста...">
					<button class="btn-search btn-search-transparent"><i class="icon icon-search"></i></button>
					<div class="icon-hide">
						<svg width="10" height="10" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path fill-rule="evenodd" clip-rule="evenodd" d="M6.18849 5.00002L9.75385 1.43465C10.082 1.10646 10.082 0.574344 9.75385 0.246195C9.42566 -0.0820022 8.89359 -0.0820022 8.5654 0.246195L4.99998 3.81161L1.43457 0.246148C1.10637 -0.0820492 0.574308 -0.0820492 0.246112 0.246148C-0.0820374 0.574344 -0.0820374 1.10646 0.246112 1.4346L3.81153 4.99998L0.246112 8.5654C-0.0820374 8.89359 -0.0820374 9.4257 0.246112 9.75385C0.574308 10.082 1.10637 10.082 1.43457 9.75385L4.99998 6.18843L8.5654 9.75385C8.89355 10.082 9.42566 10.082 9.75385 9.75385C10.082 9.42566 10.082 8.89359 9.75385 8.5654L6.18849 5.00002Z" fill="white"/>
						</svg>
					</div>
				</div>
				<!-- typehead -->
				<div class="typehead typehead-mob-main-page">
					<div class="typehead-item">
						<div class="typehead__img"><img src="img/search_1.png" alt=""></div>
						<div class="part">
							<div class="typehead__category"><a href="#">Концерты</a></div>
							<div class="typehead__title"><a href="#"><i>СУПЕР</i>ДИСКОТЕКА 90-х.</a></div>
							<div class="typehead__date">23.10.19</div>
						</div>
					</div>
					<div class="typehead-item">
						<div class="typehead__img"><img src="img/search_2.png" alt=""></div>
						<div class="part">
							<div class="typehead__category"><a href="#">Театр</a></div>
							<div class="typehead__title"><a href="#"><i>Супр</i>ужество как точная наука</a></div>
							<div class="typehead__date">18.12.19</div>
						</div>
					</div>
				</div><!-- End typehead -->
			</div>
			<div class="panel-btn">
				<a href="#" class="btn-def" data-toggle="modal" data-target="#bonuses-modal">Заработать бонусы <span>(осталось 3 репоста)</span></a>
			</div>
			<div class="slider-banner">
				<div class="item">
					<div class="slide">
						<div class="slide-title">
							<span>Рекомендуйте события друзьям - </span>  <br>
							<strong>Получайте бонусы и оплачивай ими билеты</strong>
						</div>
						<div class="slide-picture">
							<img src="img/ticket.png" alt="">
						</div>
						<div class="slide-btn">
							<a href="#" class="btn-def">Подробнее</a>
						</div>
					</div>
				</div>
				<div class="item">
					<div class="slide">
						<div class="slide-title">
							<span>Рекомендуйте события друзьям - </span>  <br>
							<strong>Получайте бонусы и оплачивай ими билеты</strong>
						</div>
						<div class="slide-picture">
							<img src="img/ticket.png" alt="">
						</div>
						<div class="slide-btn">
							<a href="#" class="btn-def">Подробнее</a>
						</div>
					</div>
				</div>
				<div class="item">
					<div class="slide">
						<div class="slide-title">
							<span>Рекомендуйте события друзьям - </span>  <br>
							<strong>Получайте бонусы и оплачивай ими билеты</strong>
						</div>
						<div class="slide-picture">
							<img src="img/ticket.png" alt="">
						</div>
						<div class="slide-btn">
							<a href="#" class="btn-def">Подробнее</a>
						</div>
					</div>
				</div>
				<div class="item">
					<div class="slide">
						<div class="slide-title">
							<span>Рекомендуйте события друзьям - </span>  <br>
							<strong>Получайте бонусы и оплачивай ими билеты</strong>
						</div>
						<div class="slide-picture">
							<img src="img/ticket.png" alt="">
						</div>
						<div class="slide-btn">
							<a href="#" class="btn-def">Подробнее</a>
						</div>
					</div>
				</div>
				<div class="item">
					<div class="slide">
						<div class="slide-title">
							<span>Рекомендуйте события друзьям - </span>  <br>
							<strong>Получайте бонусы и оплачивай ими билеты</strong>
						</div>
						<div class="slide-picture">
							<img src="img/ticket.png" alt="">
						</div>
						<div class="slide-btn">
							<a href="#" class="btn-def">Подробнее</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row-posters row-posters-popular row-slider">
			<div class="heading-panel">
				<div class="heading">
					<strong>ТОп 10 ПопулярныХ событий</strong>
				</div>
				<div class="posters-active__arrows">
					<div class="icon-arrow icon-arrow-next slick-arrow left"><img src="img/arrow-sm-left.svg" alt="" /></div>
					<div class="icon-arrow icon-arrow-prev slick-arrow right"><img src="img/arrow-sm-right.svg" alt="" /></div>
				</div>
			</div>
			<div class="posters-wrapper">
				<div class="posters posters-slider posters-slider-popular">
					<div class="item">
						<div class="poster">
							<div class="poster__picture" style="background-image: url(img/poster-1.jpg)"></div>
							<div class="poster-description">
								<div class="poster__type">Детям</div>
								<div class="poster__title"><a href="#">Оранжевый ежик<i class="icon icon-like"></i></a></div>
								<div class="panel-hidden">
									<div class="poster__place">трк планета</div>
									<div class="poster__date">21 апреля, 19:30</div>
									<div class="poster-bottom-panel">
										<div class="poster__price">1000-2400 ₽</div>
										<div class="poster-btns">
											<button class="btn-def">Купить</button>
											<button class="btn-def btn-def-transparent">Оплатить бонусами</button>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="item">
						<div class="poster">
							<div class="poster__picture" style="background-image: url(img/poster-2.jpg)"></div>
							<div class="poster-description">
								<div class="poster__type">Театр</div>
								<div class="poster__title"><a href="#">Шекспир<i class="icon icon-like"></i></a></div>
								<div class="panel-hidden">
									<div class="poster__place">трк планета</div>
									<div class="poster__date">21 апреля, 19:30</div>
									<div class="poster-bottom-panel">
										<div class="poster__price">1000-2400 ₽</div>
										<div class="poster-btns">
											<button class="btn-def">Купить</button>
											<button class="btn-def btn-def-transparent">Оплатить бонусами</button>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="item">
						<div class="poster">
							<div class="poster__picture" style="background-image: url(img/poster-3.jpg)"></div>
							<div class="poster-description">
								<div class="poster__type">Кино</div>
								<div class="poster__title"><a href="#">Зеленая книга<i class="icon icon-like"></i></a></div>
								<div class="panel-hidden">
									<div class="poster__place">трк планета</div>
									<div class="poster__date">21 апреля, 19:30</div>
									<div class="poster-bottom-panel">
										<div class="poster__price">1000-2400 ₽</div>
										<div class="poster-btns">
											<button class="btn-def">Купить</button>
											<button class="btn-def btn-def-transparent">Оплатить бонусами</button>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="item">
						<div class="poster">
							<div class="poster__picture" style="background-image: url(img/poster-1.jpg)"></div>
							<div class="poster-description">
								<div class="poster__type">Концерт</div>
								<div class="poster__title"><a href="#">Пасож, новый альбом <i class="icon icon-like"></i></a></div>
								<div class="panel-hidden">
									<div class="poster__place">трк планета</div>
									<div class="poster__date">21 апреля, 19:30</div>
									<div class="poster-bottom-panel">
										<div class="poster__price">1000-2400 ₽</div>
										<div class="poster-btns">
											<button class="btn-def">Купить</button>
											<button class="btn-def btn-def-transparent">Оплатить бонусами</button>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="item">
						<div class="poster">
							<div class="poster__picture" style="background-image: url(img/poster-2.jpg)"></div>
							<div class="poster-description">
								<div class="poster__type">Театр</div>
								<div class="poster__title"><a href="#">Шекспир<i class="icon icon-like"></i></a></div>
								<div class="panel-hidden">
									<div class="poster__place">трк планета</div>
									<div class="poster__date">21 апреля, 19:30</div>
									<div class="poster-bottom-panel">
										<div class="poster__price">1000-2400 ₽</div>
										<div class="poster-btns">
											<button class="btn-def">Купить</button>
											<button class="btn-def btn-def-transparent">Оплатить бонусами</button>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="item">
						<div class="poster">
							<div class="poster__picture" style="background-image: url(img/poster-3.jpg)"></div>
							<div class="poster-description">
								<div class="poster__type">Кино</div>
								<div class="poster__title"><a href="#">Зеленая книга<i class="icon icon-like"></i></a></div>
								<div class="panel-hidden">
									<div class="poster__place">трк планета</div>
									<div class="poster__date">21 апреля, 19:30</div>
									<div class="poster-bottom-panel">
										<div class="poster__price">1000-2400 ₽</div>
										<div class="poster-btns">
											<button class="btn-def">Купить</button>
											<button class="btn-def btn-def-transparent">Оплатить бонусами</button>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="poster-current poster-current-desktop">
					<div class="poster-current__title">
						<strong>моя афиша</strong>
						<p>Укажите что любите и получайте события на почту или телефон</p>
					</div>
					<div class="poster-current__img"><img src="img/cuurent-poster.png" alt=""></div>
					<div class="poster-current__btn">
						<a href="#" class="btn-def btn-def_white">Выбрать события</a>
					</div>
				</div>
			</div>
		</div>

		<div class="row-posters">
			<div class="heading-panel">
				<div class="heading">
					<strong>фильмы недели</strong>
				</div>
				<a href="#" class="btn-more">
					<span>Все</span>
					<span class="icon">
						<img src="img/arrow-sm-right.svg" alt="">
					</span>
				</a>
			</div>
			<div class="posters-wrapper poster-category-slider">
				<div class="item">
					<div class="poster poster-sm poster-height-md">
						<div class="poster__picture" style="background-image: url(img/poster-4.jpg)"></div>
						<div class="poster-description">
							<div class="poster__type">Концерт</div>
							<div class="poster__title"><a href="#">Пасож, новый альбом <i class="icon icon-like"></i></a></div>
							<div class="panel-hidden">
								<div class="poster__link">
									<a href="#">
										<span>Подробнее</span>
										<span class="icon">
											<svg width="20" height="15" viewBox="0 0 20 15" fill="none" xmlns="http://www.w3.org/2000/svg">
												<path d="M13.4678 0.900079C13.1953 0.625918 12.7418 0.625918 12.4598 0.900079C12.1874 1.16498 12.1874 1.60586 12.4598 1.87014L17.5707 6.839H0.705621C0.31248 6.83962 0 7.14342 0 7.52564C0 7.90786 0.31248 8.22154 0.705621 8.22154H17.5707L12.4598 13.1811C12.1874 13.4553 12.1874 13.8968 12.4598 14.1611C12.7418 14.4352 13.1959 14.4352 13.4678 14.1611L19.7885 8.01592C20.0705 7.75102 20.0705 7.31014 19.7885 7.04586L13.4678 0.900079Z" fill="#6C7583"/>
											</svg>
										</span>
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="item">
					<div class="poster poster-sm poster-height-md">
						<div class="poster__picture" style="background-image: url(img/poster-5.jpg)"></div>
						<div class="poster-description">
							<div class="poster__type">Концерт</div>
							<div class="poster__title"><a href="#">Пасож, новый альбом <i class="icon icon-like"></i></a></div>
							<div class="panel-hidden">
								<div class="poster__link">
									<a href="#">
										<span>Подробнее</span>
										<span class="icon">
											<svg width="20" height="15" viewBox="0 0 20 15" fill="none" xmlns="http://www.w3.org/2000/svg">
												<path d="M13.4678 0.900079C13.1953 0.625918 12.7418 0.625918 12.4598 0.900079C12.1874 1.16498 12.1874 1.60586 12.4598 1.87014L17.5707 6.839H0.705621C0.31248 6.83962 0 7.14342 0 7.52564C0 7.90786 0.31248 8.22154 0.705621 8.22154H17.5707L12.4598 13.1811C12.1874 13.4553 12.1874 13.8968 12.4598 14.1611C12.7418 14.4352 13.1959 14.4352 13.4678 14.1611L19.7885 8.01592C20.0705 7.75102 20.0705 7.31014 19.7885 7.04586L13.4678 0.900079Z" fill="#6C7583"/>
											</svg>
										</span>
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="item">		
					<div class="poster poster-sm poster-height-md">
						<div class="poster__picture" style="background-image: url(img/poster-6.jpg)"></div>
						<div class="poster-description">
							<div class="poster__type">Концерт</div>
							<div class="poster__title"><a href="#">Пасож, новый альбом <i class="icon icon-like"></i></a></div>
							<div class="panel-hidden">
								<div class="poster__link">
									<a href="#">
										<span>Подробнее</span>
										<span class="icon">
											<svg width="20" height="15" viewBox="0 0 20 15" fill="none" xmlns="http://www.w3.org/2000/svg">
												<path d="M13.4678 0.900079C13.1953 0.625918 12.7418 0.625918 12.4598 0.900079C12.1874 1.16498 12.1874 1.60586 12.4598 1.87014L17.5707 6.839H0.705621C0.31248 6.83962 0 7.14342 0 7.52564C0 7.90786 0.31248 8.22154 0.705621 8.22154H17.5707L12.4598 13.1811C12.1874 13.4553 12.1874 13.8968 12.4598 14.1611C12.7418 14.4352 13.1959 14.4352 13.4678 14.1611L19.7885 8.01592C20.0705 7.75102 20.0705 7.31014 19.7885 7.04586L13.4678 0.900079Z" fill="#6C7583"/>
											</svg>
										</span>
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="item">	
					<div class="poster poster-sm poster-height-md">
						<div class="poster__picture" style="background-image: url(img/poster-7.jpg)"></div>
						<div class="poster-description">
							<div class="poster__type">Концерт</div>
							<div class="poster__title"><a href="#">Пасож, новый альбом <i class="icon icon-like"></i></a></div>
							<div class="panel-hidden">
								<div class="poster__link">
									<a href="#">
										<span>Подробнее</span>
										<span class="icon">
											<svg width="20" height="15" viewBox="0 0 20 15" fill="none" xmlns="http://www.w3.org/2000/svg">
												<path d="M13.4678 0.900079C13.1953 0.625918 12.7418 0.625918 12.4598 0.900079C12.1874 1.16498 12.1874 1.60586 12.4598 1.87014L17.5707 6.839H0.705621C0.31248 6.83962 0 7.14342 0 7.52564C0 7.90786 0.31248 8.22154 0.705621 8.22154H17.5707L12.4598 13.1811C12.1874 13.4553 12.1874 13.8968 12.4598 14.1611C12.7418 14.4352 13.1959 14.4352 13.4678 14.1611L19.7885 8.01592C20.0705 7.75102 20.0705 7.31014 19.7885 7.04586L13.4678 0.900079Z" fill="#6C7583"/>
											</svg>
										</span>
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="row-posters row-posters-concert">
			<div class="heading-panel">
				<div class="heading">
					<strong>концерты</strong>
				</div>
				<a href="#" class="btn-more">
					<span>Все</span>
					<span class="icon">
						<img src="img/arrow-sm-right.svg" alt="">
					</span>
				</a>
			</div>
			<div class="posters-wrapper posters-wrapper-desktop">
				<div class="col-posters col-posters-md">
					<div class="poster poster-md poster-height-lg poster-full-width">
						<div class="poster-panel-top">
							<div class="poster__city">Уфа-Арена</div>
							<div class="poster__time">21 апреля, 19:30</div>
							<i class="icon icon-like"></i>
						</div>
						<div class="poster__picture" style="background-image: url(img/poster-8.jpg)"></div>
						<div class="poster-description">
							<div class="poster__type">Концерт</div>
							<div class="poster__title"><a href="#">Илья Авербух. 15 лет успеха</a></div>
							<div class="panel-hidden">
								<div class="poster-bottom-panel">
									<div class="poster__price">1500-6500 ₽</div>
									<div class="poster-btns">
										<button class="btn-def btn-def-transparent">Оплатить бонусами</button>
										<button class="btn-def">Купить</button>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-posters col-posters-md">
					<div class="poster poster-full-width">
						<div class="poster-panel-top">
							<div class="poster__city">ГДК Молодежный</div>
							<div class="poster__time">18 апреля, 19:30</div>
							<i class="icon icon-like"></i>
						</div>
						<div class="poster__picture" style="background-image: url(img/poster-9.jpg)"></div>
						<div class="poster-description">
							<div class="poster__type">Юмор</div>
							<div class="poster__title"><a href="#">Однажды в России</a></div>
							<div class="panel-hidden">
								<div class="poster-bottom-panel">
									<div class="poster__price">1500-6500 ₽</div>
									<div class="poster-btns">
										<button class="btn-def btn-def-transparent">Оплатить бонусами</button>
										<button class="btn-def">Купить</button>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-posters-insert">
						<div class="poster poster-sm">
							<div class="poster__picture" style="background-image: url(img/poster-10.jpg)"></div>
							<div class="poster-description">
								<div class="poster__type">Поп и эстрада</div>
								<div class="poster__title"><a href="#">Лев Лещенко<i class="icon icon-like"></i></a></div>
								<div class="panel-hidden">
									<div class="poster__link">
										<a href="#">
											<span>Подробнее</span>
											<span class="icon">
												<svg width="20" height="15" viewBox="0 0 20 15" fill="none" xmlns="http://www.w3.org/2000/svg">
													<path d="M13.4678 0.900079C13.1953 0.625918 12.7418 0.625918 12.4598 0.900079C12.1874 1.16498 12.1874 1.60586 12.4598 1.87014L17.5707 6.839H0.705621C0.31248 6.83962 0 7.14342 0 7.52564C0 7.90786 0.31248 8.22154 0.705621 8.22154H17.5707L12.4598 13.1811C12.1874 13.4553 12.1874 13.8968 12.4598 14.1611C12.7418 14.4352 13.1959 14.4352 13.4678 14.1611L19.7885 8.01592C20.0705 7.75102 20.0705 7.31014 19.7885 7.04586L13.4678 0.900079Z" fill="#6C7583"/>
												</svg>
											</span>
										</a>
									</div>
								</div>
							</div>
						</div>
						<div class="poster poster-sm">
							<div class="poster__picture" style="background-image: url(img/poster-11.jpg)"></div>
							<div class="poster-description">
								<div class="poster__type">Поп и эстрада</div>
								<div class="poster__title"><a href="#">Леонид Агутин <i class="icon icon-like"></i></a></div>
								<div class="panel-hidden">
									<div class="poster__link">
										<a href="#">
											<span>Подробнее</span>
											<span class="icon">
												<svg width="20" height="15" viewBox="0 0 20 15" fill="none" xmlns="http://www.w3.org/2000/svg">
													<path d="M13.4678 0.900079C13.1953 0.625918 12.7418 0.625918 12.4598 0.900079C12.1874 1.16498 12.1874 1.60586 12.4598 1.87014L17.5707 6.839H0.705621C0.31248 6.83962 0 7.14342 0 7.52564C0 7.90786 0.31248 8.22154 0.705621 8.22154H17.5707L12.4598 13.1811C12.1874 13.4553 12.1874 13.8968 12.4598 14.1611C12.7418 14.4352 13.1959 14.4352 13.4678 14.1611L19.7885 8.01592C20.0705 7.75102 20.0705 7.31014 19.7885 7.04586L13.4678 0.900079Z" fill="#6C7583"/>
												</svg>
											</span>
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- .slider-mobile -->
			<div class="posters-wrapper poster-category-slider poster-category-slider-mobile">
				<div class="item">
					<div class="poster">
						<div class="poster-panel-top">
							<div class="poster__city">Уфа-Арена</div>
							<div class="poster__time">21 апреля, 19:30</div>
							<i class="icon icon-like"></i>
						</div>
						<div class="poster__picture" style="background-image: url(img/poster-8.jpg)"></div>
						<div class="poster-description">
							<div class="poster__type">Концерт</div>
							<div class="poster__title"><a href="#">Илья Авербух. 15 лет успеха</a></div>
							<div class="panel-hidden">
								<div class="poster-bottom-panel">
									<div class="poster__price">1500-6500 ₽</div>
									<div class="poster-btns">
										<button class="btn-def btn-def-transparent">Оплатить бонусами</button>
										<button class="btn-def">Купить</button>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="item">
					<div class="poster">
						<div class="poster-panel-top">
							<div class="poster__city">ГДК Молодежный</div>
							<div class="poster__time">18 апреля, 19:30</div>
							<i class="icon icon-like"></i>
						</div>
						<div class="poster__picture" style="background-image: url(img/poster-9.jpg)"></div>
						<div class="poster-description">
							<div class="poster__type">Юмор</div>
							<div class="poster__title"><a href="#">Однажды в России</a></div>
							<div class="panel-hidden">
								<div class="poster-bottom-panel">
									<div class="poster__price">1500-6500 ₽</div>
									<div class="poster-btns">
										<button class="btn-def btn-def-transparent">Оплатить бонусами</button>
										<button class="btn-def">Купить</button>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="item">
					<div class="poster">
						<div class="poster__picture" style="background-image: url(img/poster-10.jpg)"></div>
						<div class="poster-description">
							<div class="poster__type">Поп и эстрада</div>
							<div class="poster__title"><a href="#">Лев Лещенко<i class="icon icon-like"></i></a></div>
							<div class="panel-hidden">
								<div class="poster__link">
									<a href="#">
										<span>Подробнее</span>
										<span class="icon">
											<svg width="20" height="15" viewBox="0 0 20 15" fill="none" xmlns="http://www.w3.org/2000/svg">
												<path d="M13.4678 0.900079C13.1953 0.625918 12.7418 0.625918 12.4598 0.900079C12.1874 1.16498 12.1874 1.60586 12.4598 1.87014L17.5707 6.839H0.705621C0.31248 6.83962 0 7.14342 0 7.52564C0 7.90786 0.31248 8.22154 0.705621 8.22154H17.5707L12.4598 13.1811C12.1874 13.4553 12.1874 13.8968 12.4598 14.1611C12.7418 14.4352 13.1959 14.4352 13.4678 14.1611L19.7885 8.01592C20.0705 7.75102 20.0705 7.31014 19.7885 7.04586L13.4678 0.900079Z" fill="#6C7583"/>
											</svg>
										</span>
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="item">
					<div class="poster">
						<div class="poster__picture" style="background-image: url(img/poster-11.jpg)"></div>
						<div class="poster-description">
							<div class="poster__type">Поп и эстрада</div>
							<div class="poster__title"><a href="#">Леонид Агутин <i class="icon icon-like"></i></a></div>
							<div class="panel-hidden">
								<div class="poster__link">
									<a href="#">
										<span>Подробнее</span>
										<span class="icon">
											<svg width="20" height="15" viewBox="0 0 20 15" fill="none" xmlns="http://www.w3.org/2000/svg">
												<path d="M13.4678 0.900079C13.1953 0.625918 12.7418 0.625918 12.4598 0.900079C12.1874 1.16498 12.1874 1.60586 12.4598 1.87014L17.5707 6.839H0.705621C0.31248 6.83962 0 7.14342 0 7.52564C0 7.90786 0.31248 8.22154 0.705621 8.22154H17.5707L12.4598 13.1811C12.1874 13.4553 12.1874 13.8968 12.4598 14.1611C12.7418 14.4352 13.1959 14.4352 13.4678 14.1611L19.7885 8.01592C20.0705 7.75102 20.0705 7.31014 19.7885 7.04586L13.4678 0.900079Z" fill="#6C7583"/>
											</svg>
										</span>
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div><!-- End .slider-mobile -->
		</div>

		<div class="row-posters">
			<div class="heading-panel">
				<div class="heading">
					<strong>Вечеринки</strong>
				</div>
				<a href="#" class="btn-more">
					<span>Все</span>
					<span class="icon">
						<img src="img/arrow-sm-right.svg" alt="">
					</span>
				</a>
			</div>
			<div class="posters-wrapper posters-wrapper-desktop">
				<div class="poster">
					<div class="poster__picture" style="background-image: url(img/poster-12.jpg)"></div>
					<div class="poster-description">
						<div class="poster__type">В ночном клубе</div>
						<div class="poster__title"><a href="#">Дыхание ночи <i class="icon icon-like"></i></a></div>
						<div class="panel-hidden">
							<div class="poster__place">трк планета</div>
							<div class="poster__date">21 апреля, 19:30</div>
							<div class="poster-bottom-panel">
								<div class="poster__price">1000-2400 ₽</div>
								<div class="poster-btns">
									<button class="btn-def">Купить</button>
									<button class="btn-def btn-def-transparent">Оплатить бонусами</button>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="poster poster-md">
					<div class="poster__picture" style="background-image: url(img/poster-13.jpg)"></div>
					<div class="poster-description">
						<div class="poster__type">На отрытом воздухе</div>
						<div class="poster__title"><a href="#">ДИСКОТЕКА .Сделано в 90-х. <i class="icon icon-like"></i></a></div>
						<div class="panel-hidden">
							<div class="poster__place">трк планета</div>
							<div class="poster__date">21 апреля, 19:30</div>
							<div class="poster-bottom-panel">
								<div class="poster__price">1000-2400 ₽</div>
								<div class="poster-btns">
									<button class="btn-def">Купить</button>
									<button class="btn-def btn-def-transparent">Оплатить бонусами</button>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="poster">
					<div class="poster__picture" style="background-image: url(img/poster-14.jpg)"></div>
					<div class="poster-description">
						<div class="poster__type">В ночном клубе</div>
						<div class="poster__title"><a href="#">Markul <i class="icon icon-like"></i></a></div>
						<div class="panel-hidden">
							<div class="poster__place">трк планета</div>
							<div class="poster__date">21 апреля, 19:30</div>
							<div class="poster-bottom-panel">
								<div class="poster__price">1000-2400 ₽</div>
								<div class="poster-btns">
									<button class="btn-def">Купить</button>
									<button class="btn-def btn-def-transparent">Оплатить бонусами</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- .slider-mobile -->
			<div class="posters-wrapper poster-category-slider poster-category-slider-mobile">
				<div class="item">
					<div class="poster">
						<div class="poster__picture" style="background-image: url(img/poster-12.jpg)"></div>
						<div class="poster-description">
							<div class="poster__type">В ночном клубе</div>
							<div class="poster__title"><a href="#">Дыхание ночи <i class="icon icon-like"></i></a></div>
							<div class="panel-hidden">
								<div class="poster__place">трк планета</div>
								<div class="poster__date">21 апреля, 19:30</div>
								<div class="poster-bottom-panel">
									<div class="poster__price">1000-2400 ₽</div>
									<div class="poster-btns">
										<button class="btn-def">Купить</button>
										<button class="btn-def btn-def-transparent">Оплатить бонусами</button>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="item">
					<div class="poster">
						<div class="poster__picture" style="background-image: url(img/poster-13.jpg)"></div>
						<div class="poster-description">
							<div class="poster__type">На отрытом воздухе</div>
							<div class="poster__title"><a href="#">ДИСКОТЕКА .Сделано в 90-х. <i class="icon icon-like"></i></a></div>
							<div class="panel-hidden">
								<div class="poster__place">трк планета</div>
								<div class="poster__date">21 апреля, 19:30</div>
								<div class="poster-bottom-panel">
									<div class="poster__price">1000-2400 ₽</div>
									<div class="poster-btns">
										<button class="btn-def">Купить</button>
										<button class="btn-def btn-def-transparent">Оплатить бонусами</button>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="item">
					<div class="poster">
						<div class="poster__picture" style="background-image: url(img/poster-14.jpg)"></div>
						<div class="poster-description">
							<div class="poster__type">В ночном клубе</div>
							<div class="poster__title"><a href="#">Markul <i class="icon icon-like"></i></a></div>
							<div class="panel-hidden">
								<div class="poster__place">трк планета</div>
								<div class="poster__date">21 апреля, 19:30</div>
								<div class="poster-bottom-panel">
									<div class="poster__price">1000-2400 ₽</div>
									<div class="poster-btns">
										<button class="btn-def">Купить</button>
										<button class="btn-def btn-def-transparent">Оплатить бонусами</button>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div><!-- End .slider-mobile -->
		</div>

		<div class="row-posters row-posters-theaters">
			<div class="heading-panel">
				<div class="heading">
					<strong>театрЫ</strong>
				</div>
				<a href="#" class="btn-more">
					<span>Все</span>
					<span class="icon">
						<img src="img/arrow-sm-right.svg" alt="">
					</span>
				</a>
			</div>
			<div class="posters-wrapper posters-wrapper-desktop">
				<div class="col-posters col-posters-md">
					<div class="poster poster-full-width">
						<div class="poster-panel-top">
							<div class="poster__city">ГДК Молодежный</div>
							<div class="poster__time">18 апреля, 19:30</div>
							<i class="icon icon-like"></i>
						</div>
						<div class="poster__picture" style="background-image: url(img/poster-15.jpg)"></div>
						<div class="poster-description">
							<div class="poster__type">Трагедия</div>
							<div class="poster__title"><a href="#">Преступление и наказание</a></div>
							<div class="panel-hidden">
								<div class="poster-bottom-panel">
									<div class="poster__price">1500-6500 ₽</div>
									<div class="poster-btns">
										<button class="btn-def btn-def-transparent">Оплатить бонусами</button>
										<button class="btn-def">Купить</button>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-posters-insert">
						<div class="poster poster-sm">
							<div class="poster__picture" style="background-image: url(img/poster-16.jpg)"></div>
							<div class="poster-description">
								<div class="poster__type">Драмма</div>
								<div class="poster__title"><a href="#">Он вернулся<i class="icon icon-like"></i></a></div>
								<div class="panel-hidden">
									<div class="poster__link">
										<a href="#">
											<span>Подробнее</span>
											<span class="icon">
												<svg width="20" height="15" viewBox="0 0 20 15" fill="none" xmlns="http://www.w3.org/2000/svg">
													<path d="M13.4678 0.900079C13.1953 0.625918 12.7418 0.625918 12.4598 0.900079C12.1874 1.16498 12.1874 1.60586 12.4598 1.87014L17.5707 6.839H0.705621C0.31248 6.83962 0 7.14342 0 7.52564C0 7.90786 0.31248 8.22154 0.705621 8.22154H17.5707L12.4598 13.1811C12.1874 13.4553 12.1874 13.8968 12.4598 14.1611C12.7418 14.4352 13.1959 14.4352 13.4678 14.1611L19.7885 8.01592C20.0705 7.75102 20.0705 7.31014 19.7885 7.04586L13.4678 0.900079Z" fill="#6C7583"/>
												</svg>
											</span>
										</a>
									</div>
								</div>
							</div>
						</div>
						<div class="poster poster-sm">
							<div class="poster__picture" style="background-image: url(img/poster-17.jpg)"></div>
							<div class="poster-description">
								<div class="poster__type">Комедия</div>
								<div class="poster__title"><a href="#">Гарнир по-французски <i class="icon icon-like"></i></a></div>
								<div class="panel-hidden">
									<div class="poster__link">
										<a href="#">
											<span>Подробнее</span>
											<span class="icon">
												<svg width="20" height="15" viewBox="0 0 20 15" fill="none" xmlns="http://www.w3.org/2000/svg">
													<path d="M13.4678 0.900079C13.1953 0.625918 12.7418 0.625918 12.4598 0.900079C12.1874 1.16498 12.1874 1.60586 12.4598 1.87014L17.5707 6.839H0.705621C0.31248 6.83962 0 7.14342 0 7.52564C0 7.90786 0.31248 8.22154 0.705621 8.22154H17.5707L12.4598 13.1811C12.1874 13.4553 12.1874 13.8968 12.4598 14.1611C12.7418 14.4352 13.1959 14.4352 13.4678 14.1611L19.7885 8.01592C20.0705 7.75102 20.0705 7.31014 19.7885 7.04586L13.4678 0.900079Z" fill="#6C7583"/>
												</svg>
											</span>
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-posters col-posters-md">
					<div class="poster poster-full-width">
						<div class="poster-panel-top">
							<div class="poster__city">ГДК Молодежный</div>
							<div class="poster__time">18 апреля, 19:30</div>
							<i class="icon icon-like"></i>
						</div>
						<div class="poster__picture" style="background-image: url(img/poster-18.jpg)"></div>
						<div class="poster-description">
							<div class="poster__type">Комедия</div>
							<div class="poster__title"><a href="#">Палата бизнес-класса</a></div>
							<div class="panel-hidden">
								<div class="poster-bottom-panel">
									<div class="poster__price">1500-6500 ₽</div>
									<div class="poster-btns">
										<button class="btn-def btn-def-transparent">Оплатить бонусами</button>
										<button class="btn-def">Купить</button>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-posters-insert">
						<div class="poster poster-sm">
							<div class="poster__picture" style="background-image: url(img/poster-19.jpg)"></div>
							<div class="poster-description">
								<div class="poster__type">Комедия</div>
								<div class="poster__title"><a href="#">Радость нашего дома<i class="icon icon-like"></i></a></div>
								<div class="panel-hidden">
									<div class="poster__link">
										<a href="#">
											<span>Подробнее</span>
											<span class="icon">
												<svg width="20" height="15" viewBox="0 0 20 15" fill="none" xmlns="http://www.w3.org/2000/svg">
													<path d="M13.4678 0.900079C13.1953 0.625918 12.7418 0.625918 12.4598 0.900079C12.1874 1.16498 12.1874 1.60586 12.4598 1.87014L17.5707 6.839H0.705621C0.31248 6.83962 0 7.14342 0 7.52564C0 7.90786 0.31248 8.22154 0.705621 8.22154H17.5707L12.4598 13.1811C12.1874 13.4553 12.1874 13.8968 12.4598 14.1611C12.7418 14.4352 13.1959 14.4352 13.4678 14.1611L19.7885 8.01592C20.0705 7.75102 20.0705 7.31014 19.7885 7.04586L13.4678 0.900079Z" fill="#6C7583"/>
												</svg>
											</span>
										</a>
									</div>
								</div>
							</div>
						</div>
						<div class="poster poster-sm">
							<div class="poster__picture" style="background-image: url(img/poster-20.jpg)"></div>
							<div class="poster-description">
								<div class="poster__type">Поп и эстрада</div>
								<div class="poster__title"><a href="#">Леонид Агутин <i class="icon icon-like"></i></a></div>
								<div class="panel-hidden">
									<div class="poster__link">
										<a href="#">
											<span>Подробнее</span>
											<span class="icon">
												<svg width="20" height="15" viewBox="0 0 20 15" fill="none" xmlns="http://www.w3.org/2000/svg">
													<path d="M13.4678 0.900079C13.1953 0.625918 12.7418 0.625918 12.4598 0.900079C12.1874 1.16498 12.1874 1.60586 12.4598 1.87014L17.5707 6.839H0.705621C0.31248 6.83962 0 7.14342 0 7.52564C0 7.90786 0.31248 8.22154 0.705621 8.22154H17.5707L12.4598 13.1811C12.1874 13.4553 12.1874 13.8968 12.4598 14.1611C12.7418 14.4352 13.1959 14.4352 13.4678 14.1611L19.7885 8.01592C20.0705 7.75102 20.0705 7.31014 19.7885 7.04586L13.4678 0.900079Z" fill="#6C7583"/>
												</svg>
											</span>
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="posters-wrapper poster-category-slider poster-category-slider-mobile">
				<div class="item">
					<div class="poster">
						<div class="poster-panel-top">
							<div class="poster__city">ГДК Молодежный</div>
							<div class="poster__time">18 апреля, 19:30</div>
							<i class="icon icon-like"></i>
						</div>
						<div class="poster__picture" style="background-image: url(img/poster-15.jpg)"></div>
						<div class="poster-description">
							<div class="poster__type">Трагедия</div>
							<div class="poster__title"><a href="#">Преступление и наказание</a></div>
							<div class="panel-hidden">
								<div class="poster-bottom-panel">
									<div class="poster__price">1500-6500 ₽</div>
									<div class="poster-btns">
										<button class="btn-def btn-def-transparent">Оплатить бонусами</button>
										<button class="btn-def">Купить</button>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="item">
					<div class="poster">
						<div class="poster__picture" style="background-image: url(img/poster-16.jpg)"></div>
						<div class="poster-description">
							<div class="poster__type">Драмма</div>
							<div class="poster__title"><a href="#">Он вернулся<i class="icon icon-like"></i></a></div>
							<div class="panel-hidden">
								<div class="poster__link">
									<a href="#">
										<span>Подробнее</span>
										<span class="icon">
											<svg width="20" height="15" viewBox="0 0 20 15" fill="none" xmlns="http://www.w3.org/2000/svg">
												<path d="M13.4678 0.900079C13.1953 0.625918 12.7418 0.625918 12.4598 0.900079C12.1874 1.16498 12.1874 1.60586 12.4598 1.87014L17.5707 6.839H0.705621C0.31248 6.83962 0 7.14342 0 7.52564C0 7.90786 0.31248 8.22154 0.705621 8.22154H17.5707L12.4598 13.1811C12.1874 13.4553 12.1874 13.8968 12.4598 14.1611C12.7418 14.4352 13.1959 14.4352 13.4678 14.1611L19.7885 8.01592C20.0705 7.75102 20.0705 7.31014 19.7885 7.04586L13.4678 0.900079Z" fill="#6C7583"/>
											</svg>
										</span>
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="item">
					<div class="poster">
						<div class="poster__picture" style="background-image: url(img/poster-17.jpg)"></div>
						<div class="poster-description">
							<div class="poster__type">Комедия</div>
							<div class="poster__title"><a href="#">Гарнир по-французски <i class="icon icon-like"></i></a></div>
							<div class="panel-hidden">
								<div class="poster__link">
									<a href="#">
										<span>Подробнее</span>
										<span class="icon">
											<svg width="20" height="15" viewBox="0 0 20 15" fill="none" xmlns="http://www.w3.org/2000/svg">
												<path d="M13.4678 0.900079C13.1953 0.625918 12.7418 0.625918 12.4598 0.900079C12.1874 1.16498 12.1874 1.60586 12.4598 1.87014L17.5707 6.839H0.705621C0.31248 6.83962 0 7.14342 0 7.52564C0 7.90786 0.31248 8.22154 0.705621 8.22154H17.5707L12.4598 13.1811C12.1874 13.4553 12.1874 13.8968 12.4598 14.1611C12.7418 14.4352 13.1959 14.4352 13.4678 14.1611L19.7885 8.01592C20.0705 7.75102 20.0705 7.31014 19.7885 7.04586L13.4678 0.900079Z" fill="#6C7583"/>
											</svg>
										</span>
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="item">
					<div class="poster">
						<div class="poster-panel-top">
							<div class="poster__city">ГДК Молодежный</div>
							<div class="poster__time">18 апреля, 19:30</div>
							<i class="icon icon-like"></i>
						</div>
						<div class="poster__picture" style="background-image: url(img/poster-18.jpg)"></div>
						<div class="poster-description">
							<div class="poster__type">Комедия</div>
							<div class="poster__title"><a href="#">Палата бизнес-класса</a></div>
							<div class="panel-hidden">
								<div class="poster-bottom-panel">
									<div class="poster__price">1500-6500 ₽</div>
									<div class="poster-btns">
										<button class="btn-def btn-def-transparent">Оплатить бонусами</button>
										<button class="btn-def">Купить</button>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="item">
					<div class="poster">
						<div class="poster__picture" style="background-image: url(img/poster-19.jpg)"></div>
						<div class="poster-description">
							<div class="poster__type">Комедия</div>
							<div class="poster__title"><a href="#">Радость нашего дома<i class="icon icon-like"></i></a></div>
							<div class="panel-hidden">
								<div class="poster__link">
									<a href="#">
										<span>Подробнее</span>
										<span class="icon">
											<svg width="20" height="15" viewBox="0 0 20 15" fill="none" xmlns="http://www.w3.org/2000/svg">
												<path d="M13.4678 0.900079C13.1953 0.625918 12.7418 0.625918 12.4598 0.900079C12.1874 1.16498 12.1874 1.60586 12.4598 1.87014L17.5707 6.839H0.705621C0.31248 6.83962 0 7.14342 0 7.52564C0 7.90786 0.31248 8.22154 0.705621 8.22154H17.5707L12.4598 13.1811C12.1874 13.4553 12.1874 13.8968 12.4598 14.1611C12.7418 14.4352 13.1959 14.4352 13.4678 14.1611L19.7885 8.01592C20.0705 7.75102 20.0705 7.31014 19.7885 7.04586L13.4678 0.900079Z" fill="#6C7583"/>
											</svg>
										</span>
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="item">
					<div class="poster">
						<div class="poster__picture" style="background-image: url(img/poster-20.jpg)"></div>
						<div class="poster-description">
							<div class="poster__type">Поп и эстрада</div>
							<div class="poster__title"><a href="#">Леонид Агутин <i class="icon icon-like"></i></a></div>
							<div class="panel-hidden">
								<div class="poster__link">
									<a href="#">
										<span>Подробнее</span>
										<span class="icon">
											<svg width="20" height="15" viewBox="0 0 20 15" fill="none" xmlns="http://www.w3.org/2000/svg">
												<path d="M13.4678 0.900079C13.1953 0.625918 12.7418 0.625918 12.4598 0.900079C12.1874 1.16498 12.1874 1.60586 12.4598 1.87014L17.5707 6.839H0.705621C0.31248 6.83962 0 7.14342 0 7.52564C0 7.90786 0.31248 8.22154 0.705621 8.22154H17.5707L12.4598 13.1811C12.1874 13.4553 12.1874 13.8968 12.4598 14.1611C12.7418 14.4352 13.1959 14.4352 13.4678 14.1611L19.7885 8.01592C20.0705 7.75102 20.0705 7.31014 19.7885 7.04586L13.4678 0.900079Z" fill="#6C7583"/>
											</svg>
										</span>
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="row-posters">
			<div class="heading-panel">
				<div class="heading">
					<strong>Детям</strong>
				</div>
				<a href="#" class="btn-more">
					<span>Все</span>
					<span class="icon">
						<img src="img/arrow-sm-right.svg" alt="">
					</span>
				</a>
			</div>
			<div class="posters-wrapper poster-category-slider">
				<div class="item">
					<div class="poster">
						<div class="poster__picture" style="background-image: url(img/poster-21.jpg)"></div>
						<div class="poster-description">
							<div class="poster__type">Спектакль</div>
							<div class="poster__title"><a href="#">Оранжевый ежик<i class="icon icon-like"></i></a></div>
							<div class="panel-hidden">
								<div class="poster__link">
									<a href="#">
										<span>Подробнее</span>
										<span class="icon">
											<svg width="20" height="15" viewBox="0 0 20 15" fill="none" xmlns="http://www.w3.org/2000/svg">
												<path d="M13.4678 0.900079C13.1953 0.625918 12.7418 0.625918 12.4598 0.900079C12.1874 1.16498 12.1874 1.60586 12.4598 1.87014L17.5707 6.839H0.705621C0.31248 6.83962 0 7.14342 0 7.52564C0 7.90786 0.31248 8.22154 0.705621 8.22154H17.5707L12.4598 13.1811C12.1874 13.4553 12.1874 13.8968 12.4598 14.1611C12.7418 14.4352 13.1959 14.4352 13.4678 14.1611L19.7885 8.01592C20.0705 7.75102 20.0705 7.31014 19.7885 7.04586L13.4678 0.900079Z" fill="#6C7583"/>
											</svg>
										</span>
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="item">
					<div class="poster">
						<div class="poster__picture" style="background-image: url(img/poster-22.jpg)"></div>
						<div class="poster-description">
							<div class="poster__type">Выставка</div>
							<div class="poster__title"><a href="#">Россия – моя история. 1945–2016 <i class="icon icon-like"></i></a></div>
							<div class="panel-hidden">
								<div class="poster__link">
									<a href="#">
										<span>Подробнее</span>
										<span class="icon">
											<svg width="20" height="15" viewBox="0 0 20 15" fill="none" xmlns="http://www.w3.org/2000/svg">
												<path d="M13.4678 0.900079C13.1953 0.625918 12.7418 0.625918 12.4598 0.900079C12.1874 1.16498 12.1874 1.60586 12.4598 1.87014L17.5707 6.839H0.705621C0.31248 6.83962 0 7.14342 0 7.52564C0 7.90786 0.31248 8.22154 0.705621 8.22154H17.5707L12.4598 13.1811C12.1874 13.4553 12.1874 13.8968 12.4598 14.1611C12.7418 14.4352 13.1959 14.4352 13.4678 14.1611L19.7885 8.01592C20.0705 7.75102 20.0705 7.31014 19.7885 7.04586L13.4678 0.900079Z" fill="#6C7583"/>
											</svg>
										</span>
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="item">
					<div class="poster">
						<div class="poster__picture" style="background-image: url(img/poster-23.jpg)"></div>
						<div class="poster-description">
							<div class="poster__type">Спектакль</div>
							<div class="poster__title"><a href="#">Буратино<i class="icon icon-like"></i></a></div>
							<div class="panel-hidden">
								<div class="poster__link">
									<a href="#">
										<span>Подробнее</span>
										<span class="icon">
											<svg width="20" height="15" viewBox="0 0 20 15" fill="none" xmlns="http://www.w3.org/2000/svg">
												<path d="M13.4678 0.900079C13.1953 0.625918 12.7418 0.625918 12.4598 0.900079C12.1874 1.16498 12.1874 1.60586 12.4598 1.87014L17.5707 6.839H0.705621C0.31248 6.83962 0 7.14342 0 7.52564C0 7.90786 0.31248 8.22154 0.705621 8.22154H17.5707L12.4598 13.1811C12.1874 13.4553 12.1874 13.8968 12.4598 14.1611C12.7418 14.4352 13.1959 14.4352 13.4678 14.1611L19.7885 8.01592C20.0705 7.75102 20.0705 7.31014 19.7885 7.04586L13.4678 0.900079Z" fill="#6C7583"/>
											</svg>
										</span>
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="item">
					<div class="poster">
						<div class="poster__picture" style="background-image: url(img/poster-24.jpg)"></div>
						<div class="poster-description">
							<div class="poster__type">Спектакль</div>
							<div class="poster__title"><a href="#">Хрустальная туфелька, или Сказка о Золушке  <i class="icon icon-like"></i></a></div>
							<div class="panel-hidden">
								<div class="poster__link">
									<a href="#">
										<span>Подробнее</span>
										<span class="icon">
											<svg width="20" height="15" viewBox="0 0 20 15" fill="none" xmlns="http://www.w3.org/2000/svg">
												<path d="M13.4678 0.900079C13.1953 0.625918 12.7418 0.625918 12.4598 0.900079C12.1874 1.16498 12.1874 1.60586 12.4598 1.87014L17.5707 6.839H0.705621C0.31248 6.83962 0 7.14342 0 7.52564C0 7.90786 0.31248 8.22154 0.705621 8.22154H17.5707L12.4598 13.1811C12.1874 13.4553 12.1874 13.8968 12.4598 14.1611C12.7418 14.4352 13.1959 14.4352 13.4678 14.1611L19.7885 8.01592C20.0705 7.75102 20.0705 7.31014 19.7885 7.04586L13.4678 0.900079Z" fill="#6C7583"/>
											</svg>
										</span>
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="row-posters posters-wrapper-desktop row-posters-concert">
			<div class="heading-panel">
				<div class="heading">
					<strong>Инновации и тренды</strong>
				</div>
				<a href="#" class="btn-more">
					<span>Все</span>
					<span class="icon">
						<img src="img/arrow-sm-right.svg" alt="">
					</span>
				</a>
			</div>
			<div class="posters-wrapper">
				<div class="col-posters col-posters-md">
					<div class="poster poster-md poster-height-lg poster-full-width">
						<div class="poster-panel-top">
							<div class="poster__city">Уфа-Арена</div>
							<div class="poster__time">21 апреля, 19:30</div>
							<i class="icon icon-like"></i>
						</div>
						<div class="poster__picture" style="background-image: url(img/poster-25.jpg)"></div>
						<div class="poster-description">
							<div class="poster__type">Инновации и тренды</div>
							<div class="poster__title"><a href="#">Synergy Global Forum 2019</a></div>
							<div class="panel-hidden">
								<div class="poster-bottom-panel">
									<div class="poster__price">1500-6500 ₽</div>
									<div class="poster-btns">
										<button class="btn-def btn-def-transparent">Оплатить бонусами</button>
										<button class="btn-def">Купить</button>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-posters col-posters-md">
					<div class="poster poster-full-width">
						<div class="poster-panel-top">
							<div class="poster__city">ГДК Молодежный</div>
							<div class="poster__time">18 апреля, 19:30</div>
							<i class="icon icon-like"></i>
						</div>
						<div class="poster__picture" style="background-image: url(img/poster-26.jpg)"></div>
						<div class="poster-description">
							<div class="poster__type">Инновации и тренды</div>
							<div class="poster__title"><a href="#">Amoconf 2019</a></div>
							<div class="panel-hidden">
								<div class="poster-bottom-panel">
									<div class="poster__price">1500-6500 ₽</div>
									<div class="poster-btns">
										<button class="btn-def btn-def-transparent">Оплатить бонусами</button>
										<button class="btn-def">Купить</button>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-posters-insert">
						<div class="poster poster-sm">
							<div class="poster__picture" style="background-image: url(img/poster-27.jpg)"></div>
							<div class="poster-description">
								<div class="poster__type">IT, технологии</div>
								<div class="poster__title"><a href="#">AI Conference 2019<i class="icon icon-like"></i></a></div>
								<div class="panel-hidden">
									<div class="poster__link">
										<a href="#">
											<span>Подробнее</span>
											<span class="icon">
												<svg width="20" height="15" viewBox="0 0 20 15" fill="none" xmlns="http://www.w3.org/2000/svg">
													<path d="M13.4678 0.900079C13.1953 0.625918 12.7418 0.625918 12.4598 0.900079C12.1874 1.16498 12.1874 1.60586 12.4598 1.87014L17.5707 6.839H0.705621C0.31248 6.83962 0 7.14342 0 7.52564C0 7.90786 0.31248 8.22154 0.705621 8.22154H17.5707L12.4598 13.1811C12.1874 13.4553 12.1874 13.8968 12.4598 14.1611C12.7418 14.4352 13.1959 14.4352 13.4678 14.1611L19.7885 8.01592C20.0705 7.75102 20.0705 7.31014 19.7885 7.04586L13.4678 0.900079Z" fill="#6C7583"/>
												</svg>
											</span>
										</a>
									</div>
								</div>
							</div>
						</div>
						<div class="poster poster-sm">
							<div class="poster__picture" style="background-image: url(img/poster-28.jpg)"></div>
							<div class="poster-description">
								<div class="poster__type">Инновации и тренды</div>
								<div class="poster__title">
									<a href="#">
										6-й Международный ПЛАС-Форум "Online & Offline Retail 2019"
										<i class="icon icon-like"></i>
									</a>
								</div>
								<div class="panel-hidden">
									<div class="poster__link">
										<a href="#">
											<span>Подробнее</span>
											<span class="icon">
												<svg width="20" height="15" viewBox="0 0 20 15" fill="none" xmlns="http://www.w3.org/2000/svg">
													<path d="M13.4678 0.900079C13.1953 0.625918 12.7418 0.625918 12.4598 0.900079C12.1874 1.16498 12.1874 1.60586 12.4598 1.87014L17.5707 6.839H0.705621C0.31248 6.83962 0 7.14342 0 7.52564C0 7.90786 0.31248 8.22154 0.705621 8.22154H17.5707L12.4598 13.1811C12.1874 13.4553 12.1874 13.8968 12.4598 14.1611C12.7418 14.4352 13.1959 14.4352 13.4678 14.1611L19.7885 8.01592C20.0705 7.75102 20.0705 7.31014 19.7885 7.04586L13.4678 0.900079Z" fill="#6C7583"/>
												</svg>
											</span>
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="posters-wrapper poster-category-slider poster-category-slider-mobile">
				<div class="item">
					<div class="poster">
						<div class="poster-panel-top">
							<div class="poster__city">Уфа-Арена</div>
							<div class="poster__time">21 апреля, 19:30</div>
							<i class="icon icon-like"></i>
						</div>
						<div class="poster__picture" style="background-image: url(img/poster-25.jpg)"></div>
						<div class="poster-description">
							<div class="poster__type">Инновации и тренды</div>
							<div class="poster__title"><a href="#">Synergy Global Forum 2019</a></div>
							<div class="panel-hidden">
								<div class="poster-bottom-panel">
									<div class="poster__price">1500-6500 ₽</div>
									<div class="poster-btns">
										<button class="btn-def btn-def-transparent">Оплатить бонусами</button>
										<button class="btn-def">Купить</button>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="item">
					<div class="poster">
						<div class="poster-panel-top">
							<div class="poster__city">ГДК Молодежный</div>
							<div class="poster__time">18 апреля, 19:30</div>
							<i class="icon icon-like"></i>
						</div>
						<div class="poster__picture" style="background-image: url(img/poster-26.jpg)"></div>
						<div class="poster-description">
							<div class="poster__type">Инновации и тренды</div>
							<div class="poster__title"><a href="#">Amoconf 2019</a></div>
							<div class="panel-hidden">
								<div class="poster-bottom-panel">
									<div class="poster__price">1500-6500 ₽</div>
									<div class="poster-btns">
										<button class="btn-def btn-def-transparent">Оплатить бонусами</button>
										<button class="btn-def">Купить</button>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="item">
					<div class="poster">
						<div class="poster__picture" style="background-image: url(img/poster-27.jpg)"></div>
						<div class="poster-description">
							<div class="poster__type">IT, технологии</div>
							<div class="poster__title"><a href="#">AI Conference 2019<i class="icon icon-like"></i></a></div>
							<div class="panel-hidden">
								<div class="poster__link">
									<a href="#">
										<span>Подробнее</span>
										<span class="icon">
											<svg width="20" height="15" viewBox="0 0 20 15" fill="none" xmlns="http://www.w3.org/2000/svg">
												<path d="M13.4678 0.900079C13.1953 0.625918 12.7418 0.625918 12.4598 0.900079C12.1874 1.16498 12.1874 1.60586 12.4598 1.87014L17.5707 6.839H0.705621C0.31248 6.83962 0 7.14342 0 7.52564C0 7.90786 0.31248 8.22154 0.705621 8.22154H17.5707L12.4598 13.1811C12.1874 13.4553 12.1874 13.8968 12.4598 14.1611C12.7418 14.4352 13.1959 14.4352 13.4678 14.1611L19.7885 8.01592C20.0705 7.75102 20.0705 7.31014 19.7885 7.04586L13.4678 0.900079Z" fill="#6C7583"/>
											</svg>
										</span>
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="item">
					<div class="poster">
						<div class="poster__picture" style="background-image: url(img/poster-28.jpg)"></div>
						<div class="poster-description">
							<div class="poster__type">Инновации и тренды</div>
							<div class="poster__title">
								<a href="#">
									6-й Международный ПЛАС-Форум "Online & Offline Retail 2019"
									<i class="icon icon-like"></i>
								</a>
							</div>
							<div class="panel-hidden">
								<div class="poster__link">
									<a href="#">
										<span>Подробнее</span>
										<span class="icon">
											<svg width="20" height="15" viewBox="0 0 20 15" fill="none" xmlns="http://www.w3.org/2000/svg">
												<path d="M13.4678 0.900079C13.1953 0.625918 12.7418 0.625918 12.4598 0.900079C12.1874 1.16498 12.1874 1.60586 12.4598 1.87014L17.5707 6.839H0.705621C0.31248 6.83962 0 7.14342 0 7.52564C0 7.90786 0.31248 8.22154 0.705621 8.22154H17.5707L12.4598 13.1811C12.1874 13.4553 12.1874 13.8968 12.4598 14.1611C12.7418 14.4352 13.1959 14.4352 13.4678 14.1611L19.7885 8.01592C20.0705 7.75102 20.0705 7.31014 19.7885 7.04586L13.4678 0.900079Z" fill="#6C7583"/>
											</svg>
										</span>
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="row-posters">
			<div class="heading-panel">
				<div class="heading">
					<strong>Спортивные события</strong>
				</div>
				<a href="#" class="btn-more">
					<span>Все</span>
					<span class="icon">
						<img src="img/arrow-sm-right.svg" alt="">
					</span>
				</a>
			</div>
			<div class="posters-wrapper posters-wrapper-desktop">
				<div class="poster">
					<div class="poster__picture" style="background-image: url(img/poster-29.jpg)"></div>
					<div class="poster-description">
						<div class="poster__type">Киберспорт</div>
						<div class="poster__title"><a href="#">Epicenter Major<i class="icon icon-like"></i></a></div>
						<div class="panel-hidden">
							<div class="poster__place">трк планета</div>
							<div class="poster__date">21 апреля, 19:30</div>
							<div class="poster-bottom-panel">
								<div class="poster__price">1000-2400 ₽</div>
								<div class="poster-btns">
									<button class="btn-def">Купить</button>
									<button class="btn-def btn-def-transparent">Оплатить бонусами</button>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="poster poster-md">
					<div class="poster__picture" style="background-image: url(img/poster-30.jpg)"></div>
					<div class="poster-description">
						<div class="poster__type">Бои (UFC/MMA/БОКС)</div>
						<div class="poster__title"><a href="#">ACA 95<i class="icon icon-like"></i></a></div>
						<div class="panel-hidden">
							<div class="poster__place">трк планета</div>
							<div class="poster__date">21 апреля, 19:30</div>
							<div class="poster-bottom-panel">
								<div class="poster__price">1000-2400 ₽</div>
								<div class="poster-btns">
									<button class="btn-def">Купить</button>
									<button class="btn-def btn-def-transparent">Оплатить бонусами</button>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="poster">
					<div class="poster__picture" style="background-image: url(img/poster-31.jpg)"></div>
					<div class="poster-description">
						<div class="poster__type">Футбол</div>
						<div class="poster__title"><a href="#">ЦСКА — Оренбург<i class="icon icon-like"></i></a></div>
						<div class="panel-hidden">
							<div class="poster__place">трк планета</div>
							<div class="poster__date">21 апреля, 19:30</div>
							<div class="poster-bottom-panel">
								<div class="poster__price">1000-2400 ₽</div>
								<div class="poster-btns">
									<button class="btn-def">Купить</button>
									<button class="btn-def btn-def-transparent">Оплатить бонусами</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- .slider-mobile --> 
			<div class="posters-wrapper poster-category-slider poster-category-slider-mobile">
				<div class="item">
					<div class="poster">
						<div class="poster__picture" style="background-image: url(img/poster-29.jpg)"></div>
						<div class="poster-description">
							<div class="poster__type">Киберспорт</div>
							<div class="poster__title"><a href="#">Epicenter Major<i class="icon icon-like"></i></a></div>
							<div class="panel-hidden">
								<div class="poster__place">трк планета</div>
								<div class="poster__date">21 апреля, 19:30</div>
								<div class="poster-bottom-panel">
									<div class="poster__price">1000-2400 ₽</div>
									<div class="poster-btns">
										<button class="btn-def">Купить</button>
										<button class="btn-def btn-def-transparent">Оплатить бонусами</button>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="item">
					<div class="poster">
						<div class="poster__picture" style="background-image: url(img/poster-30.jpg)"></div>
						<div class="poster-description">
							<div class="poster__type">Бои (UFC/MMA/БОКС)</div>
							<div class="poster__title"><a href="#">ACA 95<i class="icon icon-like"></i></a></div>
							<div class="panel-hidden">
								<div class="poster__place">трк планета</div>
								<div class="poster__date">21 апреля, 19:30</div>
								<div class="poster-bottom-panel">
									<div class="poster__price">1000-2400 ₽</div>
									<div class="poster-btns">
										<button class="btn-def">Купить</button>
										<button class="btn-def btn-def-transparent">Оплатить бонусами</button>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="item">
					<div class="poster">
						<div class="poster__picture" style="background-image: url(img/poster-31.jpg)"></div>
						<div class="poster-description">
							<div class="poster__type">Футбол</div>
							<div class="poster__title"><a href="#">ЦСКА — Оренбург<i class="icon icon-like"></i></a></div>
							<div class="panel-hidden">
								<div class="poster__place">трк планета</div>
								<div class="poster__date">21 апреля, 19:30</div>
								<div class="poster-bottom-panel">
									<div class="poster__price">1000-2400 ₽</div>
									<div class="poster-btns">
										<button class="btn-def">Купить</button>
										<button class="btn-def btn-def-transparent">Оплатить бонусами</button>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div><!-- End .slider-mobile -->
		</div>

		<div class="row-posters row-posters-activities">
			<div class="heading-panel">
				<div class="heading">
					<strong>активный отдых</strong>
				</div>
				<a href="#" class="btn-more">
					<span>Все</span>
					<span class="icon">
						<img src="img/arrow-sm-right.svg" alt="">
					</span>
				</a>
			</div>
			<div class="posters-wrapper posters-wrapper-desktop">
				<div class="col-posters col-posters-sm">
					<div class="poster poster-sm-height">
						<div class="poster__picture" style="background-image: url(img/poster-32.jpg)"></div>
						<div class="poster-description">
							<div class="poster__type">Скалодром</div>
							<div class="poster__title"><a href="#">Кубок мира по скалолазанию<i class="icon icon-like"></i></a></div>
							<div class="panel-hidden">
								<div class="poster__place">трк планета</div>
								<div class="poster__date">21 апреля, 19:30</div>
								<div class="poster-bottom-panel">
									<div class="poster__price">1000-2400 ₽</div>
									<div class="poster-btns">
										<button class="btn-def">Купить</button>
										<button class="btn-def btn-def-transparent">Оплатить бонусами</button>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-posters col-posters-md">
					<div class="poster poster-full-width">
						<div class="poster-panel-top">
							<div class="poster__city">ГДК Молодежный</div>
							<div class="poster__time">18 апреля, 19:30</div>
							<i class="icon icon-like"></i>
						</div>
						<div class="poster__picture" style="background-image: url(img/poster-33.jpg)"></div>
						<div class="poster-description">
							<div class="poster__type">Другое</div>
							<div class="poster__title"><a href="#">Арена виртуальной реальности Another World</a></div>
							<div class="panel-hidden">
								<div class="poster-bottom-panel">
									<div class="poster__price">1500-6500 ₽</div>
									<div class="poster-btns">
										<button class="btn-def btn-def-transparent">Оплатить бонусами</button>
										<button class="btn-def">Купить</button>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="poster poster-full-width">
						<div class="poster-panel-top">
							<div class="poster__city">ГДК Молодежный</div>
							<div class="poster__time">18 апреля, 19:30</div>
							<i class="icon icon-like"></i>
						</div>
						<div class="poster__picture" style="background-image: url(img/poster-34.jpg)"></div>
						<div class="poster-description">
							<div class="poster__type">Бассейн</div>
							<div class="poster__title"><a href="#">Акция «Вместе веселее» в бассейне под открытым небом «Чайка»</a></div>
							<div class="panel-hidden">
								<div class="poster-bottom-panel">
									<div class="poster__price">1500-6500 ₽</div>
									<div class="poster-btns">
										<button class="btn-def btn-def-transparent">Оплатить бонусами</button>
										<button class="btn-def">Купить</button>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-posters col-posters-sm">
					<div class="poster">
						<div class="poster__picture" style="background-image: url(img/poster-35.jpg)"></div>
						<div class="poster-description">
							<div class="poster__type">Скалодром</div>
							<div class="poster__title"><a href="#">Тренировки Bear Race в Измайловском парке<i class="icon icon-like"></i></a></div>
							<div class="panel-hidden">
								<div class="poster__place">трк планета</div>
								<div class="poster__date">21 апреля, 19:30</div>
								<div class="poster-bottom-panel">
									<div class="poster__price">1000-2400 ₽</div>
									<div class="poster-btns">
										<button class="btn-def">Купить</button>
										<button class="btn-def btn-def-transparent">Оплатить бонусами</button>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="poster">
						<div class="poster__picture" style="background-image: url(img/poster-36.jpg)"></div>
						<div class="poster-description">
							<div class="poster__type">Полёт на воздушном шаре </div>
							<div class="poster__title"><a href="#">В клубе «Меджик Флайт»<i class="icon icon-like"></i></a></div>
							<div class="panel-hidden">
								<div class="poster__place">трк планета</div>
								<div class="poster__date">21 апреля, 19:30</div>
								<div class="poster-bottom-panel">
									<div class="poster__price">1000-2400 ₽</div>
									<div class="poster-btns">
										<button class="btn-def">Купить</button>
										<button class="btn-def btn-def-transparent">Оплатить бонусами</button>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- .slider-mobile -->
			<div class="posters-wrapper poster-category-slider poster-category-slider-mobile">
				<div class="item">
					<div class="poster">
						<div class="poster__picture" style="background-image: url(img/poster-32.jpg)"></div>
						<div class="poster-description">
							<div class="poster__type">Скалодром</div>
							<div class="poster__title"><a href="#">Кубок мира по скалолазанию<i class="icon icon-like"></i></a></div>
							<div class="panel-hidden">
								<div class="poster__place">трк планета</div>
								<div class="poster__date">21 апреля, 19:30</div>
								<div class="poster-bottom-panel">
									<div class="poster__price">1000-2400 ₽</div>
									<div class="poster-btns">
										<button class="btn-def">Купить</button>
										<button class="btn-def btn-def-transparent">Оплатить бонусами</button>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>	
				<div class="item">
					<div class="poster">
						<div class="poster-panel-top">
							<div class="poster__city">ГДК Молодежный</div>
							<div class="poster__time">18 апреля, 19:30</div>
							<i class="icon icon-like"></i>
						</div>
						<div class="poster__picture" style="background-image: url(img/poster-33.jpg)"></div>
						<div class="poster-description">
							<div class="poster__type">Другое</div>
							<div class="poster__title"><a href="#">Арена виртуальной реальности Another World</a></div>
							<div class="panel-hidden">
								<div class="poster-bottom-panel">
									<div class="poster__price">1500-6500 ₽</div>
									<div class="poster-btns">
										<button class="btn-def btn-def-transparent">Оплатить бонусами</button>
										<button class="btn-def">Купить</button>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="item">
					<div class="poster">
						<div class="poster-panel-top">
							<div class="poster__city">ГДК Молодежный</div>
							<div class="poster__time">18 апреля, 19:30</div>
							<i class="icon icon-like"></i>
						</div>
						<div class="poster__picture" style="background-image: url(img/poster-34.jpg)"></div>
						<div class="poster-description">
							<div class="poster__type">Бассейн</div>
							<div class="poster__title"><a href="#">Акция «Вместе веселее» в бассейне под открытым небом «Чайка»</a></div>
							<div class="panel-hidden">
								<div class="poster-bottom-panel">
									<div class="poster__price">1500-6500 ₽</div>
									<div class="poster-btns">
										<button class="btn-def btn-def-transparent">Оплатить бонусами</button>
										<button class="btn-def">Купить</button>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="item">
					<div class="poster">
						<div class="poster__picture" style="background-image: url(img/poster-35.jpg)"></div>
						<div class="poster-description">
							<div class="poster__type">Скалодром</div>
							<div class="poster__title"><a href="#">Тренировки Bear Race в Измайловском парке<i class="icon icon-like"></i></a></div>
							<div class="panel-hidden">
								<div class="poster__place">трк планета</div>
								<div class="poster__date">21 апреля, 19:30</div>
								<div class="poster-bottom-panel">
									<div class="poster__price">1000-2400 ₽</div>
									<div class="poster-btns">
										<button class="btn-def">Купить</button>
										<button class="btn-def btn-def-transparent">Оплатить бонусами</button>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="item">
					<div class="poster">
						<div class="poster__picture" style="background-image: url(img/poster-36.jpg)"></div>
						<div class="poster-description">
							<div class="poster__type">Полёт на воздушном шаре </div>
							<div class="poster__title"><a href="#">В клубе «Меджик Флайт»<i class="icon icon-like"></i></a></div>
							<div class="panel-hidden">
								<div class="poster__place">трк планета</div>
								<div class="poster__date">21 апреля, 19:30</div>
								<div class="poster-bottom-panel">
									<div class="poster__price">1000-2400 ₽</div>
									<div class="poster-btns">
										<button class="btn-def">Купить</button>
										<button class="btn-def btn-def-transparent">Оплатить бонусами</button>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div><!-- End.slider-mobile -->
		</div>

		<div class="row-posters row-posters-training">
			<div class="heading-panel">
				<div class="heading">
					<strong>Обучение</strong>
				</div>
				<a href="#" class="btn-more">
					<span>Все</span>
					<span class="icon">
						<img src="img/arrow-sm-right.svg" alt="">
					</span>
				</a>
			</div>
			<div class="posters-wrapper posters-wrapper-desktop">
				<div class="col-posters col-posters-md">
					<div class="col-posters-insert">
						<div class="poster poster-sm">
							<div class="poster__picture" style="background-image: url(img/poster-37.jpg)"></div>
							<div class="poster-description">
								<div class="poster__type">Творчество, Рукоделие</div>
								<div class="poster__title"><a href="#">Гончарная студия № 1<i class="icon icon-like"></i></a></div>
								<div class="panel-hidden">
									<div class="poster__link">
										<a href="#">
											<span>Подробнее</span>
											<span class="icon">
												<svg width="20" height="15" viewBox="0 0 20 15" fill="none" xmlns="http://www.w3.org/2000/svg">
													<path d="M13.4678 0.900079C13.1953 0.625918 12.7418 0.625918 12.4598 0.900079C12.1874 1.16498 12.1874 1.60586 12.4598 1.87014L17.5707 6.839H0.705621C0.31248 6.83962 0 7.14342 0 7.52564C0 7.90786 0.31248 8.22154 0.705621 8.22154H17.5707L12.4598 13.1811C12.1874 13.4553 12.1874 13.8968 12.4598 14.1611C12.7418 14.4352 13.1959 14.4352 13.4678 14.1611L19.7885 8.01592C20.0705 7.75102 20.0705 7.31014 19.7885 7.04586L13.4678 0.900079Z" fill="#6C7583"/>
												</svg>
											</span>
										</a>
									</div>
								</div>
							</div>
						</div>
						<div class="poster poster-sm">
							<div class="poster__picture" style="background-image: url(img/poster-38.jpg)"></div>
							<div class="poster-description">
								<div class="poster__type">Искусство</div>
								<div class="poster__title">
									<a href="#">Мастер-классы по живописи с нуля в Rohini Gallery<i class="icon icon-like"></i></a>
								</div>
								<div class="panel-hidden">
									<div class="poster__link">
										<a href="#">
											<span>Подробнее</span>
											<span class="icon">
												<svg width="20" height="15" viewBox="0 0 20 15" fill="none" xmlns="http://www.w3.org/2000/svg">
													<path d="M13.4678 0.900079C13.1953 0.625918 12.7418 0.625918 12.4598 0.900079C12.1874 1.16498 12.1874 1.60586 12.4598 1.87014L17.5707 6.839H0.705621C0.31248 6.83962 0 7.14342 0 7.52564C0 7.90786 0.31248 8.22154 0.705621 8.22154H17.5707L12.4598 13.1811C12.1874 13.4553 12.1874 13.8968 12.4598 14.1611C12.7418 14.4352 13.1959 14.4352 13.4678 14.1611L19.7885 8.01592C20.0705 7.75102 20.0705 7.31014 19.7885 7.04586L13.4678 0.900079Z" fill="#6C7583"/>
												</svg>
											</span>
										</a>
									</div>
								</div>
							</div>
						</div>
						<div class="poster poster-sm">
							<div class="poster__picture" style="background-image: url(img/poster-39.jpg)"></div>
							<div class="poster-description">
								<div class="poster__type">Красота</div>
								<div class="poster__title"><a href="#">Школа ногтевых технологий<i class="icon icon-like"></i></a></div>
								<div class="panel-hidden">
									<div class="poster__link">
										<a href="#">
											<span>Подробнее</span>
											<span class="icon">
												<svg width="20" height="15" viewBox="0 0 20 15" fill="none" xmlns="http://www.w3.org/2000/svg">
													<path d="M13.4678 0.900079C13.1953 0.625918 12.7418 0.625918 12.4598 0.900079C12.1874 1.16498 12.1874 1.60586 12.4598 1.87014L17.5707 6.839H0.705621C0.31248 6.83962 0 7.14342 0 7.52564C0 7.90786 0.31248 8.22154 0.705621 8.22154H17.5707L12.4598 13.1811C12.1874 13.4553 12.1874 13.8968 12.4598 14.1611C12.7418 14.4352 13.1959 14.4352 13.4678 14.1611L19.7885 8.01592C20.0705 7.75102 20.0705 7.31014 19.7885 7.04586L13.4678 0.900079Z" fill="#6C7583"/>
												</svg>
											</span>
										</a>
									</div>
								</div>
							</div>
						</div>
						<div class="poster poster-sm">
							<div class="poster__picture" style="background-image: url(img/poster-40.jpg)"></div>
							<div class="poster-description">
								<div class="poster__type">Красота</div>
								<div class="poster__title">
									<a href="#">«Понимание моды: что стоит знать о вещах»<i class="icon icon-like"></i></a>
								</div>
								<div class="panel-hidden">
									<div class="poster__link">
										<a href="#">
											<span>Подробнее</span>
											<span class="icon">
												<svg width="20" height="15" viewBox="0 0 20 15" fill="none" xmlns="http://www.w3.org/2000/svg">
													<path d="M13.4678 0.900079C13.1953 0.625918 12.7418 0.625918 12.4598 0.900079C12.1874 1.16498 12.1874 1.60586 12.4598 1.87014L17.5707 6.839H0.705621C0.31248 6.83962 0 7.14342 0 7.52564C0 7.90786 0.31248 8.22154 0.705621 8.22154H17.5707L12.4598 13.1811C12.1874 13.4553 12.1874 13.8968 12.4598 14.1611C12.7418 14.4352 13.1959 14.4352 13.4678 14.1611L19.7885 8.01592C20.0705 7.75102 20.0705 7.31014 19.7885 7.04586L13.4678 0.900079Z" fill="#6C7583"/>
												</svg>
											</span>
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-posters col-posters-md">
					<div class="poster poster-md poster-height-lg poster-full-width">
						<div class="poster-panel-top">
							<div class="poster__city">Уфа-Арена</div>
							<div class="poster__time">21 апреля, 19:30</div>
							<i class="icon icon-like"></i>
						</div>
						<div class="poster__picture" style="background-image: url(img/poster-41.jpg)"></div>
						<div class="poster-description">
							<div class="poster__type">Танцы</div>
							<div class="poster__title"><a href="#">Школа Бачаты</a></div>
							<div class="panel-hidden">
								<div class="poster-bottom-panel">
									<div class="poster__price">1500-6500 ₽</div>
									<div class="poster-btns">
										<button class="btn-def btn-def_transparent">Оплатить бонусами</button>
										<button class="btn-def">Купить</button>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- .slider-mobile -->
			<div class="posters-wrapper poster-category-slider poster-category-slider-mobile">
				<div class="item">
					<div class="poster">
						<div class="poster__picture" style="background-image: url(img/poster-37.jpg)"></div>
						<div class="poster-description">
							<div class="poster__type">Творчество, Рукоделие</div>
							<div class="poster__title"><a href="#">Гончарная студия № 1<i class="icon icon-like"></i></a></div>
							<div class="panel-hidden">
								<div class="poster__link">
									<a href="#">
										<span>Подробнее</span>
										<span class="icon">
											<svg width="20" height="15" viewBox="0 0 20 15" fill="none" xmlns="http://www.w3.org/2000/svg">
												<path d="M13.4678 0.900079C13.1953 0.625918 12.7418 0.625918 12.4598 0.900079C12.1874 1.16498 12.1874 1.60586 12.4598 1.87014L17.5707 6.839H0.705621C0.31248 6.83962 0 7.14342 0 7.52564C0 7.90786 0.31248 8.22154 0.705621 8.22154H17.5707L12.4598 13.1811C12.1874 13.4553 12.1874 13.8968 12.4598 14.1611C12.7418 14.4352 13.1959 14.4352 13.4678 14.1611L19.7885 8.01592C20.0705 7.75102 20.0705 7.31014 19.7885 7.04586L13.4678 0.900079Z" fill="#6C7583"/>
											</svg>
										</span>
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="item">
					<div class="poster">
						<div class="poster__picture" style="background-image: url(img/poster-38.jpg)"></div>
						<div class="poster-description">
							<div class="poster__type">Искусство</div>
							<div class="poster__title">
								<a href="#">Мастер-классы по живописи с нуля в Rohini Gallery<i class="icon icon-like"></i></a>
							</div>
							<div class="panel-hidden">
								<div class="poster__link">
									<a href="#">
										<span>Подробнее</span>
										<span class="icon">
											<svg width="20" height="15" viewBox="0 0 20 15" fill="none" xmlns="http://www.w3.org/2000/svg">
												<path d="M13.4678 0.900079C13.1953 0.625918 12.7418 0.625918 12.4598 0.900079C12.1874 1.16498 12.1874 1.60586 12.4598 1.87014L17.5707 6.839H0.705621C0.31248 6.83962 0 7.14342 0 7.52564C0 7.90786 0.31248 8.22154 0.705621 8.22154H17.5707L12.4598 13.1811C12.1874 13.4553 12.1874 13.8968 12.4598 14.1611C12.7418 14.4352 13.1959 14.4352 13.4678 14.1611L19.7885 8.01592C20.0705 7.75102 20.0705 7.31014 19.7885 7.04586L13.4678 0.900079Z" fill="#6C7583"/>
											</svg>
										</span>
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="item">
					<div class="poster">
						<div class="poster__picture" style="background-image: url(img/poster-39.jpg)"></div>
						<div class="poster-description">
							<div class="poster__type">Красота</div>
							<div class="poster__title"><a href="#">Школа ногтевых технологий<i class="icon icon-like"></i></a></div>
							<div class="panel-hidden">
								<div class="poster__link">
									<a href="#">
										<span>Подробнее</span>
										<span class="icon">
											<svg width="20" height="15" viewBox="0 0 20 15" fill="none" xmlns="http://www.w3.org/2000/svg">
												<path d="M13.4678 0.900079C13.1953 0.625918 12.7418 0.625918 12.4598 0.900079C12.1874 1.16498 12.1874 1.60586 12.4598 1.87014L17.5707 6.839H0.705621C0.31248 6.83962 0 7.14342 0 7.52564C0 7.90786 0.31248 8.22154 0.705621 8.22154H17.5707L12.4598 13.1811C12.1874 13.4553 12.1874 13.8968 12.4598 14.1611C12.7418 14.4352 13.1959 14.4352 13.4678 14.1611L19.7885 8.01592C20.0705 7.75102 20.0705 7.31014 19.7885 7.04586L13.4678 0.900079Z" fill="#6C7583"/>
											</svg>
										</span>
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="item">
					<div class="poster">
						<div class="poster__picture" style="background-image: url(img/poster-40.jpg)"></div>
						<div class="poster-description">
							<div class="poster__type">Красота</div>
							<div class="poster__title">
								<a href="#">«Понимание моды: что стоит знать о вещах»<i class="icon icon-like"></i></a>
							</div>
							<div class="panel-hidden">
								<div class="poster__link">
									<a href="#">
										<span>Подробнее</span>
										<span class="icon">
											<svg width="20" height="15" viewBox="0 0 20 15" fill="none" xmlns="http://www.w3.org/2000/svg">
												<path d="M13.4678 0.900079C13.1953 0.625918 12.7418 0.625918 12.4598 0.900079C12.1874 1.16498 12.1874 1.60586 12.4598 1.87014L17.5707 6.839H0.705621C0.31248 6.83962 0 7.14342 0 7.52564C0 7.90786 0.31248 8.22154 0.705621 8.22154H17.5707L12.4598 13.1811C12.1874 13.4553 12.1874 13.8968 12.4598 14.1611C12.7418 14.4352 13.1959 14.4352 13.4678 14.1611L19.7885 8.01592C20.0705 7.75102 20.0705 7.31014 19.7885 7.04586L13.4678 0.900079Z" fill="#6C7583"/>
											</svg>
										</span>
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="item">
					<div class="poster">
						<div class="poster-panel-top">
							<div class="poster__city">Уфа-Арена</div>
							<div class="poster__time">21 апреля, 19:30</div>
							<i class="icon icon-like"></i>
						</div>
						<div class="poster__picture" style="background-image: url(img/poster-41.jpg)"></div>
						<div class="poster-description">
							<div class="poster__type">Танцы</div>
							<div class="poster__title"><a href="#">Школа Бачаты</a></div>
							<div class="panel-hidden">
								<div class="poster-bottom-panel">
									<div class="poster__price">1500-6500 ₽</div>
									<div class="poster-btns">
										<button class="btn-def btn-def_transparent">Оплатить бонусами</button>
										<button class="btn-def">Купить</button>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div><!-- .slider-mobile -->
		</div>

		<div class="row-posters row-posters-active row-slider">
			<div class="heading-panel">
				<div class="heading">
					<strong>Вы смотерели (18)</strong>
				</div>
				<div class="posters-active__arrows">
					<div class="icon-arrow icon-arrow-next slick-arrow left"><img src="img/arrow-sm-left.svg" alt="" /></div>
					<div class="icon-arrow icon-arrow-prev slick-arrow right"><img src="img/arrow-sm-right.svg" alt="" /></div>
				</div>
			</div>
			<div class="posters-wrapper">
				<div class="posters posters-slider posters-slider-active">
					<div class="item">
						<div class="poster">
							<div class="poster__picture" style="background-image: url(img/poster-21.jpg)"></div>
							<div class="poster-description">
								<div class="poster__type">Детям</div>
								<div class="poster__title"><a href="#">Оранжевый ежик<i class="icon icon-like"></i></a></div>
								<div class="panel-hidden">
									<div class="poster__link">
										<a href="#">
											<span>Подробнее</span>
											<span class="icon">
												<svg width="20" height="15" viewBox="0 0 20 15" fill="none" xmlns="http://www.w3.org/2000/svg">
													<path d="M13.4678 0.900079C13.1953 0.625918 12.7418 0.625918 12.4598 0.900079C12.1874 1.16498 12.1874 1.60586 12.4598 1.87014L17.5707 6.839H0.705621C0.31248 6.83962 0 7.14342 0 7.52564C0 7.90786 0.31248 8.22154 0.705621 8.22154H17.5707L12.4598 13.1811C12.1874 13.4553 12.1874 13.8968 12.4598 14.1611C12.7418 14.4352 13.1959 14.4352 13.4678 14.1611L19.7885 8.01592C20.0705 7.75102 20.0705 7.31014 19.7885 7.04586L13.4678 0.900079Z" fill="#6C7583"/>
												</svg>
											</span>
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="item">
						<div class="poster">
							<div class="poster__picture" style="background-image: url(img/poster-9.jpg)"></div>
							<div class="poster-description">
								<div class="poster__type">Концерт</div>
								<div class="poster__title"><a href="#">Однажды в России<i class="icon icon-like"></i></a></div>
								<div class="panel-hidden">
									<div class="poster__link">
										<a href="#">
											<span>Подробнее</span>
											<span class="icon">
												<svg width="20" height="15" viewBox="0 0 20 15" fill="none" xmlns="http://www.w3.org/2000/svg">
													<path d="M13.4678 0.900079C13.1953 0.625918 12.7418 0.625918 12.4598 0.900079C12.1874 1.16498 12.1874 1.60586 12.4598 1.87014L17.5707 6.839H0.705621C0.31248 6.83962 0 7.14342 0 7.52564C0 7.90786 0.31248 8.22154 0.705621 8.22154H17.5707L12.4598 13.1811C12.1874 13.4553 12.1874 13.8968 12.4598 14.1611C12.7418 14.4352 13.1959 14.4352 13.4678 14.1611L19.7885 8.01592C20.0705 7.75102 20.0705 7.31014 19.7885 7.04586L13.4678 0.900079Z" fill="#6C7583"/>
												</svg>
											</span>
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="item">
						<div class="poster">
							<div class="poster__picture" style="background-image: url(img/poster-33.jpg)"></div>
							<div class="poster-description">
								<div class="poster__type">Другое</div>
								<div class="poster__title"><a href="#">Арена виртуальной реальности Another World<i class="icon icon-like"></i></a></div>
								<div class="panel-hidden">
									<div class="poster__link">
										<a href="#">
											<span>Подробнее</span>
											<span class="icon">
												<svg width="20" height="15" viewBox="0 0 20 15" fill="none" xmlns="http://www.w3.org/2000/svg">
													<path d="M13.4678 0.900079C13.1953 0.625918 12.7418 0.625918 12.4598 0.900079C12.1874 1.16498 12.1874 1.60586 12.4598 1.87014L17.5707 6.839H0.705621C0.31248 6.83962 0 7.14342 0 7.52564C0 7.90786 0.31248 8.22154 0.705621 8.22154H17.5707L12.4598 13.1811C12.1874 13.4553 12.1874 13.8968 12.4598 14.1611C12.7418 14.4352 13.1959 14.4352 13.4678 14.1611L19.7885 8.01592C20.0705 7.75102 20.0705 7.31014 19.7885 7.04586L13.4678 0.900079Z" fill="#6C7583"/>
												</svg>
											</span>
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="item">
						<div class="poster">
							<div class="poster__picture" style="background-image: url(img/poster-29.jpg)"></div>
							<div class="poster-description">
								<div class="poster__type">Киберспорт</div>
								<div class="poster__title"><a href="#">Epicenter Major<i class="icon icon-like"></i></a></div>
								<div class="panel-hidden">
									<div class="poster__link">
										<a href="#">
											<span>Подробнее</span>
											<span class="icon">
												<svg width="20" height="15" viewBox="0 0 20 15" fill="none" xmlns="http://www.w3.org/2000/svg">
													<path d="M13.4678 0.900079C13.1953 0.625918 12.7418 0.625918 12.4598 0.900079C12.1874 1.16498 12.1874 1.60586 12.4598 1.87014L17.5707 6.839H0.705621C0.31248 6.83962 0 7.14342 0 7.52564C0 7.90786 0.31248 8.22154 0.705621 8.22154H17.5707L12.4598 13.1811C12.1874 13.4553 12.1874 13.8968 12.4598 14.1611C12.7418 14.4352 13.1959 14.4352 13.4678 14.1611L19.7885 8.01592C20.0705 7.75102 20.0705 7.31014 19.7885 7.04586L13.4678 0.900079Z" fill="#6C7583"/>
												</svg>
											</span>
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="item">
						<div class="poster">
							<div class="poster__picture" style="background-image: url(img/poster-21.jpg)"></div>
							<div class="poster-description">
								<div class="poster__type">Детям</div>
								<div class="poster__title"><a href="#">Оранжевый ежик<i class="icon icon-like"></i></a></div>
								<div class="panel-hidden">
									<div class="poster__link">
										<a href="#">
											<span>Подробнее</span>
											<span class="icon">
												<svg width="20" height="15" viewBox="0 0 20 15" fill="none" xmlns="http://www.w3.org/2000/svg">
													<path d="M13.4678 0.900079C13.1953 0.625918 12.7418 0.625918 12.4598 0.900079C12.1874 1.16498 12.1874 1.60586 12.4598 1.87014L17.5707 6.839H0.705621C0.31248 6.83962 0 7.14342 0 7.52564C0 7.90786 0.31248 8.22154 0.705621 8.22154H17.5707L12.4598 13.1811C12.1874 13.4553 12.1874 13.8968 12.4598 14.1611C12.7418 14.4352 13.1959 14.4352 13.4678 14.1611L19.7885 8.01592C20.0705 7.75102 20.0705 7.31014 19.7885 7.04586L13.4678 0.900079Z" fill="#6C7583"/>
												</svg>
											</span>
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="poster-current poster-current-mobile">
		<div class="poster-current__title">
			<strong>моя афиша</strong>
			<p>Укажите что любите и получайте события на почту или телефон</p>
		</div>
		<div class="poster-current__img"><img src="img/cuurent-poster.png" alt=""></div>
		<div class="poster-current__btn">
			<a href="#" class="btn-def btn-def_white">Выбрать события</a>
		</div>
	</div>
	<div class="app-mobile">
		<div class="app-mobile__title">Чаще ищете куда сходить с телефона?</div>
		<div class="app-mobile__pre-title">Скачайте приложение EVENTR</div>
		<div class="app-mobile__img">
			<p><a href="#"><img src="img/gps.png" alt=""></a></p>
			<p><a href="#"><img src="img/aps.png" alt=""></a></p>
		</div>
	</div>
</div>