/*________ .poster ________*/
.posters-wrapper
	display: flex
	justify-content: space-between
	border-radius: 5px
	overflow: hidden
	@media only screen and (max-width: 991px)
		flex-wrap: wrap
	@media only screen and (max-width: 767px)
		border-radius: 0
	@media only screen and (max-width: 575px)
		width: calc(100% + 40px)
		margin-left: -20px

.poster
	position: relative
	color: #fff
	overflow: hidden
	&.active
		.icon-like
			color: $green-light-def
	&:after
		content: ""
		position: absolute
		left: 0
		right: 100%
		bottom: 0
		background: $green-def
		height: 4px
		transition-property: right
		transition-duration: .3s
		transition-timing-function: ease-out
		z-index: 2
	&:hover:after
		right: 0
	&:before
		content: ''
		position: absolute
		left: 0
		bottom: 0
		height: 45%
		width: 100%
		background: linear-gradient(180deg, #1E2228 4.15%, rgba(30, 34, 40, 0) 100%)
		transform: matrix(1, 0, 0, -1, 0, 0)
		z-index: 1
	&-description
		position: absolute
		bottom: 0
		left: 0
		width: 100%
		padding: 27px 5px 27px 24px
		transform: translateY(28px)
		transition: transform .3s ease,  background .38s ease-in-out
		z-index: 2
		@media only screen and (max-width: 1199px)
			padding-left: 10px
		@media only screen and (max-width: 991px)
			padding-right: 0	
		
	&-bottom-panel
		padding-top: 45px
	&-btns
		.btn-def:first-child
			margin-right: 10px
	.btn-def
		padding: 9px 13px
		font-size: 13px
		&-transparent
			padding: 9px

	&__picture
		background-repeat: no-repeat
		background-position: 50%
		background-size: cover
		width: 100%
		height: 100%
		position: relative
		&:before
			content: ''
			position: absolute
			left: 0
			top: 0
			width: 100%
			height: 100%
			background: rgba(14, 31, 56, .85)
			opacity: 0
			transition: opacity .3s ease-in-out

	&__type
		color: #E3E7F1
		opacity: .6
		font-weight: bold
		font-size: 14px
		line-height: 16px
		margin-bottom: 7px
		@media only screen and (max-width: 767px)
			font-size: 10px
			line-height: normal
			margin-bottom: 2px
	&__title
		margin-bottom: 24px
		@media only screen and (max-width: 767px)
			font-size: 12px
			margin-bottom: 18px
		.icon
			opacity: 0
			transition: $transition
			margin-left: 10px
			@media only screen and (max-width: 767px)
				display: none
		a
			font-weight: bold
			font-size: 18px
			line-height: 21px
			color: #FFF
			@media only screen and (max-width: 1199px)
				font-size: 16px
			@media only screen and (max-width: 767px)
				font-size: 12px
	&__place
		text-transform: uppercase
		margin-bottom: 5px
	&__place,
	&__date
		font-weight: normal
		font-size: 14px
		line-height: 16px
		color: #E3E7F1
	&__price
		font-weight: bold
		font-size: 18px
		line-height: 21px
		padding-bottom: 9px
	&__link
		a
			color: $green-light-def
		.icon
			display: inline-block
			transform: translateY(3px)	
		svg path
			fill: $green-light-def	
	.panel-hidden
		display: none
	&__city
		padding-bottom: 5px	


/*________ .poster:hover ________*/
.poster:hover
	.panel-hidden
		display: block
		@media only screen and (max-width: 1199px)
			display: none
	.poster-description
		transform: translateY(0)
	.poster__picture
		&:before
			opacity: 1	
	.poster__title
		margin-bottom: 7px
		.icon
			opacity: 1
	.poster-panel-top
		opacity: 1
		@media only screen and (max-width: 767px)
			display: none		

/*________ .poster-slider ________*/
.posters-slider
	border-radius: 3px
	overflow: hidden
	width: 100%
	.poster
		width: 100%
	.slick-list
		border-radius: 5px
		@media only screen and (max-width: 767px)
			border-radius: 0


.posters-slider-popular
	width: 830px
	@media only screen and (max-width: 991px)
		width: 100%


.posters-slider
	@media only screen and (max-width: 767px)
		.slick-list
			padding: 0 110px 0 0 !important


.posters__arrows,
.posters-active__arrows	
	display: flex

.posters__arrows,
.posters-active__arrows		
	.icon-arrow
		display: flex !important
		align-items: center
		justify-content: center
		width: 36px
		height: 36px
		background: #FFFFFF
		box-shadow: 0px 1px 1px #DCDCDC
		border-radius: 3px
		margin: 0 4px
		cursor: pointer
		&:before
			display: none

		@media only screen and (max-width: 767px)
			&:last-child
				margin-right: 0
				margin-left: 10px
			width: 25px
			height: 25px
			margin: 0 0
			img
				width: 15px

/*________ .poster-current ________*/
.poster-current
	background: linear-gradient(21.14deg, #006204 -2.94%, #69BB00 90.4%)
	box-shadow: 0px 35px 60px #CEDEC4
	border-radius: 3px
	max-width: 255px
	padding: 10px 10px 23px
	text-align: center
	color: #fff
	font-size: 14px
	line-height: 20px
	text-align: center
	color: #D7F2D1
	transform: translateY(-55px)
	margin-left: 19px
	strong
		font-weight: bold
		font-size: 32px
		line-height: 45px
		color: #fff
		text-transform: uppercase
	&__btn
		margin-top: 19px
	&__title
		font-weight: bold
	.btn-def
		padding: 8px
		width: 200px
		text-align: center
		color: $green-def	

@media only screen and (max-width: 991px)
	.poster-current-desktop
		display: none
	.poster-current-mobile
		display: block
	.poster-current
		transform: translateY(0)
		margin: 30px auto 40px	

@media only screen and (max-width: 767px)		
	.poster-current
		width: 100%
		max-width: 100%
		border-radius: 0

@media only screen and (min-width: 992px)
	.poster-current-mobile
		display: none
/*________ .poster TYPE ________*/
.poster
	width: 25%
	height: 253px
	@media only screen and (max-width: 991px)
		width: 50%

.poster-md
	width: 50%

.poster-height-md
	height: 400px
	@media only screen and (max-width: 991px)
		height: 250px

.poster-height-lg
	height: 506px
	@media only screen and (max-width: 991px)
		height: 253px
	.poster
		&__price
			font-size: 24px
		&__title a
			font-size: 24px
			@media only screen and (max-width: 767px)
				font-size: 12px
		&-bottom-panel
			padding-top: 15px
			display: flex
			justify-content: space-between
			align-items: center

.poster-full-width
	.poster
		&-bottom-panel
			display: flex
			justify-content: space-between
			align-items: center
			padding-top: 5px
		&__title
			margin-bottom: 0
		&-description
			transform: translateY(10px)
		&-btns
			margin-right: 28px
		&:hover
			.poster__title
				margin-bottom: 0

.poster-panel-top
	position: absolute
	top: 0
	left: 0
	z-index: 1
	padding: 28px
	font-weight: bold
	font-size: 14px
	line-height: 16px
	opacity: 0
	transition: opacity .3s ease-in-out
	width: 100%
	.icon
		position: absolute
		top: 29px
		right: 30px
		cursor: pointer	

.row-posters
	margin-bottom: 110px
	@media only screen and (max-width: 1199px)
		margin-bottom: 50px

.col-posters-lg
	width: 75%
	.poster-full-width
		width: 75%
.col-posters-md
	width: 50%
	@media only screen and (max-width: 991px)
		width: 100%
	.poster
		width: 100%

.col-posters-sm
	width: 25%	
	@media only screen and (max-width: 991px)
		width: 100%
	.poster
		width: 100%

.col-posters-insert
	display: flex
	flex-wrap: wrap
	.poster
		width: 50%
		@media only screen and (max-width: 991px)
			width: 100%

.poster-sm-height
	height: 506px
	@media only screen and (max-width: 991px)
		height: 250px

//popular
.row-posters-popular
	margin-bottom: 50px
	margin-top: 73px
	@media only screen and (max-width: 767px)
		margin-top: 30px
	.posters-wrapper
		overflow: inherit
	.poster-current
		@media only screen and (max-width: 767px)	
			display: none

@media only screen and (max-width: 991px)	
	.row-posters-theaters
		.col-posters-md
			width: 50%			

/*________ .app-mobile ________*/
.app-mobile
	width: 100%
	max-width: 320px
	height: 600px
	background-position: 50%
	background-image: url(../img/mockup.png)
	padding-top: 169px
	padding-left: 53px
	padding-right: 50px
	margin: 0 auto
	&__title
		font-weight: 900
		font-size: 29px
		line-height: 34px
		color: #0E1F38
		margin-bottom: 24px
	&__pre-title
		color: #6C7583
		font-size: 18px
		margin-bottom: 32px

@media only screen and (min-width: 768px)
	.app-mobile
		display: none	
/*________ End .app-mobile ________*/

/*________ .posters-wrapper ________*/
@media only screen and (max-width: 767px)
	.page-main
		.posters-wrapper
			margin-left: -20px
			margin-right: -20px
			.poster:nth-child(n+3)
				display: none
		.row-posters-concert,
		.row-posters-theaters
			.col-posters-insert
				display: none
		.col-posters-md
			width: 50%

		.row-posters-activities
			.col-posters-sm
				width: 50%
			.col-posters:first-child,
			.col-posters:nth-child(3)
				display: none
			.col-posters-md
				width: 100%
				display: flex
				.poster
					width: 50%
		.row-posters-training
			.col-posters:nth-child(2)
				display: none
			.col-posters-md
				width: 100%
				.poster
					width: 50%

		.row-posters:not(.row-slider) .posters-wrapper
			flex-wrap: nowrap
			.poster:nth-child(1)
				width: calc(100% - 110px)
				flex-shrink: 0
			.poster:nth-child(2)
				width: 250px
				.poster__title,
				.poster__type
					white-space: nowrap	
			.col-posters-insert,
				flex-wrap: nowrap

		.row-posters-concert,
		.row-posters-theaters 
			.col-posters-md
				width: 100%
			.col-posters-md:nth-child(1)
				width: calc(100% - 110px)
				flex-shrink: 0
			.col-posters-md:nth-child(2)
				.poster__title,
				.poster__type
					white-space: nowrap	
			.poster
				width: 100% !important
/*________ End .posters-wrapper ________*/


/*________ .copy-link ________*/
.bonuses-modal
	.notification-sent
		// margin-top: 0
	.modal-body
		padding-left: 50px
		padding-right: 40px
		@media only screen and (max-width: 767px)
			padding-left: 20px
			padding-right: 20px
			padding-top: 0
	@media only screen and (max-width: 767px)
		.btn-close-modal
			display: none
		.modal-dialog
			margin: 0
			max-width: 100%	

.copy-link
	display: flex
	justify-content: space-between
	margin-bottom: 47px
	@media only screen and (max-width: 767px)
		display: block
	&.hide
		display: none
	input
		border: 1px solid #E3E7F1
		border-radius: 3px
		padding: 8px 13px
		color: #A7B3BE
		width: 267px
		@media only screen and (max-width: 767px)
			margin-bottom: 9px
	.btn-def
		padding: 9px 10px 8px
		text-align: center
		width: 167px

.share-item
	&:not(:last-child)
		margin-bottom: 48px

	&__title		
		font-size: 16px
		line-height: 19px
		font-weight: bold
		margin-bottom: 10px
		@media only screen and (max-width: 767px)
			font-size: 14px
	&-mail 
		a
			&:not(:last-child)
				margin-right: 10px
			@media only screen and (max-width: 767px)
				margin-bottom: 10px
				margin-right: 0
				display: inline-block

		@media only screen and (min-width: 768px)
			br
				display: none	
/*________ End .copy-link ________*/

/*________ .typehead ________*/
.typehead
	display: none
	position: absolute
	top: calc(100% - 14px)
	max-width: 100%
	width: 100%
	padding: 40px 30px 30px 30px
	background: #fff
	font-size: 14px
	line-height: 16px
	border: 1px solid #E3E7F1
	animation: fadein ease 0.3s
	&.show
		display: block

	&-item
		display: flex
		&:not(:last-child)
			margin-bottom: 25px
	&__img
		position: relative
		width: 55px
		height: 55px
		margin-right: 11px
		border-radius: 5px
		overflow: hidden
		&:before
			content: ''
			position: absolute
			left: 0
			bottom: 0
			height: 45%
			width: 100%
			background: linear-gradient(180deg, #1E2228 4.15%, rgba(30, 34, 40, 0) 100%)
			transform: matrix(1, 0, 0, -1, 0, 0)
			z-index: 1
		img
			border-radius: 5px
	&__category
		color: #A7B3BE
		padding-bottom: 5px	
	&__title
		padding-bottom: 3px
		line-height: 16px
		i
			color: $green-light-def
			font-style: normal
		a
			font-weight: bold
			color: #32343A

@media only screen and (max-width: 767px)
	.search-mob-main-page
		z-index: 5
		.icon-hide
			right: 31px
			top: 5px
	.typehead-mob-main-page
		top: calc(100% + 2px)
		z-index: 5
		padding: 40px 20px 30px 20px

// *** .search-panel page-catalog *** //
.search-panel
	display: flex
	align-items: center
	justify-content: flex-end
	padding-bottom: 23px
	&__icon
		margin-left: 15px
		height: 15px
	&__title
		color: #A7B3BE
		cursor: pointer	
	svg
		width: 15px
		height: 15px
		path
			fill: #A7B3BE
.typehead
	&-mobile
		display: none
		position: relative 
		top: inherit
		left: inherit
		width: 100%
		height: 100%
		background: #fff
		z-index: 5
		border: none
		padding: 17px 0 0 0

.search-mobile-fixed
	display: none
	position: fixed
	top: 0
	left: 0
	width: 100%
	max-width: 100%
	height: 100%
	background: #fff
	z-index: 11
	padding: 90px 20px 0 20px
	@media only screen and (max-width: 767px)
		padding: 60px 20px 0 20px 
	.icon-hide
		display: block
		right: 42px
	input
		border: solid 2px $green-light-def
		padding: 7px 5px
	.btn-search
		background: $green-light-def
		height: 35px
		width: 35px
		.icon
			color: #fff	
	&.show
		display: block
// *** End .search-panel page-catalog *** //

/*________ End .typehead ________*/
.poster-category-slider
	display: block
	.poster
		width: 100% 
		@media only screen and (max-width: 991px)
			width: 100% !important

	@media only screen and (max-width: 767px)		
		.slick-list
			padding: 0 110px 0 0 !important

@media only screen and (min-width: 992px)
	.poster-category-slider-mobile
		display: none			

@media only screen and (max-width: 991px)
	.posters-wrapper-desktop
		display: none
	.poster-category-slider-mobile,
	.poster-category-slider
		.slick-dots
			display: none !important



