// .page-ticket-check-view-ticket
.page-ticket-check-view-ticket
	ul
		.add-event
			display: none
	.desktop-main-content
		.wrap-img-ticket
			padding-top: 31px
			padding-bottom: 10px	
.wrap-btn-back-white
	display: table
	.btn-back-white
		background: #FFFFFF
		box-shadow: 0px 1px 1px #DCDCDC
		border-radius: 3px
		display: flex
		align-items: center
		padding: 9px 17px 9px 13px
		cursor: pointer
		.icon
			&::before
				color: #A7B3BE
		p
			margin-bottom: 0
			font-size: 14px
			line-height: 16px
			color: #A7B3BE
			padding-left: 13px
		
// /*End_.page-ticket-check-view-ticket*/