.search-result
	@media (max-width: 767px)
		.notification-sent__text	
			font-size: 14px
			line-height: normal

	@media (max-width: 767px)	
		&__text
			font-size: 12px
			line-height: 14px

	.wrap-form
		max-width: 410px
		
	.notification-sent
		margin-top: 20px
	h2
		@media (max-width: 767px)
			font-size: 14px		
