<div class="search-result-section page-insert">
	<div class="container">
		<div class="row-wrap-main">
			<div class="col-item side-bar"></div>
			<div class="col-item  main-content">
				<div class="search-result">
					<h2>По запросу "Супурдискотека" в г.Санкт-Петербург ничего не найдено</h2>
					<div class="search-result__text">
						Проверьте правильно ли вы ввели название события. <br> Оставьте ваш email или телефон и как только событие появится - мы вас уведомим
					</div>
					<form action="" class="wrap-form">
						<div class="form-group form-group-input">
							<input type="email" class="form-control" aria-describedby="emailHelp" placeholder="Email">
						</div>
						<div class="form-group form-group-submit">
							<button type="submit" class="btn-def">Уведомить</button>
						</div>
					</form>
					<!-- .notification-sent -->
					<div class="notification-sent" style="display: flex">
						<div class="notification-sent__icon"><img src="img/done.svg" alt=""></div>
						<div class="notification-sent__text">Подписка на уведомление успешно оформлена</div>
					</div><!-- .notification-sent -->
				</div>
			</div>
		</div>
	</div>
</div>