// .page-bonuses-buy
.page-bonuses-buy
	.main-content
		padding-top: 29px
		@media only screen and (max-width: 767px)
			width: 100%
			padding-top: 0
	.wrap-top-title
		display: flex
		align-items: center
		@media only screen and (max-width: 767px)
			display: block
	.img-title
		@media only screen and (max-width: 767px)
			margin-left: 0
			padding: 27px 20px 27px 18px
		img 
	    	position: absolute
		    top: 50%
		    transform: translate(-31%, -32%)
		h5
			padding-left: 38px
	.wrap-bonus-description
		margin-top: 17px
		background: #FFFFFF
		box-shadow: 0px 2px 2px #E0E0E3
		border-radius: 3px
		padding: 30px 30px 40px
		@media only screen and (max-width: 767px)
			margin-top: 0
		p
			font-weight: bold
			font-size: 14px
			line-height: 21px
			color: #A7B3BE
			margin-bottom: 19px
		.wrap-bonus-information
			display: flex
			align-items: center
			box-shadow: 0
		
		input
			&.count-bonus
				width: auto
				max-width: 65px
				height: 35px
				color: $black
				margin-right: 9px
				padding: 10px
				font-weight: bold
			&::placeholder
				font-weight: bold		
				color: $black
		h5
			font-weight: bold
			font-size: 14px
			line-height: 21px
			color: #6C7583
			margin-bottom: 0
			margin-right: 29px
		.panel-submit-bonus
			padding: 0
			border: 0
			.btn-def
				padding: 9px 19px 8px
	.buy
		font-weight: bold
		font-size: 18px
		line-height: 21px
		color: #6C7583
		padding-top: 52px
	.mob-hidden
		display: block
		@media only screen and (max-width: 767px)
			display: none
	.wrap-img
		display: none			
		@media only screen and (max-width: 767px)
			display: flex
			flex-direction: column
			align-items: flex-start
			h5
				font-weight: bold
				font-size: 18px
				line-height: 21px
				color: #6C7583
				padding: 24px 20px
			img
				margin-left: 15px	
	.buy-error
		display: flex
		align-items: center
		img
			width: 15px
			height: 15px
		.text-error
			font-weight: bold
			font-size: 14px
			line-height: 21px
			color: #F56868
			padding-left: 11px
			a
				padding-left: 11px
				color: $green-light-def
				text-decoration: underline
	.successful-payment
		display: flex
		align-items: center
		img
			width: 19px
			height: 15px												
		.text
			font-weight: bold
			font-size: 14px
			line-height: 21px
			color: #0E1F38
			padding-left: 17px
			span
				color: $green-light-def
// /*End_.page-bonuses-buy*/