<!--_______ .page-bonuses-accrual-rules _______-->
<div class="page-bonuses-buy  page-create-new-event-step1 page-insert">
	<div class="container">
		<div class="row-wrap-main">
			<div class="col-item side-bar">
					<div class="side-bar-user side-bar-user_visitor">
						<div class="top-nav">
							<div class="user-avatar" style="background-image: url(img/user-visit.png)"></div>
							<div class="user-inform">
								<div class="user-name">
									<span>Марина</span>
									<a class="user-gear" href="#">
										<i class="icon icon-settings"></i>
									</a>
								</div>
								<div class="user-status">Посетитель событий</div>
							</div>
						</div>
						<ul>
							<li>
								<a href="#">
									<i class="icon icon-like"></i>
									<span>Избранное</span>
								</a>
							</li>
							<li>
								<a href="#" >
									<i class="icon icon-remind"></i>
									<span>Напоминания</span>
								</a>
							</li>
							<li class="active">
								<a href="#">
									<i class="icon icon-bonuses"></i>
									<span>Бонусы</span>
								</a>
							</li>
							<li>
								<a href="#">
									<i class="icon icon-ticket"></i>
									<span>Билеты</span>
								</a>
							</li>
							<li>
								<a href="#">
									<i class="icon icon-mail"></i>
									<span>Рассылка</span>
								</a>
							</li>
						</ul>
						
						<ul class="bottom-ul">
							<li>
								<a href="#">
									<i class="icon icon-support"></i>
									<span>Служба поддержки</span>
								</a>
							</li>
							<li>
								<a href="#">
									<i class="icon icon-exit"></i>
									<span>Выйти из кабинета</span>
								</a>
							</li>
						</ul>
					</div>
			</div>
			<div class="col-item main-content">
				<div class="desktop-main-content">
					<div class="wrap-top-title">
						<div class="back-button-mob">
							<a href="#">
								<img src="img/svg/mob-arrow-back.svg" alt="mob-arrow-back">
								<span>
									Назад
								</span>
							</a>
						</div>
						<div class="back-button">
							<a href="#">
								<img src="img/svg/pagination_arrow_left.svg" alt="pagination_arrow_left">
								<span>
									Назад
								</span>
							</a>
						</div>
						<div class="img-title">
							<img src="img/bonus-rub.svg" alt="bonus-rub">
							<h5>
								Купить бонусы
							</h5>
						</div>
					</div>
					<div class="wrap-bonus-description">
						<p>
							1 бонус = 1 рубль
						</p>
						
						<form action="" class='basic-information needs-validation' novalidate>
							<div class="wrap-bonus-information">
								<input class="count-bonus" type="number" name="bonus" placeholder="300" required>
								<h5>Бонусов</h5>
								<div class="panel-submit-bonus">
									<button class='btn-def' href="#" type="submit">
										Купить
									</button>
								</div>
							</div>
						</form>
						
						 <!-- 
						 <div class="buy-error">
							 <img src="img/svg/close-error.svg" alt="close-error">
							 <div class="text-error">
								 Что-то пошло не так. Оплата не прошла.
								 <a href="#">
								 	Попробуйте еще раз.
								</a>
							</div>
						</div>
						-->
						<!-- 
						 <div class="successful-payment">
							 <img src="img/svg/check_green_big.svg" alt="green_big">
							 <div class="text">
								Оплата прошла успешно. У вас <span>+300</span> балов
							 </div>
						 </div>
						  -->
					</div>
					<h5 class="buy mob-hidden">
						Способы оплаты
					</h5>
					<img class='mob-hidden' src="img/svg/payment-methods-img.svg" alt="">
					<div class="wrap-img">
						<h5 class="payment-methods-h5">
							Способы оплаты
						</h5>
						<img src="img/svg/payment-methods-img-mob_1.svg" alt="">
						<img src="img/svg/payment-methods-img-mob_2.svg" alt="">
						<img src="img/svg/payment-methods-img-mob_3.svg" alt="">
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!--_______ End.page-bonuses-accrual-rules _______-->