// .page-support-service
.page-support-service
	.container
		@media only screen and (max-width: 767px)
			padding: 0
	.title_list
		font-weight: bold
		font-size: 14px
		line-height: 21px
		color: #0E1F38
		padding: 12px 20px 0
		margin-bottom: 5px
		@media only screen and (min-width: 768px)
			display: none
	.main-content
		.desktop-main-content
			display: block
	.faq
		background: #FFFFFF
		box-shadow: 0px 2px 2px #E0E0E3
		border-radius: 3px
		display: flex
		@media only screen and (max-width: 767px)
			flex-direction: column
		.find-answer
			flex: 1 0 0
			padding: 30px
			border-right: 1px solid #E3E7F1
			@media only screen and (max-width: 767px)
				padding: 26px 20px 15px
			p
				font-size: 14px
				line-height: 16px
				color: #0E1F38
				padding-top: 19px
				margin-bottom: 11px
				margin-bottom: 14px
				@media only screen and (max-width: 767px)
					padding-top: 14px
					font-size: 12px
					line-height: 14px
					margin-bottom: 10px
			.search
				display: flex
				@media only screen and (max-width: 767px)
					margin: 0 0 10px
				input
					background: #FFFFFF
					border: 1px solid #E3E7F1
					border-right: 0 
					box-sizing: border-box
					border-radius: 3px
					padding: 8px 10px
				.btn-search
					padding: 9px
		.accordion
			padding-top: 22px
			@media only screen and (max-width: 767px)
				padding-top: 0
				padding-bottom: 11px
				border-bottom: 1px solid #E3E7F1
		.card
			border: none
			padding-bottom: 4px
			.card-header
				background: #fff
				border-bottom: transparent
				padding: 0
				h5
					width: 100%
					margin-right: 0
					padding-right: 0
					button
						width: 100%
				label
					margin-bottom: 17px
					@media only screen and (max-width: 767px)
						margin-bottom: 7px
			.card-body
				padding: 0 0 15px 44px
				font-size: 14px
				line-height: 20px
				color: #0E1F38
				@media only screen and (max-width: 767px)
					font-size: 12px
					line-height: 17px
					padding: 0 0 15px 27px

			.btn-collapsed
				display: flex
				align-items: flex-start
				cursor: pointer
				.plus
					display: none
				.minus
					display: block
					@media only screen and (max-width: 767px)
						width: 20px
						height: 20px
				span
					padding-left: 15px
					font-weight: bold
					color: #0E1F38
					@media only screen and (max-width: 767px)
						padding-left: 7px
						padding-top: 0px
						font-size: 12px
						line-height: 14px
				&.collapsed
					.plus
						display: block
						@media only screen and (max-width: 767px)
							width: 20px
							height: 20px
					.minus
						display: none
					span
						font-weight: normal
						color: #6C7583
						@media only screen and (max-width: 767px)
							padding-top: 0px
		.ask-question
			flex: 1 0 0
			padding: 30px
			@media only screen and (max-width: 767px)
				padding: 10px 23px
			.wrap-have
				display: flex
				align-items: center
				padding-top: 7px
				@media only screen and (max-width: 767px)
					padding-top: 18px
				p
					margin-bottom: 0
					margin-right: 31px
					@media only screen and (max-width: 767px)
						flex: 0 0 auto
				.wrap-content-mob
					width: 100%
					max-width: 143px
					@media only screen and (max-width: 767px)
						max-width: 100%
				.wrap-select
					width: 100%
					.select2-selection--single
						height: 35px
			.question-textarea
				font-weight: normal
				font-size: 14px
				line-height: 21px
				color: #A7B3BE
				margin-top: 14px
				height: 100%
				padding: 11px 13px
			.panel-submit
				padding-top: 19px
				@media only screen and (max-width: 767px)
					padding: 17px 0 10px
				button
					padding: 9px 15px
					@media only screen and (max-width: 767px)
						padding: 9px 19px	

	.wrap-steps
		.step
			display: flex
			align-items: center
			.die
				width: 60px
				height: 60px
				background: #F6F7F8
				border-radius: 50%
				flex: 0 0 auto
				display: flex
				align-items: center
				@media only screen and (max-width: 767px)
					width: 45px
					height: 45px
					background: $green-light-def
					
				p
					font-weight: bold
					font-size: 28px
					line-height: 60px
					color: #0E1F38
					margin-bottom: 0
					width: 100%
					text-align: center
					padding-top: 0
					@media only screen and (max-width: 767px)
						color: #fff
						font-size: 21px

			h5
				font-weight: bold
				font-size: 14px
				line-height: 16px
				color: #0E1F38
				margin: 0
				padding: 0
				padding-left: 19px
				flex-basis: auto
				@media only screen and (max-width: 767px)
					flex: 1 0 0
					padding: 8px 0 0px 15px
// /*End_.page-paid-services*/