<!--_______ .page-my-tickets _______-->
<div class="page-my-tickets page-create-new-event-step2 page-insert">
	<div class="container">
		<div class="row-wrap-main">
			<div class="col-item side-bar">
					<div class="side-bar-user side-bar-user_visitor">
						<div class="top-nav">
							<div class="user-avatar" style="background-image: url(img/user-visit.png)"></div>
							<div class="user-inform">
								<div class="user-name">
									<span>Марина</span>
									<a class="user-gear" href="#">
										<i class="icon icon-settings"></i>
									</a>
								</div>
								<div class="user-status">Посетитель событий</div>
							</div>
						</div>
						<ul>
							<li>
								<a href="#">
									<i class="icon icon-like"></i>
									<span>Избранное</span>
								</a>
							</li>
							<li>
								<a href="#" >
									<i class="icon icon-remind"></i>
									<span>Напоминания</span>
								</a>
							</li>
							<li >
								<a href="#">
									<i class="icon icon-bonuses"></i>
									<span>Бонусы</span>
								</a>
							</li>
							<li class="active">
								<a href="#">
									<i class="icon icon-ticket"></i>
									<span>Билеты</span>
								</a>
							</li>
							<li>
								<a href="#">
									<i class="icon icon-mail"></i>
									<span>Рассылка</span>
								</a>
							</li>
						</ul>
						
						<ul class="bottom-ul">
							<li>
								<a href="#">
									<i class="icon icon-support"></i>
									<span>Служба поддержки</span>
								</a>
							</li>
							<li>
								<a href="#">
									<i class="icon icon-exit"></i>
									<span>Выйти из кабинета</span>
								</a>
							</li>
						</ul>
					</div>
			</div>
			<div class="col-item main-content">
				<div class="desktop-main-content">
					<div class="wrap-table">
						<table class="tableSection">
							<thead>
								<th class="th_1">Дата покупки</th>
								<th class="th_2">Событие</th>
								<th class="th_3">Стоимость</th>
							</thead>
							<tbody>
								<tr> 
									<td>
										19 октября 23:03
									</td> 
									<td>
										Руки Вверх. 20 лет. Юбилейный тур
									</td>
									<td>
										200
										<div class="icon-block-shell">
											<div class="icon-block">
												<a href="img/ticket-preview-mob.jpg"  download>
													<img src="img/my-tickets/download.svg" alt="download">
													<!-- <i class="icon icon-settings"></i> -->
												</a>
												<a href="#" data-toggle="modal" data-target=".modal-mail">
													<img src="img/my-tickets/mail.svg" alt="mail">
													<!-- <i class="icon icon-delete"></i> -->
												</a>
												<a href="#">
													<img src="img/my-tickets/print.svg" alt="print">
													<!-- <i class="icon icon-delete"></i> -->
												</a>
											</div>
										</div>
										<a class="a-arrow"	href="#">
											<img src="img/svg/arrow_right.svg" alt="arrow_right">
										</a>
									</td>
								</tr>
								<tr> 
									<td>
										23 февраля 12:34
									</td> 
									<td>
										Standup. Виктор Комаров
									</td>
									<td>
										1400
										<div class="icon-block-shell">
											<div class="icon-block">
												<a href="img/ticket-preview-mob.jpg" download>
													<img src="img/my-tickets/download.svg" alt="download">
													<!-- <i class="icon icon-settings"></i> -->
												</a>
												<a href="#" data-toggle="modal" data-target=".modal-mail">
													<img src="img/my-tickets/mail.svg" alt="mail">
													<!-- <i class="icon icon-delete"></i> -->
												</a>
												<a href="#">
													<img src="img/my-tickets/print.svg" alt="print">
													<!-- <i class="icon icon-delete"></i> -->
												</a>
											</div>
										</div>
										<a class="a-arrow"	href="#">
											<img src="img/svg/arrow_right.svg" alt="arrow_right">
										</a>
									</td>
								</tr>
								<tr> 
									<td>
										28 января 12:03
									</td> 
									<td>
										Уральские Пельмени. Предновогоднее шоу
									</td>
									<td>
										300
										<div class="icon-block-shell">
											<div class="icon-block">
												<a href="img/ticket-preview-mob.jpg" download>
													<img src="img/my-tickets/download.svg" alt="download">
													<!-- <i class="icon icon-settings"></i> -->
												</a>
												<a href="#" data-toggle="modal" data-target=".modal-mail">
													<img src="img/my-tickets/mail.svg" alt="mail">
													<!-- <i class="icon icon-delete"></i> -->
												</a>
												<a href="#">
													<img src="img/my-tickets/print.svg" alt="print">
													<!-- <i class="icon icon-delete"></i> -->
												</a>
											</div>
										</div>
										<a class="a-arrow"	href="#">
											<img src="img/svg/arrow_right.svg" alt="arrow_right">
										</a>
									</td>
								</tr>
								<tr> 
									<td>
										08 марта 19:54
									</td> 
									<td>
										Илья Авербух. 15 лет успеха
									</td>
									<td>
										250
										<div class="icon-block-shell">
											<div class="icon-block">
												<a href="img/ticket-preview-mob.jpg" download>
													<img src="img/my-tickets/download.svg" alt="download">
													<!-- <i class="icon icon-settings"></i> -->
												</a>
												<a href="#" data-toggle="modal" data-target=".modal-mail">
													<img src="img/my-tickets/mail.svg" alt="mail">
													<!-- <i class="icon icon-delete"></i> -->
												</a>
												<a href="#">
													<img src="img/my-tickets/print.svg" alt="print">
													<!-- <i class="icon icon-delete"></i> -->
												</a>
											</div>
										</div>
										<a class="a-arrow"	href="#">
											<img src="img/svg/arrow_right.svg" alt="arrow_right">
										</a>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				<div class="mobile-main-content">
					<div class="wrap-top-select">
						<h5>
							Мои билеты
						</h5>
					</div>
					<div class="mobSection">
						<ul>
							<li class="event-item">
								<div class="event-inform event-inform-short">
									<div class="event-part">
										<div class="event-icon"><img src="img/event/event_1.jpg" alt="event_1"></div>	
										<div class="event-text">
											<div class="event-date">19 октября 20:00</div>
											<div class="event-top-text">Руки Вверх. 20 лет. Юбилейный тур</div>
											<div class="event-status">
												<div class="icon icon-ticket-2"></div>
												500 бонусов
											</div>
										</div>
									</div>
								</div>
								<div class="event-description event-inform-more">
									<div class="event-btn-back">
										<img src="img/svg/mob-arrow-back.svg" alt="arrow_back">
										<span class="text-back">Все билеты</span>
									</div>
									<div class="ticket-events">
										<a class='download' href="img/ticket-preview-mob.jpg" download>
											<i class="icon icon-download"></i>
											<!-- <img src="img/svg/download.svg" alt="download"> -->
											<span>Скачать</span>
										</a>
										<a class='direct' href="#" data-toggle="modal" data-target=".modal-mail">
											<i class="icon icon-mail"></i>
											<!-- <img src="img/svg/direct-mob.svg" alt="direct"> -->
											<span>Отправить на почту/тел.</span>
										</a>
										<a class='print' href="#">
											<i class="icon icon-print"></i>
											<!-- <img src="img/svg/print.svg" alt="print"> -->
											<span>Распечатать</span>
										</a>
									</div>
									<div class="modal-body">
										<img src="img/screenshot.svg" alt="screenshot">
									</div>
								</div>
								<div class="event-btn-more">
									<img src="img/svg/arrow_right.svg" alt="arrow_right">
								</div>
							</li>
							<li class="event-item">
								<div class="event-inform event-inform-short">
									<div class="event-part">
										<div class="event-icon"><img src="img/event/event_2.jpg" alt="event_2"></div>	
										<div class="event-text">
											<div class="event-date">21 февраля 18:30</div>
											<div class="event-top-text">
												Уральские Пельмени. Предновогоднее шоу
											</div>
											<div class="event-status">
												<div class="icon icon-ticket-2"></div>
												2000 бонусов
											</div>
										</div>
									</div>
								</div>
								<div class="event-description event-inform-more">
									<div class="event-btn-back">
										<img src="img/svg/mob-arrow-back.svg" alt="arrow_back">
										<span class="text-back">Все билеты</span>
									</div>
									<div class="ticket-events">
										<a class='download' href="img/ticket-preview-mob.jpg" download>
											<i class="icon icon-download"></i>
											<!-- <img src="img/svg/download.svg" alt="download"> -->
											<span>Скачать</span>
										</a>
										<a class='direct' href="#" data-toggle="modal" data-target=".modal-mail">
											<i class="icon icon-mail"></i>
											<!-- <img src="img/svg/direct-mob.svg" alt="direct"> -->
											<span>Отправить на почту/тел.</span>
										</a>
										<a class='print' href="#">
											<i class="icon icon-print"></i>
											<!-- <img src="img/svg/print.svg" alt="print"> -->
											<span>Распечатать</span>
										</a>
									</div>
									<div class="modal-body">
										<img src="img/screenshot.svg" alt="screenshot">
									</div>
								</div>
								<div class="event-btn-more">
									<img src="img/svg/arrow_right.svg" alt="arrow_right">
								</div>
							</li>
							<li class="event-item">
								<div class="event-inform event-inform-short">
									<div class="event-part">
										<div class="event-icon"><img src="img/event/event_3.jpg" alt="event_3"></div>	
										<div class="event-text">
											<div class="event-date">
												08 января 15:00
											</div>
											<div class="event-top-text">
												Standup. Виктор Комаров
											</div>
											<div class="event-status">
												<div class="icon icon-ticket-2"></div>
												800 бонусов
											</div>
										</div>
									</div>
								</div>
								<div class="event-description event-inform-more">
									<div class="event-btn-back">
										<img src="img/svg/mob-arrow-back.svg" alt="arrow_back">
										<span class="text-back">Все билеты</span>
									</div>
									<div class="ticket-events">
										<a class='download' href="img/ticket-preview-mob.jpg" download>
											<i class="icon icon-download"></i>
											<!-- <img src="img/svg/download.svg" alt="download"> -->
											<span>Скачать</span>
										</a>
										<a class='direct' href="#" data-toggle="modal" data-target=".modal-mail">
											<i class="icon icon-mail"></i>
											<!-- <img src="img/svg/direct-mob.svg" alt="direct"> -->
											<span>Отправить на почту/тел.</span>
										</a>
										<a class='print' href="#">
											<i class="icon icon-print"></i>
											<!-- <img src="img/svg/print.svg" alt="print"> -->
											<span>Распечатать</span>
										</a>
									</div>
									<div class="modal-body">
										<img src="img/screenshot.svg" alt="screenshot">
									</div>
								</div>
								<div class="event-btn-more">
									<img src="img/svg/arrow_right.svg" alt="arrow_right">
								</div>
							</li>
							<li class="event-item">
								<div class="event-inform event-inform-short">
									<div class="event-part">
										<div class="event-icon"><img src="img/event/event_4.jpg" alt="event_4"></div>	
										<div class="event-text">
											<div class="event-date">
												23 января 15:00
											</div>
											<div class="event-top-text">
												Илья Авербух. 15 лет успеха
											</div>
											<div class="event-status">
												<div class="icon icon-ticket-2"></div>
												1500 бонусов
											</div>
										</div>
									</div>
								</div>
								<div class="event-description event-inform-more">
									<div class="event-btn-back">
										<img src="img/svg/mob-arrow-back.svg" alt="arrow_back">
										<span class="text-back">Все билеты</span>
									</div>
									<div class="ticket-events">
										<a class='download' href="img/ticket-preview-mob.jpg" download>
											<i class="icon icon-download"></i>
											<!-- <img src="img/svg/download.svg" alt="download"> -->
											<span>Скачать</span>
										</a>
										<a class='direct' href="#" data-toggle="modal" data-target=".modal-mail">
											<i class="icon icon-mail"></i>
											<!-- <img src="img/svg/direct-mob.svg" alt="direct"> -->
											<span>Отправить на почту/тел.</span>
										</a>
										<a class='print' href="#">
											<i class="icon icon-print"></i>
											<!-- <img src="img/svg/print.svg" alt="print"> -->
											<span>Распечатать</span>
										</a>
									</div>
									<div class="modal-body">
										<img src="img/screenshot.svg" alt="screenshot">
									</div>
								</div>
								<div class="event-btn-more">
									<img src="img/svg/arrow_right.svg" alt="arrow_right">
								</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
			
			<!-- modal-del -->
			<div class="modal modal-mail fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
				<div class="modal-dialog modal-dialog-centered" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="exampleModalLongTitle">
							Отправить билет на
						</h5>
						<button type="button" class="btn-close-modal" data-dismiss="modal" aria-label="Close">
							<img src="img/close.svg" alt="">
						</button>
					</div>
					<form class="needs-validation" novalidate>
						<div class="modal-body">
							<div class="form-group">
								<input type="email" class="form-control" id="validationCustom03" aria-describedby="emailHelp"
									placeholder="Email или телефон" required>
								<div class="invalid-feedback">
									Неправильно введен email, телефон или пароль
								</div>
							</div>
						</div>
						<div class="modal-footer">
							<button type="submit" class="btn-def">Отправить</button>
						</div>
					</form>
				</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!--_______ End.page-my-tickets _______-->