// .page-my-tickets
.page-my-tickets
	.main-content
		@media screen and (max-width: 767px)
			width: 100%
	.desktop-main-content
		display: none
		@media screen and (min-width: 768px)
			display: block
	.mobile-main-content
		display: none
		@media screen and (max-width: 767px)
			display: block
		h5
			font-weight: bold
			font-size: 14px
			line-height: 21px
			color: #0E1F38
			padding-top: 16px
			margin-bottom: 14px
			@media screen and (max-width: 767px)
				padding-top: 13px
				margin-bottom: 3px
		.event-date
			font-size: 12px
			line-height: 14px
			color: #a7b3be
		.event-status
			display: flex
			align-items: center
			font-size: 12px
			line-height: 14px
			color: #6C7583
			margin-top: -10px
			margin-left: -5px
			.icon
				font-size: 33px
				color: $green-light-def
		.wrap-event-part
			@media screen and (max-width: 767px)
				padding: 14px 20px 0
				border: 0
		.event-btn-back
			background: #F4F4F5
		.event-part
			padding-bottom: 0
			@media screen and (max-width: 767px)
				padding-bottom: 15px
		.event-text
			justify-content: flex-start
		.modal-body
			@media screen and (max-width: 767px)
				padding: 0 
		.select2-container
			@media screen and (max-width: 767px)
				margin-bottom: 0
		.select2-selection--single
			height: 35px
		.select2-selection__rendered
			white-space: nowrap
			overflow: hidden
			text-overflow: ellipsis
			color: $black
		.tel-event
			height: 35px
			&::placeholder
				color: $black
				font-size: 14px
		.wrap-select
			margin-bottom: 20px
		.tel-event
			@media screen and (max-width: 767px)
				font-size: 14px
				line-height: 21px
				color: #0E1F38
		.modal-footer
			border-top: 0
			justify-content: center
			padding: 19px 20px 49px
			& > :not(:last-child)
				margin-right: 10px
			& > :not(:first-child)
				margin-left: 10px
		.btn-def
			width: 112px
			padding: 10px 5px 8px
		.btn-def_gray
			width: 100px
			@media screen and (max-width: 767px)
				border: 1px solid $error
				color: $error
	.wrap-table
		.tableSection
			.th_1
				width: 19%
			.th_2
				width: 52%
			.th_3
				width: 32%

			th
				padding-left: 15px
				padding: 16px 5px 13px 13px
			td
				padding: 18px 15px
			tr
				&:last-child
					td
						padding-bottom: 18px
			.icon-block-shell
				.icon-block
					a
						margin-right: 25px
					a:last-child
						margin-right: 25px
					a:first-child
						margin-left: 25px
	.event-inform-more
		background: #f4f4f5
		z-index: 1000

.modal-mail
	.modal-dialog
		max-width: 440px
		@media (min-width: 576px)
			// margin: 45px auto //потом убрать
	.modal-dialog-centered
		// align-items: flex-start //потом убрать
	.modal-content
		background: #FFFFFF
		box-shadow: 0px 15px 35px rgba(74, 75, 80, 0.25)
		border-radius: 3px
	.modal-header
		padding-top: 37px
		padding-bottom: 12px
	.modal-title
		font-weight: bold
		font-size: 24px
		line-height: 33px
		text-align: center
		color: #0E1F38
	.modal-footer
		border-top: 0
		justify-content: center
		padding: 16px 20px 49px
		& > :not(:last-child)
    		margin-right: 10px
		& > :not(:first-child)
			margin-left: 10px
	.btn-def
		width: 112px
		padding: 10px 5px 8px
	.btn-def_gray
		width: 100px
	.select-top
		display: flex
		align-items: center
		margin-bottom: 15px
		h5
			font-weight: bold
			font-size: 14px
			line-height: 16px
			color: #6C7583
			margin-bottom: 0
		.wrap-select
			width: 100%
			padding-left: 17px
	.modal-body
		padding: 17px 80px
		.wrap-select
			display: block
			width: 100%
			max-width: 188px
			.select2-container
				margin-bottom: 0
				line-height: 30px
			.select2-selection__rendered
				white-space: nowrap
				overflow: hidden
				text-overflow: ellipsis
				color: $black
		.tel-event
			height: 35px
			&::placeholder
				color: $black
	.modal-footer
		padding: 0px 20px 49px





.ticket-events
	padding: 19px 50px
	border-bottom: 1px solid #E3E7F1
	display: flex
	align-items: center
	@media screen and (max-width: 767px)
		padding: 19px 20px
		justify-content: space-between
		align-items: stretch
		background: #f4f4f5
	a
		margin-right: 23px
		display: flex
		align-items: center
		@media screen and (max-width: 767px)
			margin-right: 0
			box-sizing: border-box
			width: calc(1/2*100% - (1 - 1/2)*10px)
		img
			margin-right: 2px
			@media screen and (max-width: 767px)
				margin-right: 9px
	.download,
	.direct,
	.print
		i
			color: $green-light-def
			margin-right: 7px
			@media screen and (max-width: 767px)
				margin-right: 10px
		@media screen and (max-width: 767px)
			background: #FFFFFF
			box-shadow: 0px 2px 2px #E0E0E3
			border-radius: 3px
			font-size: 12px
			line-height: 14px
			color: $black
			padding: 12px 10px 14px 15px
			display: flex
			align-items: center
	.download
		i
			font-size: 24px
	.direct
		i
			font-size: 17px
			@media screen and (max-width: 767px)
				margin-right: 6px
				font-size: 21px
		@media screen and (max-width: 767px)
			padding: 11px 10px 11px 13px
	.print
		i
			font-size: 23px
		@media screen and (max-width: 767px)
			display: none





// /*End_.page-my-tickets*/