// .page-personal-data
.wrap-foto-crop
	position: relative
	border-radius: 50%
	.my-form-personal
		display: flex
		width: 100%
		height: 100%
		border-radius: 50% 
		.wrap-img
			position: absolute
			width: 100%
			height: 100%
			border-radius: 50% 
			display: flex
			flex-direction: column
			margin: auto
			align-items: center
			justify-content: center 
			transition: all 0.3s linear
			cursor: pointer
			p
				font-weight: bold
				font-size: 14px
				line-height: 21px
				color: #A7B3BE
				margin-top: 10px
				margin-bottom: 5px
				transition: all 0.3s linear
			svg path 
				transition: all 0.3s linear
		&:hover 
			.wrap-img
				p
					color: $green-light-def
				svg path 
					fill: $green-light-def
		&.active
			.wrap-img
				opacity: 0
			&:hover
				.wrap-img
					opacity: 1
					background: rgba(14, 31, 56, .7)
					svg path, p 
						fill: #fff
						color: #fff
	label
		margin-bottom: 0
		position: relative
		display: table
		margin: 50px auto 20px
		@media screen and (max-width: 767px)
			margin: 40px auto 28px

	.foto-crop
		width: 180px
		height: 180px
		border-radius: 50%
		img
			width: 100%
			border-radius: 50%
.verification-passed
	font-size: 14px
	line-height: 21px
	color: #0E1F38
	position: relative
	text-align: center
	@media screen and (max-width: 767px)
		padding-left: 20px
		text-align: left
		margin-bottom: 21px
	img
		width: 19px
		height: 15px
		@media screen and (max-width: 767px)
			margin-left: 0
.page-personal-data
	.container
		@media screen and (max-width: 767px)
			padding: 0
	.side-bar-user
		.add-event
			display: none
	.main-content
		display: flex
		flex-direction: column
		@media screen and (max-width: 767px)
			padding-top: 7px
		h2
			font-weight: bold
			font-size: 14px
			line-height: 16px
			color: #0E1F38
			padding-top: 40px
			margin-bottom: 15px
		.desktop-main-content
			display: flex
			height: 100%
		.wrap-top-select
			padding-left: 20px
			padding-right: 20px
			@media screen and (max-width: 767px)
				padding-bottom: 6px
			h5
				width: 100%
			@media screen and (min-width: 768px)
				display: none

	.wrap-content
		background: #FFF
		box-shadow: 0px 2px 2px #E0E0E3
		border-radius: 3px
		display: flex
		justify-content: flex-start
		@media screen and (max-width: 767px)
			flex-direction: column
			align-items: center
			width: 100%
		.upload-photo
			box-sizing: border-box
			width: 266px

		.personal-data
			box-sizing: border-box
			width: 222px
			@media screen and (max-width: 550px)
				width: 100%
				padding: 0 20px
			h2
				@media screen and (max-width: 767px)
					display: none
			input
				padding: 9px 10px 7px
				margin-bottom: 20px
				&::placeholder
					@media screen and (max-width: 767px)
						font-size: 14px
						line-height: 30px
						display: flex
						align-items: center
						color: #0E1F38

			.wrap-select
				width: 100%
				padding-bottom: 12px
				.select2-selection--single
					.select2-selection__rendered
						padding-left: 10px
						@media screen and (max-width: 767px)
							font-size: 14px
							line-height: 30px
							display: flex
							align-items: center
							color: #0E1F38

			.panel-submit
				display: flex
				justify-content: space-between
				padding-bottom: 20px
				.btn-def
					padding: 9px 0
					box-sizing: border-box
					width: calc(1/2*100% - (1 - 1/2)*13px)
					@media screen and (max-width: 767px)
						width: calc(1/2*100% - (1 - 1/2)*70px)
				.btn-def_transparent
					min-width: auto
			.basic-information
				@media screen and (max-width: 767px)
					border-bottom: 1px solid #E3E7F1
					padding-bottom: 19px
		.linked-accounts
			box-sizing: border-box
			width: auto
			padding-left: 56px
			padding-right: 10px
			@media screen and (max-width: 767px)
				padding-left: 20px
				padding-right: 20px
			&__p
				font-size: 14px
				line-height: 21px
				color: #6C7583
				margin-top: -4px
				display: inline-block
				padding-left: 10px
				margin-bottom: 16px
				@media screen and (max-width: 767px)
					padding-left: 0
		.social-contact
			.wrap-input
				margin-bottom: 19px
				display: flex
				align-items: center
				a
					width: 34px
					height: 34px
					background: #9E9E9E
					border-radius: 50%
					display: flex
					align-content: center
					justify-content: center
					i
						width: 34px
						height: 34px
						color: #fff
						font-size: 19px
						line-height: 34px
						border-radius: 50%
						text-align: center 
				button
					padding: 9px 0 8px
					min-width: auto
					width: 100%
					max-width: 100px
					margin-left: 19px
				.pers
					margin-bottom: 0
					display: none
					color: #0E1F38
					padding-left: 19px
				.untie
					display: none
				&.active
					.snap
						display: none
					.pers
						display: block
					.untie
						display: block
					.icon-vk
							background: #4D76A1
					.icon-facebook
							background: #3A589B
					.icon-google-plus
							background: #E3411F


	// .crop-modal
	.modal-dialog
		@media (min-width: 576px)
			// max-width: 788px
			margin: 8rem auto
		.modal-header
			padding-top: 27px
			padding-bottom: 2px
		.modal-title
			text-align: left
			font-weight: bold
			font-size: 14px
			line-height: 16px
			color: #0E1F38
		.modal-body
			padding-bottom: 4px
		.modal-footer
			justify-content: center
			.btn-def
				padding: 9px 20px
		.close
			width: 30px
			height: 30px
			padding: 0
			margin: 0
			border: 1px solid #212942
			border-radius: 50%
			display: flex
			position: absolute
			right: -13px
			top: -12px
			opacity: 1
			color: #6C7583
			background: #212942 url('../img/svg/close-white.svg') no-repeat center
			@media screen and (max-width: 767px)
				display: block
				top: -18px
				right: 19px
				width: 25px
				height: 25px
		.cropper-wrap-box
			border-radius: 3px
		.cropper-view-box
			outline: 1px solid $green-def
			outline-color: $green-def
		.cropper-dashed.dashed-h
			border-bottom-width: 0
			border-top-width: 0
		.cropper-dashed.dashed-v
			border-left-width: 0
			border-right-width: 0
		.cropper-center
			display: none
		.cropper-line
			background-color: $green-def
		.crop-modal
			background-color: $green-def
		.cropper-point
			background-color: $green-light-def
			height: 25px
			opacity: 1
			width: 8px
			border-radius: 3px
			&.point-e
				cursor: we-resize
				margin-top: 0
				top: 50%
				right: 0px
				transform: translate( 50%, -50%)
			&.point-n
				cursor: ns-resize
				top: 0
				margin-left: 0
				left: 50%
				transform: translate( -50%, -50%) rotate(90deg)
			&.point-w
				cursor: we-resize
				margin-top: 0
				top: 50%
				left: 0px
				transform: translate( -50%, -50%)
			&.point-s
				cursor: ns-resize
				bottom: 0
				margin-left: 0
				left: 50%
				transform: translate(-50%, 50%) rotate(90deg)
			&.point-ne
				width: 25px
				height: 25px
				background: url(../img/svg/corner.svg)
				top: -4px
				right: -4px
				transform: rotate(90deg)
				border-radius: 0
			&.point-nw
				width: 25px
				height: 25px
				background: url(../img/svg/corner.svg)
				top: -4px
				left: -4px
				transform: rotate(0deg)
				border-radius: 0
			&.point-sw
				width: 25px
				height: 25px
				background: url(../img/svg/corner.svg)
				bottom: -4px
				left: -4px
				transform: rotate(-90deg)
				border-radius: 0
			&.point-se
				width: 25px
				height: 25px
				background: url(../img/svg/corner.svg)
				bottom: -4px
				right: -4px
				transform: rotate(-180deg)
				border-radius: 0

// /*End_.page-personal-data*/