// .page-support-service_2
.page-support-service_2
	.basic-information 
		position: relative
		.wrap-overlay
			display: flex
			flex-direction: column
			align-items: flex-start
			justify-content: center
		.overlay-form
			position: absolute
			top: 0
			right: 0
			bottom: 0
			left: 0
			background: #fff
			z-index: 1
			display: flex
			.wishes
				display: flex
				align-items: flex-start
				img
					width: 19px
					height: 15px
					flex: 0 0 auto
					margin-right: 13px
				h2
					padding: 0
					margin: 0
					font-weight: bold
					font-size: 14px
					line-height: 21px
			p
				padding-left: 33px
				font-size: 14px
				line-height: 21px
				color: #6C7583	
			.btn-def
				margin-left: 33px
				display: flex
				justify-content: flex-start
		.panel-submit
			&.hidden
				display: none
		.form-control:focus
			box-shadow: none
			
									
// /*End_.page-paid-services*/