// .page-ticket-check
.page-ticket-check
	.side-bar-user
		ul
			.add-event
				display: none
	.main-content
		@media only screen and (max-width: 767px)
			padding-top: 0
		.wrap-top-select
			padding-bottom: 10px
			@media only screen and (max-width: 767px)
				padding-bottom: 10px
				margin: 0 -20px
				padding: 0 20px
				background: #fff
				padding-bottom: 15px
			h5
				display: none
				@media only screen and (max-width: 767px)
					display: block
					margin-right: 0
					padding-right: 0
					width: auto
					padding-top: 20px
					padding-bottom: 12px
		.wrap-select
			// width: 100%
			width: calc(1/2*100% - (1 - 1/2)*24px)
			@media only screen and (max-width: 767px)
				width: 100%
		.f-child
			flex: 0 2 auto
			margin-right: 24px
			@media only screen and (max-width: 767px)
				flex: 0 0 auto
				margin-bottom: 10px
		.l-child
			flex: 0 4 auto
			@media only screen and (max-width: 767px)
				flex: 0 0 auto
				margin-bottom: 10px
	.download-right
		display: flex
		align-items: center
		@media only screen and (max-width: 767px)
			margin-left: auto
		h6
			padding-right: 14px
			padding-left: 26px
			font-size: 14px
			line-height: 21px
			color: #A7B3BE
			margin-bottom: 0
			@media only screen and (max-width: 767px)
				padding-left: 5px
				padding-right: 4px

		a
			width: 30px
			height: 26px
			margin-right: 14px
			@media only screen and (max-width: 767px)
				height: 30px
				margin-right: 4px
			&:last-child
				margin-right: 0
	.slelect-right
		padding-left: 36px
		h6
			font-size: 14px
			line-height: 21px
			color: #A7B3BE
			flex: 0 0 auto
			margin-bottom: 0
			padding-right: 13px
	.select2
		margin-bottom: 0
		.select2-selection--single
			.select2-selection__rendered
				padding-left: 12px
				font-size: 12px

				white-space: nowrap
				overflow: hidden
				text-overflow: ellipsis
				@media only screen and (max-width: 767px)
					line-height: 30px
	.box
		display: flex
		align-items: flex-start
		@media only screen and (max-width: 767px)
			width: 100%
		.wrap-input
			position: relative
			@media only screen and (max-width: 767px)
				width: 100%
			input
				width: 100%
				box-sizing: border-box
				border: 1px solid #E3E7F1
				padding-right: 29px
				@media only screen and (max-width: 767px)
					padding-left: 10px
			input[type="search"]
				outline-offset: 0
				box-shadow: 0
				outline: none
				@media only screen and (max-width: 767px)
					height: 30px
				&:focus
					outline: none
					box-shadow: none
			.wrap-icon
				position: absolute
				top: 50%
				transform: translate(-50%, -50%)
				cursor: pointer
				right: 6px
				width: 15px
				height: 15px
				@media only screen and (max-width: 767px)
					right: 0
				.icon-search
					font-size: 15px
					&::before
						color: #D2D3DB
		.btn-filter
			margin-left: 10px
			position: relative
			width: 27px
			height: 34px
			flex: 0 0 auto
			@media only screen and (max-width: 767px)
				margin-left: 0
			img
				position: relative
				top: 2px
				left: -2px
				width: 15px
				height: 34px
				@media only screen and (max-width: 767px)
					width: 19px
					height: 26px
			.txt-a
				font-weight: bold
				font-size: 12px
				line-height: 1em
				color: #A7B3BE
				position: absolute
				top: 0
				right: 0
				@media only screen and (max-width: 767px)
					top: 2px
					right: 0px
			.txt-z
				font-weight: bold
				font-size: 12px
				line-height: 1em
				color: #A7B3BE
				position: absolute
				bottom: -3px
				right: 0
				@media only screen and (max-width: 767px)
					bottom: 4px
    				right: 0px
			&.active
				img
					transform: rotate(180deg)
				.txt-a
					top: auto
					bottom: -3px
					right: 0
					@media only screen and (max-width: 767px)
						bottom: 4px
						right: 0px
				.txt-z
					bottom: auto
					top: 2px
					right: 0
					@media only screen and (max-width: 767px)
						top: 2px
						right: 0px
	table
		&.tableSection
			tr
				&:first-child
					td
						padding: 20px 5px 10px 18px
						@media only screen and (max-width: 1100px)
							padding: 20px 10px 10px
				&:last-child
					td
						padding: 10px 5px 30px 18px
						@media only screen and (max-width: 1100px)
							padding: 10px 10px 30px
			.th_1
				width: 27.4%
				padding-right: 18px
			.th_2
				width: 17%
			.th_3
				width: 14.5%
			.th_4
				width: 11.5%
			.th_5
				width: 7.5%
			.th_6
				width: 9.5%
			th
				padding: 18px 6px 11px 20px
				width: auto		
				vertical-align: sub
				font-size: 14px
				line-height: 16px
				border-right: 1px solid #ECECF0
				border-bottom: 1px solid #ECECF0
				padding: 18px 6px 11px 20px
				@media only screen and (max-width: 1100px)
					padding: 18px 5px 11px
				&:last-child
					border-right: 0

			td
				border-top: 0
				border-right: 1px solid #ECECF0
				padding: 10px 5px 9px 18px
				@media only screen and (max-width: 1100px)
					padding: 10px 10px 9px
				&:last-child
					border-right: 0
			.icon-block-shell
				.icon-block
					a
						margin: 0 20px 0 15px
						i
							font-size: 36px
						span
							font-family: Roboto
							font-style: normal
							font-weight: normal
							font-size: 14px
							line-height: 16px
							color: #00660A
	.wrap-event-part
		padding: 0
		border: none
		display: flex
		align-items: flex-start
		justify-content: space-between
		padding: 16px 0 18px
		.event-part
			width: calc(1/2*100% - (1 - 1/2)*0px)
			display: flex
			flex-direction: column
			padding: 0
			.full-name
				font-weight: bold
				font-size: 14px
				line-height: 16px
				color: #0E1F38
			.purchase
				font-size: 12px
				line-height: 16px
				color: #A7B3BE
		.sector-mob
			width: calc(1/2*100% - (1 - 1/2)*25px)
			.selected-sector
				font-weight: bold
				font-size: 12px
				line-height: 14px
				color: #6C7583
			.range
				font-weight: normal
				font-size: 12px
				line-height: 14px
				color: #6C7583
	.mobSection
		padding-bottom: 0
		margin-bottom: 20px
	.event-btn-more
		top: 23px
	.pagination
		@media only screen and (max-width: 767px)
			display: none
	.btn-more-customers
		display: none
		@media only screen and (max-width: 767px)
			display: table
			margin: 0 auto
			padding: 6px 55px
			@media only screen and (max-width: 420px)
				display: block
				padding: 6px 5px

// /*End_.page-ticket-check*/