<!--_______ .page-ticket-check _______-->
<div class="page-event-statistic page-ticket-check page-insert">
	<div class="container">
		<div class="row-wrap-main">
			<div class="col-item side-bar">
				<div class="side-bar-user">
					<div class="top-nav">
						<div class="user-avatar" style="background-image: url(img/user-avatar.jpg)"></div>
						<div class="user-inform">
							<div class="user-name">
								<span>Вячеслав</span>
								<a class="user-gear" href="#">
									<i class="icon icon-settings"></i>
								</a>
							</div>
							<div class="user-status">Организатор</div>
						</div>
					</div>

					<ul>
						<li>
							<a href="#">
								<i class="icon icon-developments"></i>
								<span>
									События и статистика
								</span>
								<button class="add-event"><img src="img/svg/plus.svg" alt="plus"></button>
							</a>
						</li>
						<li>
							<a href="#">
								<i class="icon icon-bd"></i>
								<span>База клиентов</span>
							</a>
						</li>
						<li class="active">
							<a href="#">
								<i class="icon icon-ticket"></i>
								<span>Проверка билетов</span>
							</a>
						</li>
						<li>
							<a href="#">
								<i class="icon icon-paid--services"></i>
								<span>Платные услуги</span>
							</a>
						</li>
					</ul>
					
					<ul>
						<li>
							<a href="#">
								<i class="icon icon-support"></i>
								<span>
									Служба поддержки
								</span>
							</a>
						</li>
						<li>
							<a href="#">
								<i class="icon icon-exit"></i>
								<span>Выйти из кабинета</span>
							</a>
						</li>
					</ul>
				</div>
			</div>
			<div class="col-item main-content">
				<div class="desktop-main-content">
					<div class="wrap-top-select">
						<h5>
							Показать события
						</h5>
						<!-- <a href="#" class="btn-def btn-create-event">Создать событие</a> -->
						<div class="wrap-select f-child">
							<select  class="select event-select">
								<option>Событие</option>
								<option>Кино</option>
								<option>Концерты</option>
								<option>Вечеринки</option>
								<option>Театры</option>
								<option>Детям</option>
								<option>Бизнес</option>
								<option>Спорт</option>
								<option>Активный отдых</option>
								<option>Обучение</option>
							</select>
						</div>
						<div class="wrap-select l-child">
							<select  class="select select_all_city">
								<option>Все города</option>
								<option>Санкт-Петербург</option>
								<option>Москва</option>
								<option>Уфа</option>
								<option>Казань</option>
							</select>
						</div>
						<div class="download-right">
							<h6>
								Скачать
							</h6>
							<a href="#">
								<img src="img/svg/xls.svg" alt="xls">
							</a>
							<a href="#">
								<img src="img/svg/txt.svg" alt="txt">
							</a>
						</div>
						<div class="slelect-right">
							<h6>
								Выводить по
							</h6>
							<div class="wrap-select">
								<select class="select">
									<option>20</option>
									<option>50</option>
									<option>100</option>
									<option>200</option>
								</select>
							</div>
						</div>
					</div>
					<table class="tableSection">
						<thead>
							<th class="th_1">
								<div class="box">
									<div class="wrap-input">
										<input type="search" id="search" placeholder="ФИО клиента" />
										<span class="wrap-icon"><i class="icon icon-search"></i></span>
									</div>
									<a href="#">
										<div class="btn-filter">
											<img src="img/svg/filterAB.svg" alt="">
											<div class="txt-a">
												А
											</div>
											<div class="txt-z">
												Я
											</div>
										</div>
									</a>
								</div>
							</th>
							<th class="th_2">
								Дата покупки
							</th>
							<th class="th_3">Цена билета (бонусов)</th>
							<th class="th_4">Сектор</th>
							<th class="th_5">Ряд</th>
							<th class="th_6">Место</th> 
							<th class="th_7"></th> 
						</thead>	 
						<tr> 
							<td>
								Демидов Искандер 
							</td> 
							<td>
								<div class="purchase">
									8 марта
								</div>
							</td>
							<td>
								<div class="t-price">
									800
								</div>
							</td>
							<td>
								<div class="sector">
									танцпол
								</div>
							</td>
							<td>
								<div class="range">
									-
								</div>
							</td>
							<td>
								<div class="spot">
									-
								</div>
							</td>
							<td>
								<div class="Left-tickets empty">
								</div>
								<div class="icon-block-shell">
									<div class="icon-block">
										<a href="#">
											<i class="icon icon-ticket-2"></i>
											<span>Билет</span>
										</a>
									</div>
								</div>
							</td>
						</tr>
						<tr> 
							<td>
								Воликов Януарий
							</td> 
							<td>
								<div class="purchase">
									18 марта 
								</div>
							</td>
							<td>
								<div class="t-price">
									1200
								</div>
							</td>
							<td>
								<div class="sector">
									сектор B
								</div>
							</td>
							<td>
								<div class="range">
									6
								</div>
							</td>
							<td>
								<div class="spot">
									12
								</div>
							</td>
							<td>
								<div class="Left-tickets empty">
								</div>
								<div class="icon-block-shell">
									<div class="icon-block">
										<a href="#">
											<i class="icon icon-ticket-2"></i>
											<span>Билет</span>
										</a>
									</div>
								</div>
							</td>
						</tr>
						<tr> 
							<td>
								Переверзев Фархад
							</td> 
							<td>
								<div class="purchase">
									17 марта
								</div>
							</td>
							<td>
								<div class="t-price">
									800
								</div>
							</td>
							<td>
								<div class="sector">
									танцпол
								</div>
							</td>
							<td>
								<div class="range">
									-
								</div>
							</td>
							<td>
								<div class="spot">
									-
								</div>
							</td>
							<td>
								<div class="Left-tickets empty">
								</div>
								<div class="icon-block-shell">
									<div class="icon-block">
										<a href="#">
											<i class="icon icon-ticket-2"></i>
											<span>Билет</span>
										</a>
									</div>
								</div>
							</td>
						</tr>
						<tr> 
							<td>
								Ивакин Адриан 
							</td> 
							<td>
								<div class="purchase">
									17 марта
								</div>
							</td>
							<td>
								<div class="t-price">
									800
								</div>
							</td>
							<td>
								<div class="sector">
									танцпол
								</div>
							</td>
							<td>
								<div class="range">
									-
								</div>
							</td>
							<td>
								<div class="spot">
									-
								</div>
							</td>
							<td>
								<div class="Left-tickets empty">
								</div>
								<div class="icon-block-shell">
									<div class="icon-block">
										<a href="#">
											<i class="icon icon-ticket-2"></i>
											<span>Билет</span>
										</a>
									</div>
								</div>
							</td>
						</tr>
						<tr> 
							<td>
								Зыкин Борислав 
							</td> 
							<td>
								<div class="purchase">
									17 марта
								</div>
							</td>
							<td>
								<div class="t-price">
									1200
								</div>
							</td>
							<td>
								<div class="sector">
									сектор B
								</div>
							</td>
							<td>
								<div class="range">
									8
								</div>
							</td>
							<td>
								<div class="spot">
									24
								</div>
							</td>
							<td>
								<div class="Left-tickets empty">
								</div>
								<div class="icon-block-shell">
									<div class="icon-block">
										<a href="#">
											<i class="icon icon-ticket-2"></i>
											<span>Билет</span>
										</a>
									</div>
								</div>
							</td>
						</tr>
						<tr> 
							<td>
								Меркушев Евдоким 
							</td> 
							<td>
								<div class="purchase">
									17 марта
								</div>
							</td>
							<td>
								<div class="t-price">
									1500
								</div>
							</td>
							<td>
								<div class="sector">
									сектор A
								</div>
							</td>
							<td>
								<div class="range">
									3
								</div>
							</td>
							<td>
								<div class="spot">
									31
								</div>
							</td>
							<td>
								<div class="Left-tickets empty">
								</div>
								<div class="icon-block-shell">
									<div class="icon-block">
										<a href="#">
											<i class="icon icon-ticket-2"></i>
											<span>Билет</span>
										</a>
									</div>
								</div>
							</td>
						</tr>
						<tr> 
							<td>
								Богатырёв Зигмунд 
							</td> 
							<td>
								<div class="purchase">
									17 марта
								</div>
							</td>
							<td>
								<div class="t-price">
									1200
								</div>
							</td>
							<td>
								<div class="sector">
									сектор B
								</div>
							</td>
							<td>
								<div class="range">
									7
								</div>
							</td>
							<td>
								<div class="spot">
									12
								</div>
							</td>
							<td>
								<div class="Left-tickets empty">
								</div>
								<div class="icon-block-shell">
									<div class="icon-block">
										<a href="#">
											<i class="icon icon-ticket-2"></i>
											<span>Билет</span>
										</a>
									</div>
								</div>
							</td>
						</tr>
						<tr> 
							<td>
								Корнеев Тимофей
							</td> 
							<td>
								<div class="purchase">
									16 марта
								</div>
							</td>
							<td>
								<div class="t-price">
									800
								</div>
							</td>
							<td>
								<div class="sector">
									танцпол
								</div>
							</td>
							<td>
								<div class="range">
									-
								</div>
							</td>
							<td>
								<div class="spot">
									-
								</div>
							</td>
							<td>
								<div class="Left-tickets empty">
								</div>
								<div class="icon-block-shell">
									<div class="icon-block">
										<a href="#">
											<i class="icon icon-ticket-2"></i>
											<span>Билет</span>
										</a>
									</div>
								</div>
							</td>
						</tr>
						<tr> 
							<td>
								Ломоносов Спартак
							</td> 
							<td>
								<div class="purchase">
									16 марта
								</div>
							</td>
							<td>
								<div class="t-price">
									1500
								</div>
							</td>
							<td>
								<div class="sector">
									сектор A
								</div>
							</td>
							<td>
								<div class="range">
									12
								</div>
							</td>
							<td>
								<div class="spot">
									14
								</div>
							</td>
							<td>
								<div class="Left-tickets empty">
								</div>
								<div class="icon-block-shell">
									<div class="icon-block">
										<a href="#">
											<i class="icon icon-ticket-2"></i>
											<span>Билет</span>
										</a>
									</div>
								</div>
							</td>
						</tr>
						<tr> 
							<td>
								Кулагин Мирон
							</td> 
							<td>
								<div class="purchase">
									16 марта
								</div>
							</td>
							<td>
								<div class="t-price">
									800
								</div>
							</td>
							<td>
								<div class="sector">
									танцпол
								</div>
							</td>
							<td>
								<div class="range">
									-
								</div>
							</td>
							<td>
								<div class="spot">
									-
								</div>
							</td>
							<td>
								<div class="Left-tickets empty">
								</div>
								<div class="icon-block-shell">
									<div class="icon-block">
										<a href="#">
											<i class="icon icon-ticket-2"></i>
											<span>Билет</span>
										</a>
									</div>
								</div>
							</td>
						</tr>
					</table>
				</div>
				<div class="mobile-main-content">
					<div class="wrap-top-select">
						<h5>
							Проверка билетов
						</h5>
						<div class="download-right">
							<h6>
								Скачать
							</h6>
							<a href="#">
								<img src="img/svg/xls.svg" alt="xls">
							</a>
							<a href="#">
								<img src="img/svg/txt.svg" alt="txt">
							</a>
						</div>
						<div class="wrap-select f-child">
							<select  class="select event-select">
								<option>Событие</option>
								<option>Кино</option>
								<option>Концерты</option>
								<option>Вечеринки</option>
								<option>Театры</option>
								<option>Детям</option>
								<option>Бизнес</option>
								<option>Спорт</option>
								<option>Активный отдых</option>
								<option>Обучение</option>
							</select>
						</div>
						<div class="wrap-select l-child">
							<select  class="select select_all_city">
								<option>Все города</option>
								<option>Санкт-Петербург</option>
								<option>Москва</option>
								<option>Уфа</option>
								<option>Казань</option>
							</select>
						</div>
						<div class="box">
							<div class="wrap-input">
								<input type="search" id="search" placeholder="ФИО клиента" />
								<span class="wrap-icon"><i class="icon icon-search"></i></span>
							</div>
							<a href="#">
								<div class="btn-filter js-btn-filter">
									<img src="img/svg/filterAB.svg" alt="">
									<div class="txt-a">
										А
									</div>
									<div class="txt-z">
										Я
									</div>
								</div>
							</a>
						</div>
					</div>
					<div class="mobSection">
						<ul>
							<li class="event-item">
								<div class="event-inform event-inform-short">
									<div class="wrap-event-part">
										<div class="event-part">
											<div class="full-name">
												Aaaaaa Искандер
											</div>
											<div class="purchase">
												8 марта
											</div>
										</div>
										<div class="sector-mob">
											<div class="selected-sector">
												Танцпол
											</div>
											<div class="range">
												<span>

												</span>
												<span>
	
												</span>
											</div>
										</div>
									</div>
								</div>
								<div class="event-description event-inform-more">
									<div class="event-btn-back">
										<img src="img/svg/mob-arrow-back.svg" alt="arrow_back">
										<span class="text-back">Проверка билетов</span>
									</div>
									<div class="wrap-event-part">
										<img src="img/ticket-preview-mob.jpg" alt="">
									</div>
								</div>
								<div class="event-btn-more">
									<img src="img/svg/arrow_right.svg" alt="arrow_right">
								</div>
							</li>
							<li class="event-item">
								<div class="event-inform event-inform-short">
									<div class="wrap-event-part">
										<div class="event-part">
											<div class="full-name">
												Демидов Искандер
											</div>
											<div class="purchase">
												8 марта
											</div>
										</div>
										<div class="sector-mob">
											<div class="selected-sector">
												Танцпол
											</div>
											<div class="range">
												<span>

												</span>
												<span>
	
												</span>
											</div>
										</div>
									</div>
								</div>
								<div class="event-description event-inform-more">
									<div class="event-btn-back">
										<img src="img/svg/mob-arrow-back.svg" alt="arrow_back">
										<span class="text-back">Проверка билетов</span>
									</div>
									<div class="wrap-event-part">
										<img src="img/ticket-preview-mob.jpg" alt="">
									</div>
								</div>
								<div class="event-btn-more">
									<img src="img/svg/arrow_right.svg" alt="arrow_right">
								</div>
							</li>
							<li class="event-item">
								<div class="event-inform event-inform-short">
									<div class="wrap-event-part">
										<div class="event-part">
											<div class="full-name">
												Воликов Януарий
											</div>
											<div class="purchase">
												18 марта
											</div>
										</div>
										<div class="sector-mob">
											<div class="selected-sector">
												Сектор B
											</div>
											<div class="range">
												<span>
													6 ряд
												</span>
												<span>
													12 место
												</span>
											</div>
										</div>
									</div>
								</div>
								<div class="event-description event-inform-more">
									<div class="event-btn-back">
										<img src="img/svg/mob-arrow-back.svg" alt="arrow_back">
										<span class="text-back">Проверка билетов</span>
									</div>
									<div class="wrap-event-part">
										<img src="img/ticket-preview-mob.jpg" alt="">
									</div>
								</div>
								<div class="event-btn-more">
									<img src="img/svg/arrow_right.svg" alt="arrow_right">
								</div>
							</li>
							<li class="event-item">
								<div class="event-inform event-inform-short">
									<div class="wrap-event-part">
										<div class="event-part">
											<div class="full-name">
												Переверзев Фархад
											</div>
											<div class="purchase">
												17 марта
											</div>
										</div>
										<div class="sector-mob">
											<div class="selected-sector">
												Танцпол
											</div>
											<div class="range">
												<span>

												</span>
												<span>
	
												</span>
											</div>
										</div>
									</div>
								</div>
								<div class="event-description event-inform-more">
									<div class="event-btn-back">
										<img src="img/svg/mob-arrow-back.svg" alt="arrow_back">
										<span class="text-back">Проверка билетов</span>
									</div>
									<div class="wrap-event-part">
										<img src="img/ticket-preview-mob.jpg" alt="">
									</div>
								</div>
								<div class="event-btn-more">
									<img src="img/svg/arrow_right.svg" alt="arrow_right">
								</div>
							</li>
							<li class="event-item">
								<div class="event-inform event-inform-short">
									<div class="wrap-event-part">
										<div class="event-part">
											<div class="full-name">
												Ивакин Адриан
											</div>
											<div class="purchase">
												17 марта
											</div>
										</div>
										<div class="sector-mob">
											<div class="selected-sector">
												Танцпол
											</div>
											<div class="range">
												<span>

												</span>
												<span>
	
												</span>
											</div>
										</div>
									</div>
								</div>
								<div class="event-description event-inform-more">
									<div class="event-btn-back">
										<img src="img/svg/mob-arrow-back.svg" alt="arrow_back">
										<span class="text-back">Проверка билетов</span>
									</div>
									<div class="wrap-event-part">
										<img src="img/ticket-preview-mob.jpg" alt="">
									</div>
								</div>
								<div class="event-btn-more">
									<img src="img/svg/arrow_right.svg" alt="arrow_right">
								</div>
							</li>
							<li class="event-item">
								<div class="event-inform event-inform-short">
									<div class="wrap-event-part">
										<div class="event-part">
											<div class="full-name">
												Зыкин Борислав
											</div>
											<div class="purchase">
												17 марта
											</div>
										</div>
										<div class="sector-mob">
											<div class="selected-sector">
												Сектор B
											</div>
											<div class="range">
												<span>
													8 ряд
												</span>
												<span>
													24 место
												</span>
											</div>
										</div>
									</div>
								</div>
								<div class="event-description event-inform-more">
									<div class="event-btn-back">
										<img src="img/svg/mob-arrow-back.svg" alt="arrow_back">
										<span class="text-back">Проверка билетов</span>
									</div>
									<div class="wrap-event-part">
										<img src="img/ticket-preview-mob.jpg" alt="">
									</div>
								</div>
								<div class="event-btn-more">
									<img src="img/svg/arrow_right.svg" alt="arrow_right">
								</div>
							</li>
							<li class="event-item">
								<div class="event-inform event-inform-short">
									<div class="wrap-event-part">
										<div class="event-part">
											<div class="full-name">
												Меркушев Евдоким
											</div>
											<div class="purchase">
												17 марта
											</div>
										</div>
										<div class="sector-mob">
											<div class="selected-sector">
												Сектор A
											</div>
											<div class="range">
												<span>
													3 ряд
												</span>
												<span>
													31место
												</span>
											</div>
										</div>
									</div>
								</div>
								<div class="event-description event-inform-more">
									<div class="event-btn-back">
										<img src="img/svg/mob-arrow-back.svg" alt="arrow_back">
										<span class="text-back">Проверка билетов</span>
									</div>
									<div class="wrap-event-part">
										<img src="img/ticket-preview-mob.jpg" alt="">
									</div>
								</div>
								<div class="event-btn-more">
									<img src="img/svg/arrow_right.svg" alt="arrow_right">
								</div>
							</li>
							<li class="event-item">
								<div class="event-inform event-inform-short">
									<div class="wrap-event-part">
										<div class="event-part">
											<div class="full-name">
												Богатырёв Зигмунд
											</div>
											<div class="purchase">
												17 марта
											</div>
										</div>
										<div class="sector-mob">
											<div class="selected-sector">
												Сектор B
											</div>
											<div class="range">
												<span>
													7 ряд
												</span>
												<span>
													12 место
												</span>
											</div>
										</div>
									</div>
								</div>
								<div class="event-description event-inform-more">
									<div class="event-btn-back">
										<img src="img/svg/mob-arrow-back.svg" alt="arrow_back">
										<span class="text-back">Проверка билетов</span>
									</div>
									<div class="wrap-event-part">
										<img src="img/ticket-preview-mob.jpg" alt="">
									</div>
								</div>
								<div class="event-btn-more">
									<img src="img/svg/arrow_right.svg" alt="arrow_right">
								</div>
							</li>
							<li class="event-item">
								<div class="event-inform event-inform-short">
									<div class="wrap-event-part">
										<div class="event-part">
											<div class="full-name">
												Яяяяяяя Зигмунд
											</div>
											<div class="purchase">
												17 марта
											</div>
										</div>
										<div class="sector-mob">
											<div class="selected-sector">
												Сектор B
											</div>
											<div class="range">
												<span>
													7 ряд
												</span>
												<span>
													12 место
												</span>
											</div>
										</div>
									</div>
								</div>
								<div class="event-description event-inform-more">
									<div class="event-btn-back">
										<img src="img/svg/mob-arrow-back.svg" alt="arrow_back">
										<span class="text-back">Проверка билетов</span>
									</div>
									<div class="wrap-event-part">
										<img src="img/ticket-preview-mob.jpg" alt="">
									</div>
								</div>
								<div class="event-btn-more">
									<img src="img/svg/arrow_right.svg" alt="arrow_right">
								</div>
							</li>
						</ul>
					</div>
					<div class="btn-def btn-more-customers">
						Показать еще 139 клиентов
					</div>
				</div>
				<div class="pagination">
					<a href="#" class="prev">
						<img src="img/svg/pagination_arrow_left.svg" alt="arrow_left">	
					</a>
					<a href="#" class="active">1</a>
					<a href="#">2</a>
					<a href="#">3</a>
					<a href="#">...</a>
					<a href="#">18</a>
					<a href="#" class="next">
						<img src="img/svg/pagination_arrow_right.svg" alt="arrow_right">
					</a>
				</div>
			</div>
		</div>
		<div class="app-mobile">
			<div class="app-mobile__title">Чаще ищете куда сходить с телефона?</div>
			<div class="app-mobile__pre-title">Скачайте приложение EVENTR</div>
			<div class="app-mobile__img">
				<p><a href="#"><img src="img/gps.png" alt=""></a></p>
				<p><a href="#"><img src="img/aps.png" alt=""></a></p>
			</div>
		</div>
	</div>
	<!-- Modal -->
	<div class="modal offers-modal fade" id="my_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">Скрыть</h5>
					<a class="close-castom" data-dismiss="modal" aria-label="Close"></a>
				</div>
				<div class="modal-body">
						<label class="container-checkbox">
							<input type="checkbox" checked="checked">
							<span class="checkmark"></span>
							<span>
								Большой предновогодний тур по России<br>
							</span>
								​​​​​​​(Только это событие)
						</label>
						<label class="container-checkbox">
							<input type="checkbox" checked="checked">
							<span class="checkmark"></span>
							<span>
								Comedy Club<br>
							</span>
								(Все события этого организатора)
						</label>
				</div>
				<div class="modal-footer">
					<div class="wrap-btn">
						<a class='btn-def modal-btn-def' href="#" data-dismiss="modal">
							Скрыть
						</a>
						<a class='btn-def btn-def_gray modal-btn_gray' href="#" data-dismiss="modal">
							Отменить
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!--_______ End.page-ticket-check _______-->