// .page-training-poster_3
.page-training-poster_3
	.main-content
		padding-top: 29px
		@media only screen and (max-width: 767px)
			padding-top: 0
	.wrap-task
		padding-bottom: 29px
	.task
		@media only screen and (max-width: 767px)
			padding: 8px 0
		h4
			font-weight: bold
			font-size: 14px
			line-height: 16px
			color: #0E1F38
			@media only screen and (max-width: 767px)
				margin-bottom: 0	
	.wrap-form
		padding-top: 5px
		@media only screen and (max-width: 767px)
			padding-top: 0
		.select2-container
			max-width: 323px
			.select2-selection--single
				width: 100%
		.wrap-bottom
			display: flex
			flex-wrap: nowrap
			align-items: center
			justify-content: flex-start
			width: 100%
			@media only screen and (max-width: 767px)
				flex-wrap: wrap
			.form-group-select
				max-width: 323px
				flex: 0 0 56%
				margin: 0 18px 0 0
				width: auto
				@media only screen and (max-width: 767px)
					flex: 0 0 100%
					max-width: 100%	
					margin: 0
					order: 2
			.form-group-h2
				line-height: 35px
				@media only screen and (max-width: 767px)
					display: flex
					padding: 15px 0 9px
					align-items: center
					order: 1
				h2
					font-weight: normal
					font-size: 14px
					line-height: 16px
					color: #6C7583
					margin: 0
					padding: 0
		.form-group-submit
			flex: 1 0 0 
			.btn-def
				padding: 9px 5px 8px
				margin-top: 18px
				max-width: 56%
				@media only screen and (max-width: 1080px)
					max-width: 100%
				@media only screen and (max-width: 991px)
					max-width: 323px
	.wrap-text
		display: flex
		margin-bottom: 17px
		@media only screen and (max-width: 767px)
			flex-wrap: wrap
		.question-textarea
			flex: 0 0 56%
			max-width: 323px
			min-height: 398px
			flex-direction: column
			justify-content: stretch
			height: 100%
			@media only screen and (max-width: 767px)
				margin-top: 20px
				flex: 0 0 auto
				width: 100%	
				order: 2
				max-width: 100%
		.text
			font-weight: normal
			font-size: 14px
			line-height: 21px
			color: #6C7583
			padding: 3px 14px
			@media only screen and (max-width: 767px)
				flex: 0 0 auto
				width: 100%
				order: 1
				padding: 0 
			h5
				font-weight: bold
				font-size: 14px
				line-height: 21px
				color: #6C7583
				margin-bottom: 0
				@media only screen and (max-width: 767px)
					font-size: 12px
					line-height: 18px
			p
				margin-bottom: 0
				@media only screen and (max-width: 767px)
					font-size: 12px
					line-height: 18px

	.select2
		.select2-selection--single
			.select2-selection__rendered
				padding-left: 2px
				white-space: nowrap
				overflow: hidden
				text-overflow: ellipsis
				@media only screen and (max-width: 767px)
					padding-left: 10px

.my_dropdown
	.select2-results__option
		padding-left: 2px !important
		padding-right: 20px
		text-overflow: ellipsis
		overflow: hidden
		white-space: nowrap
		span
			// display: flex
			// align-items: center
			padding-left: 2px

.img-icon
	width: 28px
	height: 28px

		


// /*End_.page-training-poster_3*/