// .page-ticket-check-client-not-found
.page-ticket-check-client-not-found
	.box
		.wrap-input
			img
				position: absolute
				top: 13px
				right: 10px
	.main-content
		.download-right,
		.slelect-right
			display: none
			@media only screen and (max-width: 767px)
				display: flex
		.f-child
			max-width: 380px
			@media only screen and (max-width: 767px)
				max-width: 100%
		.l-child
			max-width: 229px
			@media only screen and (max-width: 767px)
				max-width: 100%
	.mobSection
		@media only screen and (max-width: 767px)
			margin-top: 0
	table
		&.tableSection
			@media only screen and (max-width: 767px)
				box-shadow: none
				border-top: 1px solid #F0F2F7
			th
				border-right: none
			tr
				td:last-child
					padding: 26px 5px 182px 24px
					@media only screen and (max-width: 767px)
						padding: 21px 0px 24px
					.p-error
						font-weight: bold
						color: #F56868
					.p-bold
						font-weight: bold
						color: #0E1F38
					p
						font-size: 14px
						line-height: 16px
						color: #6C7583
				&:hover
					box-shadow: none
	.pagination
		display: none
					

		
// /*End_.page-ticket-check-client-not-found*/