// .page-verification-check-statuses
.page-verification-check-statuses
    display: block
    .warning
        @media only screen and (max-width: 767px)
            box-shadow: 0px 2px 2px #E0E0E3
            border-radius: 3px
    .warning_item
        background: #FFFFFF
        box-shadow: 0px 2px 2px #E0E0E3
        border-radius: 3px
        display: flex
        align-items: center
        padding: 17px 21px 18px
        margin-bottom: 32px
        position: relative
        @media only screen and (max-width: 767px)
            border-top: 1px solid #E3E7F1
            padding: 28px 0 40px
            margin: 0 20px 0
            box-shadow: none
            border-radius: 0
            background: transparent
            flex-wrap: wrap
            // &:first-child
            //     border-top: 0
            //     padding-top: 22px
            //     img
            //         @media only screen and (max-width: 767px)
            //             top: 16px
        img
            position: absolute
            top: 18px
            @media only screen and (max-width: 767px)
                top: 38px
                width: 30px
    .done
        img
            height: 25px
    .error,
    .support
        img
            @media only screen and (max-width: 767px)
                width: 25px  
    .warning-text
        padding-left: 52px
        padding-right: 22px
        @media only screen and (max-width: 767px)
            padding-left: 44px
            padding-right: 10px
        .warning-title
            font-weight: bold
            font-size: 14px
            line-height: 21px
            color: #0E1F38
            @media only screen and (max-width: 767px)
                padding-top: 7px
        .warning-p
            font-size: 14px
            line-height: 21px
            color: #0E1F38
            margin-bottom: 0
            @media only screen and (max-width: 767px)
                font-size: 12px
                line-height: 18px
                color: #6C7583
                padding-top: 0
    .br-bottom
        width: 100%
        height: 1px
        background: #E3E7F1
    .btn-warning
        width: 100%
        max-width: 162px
        padding: 9px 5px 8px
        @media only screen and (max-width: 767px)
            margin-left: 44px
            margin-top: 8px
    .main-content
        @media only screen and (max-width: 767px)
            padding-top: 0


// .END_page-verification-check-statuses
