<!--_______ page-verification-check-statuses_______-->
<div class="page-create-new-event-step1 page-verification-check-statuses page-insert">
	<div class="container">
		<div class="row-wrap-main">
			<div class="col-item side-bar">
				<div class="side-bar-user">
					<div class="top-nav">
						<div class="user-avatar" style="background-image: url(img/user-avatar.jpg)"></div>
						<div class="user-inform">
							<div class="user-name">
								<span>Вячеслав</span>
								<a class="user-gear" href="#">
									<i class="icon icon-settings"></i>
								</a>
							</div>
							<div class="user-status">Организатор</div>
						</div>
					</div>

					<ul>
						<li  class="active">
							<a href="#">
								<i class="icon icon-developments"></i>
								<span>
									События и статистика
								</span>
							</a>
						</li>
						<li>
							<a href="#">
								<i class="icon icon-bd"></i>
								<span>База клиентов</span>
							</a>
						</li>
						<li>
							<a href="#">
								<i class="icon icon-ticket"></i>
								<span>Проверка билетов</span>
							</a>
						</li>
						<li>
							<a href="#">
								<i class="icon icon-paid--services"></i>
								<span>Платные услуги</span>
							</a>
						</li>
					</ul>
					
					<ul>
						<li>
							<a href="#">
								<i class="icon icon-support"></i>
								<span>
									Служба поддержки
								</span>
							</a>
						</li>
						<li>
							<a href="#">
								<i class="icon icon-exit"></i>
								<span>Выйти из кабинета</span>
							</a>
						</li>
					</ul>
				</div>
			</div>
			<div class="col-item main-content">
				<div class="warning">
					<div class="warning_item shipped">
						<img src="img/svg/stopwatch.svg" alt="stopwatch">
						<div class="warning-text">
							<div class="warning-title">
								Данные отправлены.
							</div>
							<p class="warning-p">
								Проверка происходит в течении 2-х рабочих дней. О результате мы сообщим вам на email
							</p>
						</div>
					</div>
					<div class="warning_item done">
						<img src="img/svg/check_green.svg" alt="check_green">
						<div class="warning-text">
							<div class="warning-title">
								Верификация успешно пройдена!
							</div>
							<p class="warning-p">
								Ваше событие опубликовано.
							</p>
						</div>
						<div class="btn-def btn-warning">
							Перейти к событию
						</div>
					</div>
					<div class="warning_item error">
						<img src="img/svg/close-error.svg" alt="close-error">
						<div class="warning-text">
							<div class="warning-title">
								Верификация не пройдена.
							</div>
							<p class="warning-p">
								<span>Комментарий модератора:</span> На документах нет информации что договор заключали именно вы. Приложите документ, который удовлетворяет этому требованию. 
							</p>
						</div>
						<div class="btn-def btn-warning">
							Исправить
						</div>
					</div>
					<div class="warning_item support">
						<img src="img/svg/close-error.svg" alt="close-error">
						<div class="warning-text">
							<div class="warning-title">
								Верификация не пройдена.
							</div>
							<p class="warning-p">
								Вам отказано в размещении событий в связи с политикой компании. Для уточнения причин обратитесь в ​​​​​​​<a href="#">службу поддержки</a>
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="app-mobile">
			<div class="app-mobile__title">Чаще ищете куда сходить с телефона?</div>
			<div class="app-mobile__pre-title">Скачайте приложение EVENTR</div>
			<div class="app-mobile__img">
				<p><a href="#"><img src="img/gps.png" alt=""></a></p>
				<p><a href="#"><img src="img/aps.png" alt=""></a></p>
			</div>
		</div>
	</div>
	<!-- Modal -->
	<div class="modal offers-modal fade" id="my_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">Скрыть</h5>
					<a class="close-castom" data-dismiss="modal" aria-label="Close"></a>
				</div>
				<div class="modal-body">
						<label class="container-checkbox">
							<input type="checkbox" checked="checked">
							<span class="checkmark"></span>
							<span>
								Большой предновогодний тур по России<br>
							</span>
								​​​​​​​(Только это событие)
						</label>
						<label class="container-checkbox">
							<input type="checkbox" checked="checked">
							<span class="checkmark"></span>
							<span>
								Comedy Club<br>
							</span>
								(Все события этого организатора)
						</label>
				</div>
				<div class="modal-footer">
					<div class="wrap-btn">
						<a class='btn-def modal-btn-def' href="#" data-dismiss="modal">
							Скрыть
						</a>
						<a class='btn-def btn-def_gray modal-btn_gray' href="#" data-dismiss="modal">
							Отменить
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!--_______ End page-verification-check-statuses _______-->