		<footer class="footer">
			<div class="footer-top">
				<div class="footer-notifications">
					<div class="container">
						<div class="shell">
							<div class="hide-btn"><img src="img/close.svg" alt=""></div>
							<div class="notifications-picture">
								<img src="img/footer-img.png" alt="">
							</div>
							<div class="notifications-title">Чаще ищете куда сходить с телефона?</div>
							<div class="app-download">
								<div class="app-download__title">Скачайте приложение EVENTR</div>
								<div class="app-download__picture">
									<a href="#"><img src="img/aps.png" alt=""></a>
									<a href="#"><img src="img/gps.png" alt=""></a>
								</div>
							</div>
						</div>	
					</div>
				</div>
			</div>
			<div class="footer-inform">
				<div class="container">
					<div class="shell">
						<div class="item">
							<ul  class="footer-menu">
								<li class="active"><a href="#" >Организаторам</a></li>
								<li><a href="#">Правообладателям</a></li>
								<li><a href="#">Контакты</a></li>
							</ul>
							<div class="network network-desktop">
								<ul>
									<li><a href="#"><i class="icon-vk"></i></a></li>
									<li><a href="#"><i class="icon-facebook"></i></a></li>
									<li><a href="#"><i class="icon-instagram"></i></a></li>
								</ul>
							</div>
						</div>
						<div class="item item__text">
							<p>
								Используя настоящий веб-сайт, Вы соглашаетесь с <br>
								<a href="#">Условиями пользования</a> и <a href="#">Политикой конфиденциальности</a> <span>© ООО “Ивентр” 2019</span>
							</p>
						</div>
						<div class="item item__from-design">
							<div class="from-design">
								<span class="icon"><img src="img/design-img.png" alt=""></span>
								<span class="text">Проектирование и дизайн <br> <a href="#">Лаборатория-конверсии</a></span>
							</div>
							<div class="network network-tablet">
								<ul>
									<li><a href="#"><i class="icon-vk"></i></a></li>
									<li><a href="#"><i class="icon-facebook"></i></a></li>
									<li><a href="#"><i class="icon-instagram"></i></a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</footer>

	</div><!-- End .responsive-wrapper -->

	<!-- Modal bonuses-modal-->
	<div class="modal fade bonuses-modal" id="bonuses-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-panel-mob" data-dismiss="modal">
					<div class="icon" >
						<svg width="20" height="15" viewBox="0 0 20 15" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M6.532.9A.72.72 0 0 1 7.54.9a.678.678 0 0 1 0 .97L2.43 6.84h16.864c.393 0 .706.304.706.687a.7.7 0 0 1-.706.696H2.43l5.111 4.96a.69.69 0 0 1 0 .98.72.72 0 0 1-1.008 0L.212 8.015a.662.662 0 0 1 0-.97L6.531.9z" fill="#6C7583"/>
						</svg>
					</div>
					<span>Назад</span>
				</div>
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">Отправите ссылку друзьям, чтобы заработать бонусы</h5>
					<button type="button" class="btn-close-modal" data-dismiss="modal" aria-label="Close">
						<img src="img/close.svg" alt="">
					</button>
				</div>
				<div class="modal-body">
					<div class="copy-link">
						<input type="text" id="copyText" value="https://www.eventr.ru/store/lot/7/">
						<button class="btn-def btn-def-copy" onclick="copyFunction()">Скопировать ссылку</button>
					</div>
					<!-- .notification-sent -->
					<div class="notification-sent">
						<div class="notification-sent__icon"><img src="img/done.svg" alt=""></div>
						<div class="notification-sent__text">Ссылка скопирована</div>
					</div><!-- .notification-sent -->
					
					<div class="share-block">
						<div class="share-item">
							<div class="share-item__title">Отправьте личным сообщение в соц. сетях, мессенджерах</div>
							<div class="share-item__picture"><a href="#"><img src="img/socials.png" alt=""></a></div>
						</div>
						<div class="share-item">
							<div class="share-item__title">Или по электронной почте</div>
							<div class="share-item-mail">
								<a href="#"><img src="img/ymail.png" alt=""></a> <br>
								<a href="#"><img src="img/mail.png" alt=""></a> <br>
								<a href="#"><img src="img/gmail.png" alt=""></a> <br>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="search search-mobile-fixed">
		<div class="search-panel">
			<span class="search-panel__title">Закрыть поиск</span>
			<div class="search-panel__icon">
				<svg width="10" height="10" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path fill-rule="evenodd" clip-rule="evenodd" d="M6.188 5l3.566-3.565A.84.84 0 0 0 8.565.246L5 3.812 1.435.246A.84.84 0 1 0 .246 1.435L3.812 5 .246 8.565a.84.84 0 0 0 1.189 1.189L5 6.188l3.565 3.566a.84.84 0 0 0 1.189-1.189L6.188 5z" fill="#fff"/>
				</svg>
			</div>
		</div>
		<div class="shell">
			<input type="text" placeholder="Найти событие или артиста...">
			<button class="btn-search btn-search-transparent"><i class="icon icon-search"></i></button>
			<div class="icon-hide">
				<svg width="10" height="10" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path fill-rule="evenodd" clip-rule="evenodd" d="M6.18849 5.00002L9.75385 1.43465C10.082 1.10646 10.082 0.574344 9.75385 0.246195C9.42566 -0.0820022 8.89359 -0.0820022 8.5654 0.246195L4.99998 3.81161L1.43457 0.246148C1.10637 -0.0820492 0.574308 -0.0820492 0.246112 0.246148C-0.0820374 0.574344 -0.0820374 1.10646 0.246112 1.4346L3.81153 4.99998L0.246112 8.5654C-0.0820374 8.89359 -0.0820374 9.4257 0.246112 9.75385C0.574308 10.082 1.10637 10.082 1.43457 9.75385L4.99998 6.18843L8.5654 9.75385C8.89355 10.082 9.42566 10.082 9.75385 9.75385C10.082 9.42566 10.082 8.89359 9.75385 8.5654L6.18849 5.00002Z" fill="white"/>
				</svg>
			</div>
		</div>
		<!-- typehead -->
		<div class="typehead typehead-mobile">
			<div class="typehead-item">
				<div class="typehead__img"><img src="img/search_1.png" alt=""></div>
				<div class="part">
					<div class="typehead__category"><a href="#">Концерты</a></div>
					<div class="typehead__title"><a href="#"><i>СУПЕР</i>ДИСКОТЕКА 90-х.</a></div>
					<div class="typehead__date">23.10.19</div>
				</div>
			</div>
			<div class="typehead-item">
				<div class="typehead__img"><img src="img/search_2.png" alt=""></div>
				<div class="part">
					<div class="typehead__category"><a href="#">Театр</a></div>
					<div class="typehead__title"><a href="#"><i>Супр</i>ужество как точная наука</a></div>
					<div class="typehead__date">18.12.19</div>
				</div>
			</div>
		</div><!-- End typehead -->
	</div>

	<div class="overlay"></div>
	<script src="js/scripts.min.js"></script>
	<script src="https://api-maps.yandex.ru/2.1/?lang=ru_ru&apikey=7494e3e7-008f-4e03-bd72-31a4650591f7" type="text/javascript"></script>
	<script src="js/common.js"></script> 
	<!--End .normal-->

</body>
</html>