		<footer class="footer">
			<div class="footer-top">
				<div class="footer-notifications">
					<div class="container">
						<div class="shell">
							<div class="hide-btn"><img src="img/close.svg" alt=""></div>
							<div class="notifications-picture">
								<img src="img/footer-img.png" alt="">
							</div>
							<div class="notifications-title">Чаще ищете куда сходить с телефона?</div>
							<div class="app-download">
								<div class="app-download__title">Скачайте приложение EVENTR</div>
								<div class="app-download__picture">
									<a href="#"><img src="img/aps.png" alt=""></a>
									<a href="#"><img src="img/gps.png" alt=""></a>
								</div>
							</div>
						</div>	
					</div>
				</div>
			</div>
			<div class="footer-inform">
				<div class="container">
					<div class="shell">
						<div class="item">
							<ul  class="footer-menu">
								<li class="active"><a href="#" >Организаторам</a></li>
								<li><a href="#">Правообладателям</a></li>
								<li><a href="#">Контакты</a></li>
							</ul>
							<div class="network network-desktop">
								<ul>
									<li><a href="#"><i class="icon-vk"></i></a></li>
									<li><a href="#"><i class="icon-facebook"></i></a></li>
									<li><a href="#"><i class="icon-instagram"></i></a></li>
								</ul>
							</div>
						</div>
						<div class="item item__text">
							<p>
								Используя настоящий веб-сайт, Вы соглашаетесь с <br>
								<a href="#">Условиями пользования</a> и <a href="#">Политикой конфиденциальности</a> <span>© ООО “Ивентр” 2019</span>
							</p>
						</div>
						<div class="item item__from-design">
							<div class="from-design">
								<span class="icon"><img src="img/design-img.png" alt=""></span>
								<span class="text">Проектирование и дизайн <br> <a href="#">Лаборатория-конверсии</a></span>
							</div>
							<div class="network network-tablet">
								<ul>
									<li><a href="#"><i class="icon-vk"></i></a></li>
									<li><a href="#"><i class="icon-facebook"></i></a></li>
									<li><a href="#"><i class="icon-instagram"></i></a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</footer>

	</div><!-- End .responsive-wrapper -->

	<!-- Modal bonuses-modal-->
	<div class="modal fade bonuses-modal" id="bonuses-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-panel-mob" data-dismiss="modal">
					<div class="icon" >
						<svg width="20" height="15" viewBox="0 0 20 15" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M6.532.9A.72.72 0 0 1 7.54.9a.678.678 0 0 1 0 .97L2.43 6.84h16.864c.393 0 .706.304.706.687a.7.7 0 0 1-.706.696H2.43l5.111 4.96a.69.69 0 0 1 0 .98.72.72 0 0 1-1.008 0L.212 8.015a.662.662 0 0 1 0-.97L6.531.9z" fill="#6C7583"/>
						</svg>
					</div>
					<span>Назад</span>
				</div>
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">Отправите ссылку друзьям, чтобы заработать бонусы</h5>
					<button type="button" class="btn-close-modal" data-dismiss="modal" aria-label="Close">
						<img src="img/close.svg" alt="">
					</button>
				</div>
				<div class="modal-body">
					<div class="copy-link">
						<input type="text" id="copyText" value="https://www.eventr.ru/store/lot/7/">
						<button class="btn-def btn-def-copy" onclick="copyFunction()">Скопировать ссылку</button>
					</div>
					<!-- .notification-sent -->
					<div class="notification-sent">
						<div class="notification-sent__icon"><img src="img/done.svg" alt=""></div>
						<div class="notification-sent__text">Ссылка скопирована</div>
					</div><!-- .notification-sent -->
					
					<div class="share-block">
						<div class="share-item">
							<div class="share-item__title">Отправьте личным сообщение в соц. сетях, мессенджерах</div>
							<div class="share-item__picture"><a href="#"><img src="img/socials.png" alt=""></a></div>
						</div>
						<div class="share-item">
							<div class="share-item__title">Или по электронной почте</div>
							<div class="share-item-mail">
								<a href="#"><img src="img/ymail.png" alt=""></a> <br>
								<a href="#"><img src="img/mail.png" alt=""></a> <br>
								<a href="#"><img src="img/gmail.png" alt=""></a> <br>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!--  reminders-modal-->
	<div class="modal fade reminders-modal" id="delete-reminders-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-panel-mob" data-dismiss="modal">
					<div class="icon" >
						<svg width="20" height="15" viewBox="0 0 20 15" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M6.532.9A.72.72 0 0 1 7.54.9a.678.678 0 0 1 0 .97L2.43 6.84h16.864c.393 0 .706.304.706.687a.7.7 0 0 1-.706.696H2.43l5.111 4.96a.69.69 0 0 1 0 .98.72.72 0 0 1-1.008 0L.212 8.015a.662.662 0 0 1 0-.97L6.531.9z" fill="#6C7583"/>
						</svg>
					</div>
					<span>Назад</span>
				</div>
				<div class="modal-header">
					<h5 class="modal-title">Удалить напоминание “StandUp.Виктор Комаров”?</h5>
					<button type="button" class="btn-close-modal" data-dismiss="modal" aria-label="Close">
						<img src="img/close.svg" alt="">
					</button>
				</div>
				<div class="modal-body">
					<div class="panel-btn">
						<button class="btn-def" data-toggle="modal">Удалить</button>
						<button class="btn-def btn-def_gray">Отменить</button>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!--  reminders-modal-->
	<div class="modal fade reminders-modal" id="edit-reminders-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-panel-mob" data-dismiss="modal">
					<div class="icon" >
						<svg width="20" height="15" viewBox="0 0 20 15" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M6.532.9A.72.72 0 0 1 7.54.9a.678.678 0 0 1 0 .97L2.43 6.84h16.864c.393 0 .706.304.706.687a.7.7 0 0 1-.706.696H2.43l5.111 4.96a.69.69 0 0 1 0 .98.72.72 0 0 1-1.008 0L.212 8.015a.662.662 0 0 1 0-.97L6.531.9z" fill="#6C7583"/>
						</svg>
					</div>
					<span>Назад</span>
				</div>
				<div class="modal-header">
					<h5 class="modal-title">Редактирование напоминания "StandUp.Виктор Комаров</h5>
					<button type="button" class="btn-close-modal" data-dismiss="modal" aria-label="Close">
						<img src="img/close.svg" alt="">
					</button>
				</div>
				<div class="modal-body">
					<form action="">
						<div class="form-group form-group-line">
							<div class="field-name">До начала события</div>

							<div class="wrap-select">
								<select class="select">
									<option>За 12 часов</option>
									<option>За день</option>
									<option>За неделю</option>
									<option>Все месяц</option>
								</select>
							</div>
							<div class="icon">
								<svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M14.4738 13.1572C13.7463 13.1572 13.158 13.7463 13.158 14.4737C13.158 15.1998 13.7477 15.7895 14.4738 15.7895C15.1999 15.7895 15.7896 15.1998 15.7896 14.4737C15.7897 13.7463 15.2012 13.1572 14.4738 13.1572ZM10.5263 11.8421C11.2527 11.8421 11.8421 11.2527 11.8421 10.5262C11.8421 9.79932 11.2527 9.2106 10.5263 9.2106C9.80006 9.2106 9.21066 9.79932 9.21066 10.5262C9.21066 11.2527 9.80006 11.8421 10.5263 11.8421ZM14.4738 9.2106C13.7463 9.2106 13.158 9.79932 13.158 10.5262C13.158 11.2527 13.7463 11.8421 14.4738 11.8421C15.1999 11.8421 15.7896 11.2527 15.7896 10.5262C15.7897 9.79932 15.2012 9.2106 14.4738 9.2106ZM15.7897 2.63146H9.21066V5.26308H15.7897V2.63146ZM18.4213 11.8421C19.1471 11.8421 19.7371 11.2527 19.7371 10.5262C19.7371 9.79932 19.1484 9.2106 18.4213 9.2106C17.6938 9.2106 17.1055 9.79932 17.1055 10.5262C17.1055 11.2527 17.6952 11.8421 18.4213 11.8421ZM18.4213 15.7895C19.1471 15.7895 19.7371 15.1998 19.7371 14.4737C19.7371 13.7463 19.1484 13.1579 18.4213 13.1579C17.6938 13.1579 17.1055 13.7463 17.1055 14.4737C17.1055 15.1998 17.6952 15.7895 18.4213 15.7895ZM10.5263 15.7895C11.2527 15.7895 11.8421 15.1998 11.8421 14.4737C11.8421 13.7463 11.2534 13.1572 10.5263 13.1572C9.79939 13.1572 9.21066 13.7463 9.21066 14.4737C9.21066 15.1998 9.80006 15.7895 10.5263 15.7895ZM6.57902 19.737C7.30527 19.737 7.89484 19.1469 7.89484 18.4212C7.89484 17.6938 7.30527 17.1054 6.57902 17.1054C5.85209 17.1054 5.2632 17.6938 5.2632 18.4212C5.2632 19.1469 5.85268 19.737 6.57902 19.737ZM22.3684 2.63146H21.053V5.26308H22.3684V22.3682H2.63164V5.26316H3.94729V2.63146H2.63164C1.1783 2.63146 0 3.80933 0 5.26316V22.3677C0 23.8219 1.1783 25 2.63164 25H22.3684C23.822 25 25 23.8218 25 22.3677V5.26316C25.0001 3.80933 23.822 2.63146 22.3684 2.63146ZM6.57902 15.7895C7.30527 15.7895 7.89484 15.1998 7.89484 14.4737C7.89484 13.7463 7.30527 13.1572 6.57902 13.1572C5.85209 13.1572 5.2632 13.7463 5.2632 14.4737C5.2632 15.1998 5.85268 15.7895 6.57902 15.7895ZM6.57902 11.8421C7.30527 11.8421 7.89484 11.2527 7.89484 10.5262C7.89484 9.79932 7.30527 9.2106 6.57902 9.2106C5.85209 9.2106 5.2632 9.79932 5.2632 10.5262C5.2632 11.2527 5.85268 11.8421 6.57902 11.8421ZM10.5263 19.737C11.2527 19.737 11.8421 19.1469 11.8421 18.4212C11.8421 17.6938 11.2527 17.1054 10.5263 17.1054C9.80006 17.1054 9.21066 17.6938 9.21066 18.4212C9.21066 19.1469 9.80006 19.737 10.5263 19.737ZM6.57902 5.26316C7.30527 5.26316 7.89484 4.67377 7.89484 3.94735V1.3159C7.89484 0.588725 7.30594 0 6.57902 0C5.85268 0 5.2632 0.588725 5.2632 1.31581V3.94727C5.2632 4.67377 5.85268 5.26316 6.57902 5.26316ZM18.4213 5.26316C19.1471 5.26316 19.7371 4.67377 19.7371 3.94735V1.3159C19.7371 0.588725 19.1471 0 18.4213 0C17.6938 0 17.1055 0.588725 17.1055 1.31581V3.94727C17.1055 4.67377 17.6952 5.26316 18.4213 5.26316Z" fill="#69C530"/>
								</svg>
							</div>
						</div>
						<div class="form-group">
							<input type="text" value="+7 937 834 90 20">
						</div>
					</form>

					<div class="panel-btn">
						<button class="btn-def" data-toggle="modal">Сохранить</button>
						<button class="btn-def btn-def_gray">Отменить</button>
					</div>
				</div>
			</div>
		</div>
	</div>


	<div class="search search-mobile-fixed">
		<div class="search-panel">
			<span class="search-panel__title">Закрыть поиск</span>
			<div class="search-panel__icon">
				<svg width="10" height="10" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path fill-rule="evenodd" clip-rule="evenodd" d="M6.188 5l3.566-3.565A.84.84 0 0 0 8.565.246L5 3.812 1.435.246A.84.84 0 1 0 .246 1.435L3.812 5 .246 8.565a.84.84 0 0 0 1.189 1.189L5 6.188l3.565 3.566a.84.84 0 0 0 1.189-1.189L6.188 5z" fill="#fff"/>
				</svg>
			</div>
		</div>
		<div class="shell">
			<input type="text" placeholder="Найти событие или артиста...">
			<button class="btn-search btn-search-transparent"><i class="icon icon-search"></i></button>
			<div class="icon-hide">
				<svg width="10" height="10" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path fill-rule="evenodd" clip-rule="evenodd" d="M6.18849 5.00002L9.75385 1.43465C10.082 1.10646 10.082 0.574344 9.75385 0.246195C9.42566 -0.0820022 8.89359 -0.0820022 8.5654 0.246195L4.99998 3.81161L1.43457 0.246148C1.10637 -0.0820492 0.574308 -0.0820492 0.246112 0.246148C-0.0820374 0.574344 -0.0820374 1.10646 0.246112 1.4346L3.81153 4.99998L0.246112 8.5654C-0.0820374 8.89359 -0.0820374 9.4257 0.246112 9.75385C0.574308 10.082 1.10637 10.082 1.43457 9.75385L4.99998 6.18843L8.5654 9.75385C8.89355 10.082 9.42566 10.082 9.75385 9.75385C10.082 9.42566 10.082 8.89359 9.75385 8.5654L6.18849 5.00002Z" fill="white"/>
				</svg>
			</div>
		</div>
		<!-- typehead -->
		<div class="typehead typehead-mobile">
			<div class="typehead-item">
				<div class="typehead__img"><img src="img/search_1.png" alt=""></div>
				<div class="part">
					<div class="typehead__category"><a href="#">Концерты</a></div>
					<div class="typehead__title"><a href="#"><i>СУПЕР</i>ДИСКОТЕКА 90-х.</a></div>
					<div class="typehead__date">23.10.19</div>
				</div>
			</div>
			<div class="typehead-item">
				<div class="typehead__img"><img src="img/search_2.png" alt=""></div>
				<div class="part">
					<div class="typehead__category"><a href="#">Театр</a></div>
					<div class="typehead__title"><a href="#"><i>Супр</i>ужество как точная наука</a></div>
					<div class="typehead__date">18.12.19</div>
				</div>
			</div>
		</div><!-- End typehead -->
	</div>

	<div class="overlay"></div>
	<script src="js/scripts.min.js"></script>

	<script src="js/common.js"></script> 
	<!--End .normal-->

</body>
</html>