		<footer class="footer">
			<div class="footer-top">
				<div class="footer-notifications">
					<div class="container">
						<div class="shell">
							<div class="hide-btn"><img src="img/close.svg" alt=""></div>
							<div class="notifications-picture">
								<img src="img/footer-img.png" alt="">
							</div>
							<div class="notifications-title">Чаще ищете куда сходить с телефона?</div>
							<div class="app-download">
								<div class="app-download__title">Скачайте приложение EVENTR</div>
								<div class="app-download__picture">
									<a href="#"><img src="img/aps.png" alt=""></a>
									<a href="#"><img src="img/gps.png" alt=""></a>
								</div>
							</div>
						</div>	
					</div>
				</div>
			</div>
			<div class="footer-inform">
				<div class="container">
					<div class="shell">
						<div class="item">
							<ul  class="footer-menu">
								<li class="active"><a href="#" >Организаторам</a></li>
								<li><a href="#">Правообладателям</a></li>
								<li><a href="#">Контакты</a></li>
							</ul>
							<div class="network network-desktop">
								<ul>
									<li><a href="#"><i class="icon-vk"></i></a></li>
									<li><a href="#"><i class="icon-facebook"></i></a></li>
									<li><a href="#"><i class="icon-instagram"></i></a></li>
								</ul>
							</div>
						</div>
						<div class="item item__text">
							<p>
								Используя настоящий веб-сайт, Вы соглашаетесь с <br>
								<a href="#">Условиями пользования</a> и <a href="#">Политикой конфиденциальности</a> <span>© ООО “Ивентр” 2019</span>
							</p>
						</div>
						<div class="item item__from-design">
							<div class="from-design">
								<span class="icon"><img src="img/design-img.png" alt=""></span>
								<span class="text">Проектирование и дизайн <br> <a href="#">Лаборатория-конверсии</a></span>
							</div>
							<div class="network network-tablet">
								<ul>
									<li><a href="#"><i class="icon-vk"></i></a></li>
									<li><a href="#"><i class="icon-facebook"></i></a></li>
									<li><a href="#"><i class="icon-instagram"></i></a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</footer>

	</div><!-- End .responsive-wrapper -->

	<!-- Modal bonuses-modal-->
	<div class="modal fade bonuses-modal" id="bonuses-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-panel-mob" data-dismiss="modal">
					<div class="icon" >
						<svg width="20" height="15" viewBox="0 0 20 15" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M6.532.9A.72.72 0 0 1 7.54.9a.678.678 0 0 1 0 .97L2.43 6.84h16.864c.393 0 .706.304.706.687a.7.7 0 0 1-.706.696H2.43l5.111 4.96a.69.69 0 0 1 0 .98.72.72 0 0 1-1.008 0L.212 8.015a.662.662 0 0 1 0-.97L6.531.9z" fill="#6C7583"/>
						</svg>
					</div>
					<span>Назад</span>
				</div>
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">Отправите ссылку друзьям, чтобы заработать бонусы</h5>
					<button type="button" class="btn-close-modal" data-dismiss="modal" aria-label="Close">
						<img src="img/close.svg" alt="">
					</button>
				</div>
				<div class="modal-body">
					<div class="copy-link">
						<input type="text" id="copyText" value="https://www.eventr.ru/store/lot/7/">
						<button class="btn-def btn-def-copy" onclick="copyFunction()">Скопировать ссылку</button>
					</div>
					<!-- .notification-sent -->
					<div class="notification-sent">
						<div class="notification-sent__icon"><img src="img/done.svg" alt=""></div>
						<div class="notification-sent__text">Ссылка скопирована</div>
					</div><!-- .notification-sent -->
					
					<div class="share-block">
						<div class="share-item">
							<div class="share-item__title">Отправьте личным сообщение в соц. сетях, мессенджерах</div>
							<div class="share-item__picture"><a href="#"><img src="img/socials.png" alt=""></a></div>
						</div>
						<div class="share-item">
							<div class="share-item__title">Или по электронной почте</div>
							<div class="share-item-mail">
								<a href="#"><img src="img/ymail.png" alt=""></a> <br>
								<a href="#"><img src="img/mail.png" alt=""></a> <br>
								<a href="#"><img src="img/gmail.png" alt=""></a> <br>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Modal about-event-modal -->
	<div class="modal fade about-event-modal" id="about-event-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-panel-mob modal-panel-mob--gray" data-dismiss="modal">
					<span>Закрыть</span>
					<div class="icon" >
						<svg width="10" height="10" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M6.188 5l3.566-3.565A.84.84 0 0 0 8.565.246L5 3.812 1.435.246A.84.84 0 1 0 .246 1.435L3.812 5 .246 8.565a.84.84 0 0 0 1.189 1.189L5 6.188l3.565 3.566a.84.84 0 0 0 1.189-1.189L6.188 5z" fill="#fff"/></svg>
					</div>
				</div>
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">
					Напомнить о событии  <br> "Уральские пельмени"</h5>
					<button type="button" class="btn-close-modal" data-dismiss="modal" aria-label="Close">
						<img src="img/close.svg" alt="">
					</button>
				</div>
				<div class="modal-body">
					<form action="" class="notification-form">
						<div class="error-message">
							Выберите дату и укажите куда выслать напоминание
						</div>
						<div class="form-group form-group-select error-field">
							<div class="label">До начала события</div>
							<select id="" class="select">
								<option>За 12 часов</option>
								<option>За 12 часов</option>
								<option>За 12 часов</option>
								<option>За 12 часов</option>
								<option>За 12 часов</option>
								<option>За 12 часов</option>
							</select>
							<div class="icon"><img src="img/calendar.svg" alt=""></div>
						</div>
						<div class="form-group error-field">
							<input type="text" placeholder="Email или телефон">
						</div>
						<div class="form-group form-group-submit">
							<button class="btn-def btn-def-submit">Напомнить</button>
						</div>
					</form>
					<div class="notification-sent">
						<div class="notification-sent__icon"><img src="img/done.svg" alt=""></div>
						<div class="notification-sent__text">
							<strong>Готово! Напоминание будет выслано:</strong>
							<p>
								За <span class="date">7 дней </span> <br> 
								На <span class="tel">+7 (937) 337 00 87</span>
							</p>
						</div>
						<div class="modal-panel-btn">
							<button class="btn-def">Продолжить поиск событий</button>
							<button class="btn-def btn-def_transparent">Изменить данные</button>
						</div>
					</div>
				
				</div>
			</div>
		</div>
	</div>

	<!-- Modal information-modal -->
	<div class="modal fade information-modal pay-modal" id="pay-rubles" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">

				<div class="modal-panel-mob modal-panel-mob--gray" data-dismiss="modal">
					<span>Закрыть</span>
					<div class="icon" >
						<svg width="10" height="10" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M6.188 5l3.566-3.565A.84.84 0 0 0 8.565.246L5 3.812 1.435.246A.84.84 0 1 0 .246 1.435L3.812 5 .246 8.565a.84.84 0 0 0 1.189 1.189L5 6.188l3.565 3.566a.84.84 0 0 0 1.189-1.189L6.188 5z" fill="#fff"/></svg>
					</div>
				</div>
				<div class="modal-header">
					<button type="button" class="btn-close-modal" data-dismiss="modal" aria-label="Close">
						<img src="img/close.svg" alt="">
					</button>
				</div>
				<div class="modal-body">
					<div class="information-modal-content">
						<img src="img/preview.jpg" alt="">
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Modal information-modal -->
	<div class="modal fade ticket-modal" id="ticket-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-panel-mob modal-panel-mob--gray" data-dismiss="modal">
					<div class="icon" >
						<svg width="10" height="10" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M6.188 5l3.566-3.565A.84.84 0 0 0 8.565.246L5 3.812 1.435.246A.84.84 0 1 0 .246 1.435L3.812 5 .246 8.565a.84.84 0 0 0 1.189 1.189L5 6.188l3.565 3.566a.84.84 0 0 0 1.189-1.189L6.188 5z" fill="#fff"/></svg>
					</div>
					<span>Закрыть</span>
				</div>
				<div class="modal-header">
					<button type="button" class="btn-close-modal" data-dismiss="modal" aria-label="Close">
						<img src="img/close.svg" alt="">
					</button>
				</div>
				<div class="modal-body">
					<div class="information-modal-content">
						<img src="img/preview.jpg" alt="">
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- ticket-succes-pay -->
	<div class="modal fade ticket-succes-pay" id="ticket-succes-pay" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-panel-mob modal-panel-mob--gray" data-dismiss="modal">
					<span>Закрыть</span>
					<div class="icon" >
						<svg width="10" height="10" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M6.188 5l3.566-3.565A.84.84 0 0 0 8.565.246L5 3.812 1.435.246A.84.84 0 1 0 .246 1.435L3.812 5 .246 8.565a.84.84 0 0 0 1.189 1.189L5 6.188l3.565 3.566a.84.84 0 0 0 1.189-1.189L6.188 5z" fill="#fff"/></svg>
					</div>
				</div>
				<div class="modal-header">
					<button type="button" class="btn-close-modal" data-dismiss="modal" aria-label="Close">
						<img src="img/close.svg" alt="">
					</button>
				</div>
				<div class="modal-body">
					<div class="top-panel">
						<div class="notification-sent">
							<div class="notification-sent__icon"><img src="img/done.svg" alt=""></div>
							<div class="notification-sent__text">Билет успешно оплачен</div>
						</div>
						<div class="balance-bonus-part">
							<div class="balance-bonus__icon">
								<i class="icon icon-bonuses"></i>
							</div>
							<div class="balance-bonus__count">
								На вашем счете осталось <strong>35</strong> бонусов
							</div>
							<div class="balance-bonus__btn"><a href="#" class="btn-def">Смотреть билет</a></div>
						</div>
					</div>

					<div class="review-block">
						<div class="review-block__title">Оставьте отзыв и получите <span>+50 бонусов</span></div>
						<ul>
							<li>В отзывы опишите:</li>
							<li>- кто вы, из какого города, чем занимаетесь, что любите - Как узнали об eventr </li>
							<li>- На какие события купили билеты за бонусы </li>
							<li>- Какие у вас были страхи и сомнения перед покупкой </li>
							<li>- Как долго копили бонусы </li>
							<li>- Что говорили ваши друзья, родные </li>
							<li>- Были ли проблемы со входом </li>
							<li>- На что будете копить бонусы дальше </li>
						</ul>
						<textarea> </textarea>
						<div class="review-block__btn">
						<button class="btn-def btn-def-review">Оставить отзыв</button>
						</div>
					</div>

					<div class="share-feedback">
						<div class="notification-sent">
							<div class="notification-sent__icon"><img src="img/done.svg" alt=""></div>
							<div class="notification-sent__text">На ваш счет зачислено 50 бонусов</div>
						</div>
						<div class="share-feedback__description">
							<strong>Поделитесь отзывом в соц.сетях</strong>
							<p>Это даст большой поток бонусов, так как люди очень доаверяют отзывам</p>
						</div>
						<textarea>Я купил билеты на {название события} не потратив ни рубля! Вы можете также, просто кликните и узнайте как это сделать ;)
						</textarea>
						<div class="share-network">
							<img src="img/socials-share.png" alt="">
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>

	<!-- Modal information-modal -->
	<div class="modal fade information-modal" id="information-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-panel-mob modal-panel-mob--gray" data-dismiss="modal">
					<span>Закрыть</span>
					<div class="icon" >
						<svg width="10" height="10" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M6.188 5l3.566-3.565A.84.84 0 0 0 8.565.246L5 3.812 1.435.246A.84.84 0 1 0 .246 1.435L3.812 5 .246 8.565a.84.84 0 0 0 1.189 1.189L5 6.188l3.565 3.566a.84.84 0 0 0 1.189-1.189L6.188 5z" fill="#fff"/></svg>
					</div>
				</div>
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">
						Подробно о событии "Уральские пельмени"
					</h5>
					<button type="button" class="btn-close-modal" data-dismiss="modal" aria-label="Close">
						<img src="img/close.svg" alt="">
					</button>
				</div>
				<div class="modal-body">
					<p>
						«Уральские Пельмени» в Уфе.
						22 марта 2019г., 19-00ч., ГКЗ Башкортостан
						Они превратили ошибки и оговорки в самый блестящий номер программы, а самые смешные женские роли отдают актёрам-мужчинам.
					</p>
					<p>
						Они придумывают новогодние программы в октябре, а в год 25-летия отправляются в «ПРЕДЪюбилейный тур».
						Поэтому (и не только) они единственные и неповторимые, долгожданные и всенародно любимые «Уральские Пельмени»!
					</p>
					<p>
						Это значит, что все официальные, торжественные и прочие обязательные в юбилей вещи останутся для телевизионного концерта к 25-летию. А гостей и зрителей «ПРЕДЪюбилейного тура» ждёт только всё самое смешное и любимое, проверенное зрителями, а также всё самое новое, так сказать, с пылу с жару, ну, или только что из кастрюли.​​​​​​​
					</p>
					<p>
						Приглашаем (к столу) на концерт всех любителей белого юмора, всех, кто ценит оптимистичное отношение к жизни, всех, кто хочет получить мощный заряд позитива. На концертах «ПРЕДЪюбилейного тура» старые номера прозвучат по-новому, а свежие шутки уйдут в народ, чтобы стать самыми любимыми!
						Берите с собой друзей-фанатов! А, если найдёте тех, кто ни разу не видел Шоу «Уральские Пельмени», то тем более приводите! Вместе вкуснее и веселее!
					</p>
					<p>
						Российское творческое объединение из Екатеринбурга, работающее в комедийном жанре. Организовано в 1993 году как команда КВН. Одна из самых популярных команд КВН, чемпионы Высшей лиги КВН 2000 года. С 2009 года «Уральские пельмени» представляют собственное одноимённое юмористическое шоу на телеканале СТС, а также ряд других юмористических проектов. 
					</p>
					<p>
						Актёрский костяк коллектива сложился ещё в 1990-х годах в бытность коллектива командой КВН; в пост-КВНовской творческой деятельности были приглашены ещё ряд актёров и актрис.Актёры команды являются и авторами номеров; в то же время есть и другие группы сценаристов, которые трудятся над различными проектами «Уральских пельменей». Капитан команды - Андрей Рожков
					</p>
					<div class="modal-panel-btn">
						<a  href="#" class="btn-def">Купить билет</a>
						<button class="btn-def btn-def_transparent">Закрыть</button>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Modal pay-bonus -->
	<div class="modal fade pay-bonus" id="pay-bonus" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="sector-prev-arrow">
					<div class="icon" >
						<svg width="20" height="15" viewBox="0 0 20 15" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M6.532.9A.72.72 0 0 1 7.54.9a.678.678 0 0 1 0 .97L2.43 6.84h16.864c.393 0 .706.304.706.687a.7.7 0 0 1-.706.696H2.43l5.111 4.96a.69.69 0 0 1 0 .98.72.72 0 0 1-1.008 0L.212 8.015a.662.662 0 0 1 0-.97L6.531.9z" fill="#6C7583"/>
						</svg>
					</div>
					<span>Выбор сектора</span>
				</div>
				<div class="modal-panel-mob modal-panel-mob--gray" data-dismiss="modal">
					<span>Закрыть</span>
					<div class="icon" >
						<svg width="10" height="10" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M6.188 5l3.566-3.565A.84.84 0 0 0 8.565.246L5 3.812 1.435.246A.84.84 0 1 0 .246 1.435L3.812 5 .246 8.565a.84.84 0 0 0 1.189 1.189L5 6.188l3.565 3.566a.84.84 0 0 0 1.189-1.189L6.188 5z" fill="#fff"/></svg>
					</div>
				</div>
				<div class="modal-body">
					<!-- pay-shell-desktop -->
					<div class="pay-shell pay-shell-desktop">
						<form action="" class="form-has-error">
							<div class="pay-bonus-table">
								<div class="modal-header">
									<h5 class="modal-title" id="exampleModalLabel">
										Оплата билета бонусами
									</h5>
									<button type="button" class="btn-close-modal" data-dismiss="modal" aria-label="Close">
										<img src="img/close.svg" alt="">
									</button>
								</div>
								<div class="table-scroll">
									<table>
										<thead>
											<tr>
												<th>Сектор</th>
												<th>Осталось <span>билетов</span></th>
												<th>Цена</th>
												<th>Ряд</th>
												<th>Место</th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td>Партер</td>
												<td>28</td>
												<td>500</td>
												<td>
													<div class="part">
														<div class="wrap-select">
															<select class="select">
																<option>10</option>
																<option>11</option>
																<option>12</option>
																<option>10</option>
																<option>11</option>
																<option>12</option>
															</select>
														</div>
													</div>
												</td>
												<td>
													<div class="part">
														<div class="wrap-select">
															<select class="select">
																<option>10</option>
																<option>11</option>
																<option>12</option>
																<option>10</option>
																<option>11</option>
																<option>12</option>
															</select>
														</div>
														<button class="btn-def">Добавить заказ</button>
													</div>
												</td>
											</tr>
											<tr>
												<td>Балкон</td>
												<td>43</td>
												<td>250</td>
												<td>
													<div class="part">
														<div class="wrap-select">
															<select class="select">
																<option>15</option>
																<option>11</option>
																<option>12</option>
																<option>10</option>
																<option>11</option>
																<option>12</option>
															</select>
														</div>
													</div>
												</td>
												<td>
													<div class="part">
														<div class="wrap-select">
															<select class="select">
																<option>10</option>
																<option>11</option>
																<option>12</option>
																<option>10</option>
																<option>11</option>
																<option>12</option>
															</select>
														</div>
														<button class="btn-def">Добавить заказ</button>
													</div>
												</td>
											</tr>
											<tr>
												<td>Танцпол</td>
												<td>425</td>
												<td>150</td>
												<td>
													<div class="part">
														<div class="wrap-select">
															<select class="select">
																<option>10</option>
																<option>11</option>
																<option>12</option>
																<option>10</option>
																<option>11</option>
																<option>12</option>
															</select>
														</div>
													</div>
												</td>
												<td>
													<div class="part">
														<div class="wrap-select">
															<select class="select">
																<option>10</option>
																<option>11</option>
																<option>12</option>
																<option>10</option>
																<option>11</option>
																<option>12</option>
															</select>
														</div>
														<button class="btn-def">Добавить заказ</button>
													</div>
												</td>
											</tr>
											<tr>
												<td>Сектор А</td>
												<td>34</td>
												<td>300</td>
												<td>
													<div class="part">
														<div class="wrap-select">
															<select class="select">
																<option>10</option>
																<option>11</option>
																<option>12</option>
																<option>10</option>
																<option>11</option>
																<option>12</option>
															</select>
														</div>
													</div>
												</td>
												<td>
													<div class="part">
														<div class="wrap-select">
															<select class="select">
																<option>10</option>
																<option>11</option>
																<option>12</option>
																<option>10</option>
																<option>11</option>
																<option>12</option>
															</select>
														</div>
														<button class="btn-def">Добавить заказ</button>
													</div>
												</td>
											</tr>
											<tr>
												<td>Сектор B</td>
												<td>72</td>
												<td>400</td>
												<td>
													<div class="part">
														<div class="wrap-select">
															<select class="select">
																<option>10</option>
																<option>11</option>
																<option>12</option>
																<option>10</option>
																<option>11</option>
																<option>12</option>
															</select>
														</div>
													</div>
												</td>
												<td>
													<div class="part">
														<div class="wrap-select">
															<select class="select">
																<option>10</option>
																<option>11</option>
																<option>12</option>
																<option>10</option>
																<option>11</option>
																<option>12</option>
															</select>
														</div>
														<button class="btn-def">Добавить заказ</button>
													</div>
												</td>
											</tr>
											<tr>
												<td>Сектор С</td>
												<td>24</td>
												<td>450</td>
												<td>
													<div class="part">
														<div class="wrap-select">
															<select class="select">
																<option>10</option>
																<option>11</option>
																<option>12</option>
																<option>10</option>
																<option>11</option>
																<option>12</option>
															</select>
														</div>
													</div>
												</td>
												<td>
													<div class="part">
														<div class="wrap-select">
															<select class="select">
																<option>10</option>
																<option>11</option>
																<option>12</option>
																<option>10</option>
																<option>11</option>
																<option>12</option>
															</select>
														</div>
														<button class="btn-def">Добавить заказ</button>
													</div>
												</td>
											</tr>
											<tr>
												<td>Сектор D</td>
												<td>24</td>
												<td>450</td>
												<td>
													<div class="part">
														<div class="wrap-select">
															<select class="select">
																<option>10</option>
																<option>11</option>
																<option>12</option>
																<option>10</option>
																<option>11</option>
																<option>12</option>
															</select>
														</div>
													</div>
												</td>
												<td>
													<div class="part">
														<div class="wrap-select">
															<select class="select">
																<option>10</option>
																<option>11</option>
																<option>12</option>
																<option>10</option>
																<option>11</option>
																<option>12</option>
															</select>
														</div>
														<button class="btn-def">Добавить заказ</button>
													</div>
												</td>
											</tr>
											<tr>
												<td>ViP-ложа</td>
												<td>14</td>
												<td>2500</td>
												<td>
													<div class="part">
														<div class="wrap-select">
															<select class="select">
																<option>10</option>
																<option>11</option>
																<option>12</option>
																<option>10</option>
																<option>11</option>
																<option>12</option>
															</select>
														</div>
													</div>
												</td>
												<td>
													<div class="part">
														<div class="wrap-select">
															<select class="select">
																<option>10</option>
																<option>11</option>
																<option>12</option>
																<option>10</option>
																<option>11</option>
																<option>12</option>
															</select>
														</div>
														<button class="btn-def">Добавить заказ</button>
													</div>
												</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
							<div class="pay-bonus-nav">
								<div class="panel panel-top">
									<!-- add class error-text -->
									<div class="bonus-count error-text">
										<div class="bonus-count__icon">
											<i class="icon icon-bonuses"></i><span>1465</span>
										</div>
										<div class="bonus-count__text">Мои бонусы</div>
									</div><!-- End  add class error-text -->
									<div class="timer">
										<div class="timer__icon">
											<i class="icon icon-timer"></i>
											<div class="timer-block">
								
												<!-- .clockdiv -->
												<div id="clockdiv" class="clockdiv">
													<div>
														<span class="minutes"><i></i></span>:
													</div>
													<div>
														<span class="seconds"><i></i></span>
													</div>
												</div><!-- End .clockdiv -->
											</div>
										</div>
										<div class="bonus-count__text">Время на заказ</div>
									</div>
								</div>
								<div class="panel">
									<div class="panel__title">Ваш заказ</div>
									<div class="order-wpapper">
										<div class="order-item">
											<div class="order__count">1</div>
											<div class="order__inform">Партер, ряд 4, место 12 - <strong>800 руб.</strong></div>
											<button class="order__delete"><img src="img/btn-delete.png" alt=""></button>
										</div>
										<div class="order-item">
											<div class="order__count">2</div>
											<div class="order__inform">Партер, ряд 4, место 12 - <strong>800 руб.</strong></div>
											<button class="order__delete"><img src="img/btn-delete.png" alt=""></button>
										</div>
									</div>
								</div>
								<div class="panel panel-all-price">
									<div class="panel__title">К оплате <br> <span class="price-all"><strong>1600</strong> бонусов</span></div>
									<button class="btn-def">Оплатить</button>
								</div>

								<!-- add class error-text -->
								<div class="panel panel-btn-nav error-text">
									<p>Для оплаты не хватает 135 бонусов</p>
									<div class="panel-btn">
										<a href="#" class="btn-def ticket-succes-pay" data-toggle="modal" data-target="#ticket-succes-pay" data-dismiss="modal">Купить бонусы</a>
										<button class="btn-def btn-def_transparent">Заработать бонусы</button>
									</div>
								</div><!-- End add class error-text -->

							</div>
						</form>
					</div><!-- End pay-shell-desktop -->
					<!-- pay-shell-mobile -->
					<div class="pay-shell pay-shell-mobile">
						<form action="" class="form-has-error">
							<div class="pay-bonus-nav">
								<div class="panel panel-top">
									<!-- add class error-text -->
									<div class="bonus-count error-text">
										<div class="bonus-count__icon">
											<i class="icon icon-bonuses"></i><span>1465</span>
										</div>
										<div class="bonus-count__text">Мои бонусы</div>
									</div><!-- End  add class error-text -->
									<div class="timer">
										<div class="timer__icon">
											<i class="icon icon-timer"></i>
											<div class="timer-block">
												<!-- .clockdiv -->
												<div id="clockdiv-mobile" class="clockdiv">
													<div>
														<span class="minutes"><i></i></span>:
													</div>
													<div>
														<span class="seconds"><i></i></span>
													</div>
												</div><!-- End .clockdiv -->
											</div>
										</div>
										<div class="bonus-count__text">Время на заказ</div>
									</div>
								</div>

								<!-- table-mobile -->
								<div class="table-mobile">
									<div class="thead">
										<div class="tr">
											<div class="td">Сектор</div>
											<div class="td">Осталось мест</div>
											<div class="td">Цена (бонусов)</div>
										</div>
									</div>
									<div class="tbody">
										<div class="tr">
											<div class="td">Партер</div>
											<div class="td">28</div>
											<div class="td">500
												<span class="more-inform">
													<svg width="10" height="17" viewBox="0 0 10 17" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M2.043 17a2.006 2.006 0 0 1-1.408-.58 2.154 2.154 0 0 1-.073-2.978l4.571-4.957L.567 3.563A2.153 2.153 0 0 1 .63.584a2 2 0 0 1 2.89.067l5.913 6.373c.754.813.756 2.093.005 2.908l-5.913 6.413A2.012 2.012 0 0 1 2.043 17z" fill="#E3E7F1"/></svg>
												</span>
											</div>
											<!-- panel-float -->
											<div class="panel panel-float">
												<div class="order-mobile-nav">
													<div class="order-name">Партер</div>
													<div class="part">
														<div class="wrap-select">
															<div class="wrap-select-name">Ряд</div>
															<select class="select">
																<option>10</option>
																<option>11</option>
																<option>12</option>
																<option>10</option>
																<option>11</option>
																<option>12</option>
															</select>
														</div>
														<div class="wrap-select">
															<div class="wrap-select-name">Место</div>
															<select class="select">
																<option>10</option>
																<option>11</option>
																<option>12</option>
																<option>10</option>
																<option>11</option>
																<option>12</option>
															</select>
														</div>
														<button class="btn-def">Добавить заказ</button>
													</div>
												</div>

												<div class="order-wpapper">
													<div class="panel__title">Ваш заказ</div>
													<div class="order-item">
														<div class="order__count">1</div>
														<div class="order__inform">Партер, ряд 4, место 12 - <strong>800 руб.</strong></div>
														<button class="order__delete"><img src="img/btn-delete.png" alt=""></button>
													</div>
													<div class="order-item">
														<div class="order__count">2</div>
														<div class="order__inform">Партер, ряд 4, место 12 - <strong>800 руб.</strong></div>
														<button class="order__delete"><img src="img/btn-delete.png" alt=""></button>
													</div>
													<div class="order-item order-item-btn">
														<div class="btn-def btn-def_white">Списать 1600 бонусов за билеты</div>
													</div> 
												</div>

												<!-- add class error-text -->
												<div class="panel panel-btn-nav error-text">
													<div class="panel-btn">
														<button class="btn-def btn-def_transparent">Заработать бонусы</button>
														<a href="#" class="btn-def btn-def_white ticket-succes-pay" data-toggle="modal" data-target="#ticket-succes-pay" data-dismiss="modal">Купить бонусы</a>
													</div>
												</div><!-- End add class error-text -->
											</div><!-- End panel-float -->
										</div>
										<div class="tr">
											<div class="td">Балкон</div>
											<div class="td">43</div>
											<div class="td">250
												<span class="more-inform">
													<svg width="10" height="17" viewBox="0 0 10 17" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M2.043 17a2.006 2.006 0 0 1-1.408-.58 2.154 2.154 0 0 1-.073-2.978l4.571-4.957L.567 3.563A2.153 2.153 0 0 1 .63.584a2 2 0 0 1 2.89.067l5.913 6.373c.754.813.756 2.093.005 2.908l-5.913 6.413A2.012 2.012 0 0 1 2.043 17z" fill="#E3E7F1"/></svg>
												</span>
											</div>
											<!-- panel-float -->
											<div class="panel panel-float">
												<div class="order-mobile-nav">
													<div class="order-name">Балкон</div>
													<div class="part">
														<div class="wrap-select">
															<div class="wrap-select-name">Ряд</div>
															<select class="select">
																<option>10</option>
																<option>11</option>
																<option>12</option>
																<option>10</option>
																<option>11</option>
																<option>12</option>
															</select>
														</div>
														<div class="wrap-select">
															<div class="wrap-select-name">Место</div>
															<select class="select">
																<option>10</option>
																<option>11</option>
																<option>12</option>
																<option>10</option>
																<option>11</option>
																<option>12</option>
															</select>
														</div>
														<button class="btn-def">Добавить заказ</button>
													</div>
												</div>

												<div class="order-wpapper">
													<div class="panel__title">Ваш заказ</div>
													<div class="order-item">
														<div class="order__count">1</div>
														<div class="order__inform">Партер, ряд 4, место 12 - <strong>800 руб.</strong></div>
														<button class="order__delete"><img src="img/btn-delete.png" alt=""></button>
													</div>
													<div class="order-item">
														<div class="order__count">2</div>
														<div class="order__inform">Партер, ряд 4, место 12 - <strong>800 руб.</strong></div>
														<button class="order__delete"><img src="img/btn-delete.png" alt=""></button>
													</div>
													<div class="order-item order-item-btn">
														<div class="btn-def btn-def_white">Списать 1600 бонусов за билеты</div>
													</div> 
												</div>
											</div><!-- End panel-float -->
										</div>
										<div class="tr">
											<div class="td">Танцпол</div>
											<div class="td">425</div>
											<div class="td">150
												<span class="more-inform">
													<svg width="10" height="17" viewBox="0 0 10 17" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M2.043 17a2.006 2.006 0 0 1-1.408-.58 2.154 2.154 0 0 1-.073-2.978l4.571-4.957L.567 3.563A2.153 2.153 0 0 1 .63.584a2 2 0 0 1 2.89.067l5.913 6.373c.754.813.756 2.093.005 2.908l-5.913 6.413A2.012 2.012 0 0 1 2.043 17z" fill="#E3E7F1"/></svg>
												</span>
											</div>
											<!-- panel-float -->
											<div class="panel panel-float">
												<div class="order-mobile-nav">
													<div class="order-name">Танцпол</div>
													<div class="part">
														<div class="wrap-select">
															<div class="wrap-select-name">Ряд</div>
															<select class="select">
																<option>10</option>
																<option>11</option>
																<option>12</option>
																<option>10</option>
																<option>11</option>
																<option>12</option>
															</select>
														</div>
														<div class="wrap-select">
															<div class="wrap-select-name">Место</div>
															<select class="select">
																<option>10</option>
																<option>11</option>
																<option>12</option>
																<option>10</option>
																<option>11</option>
																<option>12</option>
															</select>
														</div>
														<button class="btn-def">Добавить заказ</button>
													</div>
												</div>

												<div class="order-wpapper">
													<div class="panel__title">Ваш заказ</div>
													<div class="order-item">
														<div class="order__count">1</div>
														<div class="order__inform">Партер, ряд 4, место 12 - <strong>800 руб.</strong></div>
														<button class="order__delete"><img src="img/btn-delete.png" alt=""></button>
													</div>
													<div class="order-item">
														<div class="order__count">2</div>
														<div class="order__inform">Партер, ряд 4, место 12 - <strong>800 руб.</strong></div>
														<button class="order__delete"><img src="img/btn-delete.png" alt=""></button>
													</div>
													<div class="order-item order-item-btn">
														<div class="btn-def btn-def_white">Списать 1600 бонусов за билеты</div>
													</div> 
												</div>
											</div><!-- End panel-float -->
										</div>
										<div class="tr">
											<div class="td">Сектор А</div>
											<div class="td">34</div>
											<div class="td">300
												<span class="more-inform">
													<svg width="10" height="17" viewBox="0 0 10 17" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M2.043 17a2.006 2.006 0 0 1-1.408-.58 2.154 2.154 0 0 1-.073-2.978l4.571-4.957L.567 3.563A2.153 2.153 0 0 1 .63.584a2 2 0 0 1 2.89.067l5.913 6.373c.754.813.756 2.093.005 2.908l-5.913 6.413A2.012 2.012 0 0 1 2.043 17z" fill="#E3E7F1"/></svg>
												</span>
											</div>
											<!-- panel-float -->
											<div class="panel panel-float">
												<div class="order-mobile-nav">
													<div class="order-name">Сектор А</div>
													<div class="part">
														<div class="wrap-select">
															<div class="wrap-select-name">Ряд</div>
															<select class="select">
																<option>10</option>
																<option>11</option>
																<option>12</option>
																<option>10</option>
																<option>11</option>
																<option>12</option>
															</select>
														</div>
														<div class="wrap-select">
															<div class="wrap-select-name">Место</div>
															<select class="select">
																<option>10</option>
																<option>11</option>
																<option>12</option>
																<option>10</option>
																<option>11</option>
																<option>12</option>
															</select>
														</div>
														<button class="btn-def">Добавить заказ</button>
													</div>
												</div>

												<div class="order-wpapper">
													<div class="panel__title">Ваш заказ</div>
													<div class="order-item">
														<div class="order__count">1</div>
														<div class="order__inform">Партер, ряд 4, место 12 - <strong>800 руб.</strong></div>
														<button class="order__delete"><img src="img/btn-delete.png" alt=""></button>
													</div>
													<div class="order-item">
														<div class="order__count">2</div>
														<div class="order__inform">Партер, ряд 4, место 12 - <strong>800 руб.</strong></div>
														<button class="order__delete"><img src="img/btn-delete.png" alt=""></button>
													</div>
													<div class="order-item order-item-btn">
														<div class="btn-def btn-def_white">Списать 1600 бонусов за билеты</div>
													</div> 
												</div>
											</div><!-- End panel-float -->
										</div>
										<div class="tr">
											<div class="td">Сектор С</div>
											<div class="td">24</div>
											<div class="td">450
												<span class="more-inform">
													<svg width="10" height="17" viewBox="0 0 10 17" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M2.043 17a2.006 2.006 0 0 1-1.408-.58 2.154 2.154 0 0 1-.073-2.978l4.571-4.957L.567 3.563A2.153 2.153 0 0 1 .63.584a2 2 0 0 1 2.89.067l5.913 6.373c.754.813.756 2.093.005 2.908l-5.913 6.413A2.012 2.012 0 0 1 2.043 17z" fill="#E3E7F1"/></svg>
												</span>
											</div>
											<!-- panel-float -->
											<div class="panel panel-float">
												<div class="order-mobile-nav">
													<div class="order-name">Сектор С</div>
													<div class="part">
														<div class="wrap-select">
															<div class="wrap-select-name">Ряд</div>
															<select class="select">
																<option>10</option>
																<option>11</option>
																<option>12</option>
																<option>10</option>
																<option>11</option>
																<option>12</option>
															</select>
														</div>
														<div class="wrap-select">
															<div class="wrap-select-name">Место</div>
															<select class="select">
																<option>10</option>
																<option>11</option>
																<option>12</option>
																<option>10</option>
																<option>11</option>
																<option>12</option>
															</select>
														</div>
														<button class="btn-def">Добавить заказ</button>
													</div>
												</div>

												<div class="order-wpapper">
													<div class="panel__title">Ваш заказ</div>
													<div class="order-item">
														<div class="order__count">1</div>
														<div class="order__inform">Партер, ряд 4, место 12 - <strong>800 руб.</strong></div>
														<button class="order__delete"><img src="img/btn-delete.png" alt=""></button>
													</div>
													<div class="order-item">
														<div class="order__count">2</div>
														<div class="order__inform">Партер, ряд 4, место 12 - <strong>800 руб.</strong></div>
														<button class="order__delete"><img src="img/btn-delete.png" alt=""></button>
													</div>
													<div class="order-item order-item-btn">
														<div class="btn-def btn-def_white">Списать 1600 бонусов за билеты</div>
													</div> 
												</div>
											</div><!-- End panel-float -->
										</div>
										<div class="tr">
											<div class="td">Сектор D</div>
											<div class="td">74</div>
											<div class="td">500
												<span class="more-inform">
													<svg width="10" height="17" viewBox="0 0 10 17" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M2.043 17a2.006 2.006 0 0 1-1.408-.58 2.154 2.154 0 0 1-.073-2.978l4.571-4.957L.567 3.563A2.153 2.153 0 0 1 .63.584a2 2 0 0 1 2.89.067l5.913 6.373c.754.813.756 2.093.005 2.908l-5.913 6.413A2.012 2.012 0 0 1 2.043 17z" fill="#E3E7F1"/></svg>
												</span>
											</div>
											<!-- panel-float -->
											<div class="panel panel-float">
												<div class="order-mobile-nav">
													<div class="order-name">Сектор D</div>
													<div class="part">
														<div class="wrap-select">
															<div class="wrap-select-name">Ряд</div>
															<select class="select">
																<option>10</option>
																<option>11</option>
																<option>12</option>
																<option>10</option>
																<option>11</option>
																<option>12</option>
															</select>
														</div>
														<div class="wrap-select">
															<div class="wrap-select-name">Место</div>
															<select class="select">
																<option>10</option>
																<option>11</option>
																<option>12</option>
																<option>10</option>
																<option>11</option>
																<option>12</option>
															</select>
														</div>
														<button class="btn-def">Добавить заказ</button>
													</div>
												</div>

												<div class="order-wpapper">
													<div class="panel__title">Ваш заказ</div>
													<div class="order-item">
														<div class="order__count">1</div>
														<div class="order__inform">Партер, ряд 4, место 12 - <strong>800 руб.</strong></div>
														<button class="order__delete"><img src="img/btn-delete.png" alt=""></button>
													</div>
													<div class="order-item">
														<div class="order__count">2</div>
														<div class="order__inform">Партер, ряд 4, место 12 - <strong>800 руб.</strong></div>
														<button class="order__delete"><img src="img/btn-delete.png" alt=""></button>
													</div>
													<div class="order-item order-item-btn">
														<div class="btn-def btn-def_white">Списать 1600 бонусов за билеты</div>
													</div> 
												</div>
											</div><!-- End panel-float -->
										</div>
										<div class="tr">
											<div class="td">ViP-ложа</div>
											<div class="td">14</div>
											<div class="td">2500
												<span class="more-inform">
													<svg width="10" height="17" viewBox="0 0 10 17" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M2.043 17a2.006 2.006 0 0 1-1.408-.58 2.154 2.154 0 0 1-.073-2.978l4.571-4.957L.567 3.563A2.153 2.153 0 0 1 .63.584a2 2 0 0 1 2.89.067l5.913 6.373c.754.813.756 2.093.005 2.908l-5.913 6.413A2.012 2.012 0 0 1 2.043 17z" fill="#E3E7F1"/></svg>
												</span>
											</div>
											<!-- panel-float -->
											<div class="panel panel-float">
												<div class="order-mobile-nav">
													<div class="order-name">ViP-ложа</div>
													<div class="part">
														<div class="wrap-select">
															<div class="wrap-select-name">Ряд</div>
															<select class="select">
																<option>10</option>
																<option>11</option>
																<option>12</option>
																<option>10</option>
																<option>11</option>
																<option>12</option>
															</select>
														</div>
														<div class="wrap-select">
															<div class="wrap-select-name">Место</div>
															<select class="select">
																<option>10</option>
																<option>11</option>
																<option>12</option>
																<option>10</option>
																<option>11</option>
																<option>12</option>
															</select>
														</div>
														<button class="btn-def">Добавить заказ</button>
													</div>
												</div>

												<div class="order-wpapper">
													<div class="panel__title">Ваш заказ</div>
													<div class="order-item">
														<div class="order__count">1</div>
														<div class="order__inform">Партер, ряд 4, место 12 - <strong>800 руб.</strong></div>
														<button class="order__delete"><img src="img/btn-delete.png" alt=""></button>
													</div>
													<div class="order-item">
														<div class="order__count">2</div>
														<div class="order__inform">Партер, ряд 4, место 12 - <strong>800 руб.</strong></div>
														<button class="order__delete"><img src="img/btn-delete.png" alt=""></button>
													</div>
													<div class="order-item order-item-btn">
														<div class="btn-def btn-def_white">Списать 1600 бонусов за билеты</div>
													</div> 
												</div>
											</div><!-- End panel-float -->
										</div>
									</div>
								</div> <!-- End table-mobile -->

							</div>
						</form>
					</div><!-- End pay-shell-mobile -->
				</div>
			</div>
		</div>
	</div>

	<div class="search search-mobile-fixed">
		<div class="search-panel">
			<span class="search-panel__title">Закрыть поиск</span>
			<div class="search-panel__icon">
				<svg width="10" height="10" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path fill-rule="evenodd" clip-rule="evenodd" d="M6.188 5l3.566-3.565A.84.84 0 0 0 8.565.246L5 3.812 1.435.246A.84.84 0 1 0 .246 1.435L3.812 5 .246 8.565a.84.84 0 0 0 1.189 1.189L5 6.188l3.565 3.566a.84.84 0 0 0 1.189-1.189L6.188 5z" fill="#fff"/>
				</svg>
			</div>
		</div>
		<div class="shell">
			<input type="text" placeholder="Найти событие или артиста...">
			<button class="btn-search btn-search-transparent"><i class="icon icon-search"></i></button>
			<div class="icon-hide">
				<svg width="10" height="10" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path fill-rule="evenodd" clip-rule="evenodd" d="M6.18849 5.00002L9.75385 1.43465C10.082 1.10646 10.082 0.574344 9.75385 0.246195C9.42566 -0.0820022 8.89359 -0.0820022 8.5654 0.246195L4.99998 3.81161L1.43457 0.246148C1.10637 -0.0820492 0.574308 -0.0820492 0.246112 0.246148C-0.0820374 0.574344 -0.0820374 1.10646 0.246112 1.4346L3.81153 4.99998L0.246112 8.5654C-0.0820374 8.89359 -0.0820374 9.4257 0.246112 9.75385C0.574308 10.082 1.10637 10.082 1.43457 9.75385L4.99998 6.18843L8.5654 9.75385C8.89355 10.082 9.42566 10.082 9.75385 9.75385C10.082 9.42566 10.082 8.89359 9.75385 8.5654L6.18849 5.00002Z" fill="white"/>
				</svg>
			</div>
		</div>
		<!-- typehead -->
		<div class="typehead typehead-mobile">
			<div class="typehead-item">
				<div class="typehead__img"><img src="img/search_1.png" alt=""></div>
				<div class="part">
					<div class="typehead__category"><a href="#">Концерты</a></div>
					<div class="typehead__title"><a href="#"><i>СУПЕР</i>ДИСКОТЕКА 90-х.</a></div>
					<div class="typehead__date">23.10.19</div>
				</div>
			</div>
			<div class="typehead-item">
				<div class="typehead__img"><img src="img/search_2.png" alt=""></div>
				<div class="part">
					<div class="typehead__category"><a href="#">Театр</a></div>
					<div class="typehead__title"><a href="#"><i>Супр</i>ужество как точная наука</a></div>
					<div class="typehead__date">18.12.19</div>
				</div>
			</div>
		</div><!-- End typehead -->
	</div>

	<!-- .TimeRemaining -->
	<script>
		function getTimeRemaining(endtime) {
			var t = Date.parse(endtime) - Date.parse(new Date());
			var seconds = Math.floor((t / 1000) % 60);
			var minutes = Math.floor((t / 1000 / 60) % 60);
			var hours = Math.floor((t / (1000 * 60 * 60)) % 24);
			var days = Math.floor(t / (1000 * 60 * 60 * 24));
			return {
			'total': t,
			// 'days': days,
			// 'hours': hours,
			'minutes': minutes,
			'seconds': seconds
			};
			}
		 
			function initializeClock(clockDiv, endtime) {
			  var clock = clockDiv;
			  var daysSpan = clock.querySelector('.days');
			  var hoursSpan = clock.querySelector('.hours i');
			  var minutesSpan = clock.querySelector('.minutes i');
			  var secondsSpan = clock.querySelector('.seconds i');
			 
			  function updateClock() {
			    var t = getTimeRemaining(endtime);
			 
			    // daysSpan.innerHTML = t.days;
			    // hoursSpan.innerHTML = ('0' + t.hours).slice(-2);
			    minutesSpan.innerHTML = ('0' + t.minutes).slice(-2);
			    secondsSpan.innerHTML = ('0' + t.seconds).slice(-2);
			 
			    if (t.total <= 0) {
			      clearInterval(timeinterval);
			    }
			  }
	 
		  updateClock();
		  	var timeinterval = setInterval(updateClock, 1000);
		}
	 
		var deadline="January 01 2018 00:00:00 GMT+0300"; //for Ukraine
		var deadline = new Date(Date.parse(new Date()) + 1 * 1 * 15 * 60 * 1000); // for endless timer
	
		let tmr = document.getElementsByClassName('clockdiv');
		for (let tm of tmr) {
			initializeClock(tm, deadline);
		}
	</script><!-- End TimeRemaining -->

	<div class="overlay"></div>
	<script src="https://api-maps.yandex.ru/2.1/?lang=ru_ru&apikey=7494e3e7-008f-4e03-bd72-31a4650591f7" type="text/javascript"></script>
	<script src="js/scripts.min.js"></script>
	<script src="js/common.js"></script> 
	<!--End .normal-->

</body>
</html>