// .page-create-new-event-step3_event_published
.event-published
	@media screen and (max-width: 767px)
		padding: 20px
	.wrap-h3
		display: flex
		align-items: center
		img
			width: 19px
			height: 15px
			margin-left: -7px
			margin-top: -10px
			margin-right: 6px
			@media screen and (max-width: 767px)
				margin-left: 0
		h3
			font-weight: bold
			font-size: 18px
			line-height: 25px
			padding-left: 6px
			color: $black
			@media screen and (max-width: 767px)
				font-size: 14px
				line-height: 16px
	.panel-submit
		padding-left: 25px
		@media screen and (max-width: 767px)
			padding-left: 32px
	button.btn-def 
    	padding: 10px 18px 8px

// END.page-create-new-event-step3_event_published