// .page-training-poster_error
.sidebar-training ul
	.disable
		border-right: 4px solid $green-light-def
		.wrap-steps
			.step
				.die-text
					h5,
					p
						color: #0E1F38
.page-training-poster_error
	.wrap-training
		margin-top: 0
	.task-error
		// height: calc(100% - 40px) 
		h3
			font-weight: bold
			font-size: 16px
			line-height: 19px
			color: #6C7583
			margin-bottom: 68px
			@media only screen and (max-width: 1024px)
				margin-bottom: 0

// /*End_.page-training-poster_error*/