// .page-paid-services
.page-paid-services
	.referral-program
		margin: 0
		box-shadow: none
		border: none
		padding: 33px 0 36px
		.wrap-referral-program
			padding: 0 30px 5px
		.promotional-offer-hide
			// border-bottom: 1px solid #E3E7F1
		.price
			margin-left: 20px
		.wrap-promotional-offer
			padding: 0 30px 5px
		.wrap-select-span
			width: 100%
			max-width: 114px
			.select2
				.select2-selection--single
					.select2-selection__rendered
						height: 33px
						line-height: 33px
						font-size: 14px
		.select2
			.select2-selection--single
				.select2-selection__rendered
					height: 33px
					line-height: 33px
					font-size: 14px
		.wrap-top-select
			padding: 30px
	.main-content
		h5
			font-weight: bold
			font-size: 18px
			line-height: 21px
			color: #A4A8AD
			padding-top: 28px
		.download-right,
		.slelect-right
			display: none
		.f-child
			width: 100%
			max-width: 405px
			margin-right: 20px
		.l-child
			width: 100%
			max-width: 245px
	.line
		width: 100%
		height: 1px
		display: block
		background: #E3E7F1
	.days-left
		padding-left: 22px
		flex: 0 1 auto
	.nav-link
		padding: 11px 19px
		border: none
		border-radius: 3px 3px 0px 0px
		&.active
			border: none
			border-radius: 3px 3px 0px 0px
	.nav-tabs
		border-bottom: none
		.nav-item
			margin-bottom: -2px
	.days-left
		display: flex
		align-items: center
	table
		&.tableSection
			margin-top: 0
			th
				font-size: 14px
				line-height: 16px
				color: #A7B3BE
			tr
				td,
				td:first-child,
				td:last-child
					font-size: 13px
					line-height: 15px
					padding: 10px 10px
				&:nth-child(2)
					td
						padding: 16px 10px 10px //первая строка 
				&:last-child 
					td
    					padding: 10px 10px 15px //последняя строка
				&:hover td
					color: $black
				&.no-shadow:hover
					box-shadow: none
				td
					vertical-align: top
					text-align: top
			.th_1,
			.th_2,
			.th_3,
			.th_4,
			.th_5,
			.th_6
				width: auto
				padding: 21px 10px 17px
			.th_1
				width: 10%
			.th_2
				width: 22%
			.th_3
				width: 29%
			.th_4
				width: 15%
			.th_5
				width: 9%
			.th_6
				width: 11%
			.border-col
				border-top: 1px solid  #EFEFF3
				border-bottom: 1px solid  #EFEFF3
				&:hover
					box-shadow: none
			h5
				font-weight: bold
				font-size: 14px
				line-height: 16px
				color: #0E1F38
				padding-top: 10px
			.bold
				td
					color: #0E1F38
					.icon
						font-size: 10px
			.event-active
				&:hover
					box-shadow: none
					& .icon-block-shell
						display: none
					td
						border-right: 1px solid #EFEFF3
					
				.fl-first-child
					display: flex
					position: relative
					align-items: center
					&::before
						content: ''
						width: 5px
						height: 5px
						border-radius: 50%
						background: $green-light-def
						padding: 0 0px
						margin-right: 5px
						flex: 0 0 auto

			.grey
				td
					color: #A7B3BE
					h5
						color: #A7B3BE
				.Left-tickets
					i
						font-size: 10px
			.icon-block-shell
				.icon-block a span
					font-weight: bold
					font-size: 14px
					line-height: 16px
					color: #FFFFFF
	.offers-modal
		.modal-dialog
			@media (min-width: 576px)
				max-width: 530px
	/*mob version*/
	.mobile-main-content
		.wrap-top-select
			background: transparent
			padding-bottom: 0
			h5
				font-weight: bold
				font-size: 14px
				line-height: 21px
				color: #0E1F38
				padding-top: 14px
				padding-bottom: 0
		.mobSection
			margin: 0 -20px 0
			background: transparent
			box-shadow: none
			.nav-tabs
				.nav-item
					a
						font-weight: normal
						font-size: 12px
						line-height: 14px
						color: #0E1F38
					.nav-link
						padding: 10px 16px
			.tab-content
				margin: 0 -20px

			.referral-program
				padding: 26px 0 19px
				.wrap-referral-program
					padding: 0 20px 0
				&__title
					font-weight: bold
					font-size: 14px
					line-height: 16px
					color: #0E1F38
				.wrap-promotional-offer
					padding: 20px 20px 5px
				.promotional-offer
					padding-top: 19px
					display: flex
					padding-bottom: 23px
					@media only screen and (max-width: 767px)
						display: block
						border-bottom: 0
					.wrap-price
						display: flex
				.second
					padding-top: 0
					padding-bottom: 25px
				.icon-question
					font-size: 20px
				.wrap-top-select
					padding: 30px 0px 1px
					margin: 0 20px
				.wrap-select-span
					height: 35px
					padding-left: 0
					padding-top: 0
				.wrap-content
					.bottom-p
						margin-bottom: 11px
						margin-top: 3px
				.price
					font-weight: 900
					font-size: 18px
					line-height: 21px
					color: #0E1F38
					margin-left: 10px
				.days-left
					padding-left: 0
					font-weight: normal
					font-size: 14px
					line-height: 21px
					color: #A7B3BE
					padding-top: 9px
				.select2-selection--single
					height: 35px
				.f-child
					width: 100%
					max-width: 100%
					margin-right: 0
					margin-bottom: 21px
				.l-child
					max-width: 100%
				.wrap-price-second
					display: flex
					padding-top: 11px
				.btn-referral-program
					margin: 5px auto
					padding: 10px 25px 7px
					font-weight: bold
					font-size: 14px
					line-height: 16px
					@media only screen and (max-width: 550px)
						display: block
						width: 100%
			
			.payment-methods-h5
				font-weight: bold
				font-size: 18px
				line-height: 21px
				color: #6C7583
				width: 100%
				padding: 37px 20px 0px
				margin-bottom: 4px
			.payment-methods-img
				max-width: 100%
			.line
				display: none

			.payment-method
				background: #F4F4F5
				.wrap-img
					display: flex
					flex-direction: column
					flex-wrap: wrap
					align-items: flex-start
					img
						max-width: 100%
			.purchase-history
				background: #fff
				padding: 20px 20px 0
				background: #FFFFFF
				box-shadow: 0px 2px 2px #E0E0E3
				.select2-selection--single
					height: 35px
				.wrap-catalog-raise
					padding-top: 12px
				.catalog-raise
					display: flex
					align-items: center
					h6
						font-weight: bold
						font-size: 13px
						line-height: 15px
						color: #69C530
						margin-bottom: 0
					.event-btn-more
						margin-left: auto
						position: relative
						top: auto
						transform: translateY(0%)
						padding: 6px 8px
				.event-item
					margin-bottom: 20px
				.event-inform-short
					.event-part
						padding-top: 10px
						padding-bottom: 18px
						.event-icon
							margin-top: 3px
						.event-text
							justify-content: flex-start
							.event-date,
							.city-mob
								font-weight: normal
								font-size: 12px
								line-height: 14px
								color: #6C7583
							.event-top-text
								padding-top: 3px
							.city-mob
								margin-top: auto
			.wrap-event-part
				padding-top: 0
				padding-bottom: 0


// /*End_.page-paid-services*/