<!--_______ .page-paid-services _______-->
<div class="page-event-statistic page-paid-services page-create-new-event-step2  page-ticket-check page-insert">
	<div class="container">
		<div class="row-wrap-main">
			<div class="col-item side-bar">
				<div class="side-bar-user">
					<div class="top-nav">
						<div class="user-avatar" style="background-image: url(img/user-avatar.jpg)"></div>
						<div class="user-inform">
							<div class="user-name">
								<span>Вячеслав</span>
								<a class="user-gear" href="#">
									<i class="icon icon-settings"></i>
								</a>
							</div>
							<div class="user-status">Организатор</div>
						</div>
					</div>

					<ul>
						<li>
							<a href="#">
								<i class="icon icon-developments"></i>
								<span>
									События и статистика
								</span>
								<button class="add-event"><img src="img/svg/plus.svg" alt="plus"></button>
							</a>
						</li>
						<li>
							<a href="#">
								<i class="icon icon-bd"></i>
								<span>База клиентов</span>
							</a>
						</li>
						<li>
							<a href="#">
								<i class="icon icon-ticket"></i>
								<span>Проверка билетов</span>
							</a>
						</li>
						<li class="active">
							<a href="#">
								<i class="icon icon-paid--services"></i>
								<span>Платные услуги</span>
							</a>
						</li>
					</ul>
					
					<ul>
						<li>
							<a href="#">
								<i class="icon icon-support"></i>
								<span>
									Служба поддержки
								</span>
							</a>
						</li>
						<li>
							<a href="#">
								<i class="icon icon-exit"></i>
								<span>Выйти из кабинета</span>
							</a>
						</li>
					</ul>
				</div>
			</div>
			<div class="col-item main-content">
				<div class="desktop-main-content">
					<ul class="nav nav-tabs" id="myTab" role="tablist">
						<li class="nav-item">
							<a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="false">Каталог услуг</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="true">История покупок</a>
						</li>
					</ul>
					<div class="tab-content" id="myTabContent">
						<div class="tab-pane fade  show active" id="home" role="tabpanel" aria-labelledby="home-tab">
							<div class="referral-program">
								<div class="wrap-referral-program">
									<div class="referral-program__title">
										Применить к событию услуги повышающие просмотры и продажи:
									</div>
									<div class="promotional-offer-hide">
										<div class="promotional-offer">
											<div class="wrap-content">
												<label class="container-checkbox">
													<input type="checkbox" checked="checked">
													<span class="checkmark"></span>
													<span>
														Реферальная программа
													</span>
												</label>
												<i class="icon icon-question"></i>
												<p class="bottom-p">Действует сразу на все события</p>
											</div>
											<div class="wrap-select-span">
												<select class="select">
													<option>1 месяц</option>
													<option>2 месяц</option>
													<option>3 месяц</option>
													<option>пол года</option>
													<option>год</option>
												</select>
											</div>
											<span class='price'>1990 <i class="icon icon-rb"></i></span>
											<span class="days-left">(Осталось 23 дня до продления)</span>
										</div>
									</div>
								</div>
								<div class="line"></div>
								<div class="wrap-top-select">
									<div class="wrap-select f-child">
										<select  class="select event-select">
											<option>Событие</option>
											<option>Кино</option>
											<option>Концерты</option>
											<option>Вечеринки</option>
											<option>Театры</option>
											<option>Детям</option>
											<option>Бизнес</option>
											<option>Спорт</option>
											<option>Активный отдых</option>
											<option>Обучение</option>
										</select>
									</div>
									<div class="wrap-select l-child">
										<select  class="select select_all_city">
											<option>Все города</option>
											<option>Санкт-Петербург</option>
											<option>Москва</option>
											<option>Уфа</option>
											<option>Казань</option>
										</select>
									</div>
								</div>
								<div class="wrap-promotional-offer">
									<div class="promotional-offer">
										<div class="wrap-content">
											<label class="container-checkbox">
												<input type="checkbox" checked="checked">
												<span class="checkmark"></span>
												<span>
													Выделение события желтой рамкой
												</span>
											</label>
										</div>
										<div class="wrap-select-span">
											<select class="select">
												<option>1 месяц</option>
												<option>2 месяц</option>
												<option>3 месяц</option>
												<option>пол года</option>
												<option>год</option>
											</select>
										</div>
										<span class='price'>300 <i class="icon icon-rb"></i></span>
									</div>
									<div class="promotional-offer">
										<div class="wrap-content">
											<label class="container-checkbox">
												<input type="checkbox" checked="checked">
												<span class="checkmark"></span>
												<span>
													Закрепление в каталоге ТОП-3
												</span>
											</label>
										</div>
										<div class="wrap-select-span">
											<select class="select">
												<option>1 месяц</option>
												<option>2 месяц</option>
												<option>3 месяц</option>
												<option>пол года</option>
												<option>год</option>
											</select>
										</div>
										<span class='price'>1000 <i class="icon icon-rb"></i></span>
									</div>
									<div class="promotional-offer">
										<div class="wrap-content">
											<label class="container-checkbox">
												<input type="checkbox" checked="checked">
												<span class="checkmark"></span>
												<span>
													Поднятие в каталоге на 1-е место
												</span>
											</label>
										</div>
										<div class="wrap-select-span">
											<select class="select">
												<option>1 раз</option>
												<option>1 неделя</option>
												<option>1 месяц</option>
												<option>1 год</option>
											</select>
										</div>
										<span class='price'>300 <i class="icon icon-rb"></i></span>
									</div>
									<button class='btn-def btn-referral-program' href="#" type="submit" data-toggle="modal" data-target="#my_modal">
										Оплатить 
										<span>
											3590 
											<span>&#x20bd;</span>
										</span>
									</button>
								</div>
							</div>
							<h5>
								Способы оплаты
							</h5>
							<img src="img/svg/payment-methods-img.svg" alt="">
						</div>
						<div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
							<table class="tableSection">
								<thead>
									<th class="th_1">Дата</th>
									<th class="th_2">Услуга</th>
									<th class="th_3">Событие</th>
									<th class="th_4">Город</th>
									<th class="th_5">Период</th>
									<th class="th_6">Стоимость</th> 
								</thead>
								<tbody>
									<tr class="no-shadow">
										<td class='border-col' colspan="6">
											<h5>Активные услуги</h5>
										</td>
									</tr>	 
									<tr class="event-active bold"> 
										<td>
											<div class="fl-first-child">
												12.02.19 
											</div>
										</td> 
										<td>
											Поднятие в каталоге
										</td>
										<td>
											Руки вверх 20 лет, юбилейны тур
										</td>
										<td>
											Санкт-Петербург
										</td>
										<td>
											1 раз
										</td>
										<td>
											<div class="Left-tickets empty">
												300
												<i class="icon icon-rb"></i>
											</div>
											<div class="icon-block-shell">
												<div class="icon-block">
													<a href="#">
														<span>Продлить</span>
													</a>
												</div>
											</div>
										</td>
									</tr>
									<tr class="event-active bold"> 
										<td>
											<div class="fl-first-child">
												03.02.19
											</div>
										</td> 
										<td>
											Выделение  события цветом
										</td>
										<td>
											Уральские пельмени. Новогоднее шоу
										</td>
										<td>
											Нижний-Новгород
										</td>
										<td>
											1 неделя
										</td>
										<td>
											<div class="Left-tickets empty">
												300
												<i class="icon icon-rb"></i>
											</div>
											<div class="icon-block-shell">
												<div class="icon-block">
													<a href="#">
														<span>Продлить</span>
													</a>
												</div>
											</div>
										</td>
									</tr>
									<tr class="event-active bold"> 
										<td>
											<div class="fl-first-child">
												03.03.19 
											</div>
										</td> 
										<td>
											Реферальная программа
										</td>
										<td>
											Все события
										</td>
										<td>
											Уфа
										</td>
										<td>
											1 месяц
										</td>
										<td>
											<div class="Left-tickets empty">
												300
												<i class="icon icon-rb"></i>
											</div>
											<div class="icon-block-shell">
												<div class="icon-block">
													<a href="#">
														<span>Продлить</span>
													</a>
												</div>
											</div>
										</td>
									</tr>
								</tbody>
								<tbody>
									<tr class="grey no-shadow">
										<td class='border-col' colspan="6">
											<h5>Завершенные</h5>
										</td>
									</tr>	 
									<tr class="grey"> 
										<td>
											12.02.19 
										</td> 
										<td>
											Выделение  события цветом
										</td>
										<td>
											Руки вверх 20 лет, юбилейны тур
										</td>
										<td>
											Санкт-Петербург
										</td>
										<td>
											1 неделя
										</td>
										<td>
											<div class="Left-tickets empty">
												300
												<i class="icon icon-rb"></i>
											</div>
											<div class="icon-block-shell">
												<div class="icon-block">
													<a href="#">
														<span>Продлить</span>
													</a>
												</div>
											</div>
										</td>
									</tr>
									<tr class="grey"> 
										<td>
											03.02.19
										</td> 
										<td>
											Закрепление в каталоге
										</td>
										<td>
											Уральские пельмени. Новогоднее шоу
										</td>
										<td>
											Нижний-Новгород
										</td>
										<td>
											1 месяц
										</td>
										<td>
											<div class="Left-tickets empty">
												300
												<i class="icon icon-rb"></i>
											</div>
											<div class="icon-block-shell">
												<div class="icon-block">
													<a href="#">
														<span>Продлить</span>
													</a>
												</div>
											</div>
										</td>
									</tr>
									<tr class="grey"> 
										<td>
											20.02.19
										</td> 
										<td>
											Закрепление в каталоге
										</td>
										<td>
											Stand Up. Виктор Комаров. 
										</td>
										<td>
											Уфа
										</td>
										<td>
											1 месяц
										</td>
										<td>
											<div class="Left-tickets empty">
												1900
												<i class="icon icon-rb"></i>
											</div>
											<div class="icon-block-shell">
												<div class="icon-block">
													<a href="#">
														<span>Продлить</span>
													</a>
												</div>
											</div>
										</td>
									</tr>
									<tr class="grey"> 
										<td>
											09.03.19
										</td> 
										<td>
											Поднятие в каталоге
										</td>
										<td>
											Руки вверх 20 лет, юбилейны тур
										</td>
										<td>
											Казань
										</td>
										<td>
											1 раз
										</td>
										<td>
											<div class="Left-tickets empty">
												300
												<i class="icon icon-rb"></i>
											</div>
											<div class="icon-block-shell">
												<div class="icon-block">
													<a href="#">
														<span>Продлить</span>
													</a>
												</div>
											</div>
										</td>
									</tr>
									<tr class="grey"> 
										<td>
											15.03.19
										</td> 
										<td>
											Выделение  события цветом
										</td>
										<td>
											Руки вверх 20 лет, юбилейны тур|
										</td>
										<td>
											Уфа
										</td>
										<td>
											1 неделя
										</td>
										<td>
											<div class="Left-tickets empty">
												300
												<i class="icon icon-rb"></i>
											</div>
											<div class="icon-block-shell">
												<div class="icon-block">
													<a href="#">
														<span>Продлить</span>
													</a>
												</div>
											</div>
										</td>
									</tr>
									<tr class="grey"> 
										<td>
											10.03.19
										</td> 
										<td>
											Закрепление в каталоге
										</td>
										<td>
											Уральские пельмени. Новогоднее шоу
										</td>
										<td>
											Казань
										</td>
										<td>
											1 неделя
										</td>
										<td>
											<div class="Left-tickets empty">
												300
												<i class="icon icon-rb"></i>
											</div>
											<div class="icon-block-shell">
												<div class="icon-block">
													<a href="#">
														<span>Продлить</span>
													</a>
												</div>
											</div>
										</td>
									</tr>
									<tr class="grey"> 
										<td>
											13.01.19
										</td> 
										<td>
											Закрепление в каталоге
										</td>
										<td>
											Stand Up. Виктор Комаров. 
										</td>
										<td>
											Москва
										</td>
										<td>
											1 месяц
										</td>
										<td>
											<div class="Left-tickets empty">
												300
												<i class="icon icon-rb"></i>
											</div>
											<div class="icon-block-shell">
												<div class="icon-block">
													<a href="#">
														<span>Продлить</span>
													</a>
												</div>
											</div>
										</td>
									</tr>
									<tr class="grey"> 
										<td>
											02.02.19
										</td> 
										<td>
											Поднятие в каталоге
										</td>
										<td>
											Руки вверх 20 лет, юбилейны тур
										</td>
										<td>
											Уфа
										</td>
										<td>
											1 раз
										</td>
										<td>
											<div class="Left-tickets empty">
												300
												<i class="icon icon-rb"></i>
											</div>
											<div class="icon-block-shell">
												<div class="icon-block">
													<a href="#">
														<span>Продлить</span>
													</a>
												</div>
											</div>
										</td>
									</tr>
									<tr class="grey"> 
										<td>
											31.01.19
										</td> 
										<td>
											Закрепление в каталоге
										</td>
										<td>
											Stand Up. Виктор Комаров. 
										</td>
										<td>
											Санкт-Петербург
										</td>
										<td>
											1 неделя
										</td>
										<td>
											<div class="Left-tickets empty">
												300
												<i class="icon icon-rb"></i>
											</div>
											<div class="icon-block-shell">
												<div class="icon-block">
													<a href="#">
														<span>Продлить</span>
													</a>
												</div>
											</div>
										</td>
									</tr>
									<tr class="grey"> 
										<td>
											28.02.19
										</td> 
										<td>
											Поднятие в каталоге
										</td>
										<td>
											Уральские пельмени. Новогоднее шоу
										</td>
										<td>
											Москва
										</td>
										<td>
											1 раз
										</td>
										<td>
											<div class="Left-tickets empty">
												300
												<i class="icon icon-rb"></i>
											</div>
											<div class="icon-block-shell">
												<div class="icon-block">
													<a href="#">
														<span>Продлить</span>
													</a>
												</div>
											</div>
										</td>
									</tr>
									<tr class="grey"> 
										<td>
											09.03.19
										</td> 
										<td>
											Поднятие в каталоге
										</td>
										<td>
											Руки вверх 20 лет, юбилейны тур
										</td>
										<td>
											Казань
										</td>
										<td>
											1 раз
										</td>
										<td>
											<div class="Left-tickets empty">
												300
												<i class="icon icon-rb"></i>
											</div>
											<div class="icon-block-shell">
												<div class="icon-block">
													<a href="#">
														<span>Продлить</span>
													</a>
												</div>
											</div>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
				<div class="mobile-main-content">
					<div class="wrap-top-select">
						<h5>
							Платные услуги
						</h5>
					</div>
					<div class="mobSection">
						<ul class="nav nav-tabs" id="myTab-mob" role="tablist">
							<li class="nav-item">
								<a class="nav-link active" id="home-tab-mob" data-toggle="tab" href="#home-mob" role="tab" aria-controls="home-mob" aria-selected="false">Каталог услуг</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" id="profile-tab-mob" data-toggle="tab" href="#profile-mob" role="tab" aria-controls="profile-mob" aria-selected="true">История покупок</a>
							</li>
						</ul>
						<div class="tab-content" id="myTabContent-mob">
							<div class="tab-pane fade  show active" id="home-mob" role="tabpanel" aria-labelledby="home-tab-mob">
								<div class="referral-program">
									<div class="wrap-referral-program">
										<div class="referral-program__title">
											Применить к событию услуги повышающие просмотры и продажи:
										</div>
										<div class="promotional-offer-hide">
											<div class="promotional-offer">
												<div class="wrap-content">
													<label class="container-checkbox">
														<input type="checkbox" checked="checked">
														<span class="checkmark"></span>
														<span>
															Реферальная программа
														</span>
													</label>
													<i class="icon icon-question"></i>
													<p class="bottom-p">Действует сразу на все события</p>
												</div>
												<div class="wrap-price">
													<div class="wrap-select-span">
														<select class="select">
															<option>1 месяц</option>
															<option>2 месяц</option>
															<option>3 месяц</option>
															<option>пол года</option>
															<option>год</option>
														</select>
													</div>
													<span class='price'>1990 <i class="icon icon-rb"></i></span>
												</div>
												<span class="days-left">(Осталось 23 дня до продления)</span>
											</div>
										</div>
									</div>
									<div class="line"></div>
									<div class="wrap-top-select">
										<div class="wrap-select f-child">
											<select  class="select event-select">
												<option>Событие</option>
												<option>Кино</option>
												<option>Концерты</option>
												<option>Вечеринки</option>
												<option>Театры</option>
												<option>Детям</option>
												<option>Бизнес</option>
												<option>Спорт</option>
												<option>Активный отдых</option>
												<option>Обучение</option>
											</select>
										</div>
										<div class="wrap-select l-child">
											<select  class="select select_all_city">
												<option>Все города</option>
												<option>Санкт-Петербург</option>
												<option>Москва</option>
												<option>Уфа</option>
												<option>Казань</option>
											</select>
										</div>
									</div>
									<div class="wrap-promotional-offer">
										<div class="promotional-offer second">
											<div class="wrap-content">
												<label class="container-checkbox">
													<input type="checkbox" checked="checked">
													<span class="checkmark"></span>
													<span>
														Выделение события желтой рамкой
													</span>
												</label>
											</div>
											<div class="wrap-price-second">
												<div class="wrap-select-span">
													<select class="select">
														<option>1 месяц</option>
														<option>2 месяц</option>
														<option>3 месяц</option>
														<option>пол года</option>
														<option>год</option>
													</select>
												</div>
												<span class='price'>300 <i class="icon icon-rb"></i></span>
											</div>
										</div>
										<div class="promotional-offer second">
											<div class="wrap-content">
												<label class="container-checkbox">
													<input type="checkbox" checked="checked">
													<span class="checkmark"></span>
													<span>
														Закрепление в каталоге ТОП-3
													</span>
												</label>
											</div>
											<div class="wrap-price-second">
												<div class="wrap-select-span">
													<select class="select">
														<option>1 месяц</option>
														<option>2 месяц</option>
														<option>3 месяц</option>
														<option>пол года</option>
														<option>год</option>
													</select>
												</div>
												<span class='price'>1000 <i class="icon icon-rb"></i></span>
											</div>
										</div>
										<div class="promotional-offer second">
											<div class="wrap-content">
												<label class="container-checkbox">
													<input type="checkbox" checked="checked">
													<span class="checkmark"></span>
													<span>
														Поднятие в каталоге на 1-е место
													</span>
												</label>
											</div>
											<div class="wrap-price-second">
												<div class="wrap-select-span">
													<select class="select">
														<option>1 раз</option>
														<option>1 неделя</option>
														<option>1 месяц</option>
														<option>1 год</option>
													</select>
												</div>
												<span class='price'>300 <i class="icon icon-rb"></i></span>
											</div>
										</div>
										<button class='btn-def btn-referral-program' href="#" type="submit" data-toggle="modal" data-target="#my_modal">
											Оплатить 
											<span>
												3590 
												<span>&#x20bd;</span>
											</span>
										</button>
									</div>
								</div>
								<div class="payment-method">
									<div class="wrap-img">
										<h5 class='payment-methods-h5'>
											Способы оплаты
										</h5>
										<img src="img/svg/payment-methods-img-mob_1.svg" alt="">
										<img src="img/svg/payment-methods-img-mob_2.svg" alt="">
										<img src="img/svg/payment-methods-img-mob_3.svg" alt="">
									</div>
								</div>
							</div>
							<div class="tab-pane fade" id="profile-mob" role="tabpanel" aria-labelledby="profile-tab-mob">
								<div class="purchase-history">
									<div class="wrap-select">
										<select  class="select">
											<option>Активные услуги</option>
											<option>Активные услуги</option>
											<option>Завершенные услуги</option>
										</select>
									</div>
									<div class="wrap-catalog-raise">
										<ul>
											<li class="event-item">
												<div class="catalog-raise">
													<span>
														<h6>
															Поднятие в каталоге
														</h6>
													</span>
													<div class="btn-def event-btn-more">
															Продлить
													</div>
												</div>
												<div class="event-inform event-inform-short">
													<div class="event-part">
														<div class="event-icon"><img src="img/event/event_1.jpg" alt="event_1"></div>	
														<div class="event-text">
															<div class="event-date">
																12.02.19 (1 раз)
															</div>
															<div class="event-top-text">Руки вверх 20 лет, юбилейны тур</div>
															<span class='city-mob'>
																Санкт-Петербург
															</span>
														</div>
													</div>
												</div>
												<div class="event-description event-inform-more">
													<div class="event-btn-back">
														<img src="img/svg/mob-arrow-back.svg" alt="arrow_back">
														<span class="text-back">Платные услуги</span>
													</div>
													<div class="wrap-event-part">
														<img src="img/svg/payment-method.svg" alt="">
													</div>
												</div>
											</li>
											<li class="event-item">
												<div class="catalog-raise">
													<span>
														<h6>
															Выделение  события цветом
														</h6>
													</span>
													<div class="btn-def event-btn-more">
															Продлить
													</div>
												</div>
												<div class="event-inform event-inform-short">
													<div class="event-part">
														<div class="event-icon"><img src="img/event/event_2.jpg" alt="event_1"></div>	
														<div class="event-text">
															<div class="event-date">03.02.19 - 10.02.19 (1 неделя)
															</div>
															<div class="event-top-text">Уральские Пельмени. Предновогоднее шоу</div>
															<span class='city-mob'>
																Нижний новгород
															</span>
														</div>
													</div>
												</div>
												<div class="event-description event-inform-more">
													<div class="event-btn-back">
														<img src="img/svg/mob-arrow-back.svg" alt="arrow_back">
														<span class="text-back">Платные услуги</span>
													</div>
													<div class="wrap-event-part">
														<img src="img/svg/payment-method.svg" alt="">
													</div>
												</div>
											</li>
											<li class="event-item">
												<div class="catalog-raise">
													<span>
														<h6>
															Реферальная программа
														</h6>
													</span>
													<div class="btn-def event-btn-more">
															Продлить
													</div>
												</div>
												<div class="event-inform event-inform-short">
													<div class="event-part">
														<div class="event-icon"><img src="img/event/event_1.jpg" alt="event_1"></div>	
														<div class="event-text">
															<div class="event-date">30.01.2018
															</div>
															<div class="event-top-text">Руки вверх 20 лет, юбилейны тур</div>
															<span class='city-mob'>
																Санкт-Петербург
															</span>
														</div>
													</div>
												</div>
												<div class="event-description event-inform-more">
													<div class="event-btn-back">
														<img src="img/svg/mob-arrow-back.svg" alt="arrow_back">
														<span class="text-back">Платные услуги</span>
													</div>
													<div class="wrap-event-part">
														<img src="img/svg/payment-method.svg" alt="">
													</div>
												</div>
											</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="app-mobile">
			<div class="app-mobile__title">Чаще ищете куда сходить с телефона?</div>
			<div class="app-mobile__pre-title">Скачайте приложение EVENTR</div>
			<div class="app-mobile__img">
				<p><a href="#"><img src="img/gps.png" alt=""></a></p>
				<p><a href="#"><img src="img/aps.png" alt=""></a></p>
			</div>
		</div>
	</div>
	<!-- Modal -->
	<div class="modal offers-modal fade" id="my_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<a class="close-castom" data-dismiss="modal" aria-label="Close"></a>

				<img src="img/svg/payment-method.svg" alt="">
			</div>
		</div>
	</div>
</div>
<!--_______ End.page-paid-services _______-->