<div class="page-login">
	<div class="container">
		<div class="wrap-form-login">
			<div class="login">

				<h5>
					Вход в личный кабинет
				</h5>
				<nav>
					<div class="nav nav-tabs" id="nav-tab" role="tablist">
						<a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Посетитель</a>
						<a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Организатор</a>
					</div>
				</nav>
				<div class="tab-content" id="nav-tabContent">
					<div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
						<div class="social-signIn">
							<h6>
								Войти через соц.сети
							</h6>
							<ul>
								<li>
									<a class='social-signIn-vk'	href="#">
										<i class="icon-vk"></i>
									</a>
								</li>
								<li>
									<a class='social-signIn-f' href="#">
										<i class="icon-facebook"></i>
									</a>
								</li>
								<li>
									<a class='social-signIn-g' href="#">
										<i class="icon-google-plus"></i>
									</a>
								</li>
							</ul>
						</div>
						<form class="needs-validation" novalidate>
							<div class="form-group">
								<input type="email" class="form-control" id="validationCustom03" aria-describedby="emailHelp" placeholder="Email или телефон" required>
								<div class="invalid-feedback">
									Неправильно введен email, телефон или пароль
								</div>
							</div>
							<div class="form-group">
								<input type="password" class="form-control" id="validationCustom02" placeholder="Пароль" required>
							</div>
							<div class="form-group">
								<button type="submit" class="btn-def btn-login">Войти</button>
							</div>
							<div class="registration-link">
								<a href="#">
									Восстановить пароль
								</a>
								<a href="#">
									Регистрация
								</a>
							</div>
						</form>
					</div>
					<div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
						<div class="social-signIn">
							<h6>
								Войти через соц.сети
							</h6>
							<ul>
								<li>
									<a class='social-signIn-vk'	href="#">
										<i class="icon-vk"></i>
									</a>
								</li>
								<li>
									<a class='social-signIn-f' href="#">
										<i class="icon-facebook"></i>
									</a>
								</li>
								<li>
									<a class='social-signIn-g' href="#">
										<i class="icon-google-plus"></i>
									</a>
								</li>
							</ul>
						</div>
						<form class="needs-validation" novalidate>
							<div class="form-group">
								<input type="email" class="form-control" id="validationCustom03" aria-describedby="emailHelp" placeholder="Email или телефон" required>
								<div class="invalid-feedback">
									Неправильно введен email, телефон или пароль
								</div>
							</div>
							<div class="form-group">
								<input type="password" class="form-control" id="validationCustom02" placeholder="Пароль" required>
							</div>
							<div class="form-group">
								<button type="submit" class="btn-def btn-login">Войти</button>
							</div>
							<div class="registration-link">
								<a href="#">
									Восстановить пароль
								</a>
								<a href="#">
									Регистрация
								</a>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>