.page-login
	margin: 100px auto
	.wrap-form-login
		display: flex
		justify-content: center
		.login
			width: 100%
			max-width: 400px
			h5
				font-weight: bold
				font-size: 18px
				line-height: 21px
				text-align: center
				color: #0E1F38
				margin-bottom: 20px
		.nav-tabs
			border-bottom: none
			.nav-link
				border: none
				border-top-left-radius: 3px
				border-top-right-radius: 3px
				width: 50%
				text-align: center
				font-weight: bold
				font-size: 14px
				line-height: 16px
				color: #6C7583
				padding-top: 17px
				padding-bottom: 17px
				&.active
					font-weight: bold
					font-size: 14px
					line-height: 16px
					color: #0E1F38
		.tab-content
			background: #FFFFFF
			box-shadow: 0px 2px 2px #E0E0E3
			border-radius: 3px
		.social-signIn
			padding-top: 50px
			padding-bottom: 35px
			margin: auto
			h6
				color: #A7B3BE
				text-align: center
				font-weight: bold
				font-size: 14px
				line-height: 16px
				margin-top: 2px
				margin-bottom: 10px
			ul
				display: flex
				justify-content: space-between
				max-width: 145px
				margin: 0 auto
				li
					a
						display: flex
						width: 40px
						height: 40px
						margin: auto
						border-radius: 50%
						i
							margin: auto
							font-size: 24px
							color: #fff
						&.social-signIn-vk
							background: #365C83
						&.social-signIn-f
							background: #384E94
						&.social-signIn-g
							background: #DC3000
		.form-group
			max-width: 300px
			margin: 0 auto 20px
			@media only screen and (max-width: 390px)
				margin: 0 20px 20px
		input
			background: #fff
			border: 1px solid #E3E7F1
			box-sizing: border-box
			border-radius: 3px
			padding: 9px 10px 7px
			&::placeholder
				color: #A7B3BE
		.btn-login
			width: 100%
			max-width: 100%
			padding: 9px 10px 8px
			margin-bottom: 29px
		.registration-link
			border-top: 1px solid #E3E7F1
			display: flex
			display: flex
			align-items: center
			text-align: center
			a
				width: 50%
				text-align: center
				position: relative
				color: #A7B3BE
				font-weight: normal
				font-size: 14px
				line-height: 16px
				padding-top: 22px
				padding-bottom: 20px
				&::before
					content: ''
					position: absolute
					width: 1px
					top: 1px
					left: 0px
					height: calc(100% - 1px)
					background: #E3E7F1
				&:first-child
					&::before
						display: none

	/*___form-validated___*/
	.was-validated
		.form-control:invalid
			border-color: #F56868
			box-shadow: none !important
		.form-control:valid:focus
			box-shadow: none !important
		.form-control:is-valid:focus
			box-shadow: none !important
	.was-validated
		.form-control.is-invalid
			border-color: #F56868
			box-shadow: none !important 
	.form-group
		position: relative
	.invalid-feedback
		color: #F56868
		position: absolute
		top: -25px
		left: -8px
		font-weight: normal
		font-size: 14px
		line-height: 16px
		width: 110%
/*___END form-validated___*/		