<!--_______ .page-training _______-->
<div class="page-contacts page-training_1 page-insert">
	<div class="container">
		<div class="row-wrap-main">
			<div class="col-item side-bar">
					<div class="side-bar-user side-bar-user_visitor">
						<div class="top-nav">
							<div class="user-avatar" style="background-image: url(img/user-visit.png)"></div>
							<div class="user-inform">
								<div class="user-name">
									<span>Марина</span>
									<a class="user-gear" href="#">
										<i class="icon icon-settings"></i>
									</a>
								</div>
								<div class="user-status">Посетитель событий</div>
							</div>
						</div>
	
						<ul>
							<li>
								<a href="#">
									<i class="icon icon-like"></i>
									<span>Избранное</span>
								</a>
							</li>
							<li>
								<a href="#">
									<i class="icon icon-remind"></i>
									<span>Напоминания</span>
								</a>
							</li>
							<li >
								<a href="#">
									<i class="icon icon-bonuses"></i>
									<span>Бонусы</span>
								</a>
							</li>
							<li>
								<a href="#">
									<i class="icon icon-ticket"></i>
									<span>Билеты</span>
								</a>
							</li>
							<li>
								<a href="#">
									<i class="icon icon-mail"></i>
									<span>Рассылка</span>
								</a>
							</li>
						</ul>
						
						<ul class="bottom-ul">
							<li>
								<a href="#">
									<i class="icon icon-support"></i>
									<span>Служба поддержки</span>
								</a>
							</li>
							<li>
								<a href="#">
									<i class="icon icon-exit"></i>
									<span>Выйти из кабинета</span>
								</a>
							</li>
						</ul>
					</div>
			</div>
			<div class="col-item main-content">
				<div class="desktop-main-content">
					<div class="greeting">
						<img src="img/svg/check_green_big.svg" alt="">
						<p >
							<span>Отлично! Вы успешно зарегистрировались. У вас на счете +50 бонусов! </span><br>
							А сейчас давайте мы покажем вам как все просто устроено и вы заработаете свои первые бонусы!
						</p>
					</div>
					<div class="wrap-training">
						<div class="sidebar-training">
							<ul>
								<li>
									<h2>
										Бонусы
									</h2>
								</li>
								<li class="active">
									<div class="step">
										<div class="die ">
											<p>
												1
											</p>
										</div>
										<div class="die-text">
											<h5>
												+5 бонусов
											</h5>
											<p>
												Рекомендация eventr
											</p>
										</div>
									</div>
								</li>
								<li>
									<div class="wrap-steps">
										<div class="step">
											<div class="die">
												<p>
													2
												</p>
											</div>
											<div class="die-text">
												<h5>
													+10 бонусов
												</h5>
												<p>
													Рекомендация 3-х
													событий
												</p>
											</div>
										</div>
									</div>
								</li>
								<li>
									<div class="wrap-steps">
										<div class="step">
											<div class="die">
												<p>
													3
												</p>
											</div>
											<div class="die-text">
												<h5>
													+5 бонусов
												</h5>
												<p>
													Настройка уведомлений баланса
												</p>
											</div>
										</div>
									</div>
								</li>
								<li>
									<div class="wrap-steps">
										<div class="step">
											<div class="die">
												<p>
													4
												</p>
											</div>
											<div class="die-text">
												<h5>
													+5 бонусов
												</h5>
												<p>
													Покупка билета за бонусы
												</p>
											</div>
										</div>
									</div>
								</li>
							</ul>
						</div>
						<div class="context-training">

							<div class="wrap-task">
								<div class="task">
									<h4>
										Расскажите о сервисе eventr друзьям и получайте за каждый переход 
										<span>+5 бонусов</span>
									</h4>
								</div>
								<div class="panel-btn">
									<a href="#" class="btn-def" data-toggle="modal" data-target="#bonuses-modal">Заработать бонусы <span>(осталось 3 репоста)</span></a>
								</div>
								<img src="img/svg/recommendations.svg" alt="recommendations">
							</div>

							<!-- <div class="task task-error">
								<img src="img/svg/task-error-new.svg" alt="task-error">
								<h3>
									Доступ к этому заданию будет открыт после того как вы выполните предыдущие
								</h3>
							</div> -->
							
						</div>
					</div>
				</div>
				<div class="mobile-main-content">
					<div class="mobSection">
						<div class="sidebar-training">
							<ul>
								<li class="event-item">
									<h2>
										Бонусы
									</h2>
								</li>
								<li class="event-item active">
									<div class="step">
										<div class="die ">
											<p>
												1
											</p>
										</div>
										<div class="die-text">
											<h5>
												+5 бонусов
											</h5>
											<p>
												Рекомендация eventr
											</p>
										</div>
									</div>
									<div class="event-description event-inform-more">
										<div class="event-btn-back">
											<img src="img/svg/mob-arrow-back.svg" alt="arrow_back">
											<span class="text-back">Задания</span>
										</div>
										<div class="task">
											<h4>
												Расскажите о сервисе eventr друзьям и получайте за каждый переход 
												<span>+5 бонусов</span>
											</h4>
										</div>
										<div class="panel-btn">
											<a href="#" class="btn-def" data-toggle="modal" data-target="#bonuses-modal">Заработать бонусы <span>(осталось 3 репоста)</span></a>
										</div>
										<img src="img/svg/recommendations.svg" alt="recommendations">
									</div>
									<div class="event-btn-more">
										<img class='vis' src="img/svg/arrow_right-black.svg" alt="arrow_right">
										<img class='hid' src="img/svg/arrow_right.svg" alt="arrow_right">
									</div>
								</li>
								<li class="event-item">
									<div class="wrap-steps">
											<div class="step">
												<div class="die">
													<p>
														2
													</p>
												</div>
												<div class="die-text">
													<h5>
														+10 бонусов
													</h5>
													<p>
														Рекомендация 3-х
														событий
													</p>
												</div>
											</div>
										</div>
									<div class="event-description event-inform-more">
										<div class="event-btn-back">
											<img src="img/svg/mob-arrow-back.svg" alt="arrow_back">
											<span class="text-back">Задания</span>
										</div>
										<div class="task task-error">
											<img src="img/svg/task-error-new.svg" alt="task-error">
											<h3>
												Доступ к этому заданию будет открыт после того как вы выполните предыдущие
											</h3>
										</div>
									</div>
									<div class="event-btn-more">
										<img class='vis' src="img/svg/arrow_right-black.svg" alt="arrow_right">
										<img class='hid' src="img/svg/arrow_right.svg" alt="arrow_right">
									</div>
								</li>
								<li class="event-item">
									<div class="wrap-steps">
										<div class="step">
											<div class="die">
												<p>
													3
												</p>
											</div>
											<div class="die-text">
												<h5>
													+5 бонусов
												</h5>
												<p>
													Настройка уведомлений баланса
												</p>
											</div>
										</div>
									</div>
									<div class="event-description event-inform-more">
										<div class="event-btn-back">
											<img src="img/svg/mob-arrow-back.svg" alt="arrow_back">
											<span class="text-back">Задания</span>
										</div>
										<div class="task task-error">
											<img src="img/svg/task-error-new.svg" alt="task-error">
											<h3>
												Доступ к этому заданию будет открыт после того как вы выполните предыдущие
											</h3>
										</div>
									</div>
									<div class="event-btn-more">
										<img class='vis' src="img/svg/arrow_right-black.svg" alt="arrow_right">
										<img class='hid' src="img/svg/arrow_right.svg" alt="arrow_right">
									</div>
								</li>
								<li class="event-item">
									<div class="wrap-steps">
										<div class="step">
											<div class="die">
												<p>
													4
												</p>
											</div>
											<div class="die-text">
												<h5>
													+5 бонусов
												</h5>
												<p>
													Покупка билета за бонусы
												</p>
											</div>
										</div>
									</div>
									<div class="event-description event-inform-more">
										<div class="event-btn-back">
											<img src="img/svg/mob-arrow-back.svg" alt="arrow_back">
											<span class="text-back">Задания</span>
										</div>
										<div class="task task-error">
											<img src="img/svg/task-error-new.svg" alt="task-error">
											<h3>
												Доступ к этому заданию будет открыт после того как вы выполните предыдущие
											</h3>
										</div>
									</div>
									<div class="event-btn-more">
										<img class='vis' src="img/svg/arrow_right-black.svg" alt="arrow_right">
										<img class='hid' src="img/svg/arrow_right.svg" alt="arrow_right">
									</div>
								</li>
							</ul>
						</div>	
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!--_______ End.page-training _______-->