// .page-training
.page-training_1
	.desktop-main-content
		@media only screen and (max-width: 767px)
			display: none
	.main-content
		@media only screen and (max-width: 767px)
			width: 100%
	.greeting
		display: flex
		padding-bottom: 31px
		img
			width: 15px
			height: 11px
			margin-top: 3px
		p
			margin-bottom: 0
			font-weight: normal
			font-size: 14px
			line-height: 21px
			color: #0E1F38
			padding-left: 18px
			span
				font-weight: bold
	.wrap-training
		background: #FFFFFF
		box-shadow: 0px 2px 2px #E0E0E3
		border-radius: 3px
		display: flex
	.sidebar-training
		flex: 0 0 auto
		width: 232px
		border-right: 1px solid #E3E7F1
		@media only screen and (max-width: 767px)
			width: 100%
			border-right: 0
		ul
			li
				padding: 0 13px 0 30px
				border-bottom: 1px solid #E3E7F1
				min-height: 100px
				display: flex
				justify-content: flex-start
				align-items: center
				@media only screen and (max-width: 767px)
					padding: 0
				&:first-child
					min-height: 105px
					@media only screen and (max-width: 767px)
						min-height: 85px
				&:last-child
					border-bottom: 0
				.step
					display: flex
					@media only screen and (min-width: 768px)
						cursor: pointer
					.die
						width: 50px
						height: 50px
						background: #A7B3BE
						border-radius: 50%
						flex: 0 0 auto
						display: flex
						justify-content: center
						align-items: center
						p
							font-weight: bold
							font-size: 18px
							line-height: 50px
							margin-bottom: 0
							color: #FFFFFF
					.die-text
						padding-left: 8px
						@media only screen and (max-width: 767px)
							padding-top: 9px
						h5
							font-weight: bold
							font-size: 14px
							line-height: 16px
							color: #A7B3BE
							margin-bottom: 5px
							@media only screen and (max-width: 767px)
								margin-bottom: 2px
						p
							font-weight: normal
							font-size: 12px
							line-height: 14px
							color: #A7B3BE
							margin-bottom: 0
				.event-btn-more
					.hid
						display: block
					.vis
						display: none
				&.active
					border-right: 4px solid $green-light-def
					@media only screen and (max-width: 767px)
						border-right: 0
					.die
						width: 50px
						height: 50px
						background: $green-light-def
						border-radius: 50%
						flex: 0 0 auto
						display: flex
						justify-content: center
						align-items: center
						p
							font-weight: bold
							font-size: 18px
							line-height: 50px
							margin-bottom: 0
							color: #FFFFFF
							margin-bottom: 0
					.die-text
						h5
							font-weight: bold
							font-size: 14px
							line-height: 16px
							color: #0E1F38
						p
							font-weight: normal
							font-size: 12px
							line-height: 14px
							color: #0E1F38
					.event-btn-more
						.hid
							display: none
						.vis
							display: block

		h2
			font-weight: bold
			font-size: 18px
			line-height: 21px
			text-transform: uppercase
			color: #0E1F38
			padding-top: 13px
			margin-bottom: 10px
	.context-training
		padding: 0
		width: 100%
	.wrap-task
		padding: 20px 20px 17px
	.task
		@media only screen and (max-width: 767px)
			padding: 15px 20px 0px
		h4
			font-weight: bold
			font-size: 18px
			line-height: 21px
			color: #0E1F38
			span
				color: $green-light-def
			@media only screen and (max-width: 767px)
				font-weight: normal
				font-size: 14px
				line-height: 16px
				color: #0E1F38
	.panel-btn
		justify-content: flex-start
		padding-top: 15px
		padding-bottom: 9px
		@media only screen and (max-width: 767px)
			padding: 9px 20px 15px
		.btn-def
			box-shadow: none
	
	.mobSection
		margin-top: 0
		padding: 0 20px 20px
		display: none
		@media only screen and (max-width: 767px)
			display: block
	.event-inform-more
		z-index: 1000
	.task-error
		padding: 0
		display: flex
		flex-direction: column
		align-items: center
		justify-content: center
		background: #e3e7f1
		height: 100%
		@media only screen and (max-width: 767px)
			height: calc(100% - 41px)
		img
			width: 100%
		h3
			font-weight: bold
			font-size: 13px
			line-height: 15px
			color: #6C7583
			padding: 0 20px
			text-align: center

	
// /*End_.page-training*/