// .page-training-poster_1
.page-training-poster_1
	.wrap-task
		padding: 20px 20px 40px
	.filter-item
		@media screen and (min-width: 768px)
			padding: 0 0 63px 0
			border-bottom: 0
		.filter-name
			font-weight: bold
			font-size: 14px
			line-height: 16px
			color: #6C7583
	.container-checkbox input:checked ~ span
		font-weight: bold
	.container-checkbox
		@media screen and (min-width: 768px)
			font-weight: normal
			font-size: 13px
			line-height: 18px
			color: #6C7583
	.wrap-training
		margin-top: 29px
	.wrap-filter-item
		@media screen and (min-width: 768px)
			display: flex
			flex-direction: column
			justify-content: flex-start
			align-items: flex-start
			flex-wrap: wrap
			align-content: space-between
			list-style: none
			margin: 0
			padding: 0
			width: 100%
			max-height: 1414px
		.filter-item-poster
			@media screen and (min-width: 768px)
				display: block
				margin: 0
				padding: 0 0 63px 0
				width: 33.3333%
				max-height: 100%

			&.show .filter-item__shell-poster
				transition: 1s
				left: 0
	.wrap-counter-poster
		@media screen and (min-width: 768px)
			margin-top: 35px
	.wrap-counter
		margin-top: -28px
		.btn-def
			padding: 10px 25px 9px
	.main-content
		max-width: 100%
		width: 100%

	.container
		@media screen and (max-width: 767px)
			padding-right: 20px

//****BEGIN filter-poster****//

.filter-item-poster
	width: 100%
	border-bottom: 0
	@media screen and (max-width: 767px)
		border-bottom: 1px solid #E3E7F1
		padding: 14px 21px 11px
	.wrap-content-poster
		@media screen and (max-width: 767px)
			max-width: 100%
			margin: 0 auto //потом убрать
	&.remember-selection-poster
		@media screen and (max-width: 767px)
			padding: 15px 20px 28px




.filter-name
	font-weight: bold
	font-size: 14px
	line-height: 16px
	text-transform: uppercase
	@media screen and (max-width: 767px)
		font-size: 12px
		line-height: 14px
.side-bar
	@media screen and (max-width: 767px)
		&.show-filter
			transition: 1s
			left: 0



.filter-item__shell-poster
	@media screen and (max-width: 767px)
		position: fixed
		top: 110px
		left: -100%
		bottom: 0
		width: 100%
		height: -webkit-calc(100% - 110px)
		height: calc(100% - 110px)
		background: #fff
		overflow-y: scroll
		z-index: 106
		transition: 1s
	@media screen and (max-width: 767px)
		top: 40px
		height: -webkit-calc(100% - 40px)
	&.show
		transition: 1s
		left: 0
	.wrap-content-mob
		@media screen and (max-width: 767px)
			max-width: 320px
			padding: 0 20px 25px
	.btn-back
		display: none
		@media screen and (max-width: 767px)
			display: block
			border-bottom: 1px solid #E3E7F1
			background: #fff
		.wrap-btn-back-poster
			@media screen and (max-width: 767px)
				display: flex
				align-items: center
				padding: 17px 20px 12px
				padding: 14px 20px 11px	
				h2
					font-weight: bold
					font-size: 12px
					line-height: 14px
					text-transform: uppercase
					margin-bottom: 0
					color: #1C8D00
					padding-left: 4px
					display: block
					@media screen and (max-width: 767px)
						padding-top: 0

.filter-item__title-poster
	@media screen and (max-width: 767px)
		display: flex
		align-items: baseline
		position: relative

	.filter-icon-poster
		width: 10px
		height: 17px
		background: url(../img/svg/arrow_right.svg)
		position: absolute
		right: 0
		top: -2px
.filter
	&-name-poster
		font-family: $default-font
		font-weight: bold
		font-size: 12px
		line-height: 14px
		text-transform: uppercase
	&-count-poster
		font-size: 12px
		line-height: 14px
		padding-left: 3px
	&-category-poster
		font-size: 12px
		line-height: 14px
		color: #A7B3BE
	&-count-poster,
	&-category-poster,
	&-icon-poster
		display: none
		@media screen and (max-width: 767px)
			display: block
//****END filter-poster ****//

// /*End_.page-training-poster_1*/