// .page-event-statistic
.page-event-statistic
	.main-content
		padding-top: 31px
		width: 100%
		z-index: 101
		@media screen and (max-width: 767px)
			padding-top: 12px
		.desktop-main-content
			display: none
			@media screen and (min-width: 768px)
				display: block
		.mobile-main-content
			display: none
			@media screen and (max-width: 767px)
				display: block
		.wrap-top-select
			display: flex
			align-items: center
			@media screen and (max-width: 767px)
				flex-wrap: wrap
		h5
			font-size: 14px
			line-height: 16px
			color: #6C7583
			display: inline-block
			vertical-align: middle
			padding-right: 10px
			margin-right: 8px
			@media screen and (max-width: 1199px)
				padding-right: 5px
			@media screen and (max-width: 800px)
				flex-basis: 0
			@media screen and (max-width: 767px)
				flex: 0 0 auto
				align-self: flex-start
				padding-top: 8px
				width: calc(1/2*100% - (1 - 1/2)*8px)
				color: #0E1F38
				font-weight: bold
		.btn-create-event
			padding: 9px 10px 10px
			margin-right: 5px
			font-size: 12px
			line-height: 14px
			align-self: start
			@media screen and (min-width: 992px)
				display: none
			@media screen and (max-width: 767px)
				margin-right: 0
				padding: 7px 5px
				width: calc(1/2*100% - (1 - 1/2)*8px)
		.wrap-select-all
			@media screen and (max-width: 991px)
				margin-right: 5px
			@media screen and (max-width: 767px)
				margin-right: 0
				margin-top: 12px
				font-size: 12px
				width: calc(1/2*100% - (1 - 1/2)*8px)
			.select2-container--default .select2-selection--single .select2-selection__rendered
				white-space: nowrap
				overflow: hidden
				text-overflow: ellipsis
				@media screen and (max-width: 767px)
					font-size: 12px

		.wrap-select-event
			margin-right: 13px
			@media screen and (max-width: 991px)
				padding-left: 0px
				// padding-right: 20px
				margin-top: 0px
				margin-bottom: 0px
			@media screen and (max-width: 767px)
				margin-top: 12px
				margin-right: 8px
				width: calc(1/2*100% - (1 - 1/2)*8px)
			.select2-container--default .select2-selection--single .select2-selection__rendered
				white-space: nowrap
				overflow: hidden
				text-overflow: ellipsis
				@media screen and (max-width: 767px)
					font-size: 12px
			.select2-container--open
				@media screen and (max-width: 767px)
					font-size: 12px
		.slelect-right
			margin-left: auto
			display: flex
			align-items: center
			justify-content: flex-end
			h5
				font-weight: normal
				color: #a7b3be
			.wrap-select
				max-width: 70px
				padding: 0
				margin: 0
				min-width: 70px
				.select2
					max-width: 70px
					min-width: auto
		.cards
			margin-top: 3px
			display: flex
			justify-content: space-between
			background: #FFFFFF
			box-shadow: 0px 2px 2px #E0E0E3
			border-radius: 3px
			padding: 30px
			@media screen and (max-width: 767px)
				// display: block
				flex-wrap: wrap
				margin-top: 0
				background: transparent
				box-shadow:  none
				border-radius: 0
				padding: 0

			.card
				background: #FAFBFB
				width: 100%
				border: 1px solid #E6E9EF
				box-sizing: border-box
				border-radius: 3px
				box-sizing: border-box
				width: calc(1/3*100% - (1 - 1/3)*20px)
				@media screen and (max-width: 767px)
					width: 50%
					max-width: 50%
					margin-bottom: 20px
					box-sizing: border-box
					width: calc(1/2*100% - (1 - 1/2)*10px)
					@media screen and (max-width: 510px)
						width: 100%
						max-width: 100%
				.card-content
					text-align: center
					padding-left: 30px
					padding-right: 30px
					padding-bottom: 8px
					.number
						font-weight: bold
						font-size: 42px
						line-height: 49px
						text-transform: uppercase
						color: #1c8d00
						padding-bottom: 15px
					.sale
						text-decoration: underline
					h6
						font-weight: normal
						font-size: 18px
						line-height: 21px
						color: #6c7583
					ul
						text-align: left
						padding-top: 12px
						padding-left: 0

						li
							position: relative
							font-size: 14px
							line-height: 33px
							padding-right: 28px
							span
								position: absolute
								top: 0
								left: calc(100% - 25px)
					.btn-def-cards
						opacity: 0
						cursor: pointer
						margin-top: 22px
						margin-bottom: 22px
						padding: 9px 24px

				&.active
					background: #FFFFFF
					border: 1px solid #E6E9EF
					box-sizing: border-box
					box-shadow: 0px 35px 45px #E9E9EC
					border-radius: 3px
					@media screen and (max-width: 767px)
						max-width: 100%
						width: 100%   
					h6
						color: #0e1f38
					ul
						padding-left: 28px
						li
							position: relative
							padding-right: 0
							&::before
								content: ' '
								width: 5px
								height: 5px
								background: $green-light-def
								position: absolute
								border-radius: 50%
								top: 13px
								left: -17px
					.btn-def-cards
						opacity: 1
						margin-top: 22px
						margin-bottom: 22px
						padding: 9px 24px

				.wrap-img
					position: relative
					width: 100%
					height: 124px
					display: flex
					justify-content: center
					img
						margin: 32px auto 0
						position: relative
						align-self: center
						margin-bottom: -18px
.row-wrap-main
	padding-bottom: 20px

table.tableSection
	width: 100%
	background: #fff
	box-shadow: 0px 2px 2px #E0E0E3
	border-radius: 3px
	margin-top: 3px
	table-layout: fixed
	.wrap-select
		display: block
	.th_1
		// width: 41%
		width: 52%
	.th_2
		width: 18.8%
	.th_3,
	.th_4,
	.th_5,
	.th_6,
	.th_7
		padding: 20px 2px 11px
		width: 11%
		@media screen and (max-width: 991px)
			font-size: 9px
	input
		padding: 9px 10px 7px
	.select2-container--default .select2-selection--single .select2-selection__rendered
		white-space: nowrap
		overflow: hidden
		text-overflow: ellipsis
	tr
		position: relative
		&:hover .icon-block-shell
			display: flex
		&:hover
			box-sizing: border-box
			box-shadow: inset 0 0 0 2px #69C530
			td 
				border-color: transparent

	thead
		tr:first-child
			&:hover
				box-shadow: none
	th
		vertical-align: top
		padding: 18px 6px 11px
		font-weight: normal
		font-size: 12px
		line-height: 14px
		color: #A7B3BE
		word-wrap: break-word
		&:first-child
			padding-left: 20px
		&:last-child
			padding-right: 20px
	td
		padding: 19px 8px 13px
		word-wrap: break-word
		position: relative
		border-top: 1px solid #E3E7F1
		&:first-child
			padding-left: 20px
		&:last-child
			padding-right: 20px
	.icon-block-shell
		position: absolute
		right: 0
		top: 0
		width: 302px
		height: 100%
		display: flex
		justify-content: flex-end
		align-items: center
		display: none
		.icon-block
			display: flex
			height: 100%
			align-items: center
			justify-content: flex-end
			background: #69C530
			a
				background: #69C530
				display: flex
				align-items: center
				margin-right: 25px
				&:first-child
					margin-left: 30px
				&:last-child
					margin-right: 30px
				i
					font-size: 20px
					color: #00660A
				&:hover
					.icon
						&::before
							color: #fff
.wrap-event-part
	@media screen and (max-width: 767px)
		padding: 5px 20px 0
		border: 1px solid #f0f2f6
.event
	position: relative
	&-btn-back
		padding: 12px 19px 11px
		border-bottom: 1px solid #E3E7F1
		cursor: pointer
		.text-back
			font-weight: bold
			font-size: 12px
			line-height: 14px
			text-transform: uppercase
			color: #1C8D00
			cursor: pointer
	&-inform-more
		position: fixed
		top: 40px
		height: calc(100vh - 41px)
		background: #fff
		width: 100%
		left: -100%
		transition: 1s
		z-index: 1
	&-btn-more
		position: absolute
		top: 50%
		right: 0
		transform: translateY(-50%)
		cursor: pointer
	&-item
		position: relative
		@media screen and (max-width: 767px)
			border-bottom: 1px solid #F0F2F7
		&:last-child
			border-bottom: 0
		&.selected
			.event-inform-more
				left: 0
				overflow-y: scroll
				min-height: calc(100% - 41px)

	&-part
		display: flex
		@media screen and (max-width: 767px)
			padding-top: 16px
			padding-bottom: 20px
	&-icon
		width: 60px
		height: 60px
		margin-right: 9px
		flex: 0 0 auto
	&-text
		display: flex
		flex-direction: column
		justify-content: space-between
		@media screen and (max-width: 767px)
			padding-right: 15px	
	&-date
		font-size: 14px
		line-height: 16px
		color: #6C7583
		@media screen and (max-width: 767px)
			// color: #A7B3BE
			color: #6c7583
			font-size: 10px
		.city-mob
			display: none
			@media screen and (max-width: 767px)
				display: inline-block
				padding-left: 2px
				color: #6c7583
	&-top-text
		font-weight: bold
		font-size: 14px
		line-height: 16px
		color: #0E1F38
		padding-top: 8px
		padding-bottom: 8px
		@media screen and (max-width: 767px)
			padding-top: 2px
			padding-bottom: 1px
	&-status
		font-size: 14px
		line-height: 16px
		color: #6C7583
		@media screen and (max-width: 767px)
			font-size: 10px
			line-height: 12px
		.text-green
			color: #69c530
	&-paid
		vertical-align: middle
		i
			color: $green-light-def
			font-size: 20px
			@media screen and (max-width: 767px)
				font-size: 15px
		.icon-pause
			font-size: 15px
			color: #6C7583
			@media screen and (max-width: 767px)
				font-size: 12px
				color: #6C7583
	&-icon-block-shell
		li
			padding: 20px
			border-bottom: 1px solid #74D03C
			background: #69C530
			a
				i
					font-size: 20px
	
.card-description
	padding: 8px 20px 0
	.text-green
		color: #69c530
	li
		display: flex
		font-size: 12px
		line-height: 14px
		color: #6C7583
		border-bottom: 1px solid #F0F2F6
		padding: 14px 0 15px
		&:last-child
			border-bottom: 0
		div
			margin-left: auto
			width: 30px
	&-num
		font-weight: bold
		color: #000
	.bold
		font-weight: bold
.event-icon-block-shell
	margin-bottom: 20px
	li
		padding: 10px 20px
		a
			display: flex
			align-items: center
			i
				font-size: 25px
				width: 25px
				height: 25px
				display: flex
				align-items: center
				justify-content: center
				&:before
					color: #fff
				&.icon-show
					font-size: 17px
				&.icon-copy,
				&.icon-rb,
				&.icon-settings,
				&.icon-delete,
				&.icon-play
					font-size: 20px
				
			span
				color: #fff
				padding-left: 18px
.city
	padding-left: 5px
.Left-tickets
	span
		font-weight: bold
		white-space: nowrap

.mobSection
	background: #FFF
	box-shadow: 0px 2px 2px #E0E0E3	
	margin: 12px -20px 0
	padding: 4px 20px 20px 
.pagination
	display: flex
	padding-top: 20px
	padding-bottom: 7px
	justify-content: space-between
	max-width: 302px
	@media screen and (max-width: 767px)
		max-width: 280px
	.prev,
	.next
		background: #FFFFFF
		box-shadow: 0px 1px 1px #DCDCDC
		border-radius: 3px
		padding: 10px 8px
		flex: 0 0 auto
	.prev
		margin-right: 20px
		@media screen and (max-width: 767px)
			margin-right: 16px
	.next
		margin-left: 10px
		@media screen and (max-width: 767px)
			margin-left: 2px
	a
		font-weight: normal
		font-size: 14px
		line-height: 16px
		color: #a7b3be
		padding: 11px 15px 9px
		text-decoration: none
		transition: background-color .3s
		@media screen and (max-width: 767px)
			padding: 11px 14px 9px
		&.active
			background: #FFFFFF
			box-shadow: 0px 2px 2px #E0E0E3
			border-radius: 3px
			font-weight: bold
			color: #6c7583
		&:hover:not(.active)
			background-color: #fff
// /*End_.page-event-statistic*/
/*mob_tab_my_office*/		
.mobile-navigate
	.left-side-menu
		background: #3E9E26
		text-align: justify
		box-shadow: none
		.user
			display: flex
			padding: 9px 18px 13px 22px
			position: relative
			background: #51A83C
			.ava
				display: flex
				margin-right: 15px
				.icon-ava
					font-size: 20px
					margin: auto
					&::before
						color: #fff
			.user-avatar
				margin-right: 11px
				opacity: 1
				border-radius: 50%
			.user-text
				display: flex
				flex-direction: column
				justify-content: center
				h5
					font-weight: bold
					font-size: 14px
					line-height: 1em
					color: #fff
					margin: 4px 0 2px
				p
					margin: 0
					font-weight: normal
					font-size: 12px
					line-height: 1em
					color: #C8ECC0
			.user-gear
				margin-left: auto
				padding-top: 4px
				display: flex
				i
					margin: auto
					color: #fff
					font-size: 16px
		.items
			padding: 4px 18px 0 19px

			.item
				display: flex
				padding-bottom: 5px
				position: relative
				&::after
					content: ''
					position: absolute
					height: 1px
					width: 238px
					left: 0%
					bottom: 0
					background: #389720
				&:last-child
					&.item::after
						display: none
				i
					color: #fff
					position: absolute
				.icon-arrow
					color: #C8ECC0
					position: absolute
					right: 0
					top: 12px
				.icon-developments
					top: 11px
					left: 22px
					font-size: 14px
				.icon-bd
					top: 13px
					left: 22px
					font-size: 14px
				.icon-ticket
					top: 8px
					left: 17px
					font-size: 27px
				.icon-paid--services
					top: 13px
					left: 22px
					font-size: 17px
				.icon-support
					top: 13px
					left: 21px
					font-size: 17px
				.icon-exit
					top: 13px
					left: 22px
					font-size: 17px
				img
					margin-right: 14px
					align-self: center
					position: absolute
				p
					padding-left: 48px
					margin: 13px 0 12px
					font-size: 14px
					line-height: 16px
					color: #C8ECC0

/*___END_mob_tab_my_office___*/
.select2-results__options
	text-transform: none
.select2-container--default 
	.select2-selection--single
		@media screen and (max-width: 767px)
			height: 30px


