<!--_______ .page-event-statistic _______-->
<div class="page-event-statistic page-insert">
	<div class="container">
		<div class="row-wrap-main">
			<div class="col-item side-bar">
				<div class="side-bar-user">
					<div class="top-nav">
						<div class="user-avatar" style="background-image: url(img/user-avatar.jpg)"></div>
						<div class="user-inform">
							<div class="user-name">
								<span>Вячеслав</span>
								<a class="user-gear" href="#">
									<i class="icon icon-settings"></i>
								</a>
							</div>
							<div class="user-status">Организатор</div>
						</div>
					</div>

					<ul>
						<li  class="active">
							<a href="#">
								<i class="icon icon-developments"></i>
								<span>
									События и статистика
								</span>
								<button class="add-event"><img src="img/svg/plus.svg" alt="plus"></button>
							</a>
						</li>
						<li>
							<a href="#">
								<i class="icon icon-bd"></i>
								<span>База клиентов</span>
							</a>
						</li>
						<li>
							<a href="#">
								<i class="icon icon-ticket"></i>
								<span>Проверка билетов</span>
							</a>
						</li>
						<li>
							<a href="#">
								<i class="icon icon-paid--services"></i>
								<span>Платные услуги</span>
							</a>
						</li>
					</ul>
					
					<ul>
						<li>
							<a href="#">
								<i class="icon icon-support"></i>
								<span>
									Служба поддержки
								</span>
							</a>
						</li>
						<li>
							<a href="#">
								<i class="icon icon-exit"></i>
								<span>Выйти из кабинета</span>
							</a>
						</li>
					</ul>
				</div>
			</div>
			<div class="col-item main-content">
				<div class="desktop-main-content">
					<div class="wrap-top-select">
						<h5>
							Показать события
						</h5>
						<a href="#" class="btn-def btn-create-event">Создать событие</a>
						<div class="wrap-select-event">
							<select class="select">
								<option>В процессе настройки</option>
								<option>Опубликованные</option>
								<option>Опубликованные</option>
								<option>На паузе</option>
								<option>Завершенные</option>
								<option>Удаленные</option>
							</select>
						</div>
						<div class="wrap-select-all">
							<select class="select">
								<option>Все</option>
								<option>test_1</option>
								<option>test_55</option>
								<option>test_999</option>
								<option>test_1000</option>
								<option>test_99999</option>
							</select>
						</div>
						<div class="slelect-right">
							<h5>
								Выводить по
							</h5>
							<div class="wrap-select">
								<select class="select">
									<option>10</option>
									<option>15</option>
									<option>20</option>
									<option>25</option>
									<option>30</option>
									<option>35</option>
								</select>
							</div>
						</div>
					</div>
					<table class="tableSection">
						<thead>
							<th class="th_1">
								<input type="text" class="event-input" aria-describedby="" placeholder="Событие">
							</th>
							<th class="th_2">
								<div class="wrap-select">
									<select  class="select select_all_city">
										<option>Все города</option>
										<option>Санкт-Петербург</option>
										<option>Москва</option>
										<option>Уфа</option>
										<option>Казань</option>
									</select>
								</div>
							</th>
							<th class="th_3">Реферал. программа</th>
							<th class="th_4">Просмотров</th>
							<th class="th_5">Продажа *</th>
							<th class="th_6">Продажа за бонусы</th> 
							<th class="th_7">Осталось билетов</th> 
						</thead>	 
						<tr> 
							<td>
								<div class="event-part">
									<div class="event-icon">
										<img src="img/event/event_1.jpg" alt="event_1">
									</div>
									<div class="event-text">
										<div class="event-date">30.01.2018</div>
										<div class="event-top-text">Руки вверх 20 лет, юбилейны тур</div>
										<div class="event-status">
											<a class='event-paid'	href="#">
												<i class="icon icon-pause"></i>
											</a>
											На паузе |  Бесплатное
										</div>
									</div>
								</div>
							</td> 
							<td>
								<div class="city">
										Санкт-Петербург
								</div>
							</td>
							<td>
								<div class="referral">
									Да
								</div>
							</td>
							<td>
								<div class="views">
									4902
								</div>
							</td>
							<td>
								<div class="selling">
									42
								</div>
							</td>
							<td>
								<div class="selling-bonuses">
									129
								</div>
							</td>
							<td>
								<div class="Left-tickets">
									28/<span>300</span>
								</div>
								<div class="icon-block-shell">
									<div class="icon-block">
										<a href="#">
											<i class="icon icon-play"></i>
										</a>
										<a href="#">
											<i class="icon icon-copy"></i>
										</a>
										<a href="#">
											<i class="icon icon-settings"></i>
										</a>
										<a href="#">
											<i class="icon icon-delete"></i>
										</a>
									</div>
								</div>
							</td>
						</tr>
						<tr> 
							<td>
								<div class="event-part">
									<div class="event-icon">
										<img src="img/event/event_4.jpg" alt="event_4">
									</div>

									<div class="event-text">
										<div class="event-date">13.01.2018</div>
										<div class="event-top-text">Уральские пельмени. Новогоднее шоу</div>
										<div class="event-status">
											Активно |  Платное
											<a class='event-paid'	href="#">
												<i class="icon icon-paid--services"></i>
											</a>
										</div>
									</div>
								</div>
							</td> 
							<td>
								<div class="city">
										Санкт-Петербург
								</div>
							</td>
							<td>
								<div class="referral">
									Да
								</div>
							</td>
							<td>
								<div class="views">
									4902
								</div>
							</td>
							<td>
								<div class="selling">
									42
								</div>
							</td>
							<td>
								<div class="selling-bonuses">
									129
								</div>
							</td>
							<td>
								<div class="Left-tickets">
									28/<span>300</span>
								</div>
								<div class="icon-block-shell">
									<div class="icon-block">
										<a href="#">
											<i class="icon icon-show"></i>
										</a>
										<a href="#">
											<i class="icon icon-pause"></i>
										</a>
										<a href="#">
											<i class="icon icon-copy"></i>
										</a>
										<a href="#">
											<i class="icon icon-rb"></i>
										</a>
										<a href="#">
											<i class="icon icon-settings"></i>
										</a>
										<a href="#">
											<i class="icon icon-delete"></i>
										</a>
									</div>
								</div>
							</td>
						</tr>
						<tr> 
							<td>
								<div class="event-part">
									<div class="event-icon">
										<img src="img/event/event_2.jpg" alt="event_2">
									</div>
									<div class="event-text">
										<div class="event-date">20.01.2018</div>
										<div class="event-top-text">Stand Up. Виктор Комаров. </div>
										<div class="event-status">В процессе настройки |  Бесплатное</div>
									</div>
								</div>
							</td> 
							<td>
								<div class="city">
										Санкт-Петербург
								</div>
							</td>
							<td>
								<div class="referral">
									Да
								</div>
							</td>
							<td>
								<div class="views">
									4902
								</div>
							</td>
							<td>
								<div class="selling">
									42
								</div>
							</td>
							<td>
								<div class="selling-bonuses">
									129
								</div>
							</td>
							<td>
								<div class="Left-tickets">
									28/<span>300</span>
								</div>
								<div class="icon-block-shell">
									<div class="icon-block">
										<a href="#">
											<i class="icon icon-play"></i>
										</a>
										<a href="#">
											<i class="icon icon-settings"></i>
										</a>
										<a href="#">
											<i class="icon icon-delete"></i>
										</a>
									</div>
								</div>
							</td>
						</tr>
						<tr> 
							<td>
								<div class="event-part">
									<div class="event-icon">
										<img src="img/event/event_3.jpg" alt="event_3">
									</div>

									<div class="event-text">
										<div class="event-date">04.02.2018</div>
										<div class="event-top-text">Руки вверх 20 лет, юбилейны тур</div>
										<div class="event-status">
											Завершено |  Бесплатное
										</div>
									</div>
								</div>
							</td> 
							<td>
								<div class="city">
										Санкт-Петербург
								</div>
							</td>
							<td>
								<div class="referral">
									Да
								</div>
							</td>
							<td>
								<div class="views">
									4902
								</div>
							</td>
							<td>
								<div class="selling">
									42
								</div>
							</td>
							<td>
								<div class="selling-bonuses">
									129
								</div>
							</td>
							<td>
								<div class="Left-tickets">
									28/<span>300</span>
								</div>
								<div class="icon-block-shell">
									<div class="icon-block">
										<a href="#">
											<i class="icon icon-copy"></i>
										</a>
										<a href="#">
											<i class="icon icon-delete"></i>
										</a>
									</div>
								</div>
							</td>
						</tr>
						<tr> 
							<td>
								<div class="event-part">
									<div class="event-icon">
										<img src="img/event/event_2.jpg" alt="event_2">
									</div>
									<div class="event-text">
										<div class="event-date">11.11.2018</div>
										<div class="event-top-text">Илья Авербух. 15 лет успеха</div>
										<div class="event-status">
												Удалено |  Бесплатное
										</div>
									</div>
								</div>
							</td> 
							<td>
								<div class="city">
										Санкт-Петербург
								</div>
							</td>
							<td>
								<div class="referral">
									Да
								</div>
							</td>
							<td>
								<div class="views">
									4902
								</div>
							</td>
							<td>
								<div class="selling">
									42
								</div>
							</td>
							<td>
								<div class="selling-bonuses">
									129
								</div>
							</td>
							<td>
								<div class="Left-tickets">
									28/<span>300</span>
								</div>
								<div class="icon-block-shell">
									<div class="icon-block">
										<a href="#">
											<i class="icon icon-update"></i>
										</a>
										<a href="#">
											<i class="icon icon-settings"></i>
										</a>
										<a href="#">
											<i class="icon icon-delete"></i>
										</a>
									</div>
								</div>
							</td>
						</tr>
						<tr> 
							<td>
								<div class="event-part">
									<div class="event-icon">
										<img src="img/event/event_4.jpg" alt="event_4">
									</div>
									<div class="event-text">
										<div class="event-date">30.01.2018</div>
										<div class="event-top-text">Руки вверх 20 лет, юбилейны тур</div>
										<div class="event-status">Активно |  Бесплатное</div>
									</div>
								</div>
							</td> 
							<td>
								<div class="city">
										Санкт-Петербург
								</div>
							</td>
							<td>
								<div class="referral">
									Да
								</div>
							</td>
							<td>
								<div class="views">
									4902
								</div>
							</td>
							<td>
								<div class="selling">
									42
								</div>
							</td>
							<td>
								<div class="selling-bonuses">
									129
								</div>
							</td>
							<td>
								<div class="Left-tickets">
									28/<span>300</span>
								</div>
								<div class="icon-block-shell">
									<div class="icon-block">
										<a href="#">
											<i class="icon icon-show"></i>
										</a>
										<a href="#">
											<i class="icon icon-pause"></i>
										</a>
										<a href="#">
											<i class="icon icon-copy"></i>
										</a>
										<a href="#">
											<i class="icon icon-rb"></i>
										</a>
										<a href="#">
											<i class="icon icon-settings"></i>
										</a>
										<a href="#">
											<i class="icon icon-delete"></i>
										</a>
									</div>
								</div>
							</td>
						</tr>
					</table>
				</div>
				<div class="mobile-main-content">
					<div class="wrap-top-select">
						<h5>
							События и статистика
						</h5>
						<a href="#" class="btn-def btn-create-event">Создать событие</a>
						<div class="wrap-select-event">
							<select id="select2_example" class="select">
								<option>В процессе настройки</option>
								<option>Опубликованные</option>
								<option>Опубликованные</option>
								<option>На паузе</option>
								<option>Завершенные</option>
								<option>Удаленные</option>
							</select>
						</div>
						<div class="wrap-select-all">
							<select id="select2_example_all" class="select">
								<option>Все</option>
								<option>test_1</option>
								<option>test_55</option>
								<option>test_999</option>
								<option>test_1000</option>
								<option>test_99999</option>
							</select>
						</div>
					</div>
					<div class="mobSection">
						<ul>
							<li class="event-item">
								<div class="event-inform event-inform-short">
									<div class="event-part">
										<div class="event-icon"><img src="img/event/event_1.jpg" alt="event_1"></div>	
										<div class="event-text">
											<div class="event-date">30.01.2018
												<span class='city-mob'>
													Санкт-Петербург
												</span>
											</div>
											<div class="event-top-text">Руки вверх 20 лет, юбилейны тур</div>
											<div class="event-status">
													Активно |  Платное
													<a class='event-paid'	href="#">
														<i class="icon icon-paid--services"></i>
													</a>
											</div>
										</div>
									</div>
								</div>
								<div class="event-description event-inform-more">
									<div class="event-btn-back">
										<img src="img/svg/mob-arrow-back.svg" alt="arrow_back">
										<span class="text-back">Все события</span>
									</div>
									<div class="wrap-event-part">
										<div class="event-part">
											<div class="event-icon"><img src="img/event/event_1.jpg" alt="event_1"></div>	
											<div class="event-text">
												<div class="event-date">30.01.2018
													<span class='city-mob'>
														Санкт-Петербург
													</span>
												</div>
												<div class="event-top-text">Руки вверх 20 лет, юбилейны тур</div>
												<div class="event-status">
													<span class='text-green'>Активно</span> |  Платное
													<a class='event-paid'	href="#">
														<i class="icon icon-paid--services"></i>
													</a>
												</div>
											</div>
										</div>
									</div>
									<ul class="card-description" >
										<li>
											Реферальная программа
											<div class="card-description-text text-green">
												Да
											</div>
										</li>
										<li>
											Просмотов
											<div class="card-description-num">
												289
											</div>
										</li>
										<li>
											Продажи*
											<div class="card-description-num">
												34
											</div>
										</li>
										<li>
											Продажа за бонусы
											<div class="card-description-num">
												89
											</div>
										</li>
										<li>
											Осталось билетов
											<div class="card-description-num">
												11
											</div>
										</li>
									</ul>
									<ul class="event-icon-block-shell">
										<li>
											<a href="#">
												<i class="icon icon-show"></i>
												<span>
													Просмотр
												</span>
											</a>
										</li>
										<li>
											<a href="#">
												<i class="icon icon-pause"></i>
												<span>
													На паузу
												</span>
											</a>
										</li>
										<li>
											<a href="#">
												<i class="icon icon-copy"></i>
												<span>
													Скопировать событие
												</span>
											</a>
										</li>
										<li>
											<a href="#">
												<i class="icon icon-rb"></i>
												<span>
													Применить платные услуги
												</span>
											</a>
										</li>
										<li>
											<a href="#">
												<i class="icon icon-settings"></i>
												<span>
													Настроить
												</span>
											</a>
										</li>
										<li>
											<a href="#">
												<i class="icon icon-delete"></i>
												<span>
													Удалить
												</span>
											</a>
										</li>
									</ul>
								</div>
								<div class="event-btn-more">
									<img src="img/svg/arrow_right.svg" alt="arrow_right">
								</div>
							</li>
							<li class="event-item">
								<div class="event-inform event-inform-short">
									<div class="event-part">
										<div class="event-icon"><img src="img/event/event_2.jpg" alt="event_2"></div>	
										<div class="event-text">
											<div class="event-date">
												13.01.2018
												<span class='city-mob'>
													Санкт-Петербург
												</span>
											</div>
											<div class="event-top-text">
												Уральские Пельмени. Предновогоднее шоу
											</div>
											<div class="event-status">
												<a class='event-paid'	href="#">
													<i class="icon icon-pause"></i>
												</a>
												На паузе |  Платное
												<a class='event-paid'	href="#">
													<i class="icon icon-paid--services"></i>
												</a>
											</div>
										</div>
									</div>
								</div>
								<div class="event-description event-inform-more">
										<div class="event-btn-back">
											<img src="img/svg/mob-arrow-back.svg" alt="arrow_back">
											<span class="text-back">Все события</span>
										</div>
										<div class="wrap-event-part">
											<div class="event-part">
												<div class="event-icon"><img src="img/event/event_2.jpg" alt="event_2"></div>	
												<div class="event-text">
													<div class="event-date">
														13.01.2018
														<span class='city-mob'>
															Санкт-Петербург
														</span>
													</div>
													<div class="event-top-text">
														Уральские Пельмени. Предновогоднее шоу
													</div>
													<div class="event-status">
														<a class='event-paid'	href="#">
															<i class="icon icon-pause"></i>
														</a>
														На паузе |  Платное
														<a class='event-paid'	href="#">
															<i class="icon icon-paid--services"></i>
														</a>
													</div>
												</div>
											</div>
										</div>
										<ul class="card-description" >
											<li>
												Реферальная программа
												<div class="card-description-text text-green">
													Да
												</div>
											</li>
											<li>
												Просмотов
												<div class="card-description-num">
													289
												</div>
											</li>
											<li>
												Продажи*
												<div class="card-description-num">
													34
												</div>
											</li>
											<li>
												Продажа за бонусы
												<div class="card-description-num">
													89
												</div>
											</li>
											<li>
												Осталось билетов
												<div class="card-description-num">
													11
												</div>
											</li>
										</ul>
										<ul class="event-icon-block-shell">
											<li>
												<a href="#">
													<i class="icon icon-show"></i>
													<span>
														Просмотр
													</span>
												</a>
											</li>
											<li>
												<a href="#">
													<i class="icon icon-copy"></i>
													<span>
														Скопировать событие
													</span>
												</a>
											</li>
											<li>
												<a href="#">
													<i class="icon icon-settings"></i>
													<span>
														Настроить
													</span>
												</a>
											</li>
											<li>
												<a href="#">
													<i class="icon icon-delete"></i>
													<span>
														Удалить
													</span>
												</a>
											</li>
										</ul>
									</div>
								<div class="event-btn-more">
									<img src="img/svg/arrow_right.svg" alt="arrow_right">
								</div>
							</li>
							<li class="event-item">
								<div class="event-inform event-inform-short">
									<div class="event-part">
										<div class="event-icon"><img src="img/event/event_3.jpg" alt="event_3"></div>	
										<div class="event-text">
											<div class="event-date">
												20.01.2018
												<span class='city-mob'>
													Казань
												</span>
											</div>
											<div class="event-top-text">
												Stand Up. Виктор Комаров.
											</div>
											<div class="event-status">
												В процессе настройки |  Бесплатное
											</div>
										</div>
									</div>
								</div>
								<div class="event-description event-inform-more">
									<div class="event-btn-back">
										<img src="img/svg/mob-arrow-back.svg" alt="arrow_back">
										<span class="text-back">Все события</span>
									</div>
									<div class="wrap-event-part">
										<div class="event-part">
											<div class="event-icon"><img src="img/event/event_3.jpg" alt="event_3"></div>	
											<div class="event-text">
												<div class="event-date">
													20.01.2018
													<span class='city-mob'>
														Казань
													</span>
												</div>
												<div class="event-top-text">
													Stand Up. Виктор Комаров. 
												</div>
												<div class="event-status">
													В процессе настройки |  Бесплатное
												</div>
											</div>
										</div>
									</div>
									<ul class="card-description" >
										<li>
											Реферальная программа
											<div class="card-description-text text-green">
												Да
											</div>
										</li>
										<li>
											Просмотов
											<div class="card-description-num">
												-
											</div>
										</li>
										<li>
											Продажи*
											<div class="card-description-num">
												-
											</div>
										</li>
										<li>
											Продажа за бонусы
											<div class="card-description-num">
												-
											</div>
										</li>
										<li>
											Осталось билетов
											<div class="card-description-num bold">
												300/300
											</div>
										</li>
									</ul>
									<ul class="event-icon-block-shell">
										<li>
											<a href="#">
												<i class="icon icon-play"></i>
												<span>
													Просмотр
												</span>
											</a>
										</li>
										<li>
											<a href="#">
												<i class="icon icon-settings"></i>
												<span>
													Настроить
												</span>
											</a>
										</li>
										<li>
											<a href="#">
												<i class="icon icon-delete"></i>
												<span>
													Удалить
												</span>
											</a>
										</li>
									</ul>
								</div>
								<div class="event-btn-more">
									<img src="img/svg/arrow_right.svg" alt="arrow_right">
								</div>
							</li>
							<li class="event-item">
								<div class="event-inform event-inform-short">
									<div class="event-part">
										<div class="event-icon"><img src="img/event/event_4.jpg" alt="event_4"></div>	
										<div class="event-text">
											<div class="event-date">
												11.11.2018
												<span class='city-mob'>
													Казань
												</span>
											</div>
											<div class="event-top-text">
												Илья Авербух. 15 лет успеха
											</div>
											<div class="event-status">
												Завершенные |  Бесплатное
											</div>
										</div>
									</div>
								</div>
								<div class="event-description event-inform-more">
									<div class="event-btn-back">
										<img src="img/svg/mob-arrow-back.svg" alt="arrow_back">
										<span class="text-back">Все события</span>
									</div>
									<div class="wrap-event-part">
										<div class="event-part">
											<div class="event-icon"><img src="img/event/event_2.jpg" alt="event_2"></div>	
											<div class="event-text">
												<div class="event-date">
													11.11.2018
													<span class='city-mob'>
														Казань
													</span>
												</div>
												<div class="event-top-text">
													Илья Авербух. 15 лет успеха 
												</div>
												<div class="event-status">
													Завершенные |  Бесплатное
												</div>
											</div>
										</div>
									</div>
									<ul class="card-description" >
										<li>
											Реферальная программа
											<div class="card-description-text text-green">
												Да
											</div>
										</li>
										<li>
											Просмотов
											<div class="card-description-num">
												289
											</div>
										</li>
										<li>
											Продажи*
											<div class="card-description-num">
												34
											</div>
										</li>
										<li>
											Продажа за бонусы
											<div class="card-description-num">
												89
											</div>
										</li>
										<li>
											Осталось билетов
											<div class="card-description-num">
												11
											</div>
										</li>
									</ul>
									<ul class="event-icon-block-shell">
										<li>
											<a href="#">
												<i class="icon icon-copy"></i>
												<span>
													Скопировать событие
												</span>
											</a>
										</li>
										<li>
											<a href="#">
												<i class="icon icon-delete"></i>
												<span>
													Удалить
												</span>
											</a>
										</li>
									</ul>
								</div>
								<div class="event-btn-more">
									<img src="img/svg/arrow_right.svg" alt="arrow_right">
								</div>
							</li>
							<li class="event-item">
								<div class="event-inform event-inform-short">
									<div class="event-part">
										<div class="event-icon"><img src="img/event/event_3.jpg" alt="event_3"></div>	
										<div class="event-text">
											<div class="event-date">
												20.01.2018
												<span class='city-mob'>
													Казань
												</span>
											</div>
											<div class="event-top-text">
												Stand Up. Виктор Комаров.
											</div>
											<div class="event-status">
												В процессе настройки |  Бесплатное
											</div>
										</div>
									</div>
								</div>
								<div class="event-description event-inform-more">
									<div class="event-btn-back">
										<img src="img/svg/mob-arrow-back.svg" alt="arrow_back">
										<span class="text-back">Все события</span>
									</div>
									<div class="wrap-event-part">
										<div class="event-part">
											<div class="event-icon"><img src="img/event/event_3.jpg" alt="event_3"></div>	
											<div class="event-text">
												<div class="event-date">
													20.01.2018
													<span class='city-mob'>
														Казань
													</span>
												</div>
												<div class="event-top-text">
													Stand Up. Виктор Комаров. 
												</div>
												<div class="event-status">
													В процессе настройки |  Бесплатное
												</div>
											</div>
										</div>
									</div>
									<ul class="card-description" >
										<li>
											Реферальная программа
											<div class="card-description-text text-green">
												Да
											</div>
										</li>
										<li>
											Просмотов
											<div class="card-description-num">
												-
											</div>
										</li>
										<li>
											Продажи*
											<div class="card-description-num">
												-
											</div>
										</li>
										<li>
											Продажа за бонусы
											<div class="card-description-num">
												-
											</div>
										</li>
										<li>
											Осталось билетов
											<div class="card-description-num bold">
												300/300
											</div>
										</li>
									</ul>
									<ul class="event-icon-block-shell">
										<li>
											<a href="#">
												<i class="icon icon-play"></i>
												<span>
													Просмотр
												</span>
											</a>
										</li>
										<li>
											<a href="#">
												<i class="icon icon-settings"></i>
												<span>
													Настроить
												</span>
											</a>
										</li>
										<li>
											<a href="#">
												<i class="icon icon-delete"></i>
												<span>
													Удалить
												</span>
											</a>
										</li>
									</ul>
								</div>
								<div class="event-btn-more">
									<img src="img/svg/arrow_right.svg" alt="arrow_right">
								</div>
							</li>
							<li class="event-item">
								<div class="event-inform event-inform-short">
									<div class="event-part">
										<div class="event-icon"><img src="img/event/event_4.jpg" alt="event_4"></div>	
										<div class="event-text">
											<div class="event-date">
												11.11.2018
												<span class='city-mob'>
													Казань
												</span>
											</div>
											<div class="event-top-text">
												Илья Авербух. 15 лет успеха
											</div>
											<div class="event-status">
												Завершенные |  Бесплатное
											</div>
										</div>
									</div>
								</div>
								<div class="event-description event-inform-more">
									<div class="event-btn-back">
										<img src="img/svg/mob-arrow-back.svg" alt="arrow_back">
										<span class="text-back">Все события</span>
									</div>
									<div class="wrap-event-part">
										<div class="event-part">
											<div class="event-icon"><img src="img/event/event_2.jpg" alt="event_2"></div>	
											<div class="event-text">
												<div class="event-date">
													11.11.2018
													<span class='city-mob'>
														Казань
													</span>
												</div>
												<div class="event-top-text">
													Илья Авербух. 15 лет успеха 
												</div>
												<div class="event-status">
													Завершенные |  Бесплатное
												</div>
											</div>
										</div>
									</div>
									<ul class="card-description" >
										<li>
											Реферальная программа
											<div class="card-description-text text-green">
												Да
											</div>
										</li>
										<li>
											Просмотов
											<div class="card-description-num">
												289
											</div>
										</li>
										<li>
											Продажи*
											<div class="card-description-num">
												34
											</div>
										</li>
										<li>
											Продажа за бонусы
											<div class="card-description-num">
												89
											</div>
										</li>
										<li>
											Осталось билетов
											<div class="card-description-num">
												11
											</div>
										</li>
									</ul>
									<ul class="event-icon-block-shell">
										<li>
											<a href="#">
												<i class="icon icon-copy"></i>
												<span>
													Скопировать событие
												</span>
											</a>
										</li>
										<li>
											<a href="#">
												<i class="icon icon-delete"></i>
												<span>
													Удалить
												</span>
											</a>
										</li>
									</ul>
								</div>
								<div class="event-btn-more">
									<img src="img/svg/arrow_right.svg" alt="arrow_right">
								</div>
							</li>
						</ul>
					</div>
				</div>
				<div class="pagination">
					<a href="#" class="prev">
						<img src="img/svg/pagination_arrow_left.svg" alt="arrow_left">	
					</a>
					<a href="#" class="active">1</a>
					<a href="#">2</a>
					<a href="#">3</a>
					<a href="#">...</a>
					<a href="#">18</a>
					<a href="#" class="next">
						<img src="img/svg/pagination_arrow_right.svg" alt="arrow_right">
					</a>
				  </div>
			</div>
		</div>
		<div class="app-mobile">
			<div class="app-mobile__title">Чаще ищете куда сходить с телефона?</div>
			<div class="app-mobile__pre-title">Скачайте приложение EVENTR</div>
			<div class="app-mobile__img">
				<p><a href="#"><img src="img/gps.png" alt=""></a></p>
				<p><a href="#"><img src="img/aps.png" alt=""></a></p>
			</div>
		</div>
	</div>
	<!-- Modal -->
	<div class="modal offers-modal fade" id="my_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">Скрыть</h5>
					<a class="close-castom" data-dismiss="modal" aria-label="Close"></a>
				</div>
				<div class="modal-body">
						<label class="container-checkbox">
							<input type="checkbox" checked="checked">
							<span class="checkmark"></span>
							<span>
								Большой предновогодний тур по России<br>
							</span>
								​​​​​​​(Только это событие)
						</label>
						<label class="container-checkbox">
							<input type="checkbox" checked="checked">
							<span class="checkmark"></span>
							<span>
								Comedy Club<br>
							</span>
								(Все события этого организатора)
						</label>
				</div>
				<div class="modal-footer">
					<div class="wrap-btn">
						<a class='btn-def modal-btn-def' href="#" data-dismiss="modal">
							Скрыть
						</a>
						<a class='btn-def btn-def_gray modal-btn_gray' href="#" data-dismiss="modal">
							Отменить
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!--_______ End.page-event-statistic _______-->