<div class="page-catalog page-insert">
	<div class="container">
		<div class="row-wrap-main">
			<div class="col-item side-bar white">
				<div class="filter-item calendar">
					<div class="wrap-content">
						<div class="filter-item__title show-mob">
							<span class="filter-name">Дата</span>

							<span class="filter-count">(ближайшее время)</span>
							<span class="filter-category"></span>
							<span class="filter-icon"></span>

						</div>
						<div class="filter-item__shell">
							<div class="btn-back">
								<div class="wrap-btn-back">
									<img src="img/svg/arrow-back.svg" alt="arrow-back">
									<h2>Дата</h2>
								</div>
							</div>
							<div class="wrap-content-mob">
								<div class="wrap-select">
									<select class="select">
										<option>Ближайшее время</option>
										<option>ежедневно</option>
										<option>2 раза в неделю</option>
										<option>1 раз в неделю</option>
										<option>2 раза в месяц</option>
										<option>раз в пол года</option>
									</select>
								</div>
								<div  class="datepicker datapicer-catalog"></div>
							</div>
						</div>
					</div>
				</div>
				<div class="filter-item filters hidden-mob">
					<div class="wrap-content">
						<div class="filter">
								<div class="filter-item__title">
									<span class="filter-name">Фильтры</span>
								</div>
							<label class="container-checkbox">
								<input type="checkbox" checked="checked">
								<span class="checkmark"></span>
								Запомнить выбор
							</label>
							<p>
								Чтобы не отмечать одно и тоже, войдите или зерагистрируйтесь и мы запомним ваш выбор.
							</p>
							<div class="wrap-btn">
								<a class='login' href="#">
									Войти
								</a>
								<a class='reg' href="#">
									Зарегистрироваться
								</a>
							</div>
						</div>
					</div>
				</div>
				<div class="filter-item ticket-price">
					<div class="wrap-content">
						<div class="filter-item__title  ticket-title">
							<span class="filter-name">Цена билета</span>
	
							<span class="filter-count"></span>
							<span class="filter-category"></span>
							<!-- <span class="filter-icon"></span> -->
	
						</div>
						<!-- <div class="filter-item__shell"> -->
							<div class="wrap-range wrap-range-input">
								<div class="wrap-input">
									<div type="text" class="text value-min" id="slider-limit-value-min"></div>
									<div type="text" class="text value-max" id="slider-limit-value-max"></div>
								</div>
							</div>
							<div class="wrap-range wrap-range-slider">
								<div id="slider-limit" class="noUi-target noUi-ltr noUi-horizontal"></div>
							</div>
						<!-- </div> -->
					</div>
				</div>
				<div class="filter-item availability-tickets">
					<div class="wrap-content">
						<input type="checkbox" class="checkbox_tickets" id="checkbox_1" checked/>
						<label for="checkbox_1">Есть билеты</label>
						<input type="checkbox" class="checkbox_tickets" id="checkbox_2" />
						<label for="checkbox_2">Только бесплатные</label>
						<input type="checkbox" class="checkbox_tickets" id="checkbox_3" />
						<label for="checkbox_3">Оплата только бонусами</label>
					</div>
				</div>
				<div class="filter-item who-to-go">
					<div class="wrap-content">
						<div class="filter-item__title">
							<span class="filter-name">С кем пойти</span>
	
							<span class="filter-count">(Все)</span>
							<span class="filter-category"></span>
							<span class="filter-icon"></span>
	
						</div>
						<div class="filter-item__shell">
							<div class="btn-back">
								<div class="wrap-btn-back">
									<img src="img/svg/arrow-back.svg" alt="arrow-back">
									<h2>С кем пойти</h2>
								</div>
							</div>
							<div class="wrap-content-mob">
								<label class="container-checkbox">
									<input type="checkbox" checked="checked">
									<span class="checkmark"></span>
									<span>
										С детьми
									</span>
								</label>
								<label class="container-checkbox">
									<input type="checkbox" checked="checked">
									<span class="checkmark"></span>
									<span>
										С друзьями
									</span>
								</label>
								<label class="container-checkbox">
									<input type="checkbox" >
									<span class="checkmark"></span>
									<span>
										С родителями
									</span>
								</label>
								<label class="container-checkbox">
									<input type="checkbox" checked="checked">
									<span class="checkmark"></span>
									<span>
										Вдвоем
									</span>
								</label>
								<label class="container-checkbox">
									<input type="checkbox" checked="checked">
									<span class="checkmark"></span>
									<span>
										Одному/Одной
									</span>
								</label>
							</div>
						</div>
					</div>
				</div>
				<div class="filter-item cinema">
					<div class="wrap-content">
						<div class="filter-item__title">
							<span class="filter-name">Кино</span>
	
							<span class="filter-count">(7)</span>
							<span class="filter-category">-Детективы, Комедии, Приключен</span>
							<span class="filter-icon"></span>
	
						</div>
						<div class="filter-item__shell">
							<div class="btn-back">
								<div class="wrap-btn-back">
									<img src="img/svg/arrow-back.svg" alt="arrow-back">
									<h2>Кино</h2>
								</div>
							</div>
							<div class="wrap-content-mob">
								<label class="container-checkbox">
									<input type="checkbox" checked="checked">
									<span class="checkmark"></span>
									<span>
										Все
									</span>
								</label>
								<label class="container-checkbox">
									<input type="checkbox" >
									<span class="checkmark"></span>
									<span>
										Биография
									</span>
								</label>
								<label class="container-checkbox">
									<input type="checkbox" >
									<span class="checkmark"></span>
									<span>
										Боевики
									</span>
								</label>
								<label class="container-checkbox">
									<input type="checkbox" >
									<span class="checkmark"></span>
									<span>
										Военные
									</span>
								</label>
								<label class="container-checkbox">
									<input type="checkbox" >
									<span class="checkmark"></span>
									<span>
										Детективы
									</span>
								</label>
								<label class="container-checkbox">
									<input type="checkbox" >
									<span class="checkmark"></span>
									<span>
										Детские
									</span>
								</label>
								<label class="container-checkbox">
									<input type="checkbox" >
									<span class="checkmark"></span>
									<span>
										Драматические
									</span>
								</label>
								<label class="container-checkbox">
									<input type="checkbox" >
									<span class="checkmark"></span>
									<span>
										Комедии
									</span>
								</label>
								<label class="container-checkbox">
									<input type="checkbox" >
									<span class="checkmark"></span>
									<span>
										Криминальные
									</span>
								</label>
								<label class="container-checkbox">
									<input type="checkbox" >
									<span class="checkmark"></span>
									<span>
										Мюзиклы
									</span>
								</label>
								<label class="container-checkbox">
									<input type="checkbox" >
									<span class="checkmark"></span>
									<span>
										Приключения
									</span>
								</label>
								<label class="container-checkbox">
									<input type="checkbox" >
									<span class="checkmark"></span>
									<span>
										Семейные
									</span>
								</label>
								<label class="container-checkbox">
									<input type="checkbox" >
									<span class="checkmark"></span>
									<span>
										Трагикомедии
									</span>
								</label>
								<label class="container-checkbox">
									<input type="checkbox" >
									<span class="checkmark"></span>
									<span>
										Триллеры
									</span>
								</label>
								<label class="container-checkbox">
									<input type="checkbox" >
									<span class="checkmark"></span>
									<span>
										Ужасы
									</span>
								</label>
								<label class="container-checkbox">
									<input type="checkbox" >
									<span class="checkmark"></span>
									<span>
										Фантастика
									</span>
								</label>
								<label class="container-checkbox">
									<input type="checkbox" >
									<span class="checkmark"></span>
									<span>
										Мелодраммы
									</span>
								</label>
								<label class="container-checkbox">
									<input type="checkbox" >
									<span class="checkmark"></span>
									<span>
										Мультфильмы
									</span>
								</label>
							</div>
						</div>
					</div>
				</div>
				<div class="filter-item concert">
					<div class="wrap-content">
						<div class="filter-item__title">
							<span class="filter-name">Концерты</span>
	
							<span class="filter-count">(3)</span>
							<span class="filter-category"> - Электронная, Танец, Юмор</span>
							<span class="filter-icon"></span>
	
						</div>
						<div class="filter-item__shell">
							<div class="btn-back">
								<div class="wrap-btn-back">
									<img src="img/svg/arrow-back.svg" alt="arrow-back">
									<h2>Концерты</h2>
								</div>
							</div>
							<div class="wrap-content-mob">
								<label class="container-checkbox">
									<input type="checkbox" checked="checked">
									<span class="checkmark"></span>
									<span>
										Все
									</span>
								</label>
								<label class="container-checkbox">
									<input type="checkbox" >
									<span class="checkmark"></span>
									<span>
										Классика
									</span>
								</label>
								<label class="container-checkbox">
									<input type="checkbox" >
									<span class="checkmark"></span>
									<span>
										Рок
									</span>
								</label>
								<label class="container-checkbox">
									<input type="checkbox" >
									<span class="checkmark"></span>
									<span>
										Поп и эстрада
									</span>
								</label>
								<label class="container-checkbox">
									<input type="checkbox" >
									<span class="checkmark"></span>
									<span>
										Хипхоп
									</span>
								</label>
								<label class="container-checkbox">
									<input type="checkbox" >
									<span class="checkmark"></span>
									<span>
										Элекронная
									</span>
								</label>
								<label class="container-checkbox">
									<input type="checkbox" >
									<span class="checkmark"></span>
									<span>
										Шансон и романс
									</span>
								</label>
								<label class="container-checkbox">
									<input type="checkbox" >
									<span class="checkmark"></span>
									<span>
										Танец
									</span>
								</label>
								<label class="container-checkbox">
									<input type="checkbox" >
									<span class="checkmark"></span>
									<span>
										Юмор
									</span>
								</label>
								<label class="container-checkbox">
									<input type="checkbox" >
									<span class="checkmark"></span>
									<span>
										Народное искусство
									</span>
								</label>
								<label class="container-checkbox">
									<input type="checkbox" >
									<span class="checkmark"></span>
									<span>
										Творческий вечер
									</span>
								</label>
							</div>
						</div>
					</div>
				</div>
				<div class="filter-item party">
					<div class="wrap-content">
						<div class="filter-item__title">
							<span class="filter-name">Вечеринки</span>
	
							<span class="filter-count">(0)</span>
							<span class="filter-category">- не интересно</span>
							<span class="filter-icon"></span>
	
						</div>
						<div class="filter-item__shell">
							<div class="btn-back">
								<div class="wrap-btn-back">
									<img src="img/svg/arrow-back.svg" alt="arrow-back">
									<h2>Вечеринки</h2>
								</div>
							</div>
							<div class="wrap-content-mob">
								<label class="container-checkbox">
									<input type="checkbox" checked="checked">
									<span class="checkmark"></span>
									<span>
										Все
									</span>
								</label>
								<label class="container-checkbox">
									<input type="checkbox" >
									<span class="checkmark"></span>
									<span>
										Ночные клубы
									</span>
								</label>
								<label class="container-checkbox">
									<input type="checkbox" >
									<span class="checkmark"></span>
									<span>
										Бары и лаунж-бары
									</span>
								</label>
								<label class="container-checkbox">
									<input type="checkbox" >
									<span class="checkmark"></span>
									<span>
										На отрытом воздухе
									</span>
								</label>
							</div>
						</div>
					</div>
				</div>
				<div class="filter-item theater">
					<div class="wrap-content">
						<div class="filter-item__title">
							<span class="filter-name">Театры</span>
	
							<span class="filter-count">(1)</span>
							<span class="filter-category"> - Оперетта</span>
							<span class="filter-icon"></span>
	
						</div>
						<div class="filter-item__shell">
							<div class="btn-back">
								<div class="wrap-btn-back">
									<img src="img/svg/arrow-back.svg" alt="arrow-back">
									<h2>Театры</h2>
								</div>
							</div>
							<div class="wrap-content-mob">
								<label class="container-checkbox">
									<input type="checkbox" checked="checked">
									<span class="checkmark"></span>
									<span>
										Все
									</span>
								</label>
								<label class="container-checkbox">
									<input type="checkbox" >
									<span class="checkmark"></span>
									<span>
										Балет
									</span>
								</label>
								<label class="container-checkbox">
									<input type="checkbox" >
									<span class="checkmark"></span>
									<span>
										Детям
									</span>
								</label>
								<label class="container-checkbox">
									<input type="checkbox" >
									<span class="checkmark"></span>
									<span>
										Драма
									</span>
								</label>
								<label class="container-checkbox">
									<input type="checkbox" >
									<span class="checkmark"></span>
									<span>
										Комедия
									</span>
								</label>
								<label class="container-checkbox">
									<input type="checkbox" >
									<span class="checkmark"></span>
									<span>
										Кукольные
									</span>
								</label>
								<label class="container-checkbox">
									<input type="checkbox" >
									<span class="checkmark"></span>
									<span>
										Мюзикл
									</span>
								</label>
								<label class="container-checkbox">
									<input type="checkbox" >
									<span class="checkmark"></span>
									<span>
										Опера
									</span>
								</label>
								<label class="container-checkbox">
									<input type="checkbox" >
									<span class="checkmark"></span>
									<span>
										Оперетта
									</span>
								</label>
							</div>
						</div>
					</div>
				</div>
				<div class="filter-item child">
					<div class="wrap-content">
						<div class="filter-item__title">
							<span class="filter-name">Детям</span>
	
							<span class="filter-count">(Все)</span>
							<span class="filter-category"></span>
							<span class="filter-icon"></span>
	
						</div>
						<div class="filter-item__shell">
							<div class="btn-back">
								<div class="wrap-btn-back">
									<img src="img/svg/arrow-back.svg" alt="arrow-back">
									<h2>Детям</h2>
								</div>
							</div>
							<div class="wrap-content-mob">
								<label class="container-checkbox">
									<input type="checkbox" checked="checked">
									<span class="checkmark"></span>
									<span>
										Все
									</span>
								</label>
								<label class="container-checkbox">
									<input type="checkbox" >
									<span class="checkmark"></span>
									<span>
										Спектакли
									</span>
								</label>
								<label class="container-checkbox">
									<input type="checkbox" >
									<span class="checkmark"></span>
									<span>
										Выставки
									</span>
								</label>
								<label class="container-checkbox">
									<input type="checkbox" >
									<span class="checkmark"></span>
									<span>
										Цирк
									</span>
								</label>
								<label class="container-checkbox">
									<input type="checkbox" >
									<span class="checkmark"></span>
									<span>
										Планетарии
									</span>
								</label>
								<label class="container-checkbox">
									<input type="checkbox" >
									<span class="checkmark"></span>
									<span>
										"Развивайки"
									</span>
								</label>
							</div>
						</div>
					</div>
				</div>
				<div class="filter-item business">
					<div class="wrap-content">
						<div class="filter-item__title">
							<span class="filter-name">Бизнес</span>
	
							<span class="filter-count">(0)</span>
							<span class="filter-category"> - не интересно</span>
							<span class="filter-icon"></span>
	
						</div>
						<div class="filter-item__shell">
							<div class="btn-back">
								<div class="wrap-btn-back">
									<img src="img/svg/arrow-back.svg" alt="arrow-back">
									<h2>Бизнес</h2>
								</div>
							</div>
							<div class="wrap-content-mob">
								<label class="container-checkbox">
									<input type="checkbox" checked="checked">
									<span class="checkmark"></span>
									<span>
										Все
									</span>
								</label>
								<label class="container-checkbox">
									<input type="checkbox" >
									<span class="checkmark"></span>
									<span>
										Госзакупки
									</span>
								</label>
								<label class="container-checkbox">
									<input type="checkbox" >
									<span class="checkmark"></span>
									<span>
										Блокчейн и криптовалюты
									</span>
								</label>
								<label class="container-checkbox">
									<input type="checkbox" >
									<span class="checkmark"></span>
									<span>
										Налоги
									</span>
								</label>
								<label class="container-checkbox">
									<input type="checkbox" >
									<span class="checkmark"></span>
									<span>
										IT, технологии
									</span>
								</label>
								<label class="container-checkbox">
									<input type="checkbox" >
									<span class="checkmark"></span>
									<span>
										Стартапы
									</span>
								</label>
								<label class="container-checkbox">
									<input type="checkbox" >
									<span class="checkmark"></span>
									<span>
										Онлайн-бизнес
									</span>
								</label>
								<label class="container-checkbox">
									<input type="checkbox" >
									<span class="checkmark"></span>
									<span>
										Инвестиции
									</span>
								</label>
								<label class="container-checkbox">
									<input type="checkbox" >
									<span class="checkmark"></span>
									<span>
										Инновации и тренды
									</span>
								</label>
								<label class="container-checkbox">
									<input type="checkbox" >
									<span class="checkmark"></span>
									<span>
										Другое
									</span>
								</label>
							</div>
						</div>
					</div>
				</div>
				<div class="filter-item sport">
					<div class="wrap-content">
						<div class="filter-item__title">
							<span class="filter-name">Спорт</span>
	
							<span class="filter-count">(0)</span>
							<span class="filter-category"> - не интересно</span>
							<span class="filter-icon"></span>
	
						</div>
						<div class="filter-item__shell">
							<div class="btn-back">
								<div class="wrap-btn-back">
									<img src="img/svg/arrow-back.svg" alt="arrow-back">
									<h2>Спорт</h2>
								</div>
							</div>
							<div class="wrap-content-mob">
								<label class="container-checkbox">
									<input type="checkbox" checked="checked">
									<span class="checkmark"></span>
									<span>
										Все
									</span>
								</label>
								<label class="container-checkbox">
									<input type="checkbox" >
									<span class="checkmark"></span>
									<span>
										Авто/Мото
									</span>
								</label>
								<label class="container-checkbox">
									<input type="checkbox" >
									<span class="checkmark"></span>
									<span>
										Бои (UFC/MMA/БОКС)
									</span>
								</label>
								<label class="container-checkbox">
									<input type="checkbox" >
									<span class="checkmark"></span>
									<span>
										Киберспорт
									</span>
								</label>
								<label class="container-checkbox">
									<input type="checkbox" >
									<span class="checkmark"></span>
									<span>
										Футбол
									</span>
								</label>
								<label class="container-checkbox">
									<input type="checkbox" >
									<span class="checkmark"></span>
									<span>
										Хоккей
									</span>
								</label>
							</div>
						</div>
					</div>
				</div>
				<div class="filter-item leisure">
					<div class="wrap-content">
						<div class="filter-item__title">
							<span class="filter-name">Активный отдых</span>
	
							<span class="filter-count">(0)</span>
							<span class="filter-category"> - не интересно</span>
							<span class="filter-icon"></span>
	
						</div>
						<div class="filter-item__shell">
							<div class="btn-back">
								<div class="wrap-btn-back">
									<img src="img/svg/arrow-back.svg" alt="arrow-back">
									<h2>Активный отдых</h2>
								</div>
							</div>
							<div class="wrap-content-mob">
								<label class="container-checkbox">
									<input type="checkbox" checked="checked">
									<span class="checkmark"></span>
									<span>
										Все
									</span>
								</label>
								<label class="container-checkbox">
									<input type="checkbox" >
									<span class="checkmark"></span>
									<span>
										Сноуборд/лыжи
									</span>
								</label>
								<label class="container-checkbox">
									<input type="checkbox" >
									<span class="checkmark"></span>
									<span>
										Вейкборд
									</span>
								</label>
								<label class="container-checkbox">
									<input type="checkbox" >
									<span class="checkmark"></span>
									<span>
										Турпоходы
									</span>
								</label>
								<label class="container-checkbox">
									<input type="checkbox" >
									<span class="checkmark"></span>
									<span>
										Ледовый Каток
									</span>
								</label>
								<label class="container-checkbox">
									<input type="checkbox" >
									<span class="checkmark"></span>
									<span>
										Пейнтбол
									</span>
								</label>
								<label class="container-checkbox">
									<input type="checkbox" >
									<span class="checkmark"></span>
									<span>
										Страйкбол
									</span>
								</label>
								<label class="container-checkbox">
									<input type="checkbox" >
									<span class="checkmark"></span>
									<span>
										Лазертаг
									</span>
								</label>
								<label class="container-checkbox">
									<input type="checkbox" >
									<span class="checkmark"></span>
									<span>
										Аквапарк
									</span>
								</label>
								<label class="container-checkbox">
									<input type="checkbox" >
									<span class="checkmark"></span>
									<span>
										Бассейн
									</span>
								</label>
								<label class="container-checkbox">
									<input type="checkbox" >
									<span class="checkmark"></span>
									<span>
										Веревочный парк
									</span>
								</label>
								<label class="container-checkbox">
									<input type="checkbox" >
									<span class="checkmark"></span>
									<span>
										Батутный центр
									</span>
								</label>
								<label class="container-checkbox">
									<input type="checkbox" >
									<span class="checkmark"></span>
									<span>
										Картинг
									</span>
								</label>
								<label class="container-checkbox">
									<input type="checkbox" >
									<span class="checkmark"></span>
									<span>
										Катание на ватрушках
									</span>
								</label>
								<label class="container-checkbox">
									<input type="checkbox" >
									<span class="checkmark"></span>
									<span>
										Катание на лошадях
									</span>
								</label>
								<label class="container-checkbox">
									<input type="checkbox" >
									<span class="checkmark"></span>
									<span>
										Квадроциклы
									</span>
								</label>
								<label class="container-checkbox">
									<input type="checkbox" >
									<span class="checkmark"></span>
									<span>
										Снегоходы
									</span>
								</label>
								<label class="container-checkbox">
									<input type="checkbox" >
									<span class="checkmark"></span>
									<span>
										Полет на воздушном шаре
									</span>
								</label>
								<label class="container-checkbox">
									<input type="checkbox" >
									<span class="checkmark"></span>
									<span>
										Аэротруба
									</span>
								</label>
								<label class="container-checkbox">
									<input type="checkbox" >
									<span class="checkmark"></span>
									<span>
										Скалодром
									</span>
								</label>
								<label class="container-checkbox">
									<input type="checkbox" >
									<span class="checkmark"></span>
									<span>
										Ролледром
									</span>
								</label>
								<label class="container-checkbox">
									<input type="checkbox" >
									<span class="checkmark"></span>
									<span>
										Стрелковый тир
									</span>
								</label>
							</div>
						</div>
					</div>
				</div>
				<div class="filter-item education">
					<div class="wrap-content">
						<div class="filter-item__title">
							<span class="filter-name">Обучение</span>

							<span class="filter-count">(2)</span>
							<span class="filter-category"> - Духовное, Искусство</span>
							<span class="filter-icon"></span>
	
						</div>
						<div class="filter-item__shell">
							<div class="btn-back">
								<div class="wrap-btn-back">
									<img src="img/svg/arrow-back.svg" alt="arrow-back">
									<h2>Обучение</h2>
								</div>
							</div>
							<div class="wrap-content-mob">
								<label class="container-checkbox">
									<input type="checkbox" checked="checked">
									<span class="checkmark"></span>
									<span>
										Все
									</span>
								</label>
								<label class="container-checkbox">
									<input type="checkbox" >
									<span class="checkmark"></span>
									<span>
										Бизнес
									</span>
								</label>
								<label class="container-checkbox">
									<input type="checkbox" >
									<span class="checkmark"></span>
									<span>
										Духовное
									</span>
								</label>
								<label class="container-checkbox">
									<input type="checkbox" >
									<span class="checkmark"></span>
									<span>
										Искусство
									</span>
								</label>
								<label class="container-checkbox">
									<input type="checkbox" >
									<span class="checkmark"></span>
									<span>
										IT, технологии
									</span>
								</label>
								<label class="container-checkbox">
									<input type="checkbox" >
									<span class="checkmark"></span>
									<span>
										Красота
									</span>
								</label>
								<label class="container-checkbox">
									<input type="checkbox" >
									<span class="checkmark"></span>
									<span>
										Творчество, Рукоделие
									</span>
								</label>
								<label class="container-checkbox">
									<input type="checkbox" >
									<span class="checkmark"></span>
									<span>
										Инвестиции
									</span>
								</label>
								<label class="container-checkbox">
									<input type="checkbox" >
									<span class="checkmark"></span>
									<span>
										Фитнес и здоровье
									</span>
								</label>
							</div>
						</div>
					</div>
				</div>
				<div class="filter-item btn-submit show-mob">
						<div class="wrap-content">
							<div class="">
								<div class="wrap-btn">
									<a class='btn-def ' href="#">
										Применить
									</a>
									<a class='btn-def btn-def_gray' href="#">
										Сбросить парамтеры
									</a>
								</div>
							</div>
						</div>
					</div>
				<div class="filter-item remember-selection show-mob">
					<div class="wrap-content">
						<div class="filter">
							<label class="container-checkbox">
								<input type="checkbox" checked="checked">
								<span class="checkmark"></span>
								Запомнить выбор
							</label>
							<p>
								Чтобы не отмечать одно и тоже, войдите или зерагистрируйтесь и мы запомним ваш выбор.
							</p>
							<div class="wrap-btn">
								<a class='btn-def btn-def_white' href="#">
									Войти
								</a>
								<a class='btn-def btn-def_transparent' href="#">
									Зарегистрироваться
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-item main-content">
				<div class="top-block-filters">
					<div class="wrap-city">
						<img src="img/svg/sity.svg" alt="sity">
						<a href="#" class='city'>
							<img src="img/svg/line.svg" class="line-filters" alt="line">	
							г.Санкт-Петербург
						</a>
					</div>
					<div class="wrap-loupe">
						<a href="#" class='loupe'>
							<img src="img/svg/loupe.svg" class="loupe-filters" alt="loupe">
						</a>
						<a id='js-show-filter' href="#" class="btn-def">
							<img src="img/svg/filter.svg" class="btn-filters" alt="filters">
							Фильтры
						</a>
					</div>
				</div>
				<h2>
					Куда сходить в г.Санкт-Петербурге
				</h2>
				<div class="substrate substrate-desk">
					<a href="#" class="close"></a>
					<div class="top-form">
						<h3>
							Не пропускайте интересные события!
						</h3>
						<p>
							Выберите слева в фильтре то, что любите. <br>
							Мы запомним ваш выбор при повторных заходах (нужно войти в свой кабинет).<br>
						</p>
						<p>
							А еще вы можете указать email чтобы не пропустить ничего интересного и получать на почту все новинки только по выбранным вами категориям. Просто укажите как часто хотите получать рекомендации и ваш email.
						</p>
						<form action="" class="wrap-form">
							<div class="form-group form-group-input">
								<input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Email">
							</div>
							<div class="form-group form-group-select">
								<select class='select'>
									<option>ежедневно</option>
									<option>2 раза в неделю</option>
									<option>1 раз в неделю</option>
									<option>2 раза в месяц</option>
									<option>раз в пол года</option>
								</select>
							</div>
							<div class="form-group form-group-submit">
								<button type="submit" class="btn-def">
									Узнавать о новинках раньше всех
								</button>
							</div>
						</form>
					</div>
					<div class="text-feedback" style='display: block'>
						<h3>
							Вы успешно подписаль на получение новинок!
						</h3>
						<p class="first-p">
							Позже если захотите изменить настройки или отписаться - это можно сделать двумя способами: 
						</p>
						<p>
								1) На страничке каталога после изменения нажать на кнопку "обновить подписку"<br> 2) В личном кабинете
						</p>
					</div>
				</div>
				<div class="offers">
					<ul class="tabs">
						<li class="item">
							<a class="link active" href="#">Новинки</a>
						</li>
						<li class="item">
							<a class="link" href="#">Популярное</a>
						</li>
						<li class="item">
							<a class="link" href="#">Выбор редакции</a>
						</li>
					</ul>
					<div class="row-posters">
						<div class="heading-panel">
							<div class="heading">
								<strong>Кино</strong>
							</div>
						</div>
						<div class="posters-wrapper">
							<div class="poster">
								<a href="#" class="poster__close" data-toggle="modal" data-target="#my_modal"></a>
								<div class="poster__picture" style="background-image: url(img/poster-4_1.jpg)"></div>
								<div class="poster-description">
									<div class="poster__type">Детям</div>
									<div class="poster__title"><a href="#">Оранжевый ежик<i class="icon icon-like"></i></a></div>
									<div class="panel-hidden">
										<div class="poster__place">трк планета</div>
										<div class="poster__date">21 апреля, 19:30</div>
										<div class="poster-bottom-panel">
											<div class="poster__price">1000-2400 ₽</div>
											<div class="poster-btns">
												<button class="btn-def">Купить</button>
												<button class="btn-def btn-def-transparent">Оплатить бонусами</button>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="poster">
								<a href="#" class="poster__close" data-toggle="modal" data-target="#my_modal"></a>
								<div class="poster__picture" style="background-image: url(img/poster-6_1.jpg)"></div>
								<div class="poster-description">
									<div class="poster__type">Детям</div>
									<div class="poster__title"><a href="#">Оранжевый ежик<i class="icon icon-like"></i></a></div>
									<div class="panel-hidden">
										<div class="poster__place">трк планета</div>
										<div class="poster__date">21 апреля, 19:30</div>
										<div class="poster-bottom-panel">
											<div class="poster__price">1000-2400 ₽</div>
											<div class="poster-btns">
												<button class="btn-def">Купить</button>
												<button class="btn-def btn-def-transparent">Оплатить бонусами</button>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="poster">
								<a href="#" class="poster__close" data-toggle="modal" data-target="#my_modal"></a>
								<div class="poster__picture" style="background-image: url(img/poster-7_1.jpg)"></div>
								<div class="poster-description">
									<div class="poster__type">Детям</div>
									<div class="poster__title"><a href="#">Оранжевый ежик<i class="icon icon-like"></i></a></div>
									<div class="panel-hidden">
										<div class="poster__place">трк планета</div>
										<div class="poster__date">21 апреля, 19:30</div>
										<div class="poster-bottom-panel">
											<div class="poster__price">1000-2400 ₽</div>
											<div class="poster-btns">
												<button class="btn-def">Купить</button>
												<button class="btn-def btn-def-transparent">Оплатить бонусами</button>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="poster">
								<div class="free-btn">
									Бесплатно
								</div>
								<a href="#" class="poster__close" data-toggle="modal" data-target="#my_modal"></a>
								<div class="poster__picture" style="background-image: url(img/poster-42.jpg)"></div>
								<div class="poster-description">
									<div class="poster__type">Детям</div>
									<div class="poster__title"><a href="#">Оранжевый ежик<i class="icon icon-like"></i></a></div>
									<div class="panel-hidden">
										<div class="poster__place">трк планета</div>
										<div class="poster__date">21 апреля, 19:30</div>
										<div class="poster-bottom-panel">
											<div class="poster__price">1000-2400 ₽</div>
											<div class="poster-btns">
												<button class="btn-def">Купить</button>
												<button class="btn-def btn-def-transparent">Оплатить бонусами</button>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="poster">
								<a href="#" class="poster__close" data-toggle="modal" data-target="#my_modal"></a>
								<div class="poster__picture" style="background-image: url(img/poster-43.jpg)"></div>
								<div class="poster-description">
									<div class="poster__type">Детям</div>
									<div class="poster__title"><a href="#">Оранжевый ежик<i class="icon icon-like"></i></a></div>
									<div class="panel-hidden">
										<div class="poster__place">трк планета</div>
										<div class="poster__date">21 апреля, 19:30</div>
										<div class="poster-bottom-panel">
											<div class="poster__price">1000-2400 ₽</div>
											<div class="poster-btns">
												<button class="btn-def">Купить</button>
												<button class="btn-def btn-def-transparent">Оплатить бонусами</button>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="poster">
								<a href="#" class="poster__close" data-toggle="modal" data-target="#my_modal"></a>
								<div class="poster__picture" style="background-image: url(img/poster-44.jpg)"></div>
								<div class="poster-description">
									<div class="poster__type">Детям</div>
									<div class="poster__title"><a href="#">Оранжевый ежик<i class="icon icon-like"></i></a></div>
									<div class="panel-hidden">
										<div class="poster__place">трк планета</div>
										<div class="poster__date">21 апреля, 19:30</div>
										<div class="poster-bottom-panel">
											<div class="poster__price">1000-2400 ₽</div>
											<div class="poster-btns">
												<button class="btn-def">Купить</button>
												<button class="btn-def btn-def-transparent">Оплатить бонусами</button>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="poster">
								<a href="#" class="poster__close" data-toggle="modal" data-target="#my_modal"></a>
								<div class="poster__picture" style="background-image: url(img/poster-45.jpg)"></div>
								<div class="poster-description">
									<div class="poster__type">Детям</div>
									<div class="poster__title"><a href="#">Оранжевый ежик<i class="icon icon-like"></i></a></div>
									<div class="panel-hidden">
										<div class="poster__place">трк планета</div>
										<div class="poster__date">21 апреля, 19:30</div>
										<div class="poster-bottom-panel">
											<div class="poster__price">1000-2400 ₽</div>
											<div class="poster-btns">
												<button class="btn-def">Купить</button>
												<button class="btn-def btn-def-transparent">Оплатить бонусами</button>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="poster">
								<a href="#" class="poster__close" data-toggle="modal" data-target="#my_modal"></a>
								<div class="poster__picture" style="background-image: url(img/poster-46.jpg)"></div>
								<div class="poster-description">
									<div class="poster__type">Детям</div>
									<div class="poster__title"><a href="#">Оранжевый ежик<i class="icon icon-like"></i></a></div>
									<div class="panel-hidden">
										<div class="poster__place">трк планета</div>
										<div class="poster__date">21 апреля, 19:30</div>
										<div class="poster-bottom-panel">
											<div class="poster__price">1000-2400 ₽</div>
											<div class="poster-btns">
												<button class="btn-def">Купить</button>
												<button class="btn-def btn-def-transparent">Оплатить бонусами</button>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="poster-last">
								<a href="#" class="btn-def btn-def_transparent">
									Еще 7 фильмов
								</a>
							</div>
						</div>
					</div>
					<div class="row-posters">
						<div class="heading-panel">
							<div class="heading">
								<strong>концерты</strong>
							</div>
						</div>
						<div class="posters-wrapper">
							<div class="poster">
								<a href="#" class="poster__close" data-toggle="modal" data-target="#my_modal"></a>
								<div class="poster__picture" style="background-image: url(img/poster-47.jpg)"></div>
								<div class="poster-description">
									<div class="poster__type">Детям</div>
									<div class="poster__title"><a href="#">Оранжевый ежик<i class="icon icon-like"></i></a></div>
									<div class="panel-hidden">
										<div class="poster__place">трк планета</div>
										<div class="poster__date">21 апреля, 19:30</div>
										<div class="poster-bottom-panel">
											<div class="poster__price">1000-2400 ₽</div>
											<div class="poster-btns">
												<button class="btn-def">Купить</button>
												<button class="btn-def btn-def-transparent">Оплатить бонусами</button>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="poster">
								<a href="#" class="poster__close" data-toggle="modal" data-target="#my_modal"></a>
								<div class="poster__picture" style="background-image: url(img/poster-48.jpg)"></div>
								<div class="poster-description">
									<div class="poster__type">Детям</div>
									<div class="poster__title"><a href="#">Оранжевый ежик<i class="icon icon-like"></i></a></div>
									<div class="panel-hidden">
										<div class="poster__place">трк планета</div>
										<div class="poster__date">21 апреля, 19:30</div>
										<div class="poster-bottom-panel">
											<div class="poster__price">1000-2400 ₽</div>
											<div class="poster-btns">
												<button class="btn-def">Купить</button>
												<button class="btn-def btn-def-transparent">Оплатить бонусами</button>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="poster">
								<a href="#" class="poster__close" data-toggle="modal" data-target="#my_modal"></a>
								<div class="poster__picture" style="background-image: url(img/poster-49.jpg)"></div>
								<div class="poster-description">
									<div class="poster__type">Детям</div>
									<div class="poster__title"><a href="#">Оранжевый ежик<i class="icon icon-like"></i></a></div>
									<div class="panel-hidden">
										<div class="poster__place">трк планета</div>
										<div class="poster__date">21 апреля, 19:30</div>
										<div class="poster-bottom-panel">
											<div class="poster__price">1000-2400 ₽</div>
											<div class="poster-btns">
												<button class="btn-def">Купить</button>
												<button class="btn-def btn-def-transparent">Оплатить бонусами</button>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="poster">
								<a href="#" class="poster__close" data-toggle="modal" data-target="#my_modal"></a>
								<div class="poster__picture" style="background-image: url(img/poster-50.jpg)"></div>
								<div class="poster-description">
									<div class="poster__type">Детям</div>
									<div class="poster__title"><a href="#">Оранжевый ежик<i class="icon icon-like"></i></a></div>
									<div class="panel-hidden">
										<div class="poster__place">трк планета</div>
										<div class="poster__date">21 апреля, 19:30</div>
										<div class="poster-bottom-panel">
											<div class="poster__price">1000-2400 ₽</div>
											<div class="poster-btns">
												<button class="btn-def">Купить</button>
												<button class="btn-def btn-def-transparent">Оплатить бонусами</button>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="row-posters">
						<div class="heading-panel">
							<div class="heading">
								<strong>вечеринки</strong>
							</div>
						</div>
						<div class="posters-wrapper">
							<div class="poster">
								<a href="#" class="poster__close" data-toggle="modal" data-target="#my_modal"></a>
								<div class="poster__picture" style="background-image: url(img/poster-51.jpg)"></div>
								<div class="poster-description">
									<div class="poster__type">В ночном клубе</div>
									<div class="poster__title"><a href="#">Дыхание ночи<i class="icon icon-like"></i></a></div>
									<div class="panel-hidden">
										<div class="poster__place">трк планета</div>
										<div class="poster__date">21 апреля, 19:30</div>
										<div class="poster-bottom-panel">
											<div class="poster__price">1000-2400 ₽</div>
											<div class="poster-btns">
												<button class="btn-def">Купить</button>
												<button class="btn-def btn-def-transparent">Оплатить бонусами</button>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="poster">
								<a href="#" class="poster__close" data-toggle="modal" data-target="#my_modal"></a>
								<div class="poster__picture" style="background-image: url(img/poster-52.jpg)"></div>
								<div class="poster-description">
									<div class="poster__type">На открытом воздухе</div>
									<div class="poster__title"><a href="#">ДИСКОТЕКА .Сделано в 90-х.<i class="icon icon-like"></i></a></div>
									<div class="panel-hidden">
										<div class="poster__place">трк планета</div>
										<div class="poster__date">21 апреля, 19:30</div>
										<div class="poster-bottom-panel">
											<div class="poster__price">1000-2400 ₽</div>
											<div class="poster-btns">
												<button class="btn-def">Купить</button>
												<button class="btn-def btn-def-transparent">Оплатить бонусами</button>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="row-posters">
						<div class="heading-panel">
							<div class="heading">
								<strong>ТЕатры</strong>
							</div>
						</div>
						<div class="posters-wrapper">
							<div class="poster">
								<a href="#" class="poster__close" data-toggle="modal" data-target="#my_modal"></a>
								<div class="poster__picture" style="background-image: url(img/poster-53.jpg)"></div>
								<div class="poster-description">
									<div class="poster__type">Драмма</div>
									<div class="poster__title"><a href="#">Фабричная девочка<i class="icon icon-like"></i></a></div>
									<div class="panel-hidden">
										<div class="poster__place">трк планета</div>
										<div class="poster__date">21 апреля, 19:30</div>
										<div class="poster-bottom-panel">
											<div class="poster__price">1000-2400 ₽</div>
											<div class="poster-btns">
												<button class="btn-def">Купить</button>
												<button class="btn-def btn-def-transparent">Оплатить бонусами</button>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="poster">
								<a href="#" class="poster__close" data-toggle="modal" data-target="#my_modal"></a>
								<div class="poster__picture" style="background-image: url(img/poster-54.jpg)"></div>
								<div class="poster-description">
									<div class="poster__type">Комедия</div>
									<div class="poster__title"><a href="#">Палата бизнес-класса<i class="icon icon-like"></i></a></div>
									<div class="panel-hidden">
										<div class="poster__place">трк планета</div>
										<div class="poster__date">21 апреля, 19:30</div>
										<div class="poster-bottom-panel">
											<div class="poster__price">1000-2400 ₽</div>
											<div class="poster-btns">
												<button class="btn-def">Купить</button>
												<button class="btn-def btn-def-transparent">Оплатить бонусами</button>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="poster">
								<a href="#" class="poster__close" data-toggle="modal" data-target="#my_modal"></a>
								<div class="poster__picture" style="background-image: url(img/poster-55.jpg)"></div>
								<div class="poster-description">
									<div class="poster__type">Комедия</div>
									<div class="poster__title"><a href="#">Гарнир по-французски<i class="icon icon-like"></i></a></div>
									<div class="panel-hidden">
										<div class="poster__place">трк планета</div>
										<div class="poster__date">21 апреля, 19:30</div>
										<div class="poster-bottom-panel">
											<div class="poster__price">1000-2400 ₽</div>
											<div class="poster-btns">
												<button class="btn-def">Купить</button>
												<button class="btn-def btn-def-transparent">Оплатить бонусами</button>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="row-posters">
						<div class="heading-panel">
							<div class="heading">
								<strong>Детям</strong>
							</div>
						</div>
						<div class="posters-wrapper">
							<div class="poster">
								<a href="#" class="poster__close" data-toggle="modal" data-target="#my_modal"></a>
								<div class="poster__picture" style="background-image: url(img/poster-56.jpg)"></div>
								<div class="poster-description">
									<div class="poster__type">Спектакль</div>
									<div class="poster__title"><a href="#">Оранжевый ежик<i class="icon icon-like"></i></a></div>
									<div class="panel-hidden">
										<div class="poster__place">трк планета</div>
										<div class="poster__date">21 апреля, 19:30</div>
										<div class="poster-bottom-panel">
											<div class="poster__price">1000-2400 ₽</div>
											<div class="poster-btns">
												<button class="btn-def">Купить</button>
												<button class="btn-def btn-def-transparent">Оплатить бонусами</button>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="poster">
								<a href="#" class="poster__close" data-toggle="modal" data-target="#my_modal"></a>
								<div class="poster__picture" style="background-image: url(img/poster-57.jpg)"></div>
								<div class="poster-description">
									<div class="poster__type">Выставка</div>
									<div class="poster__title"><a href="#">Россия – моя история. 1945–2016<i class="icon icon-like"></i></a></div>
									<div class="panel-hidden">
										<div class="poster__place">трк планета</div>
										<div class="poster__date">21 апреля, 19:30</div>
										<div class="poster-bottom-panel">
											<div class="poster__price">1000-2400 ₽</div>
											<div class="poster-btns">
												<button class="btn-def">Купить</button>
												<button class="btn-def btn-def-transparent">Оплатить бонусами</button>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="poster">
								<a href="#" class="poster__close" data-toggle="modal" data-target="#my_modal"></a>
								<div class="poster__picture" style="background-image: url(img/poster-58.jpg)"></div>
								<div class="poster-description">
									<div class="poster__type">Спектакль</div>
									<div class="poster__title"><a href="#">Хрустальная туфелька, или Сказка о Золушке<i class="icon icon-like"></i></a></div>
									<div class="panel-hidden">
										<div class="poster__place">трк планета</div>
										<div class="poster__date">21 апреля, 19:30</div>
										<div class="poster-bottom-panel">
											<div class="poster__price">1000-2400 ₽</div>
											<div class="poster-btns">
												<button class="btn-def">Купить</button>
												<button class="btn-def btn-def-transparent">Оплатить бонусами</button>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="row-posters">
						<div class="heading-panel">
							<div class="heading">
								<strong>Бизнес</strong>
							</div>
						</div>
						<div class="posters-wrapper">
							<div class="poster">
								<a href="#" class="poster__close" data-toggle="modal" data-target="#my_modal"></a>
								<div class="poster__picture" style="background-image: url(img/poster-59.jpg)"></div>
								<div class="poster-description">
									<div class="poster__type">Инновации и тренды</div>
									<div class="poster__title"><a href="#">Synergy Global Forum 2019<i class="icon icon-like"></i></a></div>
									<div class="panel-hidden">
										<div class="poster__place">трк планета</div>
										<div class="poster__date">21 апреля, 19:30</div>
										<div class="poster-bottom-panel">
											<div class="poster__price">1000-2400 ₽</div>
											<div class="poster-btns">
												<button class="btn-def">Купить</button>
												<button class="btn-def btn-def-transparent">Оплатить бонусами</button>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="row-posters">
						<div class="heading-panel">
							<div class="heading">
								<strong>Спорт</strong>
							</div>
						</div>
						<div class="posters-wrapper">
							<div class="poster">
								<a href="#" class="poster__close" data-toggle="modal" data-target="#my_modal"></a>
								<div class="poster__picture" style="background-image: url(img/poster-60.jpg)"></div>
								<div class="poster-description">
									<div class="poster__type">Бои (UFC/MMA/БОКС)</div>
									<div class="poster__title"><a href="#">ACA 95<i class="icon icon-like"></i></a></div>
									<div class="panel-hidden">
										<div class="poster__place">трк планета</div>
										<div class="poster__date">21 апреля, 19:30</div>
										<div class="poster-bottom-panel">
											<div class="poster__price">1000-2400 ₽</div>
											<div class="poster-btns">
												<button class="btn-def">Купить</button>
												<button class="btn-def btn-def-transparent">Оплатить бонусами</button>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="poster">
								<a href="#" class="poster__close" data-toggle="modal" data-target="#my_modal"></a>
								<div class="poster__picture" style="background-image: url(img/poster-61.jpg)"></div>
								<div class="poster-description">
									<div class="poster__type">Футбол</div>
									<div class="poster__title"><a href="#">ЦСКА — Оренбург<i class="icon icon-like"></i></a></div>
									<div class="panel-hidden">
										<div class="poster__place">трк планета</div>
										<div class="poster__date">21 апреля, 19:30</div>
										<div class="poster-bottom-panel">
											<div class="poster__price">1000-2400 ₽</div>
											<div class="poster-btns">
												<button class="btn-def">Купить</button>
												<button class="btn-def btn-def-transparent">Оплатить бонусами</button>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="row-posters">
						<div class="heading-panel">
							<div class="heading">
								<strong>активный отдых</strong>
							</div>
						</div>
						<div class="posters-wrapper">
							<div class="poster">
								<a href="#" class="poster__close" data-toggle="modal" data-target="#my_modal"></a>
								<div class="poster__picture" style="background-image: url(img/poster-62.jpg)"></div>
								<div class="poster-description">
									<div class="poster__type">Скалодром</div>
									<div class="poster__title"><a href="#">Кубок мира по скалолазанию<i class="icon icon-like"></i></a></div>
									<div class="panel-hidden">
										<div class="poster__place">трк планета</div>
										<div class="poster__date">21 апреля, 19:30</div>
										<div class="poster-bottom-panel">
											<div class="poster__price">1000-2400 ₽</div>
											<div class="poster-btns">
												<button class="btn-def">Купить</button>
												<button class="btn-def btn-def-transparent">Оплатить бонусами</button>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="poster">
								<a href="#" class="poster__close" data-toggle="modal" data-target="#my_modal"></a>
								<div class="poster__picture" style="background-image: url(img/poster-63.jpg)"></div>
								<div class="poster-description">
									<div class="poster__type">Другое</div>
									<div class="poster__title"><a href="#">Арена виртуальной реальности Another World<i class="icon icon-like"></i></a></div>
									<div class="panel-hidden">
										<div class="poster__place">трк планета</div>
										<div class="poster__date">21 апреля, 19:30</div>
										<div class="poster-bottom-panel">
											<div class="poster__price">1000-2400 ₽</div>
											<div class="poster-btns">
												<button class="btn-def">Купить</button>
												<button class="btn-def btn-def-transparent">Оплатить бонусами</button>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="poster">
								<a href="#" class="poster__close" data-toggle="modal" data-target="#my_modal"></a>
								<div class="poster__picture" style="background-image: url(img/poster-64.jpg)"></div>
								<div class="poster-description">
									<div class="poster__type">Скалодром</div>
									<div class="poster__title"><a href="#">Тренировки Bear Race в Измайловском парке<i class="icon icon-like"></i></a></div>
									<div class="panel-hidden">
										<div class="poster__place">трк планета</div>
										<div class="poster__date">21 апреля, 19:30</div>
										<div class="poster-bottom-panel">
											<div class="poster__price">1000-2400 ₽</div>
											<div class="poster-btns">
												<button class="btn-def">Купить</button>
												<button class="btn-def btn-def-transparent">Оплатить бонусами</button>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="poster">
								<a href="#" class="poster__close" data-toggle="modal" data-target="#my_modal"></a>
								<div class="poster__picture" style="background-image: url(img/poster-65.jpg)"></div>
								<div class="poster-description">
									<div class="poster__type">Полёт на воздушном шаре </div>
									<div class="poster__title"><a href="#">В клубе «Меджик Флайт»<i class="icon icon-like"></i></a></div>
									<div class="panel-hidden">
										<div class="poster__place">трк планета</div>
										<div class="poster__date">21 апреля, 19:30</div>
										<div class="poster-bottom-panel">
											<div class="poster__price">1000-2400 ₽</div>
											<div class="poster-btns">
												<button class="btn-def">Купить</button>
												<button class="btn-def btn-def-transparent">Оплатить бонусами</button>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="row-posters">
						<div class="heading-panel">
							<div class="heading">
								<strong>Обучение</strong>
							</div>
						</div>
						<div class="posters-wrapper">
							<div class="poster">
								<a href="#" class="poster__close" data-toggle="modal" data-target="#my_modal"></a>
								<div class="poster__picture" style="background-image: url(img/poster-66.jpg)"></div>
								<div class="poster-description">
									<div class="poster__type">Творчество, Рукоделие</div>
									<div class="poster__title"><a href="#">Оранжевый ежик<i class="icon icon-like"></i></a></div>
									<div class="panel-hidden">
										<div class="poster__place">трк планета</div>
										<div class="poster__date">21 апреля, 19:30</div>
										<div class="poster-bottom-panel">
											<div class="poster__price">1000-2400 ₽</div>
											<div class="poster-btns">
												<button class="btn-def">Купить</button>
												<button class="btn-def btn-def-transparent">Оплатить бонусами</button>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="poster">
								<a href="#" class="poster__close" data-toggle="modal" data-target="#my_modal"></a>
								<div class="poster__picture" style="background-image: url(img/poster-67.jpg)"></div>
								<div class="poster-description">
									<div class="poster__type">Выставка</div>
									<div class="poster__title"><a href="#">Россия – моя история. 1945–2016<i class="icon icon-like"></i></a></div>
									<div class="panel-hidden">
										<div class="poster__place">трк планета</div>
										<div class="poster__date">21 апреля, 19:30</div>
										<div class="poster-bottom-panel">
											<div class="poster__price">1000-2400 ₽</div>
											<div class="poster-btns">
												<button class="btn-def">Купить</button>
												<button class="btn-def btn-def-transparent">Оплатить бонусами</button>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="row-posters row-posters-active row-slider">
						<div class="heading-panel">
							<div class="heading">
								<strong>Вы смотерели (18)</strong>
							</div>
							<div class="posters-active__arrows"></div>
						</div>
						<div class="posters-wrapper">
							<div class="posters posters-slider posters-slider-active-catalog">
								<div class="item">
									<div class="poster">
										<a href="#" class="poster__close" data-toggle="modal" data-target="#my_modal"></a>
										<div class="poster__picture" style="background-image: url(img/poster-21.jpg)"></div>
										<div class="poster-description">
											<div class="poster__type">Детям</div>
											<div class="poster__title"><a href="#">Оранжевый ежик<i class="icon icon-like"></i></a></div>
											<div class="panel-hidden">
												<div class="poster__link">
													<a href="#">
														<span>Подробнее</span>
														<span class="icon">
															<svg width="20" height="15" viewBox="0 0 20 15" fill="none" xmlns="http://www.w3.org/2000/svg">
																<path d="M13.4678 0.900079C13.1953 0.625918 12.7418 0.625918 12.4598 0.900079C12.1874 1.16498 12.1874 1.60586 12.4598 1.87014L17.5707 6.839H0.705621C0.31248 6.83962 0 7.14342 0 7.52564C0 7.90786 0.31248 8.22154 0.705621 8.22154H17.5707L12.4598 13.1811C12.1874 13.4553 12.1874 13.8968 12.4598 14.1611C12.7418 14.4352 13.1959 14.4352 13.4678 14.1611L19.7885 8.01592C20.0705 7.75102 20.0705 7.31014 19.7885 7.04586L13.4678 0.900079Z" fill="#6C7583"/>
															</svg>
														</span>
													</a>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="item">
									<div class="poster">
										<a href="#" class="poster__close" data-toggle="modal" data-target="#my_modal"></a>
										<div class="poster__picture" style="background-image: url(img/poster-9.jpg)"></div>
										<div class="poster-description">
											<div class="poster__type">Концерт</div>
											<div class="poster__title"><a href="#">Однажды в России<i class="icon icon-like"></i></a></div>
											<div class="panel-hidden">
												<div class="poster__link">
													<a href="#">
														<span>Подробнее</span>
														<span class="icon">
															<svg width="20" height="15" viewBox="0 0 20 15" fill="none" xmlns="http://www.w3.org/2000/svg">
																<path d="M13.4678 0.900079C13.1953 0.625918 12.7418 0.625918 12.4598 0.900079C12.1874 1.16498 12.1874 1.60586 12.4598 1.87014L17.5707 6.839H0.705621C0.31248 6.83962 0 7.14342 0 7.52564C0 7.90786 0.31248 8.22154 0.705621 8.22154H17.5707L12.4598 13.1811C12.1874 13.4553 12.1874 13.8968 12.4598 14.1611C12.7418 14.4352 13.1959 14.4352 13.4678 14.1611L19.7885 8.01592C20.0705 7.75102 20.0705 7.31014 19.7885 7.04586L13.4678 0.900079Z" fill="#6C7583"/>
															</svg>
														</span>
													</a>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="item">
									<div class="poster">
										<a href="#" class="poster__close" data-toggle="modal" data-target="#my_modal"></a>
										<div class="poster__picture" style="background-image: url(img/poster-33.jpg)"></div>
										<div class="poster-description">
											<div class="poster__type">Другое</div>
											<div class="poster__title"><a href="#">Арена виртуальной реальности Another World<i class="icon icon-like"></i></a></div>
											<div class="panel-hidden">
												<div class="poster__link">
													<a href="#">
														<span>Подробнее</span>
														<span class="icon">
															<svg width="20" height="15" viewBox="0 0 20 15" fill="none" xmlns="http://www.w3.org/2000/svg">
																<path d="M13.4678 0.900079C13.1953 0.625918 12.7418 0.625918 12.4598 0.900079C12.1874 1.16498 12.1874 1.60586 12.4598 1.87014L17.5707 6.839H0.705621C0.31248 6.83962 0 7.14342 0 7.52564C0 7.90786 0.31248 8.22154 0.705621 8.22154H17.5707L12.4598 13.1811C12.1874 13.4553 12.1874 13.8968 12.4598 14.1611C12.7418 14.4352 13.1959 14.4352 13.4678 14.1611L19.7885 8.01592C20.0705 7.75102 20.0705 7.31014 19.7885 7.04586L13.4678 0.900079Z" fill="#6C7583"/>
															</svg>
														</span>
													</a>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="item">
									<div class="poster">
										<a href="#" class="poster__close" data-toggle="modal" data-target="#my_modal"></a>
										<div class="poster__picture" style="background-image: url(img/poster-29.jpg)"></div>
										<div class="poster-description">
											<div class="poster__type">Киберспорт</div>
											<div class="poster__title"><a href="#">Epicenter Major<i class="icon icon-like"></i></a></div>
											<div class="panel-hidden">
												<div class="poster__link">
													<a href="#">
														<span>Подробнее</span>
														<span class="icon">
															<svg width="20" height="15" viewBox="0 0 20 15" fill="none" xmlns="http://www.w3.org/2000/svg">
																<path d="M13.4678 0.900079C13.1953 0.625918 12.7418 0.625918 12.4598 0.900079C12.1874 1.16498 12.1874 1.60586 12.4598 1.87014L17.5707 6.839H0.705621C0.31248 6.83962 0 7.14342 0 7.52564C0 7.90786 0.31248 8.22154 0.705621 8.22154H17.5707L12.4598 13.1811C12.1874 13.4553 12.1874 13.8968 12.4598 14.1611C12.7418 14.4352 13.1959 14.4352 13.4678 14.1611L19.7885 8.01592C20.0705 7.75102 20.0705 7.31014 19.7885 7.04586L13.4678 0.900079Z" fill="#6C7583"/>
															</svg>
														</span>
													</a>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="item">
									<div class="poster">
										<a href="#" class="poster__close" data-toggle="modal" data-target="#my_modal"></a>
										<div class="poster__picture" style="background-image: url(img/poster-21.jpg)"></div>
										<div class="poster-description">
											<div class="poster__type">Детям</div>
											<div class="poster__title"><a href="#">Оранжевый ежик<i class="icon icon-like"></i></a></div>
											<div class="panel-hidden">
												<div class="poster__link">
													<a href="#">
														<span>Подробнее</span>
														<span class="icon">
															<svg width="20" height="15" viewBox="0 0 20 15" fill="none" xmlns="http://www.w3.org/2000/svg">
																<path d="M13.4678 0.900079C13.1953 0.625918 12.7418 0.625918 12.4598 0.900079C12.1874 1.16498 12.1874 1.60586 12.4598 1.87014L17.5707 6.839H0.705621C0.31248 6.83962 0 7.14342 0 7.52564C0 7.90786 0.31248 8.22154 0.705621 8.22154H17.5707L12.4598 13.1811C12.1874 13.4553 12.1874 13.8968 12.4598 14.1611C12.7418 14.4352 13.1959 14.4352 13.4678 14.1611L19.7885 8.01592C20.0705 7.75102 20.0705 7.31014 19.7885 7.04586L13.4678 0.900079Z" fill="#6C7583"/>
															</svg>
														</span>
													</a>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="substrate substrate-mob">
						<a href="#" class="close"></a>
						<div class="top-form">
							<h3>
								Не пропускайте интересные события!
							</h3>
							<p>
								Выберите слева в фильтре то, что любите. <br>
								Мы запомним ваш выбор при повторных заходах (нужно войти в свой кабинет).<br>
							</p>
							<p class="last-child">
								А еще вы можете указать email чтобы не пропустить ничего интересного и получать на почту все новинки только по выбранным вами категориям. Просто укажите как часто хотите получать рекомендации и ваш email.
							</p>
							<form action="" class="wrap-form">
								<div class="form-group form-group-input">
									<input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Email">
								</div>
								<div class="form-group form-group-select">
									<select class="select">
										<option>ежедневно</option>
										<option>2 раза в неделю</option>
										<option>1 раз в неделю</option>
										<option>2 раза в месяц</option>
										<option>раз в пол года</option>
									</select>
								</div>
								<div class="form-group form-group-submit">
									<button type="submit" class="btn-def">
										Узнавать о новинках раньше всех
									</button>
								</div>
							</form>
						</div>
						<!-- <div class="text-feedback">
							<h3>
								Вы успешно подписаль на получение новинок!
							</h3>
							<p class="first-p">
								Позже если захотите изменить настройки или отписаться - это можно сделать двумя способами: 
							</p>
							<p>
									1) На страничке каталога после изменения нажать на кнопку "обновить подписку"<br> 2) В личном кабинете
							</p>
						</div> -->
					</div>
				<div class="wrap-banners">
					<div class="banners">
						<div class="banners-top">
							<div class="banners-context">
								<h3>
									Получайте бонусы и оплачивай ими билеты, ПРОСТО Рекомендуя события друзьям
								</h3>
								<img src="img/ticket-catalog.png" alt="ticket-catalog">
								<a href="#" class="btn-def btn-def_white">Подробнее</a>
								<div class="banners-bottom banners-bottom-mob">
									<a href="#">
										Больше не показывать эти блоки
									</a>
								</div>
							</div>
							<div class="banners-text">
								<h3>
									Создайте свою афишу<br>
									<span>Скрывая то, что не интересно</span>
								</h3>
								<div class="text-help">
									<div class="hide-alert-sub">
										<svg xmlns="http://www.w3.org/2000/svg" width="20" height="15" viewBox="0 0 20 15" fill="none">
											<path d="M13.4678 0.900079C13.1953 0.625918 12.7418 0.625918 12.4598 0.900079C12.1874 1.16498 12.1874 1.60586 12.4598 1.87014L17.5707 6.839H0.705621C0.31248 6.83962 0 7.14342 0 7.52564C0 7.90786 0.31248 8.22154 0.705621 8.22154H17.5707L12.4598 13.1811C12.1874 13.4553 12.1874 13.8968 12.4598 14.1611C12.7418 14.4352 13.1959 14.4352 13.4678 14.1611L19.7885 8.01592C20.0705 7.75102 20.0705 7.31014 19.7885 7.04586L13.4678 0.900079Z" fill="#6C7583"/>
										</svg>
									</div>
									<div class="hide-btn hide-btn-catalog"><img src="img/close.svg" alt=""></div>
									<p>
										При наведении на карточки событий появится возможность скрыть их навсегда.
									</p>
									<p>
										Скрытые карточки попадает в черный список который вы можете редактировать в личном кабинете
									</p>
								</div>
							</div>
						</div>
						<div class="banners-bottom">
							<a href="#">
								Больше не показывать эти блоки
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="app-mobile">
			<div class="app-mobile__title">Чаще ищете куда сходить с телефона?</div>
			<div class="app-mobile__pre-title">Скачайте приложение EVENTR</div>
			<div class="app-mobile__img">
				<p><a href="#"><img src="img/gps.png" alt=""></a></p>
				<p><a href="#"><img src="img/aps.png" alt=""></a></p>
			</div>
		</div>
	</div>
	<!-- Modal -->
	<div class="modal offers-modal fade" id="my_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">Скрыть</h5>
					<a class="close-castom" data-dismiss="modal" aria-label="Close"></a>
				</div>
				<div class="modal-body">
						<label class="container-checkbox">
							<input type="checkbox" checked="checked">
							<span class="checkmark"></span>
							<span>
								Большой предновогодний тур по России<br>
							</span>
								​​​​​​​(Только это событие)
						</label>
						<label class="container-checkbox">
							<input type="checkbox" checked="checked">
							<span class="checkmark"></span>
							<span>
								Comedy Club<br>
							</span>
								(Все события этого организатора)
						</label>
				</div>
				<div class="modal-footer">
					<div class="wrap-btn">
						<a class='btn-def modal-btn-def' href="#" data-dismiss="modal">
							Скрыть
						</a>
						<a class='btn-def btn-def_gray modal-btn_gray' href="#" data-dismiss="modal">
							Отменить
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>