.page-catalog
	@media screen and (max-width: 767px)
		h2
			display: none
		.wrap-form
			padding-top: 0
	

.page-insert
	.container
		padding-left: 0
		@media screen and (max-width: 991px)
			padding-left: 30px
		@media screen and (max-width: 767px)
			padding-left: 20px


.row-wrap-main
	display: flex

.main-content
	flex: 0 0 calc(100% - 285px)
	max-width: calc(100% - 285px)
	padding-top: 29px
	@media screen and (min-width: 992px)
		min-height: 562px
	@media screen and (max-width: 1366px)
		min-height: calc(100vh - 320px)
	@media screen and (max-width: 1024px)
		min-height: calc(100vh - 305px)
	@media screen and (max-width: 991px)
		max-width: 100%
		min-height: calc(100vh - 280px)
		flex: 0 0 auto
	@media screen and (max-width: 767px)
		min-height: calc(100vh - 223px)

	.top-block-filters
		display: none
		@media screen and (max-width: 991px) //начинать показывать с 991px т.к. список фильтров на десктопе прячется с 992px
			display: flex
			justify-content: space-between
			align-items: center
			padding-top: 9px
			@media screen and (max-width: 767px)
				padding-top: 9px
			.wrap-city,
			.wrap-loupe
				display: flex
				justify-content: space-between
				align-items: center
			.wrap-city
				width: 151px
				justify-content: flex-start
			.wrap-loupe
				width: 121px
			.city
				position: relative
				padding-left: 4px
				.line-filters
					position: absolute
					bottom: 2px
					left: 0
			.btn-def
				max-width: 100px
				padding: 5px
				@media screen and (max-width: 991px)
					&.btn-filter-active
						background: #6C7583
						box-shadow: none
						border-color: #6C7583 
						&:hover
							border-color: #6C7583 
				@media screen and (max-width: 767px)
					max-width: 91px


	h2
		font-weight: bold
		font-size: 18px
		line-height: 21px
		padding-top: 3px
		// padding-top: 32px
		margin-bottom: 20px
		color: $default-color
		
	.form-control
		display: inline-block
		width: 100%
		background: #FFFFFF
		border: 1px solid #E3E7F1
		box-sizing: border-box
		border-radius: 3px
		color: $default-color
		padding: 8px 13px	
		
	.substrate
		background: #FFFFFF
		box-shadow: 0px 15px 25px #E9E9ED
		border-radius: 3px
		padding: 20px 31px 17px 27px
		position: relative
		margin-bottom: 25px
		@media screen and (max-width: 767px)
			padding: 18px 19px 17px 19px
		.close
			width: 30px
			height: 30px
			border: 1px solid #E3E7F1
			background: #fff
			border-radius: 50%
			display: flex
			position: absolute
			right: -13px
			top: -12px
			opacity: 1
			color: #6C7583
			background: #fff url('../img/svg/close.svg') no-repeat center
			@media screen and (max-width: 767px)
				display: block
				top: -18px
				right: 19px
				width: 25px
				height: 25px

			span
				margin: auto	
		h3
			font-weight: bold
			font-size: 24px
			line-height: 28px
			color: $green-def
			margin-bottom: 12px
			@media screen and (max-width: 767px)
				margin-bottom: 11px
		p
			font-family: $default-font
			font-style: normal
			font-weight: normal
			font-size: 14px
			line-height: 21px
			color: $main-color
			margin-bottom: 0
			@media screen and (max-width: 767px)
				font-size: 12px
				line-height: 18px
				margin-bottom: 18px
		.last-child
			@media screen and (max-width: 767px)
				margin-bottom: 13px
		.text-feedback
			margin-top: -3px
			padding-bottom: 64px
			display: none
			h3
				padding-left: 35px
				position: relative
				&::before
					content: " "
					width: 26px
					height: 20px
					background:  url('../img/svg/check_green_big.svg') no-repeat center
					position: absolute
					top: 3px
					left: 0
					z-index: 0
			.first-p
				padding-bottom: 22px

	.substrate-desk
		@media screen and (max-width: 767px)
			display: none

	.substrate-mob
		display: none
		@media screen and (max-width: 767px)
			display: block
			margin-left: -20px
			margin-right: -20px
			margin-bottom: 0
			box-shadow: none
			
.wrap-form
	padding-top: 23px
	display: flex
	flex-wrap: wrap
	.btn-def
		padding: 9px 27px 8px
		width: 100%
		@media screen and (max-width: 767px)
			max-width: 100%
			padding: 5px 27px 6px
	.select2-container
		display: inline-block
		margin-top: 0px
		margin-bottom: 0
		@media screen and (min-width: 768px)
			max-width: 156px

		.select2-selection--single
			height: 35px
			@media screen and (min-width: 768px)
				width: 156px

			.select2-selection__arrow
				height: 35px
	input
		&::-webkit-input-placeholder
			color: $default-color
		&:-ms-input-placeholder
			color: $default-color
		&::-ms-input-placeholder
			color: $default-color
		&::placeholder
			color: $default-color

		.login
			background: $green-light-def
			box-shadow: 0px 7px 15px rgba(42, 99, 7, 0.2)
			border-radius: 3px
			color: #fff
			padding: 10px 6px 8px
			margin-right: 0
			transition: $transition
			width: 100%
			text-align: center

			&:hover,
			&:active,
			&:focus
				color: #fff
			&:hover
				background: $green-def
				border-color: $green-def
			&:active,
			&.active
				background: $green-6
	.form-group-input
		margin-right: 20px
		flex-basis: 0
		flex-grow: 1
		max-width: 100%
		@media screen and (max-width: 1024px)
			flex: auto
		@media screen and (max-width: 767px)
			width: 100%
			margin-right: 0
			margin-bottom: 15px

	.form-group-select
		margin-right: 20px
		flex: 0 0 auto
		width: auto
		max-width: none
		@media screen and (max-width: 767px)
			flex: auto
			width: 100%
			margin-right: 0

	.form-group-submit
		flex-basis: 0
		flex-grow: 1
		max-width: 100%
		flex: 0 0 auto
		@media screen and (max-width: 767px)
			flex: auto

.side-bar
	width: 255px
	flex-shrink: 0
	margin-right: 30px
	z-index: 99
	@media screen and (max-width: 991px)
		position: fixed
		top: 110px
		left: -100%
		bottom: 0
		width: 100%
		height: calc(100% - 110px)
		background: #fff
		overflow-y: scroll
		z-index: 5
		transition: 1s
	@media screen and (max-width: 991px)
		&.show-filter
			transition: 1s
			left: 0
	@media screen and (max-width: 767px)
		top: 90px
		height: calc(100% - 90px)

	.filter-item
		width: 100%
		border-bottom: 1px solid #ECECF2
		@media screen and (max-width: 991px)
			padding: 14px 21px 11px
		.wrap-content
			@media screen and (max-width: 991px)
				// max-width: 280px
				max-width: 100%
				margin: 0 auto //потом убрать
		&.remember-selection
			@media screen and (max-width: 991px)
				padding: 15px 20px 28px

	.ticket-price,
	.btn-submit
		.wrap-content
			@media screen and (max-width: 991px)
				max-width: 280px
				margin: 0
	
	.filter-name
		font-weight: bold
		font-size: 14px
		line-height: 16px
		text-transform: uppercase
		@media screen and (max-width: 991px)
			font-size: 12px
			line-height: 14px
	
	.btn-submit
		padding: 30px 20px


/*___show filter-item____*/
.filter-item
	&.show
		.filter-item__shell
			left: 0		
/*___show filter-item____*/		
	
/*___calendar____*/		
.calendar
	padding: 27px 30px 22px
	@media screen and (max-width: 991px)
		padding: 14px 21px 11px



/*___select2___*/
*
	&:focus
		outline: 0

.select2
	margin-bottom: 8px
	width: 100% !important	
	.select2-selection--single
		border: 1px solid #E3E7F1
		box-sizing: border-box
		border-radius: 3px
		height: auto
		&::focus
			outline: none
		.select2-selection__arrow
			display: flex
			height: 100%
			width: 35px
			b
				margin: auto
				border: none
				width: 15px
				height: 9px
				background: url('../img/svg/arrow_bottom.svg')

		.select2-selection__rendered
			line-height: 33px
			color: #A7B3BE
			font-size: 14px
			font-family: $default-font
			padding-left: 15px
			padding-right: 35px
			// @media screen and (max-width: 991px)
			// 	line-height: 35px
.select2-container--default
	.select2-results__option--highlighted[aria-selected]
		background-color:	$green-light-def !important
		color: #fff !important

	.select2-results__option[aria-selected=true]
		background-color: #fff
		position: relative
		&:after
			content: " "
			width: 13px
			height: 10px
			background: url('../img/svg/check_green.svg')
			position: absolute
			top: 10px
			right: 13px

.select2-container--open
	.select2-selection--single
		border: 1px solid #A7B3BE
		border-bottom: 1px solid #E3E7F1
		.select2-selection__rendered
			color: $main-color
		.select2-selection__arrow
			b
				width: 15px
				height: 9px
				background: url('../img/svg/arrow_top.svg')
	.select2-search
		display: none

	.select2-results
		.select2-results__options
			li
				padding-left: 15px
				&:nth-child(1)
					display: none
				&:nth-child(2n+1)
					background: #FBFBFB
					color: $main-color
			.select2-results__option
				border-bottom: 1px solid #E3E7F1
				color: $main-color
				&::last-child
					border-bottom: 0

/*____datepicker____*/
.datapicer-catalog
	padding-top: 4px
.datepicker
	width: 100%
	box-sizing: border-box
.ui-widget
	font-family: $default-font
	font-size: 14px
.ui-datepicker
	border: none
	color: #707078
	width: 100%
	.ui-datepicker-title
		line-height: 16px
	.ui-datepicker-header //навигация
		border-bottom: 0
		padding: 0 0 7px
		background-color: #fff
		font-weight: bold
		font-size: 14px
		line-height: 16px
		color: $main-color

		.ui-corner-all //стрелка влево вправо
			width: 10px
			height: 17px
			display: flex
			.ui-icon
				width: 10px
				height: 17px
				margin: auto
				left: auto
				top: -2px
				// display: block
				// position: absolute
				// transform: translate(-50%, -50%)
		.ui-state-hover
			background: #ffffff
			cursor: pointer
		.ui-datepicker-prev
			left: 0
			span
				justify-content: flex-start
				background: url(../img/svg/arrow_left_datepicker.svg) no-repeat
		.ui-datepicker-next
			right: 0
			span
				justify-content: flex-end
				background: url(../img/svg/arrow_right_datepicker.svg) no-repeat
	table
		font-weight: normal
		font-size: 14px
		line-height: 16px
		th
			padding: .7em .3em .2em
		td
			padding: 0 
			.ui-state-default
				padding: 6px 6px 4px
				border-radius: 50%
			.ui-state-active
				background: $green-light-def
				color: #fff
			.ui-state-hover
				background: $green-light-def
				color: #fff
			.ui-state-highlight
				background: $green-light-def
			.ui-state-highlight.ui-state-active
				border-radius: 50%
				background: $green-light-def
				color: #fff
		.selected-start
			.ui-state-active.ui-state-hover
				border-radius: 50%
				background: $green-def
		.selected-start
			.ui-state-active
				border-radius: 50% !important
				// background: $green-def
				// border-radius:  50% 0 0 50% !important //здесь добавить before
				position: relative
				z-index: 1
				background: transparent
				&:after
					content: " "
					// width: 28px
					width: 100%
					height: 100%
					background: #1C8D00 //применить темный
					position: absolute
					top: 0
					left: 0
					z-index: -2
					border-radius: 50%
				&:before
					content: " "
					width: 50%
					height: 100%
					background: $green-light-def
					position: absolute
					top: 0
					right: 0
					z-index: -2
		.selected-start.selected-end
			.ui-state-active
				border-radius: 50% !important
				background: $green-def
				&::before
					display: none
		.selected
			.ui-state-active
				border-radius: 0
		.selected-end
			.ui-state-active
				border-radius: 50%
				// background: $green-def
				// border-radius:  0 50% 50% 0 !important //здесь добавить before
				position: relative
				z-index: 1
				background: transparent
				&:after
					content: " "
					// width: 28px
					width: 100%
					height: 100%
					background: #1C8D00 //применить темный
					position: absolute
					top: 0
					left: 0
					z-index: -2
					border-radius: 50%
				&:before
					content: " "
					width: 50%
					height: 100%
					background: $green-light-def
					position: absolute
					top: 0
					left: 0
					z-index: -2
		.selected-end
			.ui-state-active.ui-state-hover
				border-radius: 50%
				background: $green-def

/*____filters____*/
.filters
	border-bottom: 1px solid #ECECF2
	padding: 31px 27px 28px 30px
	p
		font-family: $default-font
		font-style: normal
		font-weight: normal
		font-size: 13px
		line-height: 18px
		color: $main-color
		margin-bottom: 23px

/* The container checkbox */
.container-checkbox 
	display: block
	position: relative
	padding-left: 29px
	margin-top: 16px
	margin-bottom: 14px
	cursor: pointer
	font-size: 22px
	user-select: none

	font-family: $default-font
	font-style: normal
	font-weight: bold
	font-size: 13px
	line-height: 20px
	color: $main-color

/* Hide the browser's default checkbox */
.container-checkbox input 
	position: absolute
	opacity: 0
	cursor: pointer
	height: 0
	width: 0

/* Create a custom checkbox */
.checkmark
	position: absolute
	top: 0
	left: 0
	height: 20px
	width: 20px
	background-color: #fff
	border: 1px solid #E3E7F1
	box-sizing: border-box
	border-radius: 2px

/* On mouse-over, add a grey background color */
.container-checkbox:hover input ~ .checkmark
	background-color: #fff

/* When the checkbox is checked, add a blue background */
.container-checkbox input:checked ~ .checkmark 
	background-color: #fff

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after
	content: ""
	position: absolute
	display: none

/* Show the checkmark when checked */
.container-checkbox input:checked ~ .checkmark:after
	display: block

/* Style the checkmark/indicator */
.container-checkbox .checkmark:after 
    left: 3px
    top: 4px
    background: url(../img/svg/check_green.svg)
    width: 13px
    height: 10px

/* Btn */
.wrap-btn
	display: flex
	.login
		background: $green-light-def
		box-shadow: 0px 7px 15px rgba(42, 99, 7, 0.2)
		border-radius: 3px
		color: #fff
		padding: 9px 6px
		margin-right: 10px
		transition: $transition
		&:hover,
		&:active,
		&:focus
			color: #fff
		&:hover
			background: $green-def
			border-color: $green-def
		&:active,
		&.active
			background: $green-6

	.reg
		border: 1px solid rgba(105,197,48, .3)
		box-sizing: border-box
		border-radius: 3px
		font-weight: bold
		font-size: 12px
		line-height: 14px
		display: flex
		align-items: center
		text-align: center
		color: $green-light-def
		padding: 0 8px 0 6px
		transition: $transition
		&:hover,
		&:active,
		&:focus
			color: $green-light-def
		&:hover
			border: 1px solid rgba(28,141,0, .3)
			color: $green-def
		&:active,
		&.active
			border: 1px solid rgba(19,160,67, .3)
			color: $green-6
	
	.btn-def
		@media screen and (max-width: 991px)
			flex-basis: 0
			padding: 8px 20px
	.btn-def_gray
		@media screen and (max-width: 991px)
			flex-basis: auto
			margin-left: 21px
			padding: 9px 0px
			font-weight: normal
			font-size: 12px
			line-height: 14px

/*ticket-price*/
.ticket-price
	border-bottom: 1px solid #ECECF2
	padding: 26px 30px 36px
	@media screen and (max-width: 991px)
		padding: 9px 20px 18px !important
	.wrap-content
		max-width: 280px !important
	.ticket-title
		@media screen and (max-width: 991px)
			display: inline-block
	.wrap-range
		padding-top: 12px
		.wrap-input
			display: flex
			justify-content: space-between
			padding-bottom: 17px
			position: relative
			@media screen and (max-width: 991px)
				padding-bottom: 4px
				width: 185px
				margin-left: 10px
			.text
				font-weight: bold
				font-size: 14px
				line-height: 16px
				color: #0E1F38
				padding: 10px
				@media screen and (max-width: 991px)
					padding: 8px 10px
				b
					color: #6C7583
					font-weight: 400
			.value-min,
			.value-max
				width: 85px
				height: 35px
				border: 1px solid #E3E7F1
				box-sizing: border-box
				@media screen and (max-width: 991px)
					width: 75px
					height: 30px
			&::before
				content: ""
				position: absolute
				width: 14px
				height: 1px
				top: 16px
				left: 50%
				transform: translateX(-50%)
				background: #E3E7F1

		.noUi-horizontal
			height: 6px
			.noUi-handle
				width: 20px
				height: 20px
				top: -7px
				border-radius: 50%
				border: none
				background: $green-def
				box-shadow: none
				&:after,
				&::before
					display: none
		.noUi-target
			border: 0
			box-shadow: none
			background: #D2D3DB
			border-radius: 5px
			.noUi-connect
				background: $green-light-def

	.wrap-range-input
		@media screen and (max-width: 991px)
			display: inline-block
			padding-top: 0
/*___availability-tickets___*/
.availability-tickets
	// border-bottom: 1px solid #ECECF2
	padding: 31px 30px 18px
/*checkbox-ticket*/
.checkbox_tickets 
	position: absolute
	z-index: -1
	opacity: 0
	margin: 10px 0 0 20px

.checkbox_tickets + label 
	position: relative
	padding: 0 0 0 47px
	cursor: pointer
	margin-bottom: 27px
	@media screen and (max-width: 991px)
		font-size: 12px
		line-height: 14px
		display: block

.checkbox_tickets + label:last-child 
	margin-bottom: 0

.checkbox_tickets + label:before 
	content: ''
	position: absolute
	top: 3px
	left: 0
	width: 38px
	height: 13px
	border-radius: 13px
	background: #E3E7F1
	box-shadow: none
	transition: .2s
	@media screen and (max-width: 991px)
		top: 1px

.checkbox_tickets + label:after 
	content: ''
	position: absolute
	top: -1px
	left: 0px
	width: 20px
	height: 20px
	border-radius: 10px
	background: #FFF
	box-shadow: none
	transition: .2s
	background: #A7B3BE
	@media screen and (max-width: 991px)
		top: -3px


.checkbox_tickets:checked
	+ label:before 
		background: $green-light-def

.checkbox_tickets:checked
	+ label:after
		left: 18px
		background: $green-def

.checkbox_tickets:focus
	+ label:before 
		box-shadow: none

/*who-to-go*/
.who-to-go
	border-bottom: 1px solid #ECECF2
	padding: 31px 30px 28px
	h2
		margin-bottom: 16px
	.container-checkbox
		font-family: $default-font
		font-style: normal
		font-weight: normal
		font-size: 14px
		line-height: 18px
		margin-top: 14px
		margin-bottom: 0px
		@media screen and (max-width: 991px)
			line-height: 21px
			margin-top: 16px
	/* When the checkbox is checked, add a blue background */
.container-checkbox	input:checked 
	~ span 
		color: #0E1F38

/*cinema*/
.cinema
	border-bottom: 1px solid #ECECF2
	padding: 31px 30px 31px
	.container-checkbox
		font-family: $default-font
		font-style: normal
		font-weight: normal
		font-size: 14px
		line-height: 18px
		margin-top: 14px
		margin-bottom: 0px

/*concert*/
.concert,
.party,
.theater,
.child,
.business,
.sport,
.leisure,
.education
	border-bottom: 1px solid #ECECF2
	padding: 31px 30px 28px 30px
	.container-checkbox
		font-family: $default-font
		font-style: normal
		font-weight: normal
		font-size: 14px
		line-height: 18px
		margin-top: 14px
		margin-bottom: 0px

/*___offers___*/
.offers
	padding-top: 24px
	@media screen and (max-width: 767px)
		padding-top: 18px

	.posters-wrapper
		overflow: inherit
		border-radius: 5px
	.poster
		overflow: visible
		.poster__picture
			&:before
				z-index: 1

		&:hover
			.poster-description
				padding: 27px 5px 27px 24px
				transform: translateY(0px)
		.poster-description
			padding: 27px 5px 0px 24px
			transform: translateY(0px)
		.free-btn
			position: absolute
			top: 30px
			left: 30px
			z-index: 1
	.tabs
		border-bottom: 1px solid #DDDDE3
		display: flex
		padding-bottom: 5px
		margin-bottom: 39px
		@media screen and (max-width: 767px)
			padding-bottom: 1px
			margin-bottom: 35px
		.item
			margin-right: 38px
			@media screen and (max-width: 767px)
				margin-right: 33px
				&:last-child
					margin-right: 0
			.link
				font-family: $default-font
				font-style: normal
				font-weight: normal
				font-size: 14px
				line-height: 21px
				color: $main-color
				@media screen and (max-width: 767px)
					font-size: 12px
				&.active
					color: #0E1F38
					position: relative
					&::before
						content: ''
						position: absolute
						width: 100%
						height: 3px
						background: $green-light-def
						bottom: -9px
						@media screen and (max-width: 767px)
						    bottom: -7px
	.heading-panel
		margin-bottom: 19px
		@media screen and (max-width: 767px)
			margin-bottom: 11px
	.heading
		&:before
			display: none !important
			@media screen and (max-width: 767px)
				display: block !important
	.row-posters
		&:last-child
			margin-bottom: 68px
		.posters-wrapper
			flex-wrap: wrap
			justify-content: start
			@media screen and (max-width: 767px)
				margin-left: -20px
				margin-right: -20px

	.poster
		@media screen and (min-width: 768px)
			width: 33.3333%
			height: 285px
			&:before
				display: none
			&:last-child
				border-radius: 0 5px 5px 0
		@media screen and (max-width: 550px)
			height: 160px
	.poster-last
		display: flex
		width: 33.3333%
		@media screen and (max-width: 767px)
			width: 50%
			height: 285px
		@media screen and (max-width: 550px)
			height: 160px

		.btn-def_transparent
			width: auto
			margin: auto
			padding: 9px 12px 8px

	.slick-slide
		.poster
			width: 100%
			&:last-child
				border-radius: 0

/*.poster__close */
.poster
	&__close
		opacity: 0
		width: 30px
		height: 30px
		border: 1px solid #212942
		border-radius: 50%
		display: flex
		position: absolute
		right: 25px
		top: -14px
		left: auto
		color: #fff
		background: #212942 url(../img/svg/close-white.svg) no-repeat center
		display: block !important
		z-index: 2
		cursor: pointer
		transition: opacity .3s ease-in-out
	&:hover
		.poster__close
			opacity: 1
/*End  .poster__close ***/

/*banners*/
.wrap-banners
	padding-top: 40px
	padding-bottom: 151px
	@media screen and (max-width: 767px)
		margin-left: -20px
		margin-right: -20px
		padding-top: 3px
		padding-bottom: 20px
.banners
	background: #ffffff
	.banners-top
		display: flex
		@media screen and (max-width: 991px)
			flex-wrap: wrap
		.banners-context
			background: linear-gradient(188.68deg, #7BC530 5.36%, #368D00 105.81%)
			padding: 32px 37px 24px 38px
			text-align: center
			transition: opacity 0.3s, visibility 0s linear 0.3s
			@media screen and (max-width: 991px)
				flex: 0 0 auto
				width: 100%
			@media screen and (max-width: 767px)
				padding: 22px 10px 7px
			h3
				font-weight: bold
				font-size: 18px
				line-height: 25px
				text-align: center
				text-transform: uppercase
				color: #fff
				margin-bottom: -7px
				@media screen and (max-width: 767px)
					font-size: 12px
					line-height: 17px
					margin-bottom: 0
			img
				display: block
				margin: 0 auto -37px
				@media screen and (max-width: 1130px)
					margin: 0 auto
				@media screen and (max-width: 767px)
					margin: 0 auto 15px

			.btn-def
				padding: 10px 20px 9px
				@media screen and (max-width: 767px)
					max-width: 108px
					padding: 7px 20px 5px
				

		.banners-text
			background: #fff
			padding: 34px 36px 24px
			border-bottom: 1px solid #EBEBF1
			width: 309px
			flex: 0 0 auto
			@media screen and (max-width: 991px)
				flex: 0 0 auto
				width: 100%
			@media screen and (max-width: 767px)
				display: none
			h3
				font-weight: bold
				font-size: 19px
				line-height: 22px
				text-align: center
				text-transform: uppercase
				color: #1c8d00
				margin-bottom: 29px

				span
					font-size: 14px
					line-height: 20px
					color: #707078
			.text-help
				background: rgba(227, 231, 241, 0.4)
				padding: 30px 20px 3px 28px
				position: relative
				.hide-alert-sub
					position: absolute
					top: -10px
					right: 61px
					svg
						width: 26px
						height: 19px
						path
							fill: #212942
				.hide-btn-catalog
					top: -15px
					right: 16px

				p
					font-family: $default-font
					font-style: normal
					font-weight: normal
					font-size: 12px
					line-height: 17px
					color: #6C7583
					

	.banners-bottom
		display: block
		a
			display: table
			margin: 0 auto
			cursor: pointer
			font-family: $default-font
			font-style: normal
			font-weight: normal
			font-size: 14px
			line-height: 20px

			text-align: center
			text-decoration-line: underline

			padding: 16px 0 14px

	.banners-bottom-mob
		display: none
		@media screen and (max-width: 767px)
			display: block
			a
				color: #E3E7F1
				font-size: 12px
				line-height: 14px
	
.app-mobile
	@media screen and (max-width: 767px)
		padding-top: 194px
		padding-left: 44px
		padding-right: 44px
		.app-mobile__title
			@media screen and (max-width: 767px)
				margin-bottom: 16px
		.app-mobile__pre-title
			@media screen and (max-width: 767px)
				margin-bottom: 26px
		.app-mobile__img
			@media screen and (max-width: 767px)
				p
					margin-bottom: 19px


.filter
	&-name
		font-family: $default-font
		font-weight: bold
		font-size: 12px
		line-height: 14px
		text-transform: uppercase
	&-count
		font-size: 12px
		line-height: 14px
		padding-left: 3px
	&-category
		font-size: 12px
		line-height: 14px
		color: #A7B3BE
	&-count,
	&-category,
	&-icon
		display: none
		@media screen and (max-width: 991px)
			display: block


/*____filters mob___*/
.show-mob
	display: none
	@media screen and (max-width: 991px)
		display: block
		
.hidden-mob
	display: block
	@media screen and (max-width: 991px)
		display: none

.wrap-select
	@media screen and (max-width: 991px)
		// padding-left: 20px
		// padding-right: 20px
		// margin-top: 20px
		// margin-bottom: 1px

.datepicker-here
	@media screen and (max-width: 991px)
		padding-left: 20px
		padding-right: 20px

.filter-item__shell
	@media screen and (max-width: 991px)
		// display: none
		position: fixed
		top: 110px
		left: -100%
		bottom: 0
		width: 100%
		height: -webkit-calc(100% - 110px)
		height: calc(100% - 110px)
		background: #fff
		overflow-y: scroll
		z-index: 106
		transition: 1s
	@media screen and (max-width: 767px)
		top: 90px
		height: -webkit-calc(100% - 90px)
	&.show
		// display: block
		transition: 1s
		left: 0
	.wrap-content-mob
		// max-width: 290px
		@media screen and (max-width: 991px)
			max-width: 320px
			padding: 0 20px 25px
	.btn-back
		display: none
		@media screen and (max-width: 991px)
			display: block
			border-bottom: 1px solid #E3E7F1
			background: #fff
		.wrap-btn-back
			@media screen and (max-width: 991px)
				display: flex
				align-items: center
				padding: 17px 20px 12px
				h2
					font-weight: bold
					font-size: 12px
					line-height: 14px
					text-transform: uppercase
					margin-bottom: 0
					color: #1C8D00
					padding-left: 4px
					display: block
			@media screen and (max-width: 991px)
				padding: 14px 20px 11px





.filter-item__title
	@media screen and (max-width: 991px)
		display: flex
		align-items: baseline
		position: relative

	.filter-icon
		width: 10px
		height: 17px
		background: url(../img/svg/arrow_right.svg)
		position: absolute
		right: 0
		top: -2px

.remember-selection
	// padding: 0px 20px 118px !important
	position: relative
	// position: fixed
	z-index: 105
	left: 0
	bottom: 0
	right: 0
	background: #1C8D00
	color: #ffffff
	transition: 1s
	&.show-filter
		left: 	0
		transition: 1s
	.wrap-content
		// max-width: 100% !important
		margin: 0 auto
	.container-checkbox
		color: #ffffff
	.btn-def_transparent
		width: 100%
		color: #fff
		margin-left: 21px
		border-color: rgba(227, 231, 241, 0.3)
	p
		font-size: 14px
		line-height: 21px
.footer
	margin-bottom: 0

/*____modal____*/
.offers-modal
	&.show
		.modal-dialog
			@media (max-width: 575px)
				transform: translate(0, -50%)
	.modal-dialog
		top: 50%
		transform: translate(0, -50%)
		margin: 0
		@media (min-width: 576px)
			top: 0
			max-width: 422px
			margin: 115px auto 1.75rem
		.modal-content
			background: #FFF
			box-shadow: 0px 15px 35px rgba(74, 75, 80, 0.25)
			border-radius: 3px
			@media (max-width: 575px)
				border-radius: 0
			.modal-header
				padding-top: 36px
				padding-bottom: 10px
				position: relative
				@media (max-width: 575px)
					padding-top: 11px
					padding-bottom: 11px
					border-bottom: 1px solid #E3E7F1

			.modal-title
				@media (max-width: 575px)
					font-weight: bold
					font-size: 14px
					line-height: 16px
					text-align: center
			.close-castom
				width: 30px
				height: 30px
				border-radius: 50%
				border: none
				display: flex
				position: absolute
				right: -15px
				top: -15px
				left: auto
				opacity: 1
				color: #fff
				background: #212942 url(../img/svg/close-white.svg) no-repeat center
				z-index: 1
				cursor: pointer
				transition: opacity .3s ease-in-out
				@media (max-width: 575px)
					display: none
		.modal-body
			padding: 21px 60px 0
			@media (max-width: 575px)
				padding: 18px 20px 0
			.container-checkbox
				margin-top: 0
				margin-bottom: 27px
				line-height: 16px
				font-weight: normal
				span
					font-weight: bold
			.checkmark
				top: -3px
		.modal-footer
			justify-content: center
			border: none
			padding: 0 0 45px
			@media (max-width: 575px)
				padding: 0 0 22px
		.wrap-btn
			max-width: 233px
			@media (max-width: 575px)
				flex-wrap: wrap
			.btn-def
				padding: 10px 23px 9px
				line-height: 14px
				margin-bottom: 15px
				margin-right: 21px
			.modal-btn_gray
				margin-right: 0
				margin-left: 0
				font-weight: normal
				flex: 1 1 

.page-catalog
	.row-slider .posters-wrapper
		margin-top: -15px
	.posters-slider .slick-list
		padding-top: 15px