<div class="page-registration">
	<div class="container">
		<div class="wrap-form-registration">
			<div class="registration">
				<h5>
					Восстановление пароля
				</h5>
				<nav>
					<div class="nav nav-tabs" id="nav-tab" role="tablist">
						<a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Посетитель</a>
						<a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Организатор</a>
					</div>
				</nav>
				<div class="tab-content" id="nav-tabContent">
					<div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
					<!-- --- step_1--- -->
						<!-- <div class="share-item-code">
							<form class='code' class="needs-validation" novalidate>
								<div class="form-group">
									<input type="password" class="form-control" id="validationCustom02" placeholder="Email или телефон" required>
								</div>
								<div class="form-group">
									<button type="submit" class="btn-def btn-registration">Восстановить пароль</button>
								</div>
							</form>
						</div> -->
					<!-- ---END step_1--- -->
					<!-- ---step_2.1--- -->
						<p class="center">
							<i class="icon-phone"></i>Пароль выслан на +7 937 934 29 23
						</p>
					<!-- ---END step_2.1--- -->
					<!-- ---step_2.2--- -->
						<!-- <p class="center">
							<i class="icon-mail"></i>Пароль выслан на testeventr@mail.ru
						</p> -->
					<!-- ---END step_2.2--- -->
						<div class="registration-link">
							<a href="#">
								Регистрация
							</a>
							<a href="#">
								Войти
							</a>
						</div>
					</div>
					<div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
					<!-- --- step_1--- -->
						<!-- <div class="share-item-code">
							<form class='code' class="needs-validation" novalidate>
								<div class="form-group">
									<input type="password" class="form-control" id="validationCustom02" placeholder="Email или телефон" required>
								</div>
								<div class="form-group">
									<button type="submit" class="btn-def btn-registration">Восстановить пароль</button>
								</div>
							</form>
						</div> -->
					<!-- ---END step_1--- -->
					<!-- ---step_2.1--- -->
						<!-- <p class="center">
							<i class="icon-phone"></i>Пароль выслан на +7 937 934 29 23
						</p> -->
					<!-- ---END step_2.1--- -->
					<!-- ---step_2.2--- -->
						<p class="center">
							<i class="icon-mail"></i>Пароль выслан на testeventr@mail.ru
						</p>
					<!-- ---END step_2.2--- -->
						<div class="registration-link">
							<a href="#">
								Регистрация
							</a>
							<a href="#">
								Войти
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>