.page-registration
	.center
		padding: 89px 50px 49px 64px
		font-weight: normal
		font-size: 14px
		line-height: 35px
		color: #0E1F38
		vertical-align: top
		display: inline-flex
		@media only screen and (max-width: 450px)
			padding: 50px 20px 50px 20px
		.icon-phone
			font-size: 24px
			line-height: 36px
			padding-right: 11px
			color: #69C530
			padding-left: 6px
		.icon-mail
			font-size: 16px
			line-height: 36px
			padding-right: 8px
			color: #69C530