<div class="page-org-per-acc page-insert">
	<div class="container">
		<div class="row-wrap-main">
			<div class="col-item side-bar">
				<div class="side-bar-user">
					<div class="top-nav">
						<div class="user-avatar" style="background-image: url(img/user-avatar.jpg)"></div>
						<div class="user-inform">
							<div class="user-name">
								<span>Вячеслав</span>
								<a class="user-gear" href="#">
									<i class="icon icon-settings"></i>
								</a>
							</div>
							<div class="user-status">Организатор</div>
						</div>
					</div>

					<ul>
						<li>
							<a href="#">
								<i class="icon icon-developments"></i>
								<span>
									События и статистика
								</span>
							</a>
						</li>
						<li>
							<a href="#">
								<i class="icon icon-bd"></i>
								<span>База клиентов</span>
							</a>
						</li>
						<li>
							<a href="#">
								<i class="icon icon-ticket"></i>
								<span>Проверка билетов</span>
							</a>
						</li>
						<li>
							<a href="#">
								<i class="icon icon-paid--services"></i>
								<span>Платные услуги</span>
							</a>
						</li>
					</ul>
					
					<ul>
						<li>
							<a href="#">
								<i class="icon icon-support"></i>
								<span>
									Служба поддержки
								</span>
							</a>
						</li>
						<li>
							<a href="#">
								<i class="icon icon-exit"></i>
								<span>Выйти из кабинета</span>
							</a>
						</li>
					</ul>
				</div>
			</div>
			<div class="col-item main-content">
				<h5>Статистика за</h5>
				<div class="wrap-select">
					<select class="select">
						<option>сегодня</option>
						<option>сегодня</option>
						<option>неделю</option>
						<option>месяц</option>
						<option>год</option>
					</select>
				</div>
				<div class="cards">
					<div class="card active">
						<div class="wrap-img">
							<img class='shout' src="img/svg/statistika-card_1.svg" alt="statistika-card">
						</div>
						<div class="card-content">
							<div class="number">
								3
							</div>
							<h6>
								Активный события
							</h6>
							<ul>
								<li>Руки Вверху</li>
								<li>Stand Up</li>
								<li>Уральские пельмени</li>
							</ul>
							<a class='btn-def  btn-def-cards' href="#">
								Новое событие
							</a>
						</div>
					</div>
					<div class="card">
						<div class="wrap-img">
							<img class='shout' src="img/svg/statistika-card_2.svg" alt="statistika-card">
						</div>
						<div class="card-content">
							<div class="number">
								384
							</div>
							<h6 class="sale" >
								Продажи *
							</h6>
							<ul>
								<li>Руки Вверху <span>43</span>	</li>
								<li>Stand Up <span>149</span></li>
								<li>Уральские пельмени <span>178</span></li>
							</ul>
							<a class='btn-def  btn-def-cards' href="#">
								Новое событие
							</a>
						</div>
					</div>
					<div class="card">
						<div class="wrap-img">
							<img class='shout' src="img/svg/statistika-card_3.svg" alt="statistika-card">
						</div>
						<div class="card-content">
							<div class="number">
								48
							</div>
							<h6>
								Продажи за бонусы
							</h6>
							<ul>
								<li>Руки Вверху <span>19</span></li>
								<li>Stand Up <span>21</span></li>
								<li>Уральские пельмени <span>8</span></li>
							</ul>
							<a class='btn-def  btn-def-cards' href="#">
								Новое событие
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="app-mobile">
			<div class="app-mobile__title">Чаще ищете куда сходить с телефона?</div>
			<div class="app-mobile__pre-title">Скачайте приложение EVENTR</div>
			<div class="app-mobile__img">
				<p><a href="#"><img src="img/gps.png" alt=""></a></p>
				<p><a href="#"><img src="img/aps.png" alt=""></a></p>
			</div>
		</div>
	</div>
	<!-- Modal -->
	<div class="modal offers-modal fade" id="my_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">Скрыть</h5>
					<a class="close-castom" data-dismiss="modal" aria-label="Close"></a>
				</div>
				<div class="modal-body">
						<label class="container-checkbox">
							<input type="checkbox" checked="checked">
							<span class="checkmark"></span>
							<span>
								Большой предновогодний тур по России<br>
							</span>
								​​​​​​​(Только это событие)
						</label>
						<label class="container-checkbox">
							<input type="checkbox" checked="checked">
							<span class="checkmark"></span>
							<span>
								Comedy Club<br>
							</span>
								(Все события этого организатора)
						</label>
				</div>
				<div class="modal-footer">
					<div class="wrap-btn">
						<a class='btn-def modal-btn-def' href="#" data-dismiss="modal">
							Скрыть
						</a>
						<a class='btn-def btn-def_gray modal-btn_gray' href="#" data-dismiss="modal">
							Отменить
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>