// *** .header-private *** //
.header
	&-private
		.network
			@media only screen and (min-width: 992px)
				opacity: 0
				cursor: default
				a
					cursor: default !important
					&:-webkit-any-link
						cursor: default !important
	&-actions
		margin-left: auto
	.location
		display: flex
		@media only screen and (max-width: 991px)
			display: none
	.mobile-navigate
		&-bottom
			padding: 10px 20px 33px
			.network
				margin: 9px -5px 15px
				a
					background: #1C8D00
					i
						color: #B9DCB1
					&:hover
						background: #d5dce2
						i
							color: #fff
		.app-download__picture
			max-width: 215px
// *** End .header-private *** //

// *** .side-bar-user *** //
.side-bar-user
	background: #F6F7F8
	text-align: justify
	box-shadow: 0px 15px 25px #E7E7EB
	.top-nav
		display: flex
		padding: 30px 30px 29px
		position: relative
		background: #fff
		border-bottom: 1px solid #E4E7EB
	.user	
		&-avatar
			margin-right: 11px
			opacity: 1
			width: 50px
			height: 50px
			border-radius: 50%
			overflow: hidden
			background-repeat: no-repeat
			background-position: 50%
			background-size: contain
			flex: 0 0 auto
		&-name
			font-weight: normal
			font-size: 18px
			line-height: 21px
			color: #0E1F38
			margin: 4px 0 2px
			max-width: 109px
			overflow: hidden
			display: flex
			align-items: center
		&-status
			margin: 0
			font-size: 14px
			line-height: 16px
			color: #6C7583	
		&-gear
			margin-left: 5px
			padding-top: 4px
			i
				color: #A7B3BE
				font-size: 21px

.side-bar
	z-index: 98

.side-bar-user
	ul
		padding: 27px 30px 27px
		.add-event
			width: 30px
			height: 30px
			background: $green-light-def
			position: absolute
			top: 11px
			right: -45px
			border-radius: 50%
			box-shadow: 0px 5px 15px #BCD3AE
			display: flex
			justify-content: center
			border: none
			cursor: pointer
			&:hover
				background: #1C8D00
				box-shadow: 0px 3px 6px rgba(128, 189, 113, 0.3)
		li
			padding-bottom: 5px
			position: relative
			&:not(:last-child)
				border-bottom: 1px solid #E2E8EE
			&.active,
			&:hover
				span
					color: #0E1F38
				i
					color: $green-light-def

		a 
			position: relative
			display: flex
			align-items: center
			padding: 14px 0 13px
			transition: $transition
		.icon 
			width: 23px
			height: 23px
			font-size: 20px
			color: #A7B3BE
			margin-right: 13px
		.icon-developments
			font-size: 19px
		.icon-bd
			font-size: 19px
		.icon-ticket
			font-size: 33px
			transform: translate(-3px, -5px)
		.icon-paid--services
			font-size: 23px
		.icon-support
			font-size: 23px
		.icon-exit
			font-size: 23px
		img
			margin-right: 14px
			align-self: center
			position: absolute

// *** End .side-bar-user *** //


.row-wrap-main
	padding-bottom: 20px

/*___END_mob_tab_my_office___*/
.select2-results__options
	text-transform: capitalize
.page-org-per-acc
	.main-content
		padding-top: 29px
		width: 100%
		h5
			font-size: 14px
			line-height: 16px
			color: #6C7583
			display: inline-block
			vertical-align: middle
			padding-right: 10px
		.wrap-select
			display: inline-block
			.select
				// display: inline-block
				// width: calc(100% + 23px) !important
				// width: auto
				// min-width: 90px
				// text-transform: capitalize
		.cards
			margin-top: 3px
			display: flex
			justify-content: space-between
			background: #FFFFFF
			box-shadow: 0px 2px 2px #E0E0E3
			border-radius: 3px
			padding: 30px
			@media screen and (max-width: 767px)
				// display: block
				flex-wrap: wrap
				margin-top: 0
				background: transparent
				box-shadow:  none
				border-radius: 0
				padding: 0

			.card
				background: #FAFBFB
				width: 100%
				border: 1px solid #E6E9EF
				box-sizing: border-box
				border-radius: 3px
				box-sizing: border-box
				width: calc(1/3*100% - (1 - 1/3)*20px)
				@media screen and (max-width: 767px)
					width: 50%
					max-width: 50%
					margin-bottom: 20px
					box-sizing: border-box
					width: calc(1/2*100% - (1 - 1/2)*10px)
					@media screen and (max-width: 510px)
						width: 100%
						max-width: 100%
				.card-content
					// padding-top: 125px
					text-align: center
					padding-left: 30px
					padding-right: 30px
					padding-bottom: 8px
					.number
						font-weight: bold
						font-size: 42px
						line-height: 49px
						text-transform: uppercase
						color: #1c8d00
						padding-bottom: 15px
					.sale
						text-decoration: underline
					h6
						font-weight: normal
						font-size: 18px
						line-height: 21px
						color: #6c7583
					ul
						text-align: left
						padding-top: 12px
						padding-left: 0

						li
							position: relative
							font-size: 14px
							line-height: 33px
							padding-right: 28px
							span
								position: absolute
								top: 0
								left: calc(100% - 25px)
					.btn-def-cards
						opacity: 0
						cursor: pointer
						margin-top: 22px
						margin-bottom: 22px
						padding: 9px 24px


				&.active
					background: #FFFFFF
					border: 1px solid #E6E9EF
					box-sizing: border-box
					box-shadow: 0px 35px 45px #E9E9EC
					border-radius: 3px
					@media screen and (max-width: 767px)
						max-width: 100%
						width: 100%   
					h6
						color: #0e1f38
					ul
						padding-left: 28px
						li
							position: relative
							padding-right: 0
							&::before
								content: ' '
								width: 5px
								height: 5px
								background: $green-light-def
								position: absolute
								border-radius: 50%
								top: 13px
								left: -17px
					.btn-def-cards
						opacity: 1
						margin-top: 22px
						margin-bottom: 22px
						padding: 9px 24px

				.wrap-img
					position: relative
					width: 100%
					height: 124px
					display: flex
					justify-content: center
					img
						margin: 32px auto 0
						position: relative
						align-self: center
						margin-bottom: -18px