// .page-training-poster_2
.page-training-poster_2
	.main-content
		padding-top: 29px
		@media only screen and (max-width: 767px)
			padding-top: 0
	.wrap-form
		display: block
	.wrap-content-mob
		display: flex
		padding-bottom: 32px
		@media only screen and (max-width: 767px)
			flex-direction: column
			padding-bottom: 16px
	.wrap-task
		padding: 25px 20px 75px
		@media only screen and (max-width: 767px)
			padding: 13px 20px 75px
	p
		margin-bottom: 10px
		@media only screen and (max-width: 767px)
			line-height: 18px
	.wrap-form
		padding-top: 0
		h2
			font-weight: bold
			font-size: 14px
			line-height: 16px
			color: #6C7583
			padding-top: 8px
			margin-bottom: 12px
			@media only screen and (max-width: 767px)
				font-weight: bold
				font-size: 14px
				line-height: 16px
				color: #6C7583
				text-transform: none
				padding-top: 15px
	.form-group
		margin-bottom: 13px
		@media only screen and (max-width: 767px)
			margin-bottom: 3px
	.select2-selection__rendered
		white-space: nowrap
		overflow: hidden
		text-overflow: ellipsis
	.container-checkbox
		margin: 0
		font-weight: normal
		font-size: 14px
		line-height: 21px
		color: #6C7583
		margin-right: 8px
		@media only screen and (max-width: 767px)
			margin: 8px 0
			width: 160px
			padding-left: 24px
	.container-checkbox input:checked ~ span
		font-weight: bold
	input
		max-width: 287px
	.btn-def
		width: 100%
		max-width: 287px
		padding: 9px 5px 8px
		@media only screen and (max-width: 767px)
			margin-top: 10px
			max-width: 100%



// /*End_.page-training-poster_2*/