<!--_______ .page-training-poster_2 _______-->
<div class="page-training_1 page-training_2 page-training-poster_1 page-training-poster_2 page-insert">
	<div class="container">
		<div class="row-wrap-main">
			<div class="col-item side-bar">
					<div class="side-bar-user side-bar-user_visitor">
						<div class="top-nav">
							<div class="user-avatar" style="background-image: url(img/user-visit.png)"></div>
							<div class="user-inform">
								<div class="user-name">
									<span>Марина</span>
									<a class="user-gear" href="#">
										<i class="icon icon-settings"></i>
									</a>
								</div>
								<div class="user-status">Посетитель событий</div>
							</div>
						</div>
	
						<ul>
							<li>
								<a href="#">
									<i class="icon icon-like"></i>
									<span>Избранное</span>
								</a>
							</li>
							<li>
								<a href="#">
									<i class="icon icon-remind"></i>
									<span>Напоминания</span>
								</a>
							</li>
							<li >
								<a href="#">
									<i class="icon icon-bonuses"></i>
									<span>Бонусы</span>
								</a>
							</li>
							<li>
								<a href="#">
									<i class="icon icon-ticket"></i>
									<span>Билеты</span>
								</a>
							</li>
							<li>
								<a href="#">
									<i class="icon icon-mail"></i>
									<span>Рассылка</span>
								</a>
							</li>
						</ul>
						
						<ul class="bottom-ul">
							<li>
								<a href="#">
									<i class="icon icon-support"></i>
									<span>Служба поддержки</span>
								</a>
							</li>
							<li>
								<a href="#">
									<i class="icon icon-exit"></i>
									<span>Выйти из кабинета</span>
								</a>
							</li>
						</ul>
					</div>
			</div>
			<div class="col-item main-content">
				<div class="desktop-main-content">
					<div class="wrap-training">
						<div class="sidebar-training">
							<ul>
								<li>
									<h2>
										Моя Афиша и рассылка
									</h2>
								</li>
								<li class="prev">
									<div class="step">
										<div class="die ">
											<img src="img/svg/check_green_big.svg" alt="check_green_big">
										</div>
										<div class="die-text">
											<h5>
												+10 бонусов
											</h5>
											<p>
												Моя афиша
											</p>
										</div>
									</div>
								</li>
								<li class="active">
									<div class="wrap-steps">
										<div class="step">
											<div class="die">
												<p>
													2
												</p>
											</div>
											<div class="die-text">
												<h5>
													+10 бонусов
												</h5>
												<p>
													Уведомления о 
													новых событиях
												</p>
											</div>
										</div>
									</div>
								</li>
								<li class="">
									<div class="wrap-steps">
										<div class="step">
											<div class="die">
												<p>
													3
												</p>
											</div>
											<div class="die-text">
												<h5>
													+50 бонусов
												</h5>
												<p>
													Отзыв
												</p>
											</div>
										</div>
									</div>
								</li>
							</ul>
						</div>
						<div class="context-training">
							<div class="wrap-task">
								<p>
									Чтобы не пропустить ничего интересного настройте уведомления
								</p>
								<form action="" class="wrap-form" novalidate>
									<h2>
										Периодичность
									</h2>
									<div class="form-group form-group-select">
										<select class='select'>
											<option>ежедневно</option>
											<option>2 раза в неделю</option>
											<option>1 раз в неделю</option>
											<option>2 раза в месяц</option>
											<option>раз в пол года</option>
										</select>
									</div>
									<div class="wrap-content-mob">
										<label class="container-checkbox">
											<input type="checkbox" checked="checked">
											<span class="checkmark"></span>
											<span>
												Пн
											</span>
										</label>
										<label class="container-checkbox">
											<input type="checkbox" >
											<span class="checkmark"></span>
											<span>
												Вт
											</span>
										</label>
										<label class="container-checkbox">
											<input type="checkbox" >
											<span class="checkmark"></span>
											<span>
												Ср
											</span>
										</label>
										<label class="container-checkbox">
											<input type="checkbox" >
											<span class="checkmark"></span>
											<span>
												Чт
											</span>
										</label>
										<label class="container-checkbox">
											<input type="checkbox" >
											<span class="checkmark"></span>
											<span>
												Пт
											</span>
										</label>
										<label class="container-checkbox">
											<input type="checkbox" >
											<span class="checkmark"></span>
											<span>
												Сб
											</span>
										</label>
										<label class="container-checkbox">
											<input type="checkbox" >
											<span class="checkmark"></span>
											<span>
												Вс
											</span>
										</label>
									</div>
									<h2>
										Высылать на email
									</h2>

									<div class="form-group form-group-input">
											<input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Email указанный при регистрации">
										</div>
									<div class="form-group form-group-submit">
										<button type="submit" class="btn-def">
											Сахранить и заработать +10 бонусов
										</button>
									</div>
								</form>
							</div>

							<!-- <div class="task task-error">
								<img src="img/svg/task-error-new.svg" alt="task-error">
								<h3>
									Доступ к этому заданию будет открыт после того как вы выполните предыдущие
								</h3>
							</div> -->
							
						</div>
					</div>
				</div>
				<div class="mobile-main-content">
					<div class="mobSection">
						<div class="sidebar-training">
							<ul>
								<li class="event-item">
									<h2>
										Моя афиша и рассылка
									</h2>
								</li>
								<li class="event-item prev">
									<div class="step">
										<div class="die ">
											<img src="img/svg/check_green_big.svg" alt="check_green_big">
										</div>
										<div class="die-text">
											<h5>
												+5 бонусов
											</h5>
											<p>
												Рекомендация eventr
											</p>
										</div>
									</div>
									<div class="event-description event-inform-more">
										<div class="event-btn-back">
											<img src="img/svg/mob-arrow-back.svg" alt="arrow_back">
											<span class="text-back">Задания</span>
										</div>
										<div class="wrap-filter-item">
											<div class="filter-item-poster cinema">
												<div class="wrap-content-poster">
													<div class="filter-item__title-poster">
														<span class="filter-name-poster">Кино</span>
								
														<span class="filter-count-poster">(7)</span>
														<span class="filter-category-poster">-Детективы, Комедии, Приключен</span>
														<span class="filter-icon-poster"></span>
								
													</div>
													<div class="filter-item__shell-poster">
														<div class="btn-back">
															<div class="wrap-btn-back-poster">
																<img src="img/svg/arrow-back.svg" alt="arrow-back">
																<h2>Кино</h2>
															</div>
														</div>
														<div class="wrap-content-mob">
															<label class="container-checkbox">
																<input type="checkbox" checked="checked">
																<span class="checkmark"></span>
																<span>
																	Все
																</span>
															</label>
															<label class="container-checkbox">
																<input type="checkbox" >
																<span class="checkmark"></span>
																<span>
																	Биография
																</span>
															</label>
															<label class="container-checkbox">
																<input type="checkbox" >
																<span class="checkmark"></span>
																<span>
																	Боевики
																</span>
															</label>
															<label class="container-checkbox">
																<input type="checkbox" >
																<span class="checkmark"></span>
																<span>
																	Военные
																</span>
															</label>
															<label class="container-checkbox">
																<input type="checkbox" >
																<span class="checkmark"></span>
																<span>
																	Детективы
																</span>
															</label>
															<label class="container-checkbox">
																<input type="checkbox" >
																<span class="checkmark"></span>
																<span>
																	Детские
																</span>
															</label>
															<label class="container-checkbox">
																<input type="checkbox" >
																<span class="checkmark"></span>
																<span>
																	Драматические
																</span>
															</label>
															<label class="container-checkbox">
																<input type="checkbox" >
																<span class="checkmark"></span>
																<span>
																	Комедии
																</span>
															</label>
															<label class="container-checkbox">
																<input type="checkbox" >
																<span class="checkmark"></span>
																<span>
																	Криминальные
																</span>
															</label>
															<label class="container-checkbox">
																<input type="checkbox" >
																<span class="checkmark"></span>
																<span>
																	Мюзиклы
																</span>
															</label>
															<label class="container-checkbox">
																<input type="checkbox" >
																<span class="checkmark"></span>
																<span>
																	Приключения
																</span>
															</label>
															<label class="container-checkbox">
																<input type="checkbox" >
																<span class="checkmark"></span>
																<span>
																	Семейные
																</span>
															</label>
															<label class="container-checkbox">
																<input type="checkbox" >
																<span class="checkmark"></span>
																<span>
																	Трагикомедии
																</span>
															</label>
															<label class="container-checkbox">
																<input type="checkbox" >
																<span class="checkmark"></span>
																<span>
																	Триллеры
																</span>
															</label>
															<label class="container-checkbox">
																<input type="checkbox" >
																<span class="checkmark"></span>
																<span>
																	Ужасы
																</span>
															</label>
															<label class="container-checkbox">
																<input type="checkbox" >
																<span class="checkmark"></span>
																<span>
																	Фантастика
																</span>
															</label>
															<label class="container-checkbox">
																<input type="checkbox" >
																<span class="checkmark"></span>
																<span>
																	Мелодраммы
																</span>
															</label>
															<label class="container-checkbox">
																<input type="checkbox" >
																<span class="checkmark"></span>
																<span>
																	Мультфильмы
																</span>
															</label>
														</div>
													</div>
												</div>
											</div>
											<div class="filter-item-poster concert">
												<div class="wrap-content-poster">
													<div class="filter-item__title-poster">
														<span class="filter-name-poster">Концерты</span>
								
														<span class="filter-count-poster">(3)</span>
														<span class="filter-category-poster"> - Электронная, Танец, Юмор</span>
														<span class="filter-icon-poster"></span>
								
													</div>
													<div class="filter-item__shell-poster">
														<div class="btn-back">
															<div class="wrap-btn-back-poster">
																<img src="img/svg/arrow-back.svg" alt="arrow-back">
																<h2>Концерты</h2>
															</div>
														</div>
														<div class="wrap-content-mob">
															<label class="container-checkbox">
																<input type="checkbox" checked="checked">
																<span class="checkmark"></span>
																<span>
																	Все
																</span>
															</label>
															<label class="container-checkbox">
																<input type="checkbox" >
																<span class="checkmark"></span>
																<span>
																	Классика
																</span>
															</label>
															<label class="container-checkbox">
																<input type="checkbox" >
																<span class="checkmark"></span>
																<span>
																	Рок
																</span>
															</label>
															<label class="container-checkbox">
																<input type="checkbox" >
																<span class="checkmark"></span>
																<span>
																	Поп и эстрада
																</span>
															</label>
															<label class="container-checkbox">
																<input type="checkbox" >
																<span class="checkmark"></span>
																<span>
																	Хипхоп
																</span>
															</label>
															<label class="container-checkbox">
																<input type="checkbox" >
																<span class="checkmark"></span>
																<span>
																	Элекронная
																</span>
															</label>
															<label class="container-checkbox">
																<input type="checkbox" >
																<span class="checkmark"></span>
																<span>
																	Шансон и романс
																</span>
															</label>
															<label class="container-checkbox">
																<input type="checkbox" >
																<span class="checkmark"></span>
																<span>
																	Танец
																</span>
															</label>
															<label class="container-checkbox">
																<input type="checkbox" >
																<span class="checkmark"></span>
																<span>
																	Юмор
																</span>
															</label>
															<label class="container-checkbox">
																<input type="checkbox" >
																<span class="checkmark"></span>
																<span>
																	Народное искусство
																</span>
															</label>
															<label class="container-checkbox">
																<input type="checkbox" >
																<span class="checkmark"></span>
																<span>
																	Творческий вечер
																</span>
															</label>
														</div>
													</div>
												</div>
											</div>
											<div class="filter-item-poster party">
												<div class="wrap-content-poster">
													<div class="filter-item__title-poster">
														<span class="filter-name-poster">Вечеринки</span>
								
														<span class="filter-count-poster">(0)</span>
														<span class="filter-category-poster">- не интересно</span>
														<span class="filter-icon-poster"></span>
								
													</div>
													<div class="filter-item__shell-poster">
														<div class="btn-back">
															<div class="wrap-btn-back-poster">
																<img src="img/svg/arrow-back.svg" alt="arrow-back">
																<h2>Вечеринки</h2>
															</div>
														</div>
														<div class="wrap-content-mob">
															<label class="container-checkbox">
																<input type="checkbox" checked="checked">
																<span class="checkmark"></span>
																<span>
																	Все
																</span>
															</label>
															<label class="container-checkbox">
																<input type="checkbox" >
																<span class="checkmark"></span>
																<span>
																	Ночные клубы
																</span>
															</label>
															<label class="container-checkbox">
																<input type="checkbox" >
																<span class="checkmark"></span>
																<span>
																	Бары и лаунж-бары
																</span>
															</label>
															<label class="container-checkbox">
																<input type="checkbox" >
																<span class="checkmark"></span>
																<span>
																	На отрытом воздухе
																</span>
															</label>
														</div>
													</div>
												</div>
											</div>
											<div class="filter-item-poster theater">
												<div class="wrap-content-poster">
													<div class="filter-item__title-poster">
														<span class="filter-name-poster">Театры</span>
								
														<span class="filter-count-poster">(1)</span>
														<span class="filter-category-poster"> - Оперетта</span>
														<span class="filter-icon-poster"></span>
								
													</div>
													<div class="filter-item__shell-poster">
														<div class="btn-back">
															<div class="wrap-btn-back-poster">
																<img src="img/svg/arrow-back.svg" alt="arrow-back">
																<h2>Театры</h2>
															</div>
														</div>
														<div class="wrap-content-mob">
															<label class="container-checkbox">
																<input type="checkbox" checked="checked">
																<span class="checkmark"></span>
																<span>
																	Все
																</span>
															</label>
															<label class="container-checkbox">
																<input type="checkbox" >
																<span class="checkmark"></span>
																<span>
																	Балет
																</span>
															</label>
															<label class="container-checkbox">
																<input type="checkbox" >
																<span class="checkmark"></span>
																<span>
																	Детям
																</span>
															</label>
															<label class="container-checkbox">
																<input type="checkbox" >
																<span class="checkmark"></span>
																<span>
																	Драма
																</span>
															</label>
															<label class="container-checkbox">
																<input type="checkbox" >
																<span class="checkmark"></span>
																<span>
																	Комедия
																</span>
															</label>
															<label class="container-checkbox">
																<input type="checkbox" >
																<span class="checkmark"></span>
																<span>
																	Кукольные
																</span>
															</label>
															<label class="container-checkbox">
																<input type="checkbox" >
																<span class="checkmark"></span>
																<span>
																	Мюзикл
																</span>
															</label>
															<label class="container-checkbox">
																<input type="checkbox" >
																<span class="checkmark"></span>
																<span>
																	Опера
																</span>
															</label>
															<label class="container-checkbox">
																<input type="checkbox" >
																<span class="checkmark"></span>
																<span>
																	Оперетта
																</span>
															</label>
														</div>
													</div>
												</div>
											</div>
											<div class="filter-item-poster child">
												<div class="wrap-content-poster">
													<div class="filter-item__title-poster">
														<span class="filter-name-poster">Детям</span>
								
														<span class="filter-count-poster">(Все)</span>
														<span class="filter-category-poster"></span>
														<span class="filter-icon-poster"></span>
								
													</div>
													<div class="filter-item__shell-poster">
														<div class="btn-back">
															<div class="wrap-btn-back-poster">
																<img src="img/svg/arrow-back.svg" alt="arrow-back">
																<h2>Детям</h2>
															</div>
														</div>
														<div class="wrap-content-mob">
															<label class="container-checkbox">
																<input type="checkbox" checked="checked">
																<span class="checkmark"></span>
																<span>
																	Все
																</span>
															</label>
															<label class="container-checkbox">
																<input type="checkbox" >
																<span class="checkmark"></span>
																<span>
																	Спектакли
																</span>
															</label>
															<label class="container-checkbox">
																<input type="checkbox" >
																<span class="checkmark"></span>
																<span>
																	Выставки
																</span>
															</label>
															<label class="container-checkbox">
																<input type="checkbox" >
																<span class="checkmark"></span>
																<span>
																	Цирк
																</span>
															</label>
															<label class="container-checkbox">
																<input type="checkbox" >
																<span class="checkmark"></span>
																<span>
																	Планетарии
																</span>
															</label>
															<label class="container-checkbox">
																<input type="checkbox" >
																<span class="checkmark"></span>
																<span>
																	"Развивайки"
																</span>
															</label>
														</div>
													</div>
												</div>
											</div>
											<div class="filter-item-poster business">
												<div class="wrap-content-poster">
													<div class="filter-item__title-poster">
														<span class="filter-name-poster">Бизнес</span>
								
														<span class="filter-count-poster">(0)</span>
														<span class="filter-category-poster"> - не интересно</span>
														<span class="filter-icon-poster"></span>
								
													</div>
													<div class="filter-item__shell-poster">
														<div class="btn-back">
															<div class="wrap-btn-back-poster">
																<img src="img/svg/arrow-back.svg" alt="arrow-back">
																<h2>Бизнес</h2>
															</div>
														</div>
														<div class="wrap-content-mob">
															<label class="container-checkbox">
																<input type="checkbox" checked="checked">
																<span class="checkmark"></span>
																<span>
																	Все
																</span>
															</label>
															<label class="container-checkbox">
																<input type="checkbox" >
																<span class="checkmark"></span>
																<span>
																	Госзакупки
																</span>
															</label>
															<label class="container-checkbox">
																<input type="checkbox" >
																<span class="checkmark"></span>
																<span>
																	Блокчейн и криптовалюты
																</span>
															</label>
															<label class="container-checkbox">
																<input type="checkbox" >
																<span class="checkmark"></span>
																<span>
																	Налоги
																</span>
															</label>
															<label class="container-checkbox">
																<input type="checkbox" >
																<span class="checkmark"></span>
																<span>
																	IT, технологии
																</span>
															</label>
															<label class="container-checkbox">
																<input type="checkbox" >
																<span class="checkmark"></span>
																<span>
																	Стартапы
																</span>
															</label>
															<label class="container-checkbox">
																<input type="checkbox" >
																<span class="checkmark"></span>
																<span>
																	Онлайн-бизнес
																</span>
															</label>
															<label class="container-checkbox">
																<input type="checkbox" >
																<span class="checkmark"></span>
																<span>
																	Инвестиции
																</span>
															</label>
															<label class="container-checkbox">
																<input type="checkbox" >
																<span class="checkmark"></span>
																<span>
																	Инновации и тренды
																</span>
															</label>
															<label class="container-checkbox">
																<input type="checkbox" >
																<span class="checkmark"></span>
																<span>
																	Другое
																</span>
															</label>
														</div>
													</div>
												</div>
											</div>
											<div class="filter-item-poster sport">
												<div class="wrap-content-poster">
													<div class="filter-item__title-poster">
														<span class="filter-name-poster">Спорт</span>
								
														<span class="filter-count-poster">(0)</span>
														<span class="filter-category-poster"> - не интересно</span>
														<span class="filter-icon-poster"></span>
								
													</div>
													<div class="filter-item__shell-poster">
														<div class="btn-back">
															<div class="wrap-btn-back-poster">
																<img src="img/svg/arrow-back.svg" alt="arrow-back">
																<h2>Спорт</h2>
															</div>
														</div>
														<div class="wrap-content-mob">
															<label class="container-checkbox">
																<input type="checkbox" checked="checked">
																<span class="checkmark"></span>
																<span>
																	Все
																</span>
															</label>
															<label class="container-checkbox">
																<input type="checkbox" >
																<span class="checkmark"></span>
																<span>
																	Авто/Мото
																</span>
															</label>
															<label class="container-checkbox">
																<input type="checkbox" >
																<span class="checkmark"></span>
																<span>
																	Бои (UFC/MMA/БОКС)
																</span>
															</label>
															<label class="container-checkbox">
																<input type="checkbox" >
																<span class="checkmark"></span>
																<span>
																	Киберспорт
																</span>
															</label>
															<label class="container-checkbox">
																<input type="checkbox" >
																<span class="checkmark"></span>
																<span>
																	Футбол
																</span>
															</label>
															<label class="container-checkbox">
																<input type="checkbox" >
																<span class="checkmark"></span>
																<span>
																	Хоккей
																</span>
															</label>
														</div>
													</div>
												</div>
											</div>
											<div class="filter-item-poster leisure">
												<div class="wrap-content-poster">
													<div class="filter-item__title-poster">
														<span class="filter-name-poster">Активный отдых</span>
								
														<span class="filter-count-poster">(0)</span>
														<span class="filter-category-poster"> - не интересно</span>
														<span class="filter-icon-poster"></span>
								
													</div>
													<div class="filter-item__shell-poster">
														<div class="btn-back">
															<div class="wrap-btn-back-poster">
																<img src="img/svg/arrow-back.svg" alt="arrow-back">
																<h2>Активный отдых</h2>
															</div>
														</div>
														<div class="wrap-content-mob">
															<label class="container-checkbox">
																<input type="checkbox" checked="checked">
																<span class="checkmark"></span>
																<span>
																	Все
																</span>
															</label>
															<label class="container-checkbox">
																<input type="checkbox" >
																<span class="checkmark"></span>
																<span>
																	Сноуборд/лыжи
																</span>
															</label>
															<label class="container-checkbox">
																<input type="checkbox" >
																<span class="checkmark"></span>
																<span>
																	Вейкборд
																</span>
															</label>
															<label class="container-checkbox">
																<input type="checkbox" >
																<span class="checkmark"></span>
																<span>
																	Турпоходы
																</span>
															</label>
															<label class="container-checkbox">
																<input type="checkbox" >
																<span class="checkmark"></span>
																<span>
																	Ледовый Каток
																</span>
															</label>
															<label class="container-checkbox">
																<input type="checkbox" >
																<span class="checkmark"></span>
																<span>
																	Пейнтбол
																</span>
															</label>
															<label class="container-checkbox">
																<input type="checkbox" >
																<span class="checkmark"></span>
																<span>
																	Страйкбол
																</span>
															</label>
															<label class="container-checkbox">
																<input type="checkbox" >
																<span class="checkmark"></span>
																<span>
																	Лазертаг
																</span>
															</label>
															<label class="container-checkbox">
																<input type="checkbox" >
																<span class="checkmark"></span>
																<span>
																	Аквапарк
																</span>
															</label>
															<label class="container-checkbox">
																<input type="checkbox" >
																<span class="checkmark"></span>
																<span>
																	Бассейн
																</span>
															</label>
															<label class="container-checkbox">
																<input type="checkbox" >
																<span class="checkmark"></span>
																<span>
																	Веревочный парк
																</span>
															</label>
															<label class="container-checkbox">
																<input type="checkbox" >
																<span class="checkmark"></span>
																<span>
																	Батутный центр
																</span>
															</label>
															<label class="container-checkbox">
																<input type="checkbox" >
																<span class="checkmark"></span>
																<span>
																	Картинг
																</span>
															</label>
															<label class="container-checkbox">
																<input type="checkbox" >
																<span class="checkmark"></span>
																<span>
																	Катание на ватрушках
																</span>
															</label>
															<label class="container-checkbox">
																<input type="checkbox" >
																<span class="checkmark"></span>
																<span>
																	Катание на лошадях
																</span>
															</label>
															<label class="container-checkbox">
																<input type="checkbox" >
																<span class="checkmark"></span>
																<span>
																	Квадроциклы
																</span>
															</label>
															<label class="container-checkbox">
																<input type="checkbox" >
																<span class="checkmark"></span>
																<span>
																	Снегоходы
																</span>
															</label>
															<label class="container-checkbox">
																<input type="checkbox" >
																<span class="checkmark"></span>
																<span>
																	Полет на воздушном шаре
																</span>
															</label>
															<label class="container-checkbox">
																<input type="checkbox" >
																<span class="checkmark"></span>
																<span>
																	Аэротруба
																</span>
															</label>
															<label class="container-checkbox">
																<input type="checkbox" >
																<span class="checkmark"></span>
																<span>
																	Скалодром
																</span>
															</label>
															<label class="container-checkbox">
																<input type="checkbox" >
																<span class="checkmark"></span>
																<span>
																	Ролледром
																</span>
															</label>
															<label class="container-checkbox">
																<input type="checkbox" >
																<span class="checkmark"></span>
																<span>
																	Стрелковый тир
																</span>
															</label>
														</div>
													</div>
												</div>
											</div>
											<div class="filter-item-poster education">
												<div class="wrap-content-poster">
													<div class="filter-item__title-poster">
														<span class="filter-name-poster">Обучение</span>
							
														<span class="filter-count-poster">(2)</span>
														<span class="filter-category-poster"> - Духовное, Искусство</span>
														<span class="filter-icon-poster"></span>
								
													</div>
													<div class="filter-item__shell-poster">
														<div class="btn-back">
															<div class="wrap-btn-back-poster">
																<img src="img/svg/arrow-back.svg" alt="arrow-back">
																<h2>Обучение</h2>
															</div>
														</div>
														<div class="wrap-content-mob">
															<label class="container-checkbox">
																<input type="checkbox" checked="checked">
																<span class="checkmark"></span>
																<span>
																	Все
																</span>
															</label>
															<label class="container-checkbox">
																<input type="checkbox" >
																<span class="checkmark"></span>
																<span>
																	Бизнес
																</span>
															</label>
															<label class="container-checkbox">
																<input type="checkbox" >
																<span class="checkmark"></span>
																<span>
																	Духовное
																</span>
															</label>
															<label class="container-checkbox">
																<input type="checkbox" >
																<span class="checkmark"></span>
																<span>
																	Искусство
																</span>
															</label>
															<label class="container-checkbox">
																<input type="checkbox" >
																<span class="checkmark"></span>
																<span>
																	IT, технологии
																</span>
															</label>
															<label class="container-checkbox">
																<input type="checkbox" >
																<span class="checkmark"></span>
																<span>
																	Красота
																</span>
															</label>
															<label class="container-checkbox">
																<input type="checkbox" >
																<span class="checkmark"></span>
																<span>
																	Творчество, Рукоделие
																</span>
															</label>
															<label class="container-checkbox">
																<input type="checkbox" >
																<span class="checkmark"></span>
																<span>
																	Инвестиции
																</span>
															</label>
															<label class="container-checkbox">
																<input type="checkbox" >
																<span class="checkmark"></span>
																<span>
																	Фитнес и здоровье
																</span>
															</label>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="event-btn-more">
										<img class='vis' src="img/svg/arrow_right-black.svg" alt="arrow_right">
										<img class='hid' src="img/svg/arrow_right.svg" alt="arrow_right">
									</div>
								</li>
								<li class="event-item active">
									<div class="wrap-steps">
										<div class="step">
											<div class="die">
												<p>
													2
												</p>
											</div>
											<div class="die-text">
												<h5>
													+10 бонусов
												</h5>
												<p>
													Рекомендация 3-х
													событий
												</p>
											</div>
										</div>
									</div>
									<div class="event-description event-inform-more">
										<div class="event-btn-back">
											<img src="img/svg/mob-arrow-back.svg" alt="arrow_back">
											<span class="text-back">Задания</span>
										</div>
										<div class="wrap-task">
											<p>
												Чтобы не пропустить ничего интересного настройте уведомления
											</p>
											<form action="" class="wrap-form" novalidate>
												<h2>
													Периодичность
												</h2>
												<div class="form-group form-group-select">
													<select class='select'>
														<option>ежедневно</option>
														<option>2 раза в неделю</option>
														<option>1 раз в неделю</option>
														<option>2 раза в месяц</option>
														<option>раз в пол года</option>
													</select>
												</div>
												<div class="wrap-content-mob">
													<label class="container-checkbox">
														<input type="checkbox" checked="checked">
														<span class="checkmark"></span>
														<span>
															Пн
														</span>
													</label>
													<label class="container-checkbox">
														<input type="checkbox" >
														<span class="checkmark"></span>
														<span>
															Вт
														</span>
													</label>
													<label class="container-checkbox">
														<input type="checkbox" >
														<span class="checkmark"></span>
														<span>
															Ср
														</span>
													</label>
													<label class="container-checkbox">
														<input type="checkbox" >
														<span class="checkmark"></span>
														<span>
															Чт
														</span>
													</label>
													<label class="container-checkbox">
														<input type="checkbox" >
														<span class="checkmark"></span>
														<span>
															Пт
														</span>
													</label>
													<label class="container-checkbox">
														<input type="checkbox" >
														<span class="checkmark"></span>
														<span>
															Сб
														</span>
													</label>
													<label class="container-checkbox">
														<input type="checkbox" >
														<span class="checkmark"></span>
														<span>
															Вс
														</span>
													</label>
												</div>
												<h2>
													Высылать на email
												</h2>
			
												<div class="form-group form-group-input">
														<input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Email указанный при регистрации">
													</div>
												<div class="form-group form-group-submit">
													<button type="submit" class="btn-def">
														Сахранить и заработать +10 бонусов
													</button>
												</div>
											</form>
										</div>
									</div>
									<div class="event-btn-more">
										<img class='vis' src="img/svg/arrow_right-black.svg" alt="arrow_right">
										<img class='hid' src="img/svg/arrow_right.svg" alt="arrow_right">
									</div>
								</li>
								<li class="event-item">
									<div class="wrap-steps">
										<div class="step">
											<div class="die">
												<p>
													3
												</p>
											</div>
											<div class="die-text">
												<h5>
													+5 бонусов
												</h5>
												<p>
													Настройка уведомлений баланса
												</p>
											</div>
										</div>
									</div>
									<div class="event-description event-inform-more">
										<div class="event-btn-back">
											<img src="img/svg/mob-arrow-back.svg" alt="arrow_back">
											<span class="text-back">Задания</span>
										</div>
										<div class="task task-error">
											<img src="img/svg/task-error-new.svg" alt="task-error">
											<h3>
												Доступ к этому заданию будет открыт после того как вы выполните предыдущие
											</h3>
										</div>
									</div>
									<div class="event-btn-more">
										<img class='vis' src="img/svg/arrow_right-black.svg" alt="arrow_right">
										<img class='hid' src="img/svg/arrow_right.svg" alt="arrow_right">
									</div>
								</li>
							</ul>
						</div>	
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!--_______ End.page-training-poster_2 _______-->