// .page-contacts
.page-contacts
	.main-content
		@media only screen and (max-width: 767px)
			padding-top: 0
	.bottom-ul
		padding: 27px 0
		a
			padding-left: 30px	
			padding-right: 30px
		li
			&.active
				a
					border-left: 3px solid $green-def
				i
					color: $black
	.faq
		.find-answer
			p
				padding-top: 23px
		.nav-tabs
			padding-bottom: 31px
			border-bottom: 0
			.nav-item
				flex: 1 0 0
				.nav-link
					text-align: center
					padding: 6px 0 17px
					border: 0
					border-bottom: 3px solid #E3E7F1
					@media only screen and (max-width: 767px)
						padding: 12px 0 11px
						font-size: 12px
						line-height: 14px
						color: #0E1F38
					&.active
						border-bottom: 3px solid $green-light-def
						font-weight: bold
						color: #0E1F38
		.accordion
			padding-top: 30px
		.ask-question
			.login-personal
				font-weight: normal
				font-size: 14px
				line-height: 16px
				color: #0E1F38
				padding-top: 20px
				padding-bottom: 8px
				@media only screen and (max-width: 767px)
					font-size: 12px
					line-height: 14px
					margin-bottom: 0px
				a
					color: $green-light-def
					text-decoration: underline
				input
					margin: 9px 0 5px
					padding: 9px 10px 7px
					@media only screen and (max-width: 767px)
						margin-top: 20px
			.wrap-have
				.select2
					margin-bottom: 0
				p
					margin-right: 13px
					color: #000
			.question-textarea
				margin-top: 20px
	form
		&.was-validated select:invalid
			& + span .select2-selection--single
				border: 1px solid #F56868
				border-radius: 3px
		.panel-submit
			display: flex
			align-items: center
			button
				&:focus
					outline: 0
		.error-messages
			display: none
			padding-left: 25px
			font-weight: bold
			font-size: 18px
			line-height: 21px
			color: #F56868
			@media only screen and (max-width: 767px)
				display: none



// /*End_.page-contacts*/