<!--_______ .page-contacts _______-->
<div class="page-contacts page-support-service page-insert">
	<div class="container">
		<div class="row-wrap-main">
			<div class="col-item side-bar">
					<div class="side-bar-user side-bar-user_visitor">
						<div class="top-nav">
							<div class="user-avatar" style="background-image: url(img/user-visit.png)"></div>
							<div class="user-inform">
								<div class="user-name">
									<span>Марина</span>
									<a class="user-gear" href="#">
										<i class="icon icon-settings"></i>
									</a>
								</div>
								<div class="user-status">Посетитель событий</div>
							</div>
						</div>
	
						<ul>
							<li class="active">
								<a href="#">
									<i class="icon icon-like"></i>
									<span>Избранное</span>
								</a>
							</li>
							<li class="active">
								<a href="#">
									<i class="icon icon-remind"></i>
									<span>Напоминания</span>
								</a>
							</li>
							<li >
								<a href="#">
									<i class="icon icon-bonuses"></i>
									<span>Бонусы</span>
								</a>
							</li>
							<li class="active">
								<a href="#">
									<i class="icon icon-ticket"></i>
									<span>Билеты</span>
								</a>
							</li>
							<li class="active">
								<a href="#">
									<i class="icon icon-mail"></i>
									<span>Рассылка</span>
								</a>
							</li>
						</ul>
						
						<ul class="bottom-ul">
							<li class="active">
								<a href="#">
									<i class="icon icon-support"></i>
									<span>Служба поддержки</span>
								</a>
							</li>
							<li>
								<a href="#">
									<i class="icon icon-exit"></i>
									<span>Выйти из кабинета</span>
								</a>
							</li>
						</ul>
					</div>
			</div>
			<div class="col-item main-content">
				<h2 class="title_list">
					Служба поддержки
				</h2>
				<div class="desktop-main-content">
					<div class="faq">
						<div class="find-answer">
							<div class="wrap-steps">
								<div class="step">
									<div class="die">
										<p>
											1
										</p>
									</div>
									<h5>
										Найдите ответ среди часто-задаваемых вопросов
									</h5>
								</div>
							</div>
							<p>
								Перед тем как задать вопрос ознакомьтесь со списком часто-задаваемых вопросов, скорее всего вы найдете ответ там
							</p>

							<ul class="nav nav-tabs" id="myTabFaq" role="tablist">
								<li class="nav-item">
									<a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Посетитель</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Организатор</a>
								</li>
							</ul>

							<div class="tab-content" id="myTabContent">
								<div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
									<div class="search">
										<input type="text" placeholder="Вопрос">
										<button class="btn-search">Искать</button>
									</div>
									<div id="accordion_1" class='accordion'>
										<div class="card">
											<div class="card-header" id="headingOne">
											<h5 class="mb-0">
												<label class="wrap-btn" for="btn_1">
													<div id='btn_1' class="btn-collapsed collapsed" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
														<img class="plus" src="img/svg/btn-plus.svg" alt="">
														<img class='minus' src="img/svg/btn-minus.svg" alt="">
														<span>
															Что делать если я получил отказ в размещении событий после верификации
														</span>
													</div>
												</label>
											</h5>
											</div>
										
											<div id="collapseOne" class="collapse " aria-labelledby="headingOne" data-parent="#accordion_1">
												<div class="card-body">
														Вы можете оплатить следующими способами:<br>
														1) Кредитные карты<br>
														2) Электронные деньги: qiwi, яндекс-деньги, webmoeny и тд<br>
														3) Через терминалы в отделения связи<br>
														4) Со счета мобильного телефона<br>
												</div>
											</div>
										</div>
										<div class="card">
											<div class="card-header" id="headingTwo">
											<h5 class="mb-0">
												<label class="wrap-btn" for="btn_2">
													<div id='btn_2' class="btn-collapsed collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
														<img class="plus" src="img/svg/btn-plus.svg" alt="">
														<img class='minus' src="img/svg/btn-minus.svg" alt="">
														<span>
															Проблема с предоставлением документов на верификацию
														</span>
													</div>
												</label>
											</h5>
											</div>
											<div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion_1">
												<div class="card-body">
													Вы можете оплатить следующими способами:<br>
													1) Кредитные карты<br>
													2) Электронные деньги: qiwi, яндекс-деньги, webmoeny и тд<br>
													3) Через терминалы в отделения связи<br>
													4) Со счета мобильного телефона<br>
												</div>
											</div>
										</div>
										<div class="card">
											<div class="card-header" id="headingThree_2">
												<h5 class="mb-0">
													<label class="wrap-btn" for="btn_3">
														<div id='btn_3' class="btn-collapsed collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
															<img class="plus" src="img/svg/btn-plus.svg" alt="">
															<img class='minus' src="img/svg/btn-minus.svg" alt="">
															<span>
																Проблема с предоставлением документов на верификацию
															</span>
														</div>
													</label>
												</h5>
											</div>
											<div id="collapseThree" class="collapse" aria-labelledby="headingThree_2" data-parent="#accordion_1">
												<div class="card-body">
													Вы можете оплатить следующими способами:<br>
													1) Кредитные карты<br>
													2) Электронные деньги: qiwi, яндекс-деньги, webmoeny и тд<br>
													3) Через терминалы в отделения связи<br>
													4) Со счета мобильного телефона<br>
												</div>
											</div>
										</div>
										<div class="card">
											<div class="card-header" id="headingFour_2">
												<h5 class="mb-0">
													<label class="wrap-btn" for="btn_4">
														<div id='btn_4' class="btn-collapsed collapsed" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
															<img class="plus" src="img/svg/btn-plus.svg" alt="">
															<img class='minus' src="img/svg/btn-minus.svg" alt="">
															<span>
																Как проверять билеты посетителей
															</span>
														</div>
													</label>
												</h5>
											</div>
											<div id="collapseFour" class="collapse" aria-labelledby="headingFour_2" data-parent="#accordion_1">
												<div class="card-body">
													Вы можете оплатить следующими способами:<br>
													1) Кредитные карты<br>
													2) Электронные деньги: qiwi, яндекс-деньги, webmoeny и тд<br>
													3) Через терминалы в отделения связи<br>
													4) Со счета мобильного телефона<br>
												</div>
											</div>
										</div>
										<div class="card">
											<div class="card-header" id="headingFive_2">
												<h5 class="mb-0">
													<label class="wrap-btn" for="btn_5">
														<div id='btn_5' class="btn-collapsed collapsed" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
															<img class="plus" src="img/svg/btn-plus.svg" alt="">
															<img class='minus' src="img/svg/btn-minus.svg" alt="">
															<span>
																Что делать если пришел посетитель, а в базе его нет
															</span>
														</div>
													</label>
												</h5>
											</div>
											<div id="collapseFive" class="collapse" aria-labelledby="headingFive_2" data-parent="#accordion_1">
												<div class="card-body">
													Вы можете оплатить следующими способами:<br>
													1) Кредитные карты<br>
													2) Электронные деньги: qiwi, яндекс-деньги, webmoeny и тд<br>
													3) Через терминалы в отделения связи<br>
													4) Со счета мобильного телефона<br>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
									<div class="search">
										<input type="text" placeholder="Вопрос">
										<button class="btn-search">Искать</button>
									</div>
									<div id="accordion_2" class='accordion'>
										<div class="card">
											<div class="card-header" id="headingOne">
											<h5 class="mb-0">
												<label class="wrap-btn" for="btn_1_2">
													<div id='btn_1_2' class="btn-collapsed collapsed" data-toggle="collapse" data-target="#collapseOne_2" aria-expanded="false" aria-controls="collapseOne_2">
														<img class="plus" src="img/svg/btn-plus.svg" alt="">
														<img class='minus' src="img/svg/btn-minus.svg" alt="">
														<span>
															Что делать если я получил отказ в размещении событий после верификации
														</span>
													</div>
												</label>
											</h5>
											</div>
										
											<div id="collapseOne_2" class="collapse " aria-labelledby="headingOne_2" data-parent="#accordion_2">
											<div class="card-body">
													Вы можете оплатить следующими способами:<br>
													1) Кредитные карты<br>
													2) Электронные деньги: qiwi, яндекс-деньги, webmoeny и тд<br>
													3) Через терминалы в отделения связи<br>
													4) Со счета мобильного телефона<br>
											</div>
											</div>
										</div>
										<div class="card">
											<div class="card-header" id="headingTwo">
											<h5 class="mb-0">
												<label class="wrap-btn" for="btn_2_2">
													<div id='btn_2_2' class="btn-collapsed collapsed" data-toggle="collapse" data-target="#collapseTwo_2" aria-expanded="false" aria-controls="collapseTwo_2">
														<img class="plus" src="img/svg/btn-plus.svg" alt="">
														<img class='minus' src="img/svg/btn-minus.svg" alt="">
														<span>
															Проблема с предоставлением документов на верификацию
														</span>
													</div>
												</label>
											</h5>
											</div>
											<div id="collapseTwo_2" class="collapse" aria-labelledby="headingTwo_2" data-parent="#accordion_2">
												<div class="card-body">
													Вы можете оплатить следующими способами:<br>
													1) Кредитные карты<br>
													2) Электронные деньги: qiwi, яндекс-деньги, webmoeny и тд<br>
													3) Через терминалы в отделения связи<br>
													4) Со счета мобильного телефона<br>
												</div>
											</div>
										</div>
										<div class="card">
											<div class="card-header" id="headingThree_2">
												<h5 class="mb-0">
													<label class="wrap-btn" for="btn_3_2">
														<div id='btn_3_2' class="btn-collapsed collapsed" data-toggle="collapse" data-target="#collapseThree_2" aria-expanded="false" aria-controls="collapseThree_2">
															<img class="plus" src="img/svg/btn-plus.svg" alt="">
															<img class='minus' src="img/svg/btn-minus.svg" alt="">
															<span>
																Проблема с предоставлением документов на верификацию
															</span>
														</div>
													</label>
												</h5>
											</div>
											<div id="collapseThree_2" class="collapse" aria-labelledby="headingThree_2" data-parent="#accordion_2">
												<div class="card-body">
													Вы можете оплатить следующими способами:<br>
													1) Кредитные карты<br>
													2) Электронные деньги: qiwi, яндекс-деньги, webmoeny и тд<br>
													3) Через терминалы в отделения связи<br>
													4) Со счета мобильного телефона<br>
												</div>
											</div>
										</div>
										<div class="card">
											<div class="card-header" id="headingFour_2">
												<h5 class="mb-0">
													<label class="wrap-btn" for="btn_4_2">
														<div id='btn_4_2' class="btn-collapsed collapsed" data-toggle="collapse" data-target="#collapseFour_2" aria-expanded="false" aria-controls="collapseFour_2">
															<img class="plus" src="img/svg/btn-plus.svg" alt="">
															<img class='minus' src="img/svg/btn-minus.svg" alt="">
															<span>
																Как проверять билеты посетителей
															</span>
														</div>
													</label>
												</h5>
											</div>
											<div id="collapseFour" class="collapse" aria-labelledby="headingFour_2" data-parent="#accordion_2">
												<div class="card-body">
													Вы можете оплатить следующими способами:<br>
													1) Кредитные карты<br>
													2) Электронные деньги: qiwi, яндекс-деньги, webmoeny и тд<br>
													3) Через терминалы в отделения связи<br>
													4) Со счета мобильного телефона<br>
												</div>
											</div>
										</div>
										<div class="card">
											<div class="card-header" id="headingFive_2">
												<h5 class="mb-0">
													<label class="wrap-btn" for="btn_5_2">
														<div id='btn_5_2' class="btn-collapsed collapsed" data-toggle="collapse" data-target="#collapseFive_2" aria-expanded="false" aria-controls="collapseFive_2">
															<img class="plus" src="img/svg/btn-plus.svg" alt="">
															<img class='minus' src="img/svg/btn-minus.svg" alt="">
															<span>
																Что делать если пришел посетитель, а в базе его нет
															</span>
														</div>
													</label>
												</h5>
											</div>
											<div id="collapseFive" class="collapse" aria-labelledby="headingFive_2" data-parent="#accordion_2">
												<div class="card-body">
													Вы можете оплатить следующими способами:<br>
													1) Кредитные карты<br>
													2) Электронные деньги: qiwi, яндекс-деньги, webmoeny и тд<br>
													3) Через терминалы в отделения связи<br>
													4) Со счета мобильного телефона<br>
												</div>
											</div>
										</div>
									</div>	
								</div>
							</div>

						</div>
						<div class="ask-question">
							<div class="wrap-steps">
								<a href="#" class="step early">
									<div class="die">
										<p>
											2
										</p>
									</div>
									<h5>
										Задайте вопрос, если не нашли среди часто-задаваемых вопросов
									</h5>
								</a>
							</div>
							
							<form action="" class='basic-information needs-validation' novalidate>
								<div class="login-personal">
									<a href="">Войдите</a> в личный кабинет или укажите email
									<input class='form-control' type="text" placeholder="Email" required>
								</div>
								<div class="wrap-have">
									<p>
										У меня
									</p>
									<div class="wrap-content-mob">
										<div class="wrap-select">
											<select class="select" required>
												<option value="">Вопрос</option>
												<option>Вопрос</option>
												<option>Вопрос</option>
												<option>Вопрос</option>
												<option>Вопрос</option>
												<option>Вопрос</option>
												<option>Вопрос</option>
											</select>
										</div>
									</div>
								</div>
								<textarea class='form-control question-textarea' rows="11" name="text" required placeholder="Опишите кратко по существу суть вашего вопроса, проблемы или предложения"></textarea>
								<div class="panel-submit">
									<button class='btn-def' href="#" type="submit">
										Отправить 
									</button>
									<div class="error-messages">
										Заполните все данные
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="app-mobile">
			<div class="app-mobile__title">Чаще ищете куда сходить с телефона?</div>
			<div class="app-mobile__pre-title">Скачайте приложение EVENTR</div>
			<div class="app-mobile__img">
				<p><a href="#"><img src="img/gps.png" alt=""></a></p>
				<p><a href="#"><img src="img/aps.png" alt=""></a></p>
			</div>
		</div>
	</div>
	<!-- Modal -->
	<div class="modal offers-modal fade" id="my_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<a class="close-castom" data-dismiss="modal" aria-label="Close"></a>

				<img src="img/svg/payment-method.svg" alt="">
			</div>
		</div>
	</div>
</div>
<!--_______ End.page-contacts _______-->