
.tabs
	display: flex 
	align-items: center
	&__item
		color: $accent
		font-size: 18px
		line-height: 21px
		font-weight: 100
		background: $blue-dark
		padding: 20px 18px
		margin-right: 1px
		border-top-left-radius: 5px
		border-top-right-radius: 5px
		display: flex
		align-items: center
		justify-content: center
		cursor: pointer
		transition-duration: 0.2s
		min-width: 190px
		&:hover
			background: $blue-md
			color: #fff
		i
			font-size: 25px
			margin-right: 15px

		&_active
			background: $blue-md
			color: #fff
			i
				color: #fff

.tabContent
	display: none
	background: $blue-md
	&_active
		display: block

.wallets
	padding-top: 20px
	&__container
		display: flex
		justify-content: space-between
		background: $blue-md
		&:before,
		&:after
			display: none
	&__section
		color: #fff
		flex-basis: 660px
		margin: 69px 0
		&_buy
			padding-right: 15px
			border-right: solid 1px rgba(255, 255, 255, .2)
		&_calculator
			padding-left: 15px	

	&__title_buy
		font-weight: 100
		margin: 0 0 20px 0
		font-size: 32px
		i
			font-size: 22px
			margin-right: 20px	
	&__description_buy
		font-size: 18px
		padding-bottom: 40px
		max-width: 435px

	&__title_calculator
		font-size: 24px
		color: $accent
		font-weight: 100
		margin-top: 0
		margin-bottom: 20px
	&__description_calculator
		padding: 0px 0 40px 0	

.accountInfoCard
	background: #FFFFFF
	border-radius: 5px
	padding: 8px 5px 8px 24px
	color: #111
	font-weight: 400
	display: flex
	justify-content: space-between
	&__content
		max-width: 265px
		word-break: break-all
	&__title
		font-weight: 500
		font-size: 16px
		margin: 5px 0 14px 0
	&__data
		font-size: 16px
	&__control
		&_copy
			margin-bottom: 5px
	&__control
		i
			font-size: 20px

.blockchainInfo
	padding-top: 17px
	p:nth-of-type(1)
		margin-bottom: 0
		color: $accent
		font-size: 14px
	&__description
		padding-top: 50px
		font-weight: 300
		display: flex
		align-items: center
		i
			padding-right: 20px
			font-size: 18px

.kursBlock
	display: flex
	justify-content: space-between
	align-items: center
	padding-bottom: 65px
	&__title
		color: #fff
		padding-bottom: 8px
		font-size: 16px
	input[type="number"]
		width: 210px
		background: rgba(5, 11, 31, 0.6)
		border: 1px solid rgba(153, 206, 255, 0.3)
		font-size: 24px
		color: #fff
		height: 100%
		padding: 12px 11px
		-webkit-appearance: none
		-moz-appearance: none	
	&__item	
		&_active
			& .kursBlock__title
				color: $accent
			& input[type="number"]
				color: $accent

	i
		color: $accent
		font-size: 20px
		margin-top: 20px
		display: inline-block

.transactionMonitor			
	&__title
		span
			display: inline-block
			font-size: 24px
			padding-bottom: 14px
			color: $accent
		p
			margin: 0

@keyframes dot-keyframes 
	0% 
		background: $accent
		transform: scale(1, 1)
	50% 
		background: #2F7BC2
		transform: scale(1.2, 1.2)
	100% 
		background: $accent
		transform: scale(1, 1)

.loading 
	width: 100%
	margin: 25px 0
	.loading
		&__dot
			animation: dot-keyframes 3s infinite ease-in-out
			background-color: #2F7BC2
			border-radius: 10px
			display: inline-block
			height: 18px
			width: 18px
			margin: 5px
			&:nth-child(2) 
				animation-delay: .5s
			
			&:nth-child(3) 
				animation-delay: 1s

			&:nth-child(4) 
				animation-delay: 1.5s
			
			&:nth-child(5) 
				animation-delay: 2s
	
@media only screen and (min-width : 992px)
	.wallets__section
		&_buy
			padding-right: 117px
		&_calculator
			padding-left: 117px	
						

