// .page-create-new-event-step1
.page-create-new-event-step1
	.row-wrap-main
		@media only screen and (max-width: 767px)
			margin-left: -20px
			margin-right: -20px
			padding-bottom: 0
	.main-content
		@media only screen and (max-width: 767px)
			padding-top: 16px
		.title_list
			display: none
			@media only screen and (max-width: 767px)
				font-weight: bold
				font-size: 14px
				line-height: 21px
				display: flex
				align-items: center
				color: #0e1f38
				padding: 0px 20px
				margin-bottom: 10px
				font-family: $default-font
		.substrate
			&.warning
				padding: 19px 20px 20px 20px
				margin-bottom: 30px
				@media only screen and (max-width: 767px)
					margin-left: 19px
					margin-right: 19px
					margin-bottom: 0
					padding: 14px 15px 1px
				p
					color: #A7B3BE
					line-height: 16px
					@media only screen and (max-width: 767px)
						text-align: left
					span
						@media only screen and (max-width: 767px)
							color: #0E1F38
							font-weight: bold
							font-size: 12px
							line-height: 150%
							display: block
							padding-bottom: 6px
				a
					font-size: 14px
					line-height: 16px
					text-decoration: underline
					color: #a7b3be
					@media only screen and (max-width: 767px)
						font-size: 12px
				.close
					@media screen and (max-width: 767px)
						display: none
				.btn-hide-forever
					display: none
					@media only screen and (max-width: 767px)
						color: #fff
						text-align: center
						display: table
						margin: 16px auto 0
						padding: 6px 18px
						text-decoration: none
						font-weight: normal
		.steps
			display: flex
			flex-wrap: wrap
			margin-bottom: 20px
			.step
				display: flex
				align-items: center
				@media screen and (max-width: 767px)
					display: none
				.die
					width: 40px
					height: 40px
					background: #FFF
					box-shadow: 0px 2px 2px #E0E0E3
					border-radius: 50%
					display: flex
					margin-right: 10px
					flex: 0 0 auto
					p
						margin: auto
						color: #a7b3be
						font-weight: bold
						font-size: 18px
						line-height: 21px
				h5
					font-weight: bold
					font-size: 14px
					line-height: 16px
					color: #A7B3BE
					padding-right: 50px
					margin-bottom: 0
					margin-top: 3px
				&.active
					.die
						background: #69C530
						p
							color: #fff
					h5
						font-weight: bold
						color: #0E1F38
		.basic-information
			.wrap-basic-information
				background: #FFF
				box-shadow: 0px 2px 2px #E0E0E3
				border-radius: 3px
				@media only screen and (max-width: 767px)
					box-shadow: none
			.error-messages
				display: none
				margin: 0 0 21px
				padding: 32px 34px 26px 
				background: #FFC1C1
				border-radius: 3px
				font-size: 14px
				line-height: 21px
				color: #773C3C
				@media only screen and (max-width: 767px)
					margin: 0 20px 21px
					font-size: 12px
					line-height: 18px
					padding: 22px 23px 24px 17px 

			.select-top
				padding: 32px 30px 28px
				border-bottom: 1px solid #E3E7F1
				display: flex
				align-items: baseline
				@media only screen and (max-width: 767px)
					padding: 20px 20px 25px
					display: block
				.copy-icon
					display: none
					@media only screen and (max-width: 767px)
						display: inline-block
						margin-right: 2px
						margin-bottom: 11px
				h5
					font-weight: bold
					font-size: 14px
					line-height: 16px
					color: #0e1f38
					@media only screen and (max-width: 767px)
						font-weight: bold
						font-size: 12px
						line-height: 14px
						color: #6c7583
			.wrap-select
				display: block
				width: 100%
				max-width: 378px
				margin-right: 20px
				@media only screen and (max-width: 767px)
					margin-right: 0
				.select2-container--default
					margin-bottom: 0
				.select2-selection--single
					height: auto
					// &.error
					// 	border: 1px solid $error
					// 	border-radius: 3px
					@media only screen and (max-width: 767px)
						height: 30px
						white-space: nowrap
						overflow: hidden
						// margin-bottom: 10px
					.select2-selection__rendered
						@media only screen and (max-width: 767px)
							font-size: 12px
							line-height: 30px

							white-space: nowrap
							overflow: hidden
							text-overflow: ellipsis
					.select2-selection__arrow
						@media only screen and (max-width: 767px)
							height: 30px
			.btn-inform
				font-weight: bold
				font-size: 14px
				line-height: 16px
				padding: 8px 16px 9px
				@media only screen and (max-width: 767px)
					margin-top: 10px
					padding: 6px 8px
			.select-zero
				max-width: 76px
			.select-genre
				max-width: 139px
			.select-context
				padding: 30px 30px 19px
				@media only screen and (max-width: 767px)
					padding: 23px 20px 20px
				.row-select-context
					display: flex
					align-items: center
					padding-bottom: 20px
					@media only screen and (max-width: 767px)
						align-items: flex-start
					input
						padding: 9px 10px 7px
						max-width: 328px
						margin-right: 13px
						@media only screen and (max-width: 767px)
							padding: 5px 10px
							height: 30px	
					.select-city,
					.select-rank
						max-width: 328px
						margin-right: 13px
					.select-city
						@media only screen and (max-width: 767px)
							margin-right: 0
					.select2-container--default
						margin-bottom: 0
						@media only screen and (max-width: 767px)
							height: 30px

				.steps-mob
					margin-bottom: 13px
					display: none
					@media only screen and (max-width: 767px)
						display: block
					.step.active
						@media only screen and (max-width: 767px)
							display: flex
						.die
							width: 30px
							height: 30px

			.who-to-go
				border-bottom: 0
				padding: 0 30px
				@media only screen and (max-width: 767px)
					padding: 0 20px
				.filter-name
					color: #0e1f38
					font-weight: bold
					font-size: 16px
					line-height: 19px
					text-transform: none
					@media only screen and (max-width: 767px)
						font-weight: bold
						font-size: 12px
						line-height: 14px
						color: #0e1f38
				.container-checkbox
					line-height: 19px
					margin-top: 11px
				.wrap-content-mob
					margin-top: -2px
					display: inline-block

			.date-time
				padding: 0 30px
				@media only screen and (max-width: 767px)
					padding: 0 20px
				&-top
					padding-top: 49px
					padding-bottom: 6px
					@media only screen and (max-width: 767px)
						padding-top: 38px
						padding-bottom: 7px
				&__title
					font-weight: bold
					font-size: 16px
					line-height: 19px
					color: #0E1F38
					@media only screen and (max-width: 767px)
						font-weight: bold
						font-size: 12px
						line-height: 14px
						color: #0E1F38
				&-input-group
					display: flex
					@media only screen and (max-width: 767px)
						display: block
					.input-group__date
						width: 100%
						max-width: 280px
						display: flex
						margin-right: 44px
						@media only screen and (max-width: 767px)
							margin-bottom: 11px
						&.error
							svg
								path
									fill: $error
					.popupOpen
						display: flex
						align-items: center
						.open-popup-link
							display: block
							width: 25px
							height: 25px
					input
						margin-right: 9px
						padding: 8px 10px 8px 10px
						@media only screen and (max-width: 767px)
							padding: 8px 10px
							height: 30px
					.input-group__clock
						display: flex
						align-items: center
						width: 100%
						max-width: 91px
						input
							width: 100%
							outline: none
							-webkit-box-shadow: none
							box-shadow: none
							color: #333
							border-radius: 3px
							border: solid 1px #E3E7F1
							background-color: #ffffff
						.open-clock
							width: 25px
							height: 25px
							display: block
				.date
					max-width: 235px
			.place
				padding-top: 41px
				@media only screen and (max-width: 767px)
					padding-top: 38px
				.place__title
					padding: 0 30px
					font-weight: bold
					font-size: 16px
					line-height: 19px
					color: #0E1F38
					@media only screen and (max-width: 767px)
						padding: 0 20px
						font-size: 12px
						line-height: 14px
				p
					padding: 5px 30px 0px
					font-size: 14px
					line-height: 16px
					color: #6c7583
					@media only screen and (max-width: 767px)
						padding: 7px 20px 0px
						font-size: 12px
						line-height: 14px
				.place-input
					display: flex
					justify-content: space-between
					padding: 0 30px
					@media only screen and (max-width: 767px)
						padding: 0 20px
						display: block
					.wrap-input
						box-sizing: border-box
						width: calc((100% - 12px * 2) / 2)
						margin-bottom: 18px
						@media only screen and (max-width: 767px)
							width: 100%
							margin-bottom: 20px
						input
							padding: 10px 10px 7px
							width: 100%
							@media only screen and (max-width: 767px)
								padding: 8px 10px
								height: 30px
				
			.about-event
				padding: 50px 30px 0
				@media only screen and (max-width: 767px)
					padding: 40px 20px 0
				&__title
					font-weight: bold
					font-size: 16px
					line-height: 19px
					color: #0E1F38
					text-transform: none
						
				&__textarea
					width: 100%
					max-height: 300px
					outline: none
					-webkit-box-shadow: none
					box-shadow: none
					color: #333
					border-radius: 3px
					border-color: #E3E7F1
					background-color: #ffffff
					margin-top: 4px
					text-align: left
					padding: 19px
					@media only screen and (max-width: 767px)
						padding: 10px 14px
						font-size: 12px
						color: #6c7583
						max-height: 293px
			.photo-video
				padding: 50px 30px 29px
				display: block
				@media only screen and (max-width: 767px)
					padding: 40px 0 0px
				&__title
					font-weight: bold
					font-size: 16px
					line-height: 19px
					color: #0E1F38
					text-transform: none
					@media only screen and (max-width: 767px)
						padding: 0 20px
				.wrap-photo
					display: flex
					margin-top: 10px
					@media only screen and (max-width: 767px)
						margin-top: 15px
						display: block
					.show-photo
						width: 100%
						height: 100%
						border-radius: 3px
						margin-right: 10px
						.big-img
							position: relative
							display: block
							width: 100%
							padding: 0
							overflow: hidden
							&::before
								display: block
								content: ""
								padding-top: 51.25%
							img
								position: absolute
								top: 0
								bottom: 0
								left: 0
								width: 100%
								height: auto
								border: 0
							.event-cover
								position: absolute
								top: 20px
								background: $green-def
								color: #fff
								padding: 4px 13px 2px
								border-radius: 0 3px 3px 0
								z-index: 1
								@media only screen and (max-width: 767px)
									top: 12px
									padding: 4px 8px 5px 13px
								.wrap-event-cover
									display: flex
									align-items: center
									.icon-event-cover
										width: 23px
										height: 23px
										margin-right: 10px
										margin-top: 2px
										margin-bottom: 7px
										position: relative
										@media only screen and (max-width: 767px)
											width: 14px
											height: 14px
											margin: 0 7px
									.first_p
										@media only screen and (max-width: 767px)
											font-size: 12px
									.next_p
										display: none
										max-width: 310px
										padding-left: 28px  
						.small-img
							display: flex
							justify-content: space-between
							li
								width: calc((100% - 9px * 5) / 5)
								background: #6C7583
								border-radius: 3px
								position: relative
								display: block
								padding: 0
								overflow: hidden
								&::before
									content: ''
									display: block
									padding-top: 100%
								&.check
									background: #0E1F38
									&::after
										content: ""
										position: absolute
										width: 23px
										height: 23px
										background: url("../img/svg/check_green_drop.svg") no-repeat
										display: flex
										top: 50%
										// background: red
										left: 50%
										transform: translate(-50%, -50%)
								@media only screen and (max-width: 767px)
									width: calc((100% - 3px * 5) / 5)

								img
									position: absolute
									top: 0
									bottom: 0
									left: 0
									width: 100%
									height: auto
									border: 0
					.drop-photo
						display: flex
						align-items: stretch
						.drop-area
							display: flex
							flex-direction: column
							justify-content: center
							.my-form
								display: flex
								flex-direction: column
								align-items: center
								margin-top: 23px
								@media only screen and (max-width: 767px)
									flex-direction: row
									margin: 0
								p 
									text-align: center
									font-weight: normal
									font-size: 14px
									line-height: 21px
									color: #A7B3BE
									margin: 15px auto
									@media only screen and (max-width: 767px)
										display: none
								.btn-my-form
									padding: 8px 12px 9px
									@media only screen and (max-width: 767px)
										padding: 6px 12px
										margin-bottom: 0
								img
									@media only screen and (max-width: 767px)
										display: none

			#drop-area 
				border: 2px dashed #ccc
				border-radius: 20px
				width: 100%
				font-family: sans-serif
				margin: 0
				padding: 20px
				@media only screen and (max-width: 767px)
					border: none !important
					border-radius: 0 !important

			#drop-area.highlight
				border-color: purple

			p 
				margin-top: 0
				@media screen and (max-width: 767px)
					font-size: 12px
					line-height: 16px
			.my-form 
				margin-bottom: 10px

			#gallery 
				margin-bottom: 10px

			.button
				display: inline-block
				padding: 10px
				background: #ccc
				cursor: pointer
				border-radius: 5px
				border: 1px solid #ccc
			.button:hover 
				background: #ddd

			.fileElem 
				display: none
			.youtube-link
				padding: 0 30px
				@media only screen and (max-width: 767px)
					padding: 0 20px	
				&__title
					font-weight: bold
					font-size: 14px
					line-height: 21px
					color: #0E1F38
					text-transform: none
					margin-bottom: 11px
					display: block
					@media only screen and (max-width: 767px)
						font-size: 12px
						line-height: 16px
						margin-bottom: 10px
				input
					height: 35px
					margin-bottom: 12px
					@media only screen and (max-width: 767px)
						height: 30px
						padding: 10px
						margin-bottom: 10px
			.contact
				padding: 37px 30px 29px
				@media only screen and (max-width: 767px)
					padding: 24px 20px 
				&__title
					font-weight: bold
					font-size: 16px
					line-height: 24px
					color: #0E1F38
					text-transform: none
					margin-bottom: 7px
					display: block
					@media only screen and (max-width: 767px)
						font-size: 12px
						line-height: 18px
						margin-bottom: 9px
				.wrap-main-contact
					display: flex
					@media only screen and (max-width: 550px)
						display: block
					.main-contact
						width: 50%
						display: flex
						flex-direction: column
						padding-left: 33px
						@media only screen and (max-width: 550px)
							width: 100%
						.wrap-input
							display: flex
							align-items: center
							position: relative
					.first-contact
						.contact-img
							width: 25px
							height: 25px
							position: absolute
							top: 5px
							left: -33px
							@media only screen and (max-width: 767px)
								display: none
						.contact-img-mob
							display: none
							@media only screen and (max-width: 767px)
								display: block
								width: 25px
								height: 25px
								position: absolute
								top: 5px
								left: -33px
					.social-contact
						.contact-img
							width: 35px
							height: 35px
							position: absolute
							top: 0px
							left: -37px
					input
						height: 35px
						margin-bottom: 20px
						@media only screen and (max-width: 767px)
							height: 30px
					.first-contact
						margin-right: 58px
			.panel-submit
				padding: 50px 0 48px
				display: flex
				justify-content: center
				border-top: 1px solid #E3E7F1
				@media only screen and (max-width: 767px)
					padding: 50px 20px 48px
					background: #f4f4f5
					border-top: 0
				button
					padding: 9px 16px
					-webkit-appearance: none
					@media only screen and (max-width: 767px)
						font-size: 12px
						line-height: 14px
						min-width: auto
						padding: 9px 12px
						display: flex
						align-items: center
						flex-wrap: wrap
						justify-content: center
					&.next
						margin-right: 20px
						@media only screen and (max-width: 767px)
							margin-right: 0
					&.preview
						@media only screen and (max-width: 767px)
							margin-right: 9px
							order: -1

form.was-validated
	.form-control:valid
		border-color: $green-def !important
		&:focus
			box-shadow: none
	.form-control:invalid
		border-color: $error !important
		&:focus
			box-shadow: none
		& + * .next_p
			display: block !important
			@media only screen and (max-width: 767px)
				display: none !important
		& + * .event-cover
			background: #F56868 !important
			width: calc(100% - 1px)
			border-radius: 0 !important
		& + * .small-img li:first-child
			border: 2px solid #F56868 !important
		& + * .drop-area
			border: 2px dashed #F56868 !important

	select:invalid + span .select2-selection--single
			border: 1px solid $error
			border-radius: 3px
	.form-control:invalid + *
		svg path
			fill: $error
	.error-messages
			display: block !important
	
// /*End_.page-create-new-event-step1*/

/*____small-datepicker____*/
.ui-datepicker-group
	// margin-right: 46px
	&:last-child
		margin-right: 0
.ui-datepicker-multi
	background: #FFF
	border: 1px solid #E3E7F1
	border-bottom: 0
	box-sizing: border-box
	box-shadow: 0px 40px 50px rgba(113, 113, 133, 0.15)
	border-radius: 3px
	padding: 50px
	margin: 0 auto

	@media screen and (max-width: 835px)
		width: 100%
		// width: calc(100% - 120px) !important
		padding: 40px 20px 20px
.datepicker-here-small
	width: 300px
	padding: 50px
	box-sizing: border-box
	border: none
	color: #707078
	background: #fff
	// left: 285px !important //потом убрать
	// opacity: 1 !important	//потом убрать
	.datepicker--nav //навигация
		border-bottom: 0
		padding: 0

		.datepicker--nav-action //стрелка влево вправо
			width: 10px
			path
				fill: #E3E7F1
				stroke: #E3E7F1
				stroke-width: 0
			svg
				width: 10px
				height: 17px
			&:hover
				background: 0

		.datepicker--nav-title // заголовок с месяцем
			font-weight: bold
			font-size: 14px
			line-height: 16px
			color: $main-color
			&:hover
				background: 0
			i
				display: none
	.datepicker--content //обертка контента
		padding: 0
		.datepicker--days-names //дни недель
			margin: 9px 0 0
			@media screen and (max-width: 991px)
				margin: 13px 0 0
			.datepicker--day-name //день недели
				color: #707078
				font-weight: bold
				font-size: 14px
				line-height: 16px
				text-transform: capitalize
	.datepicker--cell-day //числа
		height: 26px
		@media screen and (max-width: 991px)
			height: 36px
			line-height: 21px
			font-size: 18px
		&.-other-month- //числа предидущего месяца
			// color: #A7B3BE
			&.-focus-
				background: $green-light-def
				color: #fff
				&.-selected-
					background: $green-light-def	
.datepicker--cells-days
	.datepicker--cell //обводка начального числа
		&.-current-
			border-radius: 50%
			background: $green-light-def
			color: #fff
		&.-range-from-
			background: $green-light-def
			border-radius:   50% 0 0 50%  !important
			color: #fff
			&.focus
				border-radius:  0 !important
			&.-selected-
				// .-current-
				// 	border-radius: 50%
				// 	background: $green-light-def
		&.-range-to-
			background: $green-light-def
			border-radius:  0 50% 50% 0 !important
			color: #fff
			&.focus
				border-radius:  0 50% 50% 0
			&.-selected-
				border-radius: 50% 
				&:after
					content: " "
					width: 28px
					height: 26px
					background: #1C8D00 //применить темный
					position: absolute
					top: 0
					right: 0
					z-index: -2
					border-radius: 50%
					@media screen and (max-width: 991px)
						width: 38px
						height: 36px
				&:before
					content: " "
					width: 13px
					height: 26px
					background: $green-light-def
					position: absolute
					top: 0
					left: 0
					z-index: -2
					@media screen and (max-width: 991px)
						width: 18px
						height: 36px	
				.-current-
					border-radius: 50%
					background: $green-light-def

		&.-in-range- //полоска между выделенными
			background: $green-light-def
			color: #fff	
			&.-focus-
				background: $green-light-def
				border-radius: 0
		&.-other-month-
			&.-in-range-
				background: $green-light-def
				color: #fff
				&.-selected-
					background: $green-light-def	
					&.-focus-
						background: $green-light-def
						border-radius: 0
		


		&.-focus- // при наведении на число
			border-radius: 50% //навадение на все числа
			background: $green-light-def
			color: #fff
		&.-selected-
			&.-current- // выбранный первый элемент 
				color: #fff
				background: transparent
				border-radius: 50%
				position: relative
				z-index: 1
			&.-range-from-
				background: transparent
				border-radius: 50%
				position: relative
				z-index: 100
				&:after
					content: " "
					width: 28px
					height: 26px
					background: #1C8D00 //применить темный
					position: absolute
					top: 0
					right: 0
					z-index: -2
					border-radius: 50%
					@media screen and (max-width: 991px)
						width: 38px
						height: 36px
				&:before
					content: " "
					width: 13px
					height: 26px
					background: $green-light-def
					position: absolute
					top: 0
					right: 0
					z-index: -2
					@media screen and (max-width: 991px)
						width: 19px
						height: 36px
.ui-datepicker
	@media screen and (max-width: 767px)
		position: static !important
		top: 0 !important
		left: 0 !important
		right: 0 !important
		bottom: 0 !important
		height: 100% !important
		// background: red !important
		z-index: 999 !important
		border-radius: 0
		width: 100%
		margin: 0 auto 18px
		.ui-datepicker-header
			@media screen and (max-width: 767px)
				max-width: 280px
				margin: 23px auto 0
			.ui-corner-all
				@media screen and (max-width: 767px)
					width: 15px
					height: 25px
				.ui-icon
					@media screen and (max-width: 767px)
						width: 15px
						height: 25px
						background-size: contain
			.ui-datepicker-month
				display: block
				font-weight: bold
				font-size: 16px
				line-height: 15px
				color: #6C7583
			.ui-datepicker-year
				font-weight: normal
				font-size: 12px
				line-height: 14px
				color: #A7B3BE
		.close-datepicker
			position: absolute
			top: 0
			left: 0
			right: 0
			border-bottom: 1px solid #E3E7F1
			text-align: right
			font-weight: normal
			font-size: 12px
			line-height: 40px
			color: #A7B3BE
			padding-right: 41px
			.close-btn
				position: absolute
				right: 20px
				top: 13px
				width: 15px
				height: 15px
				img
					position: absolute
					top: 0
					right: 0
					cursor: pointer
		table
			@media screen and (max-width: 767px)
				max-width: 280px
				margin: 0 auto
			th
				font-size: 14px
				line-height: 16px
				color: #6c7583
				padding-bottom: 7px
			td 
				.ui-state-default
					@media screen and (max-width: 767px)
						padding: 11px
						font-size: 16px
		.ui-datepicker-buttonpane
			border-top: 1px solid #E3E7F1
			@media screen and (max-width: 767px)
				padding-top: 30px
			.ui-datepicker-current
				@media screen and (max-width: 767px)
					// display: none
					margin: 18px 0 0 0
			button
				float: none
				display: flex
				background: #69C530
				box-shadow: 0px 7px 15px rgba(42, 99, 7, 0.2)
				border-radius: 3px
				color: #fff
				font-weight: bold
				font-size: 12px
				line-height: 14px
				display: flex
				align-items: center
				text-align: center
				margin: auto
				color: #FFFFFF
				padding: 7px 32px
				cursor: pointer
.mfp-bg
	// opacity: 0
	@media screen and (max-width: 767px)
		opacity: 1
		background: #fff
.mfp-container
	@media screen and (max-width: 990px)
		padding: 0
.mfp-content
	@media screen and (max-width: 767px)
		vertical-align: top
	.white-popup
		margin: 0 auto
		display: block
		position: relative
		.wrap-mfp-close
			display: none
			@media screen and (max-width: 767px)
				display: block
				width: 100%
				height: 40px
				border-bottom: 1px solid #E3E7F1
		.mfp-close
			display: flex
			justify-content: flex-end
			font-size: 12px
			line-height: 14px
			color: #A7B3BE
			width: 92px
			height: 40px
			line-height: 40px
			position: absolute
			right: 20px
			top: 0
			opacity: 1
			padding: 0
			font-family: $default-font
			cursor: pointer
			img
				margin-left: 10px
				z-index: -1
			@media screen and (min-width: 768px)
				display: none
		.date-select
			// @media screen and (min-width: 768px)
			// 	display: none
		.wrap-btn-choose
			display: none
			background: #FFF
			border: 1px solid #E3E7F1
			border-top: 0
			border-radius: 0 0 3px 3px
			justify-content: center
			@media screen and (max-width: 767px)
				// display: block
				display: flex
				border: none
				border-top: 1px solid #E3E7F1
			.btn-choose
				margin-top: 30px
				height: 30px
				display: flex
				align-items: center
				margin-bottom: 10px
				padding: 12px 33px 11px


.place-map
	padding: 0 30px
	height: 402px