<div class="page-card page-card-test">

	<div class="current-card-shell">
		<div class="container">
			<div class="current-card" style="background-image: url(img/card-img.jpg)">
				<div class="top-panel">
					<div class="current-card__address">Концерт в Санкт-петербурге</div> 
					<div class="current-card__name">Уральские пельмени</div> 
					<div class="current-card__date">Дворец молодежи, <span>18 марта, понедельник, 19:00</span></div> 
				</div>
				<div class="bottom-panel bottom-panel-desktop">
					<div class="current-card__price">1200-4500 ₽</div>
					<div class="current-card__btns">
						<button class="btn-def" data-toggle="modal" data-target="#pay-rubles">Купить</button>
						<button class="btn-def btn-def_transparent" data-toggle="modal" data-target="#pay-bonus">Оплатить бонусами</button>
					</div>
					<div class="current-card__nav current-card__nav-desktop">
						<a href="#"><i class="icon icon-like"></i> В избранное</a>
						<a href="#"><i class="icon icon-remind"></i> Напомнить</a>
					</div>
				</div>
				<div class="float-inform">
					<span class="free-btn">Бесплатно</span>
					<span class="age-inform">12+</span>
				</div>
			</div>
		</div>
	</div>
	<div class="current-card__btns-mobile">
		<button class="btn-def btn-def_transparent" data-toggle="modal" data-target="#pay-bonus">Оплатить бонусами</button>
		<button class="btn-def btn-def-buy" data-toggle="modal" data-target="#pay-rubles">Купить</button>
	</div>
	<div class="panel-btn-shell">
		<div class="container">
			<div class="current-card__nav current-card__nav-mobile">
				<a href="#"><i class="icon icon-like"></i> В избранное</a>
				<a href="#"><i class="icon icon-remind"></i> Напомнить</a>
			</div>
			<div class="panel-btn">
				<a href="#" class="btn-def" data-toggle="modal" data-target="#bonuses-modal">Заработать бонусы <span>(осталось 3 репоста)</span></a>
			</div>
		</div>
	</div>
	<div class="about-event">
		<div class="container">
			<div class="about-event-shell">
				<div class="about-event-slider">
					<div class="slide" style="background-image: url(img/slide.jpg)">
						<div class="slide-content">
							<div class="btn-play"><img src="img/play.png" alt=""></div>
						</div>
					</div>
					<div class="slide" style="background-image: url(img/slide.jpg)">
						<div class="slide-content">
							<div class="btn-play"><img src="img/play.png" alt=""></div>
						</div>
					</div>
					<div class="slide" style="background-image: url(img/slide.jpg)">
						<div class="slide-content">
							<div class="btn-play"><img src="img/play.png" alt=""></div>
						</div>
					</div>
				</div>
				<div class="about-event-inform">
					<div class="about-event__title">О событии</div>
					<div class="about-event__description">
						<p>
							Они превратили ошибки и оговорки в самый блестящий номер программы, а самые смешные женские роли отдают актёрам-мужчинам. Они придумывают новогодние программы в октябре, а в год 25-летия отправляются в «Предъюбилейный тур».
						</p>
						<p>
							Поэтому (и не только) они единственные и неповторимые, долгожданные и всенародно любимые «Уральские Пельмени»! Это значит, что все официальные, торжественные и прочие обязательные в юбилей вещи останутся для телевизионного концерта к 25-летию.
						</p>
					</div>
					<div class="about-event-btn">
						<a  href="" class="btn-def btn-def_transparent" data-toggle="modal" data-target="#information-modal">Читать все</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="contacts-event">
		<div class="container">
			<div class="contacts-event-shell">
				<div class="item">
					<div class="contacts-event__date">
						<span class="icon">
							<i class="icon-calendar"></i>
						</span>
						<p>18 марта, понедельник  <br> 19:00</p>
						<span class="btn-def btn-def_transparent" data-toggle="modal" data-target="#about-event-modal">Напомнить</span>
					</div>
				</div>
				<div class="item">
					<div class="contacts-event__address">
						<span class="icon">
							<i class="icon-map-marker"></i>
						</span>
						<p>г.Санкт-Петербург, ул. 50-летия Октября, 48  ​​​​​​​"Дворец молодежи"</p>
					</div>
				</div>
				<div class="item">
					<div class="contacts-event__phone">
						<span class="icon">
							<i class="icon-tel"></i>
						</span>
						<a href="tel:+7 (347) 214-93-04"><strong>+7 (347) 214-93-04</strong></a> <br>
						<a href="#" class="btn-def btn-def_transparent">Сайт организатора</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="map-container">
		<div class="container">
		<!-- 	<div class="wrap-input">
				<input id="suggest1" class="form-control" type="text" placeholder="Адрес площадки" >
			</div>
			<div class="map" id="map-search"></div> -->
			<div class="map" id="map"></div>
		</div>
	</div>
	<div class="container">
		<div class="row-posters row-posters-active row-slider">
			<div class="heading-panel">
				<div class="heading">
					<strong>Популярное из концертов</strong>
				</div>
				<div class="posters-active__arrows">
					<div class="icon-arrow icon-arrow-next slick-arrow left"><img src="img/arrow-sm-left.svg" alt="" /></div>
					<div class="icon-arrow icon-arrow-prev slick-arrow right"><img src="img/arrow-sm-right.svg" alt="" /></div>
				</div>
			</div>
			<div class="posters-wrapper">
				<div class="posters posters-slider posters-slider-active">
					<div class="item">
						<div class="poster">
							<div class="poster-panel-top">
								<div class="poster__city">Уфа-Арена</div>
								<div class="poster__time">21 апреля, 19:30</div>
								<i class="icon icon-like"></i>
							</div>
							<div class="poster__picture" style="background-image: url(img/poster-8.jpg)"></div>
							<div class="poster-description">
								<div class="poster__type">Концерт</div>
								<div class="poster__title"><a href="#">Илья Авербух. 15 лет успеха</a></div>
								<div class="panel-hidden">
									<div class="poster-bottom-panel">
										<div class="poster__price">1500-6500 ₽</div>
										<div class="poster-btns">
											<button class="btn-def btn-def-transparent">Оплатить бонусами</button>
											<button class="btn-def">Купить</button>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="item">
						<div class="poster">
							<div class="poster-panel-top">
								<div class="poster__city">ГДК Молодежный</div>
								<div class="poster__time">18 апреля, 19:30</div>
								<i class="icon icon-like"></i>
							</div>
							<div class="poster__picture" style="background-image: url(img/poster-9.jpg)"></div>
							<div class="poster-description">
								<div class="poster__type">Юмор</div>
								<div class="poster__title"><a href="#">Однажды в России</a></div>
								<div class="panel-hidden">
									<div class="poster-bottom-panel">
										<div class="poster__price">1500-6500 ₽</div>
										<div class="poster-btns">
											<button class="btn-def btn-def-transparent">Оплатить бонусами</button>
											<button class="btn-def">Купить</button>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="item">
						<div class="poster">
							<div class="poster__picture" style="background-image: url(img/poster-10.jpg)"></div>
							<div class="poster-description">
								<div class="poster__type">Поп и эстрада</div>
								<div class="poster__title"><a href="#">Лев Лещенко<i class="icon icon-like"></i></a></div>
								<div class="panel-hidden">
									<div class="poster__link">
										<a href="#">
											<span>Подробнее</span>
											<span class="icon">
												<svg width="20" height="15" viewBox="0 0 20 15" fill="none" xmlns="http://www.w3.org/2000/svg">
													<path d="M13.4678 0.900079C13.1953 0.625918 12.7418 0.625918 12.4598 0.900079C12.1874 1.16498 12.1874 1.60586 12.4598 1.87014L17.5707 6.839H0.705621C0.31248 6.83962 0 7.14342 0 7.52564C0 7.90786 0.31248 8.22154 0.705621 8.22154H17.5707L12.4598 13.1811C12.1874 13.4553 12.1874 13.8968 12.4598 14.1611C12.7418 14.4352 13.1959 14.4352 13.4678 14.1611L19.7885 8.01592C20.0705 7.75102 20.0705 7.31014 19.7885 7.04586L13.4678 0.900079Z" fill="#6C7583"/>
												</svg>
											</span>
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="item">
						<div class="poster">
							<div class="poster__picture" style="background-image: url(img/poster-11.jpg)"></div>
							<div class="poster-description">
								<div class="poster__type">Поп и эстрада</div>
								<div class="poster__title"><a href="#">Леонид Агутин <i class="icon icon-like"></i></a></div>
								<div class="panel-hidden">
									<div class="poster__link">
										<a href="#">
											<span>Подробнее</span>
											<span class="icon">
												<svg width="20" height="15" viewBox="0 0 20 15" fill="none" xmlns="http://www.w3.org/2000/svg">
													<path d="M13.4678 0.900079C13.1953 0.625918 12.7418 0.625918 12.4598 0.900079C12.1874 1.16498 12.1874 1.60586 12.4598 1.87014L17.5707 6.839H0.705621C0.31248 6.83962 0 7.14342 0 7.52564C0 7.90786 0.31248 8.22154 0.705621 8.22154H17.5707L12.4598 13.1811C12.1874 13.4553 12.1874 13.8968 12.4598 14.1611C12.7418 14.4352 13.1959 14.4352 13.4678 14.1611L19.7885 8.01592C20.0705 7.75102 20.0705 7.31014 19.7885 7.04586L13.4678 0.900079Z" fill="#6C7583"/>
												</svg>
											</span>
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row-posters row-posters-active row-slider">
			<div class="heading-panel">
				<div class="heading">
					<strong>Вы смотерели (18)</strong>
				</div>
				<div class="posters-active__arrows">
					<div class="icon-arrow icon-arrow-next slick-arrow left"><img src="img/arrow-sm-left.svg" alt="" /></div>
					<div class="icon-arrow icon-arrow-prev slick-arrow right"><img src="img/arrow-sm-right.svg" alt="" /></div>
				</div>
			</div>
			<div class="posters-wrapper">
				<div class="posters posters-slider posters-slider-active">
					<div class="item">
						<div class="poster">
							<div class="poster__picture" style="background-image: url(img/poster-21.jpg)"></div>
							<div class="poster-description">
								<div class="poster__type">Детям</div>
								<div class="poster__title"><a href="#">Оранжевый ежик<i class="icon icon-like"></i></a></div>
								<div class="panel-hidden">
									<div class="poster__link">
										<a href="#">
											<span>Подробнее</span>
											<span class="icon">
												<svg width="20" height="15" viewBox="0 0 20 15" fill="none" xmlns="http://www.w3.org/2000/svg">
													<path d="M13.4678 0.900079C13.1953 0.625918 12.7418 0.625918 12.4598 0.900079C12.1874 1.16498 12.1874 1.60586 12.4598 1.87014L17.5707 6.839H0.705621C0.31248 6.83962 0 7.14342 0 7.52564C0 7.90786 0.31248 8.22154 0.705621 8.22154H17.5707L12.4598 13.1811C12.1874 13.4553 12.1874 13.8968 12.4598 14.1611C12.7418 14.4352 13.1959 14.4352 13.4678 14.1611L19.7885 8.01592C20.0705 7.75102 20.0705 7.31014 19.7885 7.04586L13.4678 0.900079Z" fill="#6C7583"/>
												</svg>
											</span>
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="item">
						<div class="poster">
							<div class="poster__picture" style="background-image: url(img/poster-9.jpg)"></div>
							<div class="poster-description">
								<div class="poster__type">Концерт</div>
								<div class="poster__title"><a href="#">Однажды в России<i class="icon icon-like"></i></a></div>
								<div class="panel-hidden">
									<div class="poster__link">
										<a href="#">
											<span>Подробнее</span>
											<span class="icon">
												<svg width="20" height="15" viewBox="0 0 20 15" fill="none" xmlns="http://www.w3.org/2000/svg">
													<path d="M13.4678 0.900079C13.1953 0.625918 12.7418 0.625918 12.4598 0.900079C12.1874 1.16498 12.1874 1.60586 12.4598 1.87014L17.5707 6.839H0.705621C0.31248 6.83962 0 7.14342 0 7.52564C0 7.90786 0.31248 8.22154 0.705621 8.22154H17.5707L12.4598 13.1811C12.1874 13.4553 12.1874 13.8968 12.4598 14.1611C12.7418 14.4352 13.1959 14.4352 13.4678 14.1611L19.7885 8.01592C20.0705 7.75102 20.0705 7.31014 19.7885 7.04586L13.4678 0.900079Z" fill="#6C7583"/>
												</svg>
											</span>
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="item">
						<div class="poster">
							<div class="poster__picture" style="background-image: url(img/poster-33.jpg)"></div>
							<div class="poster-description">
								<div class="poster__type">Другое</div>
								<div class="poster__title"><a href="#">Арена виртуальной реальности Another World<i class="icon icon-like"></i></a></div>
								<div class="panel-hidden">
									<div class="poster__link">
										<a href="#">
											<span>Подробнее</span>
											<span class="icon">
												<svg width="20" height="15" viewBox="0 0 20 15" fill="none" xmlns="http://www.w3.org/2000/svg">
													<path d="M13.4678 0.900079C13.1953 0.625918 12.7418 0.625918 12.4598 0.900079C12.1874 1.16498 12.1874 1.60586 12.4598 1.87014L17.5707 6.839H0.705621C0.31248 6.83962 0 7.14342 0 7.52564C0 7.90786 0.31248 8.22154 0.705621 8.22154H17.5707L12.4598 13.1811C12.1874 13.4553 12.1874 13.8968 12.4598 14.1611C12.7418 14.4352 13.1959 14.4352 13.4678 14.1611L19.7885 8.01592C20.0705 7.75102 20.0705 7.31014 19.7885 7.04586L13.4678 0.900079Z" fill="#6C7583"/>
												</svg>
											</span>
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="item">
						<div class="poster">
							<div class="poster__picture" style="background-image: url(img/poster-29.jpg)"></div>
							<div class="poster-description">
								<div class="poster__type">Киберспорт</div>
								<div class="poster__title"><a href="#">Epicenter Major<i class="icon icon-like"></i></a></div>
								<div class="panel-hidden">
									<div class="poster__link">
										<a href="#">
											<span>Подробнее</span>
											<span class="icon">
												<svg width="20" height="15" viewBox="0 0 20 15" fill="none" xmlns="http://www.w3.org/2000/svg">
													<path d="M13.4678 0.900079C13.1953 0.625918 12.7418 0.625918 12.4598 0.900079C12.1874 1.16498 12.1874 1.60586 12.4598 1.87014L17.5707 6.839H0.705621C0.31248 6.83962 0 7.14342 0 7.52564C0 7.90786 0.31248 8.22154 0.705621 8.22154H17.5707L12.4598 13.1811C12.1874 13.4553 12.1874 13.8968 12.4598 14.1611C12.7418 14.4352 13.1959 14.4352 13.4678 14.1611L19.7885 8.01592C20.0705 7.75102 20.0705 7.31014 19.7885 7.04586L13.4678 0.900079Z" fill="#6C7583"/>
												</svg>
											</span>
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="item">
						<div class="poster">
							<div class="poster__picture" style="background-image: url(img/poster-21.jpg)"></div>
							<div class="poster-description">
								<div class="poster__type">Детям</div>
								<div class="poster__title"><a href="#">Оранжевый ежик<i class="icon icon-like"></i></a></div>
								<div class="panel-hidden">
									<div class="poster__link">
										<a href="#">
											<span>Подробнее</span>
											<span class="icon">
												<svg width="20" height="15" viewBox="0 0 20 15" fill="none" xmlns="http://www.w3.org/2000/svg">
													<path d="M13.4678 0.900079C13.1953 0.625918 12.7418 0.625918 12.4598 0.900079C12.1874 1.16498 12.1874 1.60586 12.4598 1.87014L17.5707 6.839H0.705621C0.31248 6.83962 0 7.14342 0 7.52564C0 7.90786 0.31248 8.22154 0.705621 8.22154H17.5707L12.4598 13.1811C12.1874 13.4553 12.1874 13.8968 12.4598 14.1611C12.7418 14.4352 13.1959 14.4352 13.4678 14.1611L19.7885 8.01592C20.0705 7.75102 20.0705 7.31014 19.7885 7.04586L13.4678 0.900079Z" fill="#6C7583"/>
												</svg>
											</span>
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>