.page-card
	.age-inform
		margin-right: 26px
		margin-top: -8px
		@media only screen and (max-width: 767px)
			margin-right: 20px
	.free-btn
		border-radius: 0 3px 3px 0	
	.float-inform
		display: flex
		justify-content: space-between
		@media only screen and (max-width: 767px)
			position: absolute !important
			top: 23px
			right: 0
			display: block
			text-align: right

			.free-btn
				display: none
	.panel-btn
		justify-content: center
		padding: 32px 0
		@media only screen and (max-width: 767px)
			padding: 0
			.btn-def
				padding: 5px 10px
				background-color: transparent
				color: $green-light-def
				box-shadow: none
				border-color: $green-light-def
				span
					display: block
		&-shell .container
			background: #FFFFFF
			box-shadow: 0px 2px 2px #EBEBF1
			@media only screen and (max-width: 767px)
				box-shadow: none
				background-color: transparent


.free-btn
	font-size: 14px
	line-height: 16px
	padding: 12px 15px
	background: $green-def
	display: inline-block

.age-inform
	font-weight: bold
	font-size: 28px
	color: #E3E7F1
	opacity: .6
	@media only screen and (max-width: 767px)
		font-size: 12px

		
.current-card
	position: relative
	z-index: 1
	min-height: 660px
	color: #fff
	font-size: 18px
	padding: 77px 0 27px 0
	background-repeat: no-repeat
	background-position: 50%
	background-size: cover
	text-align: center
	@media only screen and (max-width: 767px)
		min-height: 272px
		padding-top: 28px
	&:before
		content: ''
		position: absolute
		top: 0
		left: 0
		background: rgba(14, 31, 56, .8)
		width: 100%
		height: 100%
		z-index: 111
	&-shell
		position: relative
		z-index: 111
		.container
			padding-left: 0
			padding-right: 0
	.top-panel,
	.bottom-panel,
	.float-inform
		position: relative
		z-index: 222
	.bottom-panel
		position: absolute
		bottom: 0
		width: 100%
		&-desktop
			@media only screen and (max-width: 767px)
				.current-card
					&__btns
						display: none
	.btn-def
		padding: 9px 27px
		margin-right: 17px	

	&__address
		font-size: 18px
		font-weight: 500
		@media only screen and (max-width: 767px)
			font-size: 13px
			line-height: 15px
	&__name
		font-size: 64px
		font-weight: bold
		@media only screen and (max-width: 767px)
			font-size: 28px
	&__date
		padding-top: 9px
		font-weight: 100
		opacity: .7
		@media only screen and (max-width: 767px)
			font-size: 13px
			padding-top: 5px
			span
				display: block

	&__price
		font-weight: bold
		font-size: 30px
		margin-bottom: 10px
		@media only screen and (max-width: 767px)
			font-size: 21px
			margin-bottom: 15px
	&__nav
		font-size: 14px	
		padding-bottom: 28px
		padding-top: 43px
		@media only screen and (max-width: 767px)
			text-align: center
			padding: 17px 0

			&-desktop
				display: none

		@media only screen and (min-width: 768px)
			&-mobile
				display: none
		a
			margin: 0 19px
			@media only screen and (min-width: 768px)
				&:hover
					color: #fff
					transition: $transition

.current-card__btns
	&-mobile
		display: flex
		justify-content: center
		padding: 22px 15px
		background: #FFFFFF
		box-shadow: 0px 2px 2px #EBEBF1
		.btn-def
			padding: 10px
			margin: 0 3px
			&-buy
				width: 133px
		@media only screen and (min-width: 768px)
			display: none	
.about-event
	.container
		@media only screen and (max-width: 767px)
			padding-left: 0
			padding-right: 0
	&-slider
		max-width: 540px
		width: 100%
		height: 404px
		flex-shrink: 0
		margin-right: 44px
		opacity: 0
		@media only screen and (max-width: 1199px)
			margin-left: auto
			margin-right: auto
		@media only screen and (max-width: 767px)
			height: 240px	
		.slick-next:before,
		.slick-prev:before
			display: none
		@media only screen and (max-width: 767px)		
			.slick-next
				right: 10px
			.slick-prev
				left: 10px	

		.slick-arrow
			width: 50px
			height: 70px
			background: #fff
			display: flex !important 
			align-items: center
			justify-content: center
			border-radius: 3px
			z-index: 11
			@media only screen and (max-width: 767px)
				background-color: transparent
				width: 20px
				height: 20px
			img
				width: 19px
				opacity: .6
				@media only screen and (max-width: 767px)
					width: 12px
						
		.slick-list
			border-radius: 3px
			overflow: hidden
		.slide
			position: relative
			width: 100%
			height: 404px
			background-repeat: no-repeat
			background-position: 50%
			background-position: 50%
			display: flex
			align-items: center
			justify-content: center
			overflow: hidden

			@media only screen and (max-width: 767px)
				height: 240px
			&:before
				content: ''
				position: absolute
				top: 0
				left: 0
				background: rgba(14, 31, 56, .8)
				width: 100%
				height: 100%
			&-content
				position: relative
				z-index: 1
			.btn-play
				cursor: pointer
				@media only screen and (max-width: 767px)
					width: 40px
	&-shell
		display: flex
		justify-content: space-between
		align-items: flex-start
		padding: 99px 0 0 0
		@media only screen and (max-width: 1199px)
			display: block
		@media only screen and (max-width: 767px)
			padding-top: 20px
				
	&-inform
		padding: 30px
		background: #fff
		font-size: 14px
		line-height: 21px
		color: #6C7583
		box-shadow: 0px 2px 2px #E6E6ED
		@media only screen and (max-width: 767px)
			margin-top: 20px
			padding: 15px 15px 24px
		
	&__title
		font-size: 18px
		font-weight: bold
		line-height: 23px
		text-transform: uppercase
		padding-bottom: 15px
		@media only screen and (max-width: 767px)
			font-size: 14px
			padding-bottom: 5px

	&__description
		font-size: 14px
		line-height: 22px
		padding: 0 28px
		@media only screen and (max-width: 767px)
			font-size: 12px
			padding: 0
			margin-bottom: 15px
		p
			margin: 0 0 24px 0
			@media only screen and (max-width: 767px)
				margin: 0 0 5px 0
	&-btn
		@media only screen and (max-width: 767px)
			text-align: center				
	.btn-def
		min-width: auto
		padding-left: 20px
		padding-right: 20px
		color: $green-light-def
		@media only screen and (max-width: 767px)
			padding: 9px 16px
			width: auto
	
			
	.slick-dots
		bottom: 40px
		li
			&:not(.slick-active)
				button:before
					background: rgba(227, 231, 241, .3)
			button:before
				width: 15px
				height: 15px
				background: $green-light-def			

.contacts-event
	margin-top: 62px
	font-size: 16px
	border-top: solid 5px $green-light-def
	background: #fff
	box-shadow: 0px 5px 15px rgba(115, 115, 132, 0.2)
	@media only screen and (max-width: 767px)
		margin-top: 20px
		border-top: none			
	.item
		padding-right: 46px
		padding: 41px 33px 20px
		position: relative
		@media only screen and (max-width: 991px)
			padding-left: 0
			padding-right: 0
			border-bottom: solid 1px #F1F1F5
		@media only screen and (max-width: 767px)
			padding-top: 20px
			padding-bottom: 14px	
		&:first-child
			padding-left: 0
		&:last-child
			padding-right: 0
			margin-left: 26px
			flex-shrink: 0
			@media only screen and (max-width: 991px)
				border-bottom: none
				margin-left: 0
		&:nth-child(2)
			width: 43%
			@media only screen and (max-width: 991px)
				width: 100%
			.icon
				margin-right: 15px
			&:before,
			&:after
				content: ''
				position: absolute
				top: 0
				width: 1px
				height: 100%
				background: #F1F1F5
				@media only screen and (max-width: 991px)
					display: none
			&:before
				left: 0
			&:after
				right: 0	
	p
		margin-bottom: 0
		line-height: 23px
		@media only screen and (max-width: 767px)
			font-size: 12px
			line-height: 18px
			br
				display: none

	&-shell
		display: flex
		padding-left: 18px
		padding-right: 18px
		@media only screen and (max-width: 991px)
			display: block
			padding-left: 0
			padding-right: 0

	.btn-def
		padding: 9px 18px
		min-width: auto
		@media only screen and (max-width: 767px)
			width: auto
			min-width: auto
	&__date
		display: flex
		align-items: flex-start
		@media only screen and (max-width: 767px)
			align-items: center
		.icon
			font-size: 35px
			color: $green-light-def
			margin-right: 10px
			margin-top: 7px
			@media only screen and (max-width: 767px)
				font-size: 30px
				margin-right: 4px
		.btn-def
			margin-left: 12px
	&__address
		display: flex
		margin-left: 20px
		@media only screen and (max-width: 991px)
			margin-left: 0
		.icon
			font-size: 35px
			color: $green-light-def
			margin-right: 15px
		p
			max-width: 330px
	&__phone
		.btn-def
			padding: 10px
		.icon
			font-size: 25px
			margin-top: 17px
			color: $green-light-def
			@media only screen and (max-width: 767px)
				margin-right: 8px
			@media only screen and (min-width: 768px)
				display: none
		@media only screen and (max-width: 991px)
			display: flex
			align-items: center
			a
				flex-shrink: 0
		@media only screen and (max-width: 767px)
			font-size: 12px	
		.btn-def
			margin-top: 13px
			@media only screen and (max-width: 991px)
				margin-left: 9px
				margin-top: 0

		@media only screen and (max-width: 991px)
			br
				display: none	

.map-container
	margin-bottom: 105px

/*** .about-event-modal ***/
.about-event-modal
	.modal-dialog
		max-width: 507px
		@media only screen and (max-width: 767px)
			margin: 0
			.select2-selection__rendered
				font-size: 12px
	.modal-body
		padding-left: 40px
		padding-right: 40px
		padding-bottom: 50px
	@media only screen and (max-width: 767px)
		.modal-panel-btn
			justify-content: center
			flex-wrap: wrap
			.btn-def
				margin: 10px 0
		.btn-close-modal
			display: none
		.modal-body
			padding-left: 20px
			padding-right: 20px	
			
	.notification
		&-sent
			flex-wrap: wrap
			margin-top: 0
			margin-bottom: 0
			&__text
				color: $default-color
				font-size: 14px
				font-weight: normal
				line-height: 16px
				@media only screen and (max-width: 767px)
					font-size: 12px
				strong
					color: #0E1F38
					font-size: 14px
					font-weight: bold 
					@media only screen and (max-width: 767px)
						font-size: 12px
				p 
					margin: 0
					margin-top: 10px
					line-height: 22px
		&-form
			&.hide 
				display: none		
	form
		padding-left: 10px
		padding-right: 10px	
		@media only screen and (max-width: 767px)
			padding: 0
	input
		padding: 8px 13px	
	.form-group
		margin-bottom: 15px
		&-submit
			text-align: center
			margin-top: 30px
		&-select
			display: flex
			align-items: center
			.select2-container
				margin-bottom: 0
				@media only screen and (max-width: 767px)
					width: 125px !important
					flex-shrink: 0
			.label
				font-weight: bold
				font-size: 14px
				line-height: 16px
				flex-shrink: 0
				margin-right: 17px
				@media only screen and (max-width: 767px)
					font-size: 12px
			.icon
				width: 25px
				height: 25px
				flex-shrink: 0
				margin-left: 11px	
/*** End .about-event-modal ***/

/*** information-modal ***/
.information-modal
	font-size: 16px
	line-height: 24px
	.modal-dialog
		max-width: 770px
	.modal-body
		padding-top: 0
		padding-left: 40px
		padding-right: 40px
	.modal-panel-btn
		justify-content: center
		.btn-def
			margin: 0 5px

	@media only screen and (max-width: 767px)
		.modal-dialog
			margin: 0
		.btn-close-modal
			display: none	
		.modal-panel-btn
			.btn-def
				padding: 10px 21px
				width: auto
				&_transparent
					display: none
		.modal-body
			padding-left: 20px
			padding-right: 20px

@media only screen and (max-width: 767px)
	.modal-panel-mob--gray
		justify-content: flex-end
		padding: 12px 20px
		background: #fff
		span
			color: #A7B3BE
			height: 15px
			line-height: 15px
			display: inline-block
			font-weight: normal
			text-transform: none
		.icon
			width: 15px
			margin-right: 0
			margin-left: 6px
			font-size: 0
			path
				fill: #A7B3BE
		svg
			width: 15px
			height: 15px

.pay-modal
	.modal-body
		padding: 0	
	.modal-header
		padding: 0	
/*** End .information-modal ***/

/*** .ticket-succes-pay ***/
.ticket-succes-pay
	.top-panel
		background: #fff
		margin: 0 -45px 40px -45px
		padding-top: 40px
		@media only screen and (max-width: 767px)
			margin: 0 -20px 20px -20px
			padding: 20px 20px 0 20px

	.modal
		&-content
			background: #F2F3F4
		&-header
			padding: 0
		&-body
			padding: 0 45px 30px 45px
			@media only screen and (max-width: 767px)
				padding: 0 20px 20px 20px 
	.btn-close-modal
		@media only screen and (max-width: 767px)
			display: none		
	.notification
		&-sent
			justify-content: center
			display: flex
			margin-top: 0
			@media only screen and (max-width: 767px)
				justify-content: flex-start
				margin-bottom: 15px
			&__text
				font-size: 24px
				color: #0E1F38
				@media only screen and (max-width: 767px)
					font-size: 18px
			&__icon
				@media only screen and (max-width: 767px)
					width: 20px		
	.balance-bonus-part
		padding-bottom: 40px
		@media only screen and (max-width: 767px)
			padding-bottom: 20px
	.btn-def
		padding: 9px 19px

	&.open-share
		.review-block
			display: none
		.share-feedback
			display: block	

	.share-feedback
		display: none
		padding-bottom: 100px
		@media only screen and (max-width: 767px)
			padding-bottom: 70px
		.notification-sent
			margin-bottom: 30px
			justify-content: flex-start
			@media only screen and (max-width: 767px)
				margin-bottom: 20px
		&__description

			strong
				font-weight: bold
				font-size: 21px
				color: #000
				padding-bottom: 5px
				display: inline-block
				@media only screen and (max-width: 767px)
					font-size: 18px
			p
				margin: 0
				padding: 0 0 5px 0
			@media only screen and (max-width: 767px)
				padding-top: 20px
				border-top: solid 1px #E3E7F1		
		textarea
			height: auto
			margin: 5px 0 15px	
			@media only screen and (max-width: 991px)
				min-height: 122px

.balance-bonus
	&-part
		display: flex
		align-items: center
		justify-content: center
		.icon
			font-size: 32px
			@media only screen and (max-width: 767px)
				font-size: 21px

		@media only screen and (max-width: 767px)
			flex-wrap: wrap	
			justify-content: flex-start
	@media only screen and (max-width: 767px)
		&__btn
			width: 100%
			margin-top: 10px
	&__count
		max-width: 170px
		margin: 0 20px 0 7px
		line-height: 21px
		@media only screen and (max-width: 767px)
			font-size: 12px
			max-width: 100%
		strong
			font-size: 18px
			@media only screen and (max-width: 767px)
				font-size: 12px

.review-block
	&__btn
		text-align: center
		margin-top: 27px
		@media only screen and (max-width: 767px)
			margin-top: 15px
			text-align: left
			font-size: 12px
	&__title
		font-size: 21px
		font-weight: bold
		color: #0E1F38
		margin-bottom: 25px
		@media only screen and (max-width: 767px)
			font-size: 18px
			margin-bottom: 10px
			span
				display: block
		span
			color: $green-light-def
	ul
		margin-bottom: 20px	
	textarea
		@media only screen and (max-width: 767px)
			height: 293px
				

/*** End .ticket-succes-pay ***/

/*** .error-message ***/
.error-message
	font-weight: bold
	font-size: 14px
	line-height: 16px
	margin-bottom: 19px
	color: $error
.error-field
	input
		border-color: $error
	.select2-selection--single
		border-color: $error
.error-text
	color: $error
/*** End .error-message ***/

/*** .pay-bonus ***/
.pay-bonus
	.modal-body
		padding: 0
	.modal-dialog
		max-width: 1110px
		@media only screen and (max-width: 1199px)
			max-width: 978px
		@media only screen and (max-width: 991px)
			max-width: 95%
		@media only screen and (max-width: 767px)
			margin: 0
			max-width: 767px
					
	.modal-header
		text-align: left
		text-transform: uppercase
		padding: 30px 40px
		@media only screen and (max-width: 1199px)
			padding: 30px 20px
	.modal-title
		@media only screen and (max-width: 991px)
			font-size: 21px		
	.wrap-select
		width: 58px
		flex-shrink: 0
		padding: 0

	.select2-container--default .select2-selection--single .select2-selection__rendered
		padding-left: 6px
	.select2-container--default .select2-selection--single .select2-selection__arrow
		width: 23px	

	.select2-container--default .select2-selection--single .select2-selection__rendered
		color: $black
		font-weight: bold

	.select2-container--default
		margin-bottom: 0
	.select2-container--default .select2-selection--single .select2-selection__arrow b
		margin-right: 5px

.pay-shell
	display: flex
	form
		display: flex	
		width: 100%

@media only screen and (max-width: 767px)
	.pay-shell-desktop
		display: none

@media only screen and (min-width: 768px)
	.pay-shell-mobile
		display: none

.pay-bonus-nav	
	background: #ECEEF0
	max-width: 365px
	width: 100%
	padding: 0 0 30px 0
	@media only screen and (max-width: 767px)
		max-width: 100%
		padding-bottom: 0
	.panel-btn
		justify-content: space-between
		&-nav
			display: none
			padding-top: 0 !important
			.btn-def:last-child
				margin-right: 0
	.btn-def
		padding: 12px  10px
	.panel
		padding: 30px
		border-bottom: 1px solid #D8DEE4
		color: #A7B3BE
		@media only screen and (max-width: 767px)
			padding: 20px
			border-bottom: none
			padding-bottom: 0
		&:last-child
			border-bottom: none
		&-top
			display: flex
			align-items: center
			padding-bottom: 0
			padding-top: 0
			@media only screen and (max-width: 767px)
				justify-content: space-between
		&__title
			font-weight: bold
			font-size: 18px
			line-height: 21px
			text-transform: uppercase
			padding-bottom: 5px
		@media only screen and (max-width: 767px)
			background: #fff	


	.icon-bonuses
		font-size: 32px	
	.bonus
		&-count
			padding-top: 30px
			padding-bottom: 20px
			@media only screen and (max-width: 767px)
				padding: 18px 0
			&__icon
				display: flex
				align-items: center
				@media only screen and (max-width: 767px)
					color: $green-light-def	
				.icon
					margin-right: 5px
					@media only screen and (max-width: 767px)
						color: $green-light-def	
						font-size: 21px
			&__text
				font-size: 14px
				margin-top: 5px	
				@media only screen and (max-width: 767px)
					font-size: 12px
					margin-top: 0
			span
				font-size: 28px	
				font-weight: bold
				@media only screen and (max-width: 767px)
					font-size: 21px
	.timer
		padding: 30px 0 20px 30px
		margin-left: 50px
		border-left: solid 1px #C8CCD0
		@media only screen and (max-width: 767px)
			margin-right: 14px
			margin-left: 0
			border-left: none	
			padding: 14px 0 14px 18px		
.timer
	&-block
		font-weight: bold
		font-size: 28px
		line-height: 33px
		@media only screen and (max-width: 767px)
			font-size: 21px
	&__icon
		display: flex
		align-items: center
	.icon
		font-size: 30px
		margin-right: 5px
		@media only screen and (max-width: 767px)
			color: $green-light-def	
			font-size: 21px

.clockdiv
	display: flex
	.seconds,
	.minutes
		font-weight: bold
	i
		font-style: normal

	@media only screen and (max-width: 767px)
		color: $green-light-def	

.order
	&-wpapper
		padding-top: 15px
	&-item
		display: flex
		align-items: center
		color: #0E1F38
		padding-bottom: 20px
		&:last-child
			padding-bottom: 0
		@media only screen and (max-width: 767px)
			padding-bottom: 13px	
	&__count
		background-image: url(../img/ticket-green.png)
		background-repeat: no-repeat
		text-align: center
		width: 35px
		height: 20px
		display: flex
		align-items: center
		justify-content: center
		color: #fff
		font-size: 14px
		font-weight: bold
		margin-right: 8px
		@media only screen and (max-width: 767px)
			background-image: url(../img/ticket-white.png)
			color: #0E1F38
			width: 28px
			height: 16px
	&__delete
		border: none
		background-color: transparent
		cursor: pointer
		padding: 0
		margin-left: 16px
		@media only screen and (max-width: 767px)
			margin-left: auto
	&__inform
		@media only screen and (max-width: 767px)
			color: #fff
			font-size: 12px


/*** .order-mobile-nav ***/ 
@media only screen and (max-width: 767px)
	.order
		&-name
			font-size: 16px
			font-weight: bold
			color: #0E1F38
			margin-bottom: 10px
		&-mobile-nav
			margin-bottom: 20px
			padding: 20px
			background: #fff
			margin: 0 -20px
			.select2-container--default .select2-selection--single
				height: 35px
			.part
				display: flex
				justify-content: center
				align-items: flex-end
				.btn-def
					padding: 8px 10px
			.wrap-select
				margin-right: 20px
				&:first-child
					margin-left: 0
				&-name
					font-size: 14px
					margin-bottom: 5px
		&-wpapper
			margin-left: -20px
			margin-right: -20px
			padding: 25px 20px
			color: #fff
		&-item-btn
			justify-content: center
			padding: 25px 0
			margin: 10px -20px 0
			border-top: solid 1px #56B91A
			.btn-def
				max-width: 279px
				width: 100%

	.pay-bonus-nav 
		.panel-float
			display: none
			background: $green-light-def
			padding-top: 0
			position: fixed
			top: 114px
			width: 100%
			height: 100vh
			min-height: 100%
			border-top: 1px solid #E3E7F1
			animation: fadein ease 0.3s
			.panel__title
				padding-bottom: 10px
	.sector-prev-arrow
		opacity: 0
		display: flex
		position: absolute
		left: 0
		top: 0
		height: 39px
		width: calc(100% - 111px)
		padding-left: 20px
		padding-top: 11px
		cursor: pointer
		animation: fadein ease 0.3s
		&.show
			opacity: 1
		span
			color: $green-def
			text-transform: uppercase
			font-weight: bold
		.icon
			margin-right: 5px	
			margin-left: 0
			svg path
				fill: $green-def

	.panel.error-text
		background: transparent
		padding-left: 0
		padding-right: 0
		.panel-btn
			justify-content: center
		.btn-def
			margin-right: 12px
			max-width: 135px
			&_transparent
				color: #fff	
				border-color: rgba(255, 255, 255, .3)
				min-width: 135px
	.form-has-error
		.order-item-btn .btn-def
			opacity: .5
			pointer-events: none

	.pay-bonus-nav .error-text
		color: $error
		.icon, span, .clockdiv
			color: $error
								

.tr.selected					
	.panel-float
		display: block
		z-index: 1
@media only screen and (min-width: 768px)		
	.sector-prev-arrow
		display: none		

/*** End .order-mobile-nav ***/ 

.price-all
	color: $black

.panel-all-price
	display: flex
	justify-content: space-between
	align-items: flex-start
	border-bottom: none !important

.pay-bonus-table
	max-width: calc(100% - 365px)
	font-size: 16px
	padding-bottom: 13px
	@media only screen and (max-width: 991px)
		.table-scroll
			overflow-x: scroll
	.part
		display: flex
		align-items: center
		.btn-def
			margin-left: 35px
			opacity: 0
			padding: 10px 15px
			max-width: 146px
			width: 100%
			@media only screen and (max-width: 991px)
				opacity: 1
					
	table
		width: 100%
		min-width: 615px
		th
			font-weight: normal
			font-size: 14px
			line-height: 16px
			color: #A7B3BE
			padding: 14px 0	
			border-bottom: solid 1px #ddd
			vertical-align: top
			span
				display: block
		td
			padding: 7px 0
			border-bottom: 1px solid #E8EAED
			@media only screen and (max-width: 991px)
				font-size: 14px

		tr:last-child
			td
				border-bottom: none
	td:first-child,
	th:first-child
		width: 150px
		padding-left: 40px
		@media only screen and (max-width: 1199px)
			width: 120px
			padding-left: 20px
	td:last-child,
	th:last-child
		padding-right: 40px
		@media only screen and (max-width: 1199px)
			padding-right: 20px
			
	td:nth-child(2),
	th:nth-child(2)
		width: 130px
		@media only screen and (max-width: 1199px)
			width: 90px
	td:nth-child(3),
	th:nth-child(3)
		width: 100px
		@media only screen and (max-width: 1199px)
			width: 60px

	td:nth-child(4),
	th:nth-child(4)
		width: 90px
	tr:hover
		background: #edeef0
		.btn-def
			opacity: 1
		td
			color: $black
/*** End .pay-bonus ***/

/*** .form-has-error ***/
.form-has-error
	.panel-all-price
		opacity: .4
		pointer-events: none
	.panel-btn-nav
		display: block
/*** End .form-has-error ***/

.map-container
	.container
		@media only screen and (max-width: 767px)
			padding-left: 0
			padding-right: 0

.map
	width: 100%
	height: 627px
	@media only screen and (max-width: 767px)
		height: 346px

.pay-bonus-nav
	background: #fff
.table-mobile
	.thead
		border-top: solid 1px #E3E7F1
		.td
			font-weight: bold
			font-size: 12px
			line-height: 14px
			padding: 13px 17px 13px 12px
	.tbody
		.td
			font-size: 16px
			line-height: 19px
			padding: 20px 17px 20px 12px
		.tr
			&:nth-child(2n+1)
				background: #F8F8FB	
					
	.thead, .tbody
		.tr
			display: flex
			
		.td
			position: relative
			width: 33.33%
			border-bottom: solid 1px #E3E7F1
			border-left: solid 1px #E3E7F1
		.td:first-child
			padding-left: 20px
	.more-inform
		position: absolute
		width: 20px
		height: 20px
		right: 9px
		cursor: pointer	
		svg path
			fill: #A7B3BE