<!--_______ .page-newsletter _______-->
<div class="page-paid-services  page-newsletter page-training_1 page-training-poster_1 page-insert">
	<div class="container">
		<div class="row-wrap-main">
			<div class="col-item side-bar">
					<div class="side-bar-user side-bar-user_visitor">
						<div class="top-nav">
							<div class="user-avatar" style="background-image: url(img/user-visit.png)"></div>
							<div class="user-inform">
								<div class="user-name">
									<span>Марина</span>
									<a class="user-gear" href="#">
										<i class="icon icon-settings"></i>
									</a>
								</div>
								<div class="user-status">Посетитель событий</div>
							</div>
						</div>
	
						<ul>
							<li>
								<a href="#">
									<i class="icon icon-like"></i>
									<span>Избранное</span>
								</a>
							</li>
							<li>
								<a href="#">
									<i class="icon icon-remind"></i>
									<span>Напоминания</span>
								</a>
							</li>
							<li >
								<a href="#">
									<i class="icon icon-bonuses"></i>
									<span>Бонусы</span>
								</a>
							</li>
							<li>
								<a href="#">
									<i class="icon icon-ticket"></i>
									<span>Билеты</span>
								</a>
							</li>
							<li class='active'>
								<a href="#">
									<i class="icon icon-mail"></i>
									<span>Рассылка</span>
								</a>
							</li>
						</ul>
						
						<ul class="bottom-ul">
							<li>
								<a href="#">
									<i class="icon icon-support"></i>
									<span>Служба поддержки</span>
								</a>
							</li>
							<li>
								<a href="#">
									<i class="icon icon-exit"></i>
									<span>Выйти из кабинета</span>
								</a>
							</li>
						</ul>
					</div>
			</div>
			<div class="col-item main-content">

					<ul class="nav nav-tabs" id="myTab" role="tablist">
						<li class="nav-item">
							<a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab"
								aria-controls="home" aria-selected="false">Рассылка</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab"
								aria-controls="profile" aria-selected="true">Черный список</a>
						</li>
					</ul>
					<div class="tab-content" id="myTabContent">
						<div class="tab-pane fade  show active" id="home" role="tabpanel" aria-labelledby="home-tab">
							<div class="context-training">
								<div class="wrap-task">
									<form action="" class="wrap-form" novalidate>
										<div class="wrap-total">
											<div class="wrap-top">
												<h2>
													Периодичность
												</h2>
												<div class="form-group form-group-select">
													<select class='select'>
														<option>ежедневно</option>
														<option>2 раза в неделю</option>
														<option>1 раз в неделю</option>
														<option>2 раза в месяц</option>
														<option>раз в пол года</option>
													</select>
												</div>
												<div class="wrap-content-mob">
													<label class="container-checkbox">
														<input type="checkbox" checked="checked">
														<span class="checkmark"></span>
														<span>
															Пн
														</span>
													</label>
													<label class="container-checkbox">
														<input type="checkbox">
														<span class="checkmark"></span>
														<span>
															Вт
														</span>
													</label>
													<label class="container-checkbox">
														<input type="checkbox">
														<span class="checkmark"></span>
														<span>
															Ср
														</span>
													</label>
													<label class="container-checkbox">
														<input type="checkbox">
														<span class="checkmark"></span>
														<span>
															Чт
														</span>
													</label>
													<label class="container-checkbox">
														<input type="checkbox">
														<span class="checkmark"></span>
														<span>
															Пт
														</span>
													</label>
													<label class="container-checkbox">
														<input type="checkbox">
														<span class="checkmark"></span>
														<span>
															Сб
														</span>
													</label>
													<label class="container-checkbox">
														<input type="checkbox">
														<span class="checkmark"></span>
														<span>
															Вс
														</span>
													</label>
												</div>
											</div>
											<div class="wrap-bottom">
												<h2>
													Высылать рассылки на email
												</h2>
		
												<div class="form-group form-group-input">
													<input type="email" class="form-control" id="exampleInputEmail1"
														aria-describedby="emailHelp" placeholder="Email">
												</div>
											</div>
										</div>
										<div class="wrap-save">
											<div class="form-group form-group-submit">
												<button type="submit" class="btn-def">
													Сохранить
												</button>
											</div>
										</div>
									</form>
								</div>
							</div>
							<div class="wrap-training">
								<div class="context-training">
									<div class="wrap-task">
										<div class="wrap-filter-item">
											<h2>
												Категории событий
											</h2>
											<div class="filter-item-poster cinema">
												<div class="wrap-content-poster">
													<div class="filter-item__title-poster">
														<span class="filter-name-poster">Кино</span>

														<span class="filter-count-poster">(7)</span>
														<span class="filter-category-poster">-Детективы, Комедии, Приключен</span>
														<span class="filter-icon-poster"></span>

													</div>
													<div class="filter-item__shell-poster">
														<div class="btn-back">
															<div class="wrap-btn-back">
																<img src="img/svg/arrow-back.svg" alt="arrow-back">
																<h2>Кино</h2>
															</div>
														</div>
														<div class="wrap-content-mob">
															<label class="container-checkbox">
																<input type="checkbox" checked="checked">
																<span class="checkmark"></span>
																<span>
																	Все
																</span>
															</label>
															<label class="container-checkbox">
																<input type="checkbox">
																<span class="checkmark"></span>
																<span>
																	Биография
																</span>
															</label>
															<label class="container-checkbox">
																<input type="checkbox">
																<span class="checkmark"></span>
																<span>
																	Боевики
																</span>
															</label>
															<label class="container-checkbox">
																<input type="checkbox">
																<span class="checkmark"></span>
																<span>
																	Военные
																</span>
															</label>
															<label class="container-checkbox">
																<input type="checkbox">
																<span class="checkmark"></span>
																<span>
																	Детективы
																</span>
															</label>
															<label class="container-checkbox">
																<input type="checkbox">
																<span class="checkmark"></span>
																<span>
																	Детские
																</span>
															</label>
															<label class="container-checkbox">
																<input type="checkbox">
																<span class="checkmark"></span>
																<span>
																	Драматические
																</span>
															</label>
															<label class="container-checkbox">
																<input type="checkbox">
																<span class="checkmark"></span>
																<span>
																	Комедии
																</span>
															</label>
															<label class="container-checkbox">
																<input type="checkbox">
																<span class="checkmark"></span>
																<span>
																	Криминальные
																</span>
															</label>
															<label class="container-checkbox">
																<input type="checkbox">
																<span class="checkmark"></span>
																<span>
																	Мюзиклы
																</span>
															</label>
															<label class="container-checkbox">
																<input type="checkbox">
																<span class="checkmark"></span>
																<span>
																	Приключения
																</span>
															</label>
															<label class="container-checkbox">
																<input type="checkbox">
																<span class="checkmark"></span>
																<span>
																	Семейные
																</span>
															</label>
															<label class="container-checkbox">
																<input type="checkbox">
																<span class="checkmark"></span>
																<span>
																	Трагикомедии
																</span>
															</label>
															<label class="container-checkbox">
																<input type="checkbox">
																<span class="checkmark"></span>
																<span>
																	Триллеры
																</span>
															</label>
															<label class="container-checkbox">
																<input type="checkbox">
																<span class="checkmark"></span>
																<span>
																	Ужасы
																</span>
															</label>
															<label class="container-checkbox">
																<input type="checkbox">
																<span class="checkmark"></span>
																<span>
																	Фантастика
																</span>
															</label>
															<label class="container-checkbox">
																<input type="checkbox">
																<span class="checkmark"></span>
																<span>
																	Мелодраммы
																</span>
															</label>
															<label class="container-checkbox">
																<input type="checkbox">
																<span class="checkmark"></span>
																<span>
																	Мультфильмы
																</span>
															</label>
														</div>
													</div>
												</div>
											</div>
											<div class="filter-item-poster concert">
												<div class="wrap-content-poster">
													<div class="filter-item__title-poster">
														<span class="filter-name-poster">Концерты</span>

														<span class="filter-count-poster">(3)</span>
														<span class="filter-category-poster"> - Электронная, Танец, Юмор</span>
														<span class="filter-icon-poster"></span>

													</div>
													<div class="filter-item__shell-poster">
														<div class="btn-back">
															<div class="wrap-btn-back">
																<img src="img/svg/arrow-back.svg" alt="arrow-back">
																<h2>Концерты</h2>
															</div>
														</div>
														<div class="wrap-content-mob">
															<label class="container-checkbox">
																<input type="checkbox" checked="checked">
																<span class="checkmark"></span>
																<span>
																	Все
																</span>
															</label>
															<label class="container-checkbox">
																<input type="checkbox">
																<span class="checkmark"></span>
																<span>
																	Классика
																</span>
															</label>
															<label class="container-checkbox">
																<input type="checkbox">
																<span class="checkmark"></span>
																<span>
																	Рок
																</span>
															</label>
															<label class="container-checkbox">
																<input type="checkbox">
																<span class="checkmark"></span>
																<span>
																	Поп и эстрада
																</span>
															</label>
															<label class="container-checkbox">
																<input type="checkbox">
																<span class="checkmark"></span>
																<span>
																	Хипхоп
																</span>
															</label>
															<label class="container-checkbox">
																<input type="checkbox">
																<span class="checkmark"></span>
																<span>
																	Элекронная
																</span>
															</label>
															<label class="container-checkbox">
																<input type="checkbox">
																<span class="checkmark"></span>
																<span>
																	Шансон и романс
																</span>
															</label>
															<label class="container-checkbox">
																<input type="checkbox">
																<span class="checkmark"></span>
																<span>
																	Танец
																</span>
															</label>
															<label class="container-checkbox">
																<input type="checkbox">
																<span class="checkmark"></span>
																<span>
																	Юмор
																</span>
															</label>
															<label class="container-checkbox">
																<input type="checkbox">
																<span class="checkmark"></span>
																<span>
																	Народное искусство
																</span>
															</label>
															<label class="container-checkbox">
																<input type="checkbox">
																<span class="checkmark"></span>
																<span>
																	Творческий вечер
																</span>
															</label>
														</div>
													</div>
												</div>
											</div>
											<div class="filter-item-poster party">
												<div class="wrap-content-poster">
													<div class="filter-item__title-poster">
														<span class="filter-name-poster">Вечеринки</span>

														<span class="filter-count-poster">(0)</span>
														<span class="filter-category-poster">- не интересно</span>
														<span class="filter-icon-poster"></span>

													</div>
													<div class="filter-item__shell-poster">
														<div class="btn-back">
															<div class="wrap-btn-back">
																<img src="img/svg/arrow-back.svg" alt="arrow-back">
																<h2>Вечеринки</h2>
															</div>
														</div>
														<div class="wrap-content-mob">
															<label class="container-checkbox">
																<input type="checkbox" checked="checked">
																<span class="checkmark"></span>
																<span>
																	Все
																</span>
															</label>
															<label class="container-checkbox">
																<input type="checkbox">
																<span class="checkmark"></span>
																<span>
																	Ночные клубы
																</span>
															</label>
															<label class="container-checkbox">
																<input type="checkbox">
																<span class="checkmark"></span>
																<span>
																	Бары и лаунж-бары
																</span>
															</label>
															<label class="container-checkbox">
																<input type="checkbox">
																<span class="checkmark"></span>
																<span>
																	На отрытом воздухе
																</span>
															</label>
														</div>
													</div>
												</div>
											</div>
											<div class="filter-item-poster theater">
												<div class="wrap-content-poster">
													<div class="filter-item__title-poster">
														<span class="filter-name-poster">Театры</span>

														<span class="filter-count-poster">(1)</span>
														<span class="filter-category-poster"> - Оперетта</span>
														<span class="filter-icon-poster"></span>

													</div>
													<div class="filter-item__shell-poster">
														<div class="btn-back">
															<div class="wrap-btn-back">
																<img src="img/svg/arrow-back.svg" alt="arrow-back">
																<h2>Театры</h2>
															</div>
														</div>
														<div class="wrap-content-mob">
															<label class="container-checkbox">
																<input type="checkbox" checked="checked">
																<span class="checkmark"></span>
																<span>
																	Все
																</span>
															</label>
															<label class="container-checkbox">
																<input type="checkbox">
																<span class="checkmark"></span>
																<span>
																	Балет
																</span>
															</label>
															<label class="container-checkbox">
																<input type="checkbox">
																<span class="checkmark"></span>
																<span>
																	Детям
																</span>
															</label>
															<label class="container-checkbox">
																<input type="checkbox">
																<span class="checkmark"></span>
																<span>
																	Драма
																</span>
															</label>
															<label class="container-checkbox">
																<input type="checkbox">
																<span class="checkmark"></span>
																<span>
																	Комедия
																</span>
															</label>
															<label class="container-checkbox">
																<input type="checkbox">
																<span class="checkmark"></span>
																<span>
																	Кукольные
																</span>
															</label>
															<label class="container-checkbox">
																<input type="checkbox">
																<span class="checkmark"></span>
																<span>
																	Мюзикл
																</span>
															</label>
															<label class="container-checkbox">
																<input type="checkbox">
																<span class="checkmark"></span>
																<span>
																	Опера
																</span>
															</label>
															<label class="container-checkbox">
																<input type="checkbox">
																<span class="checkmark"></span>
																<span>
																	Оперетта
																</span>
															</label>
														</div>
													</div>
												</div>
											</div>
											<div class="filter-item-poster child">
												<div class="wrap-content-poster">
													<div class="filter-item__title-poster">
														<span class="filter-name-poster">Детям</span>

														<span class="filter-count-poster">(Все)</span>
														<span class="filter-category-poster"></span>
														<span class="filter-icon-poster"></span>

													</div>
													<div class="filter-item__shell-poster">
														<div class="btn-back">
															<div class="wrap-btn-back">
																<img src="img/svg/arrow-back.svg" alt="arrow-back">
																<h2>Детям</h2>
															</div>
														</div>
														<div class="wrap-content-mob">
															<label class="container-checkbox">
																<input type="checkbox" checked="checked">
																<span class="checkmark"></span>
																<span>
																	Все
																</span>
															</label>
															<label class="container-checkbox">
																<input type="checkbox">
																<span class="checkmark"></span>
																<span>
																	Спектакли
																</span>
															</label>
															<label class="container-checkbox">
																<input type="checkbox">
																<span class="checkmark"></span>
																<span>
																	Выставки
																</span>
															</label>
															<label class="container-checkbox">
																<input type="checkbox">
																<span class="checkmark"></span>
																<span>
																	Цирк
																</span>
															</label>
															<label class="container-checkbox">
																<input type="checkbox">
																<span class="checkmark"></span>
																<span>
																	Планетарии
																</span>
															</label>
															<label class="container-checkbox">
																<input type="checkbox">
																<span class="checkmark"></span>
																<span>
																	"Развивайки"
																</span>
															</label>
														</div>
													</div>
												</div>
											</div>
											<div class="filter-item-poster business">
												<div class="wrap-content-poster">
													<div class="filter-item__title-poster">
														<span class="filter-name-poster">Бизнес</span>

														<span class="filter-count-poster">(0)</span>
														<span class="filter-category-poster"> - не интересно</span>
														<span class="filter-icon-poster"></span>

													</div>
													<div class="filter-item__shell-poster">
														<div class="btn-back">
															<div class="wrap-btn-back">
																<img src="img/svg/arrow-back.svg" alt="arrow-back">
																<h2>Бизнес</h2>
															</div>
														</div>
														<div class="wrap-content-mob">
															<label class="container-checkbox">
																<input type="checkbox" checked="checked">
																<span class="checkmark"></span>
																<span>
																	Все
																</span>
															</label>
															<label class="container-checkbox">
																<input type="checkbox">
																<span class="checkmark"></span>
																<span>
																	Госзакупки
																</span>
															</label>
															<label class="container-checkbox">
																<input type="checkbox">
																<span class="checkmark"></span>
																<span>
																	Блокчейн и криптовалюты
																</span>
															</label>
															<label class="container-checkbox">
																<input type="checkbox">
																<span class="checkmark"></span>
																<span>
																	Налоги
																</span>
															</label>
															<label class="container-checkbox">
																<input type="checkbox">
																<span class="checkmark"></span>
																<span>
																	IT, технологии
																</span>
															</label>
															<label class="container-checkbox">
																<input type="checkbox">
																<span class="checkmark"></span>
																<span>
																	Стартапы
																</span>
															</label>
															<label class="container-checkbox">
																<input type="checkbox">
																<span class="checkmark"></span>
																<span>
																	Онлайн-бизнес
																</span>
															</label>
															<label class="container-checkbox">
																<input type="checkbox">
																<span class="checkmark"></span>
																<span>
																	Инвестиции
																</span>
															</label>
															<label class="container-checkbox">
																<input type="checkbox">
																<span class="checkmark"></span>
																<span>
																	Инновации и тренды
																</span>
															</label>
															<label class="container-checkbox">
																<input type="checkbox">
																<span class="checkmark"></span>
																<span>
																	Другое
																</span>
															</label>
														</div>
													</div>
												</div>
											</div>
											<div class="filter-item-poster sport">
												<div class="wrap-content-poster">
													<div class="filter-item__title-poster">
														<span class="filter-name-poster">Спорт</span>

														<span class="filter-count-poster">(0)</span>
														<span class="filter-category-poster"> - не интересно</span>
														<span class="filter-icon-poster"></span>

													</div>
													<div class="filter-item__shell-poster">
														<div class="btn-back">
															<div class="wrap-btn-back">
																<img src="img/svg/arrow-back.svg" alt="arrow-back">
																<h2>Спорт</h2>
															</div>
														</div>
														<div class="wrap-content-mob">
															<label class="container-checkbox">
																<input type="checkbox" checked="checked">
																<span class="checkmark"></span>
																<span>
																	Все
																</span>
															</label>
															<label class="container-checkbox">
																<input type="checkbox">
																<span class="checkmark"></span>
																<span>
																	Авто/Мото
																</span>
															</label>
															<label class="container-checkbox">
																<input type="checkbox">
																<span class="checkmark"></span>
																<span>
																	Бои (UFC/MMA/БОКС)
																</span>
															</label>
															<label class="container-checkbox">
																<input type="checkbox">
																<span class="checkmark"></span>
																<span>
																	Киберспорт
																</span>
															</label>
															<label class="container-checkbox">
																<input type="checkbox">
																<span class="checkmark"></span>
																<span>
																	Футбол
																</span>
															</label>
															<label class="container-checkbox">
																<input type="checkbox">
																<span class="checkmark"></span>
																<span>
																	Хоккей
																</span>
															</label>
														</div>
													</div>
												</div>
											</div>
											<div class="filter-item-poster leisure">
												<div class="wrap-content-poster">
													<div class="filter-item__title-poster">
														<span class="filter-name-poster">Активный отдых</span>

														<span class="filter-count-poster">(0)</span>
														<span class="filter-category-poster"> - не интересно</span>
														<span class="filter-icon-poster"></span>

													</div>
													<div class="filter-item__shell-poster">
														<div class="btn-back">
															<div class="wrap-btn-back">
																<img src="img/svg/arrow-back.svg" alt="arrow-back">
																<h2>Активный отдых</h2>
															</div>
														</div>
														<div class="wrap-content-mob">
															<label class="container-checkbox">
																<input type="checkbox" checked="checked">
																<span class="checkmark"></span>
																<span>
																	Все
																</span>
															</label>
															<label class="container-checkbox">
																<input type="checkbox">
																<span class="checkmark"></span>
																<span>
																	Сноуборд/лыжи
																</span>
															</label>
															<label class="container-checkbox">
																<input type="checkbox">
																<span class="checkmark"></span>
																<span>
																	Вейкборд
																</span>
															</label>
															<label class="container-checkbox">
																<input type="checkbox">
																<span class="checkmark"></span>
																<span>
																	Турпоходы
																</span>
															</label>
															<label class="container-checkbox">
																<input type="checkbox">
																<span class="checkmark"></span>
																<span>
																	Ледовый Каток
																</span>
															</label>
															<label class="container-checkbox">
																<input type="checkbox">
																<span class="checkmark"></span>
																<span>
																	Пейнтбол
																</span>
															</label>
															<label class="container-checkbox">
																<input type="checkbox">
																<span class="checkmark"></span>
																<span>
																	Страйкбол
																</span>
															</label>
															<label class="container-checkbox">
																<input type="checkbox">
																<span class="checkmark"></span>
																<span>
																	Лазертаг
																</span>
															</label>
															<label class="container-checkbox">
																<input type="checkbox">
																<span class="checkmark"></span>
																<span>
																	Аквапарк
																</span>
															</label>
															<label class="container-checkbox">
																<input type="checkbox">
																<span class="checkmark"></span>
																<span>
																	Бассейн
																</span>
															</label>
															<label class="container-checkbox">
																<input type="checkbox">
																<span class="checkmark"></span>
																<span>
																	Веревочный парк
																</span>
															</label>
															<label class="container-checkbox">
																<input type="checkbox">
																<span class="checkmark"></span>
																<span>
																	Батутный центр
																</span>
															</label>
															<label class="container-checkbox">
																<input type="checkbox">
																<span class="checkmark"></span>
																<span>
																	Картинг
																</span>
															</label>
															<label class="container-checkbox">
																<input type="checkbox">
																<span class="checkmark"></span>
																<span>
																	Катание на ватрушках
																</span>
															</label>
															<label class="container-checkbox">
																<input type="checkbox">
																<span class="checkmark"></span>
																<span>
																	Катание на лошадях
																</span>
															</label>
															<label class="container-checkbox">
																<input type="checkbox">
																<span class="checkmark"></span>
																<span>
																	Квадроциклы
																</span>
															</label>
															<label class="container-checkbox">
																<input type="checkbox">
																<span class="checkmark"></span>
																<span>
																	Снегоходы
																</span>
															</label>
															<label class="container-checkbox">
																<input type="checkbox">
																<span class="checkmark"></span>
																<span>
																	Полет на воздушном шаре
																</span>
															</label>
															<label class="container-checkbox">
																<input type="checkbox">
																<span class="checkmark"></span>
																<span>
																	Аэротруба
																</span>
															</label>
															<label class="container-checkbox">
																<input type="checkbox">
																<span class="checkmark"></span>
																<span>
																	Скалодром
																</span>
															</label>
															<label class="container-checkbox">
																<input type="checkbox">
																<span class="checkmark"></span>
																<span>
																	Ролледром
																</span>
															</label>
															<label class="container-checkbox">
																<input type="checkbox">
																<span class="checkmark"></span>
																<span>
																	Стрелковый тир
																</span>
															</label>
														</div>
													</div>
												</div>
											</div>
											<div class="filter-item-poster education">
												<div class="wrap-content-poster">
													<div class="filter-item__title-poster">
														<span class="filter-name-poster">Обучение</span>

														<span class="filter-count-poster">(2)</span>
														<span class="filter-category-poster"> - Духовное, Искусство</span>
														<span class="filter-icon-poster"></span>

													</div>
													<div class="filter-item__shell-poster">
														<div class="btn-back">
															<div class="wrap-btn-back">
																<img src="img/svg/arrow-back.svg" alt="arrow-back">
																<h2>Обучение</h2>
															</div>
														</div>
														<div class="wrap-content-mob">
															<label class="container-checkbox">
																<input type="checkbox" checked="checked">
																<span class="checkmark"></span>
																<span>
																	Все
																</span>
															</label>
															<label class="container-checkbox">
																<input type="checkbox">
																<span class="checkmark"></span>
																<span>
																	Бизнес
																</span>
															</label>
															<label class="container-checkbox">
																<input type="checkbox">
																<span class="checkmark"></span>
																<span>
																	Духовное
																</span>
															</label>
															<label class="container-checkbox">
																<input type="checkbox">
																<span class="checkmark"></span>
																<span>
																	Искусство
																</span>
															</label>
															<label class="container-checkbox">
																<input type="checkbox">
																<span class="checkmark"></span>
																<span>
																	IT, технологии
																</span>
															</label>
															<label class="container-checkbox">
																<input type="checkbox">
																<span class="checkmark"></span>
																<span>
																	Красота
																</span>
															</label>
															<label class="container-checkbox">
																<input type="checkbox">
																<span class="checkmark"></span>
																<span>
																	Творчество, Рукоделие
																</span>
															</label>
															<label class="container-checkbox">
																<input type="checkbox">
																<span class="checkmark"></span>
																<span>
																	Инвестиции
																</span>
															</label>
															<label class="container-checkbox">
																<input type="checkbox">
																<span class="checkmark"></span>
																<span>
																	Фитнес и здоровье
																</span>
															</label>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="sidebar-right">
									<!-- Добавить после отправки формы -->
									<!-- <div class="overlay-sidebar-right">
										<div class="wrap-overlay">
											<div class="wishes">
												<img src="img/svg/check_green.svg" alt="check_green">
												<h2>
													Сохранено
												</h2>
											</div>
											<p>
												Персональная рассылка
												и афиша обновлены
											</p>
										</div>
									</div> -->
									<div class="added">
										<h2>
											Добавленны
										</h2>
										<div class="wrap-ul">
											<h5>
												Концерты
											</h5>
											<ul>
												<li>
													<span>+</span> Шансон
												</li>
											</ul>
										</div>
										<div class="wrap-ul">
											<h5>
												Театр
											</h5>
											<ul>
												<li>
													<span>+</span> Комедия
												</li>
												<li>
													<span>+</span> Мюзикл
												</li>
											</ul>
										</div>
										<div class="wrap-ul">
											<h5>
												Детям
											</h5>
											<ul>
												<li>
													<span>+</span> все
												</li>
											</ul>
										</div>
									</div>
									<div class="removed">
										<h2>
											Убраны
										</h2>
										<div class="wrap-ul">
											<h5>
												Кино
											</h5>
											<ul>
												<li>
													<span>-</span> комедии
												</li>
												<li>
													<span>-</span> биография
												</li>
											</ul>
										</div>
										<div class="wrap-ul">
											<h5>
												Активный отдых
											</h5>
											<ul>
												<li>
													<span>-</span> лазертаг
												</li>
												<li>
													<span>-</span> снегоходы
												</li>
											</ul>
										</div>
										<div class="wrap-ul">
											<h5>
												Бизнес
											</h5>
											<ul>
												<li>
													<span>-</span> налоги
												</li>
											</ul>
										</div>
									</div>
									<div class="panel-btn">
										<div class="btn-def">
											Сохранить
										</div>
									</div>
								</div>
							</div>
							<div class="wishes">
								<h2>
									Помогите нам сделать афишу персональной для вас
								</h2>
								<div class="wrap-want">
									<!-- Добавить после отправки формы -->
									<!-- <div class="overlay-wrap-want">
										<div class="wrap-overlay">
											<div class="wishes">
												<img src="img/svg/check_green.svg" alt="check_green">
												<h2>
													Ваши пожелания отправлены. Спасибо за обратную связь!
												</h2>
											</div>
											<div class="btn-def">
												Добавить еще пожелания
											</div>
										</div>
									</div> -->

									<div class="want-more">
										<h5>
											Хочу больше
										</h5>
										<div class="wrap-selects">
											<div class="wrap-select">
												<select id='one-select' class="select">
													<option value="Кино">Кино</option>
													<option value="Концерты">Концерты</option>
													<option value="Вечеринки">Вечеринки</option>
													<option value="Театры">Театры</option>
													<option value="Детям">Детям</option>
													<option value="Бизнес">Бизнес</option>
													<option value="Спорт">Спорт</option>
													<option value="Активный отдых">Активный отдых</option>
													<option value="Обучение">Обучение</option>
												</select>
											</div>
											<div class="wrap-select">
												<select id='two-select' class="select">
													<option value="все">все</option>
													<option value="Детям">Детям</option>
													<option value="Драма">Драма</option>
													<option value="Комедия">Комедия</option>
													<option value="Кукольные">Кукольные</option>
													<option value="Мюзикл">Мюзикл</option>
													<option value="Опера">Опера</option>
													<option value="Оперетта">Оперетта</option>
												</select>
											</div>
											<div class="btn-plus js-add-item-more">
												<div class="icon icon-pluse"></div>
											</div>
										</div>
										<div class="creation"></div>
										<textarea class='form-control question-textarea' rows="2" name="text" required
											placeholder="Укажите чего вам не хватает, если этого нет в списке"></textarea>
									</div>
									<div class="want-less">
										<h5>
											Хочу меньше видеть
										</h5>
										<div class="wrap-selects">
											<div class="wrap-select">
												<select id='three-select'  class="select">
													<option value="Кино">КиноКиноКиноКиноКиноКино </option>
													<option value="Концерты">КонцертыКонцертыКонцертыКонцерты</option>
													<option value="Вечеринки">Вечеринки</option>
													<option value="Театры">Театры</option>
													<option value="Детям">Детям</option>
													<option value="Бизнес">Бизнес</option>
													<option value="Спорт">Спорт</option>
													<option value="Активный отдых">Активный отдых</option>
													<option value="Обучение">Обучение</option>
												</select>
											</div>
											<div class="wrap-select">
												<select id='fore-select'  class="select">
													<option value="все">все</option>
													<option value="Детям">ДетямДетямДетям</option>
													<option value="Драма">ДрамаДрамаДрама</option>
													<option value="Комедия">Комедия</option>
													<option value="Кукольные">Кукольные</option>
													<option value="Мюзикл">Мюзикл</option>
													<option value="Опера">Опера</option>
													<option value="Оперетта">Оперетта</option>
												</select>
											</div>
											<div class="btn-plus js-add-item-less">
												<div class="icon icon-pluse"></div>
											</div>
										</div>
										<div class="creation"></div>
										<textarea class='form-control question-textarea' rows="2" name="text" required
											placeholder="Укажите чего вам не хватает, если этого нет в списке"></textarea>
									</div>
									<div class="send-wishes">
										<div class="btn-def">
											Отправить пожелания
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
							<table class="tableSection">
								<thead>
									<th class="th_1">Дата занесения</th>
									<th class="th_2">Событие или организатор</th>
								</thead>
								<tbody>
									<tr class="grey">
										<td>
											22.01.18
										</td>
										<td>
											<div class="Left-tickets empty">
												BRANDERBAR (все события организатора)
											</div>
											<div class="icon-block-shell">
												<div class="icon-block">
													<a href="#">
														<div class="icon icon-update"></div>
													</a>
												</div>
											</div>
										</td>
									</tr>
									<tr class="grey">
										<td>
											22.01.18
										</td>
										<td>
											<div class="Left-tickets empty">
												Time-cafe (все события организатора)
											</div>
											<div class="icon-block-shell">
												<div class="icon-block">
													<a href="#">
														<div class="icon icon-update"></div>
													</a>
												</div>
											</div>
										</td>
									</tr>
									<tr class="grey">
										<td>
											21.01.18
										</td>
										<td>
											<div class="Left-tickets empty">
												Концерт - Алексей Брянцев в Уфе
											</div>
											<div class="icon-block-shell">
												<div class="icon-block">
													<a href="#">
														<div class="icon icon-update"></div>
													</a>
												</div>
											</div>
										</td>
									</tr>
									<tr class="grey">
										<td>
											20.01.18
										</td>
										<td>
											<div class="Left-tickets empty">
												Концерт - Музыка моей души
											</div>
											<div class="icon-block-shell">
												<div class="icon-block">
													<a href="#">
														<div class="icon icon-update"></div>
													</a>
												</div>
											</div>
										</td>
									</tr>
									<tr class="grey">
										<td>
											19.01.18
										</td>
										<td>
											<div class="Left-tickets empty">
												Концерт - THE RETUSES в Уфе
											</div>
											<div class="icon-block-shell">
												<div class="icon-block">
													<a href="#">
														<div class="icon icon-update"></div>
													</a>
												</div>
											</div>
										</td>
									</tr>
									<tr class="grey">
										<td>
											19.01.18
										</td>
										<td>
											<div class="Left-tickets empty">
												Steam CLub (все события организатора)
											</div>
											<div class="icon-block-shell">
												<div class="icon-block">
													<a href="#">
														<div class="icon icon-update"></div>
													</a>
												</div>
											</div>
										</td>
									</tr>
									<tr class="grey">
										<td>
											17.01.18
										</td>
										<td>
											<div class="Left-tickets empty">
												Ufavolley (все события организатора)
											</div>
											<div class="icon-block-shell">
												<div class="icon-block">
													<a href="#">
														<div class="icon icon-update"></div>
													</a>
												</div>
											</div>
										</td>
									</tr>
									<tr class="grey">
										<td>
											17.01.18
										</td>
										<td>
											<div class="Left-tickets empty">
												Концерт - Женя Любич
											</div>
											<div class="icon-block-shell">
												<div class="icon-block">
													<a href="#">
														 <div class="icon icon-update"></div>
													</a>
												</div>
											</div>
										</td>
									</tr>
								</tbody>
							</table>
							<div class="mobSection">
								<ul>
									<li class="event-item">
										<div class="event-inform event-inform-short">
											<div class="event-part">
												<div class="event-icon"><img src="img/event/event_5.jpg" alt="event_5"></div>
												<div class="event-text">
													<div class="event-date">Внесено 19 октября</div>
													<div class="event-top-text">BRANDERBAR (все события организатора) </div>
												</div>
											</div>
										</div>
										<div class="event-renew">
											<a href="#">
												<div class="icon icon-update"></div>
											</a>
										</div>
									</li>
									<li class="event-item">
										<div class="event-inform event-inform-short">
											<div class="event-part">
												<div class="event-icon"><img src="img/event/event_6.jpg" alt="event_6"></div>
												<div class="event-text">
													<div class="event-date">Внесено 21 февраля </div>
													<div class="event-top-text">Time-cafe (все события организатора) </div>
												</div>
											</div>
										</div>
										<div class="event-renew">
											<a href="#">
												<div class="icon icon-update"></div>
											</a>
										</div>
									</li>
									<li class="event-item">
										<div class="event-inform event-inform-short">
											<div class="event-part">
												<div class="event-icon"><img src="img/event/event_7.jpg" alt="event_7"></div>
												<div class="event-text">
													<div class="event-date">Внесено 08 января </div>
													<div class="event-top-text">Концерт - Алексей Брянцев в Уфе</div>
												</div>
											</div>
										</div>
										<div class="event-renew">
											<a href="#">
												<div class="icon icon-update"></div>
											</a>
										</div>
									</li>
									<li class="event-item">
										<div class="event-inform event-inform-short">
											<div class="event-part">
												<div class="event-icon"><img src="img/event/event_8.jpg" alt="event_8"></div>
												<div class="event-text">
													<div class="event-date">Внесено 23 января</div>
													<div class="event-top-text">Концерт - Музыка моей души</div>
												</div>
											</div>
										</div>
										<div class="event-renew">
											<a href="#">
												<div class="icon icon-update"></div>
											</a>
										</div>
									</li>
									<li class="event-item">
										<div class="event-inform event-inform-short">
											<div class="event-part">
												<div class="event-icon"><img src="img/event/event_9.jpg" alt="event_9"></div>
												<div class="event-text">
													<div class="event-date">Внесено 08 января </div>
													<div class="event-top-text">Концерт - THE RETUSES в Уфе </div>
												</div>
											</div>
										</div>
										<div class="event-renew">
											<a href="#">
												<div class="icon icon-update"></div>
											</a>
										</div>
									</li>
									<li class="event-item">
										<div class="event-inform event-inform-short">
											<div class="event-part">
												<div class="event-icon"><img src="img/event/event_5.jpg" alt="event_5"></div>
												<div class="event-text">
													<div class="event-date">Внесено 23 января </div>
													<div class="event-top-text">Steam CLub (все события организатора) </div>
												</div>
											</div>
										</div>
										<div class="event-renew">
											<a href="#">
												<div class="icon icon-update"></div>
											</a>
										</div>
									</li>
								</ul>
							</div>
						</div>
					</div>
			</div>
		</div>
	</div>
</div>
<!--_______ End.page-newsletter _______-->