// .page-newsletter
.page-newsletter
	.main-content
		padding-top: 29px
		@media only screen and (max-width: 767px)
			padding-top: 20px
	.tab-content
		@media only screen and (max-width: 767px)
			margin: 0 -20px
	.wrap-task
		padding: 0
		background: #fff
		// border-bottom: 1px solid #E3E7F1	
		.wrap-form
			padding: 0
			display: flex
			justify-content: space-between
			.wrap-total
				display: flex
				flex-direction: column
				@media (min-width: 992px) and (max-width: 1126px)
					width: 100%
				@media only screen and (max-width: 872px)
					width: 100%
			.wrap-top
				display: flex
				align-items: center
				border-bottom: 1px solid #E3E7F1
				padding: 17px 13px 16px 18px
				@media only screen and (max-width: 767px)
					padding: 21px 13px 5px 20px
					display: block
					border-bottom: 0
				h2
					padding: 0
					margin: 0 0 10px
					font-weight: bold
					font-size: 14px
					line-height: 16px
					color: #6C7583
				.form-group-select
					margin: 0
					margin-left: 10px
					@media only screen and (max-width: 767px)
						margin-left: 0	
				.wrap-content-mob
					display: flex
					padding-left: 15px
					@media only screen and (max-width: 767px)
						display: block
						padding-left: 0
						padding-top: 4px
					.container-checkbox
						padding-left: 22px
						margin-top: 10px
						margin-bottom: 10px
						margin-right: 18px
						&:last-child
							margin-right: 0

			.wrap-bottom
				display: flex
				align-items: center
				padding: 17px 13px 21px 18px
				@media only screen and (max-width: 767px)
					display: block
					padding: 10px 13px 21px 18px
				h2
					padding: 0
					margin: 0
					font-weight: bold
					font-size: 14px
					line-height: 16px
					color: #6C7583
					margin-right: 12px
					margin-bottom: 10px
				.form-group-input
					margin: 0
					max-width: 287px
			.wrap-save
				align-items: center
				display: flex
				flex: 1 0 0
				justify-content: center
				border-left: 1px solid #E3E7F1
				@media only screen and (max-width: 767px)
					border: 0
				.form-group-submit
					margin-bottom: 0
					padding: 20px 5px
					@media only screen and (max-width: 767px)
						flex: none
						padding: 0px 5px 32px
					.btn-def																
						padding: 9px 13px 8px
	.wrap-training
		// border-top: 1px solid #E3E7F1
		margin-top: 0
		box-shadow: none
		background: none
		border-radius: 0
		@media only screen and (max-width: 767px)
			display: block
	.sidebar-right
		background: #F7F7F8
		border: 1px solid #E3E7F1
		flex: 0 0 169px
		position: relative
		@media only screen and (max-width: 767px)
			flex: 0 0 auto
			display: flex
			flex-wrap: wrap
			background: #fff
		.overlay-sidebar-right
			position: absolute
			top: 0
			left: 0
			bottom: 0
			right: 0
			background: #fff
			z-index: 1
			display: flex
			flex-direction: column
			align-items: center
			justify-content: center
			.wrap-overlay
				height: 100%
				padding: 28px 20px
				.wishes
					display: flex
					align-items: center
					justify-content: flex-start

					img
						width: 20px
						height: 15px
					h2
						padding: 0
						margin: 0 0 0 7px
				p
					padding-top: 17px
					font-weight: normal
					font-size: 14px
					line-height: 16px
					color: #6C7583


	.wrap-filter-item
		border-top: 1px solid #E3E7F1
		padding: 17px 14px 21px 19px
		@media only screen and (max-width: 767px)
			padding: 17px 0 0
		h2
			display: none
			@media only screen and (max-width: 767px)
				display: block
				font-weight: bold
				font-size: 14px
				line-height: 16px
				color: #6C7583
				padding: 23px 20px 0
				margin-bottom: 6px			

	.added
		padding: 34px 24px 24px 26px
		@media only screen and (max-width: 767px)
			width: 50%
			padding: 24px 20px 15px

		h2
			font-weight: bold
			font-size: 18px
			line-height: 21px
			color: #69C530
			padding: 0
			margin: 0
			text-align: center
			@media only screen and (max-width: 767px)
				font-weight: bold
				font-size: 14px
				line-height: 16px
				color: #69C530
				text-align: left
				margin-bottom: -8px
		.wrap-ul
			h5
				font-weight: bold
				font-size: 14px
				line-height: 16px
				color: #6C7583
				@media only screen and (max-width: 767px)
					padding-top: 21px
					margin-bottom: 3px
					font-size: 12px
					line-height: 14px					
			li
				font-weight: normal
				font-size: 14px
				line-height: 16px
				color: #6C7583
				@media only screen and (max-width: 767px)
					font-size: 12px
					line-height: 19px
				span
					font-weight: bold
					color: $green-light-def
	.removed
		padding: 34px 24px 24px 26px
		border-top: 1px solid #EAEAEA
		@media only screen and (max-width: 767px)
			width: 50%
			padding: 24px 20px 15px
			border-top: 0
			border-left: 1px solid #E3E7F1
		h2
			font-weight: bold
			font-size: 18px
			line-height: 21px
			color: $error
			padding: 0
			margin: 0
			text-align: center
			@media only screen and (max-width: 767px)
				font-weight: bold
				font-size: 14px
				line-height: 16px
				text-align: left
				margin-bottom: -12px
		.wrap-ul
			h5
				font-weight: bold
				font-size: 14px
				line-height: 16px
				color: #6C7583
				@media only screen and (max-width: 767px)
					padding-top: 21px
					margin-bottom: 3px
					font-size: 12px
					line-height: 14px
			li
				font-weight: normal
				font-size: 14px
				line-height: 16px
				color: #6C7583
				@media only screen and (max-width: 767px)
					line-height: 19px
				span
					font-weight: bold
					color: $error
	.btn-plus
		width: 30px
		height: 30px
		display: flex
		align-items: center
		justify-content: center
		border-radius: 50%
		background: $green-light-def
		cursor: pointer
		flex: 0 0 auto
		margin-left: 9px
		@media only screen and (max-width: 767px)
			width: 25px
			height: 25px
		img
			width: 12px
			height: 12px
		&:hover
			background: $green-def
		.icon
			color: #fff					
	.panel-btn
		border-top: 1px solid #EAEAEA
		@media only screen and (max-width: 767px)
			width: 100%
			flex: 0 0 auto
			padding: 20px 10px 21px
		.btn-def
			margin: 0 auto
			padding: 9px 13px 8px
			@media only screen and (max-width: 767px)
				padding: 9px 26px 8px
				width: auto				
	
	.wrap-btn-back
		@media screen and (max-width: 767px)
			display: flex
			align-items: center
			padding: 16px 0 15px
			padding: 0
			flex-wrap: wrap
	.btn-back
		@media screen and (max-width: 767px)
			display: flex
			align-items: center
			width: 100%
			padding-top: 14px
			padding-bottom: 10px
		.icon-arrow-left
			@media screen and (max-width: 767px)
				font-size: 22px
				color: $black
				padding-right: 15px
				font-size: 12px
				color: $green-def
				padding-right: 3px
		span
			@media screen and (max-width: 767px)
				font-weight: bold
				font-size: 14px
				line-height: 21px
				color: #0E1F38
				font-size: 12px
				line-height: 14px
				color: $green-def
	.filter-item__shell-poster
		top: 0
		height: 100%
		.wrap-btn-back
			@media screen and (max-width: 767px)
				margin: 0 20px
			h2
				margin: 0
				padding: 0 0 0 5px
				color: $green-def
	table			
		&.tableSection
			@media screen and (max-width: 767px)
				display: none
			.th_1 
				width: 17%
				padding: 21px 10px 15px
				background-color: #fff
			.th_2
				width: 76%
				padding: 21px 10px 15px
				background-color: #fff
			tr
				&:nth-child(odd)
    				background-color: #fff
				&:nth-child(even)
			   		background-color: #FAFAFA							
				td
					font-size: 14px
					line-height: 16px
					padding: 18px 24px
					&:first-child,
					&:last-child
						font-size: 14px
						line-height: 16px
						padding: 18px 24px 19px
				
			th
				&:not(:last-child)
					border-right: 1px solid #E6E6EA
			td
				&:first-child
					border-right: 1px solid #E6E6EA
			.icon-block-shell
				.icon-block
					&:hover
						cursor: pointer 
						& .icon::before
							color: #fff

					.icon
						font-size: 18px
					a
						&:last-child
							margin-right: 25px
						&:first-child
							margin-left: 25px
	.event-item
		@media only screen and (max-width: 767px)
	    	padding: 0 20px
		.event-inform
			@media only screen and (max-width: 767px)
				padding-right: 20px		
	.event-part
		@media only screen and (max-width: 767px)
			padding-top: 20px
			padding-bottom: 19px
	.event-text
		@media only screen and (max-width: 767px)
			justify-content: flex-start
	.event-date
		@media only screen and (max-width: 767px)
			font-weight: normal
			font-size: 12px
			line-height: 14px
			color: #A7B3BE
	.event-top-text
		@media only screen and (max-width: 767px)
			font-weight: bold
			font-size: 12px
			line-height: 14px
			color: #0E1F38
	.event-renew
		position: absolute
		top: 50%
		right: 20px
		transform: translate(0, -50%)
		.icon
			font-size: 18px
			color: $green-light-def
	.mobSection
		margin: 0
		padding: 		
				 			
.wrap-want
	display: flex
	flex-wrap: wrap
	border-bottom: 1px solid #EAEAEA
	position: relative
	@media only screen and (max-width: 767px)
		display: block
	.wrap-selects
		display: flex
		justify-content: space-between
		@media only screen and (max-width: 767px)
			align-items: center
		.wrap-select
			width: 100%
			max-width: 155px
			@media only screen and (max-width: 450px)
				max-width: 123px
			&:not(:first-child)
				padding-left: 20px
				@media only screen and (max-width: 767px)
					padding-left: 10px
			.select2
				margin-bottom: 0

	.want-more
		width: 50%
		background: #fff
		padding: 31px 20px 26px
		@media only screen and (max-width: 767px)
			width: 100%
			padding: 16px 20px 0
		h5
			font-weight: bold
			font-size: 14px
			line-height: 16px
			color: $green-light-def
			margin: 0 0 8px
			padding: 0
			@media only screen and (max-width: 767px)
				margin: 0 0 15px
	.want-less
		padding: 31px 28px 26px
		width: 50%
		background: #fff
		border-left: 1px solid #EAEAEA
		@media only screen and (max-width: 767px)
			width: 100%
			padding: 40px 20px 0
		h5
			font-weight: bold
			font-size: 14px
			line-height: 16px
			color: $error
			margin: 0 0 8px
			padding: 0
			@media only screen and (max-width: 767px)
				margin: 0 0 15px

	.question-textarea
		height: auto
		min-height: 122px
		font-size: 14px
		line-height: 21px
		color: $black
		padding: 19px
		@media only screen and (max-width: 767px)
			min-height: 53px
			font-size: 12px
			line-height: 16px
			padding: 9px 11px
		&::placeholder
			color: #A7B3BE
	.creation
		display: flex
		flex-wrap: wrap
		padding-top: 11px
		padding-bottom: 5px
		@media only screen and (max-width: 767px)
			padding-top: 12px
		.item
			background: #F4F5F9
			border-radius: 25px
			padding: 7px 15px
			display: flex
			align-items: center
			justify-content: center
			margin-bottom: 16px
			margin-right: 10px
			cursor: pointer
			@media only screen and (max-width: 767px)
				margin-bottom: 10px
			.first,
			.next
				font-weight: normal
				font-size: 14px
				line-height: 21px
				color: #6C7583
				@media only screen and (max-width: 767px)
					font-size: 10px
					line-height: 15px
			.del-item
				display: flex
				align-items: center
				width: 12px
				height: 12px
				margin-left: 10px
				color: #A7B3BE	
				@media only screen and (max-width: 767px)
					width: 9px
					height: 8px
			&:hover
				.first,
				.next 
					color: #0e1f38
					cursor: pointer
				.del-item
					.icon
						color: $error					
					

							
	.overlay-wrap-want
		position: absolute
		top: 0
		left: 0
		bottom: 0
		right: 0
		background: #fff
		z-index: 1
		.wrap-overlay
			display: flex
			flex-direction: column
			align-items: center
			justify-content: center
			height: 100%
			.wishes
				display: flex
				align-items: center
				justify-content: center
				@media only screen and (max-width: 767px)
					padding: 0 20px
				img
					width: 20px
					height: 15px
				h2
					padding: 0
					margin: 0 0 0 12px
			.btn-def
				margin-top: 21px
				padding: 9px 35px 8px			
.select2
	width: 100%
	max-width: 100%
	.select2-selection--single
		.select2-selection__rendered
			padding-left: 14px
			white-space: nowrap
			overflow: hidden
			text-overflow: ellipsis
			@media only screen and (max-width: 767px)
				padding-left: 10px
				line-height: 30px
.select2-container--open
	.select2-results
		.select2-results__options
			li
				white-space: nowrap
				overflow: hidden
				text-overflow: ellipsis
.select2-container--default
	.select2-results__option[aria-selected=true]:after
		right: 1px
	.select2-results__option--highlighted[aria-selected]
		background-color: tranparent !important							
.wishes
	@media only screen and (max-width: 767px)
		background: #fff
	h2
		font-weight: bold
		font-size: 18px
		line-height: 21px
		color: #0E1F38
		padding-top: 49px
		margin-bottom: 14px
		@media only screen and (max-width: 767px)
			font-size: 14px
			line-height: 16px
			padding: 18px 20px
		@media only screen and (max-width: 767px)
			padding: 39px 20px 5px
			margin-bottom: 0		
.send-wishes
	padding: 35px 0
	border-top: 1px solid #E3E7F1
	background: #FFFFFF
	box-shadow: 0px 2px 2px #E0E0E3
	display: flex			
	justify-content: center
	width: 100%
	@media only screen and (max-width: 767px)
		padding: 23px 0 20px
		border: 0
	.btn-def
		padding: 9px 20px 8px
		@media only screen and (max-width: 767px)
			padding: 9px 32px 8px

// /*End_.page-newsletter*/