// .page-create-new-event-step3_view_ticket
.view-ticket
	@media screen and (max-width: 767px)
		padding-right: 0 !important
	.modal-dialog
		max-width: 850px
		@media screen and (max-width: 895px)
			max-width: 100%
			margin: 22px
		@media screen and (max-width: 767px)
			margin: 0
		.modal-content
			.wrap-mfp-close
				display: none
				@media screen and (max-width: 767px)
					display: block
					width: 100%
					height: 40px
					border-bottom: 1px solid #E3E7F1
				.mfp-close
					display: flex
					justify-content: center
					align-items: center
					font-size: 12px
					color: #A7B3BE
					width: auto
					height: 40px	
					position: absolute
					right: 20px
					top: 0
					opacity: 1
					padding: 0
					font-family: $default-font
					cursor: pointer

					.close-castom-mob
						width: 15px
						height: 15px
						border-radius: 0
						border: none
						display: flex
						position: relative
						margin-left: 6px
						right: 0
						left: auto
						opacity: 1
						color: #A7B3BE
						background: url(../img/svg/close-datepicker.svg) no-repeat center
						background-size: cover
						background-color: transparent
						z-index: 1
						cursor: pointer
						transition: opacity .3s ease-in-out
					// img
					// 	margin-left: 10px
					// 	z-index: -1
					@media screen and (min-width: 768px)
						display: none
				.wrap-btn-back
					display: inline-block
					height: 100%
					padding-left: 19px
					cursor: pointer
					.btn-back
						display: flex
						align-items: center
						height: 100%
						img
							padding-right: 4px
						span
							font-weight: bold
							font-size: 12px
							line-height: 14px
							text-transform: uppercase
							color: #1C8D00 !important
							background: transparent !important

			.modal-header
				padding: 40px 50px 10px
				background: #E8E9EC
				font-size: 14px
				line-height: 25px
				color: #6C7583
				text-align: left
				@media screen and (max-width: 767px)
					display: none
				.top-p
					margin-bottom: 24px
				p
					margin-bottom: 0
				a
					text-decoration: underline
				.close-castom
					width: 30px
					height: 30px
					border-radius: 50%
					border: none
					display: flex
					position: absolute
					right: -15px
					top: -16px
					left: auto
					opacity: 1
					color: #6C7583
					background: #fff url(../img/svg/close.svg) no-repeat center
					z-index: 1
					cursor: pointer
					transition: opacity .3s ease-in-out
					@media (max-width: 767px)
						display: none
			.liks-events
				padding: 19px 50px
				border-bottom: 1px solid #E3E7F1
				display: flex
				align-items: center
				@media screen and (max-width: 767px)
					padding: 19px 20px
					justify-content: space-between
					align-items: stretch
					background: #f4f4f5
				a
					margin-right: 23px
					display: flex
					align-items: center
					@media screen and (max-width: 767px)
						margin-right: 0
						box-sizing: border-box
						width: calc(1/2*100% - (1 - 1/2)*10px)
					img
						margin-right: 2px
						@media screen and (max-width: 767px)
							margin-right: 9px
				.download,
				.direct,
				.print
					i
						color: $green-light-def
						margin-right: 7px
						@media screen and (max-width: 767px)
							margin-right: 10px
					@media screen and (max-width: 767px)
						background: #FFFFFF
						box-shadow: 0px 2px 2px #E0E0E3
						border-radius: 3px
						font-size: 12px
						line-height: 14px
						color: $black
						padding: 12px 10px 14px 15px
						display: flex
						align-items: center
				.download
					i
						font-size: 24px
				.direct
					i
						font-size: 17px
						@media screen and (max-width: 767px)
							margin-right: 6px
							font-size: 21px
					@media screen and (max-width: 767px)
						padding: 11px 10px 11px 13px
				.print
					i
						font-size: 23px
					@media screen and (max-width: 767px)
						display: none
			.modal-body
				padding: 0
// END.page-create-new-event-step3_view_ticket