// .page-client-base
.page-client-base
	.side-bar-user
		ul
			.add-event
				display: none
	.wrap-top-select
		display: none !important
		@media only screen and (max-width: 767px)
			display: block !important
	.event-text
		justify-content: flex-start
		.event-status
			display: none
		.event-top-text
			font-weight: normal
			@media only screen and (max-width: 767px)
				font-weight: bold

	table
		&.tableSection
			.th_1
				width: 45%
			.th_2
				width: 26%
			.th_3
				width: 33%
				@media only screen and (max-width: 1080px)
					display: flex
					width: 100%
					height: 62px
					align-items: center
					font-size: 12px
					line-height: 14px
			th:last-child
				padding-right: 147px
				padding-left: 20px
				@media only screen and (max-width: 1080px)
					padding-right: 5px
			.icon-block-shell
				.icon-block
					font-family: Roboto
					font-style: normal
					font-weight: bold
					font-size: 14px
					line-height: 16px
					color: #FFFFFF
					background: transparent
					a
						background: #fff
						margin-right: 14px
						&:last-child
							margin-right: 21px
					.btn-def
						padding: 10px 9px 8px
			.Left-tickets
				padding-left: 15px
	.pagination
		display: none
	.main-content
		.wrap-select
			@media only screen and (max-width: 767px)
				display: block	
		.wrap-top-select
			@media only screen and (max-width: 767px)
				margin: -12px -20px -12px
				padding: 20px 20px 0
				background: #fff
			h5
				@media only screen and (max-width: 767px)
					margin: 0
					padding: 0
					width: 100%
					padding-bottom: 20px
	.select2
		margin-bottom: 11px
		.select2-selection--single
			.select2-selection__rendered
				line-height: 30px
				padding-left: 12px
				font-size: 12px
	.number-clients
		display: none
		font-size: 12px
		line-height: 18px
		color: #6C7583
		span
			color: $green-light-def

		@media only screen and (max-width: 767px)
			display: block
	.event-description
		display: none


// /*End_page-client-base*/


