<div class="page-registration">
	<div class="container">
		<div class="wrap-form-registration">
			<div class="registration">
				<h5>
					Регистрация
				</h5>
				<nav>
					<div class="nav nav-tabs" id="nav-tab" role="tablist">
						<a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Посетитель</a>
						<a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Организатор</a>
					</div>
				</nav>
				<div class="tab-content" id="nav-tabContent">
					<div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
					<!-- ---step_1--- -->
						<!-- <div class="social-signIn">
							<h6>
								Зарегистрироваться через соц.сети
							</h6>
							<ul>
								<li>
									<a class='social-signIn-vk'	href="#">
										<i class="icon-vk"></i>
									</a>
								</li>
								<li>
									<a class='social-signIn-f' href="#">
										<i class="icon-facebook"></i>
									</a>
								</li>
								<li>
									<a class='social-signIn-g' href="#">
										<i class="icon-google-plus"></i>
									</a>
								</li>
							</ul>
						</div>
						<form class="needs-validation" novalidate>
							<div class="form-group">
								<input type="email" class="form-control" id="validationCustom03" aria-describedby="emailHelp" placeholder="Email или телефон" required>
								<div class="invalid-feedback">
									Неправильно введен email, телефон или пароль
								</div>
							</div>
							<div class="form-group">
								<input type="password" class="form-control" id="validationCustom01" placeholder="Пароль" required>
							</div>
							<div class="form-group">
								<button type="submit" class="btn-def btn-registration">Зарегистрироваться</button>
							</div>
						</form>  -->
					<!-- ---END step_1--- -->

					<!-- --- step_2--- -->
						<!-- <div class="share-item">
							<div class="share-item__top-title">
								На ваш email testmail@yandex.ru отправлено письмо, <span> откройте его и подтвердите регистрацию. </span>
							</div>
							<div class="share-item__title">Перейти в почту</div>
							<div class="share-item-mail">
								<div class="item">
									<a href="#"><img src="img/svg/mail-ya.svg" alt=""></a>
								</div>
								<div class="item">
									<a href="#"><img src="img/svg/mail-ru.svg" alt=""></a>
								</div>
								<div class="item">
									<a href="#"><img src="img/svg/mail-g.svg" alt=""></a>
								</div>
							</div>
						</div> -->
					<!-- ---END step_2--- -->
					<!-- --- step_3--- -->
						<div class="share-item-code">
							<div class="share-item__top-tel">
								На ваш номер +7 937 144 23 29<br>
								отправлена sms c кодом подтверждения, <span>введите код</span>
							</div>
							<form class='code' class="needs-validation" novalidate>
								<div class="form-group">
									<input type="password" class="form-control" id="validationCustom02" placeholder="******" required>
								</div>
								<div class="form-group">
									<button type="submit" class="btn-def btn-registration">Завершить регистрацию</button>
								</div>
							</form>
						</div>
					<!-- ---END step_3--- -->
						<div class="registration-link">
							<a href="#">
								Восстановить пароль
							</a>
							<a href="#">
								Войти
							</a>
						</div>
					</div>
					<div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
						<div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
						<!-- ---step_1--- -->
							<div class="social-signIn">
								<h6>
									Зарегистрироваться через соц.сети
								</h6>
								<ul>
									<li>
										<a class='social-signIn-vk'	href="#">
											<i class="icon-vk"></i>
										</a>
									</li>
									<li>
										<a class='social-signIn-f' href="#">
											<i class="icon-facebook"></i>
										</a>
									</li>
									<li>
										<a class='social-signIn-g' href="#">
											<i class="icon-google-plus"></i>
										</a>
									</li>
								</ul>
							</div>
							<form class="needs-validation" novalidate>
								<div class="form-group">
									<input type="email" class="form-control" id="validationCustom03" aria-describedby="emailHelp" placeholder="Email или телефон" required>
									<div class="invalid-feedback">
										Неправильно введен email, телефон или пароль
									</div>
								</div>
								<div class="form-group">
									<input type="password" class="form-control" id="validationCustom033" placeholder="Пароль" required>
								</div>
								<div class="form-group">
									<button type="submit" class="btn-def btn-registration">Зарегистрироваться</button>
								</div>
							</form> 
						<!-- ---END step_1--- -->
	
						<!-- --- step_2--- -->
							<!-- <div class="share-item">
								<div class="share-item__top-title">
									На ваш email testmail@yandex.ru отправлено письмо, <span> откройте его и подтвердите регистрацию. </span>
								</div>
								<div class="share-item__title">Перейти в почту</div>
								<div class="share-item-mail">
									<div class="item">
										<a href="#"><img src="img/svg/mail-ya.svg" alt=""></a>
									</div>
									<div class="item">
										<a href="#"><img src="img/svg/mail-ru.svg" alt=""></a>
									</div>
									<div class="item">
										<a href="#"><img src="img/svg/mail-g.svg" alt=""></a>
									</div>
								</div>
							</div> -->
						<!-- ---END step_2--- -->
						<!-- --- step_3--- -->
						<!-- <div class="share-item-code">
							<div class="share-item__top-tel">
								На ваш номер +7 937 144 23 29<br>
								отправлена sms c кодом подтверждения, <span>введите код</span>
							</div>
							<form class='code' class="needs-validation" novalidate>
								<div class="form-group">
									<input type="password" class="form-control" id="validationCustom04" placeholder="******" required>
								</div>
								<div class="form-group">
									<button type="submit" class="btn-def btn-registration">Завершить регистрацию</button>
								</div>
							</form>
						</div> -->
						<!-- ---END step_3--- -->
						<div class="registration-link">
							<a href="#">
								Восстановить пароль
							</a>
							<a href="#">
								Войти
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>