<!--_______ .page-create-new-event-step3 _______-->
<div class="page-create-new-event-step1 page-create-new-event-step2 page-create-new-event-step3 page-insert">
	<div class="container">
		<div class="row-wrap-main">
			<div class="col-item side-bar">
				<div class="side-bar-user">
					<div class="top-nav">
						<div class="user-avatar" style="background-image: url(img/user-avatar.jpg)"></div>
						<div class="user-inform">
							<div class="user-name">
								<span>Вячеслав</span>
								<a class="user-gear" href="#">
									<i class="icon icon-settings"></i>
								</a>
							</div>
							<div class="user-status">Организатор</div>
						</div>
					</div>

					<ul>
						<li  class="active">
							<a href="#">
								<i class="icon icon-developments"></i>
								<span>
									События и статистика
								</span>
							</a>
						</li>
						<li>
							<a href="#">
								<i class="icon icon-bd"></i>
								<span>База клиентов</span>
							</a>
						</li>
						<li>
							<a href="#">
								<i class="icon icon-ticket"></i>
								<span>Проверка билетов</span>
							</a>
						</li>
						<li>
							<a href="#">
								<i class="icon icon-paid--services"></i>
								<span>Платные услуги</span>
							</a>
						</li>
					</ul>
					
					<ul>
						<li>
							<a href="#">
								<i class="icon icon-support"></i>
								<span>
									Служба поддержки
								</span>
							</a>
						</li>
						<li>
							<a href="#">
								<i class="icon icon-exit"></i>
								<span>Выйти из кабинета</span>
							</a>
						</li>
					</ul>
				</div>
			</div>
			<div class="col-item main-content">
				<a href="#" class="btn-back">
					<div class="wrap-btn-back">
						<img src="img/svg/arrow-back.svg" alt="arrow-back">
						<span>Шаг 2 (Билеты и цены)</span>
					</div>
				</a>
				<div class="steps">
					<div class="wrap-steps">
						<a href="#" class="step early">
							<div class="die">
								<p>
									1
								</p>
							</div>
							<h5>
								Основная информация
							</h5>
						</a>
					</div>
					<div class="wrap-steps">
						<a href="#" class="step early">
							<div class="die">
								<p>
									2
								</p>
							</div>
							<h5>
								Билеты и цены
							</h5>
						</a>
					</div>
					<div class="wrap-steps">
						<a href="#" class="step active">
							<div class="die">
								<p>
									3
								</p>
							</div>
							<h5>
								Предпросмотр
							</h5>
						</a>
					</div>
				</div>
				<form action="" class='basic-information' novalidate>
					<div class="wrap-event-preview">
						<div class="steps steps-mob">
							<div class="wrap-steps">
								<div class="step">
									<div class="die">
										<p>
											1
										</p>
									</div>
									<h5>
										Основная информация
									</h5>
								</div>
							</div>
							<div class="wrap-steps">
								<div class="step">
									<div class="die">
										<p>
											2
										</p>
									</div>
									<h5>
										Билеты и цены
									</h5>
								</div>
							</div>
							<div class="wrap-steps">
								<div class="step active">
									<div class="die">
										<p>
											3
										</p>
									</div>
									<h5>
										Предпросмотр
									</h5>
								</div>
							</div>
						</div>
						<div class="wrap-item">
							<div class="item event-preview">
								<p class="p-item">
									Перед публикацией убедитесь что вы заполнили всю информацию правильно
								</p>
								<div class="wrap-img">
										<!-- style="background-image: url(img/event-preview-img.jpg)" -->
									<a href="#" class="overlay-img">
										<i class="icon icon-show-2 center"></i>
										<span>Событие</span>
									</a>
									<img src="img/event-preview-img.jpg" alt="">
								</div>
							</div>
							<div class="item applied-services">
								<h5>
									Примененные услуги (оплачено):
								</h5>
								<ul>
									<li class="active">
										<p>
											Реферальная программа
										</p>
									</li>
									<li class="active">
										<p>
											Выделение события цветом
										</p>
									</li>
									<li>
										<p>
											Закрепление в каталоге в ТОП-3
										</p>
									</li>
								</ul>
							</div>
							<div class="item ticket-preview">
								<p class="p-item">
									Посмотрите пример билета с которым к вам будут приходить посетители. 
								</p>
								<div class="wrap-img" >
										<!-- style="background-image: url(img/ticket-preview-img.jpg)" -->
									<a href="#" class="overlay-img">
										<i class="icon icon-show-2 center"></i>
										<span>Билет</span>
									</a>
									<img src="img/ticket-preview-img.jpg" alt="">
								</div>
							</div>
						</div>
					</div>
					<div class="wrap-basic-information">
						<div class="panel-submit">
							<button class='btn-def next' href="#" type="submit">
								Опубликовать
							</button>
							<button class='btn-def btn-def_transparent preview' href="#" type="submit">
								Сохранить, без публикации
							</button>
						</div>
					</div>
				</form>
			</div>
		</div>
		<!-- <div class="app-mobile">
			<div class="app-mobile__title">Чаще ищете куда сходить с телефона?</div>
			<div class="app-mobile__pre-title">Скачайте приложение EVENTR</div>
			<div class="app-mobile__img">
				<p><a href="#"><img src="img/gps.png" alt=""></a></p>
				<p><a href="#"><img src="img/aps.png" alt=""></a></p>
			</div>
		</div> -->
	</div>
	<!-- Modal -->
	<div class="modal offers-modal fade" id="my_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">Скрыть</h5>
					<a class="close-castom" data-dismiss="modal" aria-label="Close"></a>
				</div>
				<div class="modal-body">
						<label class="container-checkbox">
							<input type="checkbox" checked="checked">
							<span class="checkmark"></span>
							<span>
								Большой предновогодний тур по России<br>
							</span>
								​​​​​​​(Только это событие)
						</label>
						<label class="container-checkbox">
							<input type="checkbox" checked="checked">
							<span class="checkmark"></span>
							<span>
								Comedy Club<br>
							</span>
								(Все события этого организатора)
						</label>
				</div>
				<div class="modal-footer">
					<div class="wrap-btn">
						<a class='btn-def modal-btn-def' href="#" data-dismiss="modal">
							Скрыть
						</a>
						<a class='btn-def btn-def_gray modal-btn_gray' href="#" data-dismiss="modal">
							Отменить
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!--_______ End.page-create-new-event-step2 _______-->