// .page-create-new-event-step3
.page-create-new-event-step3
	.main-content
		@media screen and (max-width: 991px)
			padding-top: 14px
		@media screen and (max-width: 767px)
			padding-top: 0


	.wrap-event-preview
		background: #FFFFFF
		box-shadow: 0px 2px 2px #E0E0E3
		border-radius: 3px
		padding: 35px 31px 0
		@media screen and (max-width: 767px)
			padding: 14px 0 0
		.steps
			@media screen and (max-width: 767px)
				padding: 0 20px
		.steps-mob
			@media screen and (max-width: 767px)
				margin-bottom: 16px
				padding: 0 20px
		.wrap-item
			display: flex
			justify-content: space-between
			flex-wrap: wrap
			@media screen and (max-width: 767px)
				padding: 0 20px
			@media screen and (max-width: 550px)
				padding: 0
				
		.item	
			box-sizing: border-box
			width: calc(1/2*100% - (1 - 1/2)*24px)
			border-radius: 3px
			display: flex
			flex-direction: column
			justify-content: flex-start
			position: relative
			@media screen and (max-width: 550px)
				width: 100%
			.p-item
				font-size: 14px
				line-height: 16px
				color: #6C7583
				margin-bottom: 6px
				@media screen and (max-width: 550px)
					margin-bottom: 19px
					padding: 0 20px
			.wrap-img
				border-radius: 3px
				position: relative
				display: block
				width: 100%
				padding: 0
				background-position: top center
				background-size: cover
				overflow: hidden
				@media screen and (max-width: 550px)
					border-radius: 0

				&::before
					content: ''
					display: block
					padding-top: 58.25%
				.overlay-img
					border-radius: 3px
					position: absolute
					top: 0
					left: 0
					right: 0
					bottom: 0
					background: #0E1F38
					opacity: 0.8
					display: flex
					align-items: center
					justify-content: center
					z-index: 1
					@media screen and (max-width: 767px)
						flex-direction: column
				img
					position: absolute
					top: 0
					right: 0
					left: 0
					text-align: center
					margin: 0 auto
					z-index: 0
					height: 100%
				.center
					font-size: 24px
					color: #E3E7F1
					@media screen and (max-width: 767px)
						font-size: 20px
						transform: translateY(7px)
				span
					display: none
					font-weight: bold
					font-size: 16px
					line-height: 19px
					color: #FFFFFF
					@media screen and (max-width: 767px)
						display: block
						padding-top: 10px
		.event-preview
			order: 1
			.p-item
				@media screen and (max-width: 550px)
					padding: 0 20px
			@media screen and (max-width: 550px)
				order: 1
		.applied-services
			order: 3
			padding: 25px 0
			@media screen and (max-width: 550px)
				order: 2
				padding: 25px 20px 29px
			h5
				font-weight: bold
				font-size: 14px
				line-height: 16px
				color: #0E1F38
				margin-bottom: 8px
			ul
				padding-left: 20px
				li
					position: relative
					&::before
						content: ''
						width: 16px
						height: 16px
						position: absolute
						top: -1px
						left: -22px
						background-position: center center
						background: url(../img/svg/preview-nocheck.svg) no-repeat center center
					&.active
						&::before
							content: ''
							width: 16px
							height: 16px
							position: absolute
							top: 0
							left: -21px
							background-position: center center
							background: url(../img/svg/preview-check.svg) no-repeat center center
					p
						margin-bottom: 10px
		.ticket-preview
			order: 2
			@media screen and (max-width: 550px)
				order: 3
			.p-item
				@media screen and (max-width: 550px)
					padding: 39px 0 13px
					margin: 0 20px
					border-top: 1px solid #E3E7F1

		.basic-information
			.panel-submit
				padding: 14px 0 51px
				border-top: 0
				@media screen and (max-width: 767px)
					padding: 41px 0 40px
				.btn-def
					width: 215px
					@media screen and (max-width: 767px)
						width: auto
				button
					padding: 9px 0 8px
					@media screen and (max-width: 767px)
						padding: 7px 10px
					&.next
						margin-right: 10px
			
// END.page-create-new-event-step3