// .page-training_3
.page-training_3
	.wrap-task
		padding: 30px
		@media only screen and (max-width: 767px)
			padding: 26px 20px
	p
		font-weight: normal
		font-size: 14px
		line-height: 21px
		color: #0E1F38
		margin-bottom: 15px
		@media only screen and (max-width: 767px)
			font-size: 12px
			line-height: 18px
			margin-bottom: 33px
	.wrap-radio
		padding-bottom: 9px
	.wrap-counter
		align-items: flex-start
		flex-wrap: nowrap
		@media only screen and (max-width: 767px)
			margin-top: 0
			flex-wrap: wrap
			justify-content: flex-start
		.wrap-input
			width: 100%
			max-width: 309px
			margin-right: 20px
			margin-bottom: 20px
			@media only screen and (max-width: 350px)
				flex: 0 0 auto
				margin-right: 0
			input
				padding: 9px 13px 7px
		.btn-def
			padding: 9px 8px 8px
			flex: 0 0 auto
			@media only screen and (max-width: 350px)
				flex: 1 0 auto
			


/* The container radio */
.container-radio 
	display: block
	position: relative
	padding-left: 26px
	margin: 16px 0
	cursor: pointer
	font-size: 22px
	user-select: none

	font-family: $default-font
	font-weight: normal
	font-size: 14px
	line-height: 16px
	color: #000000
/* Hide the browser's default checkbox */
.container-radio input 
	position: absolute
	opacity: 0
	cursor: pointer
	height: 0
	width: 0

/* Create a custom checkbox */
.checkmark-radio
	position: absolute
	top: -4px
	left: 0
	height: 20px
	width: 20px
	background-color: #fff
	border: 1px solid #E3E7F1
	box-sizing: border-box
	border-radius: 50%

/* On mouse-over, add a grey background color */
.container-radio:hover input ~ .checkmark-radio
	background-color: #fff

/* When the checkbox is checked, add a blue background */
.container-radio input:checked ~ .checkmark-radio 
	background-color: #fff

/* Create the checkmark-radio/indicator (hidden when not checked) */
.checkmark-radio:after
	content: ""
	position: absolute
	display: none

/* Show the checkmark-radio when checked */
.container-radio input:checked ~ .checkmark-radio:after
	display: block

/* Style the checkmark-radio/indicator */
.container-radio .checkmark-radio:after
	left: 3px
	border-radius: 6px
	top: 3px
	background: #69C530
	width: 12px
	height: 12px



// /*End_.page-training_3*/