<!--_______ .page-training_3 _______-->
<div class="page-contacts page-training_1 page-training_2 page-training_3 page-insert">
	<div class="container">
		<div class="row-wrap-main">
			<div class="col-item side-bar">
					<div class="side-bar-user side-bar-user_visitor">
						<div class="top-nav">
							<div class="user-avatar" style="background-image: url(img/user-visit.png)"></div>
							<div class="user-inform">
								<div class="user-name">
									<span>Марина</span>
									<a class="user-gear" href="#">
										<i class="icon icon-settings"></i>
									</a>
								</div>
								<div class="user-status">Посетитель событий</div>
							</div>
						</div>
	
						<ul>
							<li>
								<a href="#">
									<i class="icon icon-like"></i>
									<span>Избранное</span>
								</a>
							</li>
							<li>
								<a href="#">
									<i class="icon icon-remind"></i>
									<span>Напоминания</span>
								</a>
							</li>
							<li >
								<a href="#">
									<i class="icon icon-bonuses"></i>
									<span>Бонусы</span>
								</a>
							</li>
							<li>
								<a href="#">
									<i class="icon icon-ticket"></i>
									<span>Билеты</span>
								</a>
							</li>
							<li>
								<a href="#">
									<i class="icon icon-mail"></i>
									<span>Рассылка</span>
								</a>
							</li>
						</ul>
						
						<ul class="bottom-ul">
							<li>
								<a href="#">
									<i class="icon icon-support"></i>
									<span>Служба поддержки</span>
								</a>
							</li>
							<li>
								<a href="#">
									<i class="icon icon-exit"></i>
									<span>Выйти из кабинета</span>
								</a>
							</li>
						</ul>
					</div>
			</div>
			<div class="col-item main-content">
				<div class="desktop-main-content">
					<div class="wrap-training">
						<div class="sidebar-training">
							<ul>
								<li>
									<h2>
										Бонусы
									</h2>
								</li>
								<li class="prev">
									<div class="step">
										<div class="die ">
											<img src="img/svg/check_green_big.svg" alt="check_green_big">
										</div>
										<div class="die-text">
											<h5>
												+5 бонусов
											</h5>
											<p>
												Рекомендация eventr
											</p>
										</div>
									</div>
								</li>
								<li class="prev">
									<div class="wrap-steps">
										<div class="step">
											<div class="die ">
												<img src="img/svg/check_green_big.svg" alt="check_green_big">
											</div>
											<div class="die-text">
												<h5>
													+10 бонусов
												</h5>
												<p>
													Рекомендация 3-х
													событий
												</p>
											</div>
										</div>
									</div>
								</li>
								<li class="active">
									<div class="wrap-steps">
										<div class="step">
											<div class="die">
												<p>
													3
												</p>
											</div>
											<div class="die-text">
												<h5>
													+5 бонусов
												</h5>
												<p>
													Настройка уведомлений баланса
												</p>
											</div>
										</div>
									</div>
								</li>
								<li>
									<div class="wrap-steps">
										<div class="step">
											<div class="die">
												<p>
													4
												</p>
											</div>
											<div class="die-text">
												<h5>
													+5 бонусов
												</h5>
												<p>
													Покупка билета за бонусы
												</p>
											</div>
										</div>
									</div>
								</li>
							</ul>
						</div>
						<div class="context-training">
							<div class="wrap-task">
								<p>
									Чтобы не забыть о возможности покупи билетов за бонусы и всегда знать сколько вы заработали бонусов укажите как часто высылать отчет:
								</p>
								<div class="wrap-radio">
									<label class="container-radio">
										<input type="radio" name="periodicity">
										<span class="checkmark-radio"></span>
										<span>
											Ежедневно
										</span>
									</label>
									<label class="container-radio">
										<input type="radio" checked="checked" name="periodicity">
										<span class="checkmark-radio"></span>
										<span>
											1 раз в неделю
										</span>
									</label>
									<label class="container-radio">
										<input type="radio"  name="periodicity">
										<span class="checkmark-radio"></span>
										<span>
											1 раз в месяц
										</span>
									</label>
									<label class="container-radio">
										<input type="radio" name="periodicity">
										<span class="checkmark-radio"></span>
										<span>
											Никогда
										</span>
									</label>
								</div>
								<div class="wrap-counter">
									<div class="wrap-input">
										<input type="text" class="event-input" aria-describedby="" placeholder="Email который был указан при регистрации">
									</div>
									<a class='btn-def' href="#">
										Сохранить и заработать 5 балов
									</a>
								</div>
							</div>

							<!-- <div class="task task-error">
								<img src="img/svg/task-error-new.svg" alt="task-error">
								<h3>
									Доступ к этому заданию будет открыт после того как вы выполните предыдущие
								</h3>
							</div> -->
							
						</div>
					</div>
				</div>
				<div class="mobile-main-content">
					<div class="mobSection">
						<div class="sidebar-training">
							<ul>
								<li class="event-item">
									<h2>
										Бонусы
									</h2>
								</li>
								<li class="event-item prev">
									<div class="step">
										<div class="die ">
											<img src="img/svg/check_green_big.svg" alt="check_green_big">
										</div>
										<div class="die-text">
											<h5>
												+5 бонусов
											</h5>
											<p>
												Рекомендация eventr
											</p>
										</div>
									</div>
									<div class="event-description event-inform-more">
										<div class="event-btn-back">
											<img src="img/svg/mob-arrow-back.svg" alt="arrow_back">
											<span class="text-back">Задания</span>
										</div>
										<div class="task">
											<h4>
												Расскажите о сервисе eventr друзьям и получайте за каждый переход 
												<span>+5 бонусов</span>
											</h4>
										</div>
										<div class="panel-btn">
											<a href="#" class="btn-def" data-toggle="modal" data-target="#bonuses-modal">Заработать бонусы <span>(осталось 3 репоста)</span></a>
										</div>
										<img src="img/svg/recommendations.svg" alt="recommendations">
									</div>
									<div class="event-btn-more">
										<img class='vis' src="img/svg/arrow_right-black.svg" alt="arrow_right">
										<img class='hid' src="img/svg/arrow_right.svg" alt="arrow_right">
									</div>
								</li>
								<li class="event-item prev">
									<div class="wrap-steps">
											<div class="step">
												<div class="die">
													<div class="die ">
														<img src="img/svg/check_green_big.svg" alt="check_green_big">
													</div>
												</div>
												<div class="die-text">
													<h5>
														+10 бонусов
													</h5>
													<p>
														Рекомендация 3-х
														событий
													</p>
												</div>
											</div>
										</div>
									<div class="event-description event-inform-more">
										<div class="event-btn-back">
											<img src="img/svg/mob-arrow-back.svg" alt="arrow_back">
											<span class="text-back">Задания</span>
										</div>
										<div class="wrap-task">
											<div class="task-top">
												<p>
													1) Перейдите в <a href="#">каталог</a>
												</p>
												<p>
													2) В левом блоке выставьте фильтр
												</p>
											</div>
											<div class="wrap-click-switch">
												<div class="click-switch">
													<img src="img/svg/task-img-1.svg" alt="">
												</div>
												<div class="left-arrow">
													<img src="img/svg/task-arrow-1.svg" alt="">
												</div>
												<div class="click-switch-p">
													Кликните по переключателю
												</div>
											</div>
											<p>
												3) У вас покажутся все события, которые можно оплатить бонусами и рекомендовать, чтобы заработать бонусы
											</p>
											<p>
												4) Выберите 3 события, которые будут интересны максимальному количеству ваших друзей в соц.сетях, так вы получите больше переходов и больше бонусов
											</p>
											<p>
												5) Перейдите в эти события и нажмите на кнопку “Заработать бонусы”
											</p>
											<div class="wrap-img-arrow">
												<div class="img-arrow">
													<img class='' src="img/svg/task-img-2_mob.svg" alt="task-img-2_mob">
													<div class="top-arrow">
														<img src="img/svg/task-arrow-top.svg" alt="task-arrow-1">
													</div>
													<p class="p-center">
														Кликните по кнопке на странице с событием
													</p>
												</div>
											</div>
											<p>
												После того как вы сделаете 3 репоста вам будут начислены дополнительно +10 бонусов за выполнение этого задания. 
											</p>
											<div class="wrap-counter">
												<h5>
													Осталось сделать репостов: <span>3</span>
												</h5>
												<a class='btn-def' href="#">
													Перейти в каталог
												</a>
											</div>
										</div>
									</div>
									<div class="event-btn-more">
										<img class='vis' src="img/svg/arrow_right-black.svg" alt="arrow_right">
										<img class='hid' src="img/svg/arrow_right.svg" alt="arrow_right">
									</div>
								</li>
								<li class="event-item active">
									<div class="wrap-steps">
										<div class="step">
											<div class="die">
												<p>
													3
												</p>
											</div>
											<div class="die-text">
												<h5>
													+5 бонусов
												</h5>
												<p>
													Настройка уведомлений баланса
												</p>
											</div>
										</div>
									</div>
									<div class="event-description event-inform-more">
										<div class="event-btn-back">
											<img src="img/svg/mob-arrow-back.svg" alt="arrow_back">
											<span class="text-back">Задания</span>
										</div>
										<div class="wrap-task">
											<p>
												Чтобы не забыть о возможности покупи билетов за бонусы и всегда знать сколько вы заработали бонусов укажите как часто высылать отчет:
											</p>
											<div class="wrap-radio">
												<label class="container-radio">
													<input type="radio" name="periodicity">
													<span class="checkmark-radio"></span>
													<span>
														Ежедневно
													</span>
												</label>
												<label class="container-radio">
													<input type="radio" checked="checked" name="periodicity">
													<span class="checkmark-radio"></span>
													<span>
														1 раз в неделю
													</span>
												</label>
												<label class="container-radio">
													<input type="radio"  name="periodicity">
													<span class="checkmark-radio"></span>
													<span>
														1 раз в месяц
													</span>
												</label>
												<label class="container-radio">
													<input type="radio" name="periodicity">
													<span class="checkmark-radio"></span>
													<span>
														Никогда
													</span>
												</label>
											</div>
											<div class="wrap-counter">
												<div class="wrap-input">
													<input type="text" class="event-input" aria-describedby="" placeholder="Email который был указан при регистрации">
												</div>
												<a class='btn-def' href="#">
													Сохранить и заработать 5 балов
												</a>
											</div>
										</div>
									</div>
									<div class="event-btn-more">
										<img class='vis' src="img/svg/arrow_right-black.svg" alt="arrow_right">
										<img class='hid' src="img/svg/arrow_right.svg" alt="arrow_right">
									</div>
								</li>
								<li class="event-item">
									<div class="wrap-steps">
										<div class="step">
											<div class="die">
												<p>
													4
												</p>
											</div>
											<div class="die-text">
												<h5>
													+5 бонусов
												</h5>
												<p>
													Покупка билета за бонусы
												</p>
											</div>
										</div>
									</div>
									<div class="event-description event-inform-more">
										<div class="event-btn-back">
											<img src="img/svg/mob-arrow-back.svg" alt="arrow_back">
											<span class="text-back">Задания</span>
										</div>
										<div class="task task-error">
											<img src="img/svg/task-error-new.svg" alt="task-error">
											<h3>
												Доступ к этому заданию будет открыт после того как вы выполните предыдущие
											</h3>
										</div>
									</div>
									<div class="event-btn-more">
										<img class='vis' src="img/svg/arrow_right-black.svg" alt="arrow_right">
										<img class='hid' src="img/svg/arrow_right.svg" alt="arrow_right">
									</div>
								</li>
							</ul>
						</div>	
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!--_______ End.page-training_3 _______-->