// .page-create-new-event-step3_preview
.for-fixed-top
	padding-top: 66px
	@media screen and (max-width: 767px)
		padding-top: 80px
.page-create-new-event-step3_preview
	.fixed-top
		background: #FFFFFF
		box-shadow: 0px 35px 45px rgba(72, 76, 87, 0.35)
		.container
			padding-left: 24px
			padding-right: 22px
			@media screen and (max-width: 767px)
				padding-left: 20px
				padding-right: 20px
	.wrap-btn-back
		display: flex
		align-items: center
		padding: 16px 0 15px
		@media screen and (max-width: 767px)
			padding: 0 0 12px
			flex-wrap: wrap
	.btn-back
		display: flex
		align-items: center
		@media screen and (max-width: 767px)
			width: 100%
			padding-top: 14px
			padding-bottom: 10px
		.icon-arrow-left
			font-size: 22px
			color: $black
			padding-right: 15px
			@media screen and (max-width: 767px)
				font-size: 12px
				color: $green-def
				padding-right: 3px
		span
			font-weight: bold
			font-size: 14px
			line-height: 21px
			color: #0E1F38
			@media screen and (max-width: 767px)
				font-size: 12px
				line-height: 14px
				color: $green-def
	.panel-submit
		padding: 0 13px 0 0
		@media screen and (max-width: 767px)
			width: 100%
			padding: 0
			display: flex
		.btn-def
			padding: 9px 13px 8px
			@media screen and (max-width: 767px)
				padding: 9px 5px 8px
			&.next
				margin-right: 16px
				@media screen and (max-width: 767px)
					margin-right: 0
					order: 2
					padding: 5px 7px
					height: 30px
			
		.preview
			@media screen and (max-width: 767px)
				order: 1
				@media screen and (max-width: 767px)
					margin-right: 10px
					padding: 5px 7px
					// height: 30px


			
// END.page-create-new-event-step3