// .page-training_2
.page-training_2
	.wrap-task
		padding: 20px 20px 75px
		@media only screen and (max-width: 767px)
			padding: 17px 20px 25px
	.sidebar-training
		ul
			li
				&.prev
					border-right: 0
					@media only screen and (max-width: 767px)
						border-right: 0
					.die
						background: $black
						img
							width: 15px
							height: 11px
					.die-text
						h5
							font-weight: bold
							font-size: 14px
							line-height: 16px
							color: #0E1F38
						p
							font-weight: normal
							font-size: 12px
							line-height: 14px
							color: #0E1F38
					.event-btn-more
						.hid
							display: none
						.vis
							display: block
	.task-top
		padding-top: 2px
		@media only screen and (max-width: 767px)
			padding-top: 0
		p
			font-weight: normal
			font-size: 14px
			line-height: 21px
			color: #0E1F38		
			margin-bottom: 0
			@media only screen and (max-width: 767px)
				font-size: 12px
				line-height: 19px
			a
				font-weight: bold
				color: $black
				text-decoration: underline
	.wrap-click-switch
		padding-top: 9px
		display: flex
		align-items: center
		margin-bottom: 16px
		@media only screen and (max-width: 767px)
			padding-top: 4px
			margin-bottom: 1px
			justify-content: center
		.click-switch
			@media only screen and (max-width: 767px)
				flex: 0 0 auto
			img
				transform: translateX(-15px)
		.left-arrow
			@media only screen and (max-width: 767px)
				flex: 0 0 30px
			img
				transform: translate(-13px, 15px)
				@media only screen and (max-width: 767px)
					transform: translate(-24px, 17px)
		.click-switch-p
			font-weight: bold
			font-size: 14px
			line-height: 16px
			color: #6C7583
			transform: translate(-3px, 15px)
			@media only screen and (max-width: 767px)
				font-size: 11px
				line-height: 17px
				margin-left: -14px
	p
		margin-bottom: 24px
		color: $black
		@media only screen and (max-width: 767px)
			font-size: 12px
			line-height: 14px
	.wrap-img-arrow
		margin-top: -15px
		display: flex
		transform: translate(-25px, 0px)
		@media only screen and (max-width: 767px)
			transform: translate(0px, 0px)
			margin-top: -6px
			justify-content: center
		.img-arrow
			display: flex
			flex-wrap: wrap
			max-width: 560px
			justify-content: center
			@media only screen and (max-width: 767px)
				margin: -5px -20px
			img
				flex: 0 0 auto
				// margin-bottom: -44px
	.top-arrow
		display: flex
		flex: 1 0 100%
		justify-content: center
		margin-top: -44px
		@media only screen and (max-width: 767px)
			margin-top: -30px	
	.p-center
		font-weight: bold
		font-size: 14px
		line-height: 16px
		text-align: center
		color: #6C7583
		padding-top: 12px
		margin-bottom: 51px
		@media only screen and (max-width: 767px)
			font-size: 12px
			line-height: 14px
			margin-bottom: 36px
	.wrap-counter
		display: flex
		flex-wrap: wrap
		align-items: center
		margin-top: -9px
		@media only screen and (max-width: 767px)
			margin-top: -27px
		h5
			font-weight: bold
			font-size: 21px
			line-height: 25px
			color: #0E1F38
			margin-top: 15px
			margin-bottom: 15px
			padding-right: 30px
			@media only screen and (max-width: 767px)
				margin-top: 23px
				margin-bottom: 23px
				font-size: 16px
				line-height: 19px
		.btn-def
			padding: 10px 36px 9px
			@media only screen and (max-width: 767px)
				padding: 10px 45px 9px
	.mobSection
		.sidebar-training
			ul
				li
					&.prev
						border-right: 0
						@media only screen and (max-width: 767px)
							border-right: 0
						.die
							background: $black
							img
								width: 15px
								height: 11px
						.die-text
							h5
								font-weight: bold
								font-size: 14px
								line-height: 16px
								color: #0E1F38
							p
								font-weight: normal
								font-size: 12px
								line-height: 14px
								color: #0E1F38
						.event-btn-more
							.hid
								display: none
							.vis
								display: block


// /*End_.page-training_2*/