<!--_______ .page-bonuses-accrual-rules _______-->
<div class="page-bonuses-accrual-rules  page-create-new-event-step1 page-insert">
	<div class="container">
		<div class="row-wrap-main">
			<div class="col-item side-bar">
					<div class="side-bar-user side-bar-user_visitor">
						<div class="top-nav">
							<div class="user-avatar" style="background-image: url(img/user-visit.png)"></div>
							<div class="user-inform">
								<div class="user-name">
									<span>Марина</span>
									<a class="user-gear" href="#">
										<i class="icon icon-settings"></i>
									</a>
								</div>
								<div class="user-status">Посетитель событий</div>
							</div>
						</div>
						<ul>
							<li>
								<a href="#">
									<i class="icon icon-like"></i>
									<span>Избранное</span>
								</a>
							</li>
							<li>
								<a href="#" >
									<i class="icon icon-remind"></i>
									<span>Напоминания</span>
								</a>
							</li>
							<li class="active">
								<a href="#">
									<i class="icon icon-bonuses"></i>
									<span>Бонусы</span>
								</a>
							</li>
							<li>
								<a href="#">
									<i class="icon icon-ticket"></i>
									<span>Билеты</span>
								</a>
							</li>
							<li>
								<a href="#">
									<i class="icon icon-mail"></i>
									<span>Рассылка</span>
								</a>
							</li>
						</ul>
						
						<ul class="bottom-ul">
							<li>
								<a href="#">
									<i class="icon icon-support"></i>
									<span>Служба поддержки</span>
								</a>
							</li>
							<li>
								<a href="#">
									<i class="icon icon-exit"></i>
									<span>Выйти из кабинета</span>
								</a>
							</li>
						</ul>
					</div>
			</div>
			<div class="col-item main-content">
				<div class="desktop-main-content">
					<div class="wrap-top-title">
						<div class="back-button-mob">
							<a href="#">
								<img src="img/svg/mob-arrow-back.svg" alt="mob-arrow-back">
								<span>
									Назад
								</span>
							</a>
						</div>
						<div class="back-button">
							<a href="#">
								<img src="img/svg/pagination_arrow_left.svg" alt="pagination_arrow_left">
								<span>
									Назад
								</span>
							</a>
						</div>
						<div class="img-title">
							<img src="img/bonus-book.svg" alt="bonus-book">
							<h5>
								Правила начисления бонусов
							</h5>
						</div>
					</div>
					<div class="wrap-rules-description">
						<div class="top-rules-description">
							<h5>
								За что и сколько начисляются бонусы
							</h5>
							<ul>
								<li class="item-recommendation">
									<h6>
										Рекомендация сервиса eventr.ru
									</h6>
									<div class="recommendation">
										<p>
											<span>
												+10 бонусов
											</span>
											за каждого перешедшего на eventr.ru
										</p>
									</div>
									<a href="#" class="btn-def">
										Рекомендовать
									</a>
								</li>
								<li class="item-recommendation">
									<h6>
										Рекомендация любого события
									</h6>
									<div class="recommendation">
										<p>
											<span>
												+5 бонусов
											</span>
											за каждого перешедшего на событие
										</p>
									</div>
									<a href="#" class="btn-def">
										Рекомендовать
									</a>
								</li>
							</ul>

						</div>
						<div class="bottom-rules-description">
							<div class="recommendation">
								<h6>
									Как проиходит процесс начисления бонусов
								</h6>
								<p>
									1) Вы делаете репост события к себе в социальные сети
								</p>
								<p>
									2) Система за каждого кто перейдет по вашей ссылки с соц.сети начисляет вам +5 балов за рекомендацию события и
									+10 балов за рекомендацию eventr.ru
								</p>
								<p>
									Внимание! Система начисляет баллы только за уникальные переходы! Если вы попросите друга 100 раз перейти по
									одной ссылке, вы получите баллы всего за 1 человека.
								</p>
							</div>
							<div class="recommendation">
								<h6>
									В каком размере от стоимости билета можно оплатить бонусами
								</h6>
								<p>
									Билеты оплачивают только в 100% объеме от стоимости билета
								</p>
							</div>
							<div class="recommendation">
								<h6>
									Какие билеты, где и как можно оплатить бонусами
								</h6>
								<p>
									Билеты можно оплатить бонусами у которых на карточке события есть кнопка "оплатить бонусами". Можно ли оплатить
									билеты бонусами или нет решает организатор события.
								</p>
							</div>
							<div class="recommendation">
								<p>
									Чтобы увидеть какие билеты из общей массы доступны для оплаты бонусами в фильтре каталога включите функцию
									"оплата только бонусами"
								</p>
							</div>
							<div class="recommendation">
								<h6>
									Ограничения на ежедневные репосты
								</h6>
								<p>
									В день можно делать максимум 3 репоста любых событий.
								</p>
								<p>
									Нарушители будут автоматически блокироваться системой.
								</p>
							</div>
							<div class="recommendation">
								<h6>
									Рекомендации
								</h6>
								<p>
									Для того чтобы заработать быстрее и больше бонусов делаяте следующее:
								</p>
								<p>
									1) Ежедневно заходите на сайт eventr.ru и делаете репосты 3-х соыбытий
								</p>
								<p>
									2) Лучше всего делать репосты в социальные сети где у вас больше всего друзей - переходов и начислений монет
									будет больше
								</p>
								<p>
									​​​​​​​3) Репосты событий делайте такие, которые интересны большинству вашим друзей, а не только вам.
								</p>
								<p>
									4) Если уже сделали 3 репоста и хотите еще бонусы, скопируйте вашу реферальную ссылку и отправить по почте или
									в личные сообщения во вконтакте, телеграмме, facebook, whatsapp вашим друзьям (только то что им интересно)
								</p>
							</div>
							<div class="recommendation">
								<h6>
									Что делать если бонусов для оплаты не хватает
								</h6>
								<p>
									Если вы накопили большую часть бонусов, но на оплату билета не хватает совсем чуть-чуть, а все ваши друзья уже
									давно зарегистрировались на eventr, то можете докупить недостающую часть бонусов за рубли
								</p>
							</div>
							<div class="recommendation">
								<h6>
									Запреты и блокировка в случае нарушений правил
								</h6>
								<p>
									Ваш аккаунт будет заблокированн за следующие нарушения правил:
								</p>
								<p>
									1) Спам
								</p>
								<p>
									​​​​​​​2) Накрутка переходов
								</p>
							</div>
						</div>
					</div>
				</div>
				<div class="mobile-main-content">

				</div>
			</div>
			
			<!-- modal-del -->
			<div class="delete-editing modal modal-del fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
				<div class="modal-dialog modal-dialog-centered" role="document">
				<div class="modal-content">
					<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLongTitle">
						Удалить напоминание
						“StandUp.Виктор Комаров”?
					</h5>
					<button type="button" class="btn-close-modal" data-dismiss="modal" aria-label="Close">
						<img src="img/close.svg" alt="">
					</button>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn-def">Удалить</button>
						<button type="button" class="btn-def btn-def_gray" data-dismiss="modal">Отменить</button>
					</div>
				</div>
				</div>
			</div>
			<!-- modal-editing -->
			<div class="delete-editing modal modal-editing fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
				<div class="modal-dialog modal-dialog-centered" role="document">
				<div class="modal-content">
					<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLongTitle">
						Редактирование напоминания
						"StandUp.Виктор Комаров"
					</h5>
					<button type="button" class="btn-close-modal" data-dismiss="modal" aria-label="Close">
						<img src="img/close.svg" alt="">
					</button>
					</div>
					<div class="modal-body">
						<form action="" class='basic-information needs-validation' novalidate>
								<div class="wrap-basic-information">
									<div class="select-top">
										<h5>До начала события</h5>
										<div class="wrap-select">
											<select class="select" >
												<option value="">В момент события</option>
												<option>За 5 мин</option>
												<option>За 10 мин</option>
												<option>За 15 мин</option>
												<option>За 30 мин</option>
												<option>За 1 ч</option>
												<option>За 2 ч</option>
												<option>За 1 дн</option>
												<option>За 2 дн</option>
												<option>За нед</option>
											</select>
										</div>
									</div>
								</div>
							</form>
						<input class="tel-event" type="tel" name="phone" placeholder="+7 937 834 90 20" required autocomplete="tel">
					</div>
					<div class="modal-footer">
						<button type="button" class="btn-def">Сохранить</button>
						<button type="button" class="btn-def btn-def_gray" data-dismiss="modal">Отменить</button>
					</div>
				</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!--_______ End.page-bonuses-accrual-rules _______-->