// .page-bonuses-accrual-rules
.page-bonuses-accrual-rules
	.main-content
		padding-top: 29px
		@media only screen and (max-width: 767px)
			padding-top: 0

	.wrap-top-title
		display: flex
		align-items: center
		@media only screen and (max-width: 767px)
			display: block
	.wrap-rules-description
		margin-top: 17px
		background: #FFFFFF
		box-shadow: 0px 2px 2px #E0E0E3
		border-radius: 3px
		@media only screen and (max-width: 767px)
			margin-top: 0
	.top-rules-description
		background: #F7F7F8
		padding: 34px 34px 30px
		@media only screen and (max-width: 767px)
			background: #FFFFFF
			padding: 3px 20px 1px
		.recommendation
			margin-top: 3px
			@media only screen and (max-width: 767px)
				margin-top: -1px
				flex: 1
		h5
			margin-bottom: 2px
			font-weight: bold
			font-size: 18px
			line-height: 21px
			color: #0E1F38
			@media only screen and (max-width: 767px)
				display: none
		.item-recommendation
			display: flex
			flex-wrap: wrap
			align-items: center
			padding-top: 23px
			padding-bottom: 21px
			border-bottom: 1px solid #E3E7F1
			@media only screen and (max-width: 767px)
				padding-top: 23px
				padding-bottom: 22px
			&:last-child
				border-bottom: 0
			h6
				flex: 0 0 auto
				width: 100%
				font-weight: bold
				font-size: 14px
				line-height: 16px
				color: $black
				margin-bottom: 0
				@media only screen and (max-width: 767px)
					margin-bottom: 6px
			p
				color: $main-color
				margin-bottom: 0
				@media only screen and (max-width: 767px)
					font-size: 12px
					line-height: 14px
					color: #6C7583
				span
					font-weight: bold
					color: $green-light-def
			.btn-def
				margin-top: -14px
				margin-left: auto
				padding: 9px 16px 8px
				@media only screen and (max-width: 767px)
					padding: 9px 9px 8px
					margin-top: 0

	.bottom-rules-description
		padding: 8px 29px 34px
		@media only screen and (max-width: 767px)
			padding: 0 20px 34px

		.recommendation
			padding-top: 22px
		h6
			font-weight: bold
			font-size: 14px
			line-height: 16px
			color: $black
			margin-bottom: 4px
			@media only screen and (max-width: 767px)
				line-height: 21px
		p
			color: $main-color
			margin-bottom: 0
			font-weight: normal
			font-size: 14px
			line-height: 16px
			margin-bottom: 6px
			@media only screen and (max-width: 767px)
				line-height: 21px
			span
				color: $green-light-def
.back-button-mob
	display: none		
	@media only screen and (max-width: 767px)
		display: flex
		border-bottom: 1px solid #E3E7F1 
		a
			background: #FFFFFF
			box-shadow: none
			border-radius: 3px
			padding: 12px 17px 10px 19px
			background: transparent

		span
			font-weight: bold
			font-size: 12px
			line-height: 14px
			text-transform: uppercase
			color: #1C8D00
			padding-left: 0
.back-button
	display: flex
	@media only screen and (max-width: 767px)
		display: none
	a
		background: #FFFFFF
		box-shadow: 0px 1px 1px #DCDCDC
		border-radius: 3px
		padding: 11px 17px 10px 12px
	span
		font-weight: normal
		font-size: 14px
		line-height: 16px
		color: #A7B3BE
		padding-left: 9px
.img-title
	display: flex
	align-items: center
	position: relative
	margin-left: 29px
	@media only screen and (max-width: 767px)
		margin-left: 0
		padding: 27px 20px 27px 5px
	img
		position: absolute
		top: 50%
		transform: translate(0%, -44%)
	h5
		margin-bottom: 0
		font-weight: bold
		font-size: 18px
		line-height: 21px
		color: #0E1F38
		padding-left: 72px
		@media only screen and (max-width: 767px)
			font-weight: bold
			font-size: 14px
			line-height: 16px
			padding-left: 61px

// /*End_.page-bonuses-accrual-rules*/