[class^="icon-"], [class*=" icon-"]
  font-family: 'icomoon'
  speak: none
  font-style: normal
  font-weight: normal
  font-variant: normal
  text-transform: none
  line-height: 1
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

.icon-close:before
  content: "\e927"

.icon-edit:before
  content: "\e928"

.icon-ticket-2:before
  content: "\e926"

.icon-download:before
  content: "\e924"

.icon-print:before
  content: "\e925"

.icon-show-2:before
  content: "\e923"

.icon-bd:before
  content: "\e910"

.icon-developments:before
  content: "\e911"

.icon-paid--services:before
  content: "\e912"

.icon-exit:before
  content: "\e913"

.icon-support:before
  content: "\e914"

.icon-settings:before
  content: "\e915"

.icon-mail:before
  content: "\e90e"

.icon-phone:before
  content: "\e90f"

.icon-ticket:before
  content: "\e916"

.icon-calendar:before
  content: "\e90d"

.icon-remind:before
  content: "\e90c"

.icon-arrow-left:before
  content: "\e921"

.icon-search:before
  content: "\e90a"

.icon-user-personal:before
  content: "\e908"

.icon-burger:before
  content: "\e909"

.icon-user:before
  content: "\e907"

.icon-like:before
  content: "\e906"

.icon-arrow:before
  content: "\e905"

.icon-map-marker:before
  content: "\e904"

.icon-bonuses:before
  content: "\e900"

.icon-google-plus:before
  content: "\e90b"

.icon-instagram:before
  content: "\e901"

.icon-facebook:before 
  content: "\e902"

.icon-vk:before 
  content: "\e903"

.icon-bonuses:before 
  content: "\e900"

.icon-map-marker:before
  content: "\e904"

.icon-arrow:before
  content: "\e905" 

.icon-like:before
  content: "\e906"

.icon-user:before
  content: "\e907" 

.icon-user-personal:before
  content: "\e908"

.icon-search:before
  content: "\e90a"

.icon-google-plus:before
  content: "\e90b"

.icon-mail:before
  content: "\e90e"

.icon-phone:before
  content: "\e90f"

.icon-ava:before
  content: "\e917"

.icon-tel:before
  content: "\e918"

.icon-timer:before
  content: "\e919"

.icon-copy:before
  content: "\e91a"

.icon-delete:before 
  content: "\e91b"

.icon-pause:before
  content: "\e91c"

.icon-play:before
  content: "\e91d"

.icon-rb:before
  content: "\e91e"

.icon-show:before
  content: "\e91f"

.icon-update:before
  content: "\e920"

.icon-question:before
  content: "\e922"
  
.icon-arrow-left:before
  content: "\e921"

.icon-pluse:before
  content: "\e929"