@import "vars"

html, body
	height: 100%
	
body
	margin: 0 
	font-size: 14px
	line-height: normal
	font-family: $default-font
	color: $default-color
	background: #F4F4F5
	overflow-x: hidden

a
	text-decoration: none
	color: $default-color
	&:hover,
	&:active,
	&:focus
		text-decoration: none
		outline: none
		color: $default-color

img
	height: auto
	max-width: 100%
	border: none

ol, ul
  margin: 0
  padding: 0
  list-style: none

.no-scroll
	overflow: hidden
	height: 100%
	width: 100%
	position: fixed
	overflow: hidden

/**Убрать стрелочки у number**/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button 
	-webkit-appearance: none
	margin: 0 

input[type='number'] 
	-moz-appearance: textfield 
/**End Убрать стрелочки у number**/

/* style of input */
input::-moz-placeholder
	color: #A7B3BE

input::-webkit-input-placeholder
	color: #A7B3BE

input::placeholder
	opacity: 1

@media (max-width: 767px)
	input::-moz-placeholder
		font-size: 12px

	input::-webkit-input-placeholder
		font-size: 12px


input[type="email"]:focus,
input[type="number"]:focus,
input[type="password"]:focus,
input[type="tel"]:focus,
input[type="url"]:focus,
input[type="text"]:focus,
input[type="number"]:focus
	outline: none
	box-shadow: none

input[type="email"],
input[type="number"],
input[type="password"],
input[type="tel"],
input[type="url"],
input[type="text"],
textarea
	-webkit-appearance: none
	-moz-appearance: none
	width: 100%
	height: 100%
	padding: 10px 13px
	outline: none
	box-shadow: none
	color: #333
	font-size: 14px
	border-radius: 3px
	border: solid 1px #E3E7F1
	background-color: #ffffff
/* End style of input */

/* textarea */
textarea
	border-radius: 3px
	border: solid 1px #E3E7F1
	background-color: #ffffff
	resize: none
	height: 526px
/* End textarea */

@media (max-width: 1199px)
	.container
		max-width: 100%
		min-width: 100%
@media (max-width: 767px)
	.container
		padding: 0 20px
.main-content
	padding-top: 29px
.content_main
	width: 100%
	@media (min-width: 992px)
		width: calc(100% - 255px)

.col-item-content
	padding: 20px 40px 0 20px

.link-position
	position: absolute
	left: 0
	top: 0
	width: 100%
	height: 100%

.desktop
	@media only screen and (max-width: 991px)
		display: none

.tablet
	display: none
	@media only screen and (max-width: 991px)
		display: block

/*________ .fadein ________*/
@keyframes fadein
	from 
		opacity: 0
	to 
		opacity: 1
/*________ .fadein ________*/

/*________ .btn-def ________*/
.btn-def
	display: inline-block
	font-weight: bold
	font-size: 14px
	line-height: 16px
	text-align: center
	background: $green-light-def
	padding: 12px 27px 11px
	color: #fff
	border: solid 1px $green-light-def
	border-radius: 3px
	cursor: pointer
	transition: $transition
	box-shadow: 0px 7px 15px rgba(42, 99, 7, 0.2)
	
	@media only screen and (max-width: 767px)
		font-size: 12px
		text-align: center
		// padding: 5px 10px
		// width: 100%
		// max-width: 276px
	span
		font-weight: normal
	&:hover,
	&:active,
	&:focus
		color: #fff
	&:hover
		background: $green-def
		border-color: $green-def
		box-shadow: none
	&:active,
	&.active
		background: $green-6
		box-shadow: none

.btn-def_transparent
	background-color: transparent
	color: $green-light-def
	min-width: 142px
	border-color: rgba(105, 197, 48, .3)
	box-shadow: none
	&:hover,
	&:focus
		color: $green-def
		border-color: rgba(28, 141, 0, .3)
		background-color: transparent
		outline: none
	&:active,
	&.active
		background-color: transparent
		color: $green-6	
		border-color: rgba(28, 141, 0, .3)

.btn-def_gray
	// background-color: #FFF
	background-color: transparent
	color: #A7B3BE
	width: 100%
	border-color: rgba(167, 179, 190, 0.3)
	box-shadow: none
	font-weight: normal
	&:hover
		color: $main-color
		border-color: rgba(108, 117, 131, 0.3)
		background-color: transparent
	&:active,
	&.active
		background-color: transparent
		color: $black
		border-color: rgba(14, 31, 56, 0.3)
	&:focus
		color: $black	


.btn-def_white
	background: #fff
	color: $green-def
	border-color: #fff
	box-shadow: none
	&:hover
		color: $green-light-def !important
		background: #fff
		border-color: #fff
		box-shadow: none
	&:active,
	&.active
		color: $black !important
		background: #fff
/*________ End .btn-def ________*/

/*________ .btn-more ________*/
.btn-more
	display: flex
	align-items: center
	background: #FFFFFF
	box-shadow: 0px 1px 1px #DCDCDC
	border-radius: 3px
	cursor: pointer
	width: 88px
	padding: 8px 10px 10px 16px
	.icon
		margin-left: 10px
		flex-shrink: 0
		@media only screen and (max-width: 767px)
			width: 12px
	@media only screen and (max-width: 767px)
		font-size: 12px
		width: 60px
		padding: 6px 8px 6px 10px
/*________ End .btn-more ________*/

/*________ .btn-close-modal ________*/
.btn-close-modal
	width: 30px
	height: 30px
	background: #212942
	display: flex
	align-items: center
	justify-content: center
	border-radius: 50%
	position: absolute
	top: -15px
	right: -15px
	cursor: pointer	
	border: none
	z-index: 1
/*________ End .btn-close-modal ________*/

/*________ header ________*/
.logo
	transform: translateX(28px)
.header
	position: relative
	z-index: 999
	&-top
		background: #fff
		@media only screen and (max-width: 991px)
			display: none
		.container
			display: flex
			justify-content: space-between
			align-items: center
	&-bottom
		position: relative
		.container
			padding-left: 0
			padding-right: 0
			display: flex
			align-items: flex-start
			&:before,
			&:after
				content: ''
				position: absolute
				top: 0
				width: 50%
				height: 65px
				z-index: -1
				@media only screen and (max-width: 991px)
					display: none
				
			&:before
				background: #3E9E26
				left: 0
			&:after
				background: #1C8D00
				right: 0
				width: 80%
				// box-shadow: 0px 4px 15px #B8CAB4
		&-line
			background: $green-def
			width: 100%
			padding: 13px 0 13px 20px
			display: flex
			align-items: center
			margin-left: -1px
			z-index: 1
			position: relative
			@media only screen and (max-width: 1199px)
				justify-content: space-between
			@media only screen and (max-width: 767px)
				padding: 9px 20px 10px 20px	
			&-right
				width: 100%
		@media only screen and (max-width: 991px)			
			.menu-categories
				display: none		

@media only screen and (max-width: 991px)	
	.header, .responsive-wrapper
		position: relative

	.header
		transition: left 1s ease-in-out
		left: 0
		&.responsive
			left: 276px

	.responsive-wrapper
		transition: left 1s ease-in-out
		left: 0
	.responsive .responsive-wrapper
		left: 276px

.header.no-shadow
	.container:after
		box-shadow: none
/*________ End header ________*/

/*________ .header-insert ________*/
@media only screen and (min-width: 992px)	
	.header-insert
		.menu-categories
			display: none
			animation: fadein ease 0.3s
			&.show
				display: block
/*________ End .header-insert ________*/

/*________ .navigate-user ________*/
.navigate-user
	ul
		display: flex
	li
		position: relative
		padding: 17px 0
		&:before
			content: ''
			position: absolute
			top: 0
			left: 0
			width: 100%
			height: 3px
			background: transparent
		&:not(:first-child)
			margin-left: 30px
		a
			color: $main-color
		&.active
			&:before
				background: $green-def
			a
				font-weight: bold
				color: $green-def		
/*________ End .navigate-user ________*/

/*________ .network ________*/
.network
	display: flex
	align-items: center
	@media only screen and (max-width: 991px)
		margin-left: 10px
	&-title
		padding-right: 10px
	a
		width: 30px
		height: 30px
		display: flex
		align-items: center
		justify-content: center
		background: #d5dce2
		border-radius: 50%
		transition: $transition
		&:hover
			background: $green-def
		i
			color: #fff
			font-size: 18px
		.icon-vk	
			transform: translate(-1px, -1px)
	ul
		display: flex
		li
			margin-left: 2px
/*________ End .network ________*/

/*________ .catalog ________*/
.catalog
	&-part
		width: 255px
		@media only screen and (max-width: 991px)
			display: none

.menu
	&-toggler
		display: flex
		align-items: center
		background: $green-2
		color: #fff
		padding: 21.5px 31px 
		font-size: 18px
		font-weight: bold
		border: none
		cursor: pointer
		width: 100%
		position: relative
		z-index: 2
		&__icon
			margin-right: 12px
			transform: translateY(-2px)
		&__arrow
			margin-right: 10px

.menu-categories
	position: absolute
	width: 255px
	box-shadow: 0px 25px 50px rgba(96, 96, 108, 0.15)
	z-index: 2
	@media only screen and (max-width: 991px)
		position: relative
		width: 100%

	&__count
		color: $green-4
		padding-left: 6px
	ul
		background: $green-2
		li
			position: relative
			border-top: solid 1px #37951F
			a
				color: $green-light-2-def
				transition: $transition
				padding: 18px 29px
				display: block
	.icon-arrow
		color: $green-3
		font-size: 12px
		position: absolute
		right: 21px
		top: 21px
		transition: $transition

.menu-categories li:hover 
	background: #51a83c
	& > a
		color: #fff
		.icon-arrow
			color: #fff
@media only screen and (min-width: 768px)
	.menu-categories > ul > li > ul
		display: none
		position: absolute
		left: 100%
		top: -1px
		width: 255px
		background: $green-def

@media only screen and (min-width: 768px)
	.menu-categories ul > li:hover	ul
		display: block

.menu-categories>ul>li:first-child 
	& > a
		font-weight: bold
		color: #fff
		@media only screen and (max-width: 767px)
			padding: 12px 18px 
			span
				font-size: 12px
	@media only screen and (max-width: 767px)
		margin: 0
		.icon-arrow
			font-size: 14px	
			right: 20px		
				

.menu-categories__link
	span
		display: block
		font-weight: normal
		color: $green-7

@media only screen and (max-width: 767px)
	.menu-categories ul li
		border-top: none
		&:first-child a
			margin: 0
		a
			padding: 15px 28px
			border-top: solid 1px #37951F
			margin: 0	12px
		.icon-arrow
			color: #fff	
			top: 35%
			right: 9px
			width: 20px
			height: 20px
			&:before
				position: absolute
				left: 50%
				top: 50%
				transform: translate(-50%, -50%)

@media only screen and (max-width: 991px)
	.menu-categories
		.category-head
			font-size: 14px
			font-weight: bold
			color: #fff
			padding: 18px 20px
			display: block
			cursor: pointer
			background: $green-light-def
			svg
				max-width: 15px
			path
				fill: #fff
			.icon
				margin-right: 5px
				display: inline-block
				transform: translateY(5px)
		.submenu
			position: fixed
			top: 40px
			left: -100%
			transition: $transition
			width: 276px
			height: calc(100% - 40px)
			z-index: 2
			overflow: hidden
			&.show 
				left: 0

/*________ End .catalog ________*/

/*________ location ________*/
.location
	display: flex
	align-items: center
	flex-shrink: 0
	color: $green-5
	margin-right: 25px
	font-size: 14px
	&-icon
		margin-right: 5px
	&-cities
		border-bottom: dashed 1px $green-5
		padding-bottom: 2px
		transition: $transition
		cursor: pointer
		&:hover
			border-color: transparent

@media only screen and (max-width: 1199px)
	.location
		display: none !important
/*________ End location ________*/

/*________ search ________*/
.search
	display: flex
	align-items: center
	max-width: 387px
	width: 100%
	position: relative
	input
		border: none
	.shell
		display: flex
		width: 100%
		position: relative
		z-index: 1
	.icon-hide
		display: none
		position: absolute
		right: 72px
		top: 11px
		cursor: pointer
		svg path
			fill: #A7B3BE
	&.active
		.icon-hide
			display: block
						

	@media only screen and (max-width: 767px)
		margin: 0 auto 10px
	&-white
		background: #fff
		border: solid 2px $green-light-def
		border-radius: 3px
	@media only screen and (max-width: 1199px)
		&.desktop
			display: none
	@media only screen and (max-width: 767px)
		display: none
		&.tablet
			display: flex
	@media only screen and (min-width: 768px)
		&.tablet
			display: none		
	.btn-search
		color: #fff
		font-weight: bold
		padding: 10px
		text-align: center
		background: $green-light-def
		border: none
		cursor: pointer
		border-radius: 0 3px 3px 0
		@media only screen and (max-width: 767px)
			padding: 5px
		&-transparent
			background-color: transparent
		.icon
			color: $green-light-def
			transform: translateY(2px)
			display: inline-block
	input
		border-radius: 3px 0 0 3px
		@media only screen and (max-width: 767px)
			padding: 5px 
.header
	.search
		@media only screen and (max-width: 1199px)
			max-width: 48%	
/*________ End search ________*/

/*________ .overlay ________*/
.overlay
	position: fixed
	background: rgba(0, 0, 0, .5)
	top: 0
	left: 0
	width: 100%
	height: 100%
	z-index: 2
	display: none
	animation: fadein ease 0.3s
	&.show
		display: block
/*________ End .overlay ________*/

/*________ .actions-part ________*/
.header-actions
	display: flex
.actions
	display: flex
	margin-left: 15px
	@media only screen and (max-width: 767px)
		margin-left: 0
	.icon
		font-size: 16px
		@media only screen and (max-width: 767px)
			font-size: 13px

	.icon-user
		font-size: 20px
		transform: translateX(-5px)
	.icon-user-personal
		font-size: 20px	
		@media only screen and (max-width: 767px)
			font-size: 15px
	&-part
		color: #fff
		padding: 0 17px
		position: relative
		@media only screen and (max-width: 767px)
			padding: 0 11px
		&:first-child
			margin-right: 16px
			@media only screen and (max-width: 1199px)
				margin-right: 0

		&:not(:first-child):before
			@media only screen and (min-width: 992px)	
				content: ''
				position: absolute
				left: 0
				top: -13px
				height: calc(100% + 26px)
				background: #309C16
				width: 1px
	&__icon
		height: 22px
		@media only screen and (max-width: 767px)
			height: 12px
		a
			display: flex
			justify-content: center
			color: #fff
	&__link
		a
			font-size: 13px
			color: #A9D49E
		@media only screen and (max-width: 991px)
			display: none

	&__count
		font-weight: bold
		font-size: 16px
		margin-left: 4px
		@media only screen and (max-width: 767px)
			font-size: 14px

.actions-part-authoriz
	@media only screen and (max-width: 991px)		
		display: none

/*________ End .actions-part ________*/
.panel-btn
	display: flex
	justify-content: flex-end
	padding: 0 0 20px 0
	@media only screen and (max-width: 767px)
		justify-content: center
	.btn-def
		padding: 9px 27px 9px
		margin-right: 9px
		@media only screen and (max-width: 767px)
			margin-right: 0
			padding: 6px 10px
			text-align: center
			width: 100%
			max-width: 280px

.panel-btn-nav
	font-size: 16px
	font-weight: bold			


/*________ .slider-banner ________*/
.slider-main
	margin-top: 18px
.slider-banner
	border-radius: 3px
	box-shadow: 0px 2px 2px #DFDFE7
	overflow: hidden
	padding-bottom: 16px
	background: #fff
	@media only screen and (max-width: 767px)
		padding-bottom: 0
		z-index: 0

	.slide
		width: 100%
		padding-top: 7px
		@media only screen and (max-width: 767px)
			padding-top: 18px
		img
			display: inline-block
		&-picture
			text-align: center
			@media only screen and (max-width: 767px)
				width: 85%
				margin-left: auto
				margin-right: auto
		&-title
			text-align: center
			font-size: 28px
			color: #6C7583
			font-weight: 300
			line-height: 39px
			text-transform: uppercase
			@media only screen and (max-width: 1199px)
				font-size: 26px
			@media only screen and (max-width: 991px)
				font-size: 20px
			@media only screen and (max-width: 575px)
				font-size: 12px
				line-height: 15px
			strong
				color: $green-def
				font-size: 29.5px
				font-weight: bold
				@media only screen and (max-width: 1199px)
					font-size: 26px
				@media only screen and (max-width: 991px)
					font-size: 20px
				@media only screen and (max-width: 575px)
					font-size: 11px		
		&-btn
			display: flex
			justify-content: center
			margin-top: 26px
			margin-bottom: 17px
			@media only screen and (max-width: 767px)
				margin: 13px 0
	
		.btn-def
			padding: 10px 20px 10px
			width: auto

			@media only screen and (max-width: 575px)
				font-size: 10px
				max-width: 66px
				padding: 0 5px			
/*________ End .slider-banner ________*/

/*________ .slick________*/
.slider-banner
	margin-left: 246px
	margin-right: 8px
	@media only screen and (max-width: 991px)
		margin-left: 0
		margin-right: 0
		font-size: 16px
	@media only screen and (max-width: 767px)
		width: calc(100% + 40px)
		margin-left: -20px
			
	.slick-next
		right: 17px
	.slick-prev
		left: 17px

	.slick-next,
	.slick-prev
		z-index: 1
		top: 44%
		@media only screen and (max-width: 767px)
			width: 12px
			top: 53%

		&:before
			display: none

.slick-dots
	bottom: 0
	position: relative
	li
		margin-right: 6px
		&.slick-active button:before
			opacity: 1
			background: $green-def
		button
			width: 100%
			height: 100%
			&:before
				background: #D2D3DB
				opacity: 1
				border-radius: 50%
				width: 14px
				height: 14px
				position: absolute
				left: 5px
				top: 2px
/*________ End .slick________*/

/*________ .heading________*/
.heading
	font-weight: bold
	font-size: 18px
	line-height: 21px
	color: #0E1F38
	text-transform: uppercase
	position: relative
	margin-bottom: 17px
	margin-left: 20px
	@media only screen and (max-width: 767px)
		font-size: 12px
	&:before
		content: ''
		position: absolute
		left: -31px
		top: -9px
		width: 15px
		height: 36px
		background: #69C530
		border-radius: 0px 2px 2px 0px
		@media only screen and (max-width: 767px)
			left: -20px
			top: -5px
			width: 11px
			height: 25px

.heading-panel
	margin-bottom: 11px
	display: flex
	align-items: center
	@media only screen and (max-width: 767px)
		justify-content: space-between
	.heading
		margin-bottom: 0
		margin-left: 0
		margin-right: 16px
/*________ End .heading________*/

/*________ .footer  ________*/
.footer
	background: #fff
	padding-bottom: 36px
	@media only screen and (max-width: 767px)
		padding-bottom: 17px
		box-shadow: 0px 2px 2px #E0E0E3
		margin-bottom: 74px	
	.container
		position: relative
	.network
		li
			&:first-child
				margin-left: 0
			@media only screen and (max-width: 767px)
				margin: 0 4px
				&:last-child
					margin-right: 0

.footer-notifications
	background: linear-gradient(90.06deg, #67AD09 23.11%, #388A1A 100%)
	padding: 37px 0 46px
	.shell
		display: flex
		justify-content: space-between
		padding-left: 229px

		@media only screen and (max-width: 991px)
			display: block
	@media only screen and (max-width: 991px)
		display: none	

/*** .hide-alert ***/
.hide-alert
	display: none

.footer-default
	.footer-inform .shell
		padding-left: 0	

/*** End .hide-alert ***/

.notifications
	&-picture	
		position: absolute
		left: 0
		top: -103px
		z-index: 100
	&-title
		font-weight: bold
		font-size: 24px
		line-height: 37px
		color: #fff
		background-image: url(../img/line-notif.png)
		background-repeat: no-repeat
		background-size: contain
		background-position: center 
		height: 69px
		display: flex
		align-items: center
		padding-left: 42px
		max-width: 546px
		width: 100%
		@media only screen and (max-width: 1199px)
			font-size: 20px

.app-download
	margin-left: 10px
	&__picture
		display: flex
		a
			display: inline-block
			&:not(:first-child)
				margin-left: 9px
	&__title
		font-weight: bold
		font-size: 18px
		line-height: 27px
		color: #0D3000
		padding-bottom: 3px

.hide-btn
	width: 30px
	height: 30px
	background: #212942
	display: flex
	align-items: center
	justify-content: center
	border-radius: 50%
	overflow: hidden
	position: absolute
	top: -52px
	right: 30px
	cursor: pointer

.footer-inform
	padding-top: 50px
	color: #6C7583
	font-size: 12px
	line-height: 18px
	.shell
		position: relative
		z-index: 999
	@media only screen and (max-width: 1199px)
		padding-top: 35px
	@media only screen and (max-width: 991px)
		padding-top: 24px
	@media only screen and (max-width: 575px)
		padding-right: 12px

	.shell
		display: flex
		justify-content: space-between
		padding-left: 277px
		@media only screen and (max-width: 991px)
			padding-left: 0
			display: block
				
	.item__text
		max-width: 49%
		margin-bottom: 24px
		@media only screen and (max-width: 991px)
			text-align: center
			margin-left: auto
			margin-right: auto
			margin-bottom: 17px
			br
				display: none
		@media only screen and (max-width: 575px)
			text-align: left
			max-width: 100%
			font-size: 10px
			span
				display: block	
		a
			color: #6C7583
			border-bottom: solid 1px #6C7583
			transition: $transition
			&:hover
				border-color: #FFF
	.item__from-design
		@media only screen and (max-width: 991px)
			display: flex
			justify-content: center
		@media only screen and (max-width: 767px)
			justify-content: space-between
					
	.from-design
		display: flex
		@media only screen and (max-width: 767px)
			align-items: center
		a
			color: #6C7583
			border-bottom: solid 1px #6C7583
			transition: $transition
			&:hover
				border-color: #FFF
		.icon
			margin-top: 6px
			margin-right: 5px
			@media only screen and (max-width: 767px)
				width: 24px
		@media only screen and (max-width: 575px)
			font-size: 9px		

.footer-menu
	margin-bottom: 11px
	@media only screen and (max-width: 991px)
		display: flex
		justify-content: center
		margin-bottom: 17px
	@media only screen and (max-width: 575px)
		justify-content: flex-start	
	li.active
		a
			color: $green-def
			font-weight: bold
	@media only screen and (max-width: 991px)
		li
			padding: 0 10px
			position: relative
			&:last-child
				padding-right: 0
			&:before
				content: '|'
				position: absolute
				left: 0
				top: 0
				width: 2px
				height: 100%
				color: #6C7583
			&:first-child
				padding-left: 0
				&:before
					display: none
	a
		font-size: 12px
		color: #6C7583
		@media only screen and (max-width: 479px)
			font-size: 10px

@media only screen and (max-width: 991px)
	.network-desktop
		display: none
	.network-mobile
		display: block
		margin-left: 10px

@media only screen and (min-width: 992px)
	.network-tablet
		display: none
/*________ End .footer  ________*/

/*________ .mobile-part ________*/
@media only screen and (min-width: 992px)
	.mobile-part
		display: none

@media only screen and (max-width: 991px)
	.mobile-part
		display: flex
		align-items: center
	.menu-mobile-btn
		width: 25px
		margin-right: 10px
		cursor: pointer
	.logo-mobile
		width: 100px
		margin-right: 28px
@media only screen and (max-width: 767px)
	.logo-mobile
		width: 74px
	.menu-mobile-btn
		width: 15px	
/*________ End .mobile-part  ________*/

/*________ .modal-content ________*/
.modal-content
	border-radius: 0
	border: none
	box-shadow: 0px 15px 35px rgba(74, 75, 80, 0.25)

.modal-body
	padding-bottom: 40px

.modal-title
	font-size: 24px
	font-weight: bold
	color: #0E1F38
	@media (max-width: 767px)
		font-size: 18px

.modal-header
	padding-top: 35px
	padding-bottom: 36px
	border-bottom: none
	display: block
	text-align: center
	@media (max-width: 767px)
		padding-top: 14px
		padding-bottom: 7px

.modal-panel-btn
	display: flex
	justify-content: space-between
	margin-top: 30px
	width: 100%	
.modal-panel-mob
	display: flex
	align-items: center
	padding: 10px 20px
	border-bottom: 1px solid #E3E7F1
	cursor: pointer
	span
		font-weight: bold
		color: $green-def
		text-transform: uppercase
		font-size: 12px
	.icon
		margin-right: 6px
		height: 15px
		svg
			width: 16px
		path
			fill: $green-def	

@media (min-width: 768px)
	.modal-panel-mob
		display: none

@media (min-width: 576px)
	.modal-dialog
		max-width: 550px
		margin: 1.75rem auto

/*________ End modal-content ________*/

/*________ color ________*/
.white
	background: #fff
/*________ End color ________*/

/*________ .notification-sent ________*/
.notification-sent
	display: none
	margin: 27px 0 48px
	animation: fadein ease 0.3s
	&__icon
		margin-right: 15px
		@media (max-width: 767px)
			margin-right: 8px
	&__text
		color: $green-light-def	
		font-weight: bold
		font-size: 18px
		line-height: 21px
	&.show
		display: flex
/*________ End .notification-sent ________*/

/*________ .map-search ________*/
.map-search
	width: 100%
	height: 100%
/*________ End .map-search ________*/
/*________ .page-bonuses ________*/
.back-button-mob
	display: none		
	@media only screen and (max-width: 767px)
		display: flex
		border-bottom: 1px solid #E3E7F1 
		a
			background: #FFFFFF
			box-shadow: none
			border-radius: 3px
			padding: 12px 17px 10px 19px
			background: transparent

		span
			font-weight: bold
			font-size: 12px
			line-height: 14px
			text-transform: uppercase
			color: #1C8D00
			padding-left: 0
.back-button
	display: flex
	@media only screen and (max-width: 767px)
		display: none
	a
		background: #FFFFFF
		box-shadow: 0px 1px 1px #DCDCDC
		border-radius: 3px
		padding: 11px 17px 10px 12px
	span
		font-weight: normal
		font-size: 14px
		line-height: 16px
		color: #A7B3BE
		padding-left: 9px
.img-title
	display: flex
	align-items: center
	position: relative
	margin-left: 29px
	@media only screen and (max-width: 767px)
		margin-left: 0
		padding: 27px 20px 27px 5px
	img
		position: absolute
		top: 50%
		transform: translate(0%, -44%)
	h5
		margin-bottom: 0
		font-weight: bold
		font-size: 18px
		line-height: 21px
		color: #0E1F38
		padding-left: 72px
		@media only screen and (max-width: 767px)
			font-weight: bold
			font-size: 14px
			line-height: 16px
			padding-left: 61px
/*________ End .page-bonuses ________*/

/*________ .mobile-nav ________*/
@import "mobile-nav"
/*________ End .mobile-nav ________*/

/*________ .page-main ________*/
@import "../blocks/page-main/page-main"
/*________ End .page-main ________*/

/*________ page-catalog ________*/
@import "../blocks/page-catalog/page-catalog"
/*________ End page-catalog ________*/

/*________ page-search ________*/
@import "../blocks/page-search/page-search"
/*________ End page-search ________*/

/*________ .page-card ________*/
@import "../blocks/page-card/page-card"
/*________ End .page-card  ________*/

/*________ page-login ________*/
@import "../blocks/page-login/page-login"
/*________ End page-login ________*/

/*________ page-registration ________*/
@import "../blocks/page-registration/page-registration"
/*________ End page-registration ________*/

/*________ page-pass-recovery ________*/
@import "../blocks/page-pass-recovery/page-pass-recovery"
/*________ End page-pass-recovery ________*/

/*________ page-org-per-acc ________*/
@import "../blocks/page-org-per-acc/page-org-per-acc"
/*________ End page-org-per-acc ________*/

/*________ page-org-per-acc ________*/
@import "../blocks/page-event-statistic/page-event-statistic"
/*________ End page-org-per-acc ________*/

/*________ page-visitor-account ________*/
@import "../blocks/page-visitor-account/page-visitor-account"
/*________ End page-visitor-account ________*/

/*________ page-create-new-event-step1 ________*/
@import "../blocks/page-create-new-event-step1/page-create-new-event-step1"
/*________ End page-create-new-event-step1 ________*/

/*________ page-visitor-account-favorites ________*/
@import "../blocks/page-visitor-account/page-visitor-favorites"
/*________ End page-visitor-account-favorites ________*/

/*________ page-create-new-event-step2 ________*/
@import "../blocks/page-create-new-event-step2/page-create-new-event-step2"
/*________ End page-create-new-event-step2 ________*/

/*________ page-create-new-event-step3 ________*/
@import "../blocks/page-create-new-event-step3/page-create-new-event-step3"
/*________ End page-create-new-event-step3 ________*/

/*________ page-create-new-event-step3_preview ________*/
@import "../blocks/page-create-new-event-step3_preview/page-create-new-event-step3_preview"
/*________ End page-create-new-event-step3_preview ________*/

/*________ page-create-new-event-step3_view_ticket ________*/
@import "../blocks/page-create-new-event-step3_view_ticket/page-create-new-event-step3_view_ticket"
/*________ End page-create-new-event-step3_view_ticket ________*/

/*________ page-create-new-event-step3_event_published ________*/
@import "../blocks/page-create-new-event-step3_event_published/page-create-new-event-step3_event_published"
/*________ End page-create-new-event-step3_event_published ________*/

/*________ page-editing-develop ________*/
@import "../blocks/page-editing-develop/page-editing-develop"
/*________ End page-editing-develop ________*/

/*________ page-verification ________*/
@import "../blocks/page-verification/page-verification"
/*________ End page-verification ________*/

/*________ page-verification-check-statuses ________*/
@import "../blocks/page-verification-check-statuses/page-verification-check-statuses"
/*________ End page-verification-check-statuses ________*/

/*________ page-client-base ________*/
@import "../blocks/page-client-base/page-client-base"
/*________ End page-client-base ________*/

/*________ page-ticket-check ________*/
@import "../blocks/page-ticket-check/page-ticket-check"
/*________ End page-ticket-check ________*/

/*________ page-ticket-check-client-not-found ________*/
@import "../blocks/page-ticket-check-client-not-found/page-ticket-check-client-not-found"
/*________ End page-ticket-check-client-not-found ________*/

/*________ page-ticket-check-view-ticket ________*/
@import "../blocks/page-ticket-check-view-ticket/page-ticket-check-view-ticket"
/*________ End page-ticket-check-view-ticket ________*/

/*________ page-paid-services ________*/
@import "../blocks/page-paid-services/page-paid-services"
/*________ End page-paid-services ________*/

/*________ page-personal-data ________*/
@import "../blocks/page-personal-data/page-personal-data"
/*________ End page-personal-data ________*/

/*________ page-support-service ________*/
@import "../blocks/page-support-service/page-support-service"
/*________ End page-support-service ________*/

/*________ page-contacts ________*/
@import "../blocks/page-contacts/page-contacts"
/*________ End page-contacts________*/

/*________ page-copyright-holders ________*/
@import "../blocks/page-copyright-holders/page-copyright-holders"
/*________ End page-copyright-holders________*/

/*________ page-404 ________*/
@import "../blocks/page-404/page-404"
/*________ End page-404________*/

/*________ page-training_1 ________*/
@import "../blocks/page-training_1/page-training_1"
/*________ End page-training_1________*/

/*________ page-training_2 ________*/
@import "../blocks/page-training_2/page-training_2"
/*________ End page-training_2________*/

/*________ page-training_3 ________*/
@import "../blocks/page-training_3/page-training_3"
/*________ End page-training_3________*/

/*________ page-training_4 ________*/
@import "../blocks/page-training_4/page-training_4"
/*________ End page-training_4________*/

/*________ page-training-poster_1 ________*/
@import "../blocks/page-training-poster_1/page-training-poster_1"
/*________ End page-training-poster_1________*/

/*________ page-training-poster_2 ________*/
@import "../blocks/page-training-poster_2/page-training-poster_2"
/*________ End page-training-poster_2________*/

/*________ page-training-poster_3 ________*/
@import "../blocks/page-training-poster_3/page-training-poster_3"
/*________ End page-training-poster_3________*/
	
/*________ page-training-poster_error ________*/
@import "../blocks/page-training-poster_error/page-training-poster_error"
/*________ End page-training-poster_error________*/
	
/*________ page-reminders ________*/
@import "../blocks/page-reminders/page-reminders"
/*________ End page-reminders________*/
	
/*________ page-bonuses ________*/
@import "../blocks/page-bonuses/page-bonuses"
/*________ End page-bonuses________*/
	
/*________ page-bonuses-accrual-rules ________*/
@import "../blocks/page-bonuses-accrual-rules/page-bonuses-accrual-rules"
/*________ End page-bonuses-accrual-rules________*/
	
/*________ page-bonuses-buy ________*/
@import "../blocks/page-bonuses-buy/page-bonuses-buy"
/*________ End page-bonuses-buy________*/
	
/*________ page-my-tickets ________*/
@import "../blocks/page-my-tickets/page-my-tickets"
/*________ End page-my-tickets________*/
	
/*________ page-ticket-page ________*/
@import "../blocks/page-ticket-page/page-ticket-page"
/*________ End page-ticket-page________*/
	
/*________ page-newsletter ________*/
@import "../blocks/page-newsletter/page-newsletter"
/*________ End page-newsletter________*/

/*________ page-support-service_2 ________*/
@import "../blocks/page-support-service_2/page-support-service_2"
/*________ End page-support-service_2________*/