@import "vars"
.mobile-navigate
	position: fixed
	top: 0
	left: inherit
	width: 275px
	max-height: 100vh
	height: 100%
	background: $green-2
	transform: translate3d(-276px, 0, 0)
	overflow-y: scroll
	display: flex
	flex-direction: column
	justify-content: flex-start

	&-bottom
		padding: 10px 17px  44px
		background: #51a83c
		position: relative
		z-index: 5
		margin-top: auto
	.app-download__picture
		margin-top: 10px
	.network ul li
		margin-left: 5px	
	.user-type
		margin-bottom: 24px  
		li
			a
				font-weight: bold
				font-size: 14px
				line-height: 16px
				color: #fff
				display: inline-block
				width: 100%
				padding: 15px 0
				border-bottom: solid 1px #37951F
.mobile-navigate-panel
	color: #90D27F
	font-weight: bold
	font-size: 14px
	line-height: 16px
	ul
		display: flex
		justify-content: space-between
	li
		padding: 12px 0
		text-align: center
		width: 50%
		position: relative
		cursor: pointer
		&:before
			content: ''
			width: 100%
			height: 3px
			background: transparent
			position: absolute
			left: 0
			bottom: 0
		&.active
			color: #fff
			&:before
				background: #00660A

.mobile-tabs
	.tab
		display: none
		&.show
			display: block