// .page-404
.page-404
	.container
		padding-left: 30px
		@media screen and (max-width: 767px)
			padding-left: 20px
	.wrap-block-with-text
		display: flex
		justify-content: center
		padding: 30px 0 50px
		@media screen and (max-width: 767px)
			padding: 11px 0 30px
		.block-with-text
			h2
				font-weight: normal
				font-size: 52px
				line-height: 61px
				text-align: center
				text-transform: uppercase
				color: #E3E7F1

				span
					display: block
					font-weight: bold
					font-size: 21px
					line-height: 25px
			p
				font-weight: bold
				font-size: 24px
				line-height: 28px
				text-align: center
				color: #A7B3BE
				padding-top: 15px
				margin-bottom: 21px
			a

				width: 100%
				padding: 9px 27px 8px
	.wrap-banners
		padding: 0
		margin: 0 -30px
		.banners
			.banners-top
				justify-content: center
				.banners-context
					padding: 53px 30px 37px
					@media screen and (max-width: 767px)
						padding: 21px 18px 22px
					h3
						font-weight: bold
						font-size: 42px
						line-height: 54px
						text-align: center
						text-transform: uppercase
						color: #FFFFFF
						@media screen and (max-width: 767px)
							font-size: 12px
							line-height: 17px
					img
						margin: 0 auto -22px
						@media screen and (max-width: 767px)
							margin: 0 auto 3px
	.posters-popular
		height: 210px
	.row-posters-popular
		margin-top: 58px
		margin-bottom: -5px
		@media screen and (max-width: 991px)
			margin-bottom: 50px
		@media screen and (max-width: 767px)
			margin-top: 32px
	.poster-current
		@media screen and (max-width: 767px)
			display: none

	// .posters-slider .slick-list
	// 	height: 210px
// /*End_.page-404*/