<div class="page-main page-404 page-insert">
	<div class="slider-main">
		<div class="container">
			<div class="wrap-block-with-text">
				<div class="block-with-text">
					<h2>
						404
						<span>ошибка</span>
					</h2>
					<p>
						Страница не найдена
					</p>
					<a href="#" class="btn-def">
						Каталог событий
					</a>
				</div>
			</div>
			<div class="wrap-banners">
				<div class="banners">
					<div class="banners-top">
						<div class="banners-context">
							<h3>
								Получайте бонусы и оплачивай ими билеты, ПРОСТО Рекомендуя события друзьям
							</h3>
							<img src="img/ticket-404.png" alt="ticket-404">
							<a href="#" class="btn-def btn-def_white">Подробнее</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row-posters row-posters-popular row-slider">
			<div class="heading-panel">
				<div class="heading">
					<strong>ТОп 10 ПопулярныХ событий</strong>
				</div>
				<div class="posters-active__arrows">
					<div class="icon-arrow icon-arrow-next slick-arrow left"><img src="img/arrow-sm-left.svg" alt="" /></div>
					<div class="icon-arrow icon-arrow-prev slick-arrow right"><img src="img/arrow-sm-right.svg" alt="" /></div>
				</div>
			</div>
			<div class="posters-wrapper">
				<div class="posters posters-slider posters-slider-popular">
					<div class="item">
						<div class="poster">
							<div class="poster__picture" style="background-image: url(img/poster-1.jpg)"></div>
							<div class="poster-description">
								<div class="poster__type">Детям</div>
								<div class="poster__title"><a href="#">Оранжевый ежик<i class="icon icon-like"></i></a></div>
								<div class="panel-hidden">
									<div class="poster__place">трк планета</div>
									<div class="poster__date">21 апреля, 19:30</div>
									<div class="poster-bottom-panel">
										<div class="poster__price">1000-2400 ₽</div>
										<div class="poster-btns">
											<button class="btn-def">Купить</button>
											<button class="btn-def btn-def-transparent">Оплатить бонусами</button>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="item">
						<div class="poster">
							<div class="poster__picture" style="background-image: url(img/poster-2.jpg)"></div>
							<div class="poster-description">
								<div class="poster__type">Театр</div>
								<div class="poster__title"><a href="#">Шекспир<i class="icon icon-like"></i></a></div>
								<div class="panel-hidden">
									<div class="poster__place">трк планета</div>
									<div class="poster__date">21 апреля, 19:30</div>
									<div class="poster-bottom-panel">
										<div class="poster__price">1000-2400 ₽</div>
										<div class="poster-btns">
											<button class="btn-def">Купить</button>
											<button class="btn-def btn-def-transparent">Оплатить бонусами</button>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="item">
						<div class="poster">
							<div class="poster__picture" style="background-image: url(img/poster-3.jpg)"></div>
							<div class="poster-description">
								<div class="poster__type">Кино</div>
								<div class="poster__title"><a href="#">Зеленая книга<i class="icon icon-like"></i></a></div>
								<div class="panel-hidden">
									<div class="poster__place">трк планета</div>
									<div class="poster__date">21 апреля, 19:30</div>
									<div class="poster-bottom-panel">
										<div class="poster__price">1000-2400 ₽</div>
										<div class="poster-btns">
											<button class="btn-def">Купить</button>
											<button class="btn-def btn-def-transparent">Оплатить бонусами</button>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="item">
						<div class="poster">
							<div class="poster__picture" style="background-image: url(img/poster-1.jpg)"></div>
							<div class="poster-description">
								<div class="poster__type">Концерт</div>
								<div class="poster__title"><a href="#">Пасож, новый альбом <i class="icon icon-like"></i></a></div>
								<div class="panel-hidden">
									<div class="poster__place">трк планета</div>
									<div class="poster__date">21 апреля, 19:30</div>
									<div class="poster-bottom-panel">
										<div class="poster__price">1000-2400 ₽</div>
										<div class="poster-btns">
											<button class="btn-def">Купить</button>
											<button class="btn-def btn-def-transparent">Оплатить бонусами</button>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="item">
						<div class="poster">
							<div class="poster__picture" style="background-image: url(img/poster-2.jpg)"></div>
							<div class="poster-description">
								<div class="poster__type">Театр</div>
								<div class="poster__title"><a href="#">Шекспир<i class="icon icon-like"></i></a></div>
								<div class="panel-hidden">
									<div class="poster__place">трк планета</div>
									<div class="poster__date">21 апреля, 19:30</div>
									<div class="poster-bottom-panel">
										<div class="poster__price">1000-2400 ₽</div>
										<div class="poster-btns">
											<button class="btn-def">Купить</button>
											<button class="btn-def btn-def-transparent">Оплатить бонусами</button>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="item">
						<div class="poster">
							<div class="poster__picture" style="background-image: url(img/poster-3.jpg)"></div>
							<div class="poster-description">
								<div class="poster__type">Кино</div>
								<div class="poster__title"><a href="#">Зеленая книга<i class="icon icon-like"></i></a></div>
								<div class="panel-hidden">
									<div class="poster__place">трк планета</div>
									<div class="poster__date">21 апреля, 19:30</div>
									<div class="poster-bottom-panel">
										<div class="poster__price">1000-2400 ₽</div>
										<div class="poster-btns">
											<button class="btn-def">Купить</button>
											<button class="btn-def btn-def-transparent">Оплатить бонусами</button>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="poster-current poster-current-desktop">
					<div class="poster-current__title">
						<strong>моя афиша</strong>
						<p>Укажите что любите и получайте события на почту или телефон</p>
					</div>
					<div class="poster-current__img"><img src="img/cuurent-poster.png" alt=""></div>
					<div class="poster-current__btn">
						<a href="#" class="btn-def btn-def_white">Выбрать события</a>
					</div>
				</div>
			</div>
		</div>

		<div class="row-posters row-posters-active row-slider">
			<div class="heading-panel">
				<div class="heading">
					<strong>Вы смотерели (18)</strong>
				</div>
				<div class="posters-active__arrows">
					<div class="icon-arrow icon-arrow-next slick-arrow left"><img src="img/arrow-sm-left.svg" alt="" /></div>
					<div class="icon-arrow icon-arrow-prev slick-arrow right"><img src="img/arrow-sm-right.svg" alt="" /></div>
				</div>
			</div>
			<div class="posters-wrapper">
				<div class="posters posters-slider posters-slider-active">
					<div class="item">
						<div class="poster">
							<div class="poster__picture" style="background-image: url(img/poster-21.jpg)"></div>
							<div class="poster-description">
								<div class="poster__type">Детям</div>
								<div class="poster__title"><a href="#">Оранжевый ежик<i class="icon icon-like"></i></a></div>
								<div class="panel-hidden">
									<div class="poster__link">
										<a href="#">
											<span>Подробнее</span>
											<span class="icon">
												<svg width="20" height="15" viewBox="0 0 20 15" fill="none" xmlns="http://www.w3.org/2000/svg">
													<path d="M13.4678 0.900079C13.1953 0.625918 12.7418 0.625918 12.4598 0.900079C12.1874 1.16498 12.1874 1.60586 12.4598 1.87014L17.5707 6.839H0.705621C0.31248 6.83962 0 7.14342 0 7.52564C0 7.90786 0.31248 8.22154 0.705621 8.22154H17.5707L12.4598 13.1811C12.1874 13.4553 12.1874 13.8968 12.4598 14.1611C12.7418 14.4352 13.1959 14.4352 13.4678 14.1611L19.7885 8.01592C20.0705 7.75102 20.0705 7.31014 19.7885 7.04586L13.4678 0.900079Z" fill="#6C7583"/>
												</svg>
											</span>
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="item">
						<div class="poster">
							<div class="poster__picture" style="background-image: url(img/poster-9.jpg)"></div>
							<div class="poster-description">
								<div class="poster__type">Концерт</div>
								<div class="poster__title"><a href="#">Однажды в России<i class="icon icon-like"></i></a></div>
								<div class="panel-hidden">
									<div class="poster__link">
										<a href="#">
											<span>Подробнее</span>
											<span class="icon">
												<svg width="20" height="15" viewBox="0 0 20 15" fill="none" xmlns="http://www.w3.org/2000/svg">
													<path d="M13.4678 0.900079C13.1953 0.625918 12.7418 0.625918 12.4598 0.900079C12.1874 1.16498 12.1874 1.60586 12.4598 1.87014L17.5707 6.839H0.705621C0.31248 6.83962 0 7.14342 0 7.52564C0 7.90786 0.31248 8.22154 0.705621 8.22154H17.5707L12.4598 13.1811C12.1874 13.4553 12.1874 13.8968 12.4598 14.1611C12.7418 14.4352 13.1959 14.4352 13.4678 14.1611L19.7885 8.01592C20.0705 7.75102 20.0705 7.31014 19.7885 7.04586L13.4678 0.900079Z" fill="#6C7583"/>
												</svg>
											</span>
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="item">
						<div class="poster">
							<div class="poster__picture" style="background-image: url(img/poster-33.jpg)"></div>
							<div class="poster-description">
								<div class="poster__type">Другое</div>
								<div class="poster__title"><a href="#">Арена виртуальной реальности Another World<i class="icon icon-like"></i></a></div>
								<div class="panel-hidden">
									<div class="poster__link">
										<a href="#">
											<span>Подробнее</span>
											<span class="icon">
												<svg width="20" height="15" viewBox="0 0 20 15" fill="none" xmlns="http://www.w3.org/2000/svg">
													<path d="M13.4678 0.900079C13.1953 0.625918 12.7418 0.625918 12.4598 0.900079C12.1874 1.16498 12.1874 1.60586 12.4598 1.87014L17.5707 6.839H0.705621C0.31248 6.83962 0 7.14342 0 7.52564C0 7.90786 0.31248 8.22154 0.705621 8.22154H17.5707L12.4598 13.1811C12.1874 13.4553 12.1874 13.8968 12.4598 14.1611C12.7418 14.4352 13.1959 14.4352 13.4678 14.1611L19.7885 8.01592C20.0705 7.75102 20.0705 7.31014 19.7885 7.04586L13.4678 0.900079Z" fill="#6C7583"/>
												</svg>
											</span>
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="item">
						<div class="poster">
							<div class="poster__picture" style="background-image: url(img/poster-29.jpg)"></div>
							<div class="poster-description">
								<div class="poster__type">Киберспорт</div>
								<div class="poster__title"><a href="#">Epicenter Major<i class="icon icon-like"></i></a></div>
								<div class="panel-hidden">
									<div class="poster__link">
										<a href="#">
											<span>Подробнее</span>
											<span class="icon">
												<svg width="20" height="15" viewBox="0 0 20 15" fill="none" xmlns="http://www.w3.org/2000/svg">
													<path d="M13.4678 0.900079C13.1953 0.625918 12.7418 0.625918 12.4598 0.900079C12.1874 1.16498 12.1874 1.60586 12.4598 1.87014L17.5707 6.839H0.705621C0.31248 6.83962 0 7.14342 0 7.52564C0 7.90786 0.31248 8.22154 0.705621 8.22154H17.5707L12.4598 13.1811C12.1874 13.4553 12.1874 13.8968 12.4598 14.1611C12.7418 14.4352 13.1959 14.4352 13.4678 14.1611L19.7885 8.01592C20.0705 7.75102 20.0705 7.31014 19.7885 7.04586L13.4678 0.900079Z" fill="#6C7583"/>
												</svg>
											</span>
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="item">
						<div class="poster">
							<div class="poster__picture" style="background-image: url(img/poster-21.jpg)"></div>
							<div class="poster-description">
								<div class="poster__type">Детям</div>
								<div class="poster__title"><a href="#">Оранжевый ежик<i class="icon icon-like"></i></a></div>
								<div class="panel-hidden">
									<div class="poster__link">
										<a href="#">
											<span>Подробнее</span>
											<span class="icon">
												<svg width="20" height="15" viewBox="0 0 20 15" fill="none" xmlns="http://www.w3.org/2000/svg">
													<path d="M13.4678 0.900079C13.1953 0.625918 12.7418 0.625918 12.4598 0.900079C12.1874 1.16498 12.1874 1.60586 12.4598 1.87014L17.5707 6.839H0.705621C0.31248 6.83962 0 7.14342 0 7.52564C0 7.90786 0.31248 8.22154 0.705621 8.22154H17.5707L12.4598 13.1811C12.1874 13.4553 12.1874 13.8968 12.4598 14.1611C12.7418 14.4352 13.1959 14.4352 13.4678 14.1611L19.7885 8.01592C20.0705 7.75102 20.0705 7.31014 19.7885 7.04586L13.4678 0.900079Z" fill="#6C7583"/>
												</svg>
											</span>
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="poster-current poster-current-mobile">
		<div class="poster-current__title">
			<strong>моя афиша</strong>
			<p>Укажите что любите и получайте события на почту или телефон</p>
		</div>
		<div class="poster-current__img"><img src="img/cuurent-poster.png" alt=""></div>
		<div class="poster-current__btn">
			<a href="#" class="btn-def btn-def_white">Выбрать события</a>
		</div>
	</div>
	<div class="app-mobile">
		<div class="app-mobile__title">Чаще ищете куда сходить с телефона?</div>
		<div class="app-mobile__pre-title">Скачайте приложение EVENTR</div>
		<div class="app-mobile__img">
			<p><a href="#"><img src="img/gps.png" alt=""></a></p>
			<p><a href="#"><img src="img/aps.png" alt=""></a></p>
		</div>
	</div>
</div>