.page-visitor-favorites
	.posters-wrapper
		flex-wrap: wrap
		justify-content: flex-start
		overflow: visible
	.poster
		@media screen and (min-width: 768px)
			width: 33.33%
			height: 285px
			&-bottom-panel-mobile
				display: none
		@media only screen and (max-width: 991px)
			width: 50%	
		@media only screen and (max-width: 575px)
			height: 160px

	.poster
		overflow: visible
		&:hover
			.panel-hidden
				display: block
			.poster
				&-description
					height: 100%

		@media only screen and (max-width: 767px)
			.panel-hidden
				position: absolute
				bottom: 16px
				width: 100%	
			&-bottom-panel-desktop
				display: none
			.poster__close
				opacity: 0
			&__title a
				line-height: normal
			&-description
				padding-bottom: 16px
				padding-top: 16px
			&-bottom-panel
				padding-top: 25px
			&__place,
			&__date
				font-size: 12px
				line-height: normal
				color: rgba(227, 231, 241, .6)
			.btn-def
				padding: 3px 13px
				font-size: 12px	

	.free-btn
		position: absolute
		top: 30px
		left: 30px
		z-index: 1
	.top-nav
		display: flex
		align-items: center
		justify-content: space-between
		padding-bottom: 25px
		@media only screen and (max-width: 991px)
			flex-wrap: wrap

		.btn-def
			border-radius: 0
			border: none
			font-weight: normal
			box-shadow: 0px 2px 2px #E0E0E3
			&:first-child
				border-radius: 3px 0px 0px 3px
			&:last-child
				border-radius: 0px 3px 3px 0px	
			&.active
				background-color: #A7B3BE
				color: #fff
				font-weight: bold
		&__btn
			display: flex
			border-radius: 3px 
			&:focus,
			&.active
				outline: none 
			@media only screen and (max-width: 991px)
				.btn-def
					padding-top: 7px
					padding-bottom: 7px

		&__name
			margin-right: 15px
			color: #A7B3BE
			@media only screen and (max-width: 767px)
				font-size: 12px
		.item
			display: flex
			align-items: center
			@media only screen and (max-width: 767px)
				&:first-child
					order: 1
					margin-top: 20px
					width: 100%	
			@media only screen and (max-width: 767px)		
				.item-nav
					order: -1
					
		.wrap-select
			@media only screen and (max-width: 767px)
				max-width: 285px
				width: 100%			
		.select2
			@media only screen and (max-width: 767px)
				margin-bottom: 0
				&-container--default .select2-selection--single
					height: 35px

							
	.tab
		display: none
		animation: fadein ease 0.3s
		&.active
			display: block	
			// display: none
	.hedding-page
		h1
			margin: 0 0 7px 0
			font-size: 18px
			line-height: 21px
			color: #0E1F38
			@media only screen and (max-width: 767px)
				font-size: 14px
	.main-content
		@media only screen and (max-width: 767px)
			padding-top: 15px
			.select
				width: auto !important

	.calendar
		&-wrap
			@media only screen and (max-width: 575px)
				margin-left: -20px
				margin-right: -20px
		&-nav
			display: none
			animation: fadein ease 0.3s
			@media only screen and (max-width: 767px)
				width: 100%
				order: 1
				margin-top: 20px
				margin-left: auto
				margin-right: auto
				max-width: 285px
				justify-content: space-between
			&.show
				display: flex
				align-items: center
			.btn-def
				width: 36px
				height: 36px
				padding: 0	
			.month-calendar
				color: #6C7583
				font-weight: bold
				font-size: 14px
				line-height: 16px
				padding: 0 14px 
				width: 140px
				text-align: center
				&:first-letter
					text-transform: uppercase
	.fc-header-toolbar
		display: none

.fc-day-header span
	font-weight: normal
	font-size: 16px
	line-height: 19px
	text-transform: capitalize
	@media only screen and (max-width: 767px)
		font-size: 12px
		padding-left: 5px

.fc-widget-header
	padding-bottom: 7px
	thead, th, td
		border-color: transparent

.fc-unthemed
	.fc-head td
		border: none
	td
		border-color: #E6E6EA	
.fc
	th, td
		text-align: left	

.fc-widget-content
	tr td
		background: #fff
		&:nth-child(2n)
			background: #F9F9FA
.fc-past
	color: #6C7583

.fc-other-month
	opacity: 1
	color: #A7B3BE
	font-weight: normal

.fc-ltr .fc-dayGrid-view .fc-day-top .fc-day-number
	float: left
	transform: translate(20px, 20px)
	font-weight: bold !important
	padding: 0
	@media only screen and (max-width: 767px)
		transform: translate(8px, 8px)
		font-size: 10px

.fc-event, .fc-event-dot
	background-color: transparent
	border: none 

.fc-unthemed .fc-today 
	color: #fff

.fc-title
	.event-1
		transform: translate(20px, 24px)
		@media only screen and (max-width: 767px)
			transform: translate(8px, 12px)
	.event-2
		transform: translate(45px, 7px)
		@media only screen and (max-width: 767px)
			transform: translate(29px, -5px)
	.event-3
		transform: translate(68px, -10px)
		@media only screen and (max-width: 767px)
			transform: translate(50px, -22px)
	.icon
		color: $green-light-def
		display: inline-block

.fc-day-grid-event .fc-content
	overflow: visible


.today-containe .fc-title .icon
	color: #fff	
	font-size: 13px

.fc-more
	@media only screen and (max-width: 767px)
		transform: translate(25px, -6px)
		display: inline-block
		font-size: 14px
		font-weight: bold
		color: $green-light-def !important
		margin: 0