.page-visitor-account
	.main-content
		min-height: auto
	.row-wrap-main
		padding-bottom: 30px
.side-bar-user
	&_visitor
		.top-nav
			align-items: center
		.user-status
			font-size: 13px
		ul .icon-ticket
			font-size: 39px	
			transform: translate(-5px, -8px)

/*** .panel-default ***/
.panel-default
	border-radius: 3px
	padding: 30px
	&.white
		background: #fff
	&.gray
		background: #FAFBFB
	&.border
		border: solid 1px #E3E7F1	
	&.shadow-block
		box-shadow: 0px 2px 2px #E0E0E3				
/*** End .panel-default ***/	

.page-visitor-account
	.menu-full
		@media only screen and (max-width: 650px)
			background-color: transparent
			padding: 0
			box-shadow: none
.menu-full
	.shell
		display: flex
		flex-wrap: wrap
		margin: -10px
		@media only screen and (max-width: 650px)
			margin: 0 -5px
	&-item
		text-align: center
		width: calc(33.33% - 20px)
		margin: 10px
		border-color: #E6E9EF
		transition: $transition
		@media only screen and (max-width: 1199px)
			width: calc(50% - 20px)
		@media only screen and (max-width: 991px)
			width: calc(33.33% - 20px)
			padding: 25px 10px
			&:last-child
				img
					width: auto
		@media only screen and (max-width: 650px)
			width: calc(50% - 10px)
			height: 135px
			margin: 10px 5px
			padding: 20px 0	


		@media only screen and (min-width: 992px)
			&:last-child,
			&:nth-last-child(2)
				display: none
		&__icon
			height: 104px
			display: flex
			align-content: flex-start
			justify-content: center
			@media only screen and (max-width: 991px)
				height: 60px
			@media only screen and (max-width: 650px)
				height: 55px	
			img
				margin: auto 0
				@media only screen and (max-width: 991px)
					width: 66px
				@media only screen and (max-width: 767px)
					width: 56px
				@media only screen and (max-width: 650px)
					width: 55px
					transform: translateY(4px)
						
						
		&__count
			padding-bottom: 11px
			font-size: 42px
			font-weight: bold
			color: $green-def
			@media only screen and (max-width: 991px)
				font-size: 26px
				line-height: 21px
				padding-bottom: 5px
				color: $green-light-def
		&__title a
			font-size: 18px
			color: #6C7583
			@media only screen and (max-width: 991px)
				font-size: 16px
			@media only screen and (max-width: 650px)
				font-size: 12px	

@media only screen and (max-width: 650px)
	.menu-full-item:last-child,
	.menu-full-item:nth-last-child(2)
		.menu-full-item
			&__title
				margin-top: 25px
	.menu-full-item:last-child
		.menu-full-item
			&__icon
				width: 30px
				margin: auto
	.menu-full-item:nth-last-child(2)
		.menu-full-item
			&__icon
				transform: translateY(9px)		

.menu-full
	&-item:hover
		background: #fff
		box-shadow: 0px 40px 60px #E8EAED
		.menu-full
			&-item
				&__title a
					color: #0E1F38
				&__count
					color: $green-light-def

/*** Mobile	.left-side-menu ***/
@media only screen and (max-width: 991px)
	.left-side-menu
		background: #3E9E26
		text-align: justify
		box-shadow: none
		.top-nav
			padding: 9px 18px 13px 22px
			position: relative
			background: #51A83C
			display: flex
		.user
			&-avatar
				color: #fff
				font-size: 20px
				margin-right: 15px
				margin-top: 5px
			&-inform
				width: 100%	
			&-name
				font-weight: bold
				font-size: 14px
				line-height: 1em
				color: #fff
				margin: 0 0 2px
				display: flex
				align-items: center
			&-status
				margin: 0
				font-weight: normal
				font-size: 12px
				line-height: 1em
				color: #C8ECC0
			&-gear
				margin-left: auto
				padding-top: 4px
				display: flex
				transform: translateY(7px)
				i
					margin: auto
					color: #fff
					font-size: 16px

		ul
			padding: 4px 25px 0 16px
			li
				display: flex
				position: relative
				border-bottom: solid 1px #389720
				&:last-child
					border-bottom: none
				span
					margin-left: 5px	
				.icon
					color: #fff
					margin-left: 17px
					width: 25px
					height: 25px
					display: flex
					align-items: center
					justify-content: flex-start
				a
					display: flex
					align-items: center
					padding: 10px 0
					font-size: 14px
					line-height: 16px
					color: #C8ECC0
				.icon-arrow
					color: #C8ECC0
					position: absolute
					right: 0
					top: 12px
				.icon-ticket:before
					font-size: 28px
					transform: translateX(-6px)
				.icon-mail:before
					font-size: 12px	
/*** End Mobile	.left-side-menu ***/