<div class="page-visitor-account page-visitor-favorites page-insert">
	<div class="container">
		<div class="row-wrap-main">
			<div class="col-item side-bar">
				<div class="side-bar-user side-bar-user_visitor">
					<div class="top-nav">
						<div class="user-avatar" style="background-image: url(img/user-visit.png)"></div>
						<div class="user-inform">
							<div class="user-name">
								<span>Марина</span>
								<a class="user-gear" href="#">
									<i class="icon icon-settings"></i>
								</a>
							</div>
							<div class="user-status">Посетитель событий</div>
						</div>
					</div>

					<ul>
						<li class="active">
							<a href="#">
								<i class="icon icon-like"></i>
								<span>Избранное</span>
							</a>
						</li>
						<li>
							<a href="#">
								<i class="icon icon-remind"></i>
								<span>Напоминания</span>
							</a>
						</li>
						<li>
							<a href="#">
								<i class="icon icon-bonuses"></i>
								<span>Бонусы</span>
							</a>
						</li>
						<li>
							<a href="#">
								<i class="icon icon-ticket"></i>
								<span>Билеты</span>
							</a>
						</li>
						<li>
							<a href="#">
								<i class="icon icon-mail"></i>
								<span>Рассылка</span>
							</a>
						</li>
					</ul>
					
					<ul>
						<li>
							<a href="#">
								<i class="icon icon-support"></i>
								<span>Служба поддержки</span>
							</a>
						</li>
						<li>
							<a href="#">
								<i class="icon icon-exit"></i>
								<span>Выйти из кабинета</span>
							</a>
						</li>
					</ul>
				</div>
			</div>
			<div class="col-item main-content">
				<div class="hedding-page">
					<h1>Избранное</h1>
				</div>
				<div class="top-nav">
					<div class="item item-select">
						<div class="wrap-select">
							<select class="select">
								<option>Все события (43)</option>
								<option>Cобытия (2)</option>
								<option>Cобытия (5)</option>
								<option>Все события (9)</option>
								<option>(11)</option>
								<option>Все события(1)</option>
							</select>
						</div>
					</div>
					<div class="calendar-nav">
						<button class="btn-def btn-def_gray" id='prev'><img src="img/arrow-sm-left.svg" alt=""></button>
						<span  id="month-calendar" class="month-calendar"></span>
						<button class="btn-def btn-def_gray" id='next'><img src="img/arrow-sm-right.svg" alt=""></button>
					</div>
					<div class="item item-nav">
						<span class="top-nav__name">Вид</span>
						<div class="top-nav__btn view-favorites">
							<button class="btn-def btn-def_gray active"  data-attr="posters">Карточки</button>
							<button class="btn-def btn-def_gray" data-attr="calendar">Календарь</button>
						</div>
					</div>
				</div>
				<div class="tab-content">
					<div class="tab active" data-attr="posters">
						<div class="row-posters">
							<div class="posters-wrapper">
								<div class="poster">
									<a href="#" class="poster__close" data-toggle="modal" data-target="#my_modal"></a>
									<div class="poster__picture" style="background-image: url(img/poster-8.jpg)"></div>
									<div class="poster-description">
										<div class="poster__type">Танцы</div>
										<div class="poster__title"><a href="#" tabindex="0">Илья Авербух. 15 лет успеха</a></div>
										<div class="panel-hidden">
											<div class="poster__place">Уфа Арена</div> 
											<div class="poster__date">21 апреля, 19:30</div>
											<div class="poster-bottom-panel poster-bottom-panel-desktop">
												<div class="poster__price">1000-2400 ₽</div>
												<div class="poster-btns">
													<button class="btn-def">Купить</button>
													<button class="btn-def btn-def_transparent">Оплатить бонусами</button>
												</div>
											</div>
											<div class="poster-bottom-panel poster-bottom-panel-mobile">
												<div class="poster-btns">
													<button class="btn-def  btn-def_transparent" data-toggle="modal" data-target="#my_modal">Убрать</button>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="poster">
									<a href="#" class="poster__close" data-toggle="modal" data-target="#my_modal"></a>
									<div class="poster__picture" style="background-image: url(img/poster-11.jpg)"></div>
									<div class="poster-description">
										<div class="poster__type">Танцы</div>
										<div class="poster__title"><a href="#" tabindex="0">Илья Авербух. 15 лет успеха</a></div>
										<div class="panel-hidden">
											<div class="poster__place">Уфа Арена</div> 
											<div class="poster__date">21 апреля, 19:30</div>
											<div class="poster-bottom-panel poster-bottom-panel-desktop">
												<div class="poster__price">1000-2400 ₽</div>
												<div class="poster-btns">
													<button class="btn-def">Купить</button>
													<button class="btn-def btn-def_transparent">Оплатить бонусами</button>
												</div>
											</div>
											<div class="poster-bottom-panel poster-bottom-panel-mobile">
												<div class="poster-btns">
													<button class="btn-def  btn-def_transparent" data-toggle="modal" data-target="#my_modal">Убрать</button>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="poster">
									<a href="#" class="poster__close" data-toggle="modal" data-target="#my_modal"></a>
									<div class="poster__picture" style="background-image: url(img/poster-9.jpg)"></div>
									<div class="poster-description">
										<div class="poster__type">Танцы</div>
										<div class="poster__title"><a href="#" tabindex="0">Илья Авербух. 15 лет успеха</a></div>
										<div class="panel-hidden">
											<div class="poster__place">Уфа Арена</div> 
											<div class="poster__date">21 апреля, 19:30</div>
											<div class="poster-bottom-panel poster-bottom-panel-desktop">
												<div class="poster__price">1000-2400 ₽</div>
												<div class="poster-btns">
													<button class="btn-def">Купить</button>
													<button class="btn-def btn-def_transparent">Оплатить бонусами</button>
												</div>
											</div>
											<div class="poster-bottom-panel poster-bottom-panel-mobile">
												<div class="poster-btns">
													<button class="btn-def  btn-def_transparent" data-toggle="modal" data-target="#my_modal">Убрать</button>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="poster">
									<a href="#" class="poster__close" data-toggle="modal" data-target="#my_modal"></a>
									<div class="poster__picture" style="background-image: url(img/poster-25.jpg)"></div>
									<div class="poster-description">
										<div class="poster__type">Танцы</div>
										<div class="poster__title"><a href="#" tabindex="0">Илья Авербух. 15 лет успеха</a></div>
										<div class="panel-hidden">
											<div class="poster__place">Уфа Арена</div> 
											<div class="poster__date">21 апреля, 19:30</div>
											<div class="poster-bottom-panel poster-bottom-panel-desktop">
												<div class="poster__price">1000-2400 ₽</div>
												<div class="poster-btns">
													<button class="btn-def">Купить</button>
													<button class="btn-def btn-def_transparent">Оплатить бонусами</button>
												</div>
											</div>
											<div class="poster-bottom-panel poster-bottom-panel-mobile">
												<div class="poster-btns">
													<button class="btn-def  btn-def_transparent" data-toggle="modal" data-target="#my_modal">Убрать</button>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="poster">
									<a href="#" class="poster__close" data-toggle="modal" data-target="#my_modal"></a>
									<div class="poster__picture" style="background-image: url(img/poster-37.jpg)"></div>
									<div class="poster-description">
										<div class="poster__type">Танцы</div>
										<div class="poster__title"><a href="#" tabindex="0">Илья Авербух. 15 лет успеха</a></div>
										<div class="panel-hidden">
											<div class="poster__place">Уфа Арена</div> 
											<div class="poster__date">21 апреля, 19:30</div>
											<div class="poster-bottom-panel poster-bottom-panel-desktop">
												<div class="poster__price">1000-2400 ₽</div>
												<div class="poster-btns">
													<button class="btn-def">Купить</button>
													<button class="btn-def btn-def_transparent">Оплатить бонусами</button>
												</div>
											</div>
											<div class="poster-bottom-panel poster-bottom-panel-mobile">
												<div class="poster-btns">
													<button class="btn-def  btn-def_transparent" data-toggle="modal" data-target="#my_modal">Убрать</button>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="poster">
									<a href="#" class="poster__close" data-toggle="modal" data-target="#my_modal"></a>
									<div class="poster__picture" style="background-image: url(img/poster-41.jpg)"></div>
									<div class="poster-description">
										<div class="poster__type">Танцы</div>
										<div class="poster__title"><a href="#" tabindex="0">Илья Авербух. 15 лет успеха</a></div>
										<div class="panel-hidden">
											<div class="poster__place">Уфа Арена</div> 
											<div class="poster__date">21 апреля, 19:30</div>
											<div class="poster-bottom-panel poster-bottom-panel-desktop">
												<div class="poster__price">1000-2400 ₽</div>
												<div class="poster-btns">
													<button class="btn-def">Купить</button>
													<button class="btn-def btn-def_transparent">Оплатить бонусами</button>
												</div>
											</div>
											<div class="poster-bottom-panel poster-bottom-panel-mobile">
												<div class="poster-btns">
													<button class="btn-def  btn-def_transparent" data-toggle="modal" data-target="#my_modal">Убрать</button>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="tab" data-attr="calendar">
						<div class="calendar-wrap">
							<div id="calendar"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="app-mobile">
			<div class="app-mobile__title">Чаще ищете куда сходить с телефона?</div>
			<div class="app-mobile__pre-title">Скачайте приложение EVENTR</div>
			<div class="app-mobile__img">
				<p><a href="#"><img src="img/gps.png" alt=""></a></p>
				<p><a href="#"><img src="img/aps.png" alt=""></a></p>
			</div>
		</div>
	</div>
</div>