<div class="page-visitor-account page-insert">
	<div class="container">
		<div class="row-wrap-main">
			<div class="col-item side-bar">
				<div class="side-bar-user side-bar-user_visitor">
					<div class="top-nav">
						<div class="user-avatar" style="background-image: url(img/user-visit.png)"></div>
						<div class="user-inform">
							<div class="user-name">
								<span>Марина5</span>
								<a class="user-gear" href="#">
									<i class="icon icon-settings"></i>
								</a>
							</div>
							<div class="user-status">Посетитель событий</div>
						</div>
					</div>

					<ul>
						<li>
							<a href="#">
								<i class="icon icon-like"></i>
								<span>Избранное</span>
							</a>
						</li>
						<li>
							<a href="#">
								<i class="icon icon-remind"></i>
								<span>Напоминания</span>
							</a>
						</li>
						<li>
							<a href="#">
								<i class="icon icon-bonuses"></i>
								<span>Бонусы</span>
							</a>
						</li>
						<li>
							<a href="#">
								<i class="icon icon-ticket"></i>
								<span>Билеты</span>
							</a>
						</li>
						<li>
							<a href="#">
								<i class="icon icon-mail"></i>
								<span>Рассылка</span>
							</a>
						</li>
					</ul>
					
					<ul>
						<li>
							<a href="#">
								<i class="icon icon-support"></i>
								<span>Служба поддержки</span>
							</a>
						</li>
						<li>
							<a href="#">
								<i class="icon icon-exit"></i>
								<span>Выйти из кабинета</span>
							</a>
						</li>
					</ul>
				</div>
			</div>
			<div class="col-item main-content">
				<div class="panel-default menu-full white shadow-block">
					<div class="shell">
						<div class="menu-full-item panel-default gray border">
							<div class="menu-full-item__icon"><img src="img/favorite-icon-lg.png" alt=""></div>
							<div class="menu-full-item__count">48</div>
							<div class="menu-full-item__title"><a href="#">Избранное</a></div>
						</div>
						<div class="menu-full-item panel-default gray border">
							<div class="menu-full-item__icon"><img src="img/calendar-icon-lg.png" alt=""></div>
							<div class="menu-full-item__count">48</div>
							<div class="menu-full-item__title"><a href="#">Мой календарь</a></div>
						</div>
						<div class="menu-full-item panel-default gray border">
							<div class="menu-full-item__icon"><img src="img/reminders-icon-lg.png" alt=""></div>
							<div class="menu-full-item__count">3</div>
							<div class="menu-full-item__title"><a href="#">Напоминания</a></div>
						</div>
						<div class="menu-full-item panel-default gray border">
							<div class="menu-full-item__icon"><img src="img/bonus-icon-lg.png" alt=""></div>
							<div class="menu-full-item__count">1205</div>
							<div class="menu-full-item__title"><a href="#">Бонусы</a></div>
						</div>
						<div class="menu-full-item panel-default gray border">
							<div class="menu-full-item__icon"><img src="img/ticket-icon-lg.png" alt=""></div>
							<div class="menu-full-item__count">13</div>
							<div class="menu-full-item__title"><a href="#">Билеты</a></div>
						</div>
						<div class="menu-full-item panel-default gray border">
							<div class="menu-full-item__icon"><img src="img/mail-icon-lg.png" alt=""></div>
							<div class="menu-full-item__count">27</div>
							<div class="menu-full-item__title"><a href="#">Рассылка</a></div>
						</div>
						<div class="menu-full-item panel-default gray border">
							<div class="menu-full-item__icon"><img src="img/support-icon-lg.png" alt=""></div>
							<div class="menu-full-item__title"><a href="#">Служба поддержки</a></div>
						</div>
						<div class="menu-full-item panel-default gray border">
							<div class="menu-full-item__icon"><img src="img/log-icon-lg.png" alt=""></div>
							<div class="menu-full-item__title"><a href="#">Выйти из кабинета</a></div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="app-mobile">
			<div class="app-mobile__title">Чаще ищете куда сходить с телефона?</div>
			<div class="app-mobile__pre-title">Скачайте приложение EVENTR</div>
			<div class="app-mobile__img">
				<p><a href="#"><img src="img/gps.png" alt=""></a></p>
				<p><a href="#"><img src="img/aps.png" alt=""></a></p>
			</div>
		</div>
	</div>
</div>