// .page-reminders
.page-reminders
	.main-content
		@media screen and (max-width: 767px)
			width: 100%
	.desktop-main-content
		display: none
		@media screen and (min-width: 768px)
			display: block
	.mobile-main-content
		display: none
		@media screen and (max-width: 767px)
			display: block
		h5
			font-weight: bold
			font-size: 14px
			line-height: 21px
			color: #0E1F38
			padding-top: 16px
			margin-bottom: 14px
			@media screen and (max-width: 767px)
				padding-top: 13px
				margin-bottom: 3px
		.event-date
			font-size: 12px
			line-height: 14px
			color: #a7b3be
		.event-status
			font-size: 12px
			line-height: 14px
			color: $green-light-def
		.wrap-event-part
			@media screen and (max-width: 767px)
				padding: 14px 20px 0
				border: 0
		.event-btn-back
			background: #F4F4F5
		.event-part
			padding-bottom: 0
		.event-text
			justify-content: flex-start
		.modal-body
			@media screen and (max-width: 767px)
				padding: 0 20px
		.select2-container
			@media screen and (max-width: 767px)
				margin-bottom: 0
		.select2-selection--single
			height: 35px
		.select2-selection__rendered
			white-space: nowrap
			overflow: hidden
			text-overflow: ellipsis
			color: $black
		.tel-event
			height: 35px
			&::placeholder
				color: $black
				font-size: 14px
		.wrap-select
			margin-bottom: 20px
		.tel-event
			@media screen and (max-width: 767px)
				font-size: 14px
				line-height: 21px
				color: #0E1F38
		.modal-footer
			border-top: 0
			justify-content: center
			padding: 19px 20px 49px
			& > :not(:last-child)
				margin-right: 10px
			& > :not(:first-child)
				margin-left: 10px
		.btn-def
			width: 112px
			padding: 10px 5px 8px
		.btn-def_gray
			width: 100px
			@media screen and (max-width: 767px)
				border: 1px solid $error
				color: $error

	.wrap-table
		margin-top: 28px
		.tableSection
			.th_1
				width: 26%
			.th_2
				width: 38%
			.th_3
				width: 19%
			.th_4
				width: 37%
			th
				padding-left: 15px
				padding: 16px 5px 13px 13px
			td
				padding: 18px 15px
			tr
				&:last-child
					td
						padding-bottom: 18px
			.icon-block-shell
				.icon-block
					a
						margin-right: 25px
					a:last-child
						margin-right: 25px
					a:first-child
						margin-left: 25px
	.basic-information
		.date-time
			padding: 0 0 15px
			@media only screen and (max-width: 767px)
				padding: 0 20px
			&-top
				padding-top: 49px
				padding-bottom: 6px
				@media only screen and (max-width: 767px)
					padding-top: 38px
					padding-bottom: 7px
			&__title
				font-weight: bold
				font-size: 16px
				line-height: 19px
				color: #0E1F38
				@media only screen and (max-width: 767px)
					font-weight: bold
					font-size: 12px
					line-height: 14px
					color: #0E1F38
			&-input-group
				display: flex
				@media only screen and (max-width: 767px)
					display: block
				.input-group__date
					width: 100%
					max-width: 280px
					display: flex
					margin-right: 44px
					@media only screen and (max-width: 767px)
						margin-bottom: 11px
					&.error
						svg
							path
								fill: $error
				.popupOpen
					display: flex
					align-items: center
					.open-popup-link
						display: block
						width: 25px
						height: 25px
				input
					margin-right: 9px
					padding: 8px 10px 8px 10px
					@media only screen and (max-width: 767px)
						padding: 8px 10px
						height: 30px
				.input-group__clock
					display: flex
					align-items: center
					width: 100%
					max-width: 91px
					input
						width: 100%
						outline: none
						-webkit-box-shadow: none
						box-shadow: none
						color: #333
						border-radius: 3px
						border: solid 1px #E3E7F1
						background-color: #ffffff
					.open-clock
						width: 25px
						height: 25px
						display: block
			.date
				max-width: 235px
	.mobSection
		.basic-information
			.date-time
				@media only screen and (max-width: 767px)
					padding: 0 0 15px

.ui-datepicker
	max-width: max-content
.mfp-bg
	z-index: 1051
	opacity: 0.5
	@media screen and (max-width: 767px)
		opacity: 1
.mfp-wrap
	z-index: 1052
	margin: auto
	top: auto
	position: absolute
	transition: all 2s linear 1s
	@media screen and (max-width: 767px)
		background: #fff
		opacity: 1
		
.mfp-content
	.white-popup
		.wrap-btn-choose
			max-width: 630px
			margin: auto
			@media screen and (min-width: 835px)
				margin: auto
				max-width: 690px
		.mfp-close
			right: 45px
			@media screen and (max-width: 767px)
				right: 20px				

.ui-datepicker-multi
	border-radius: 3px  3px 0 0
.mfp-container
    height: auto
    top: 50%
    transform: translate(0 , -50%)
.event-inform-more
	z-index: 1000

.delete-editing
	.modal-dialog
		max-width: 440px
		@media (min-width: 576px)
			// margin: 45px auto //потом убрать
	.modal-dialog-centered
		// align-items: flex-start //потом убрать
	.modal-content
		background: #FFFFFF
		box-shadow: 0px 15px 35px rgba(74, 75, 80, 0.25)
		border-radius: 3px
	.modal-header
		padding-top: 37px
		padding-bottom: 12px
	.modal-title
		font-weight: bold
		font-size: 24px
		line-height: 33px
		text-align: center
		color: #0E1F38
	.modal-footer
		border-top: 0
		justify-content: center
		padding: 16px 20px 49px
		& > :not(:last-child)
    		margin-right: 10px
		& > :not(:first-child)
			margin-left: 10px
	.btn-def
		width: 112px
		padding: 10px 5px 8px
	.btn-def_gray
		width: 100px
	.select-top
		display: flex
		align-items: center
		margin-bottom: 15px
		h5
			font-weight: bold
			font-size: 14px
			line-height: 16px
			color: #6C7583
			margin-bottom: 0
		.wrap-select
			width: 100%
			padding-left: 17px
	.modal-body
		padding: 32px 60px 14px
		.wrap-select
			display: block
			width: 100%
			max-width: 188px
			.select2-container
				margin-bottom: 0
				line-height: 30px
			.select2-selection__rendered
				white-space: nowrap
				overflow: hidden
				text-overflow: ellipsis
				color: $black
		.tel-event
			height: 35px
			&::placeholder
				color: $black
	.modal-footer
		padding: 16px 20px 59px






// /*End_.page-reminders*/