<!--_______ .page-reminders _______-->
<div class="page-reminders page-create-new-event-step2 page-insert">
	<div class="container">
		<div class="row-wrap-main">
			<div class="col-item side-bar">
					<div class="side-bar-user side-bar-user_visitor">
						<div class="top-nav">
							<div class="user-avatar" style="background-image: url(img/user-visit.png)"></div>
							<div class="user-inform">
								<div class="user-name">
									<span>Марина</span>
									<a class="user-gear" href="#">
										<i class="icon icon-settings"></i>
									</a>
								</div>
								<div class="user-status">Посетитель событий</div>
							</div>
						</div>
						<ul>
							<li>
								<a href="#">
									<i class="icon icon-like"></i>
									<span>Избранное</span>
								</a>
							</li>
							<li class="active">
								<a href="#" >
									<i class="icon icon-remind"></i>
									<span>Напоминания</span>
								</a>
							</li>
							<li >
								<a href="#">
									<i class="icon icon-bonuses"></i>
									<span>Бонусы</span>
								</a>
							</li>
							<li>
								<a href="#">
									<i class="icon icon-ticket"></i>
									<span>Билеты</span>
								</a>
							</li>
							<li>
								<a href="#">
									<i class="icon icon-mail"></i>
									<span>Рассылка</span>
								</a>
							</li>
						</ul>
						
						<ul class="bottom-ul">
							<li>
								<a href="#">
									<i class="icon icon-support"></i>
									<span>Служба поддержки</span>
								</a>
							</li>
							<li>
								<a href="#">
									<i class="icon icon-exit"></i>
									<span>Выйти из кабинета</span>
								</a>
							</li>
						</ul>
					</div>
			</div>
			<div class="col-item main-content">
				<div class="desktop-main-content">
					<div class="wrap-table">
						<table class="tableSection">
							<thead>
								<th class="th_1">Дата и время события</th>
								<th class="th_2">Событие</th>
								<th class="th_3">Напоминание за</th>
								<th class="th_4">Email/телефон уведомления</th>
							</thead>
							<tbody>
								<tr> 
									<td>
										19 октября 20:00
									</td> 
									<td>
										Руки Вверх. 20 лет. Юбилейный тур
									</td>
									<td>
										за 1 сутки
									</td>
									<td>
										sduejo1920@mail.ru
										<div class="icon-block-shell">
											<div class="icon-block">
												<a href="#" data-toggle="modal" data-target=".modal-editing">
													<img src="img/svg/pencil.svg" alt="pencil">
													<!-- <i class="icon icon-settings"></i> -->
												</a>
												<a href="#"  data-toggle="modal" data-target=".modal-del">
													<img src="img/svg/close-tab.svg" alt="close-tab">
													<!-- <i class="icon icon-delete"></i> -->
												</a>
											</div>
										</div>
										<a class="a-arrow"	href="#">
											<img src="img/svg/arrow_right.svg" alt="arrow_right">
										</a>
									</td>
								</tr>
								<tr> 
									<td>
										21 февраля 18:30
									</td> 
									<td>
										Standup. Виктор Комаров
									</td>
									<td>
										за 12 часов
									</td>
									<td>
										+7 (937) 892 30 90
										<div class="icon-block-shell">
											<div class="icon-block">
												<a href="#" data-toggle="modal" data-target=".modal-editing">
													<img src="img/svg/pencil.svg" alt="pencil">
													<!-- <i class="icon icon-settings"></i> -->
												</a>
												<a href="#"  data-toggle="modal" data-target=".modal-del">
													<img src="img/svg/close-tab.svg" alt="close-tab">
													<!-- <i class="icon icon-delete"></i> -->
												</a>
											</div>
										</div>
										<a class="a-arrow"	href="#">
											<img src="img/svg/arrow_right.svg" alt="arrow_right">
										</a>
									</td>
								</tr>
								<tr> 
									<td>
										08 января 15:00
									</td> 
									<td>
										Уральские Пельмени. Предновогоднее шоу
									</td>
									<td>
										за 2 недели
									</td>
									<td>
										+7 (917) 667 80 09
										<div class="icon-block-shell">
											<div class="icon-block">
												<a href="#" data-toggle="modal" data-target=".modal-editing">
													<img src="img/svg/pencil.svg" alt="pencil">
													<!-- <i class="icon icon-settings"></i> -->
												</a>
												<a href="#"  data-toggle="modal" data-target=".modal-del">
													<img src="img/svg/close-tab.svg" alt="close-tab">
													<!-- <i class="icon icon-delete"></i> -->
												</a>
											</div>
										</div>
										<a class="a-arrow"	href="#">
											<img src="img/svg/arrow_right.svg" alt="arrow_right">
										</a>
									</td>
								</tr>
								<tr> 
									<td>
										14 марта 19:00
									</td> 
									<td>
										Илья Авербух. 15 лет успеха
									</td>
									<td>
										за 1 месяц
									</td>
									<td>
										iueiue22@yandex.ru
										<div class="icon-block-shell">
											<div class="icon-block">
												<a href="#" data-toggle="modal" data-target=".modal-editing">
													<img src="img/svg/pencil.svg" alt="pencil">
													<!-- <i class="icon icon-settings"></i> -->
												</a>
												<a href="#"  data-toggle="modal" data-target=".modal-del">
													<img src="img/svg/close-tab.svg" alt="close-tab">
													<!-- <i class="icon icon-delete"></i> -->
												</a>
											</div>
										</div>
										<a class="a-arrow"	href="#">
											<img src="img/svg/arrow_right.svg" alt="arrow_right">
										</a>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				<div class="mobile-main-content">
					<div class="wrap-top-select">
						<h5>
							Напоминания
						</h5>
					</div>
					<div class="mobSection">
						<ul>
							<li class="event-item">
								<div class="event-inform event-inform-short">
									<div class="event-part">
										<div class="event-icon"><img src="img/event/event_1.jpg" alt="event_1"></div>	
										<div class="event-text">
											<div class="event-date">19 октября 20:00</div>
											<div class="event-top-text">Руки Вверх. 20 лет. Юбилейный тур</div>
											<div class="event-status">
												За 1 сутки
											</div>
										</div>
									</div>
								</div>
								<div class="event-description event-inform-more">
									<div class="event-btn-back">
										<img src="img/svg/mob-arrow-back.svg" alt="arrow_back">
										<span class="text-back">Напоминания</span>
									</div>
									<div class="wrap-event-part">
										<div class="event-part">
											<div class="event-icon"><img src="img/event/event_1.jpg" alt="event_1"></div>	
											<div class="event-text">
												<div class="event-date">19 октября 20:00</div>
												<div class="event-top-text">Руки вверх 20 лет, юбилейны тур</div>
											</div>
										</div>
									</div>
									<div class="modal-body">
										<form action="" class='basic-information needs-validation' novalidate>
												<!-- <div class="wrap-basic-information">
													<div class="select-top">
														<h5>Напомнить до начала события</h5>
														<div class="wrap-select">
															<select class="select" >
																<option value="">В момент события</option>
																<option>За 5 мин</option>
																<option>За 10 мин</option>
																<option>За 15 мин</option>
																<option>За 30 мин</option>
																<option>За 1 ч</option>
																<option>За 2 ч</option>
																<option>За 1 дн</option>
																<option>За 2 дн</option>
																<option>За нед</option>
															</select>
														</div>
													</div>
												</div> -->
												<div class="date-time">
													<div class="date-time-top">
														<span class="date-time__title">
															Дата и время
														</span>
													</div>
													<div class="date-time-input-group">
														<div class="input-group__date">
															<input class="form-control date_range" type="text" placeholder="14 сентября 2019"
																required>
															<div class="popupOpen">
																<a href="#test-popup" class="open-popup-link">
																	<svg width="25" height="25" viewBox="0 0 25 25" fill="none"
																		xmlns="http://www.w3.org/2000/svg">
																		<path
																			d="M14.4738 13.1572C13.7463 13.1572 13.158 13.7463 13.158 14.4737C13.158 15.1998 13.7477 15.7895 14.4738 15.7895C15.1999 15.7895 15.7896 15.1998 15.7896 14.4737C15.7897 13.7463 15.2012 13.1572 14.4738 13.1572ZM10.5263 11.8421C11.2527 11.8421 11.8421 11.2527 11.8421 10.5262C11.8421 9.79932 11.2527 9.2106 10.5263 9.2106C9.80006 9.2106 9.21066 9.79932 9.21066 10.5262C9.21066 11.2527 9.80006 11.8421 10.5263 11.8421ZM14.4738 9.2106C13.7463 9.2106 13.158 9.79932 13.158 10.5262C13.158 11.2527 13.7463 11.8421 14.4738 11.8421C15.1999 11.8421 15.7896 11.2527 15.7896 10.5262C15.7897 9.79932 15.2012 9.2106 14.4738 9.2106ZM15.7897 2.63146H9.21066V5.26308H15.7897V2.63146ZM18.4213 11.8421C19.1471 11.8421 19.7371 11.2527 19.7371 10.5262C19.7371 9.79932 19.1484 9.2106 18.4213 9.2106C17.6938 9.2106 17.1055 9.79932 17.1055 10.5262C17.1055 11.2527 17.6952 11.8421 18.4213 11.8421ZM18.4213 15.7895C19.1471 15.7895 19.7371 15.1998 19.7371 14.4737C19.7371 13.7463 19.1484 13.1579 18.4213 13.1579C17.6938 13.1579 17.1055 13.7463 17.1055 14.4737C17.1055 15.1998 17.6952 15.7895 18.4213 15.7895ZM10.5263 15.7895C11.2527 15.7895 11.8421 15.1998 11.8421 14.4737C11.8421 13.7463 11.2534 13.1572 10.5263 13.1572C9.79939 13.1572 9.21066 13.7463 9.21066 14.4737C9.21066 15.1998 9.80006 15.7895 10.5263 15.7895ZM6.57902 19.737C7.30527 19.737 7.89484 19.1469 7.89484 18.4212C7.89484 17.6938 7.30527 17.1054 6.57902 17.1054C5.85209 17.1054 5.2632 17.6938 5.2632 18.4212C5.2632 19.1469 5.85268 19.737 6.57902 19.737ZM22.3684 2.63146H21.053V5.26308H22.3684V22.3682H2.63164V5.26316H3.94729V2.63146H2.63164C1.1783 2.63146 0 3.80933 0 5.26316V22.3677C0 23.8219 1.1783 25 2.63164 25H22.3684C23.822 25 25 23.8218 25 22.3677V5.26316C25.0001 3.80933 23.822 2.63146 22.3684 2.63146ZM6.57902 15.7895C7.30527 15.7895 7.89484 15.1998 7.89484 14.4737C7.89484 13.7463 7.30527 13.1572 6.57902 13.1572C5.85209 13.1572 5.2632 13.7463 5.2632 14.4737C5.2632 15.1998 5.85268 15.7895 6.57902 15.7895ZM6.57902 11.8421C7.30527 11.8421 7.89484 11.2527 7.89484 10.5262C7.89484 9.79932 7.30527 9.2106 6.57902 9.2106C5.85209 9.2106 5.2632 9.79932 5.2632 10.5262C5.2632 11.2527 5.85268 11.8421 6.57902 11.8421ZM10.5263 19.737C11.2527 19.737 11.8421 19.1469 11.8421 18.4212C11.8421 17.6938 11.2527 17.1054 10.5263 17.1054C9.80006 17.1054 9.21066 17.6938 9.21066 18.4212C9.21066 19.1469 9.80006 19.737 10.5263 19.737ZM6.57902 5.26316C7.30527 5.26316 7.89484 4.67377 7.89484 3.94735V1.3159C7.89484 0.588725 7.30594 0 6.57902 0C5.85268 0 5.2632 0.588725 5.2632 1.31581V3.94727C5.2632 4.67377 5.85268 5.26316 6.57902 5.26316ZM18.4213 5.26316C19.1471 5.26316 19.7371 4.67377 19.7371 3.94735V1.3159C19.7371 0.588725 19.1471 0 18.4213 0C17.6938 0 17.1055 0.588725 17.1055 1.31581V3.94727C17.1055 4.67377 17.6952 5.26316 18.4213 5.26316Z"
																			fill="#69C530" />
																	</svg>
																</a>
															</div>
															<div id="test-popup" class="white-popup mfp-hide">
																<input class="form-control date-range2" type="text" style="display: none;">
																<div class="wrap-mfp-close">
																	<div class="mfp-close">Закрыть
																		<img src="img/svg/close-datepicker.svg" alt="close-datepicker">
																	</div>
																</div>
																<div class="date_range1"></div>
																<div class="wrap-btn-choose">
																	<div class="btn-def btn-choose date-select">Выбрать</div>
																</div>
															</div>
														</div>
														<div class="input-group__clock">
															<input class="form-control time" type="text" required>
															<!-- <img src="img/svg/clock.svg" alt="clock"> -->
															<div class="open-clock">
																<svg width="25" height="25" viewBox="0 0 25 25" fill="none"
																	xmlns="http://www.w3.org/2000/svg">
																	<path
																		d="M12.5 0C5.6075 0 0 5.6075 0 12.5C0 19.3925 5.6075 25 12.5 25C19.3925 25 25 19.3925 25 12.5C25 5.6075 19.3925 0 12.5 0ZM12.5 22.3402C7.07416 22.3402 2.65953 17.9261 2.65953 12.5C2.65953 7.0739 7.07416 2.65979 12.5 2.65979C17.9258 2.65979 22.3405 7.0739 22.3405 12.5C22.3405 17.9261 17.9258 22.3402 12.5 22.3402Z"
																		fill="#69C530" />
																	<path
																		d="M19.0145 12.114H13.397V5.35972C13.397 4.79132 12.9361 4.33049 12.3677 4.33049C11.7994 4.33049 11.3385 4.79132 11.3385 5.35972V13.1433C11.3385 13.7117 11.7994 14.1725 12.3677 14.1725H19.0145C19.5829 14.1725 20.0437 13.7117 20.0437 13.1433C20.0437 12.5749 19.5829 12.114 19.0145 12.114Z"
																		fill="#69C530" />
																</svg>
															</div>
														</div>
													</div>
												</div>
											</form>
										<input class="tel-event" type="tel" name="phone" placeholder="+7 937 834 90 20" required autocomplete="tel">
									</div>
									<div class="modal-footer">
										<button type="button" class="btn-def">Сохранить</button>
										<button type="button" class="btn-def btn-def_gray" data-dismiss="modal">Удалить</button>
									</div>
								</div>
								<div class="event-btn-more">
									<img src="img/svg/arrow_right.svg" alt="arrow_right">
								</div>
							</li>
							<li class="event-item">
								<div class="event-inform event-inform-short">
									<div class="event-part">
										<div class="event-icon"><img src="img/event/event_2.jpg" alt="event_2"></div>	
										<div class="event-text">
											<div class="event-date">21 февраля 18:30</div>
											<div class="event-top-text">
												Уральские Пельмени. Предновогоднее шоу
											</div>
											<div class="event-status">
												За 12 часов
											</div>
										</div>
									</div>
								</div>
								<div class="event-description event-inform-more">
										<div class="event-btn-back">
											<img src="img/svg/mob-arrow-back.svg" alt="arrow_back">
											<span class="text-back">Напоминания</span>
										</div>
										<div class="wrap-event-part">
											<div class="event-part">
												<div class="event-icon"><img src="img/event/event_2.jpg" alt="event_2"></div>	
												<div class="event-text">
													<div class="event-date">
														21 февраля 18:30
													</div>
													<div class="event-top-text">
														Уральские Пельмени. Предновогоднее шоу
													</div>
												</div>
											</div>
										</div>
										<div class="modal-body">
											<form action="" class='basic-information needs-validation' novalidate>
												<!-- <div class="wrap-basic-information">
													<div class="select-top">
														<h5>Напомнить до начала события</h5>
														<div class="wrap-select">
															<select class="select" >
																<option value="">В момент события</option>
																<option>За 5 мин</option>
																<option>За 10 мин</option>
																<option>За 15 мин</option>
																<option>За 30 мин</option>
																<option>За 1 ч</option>
																<option>За 2 ч</option>
																<option>За 1 дн</option>
																<option>За 2 дн</option>
																<option>За нед</option>
															</select>
														</div>
													</div>
												</div> -->
												<div class="date-time">
													<div class="date-time-top">
														<span class="date-time__title">
															Дата и время
														</span>
													</div>
													<div class="date-time-input-group">
														<div class="input-group__date">
															<input class="form-control date_range" type="text" placeholder="14 сентября 2019"
																required>
															<div class="popupOpen">
																<a href="#test-popup" class="open-popup-link">
																	<svg width="25" height="25" viewBox="0 0 25 25" fill="none"
																		xmlns="http://www.w3.org/2000/svg">
																		<path
																			d="M14.4738 13.1572C13.7463 13.1572 13.158 13.7463 13.158 14.4737C13.158 15.1998 13.7477 15.7895 14.4738 15.7895C15.1999 15.7895 15.7896 15.1998 15.7896 14.4737C15.7897 13.7463 15.2012 13.1572 14.4738 13.1572ZM10.5263 11.8421C11.2527 11.8421 11.8421 11.2527 11.8421 10.5262C11.8421 9.79932 11.2527 9.2106 10.5263 9.2106C9.80006 9.2106 9.21066 9.79932 9.21066 10.5262C9.21066 11.2527 9.80006 11.8421 10.5263 11.8421ZM14.4738 9.2106C13.7463 9.2106 13.158 9.79932 13.158 10.5262C13.158 11.2527 13.7463 11.8421 14.4738 11.8421C15.1999 11.8421 15.7896 11.2527 15.7896 10.5262C15.7897 9.79932 15.2012 9.2106 14.4738 9.2106ZM15.7897 2.63146H9.21066V5.26308H15.7897V2.63146ZM18.4213 11.8421C19.1471 11.8421 19.7371 11.2527 19.7371 10.5262C19.7371 9.79932 19.1484 9.2106 18.4213 9.2106C17.6938 9.2106 17.1055 9.79932 17.1055 10.5262C17.1055 11.2527 17.6952 11.8421 18.4213 11.8421ZM18.4213 15.7895C19.1471 15.7895 19.7371 15.1998 19.7371 14.4737C19.7371 13.7463 19.1484 13.1579 18.4213 13.1579C17.6938 13.1579 17.1055 13.7463 17.1055 14.4737C17.1055 15.1998 17.6952 15.7895 18.4213 15.7895ZM10.5263 15.7895C11.2527 15.7895 11.8421 15.1998 11.8421 14.4737C11.8421 13.7463 11.2534 13.1572 10.5263 13.1572C9.79939 13.1572 9.21066 13.7463 9.21066 14.4737C9.21066 15.1998 9.80006 15.7895 10.5263 15.7895ZM6.57902 19.737C7.30527 19.737 7.89484 19.1469 7.89484 18.4212C7.89484 17.6938 7.30527 17.1054 6.57902 17.1054C5.85209 17.1054 5.2632 17.6938 5.2632 18.4212C5.2632 19.1469 5.85268 19.737 6.57902 19.737ZM22.3684 2.63146H21.053V5.26308H22.3684V22.3682H2.63164V5.26316H3.94729V2.63146H2.63164C1.1783 2.63146 0 3.80933 0 5.26316V22.3677C0 23.8219 1.1783 25 2.63164 25H22.3684C23.822 25 25 23.8218 25 22.3677V5.26316C25.0001 3.80933 23.822 2.63146 22.3684 2.63146ZM6.57902 15.7895C7.30527 15.7895 7.89484 15.1998 7.89484 14.4737C7.89484 13.7463 7.30527 13.1572 6.57902 13.1572C5.85209 13.1572 5.2632 13.7463 5.2632 14.4737C5.2632 15.1998 5.85268 15.7895 6.57902 15.7895ZM6.57902 11.8421C7.30527 11.8421 7.89484 11.2527 7.89484 10.5262C7.89484 9.79932 7.30527 9.2106 6.57902 9.2106C5.85209 9.2106 5.2632 9.79932 5.2632 10.5262C5.2632 11.2527 5.85268 11.8421 6.57902 11.8421ZM10.5263 19.737C11.2527 19.737 11.8421 19.1469 11.8421 18.4212C11.8421 17.6938 11.2527 17.1054 10.5263 17.1054C9.80006 17.1054 9.21066 17.6938 9.21066 18.4212C9.21066 19.1469 9.80006 19.737 10.5263 19.737ZM6.57902 5.26316C7.30527 5.26316 7.89484 4.67377 7.89484 3.94735V1.3159C7.89484 0.588725 7.30594 0 6.57902 0C5.85268 0 5.2632 0.588725 5.2632 1.31581V3.94727C5.2632 4.67377 5.85268 5.26316 6.57902 5.26316ZM18.4213 5.26316C19.1471 5.26316 19.7371 4.67377 19.7371 3.94735V1.3159C19.7371 0.588725 19.1471 0 18.4213 0C17.6938 0 17.1055 0.588725 17.1055 1.31581V3.94727C17.1055 4.67377 17.6952 5.26316 18.4213 5.26316Z"
																			fill="#69C530" />
																	</svg>
																</a>
															</div>
															<div id="test-popup" class="white-popup mfp-hide">
																<input class="form-control date-range2" type="text" style="display: none;">
																<div class="wrap-mfp-close">
																	<div class="mfp-close">Закрыть
																		<img src="img/svg/close-datepicker.svg" alt="close-datepicker">
																	</div>
																</div>
																<div class="date_range1"></div>
																<div class="wrap-btn-choose">
																	<div class="btn-def btn-choose date-select">Выбрать</div>
																</div>
															</div>
														</div>
														<div class="input-group__clock">
															<input class="form-control time" type="text" required>
															<!-- <img src="img/svg/clock.svg" alt="clock"> -->
															<div class="open-clock">
																<svg width="25" height="25" viewBox="0 0 25 25" fill="none"
																	xmlns="http://www.w3.org/2000/svg">
																	<path
																		d="M12.5 0C5.6075 0 0 5.6075 0 12.5C0 19.3925 5.6075 25 12.5 25C19.3925 25 25 19.3925 25 12.5C25 5.6075 19.3925 0 12.5 0ZM12.5 22.3402C7.07416 22.3402 2.65953 17.9261 2.65953 12.5C2.65953 7.0739 7.07416 2.65979 12.5 2.65979C17.9258 2.65979 22.3405 7.0739 22.3405 12.5C22.3405 17.9261 17.9258 22.3402 12.5 22.3402Z"
																		fill="#69C530" />
																	<path
																		d="M19.0145 12.114H13.397V5.35972C13.397 4.79132 12.9361 4.33049 12.3677 4.33049C11.7994 4.33049 11.3385 4.79132 11.3385 5.35972V13.1433C11.3385 13.7117 11.7994 14.1725 12.3677 14.1725H19.0145C19.5829 14.1725 20.0437 13.7117 20.0437 13.1433C20.0437 12.5749 19.5829 12.114 19.0145 12.114Z"
																		fill="#69C530" />
																</svg>
															</div>
														</div>
													</div>
												</div>
											</form>
										<input class="tel-event" type="tel" name="phone" placeholder="+7 937 834 90 20" required autocomplete="tel">
										</div>
										<div class="modal-footer">
											<button type="button" class="btn-def">Сохранить</button>
											<button type="button" class="btn-def btn-def_gray" data-dismiss="modal">Удалить</button>
										</div>
									</div>
								<div class="event-btn-more">
									<img src="img/svg/arrow_right.svg" alt="arrow_right">
								</div>
							</li>
							<li class="event-item">
								<div class="event-inform event-inform-short">
									<div class="event-part">
										<div class="event-icon"><img src="img/event/event_3.jpg" alt="event_3"></div>	
										<div class="event-text">
											<div class="event-date">
												08 января 15:00
											</div>
											<div class="event-top-text">
												Standup. Виктор Комаров
											</div>
											<div class="event-status">
												За 2 недели
											</div>
										</div>
									</div>
								</div>
								<div class="event-description event-inform-more">
									<div class="event-btn-back">
										<img src="img/svg/mob-arrow-back.svg" alt="arrow_back">
										<span class="text-back">Напоминания</span>
									</div>
									<div class="wrap-event-part">
										<div class="event-part">
											<div class="event-icon"><img src="img/event/event_3.jpg" alt="event_3"></div>	
											<div class="event-text">
												<div class="event-date">
													08 января 15:00
												</div>
												<div class="event-top-text">
													Stand Up. Виктор Комаров. 
												</div>
											</div>
										</div>
									</div>
									<div class="modal-body">
										<form action="" class='basic-information needs-validation' novalidate>
											<!-- <div class="wrap-basic-information">
												<div class="select-top">
													<h5>Напомнить до начала события</h5>
													<div class="wrap-select">
														<select class="select" >
															<option value="">В момент события</option>
															<option>За 5 мин</option>
															<option>За 10 мин</option>
															<option>За 15 мин</option>
															<option>За 30 мин</option>
															<option>За 1 ч</option>
															<option>За 2 ч</option>
															<option>За 1 дн</option>
															<option>За 2 дн</option>
															<option>За нед</option>
														</select>
													</div>
												</div>
											</div> -->
											<div class="date-time">
												<div class="date-time-top">
													<span class="date-time__title">
														Дата и время
													</span>
												</div>
												<div class="date-time-input-group">
													<div class="input-group__date">
														<input class="form-control date_range" type="text" placeholder="14 сентября 2019" required>
														<div class="popupOpen">
															<a href="#test-popup" class="open-popup-link">
																<svg width="25" height="25" viewBox="0 0 25 25" fill="none"
																	xmlns="http://www.w3.org/2000/svg">
																	<path
																		d="M14.4738 13.1572C13.7463 13.1572 13.158 13.7463 13.158 14.4737C13.158 15.1998 13.7477 15.7895 14.4738 15.7895C15.1999 15.7895 15.7896 15.1998 15.7896 14.4737C15.7897 13.7463 15.2012 13.1572 14.4738 13.1572ZM10.5263 11.8421C11.2527 11.8421 11.8421 11.2527 11.8421 10.5262C11.8421 9.79932 11.2527 9.2106 10.5263 9.2106C9.80006 9.2106 9.21066 9.79932 9.21066 10.5262C9.21066 11.2527 9.80006 11.8421 10.5263 11.8421ZM14.4738 9.2106C13.7463 9.2106 13.158 9.79932 13.158 10.5262C13.158 11.2527 13.7463 11.8421 14.4738 11.8421C15.1999 11.8421 15.7896 11.2527 15.7896 10.5262C15.7897 9.79932 15.2012 9.2106 14.4738 9.2106ZM15.7897 2.63146H9.21066V5.26308H15.7897V2.63146ZM18.4213 11.8421C19.1471 11.8421 19.7371 11.2527 19.7371 10.5262C19.7371 9.79932 19.1484 9.2106 18.4213 9.2106C17.6938 9.2106 17.1055 9.79932 17.1055 10.5262C17.1055 11.2527 17.6952 11.8421 18.4213 11.8421ZM18.4213 15.7895C19.1471 15.7895 19.7371 15.1998 19.7371 14.4737C19.7371 13.7463 19.1484 13.1579 18.4213 13.1579C17.6938 13.1579 17.1055 13.7463 17.1055 14.4737C17.1055 15.1998 17.6952 15.7895 18.4213 15.7895ZM10.5263 15.7895C11.2527 15.7895 11.8421 15.1998 11.8421 14.4737C11.8421 13.7463 11.2534 13.1572 10.5263 13.1572C9.79939 13.1572 9.21066 13.7463 9.21066 14.4737C9.21066 15.1998 9.80006 15.7895 10.5263 15.7895ZM6.57902 19.737C7.30527 19.737 7.89484 19.1469 7.89484 18.4212C7.89484 17.6938 7.30527 17.1054 6.57902 17.1054C5.85209 17.1054 5.2632 17.6938 5.2632 18.4212C5.2632 19.1469 5.85268 19.737 6.57902 19.737ZM22.3684 2.63146H21.053V5.26308H22.3684V22.3682H2.63164V5.26316H3.94729V2.63146H2.63164C1.1783 2.63146 0 3.80933 0 5.26316V22.3677C0 23.8219 1.1783 25 2.63164 25H22.3684C23.822 25 25 23.8218 25 22.3677V5.26316C25.0001 3.80933 23.822 2.63146 22.3684 2.63146ZM6.57902 15.7895C7.30527 15.7895 7.89484 15.1998 7.89484 14.4737C7.89484 13.7463 7.30527 13.1572 6.57902 13.1572C5.85209 13.1572 5.2632 13.7463 5.2632 14.4737C5.2632 15.1998 5.85268 15.7895 6.57902 15.7895ZM6.57902 11.8421C7.30527 11.8421 7.89484 11.2527 7.89484 10.5262C7.89484 9.79932 7.30527 9.2106 6.57902 9.2106C5.85209 9.2106 5.2632 9.79932 5.2632 10.5262C5.2632 11.2527 5.85268 11.8421 6.57902 11.8421ZM10.5263 19.737C11.2527 19.737 11.8421 19.1469 11.8421 18.4212C11.8421 17.6938 11.2527 17.1054 10.5263 17.1054C9.80006 17.1054 9.21066 17.6938 9.21066 18.4212C9.21066 19.1469 9.80006 19.737 10.5263 19.737ZM6.57902 5.26316C7.30527 5.26316 7.89484 4.67377 7.89484 3.94735V1.3159C7.89484 0.588725 7.30594 0 6.57902 0C5.85268 0 5.2632 0.588725 5.2632 1.31581V3.94727C5.2632 4.67377 5.85268 5.26316 6.57902 5.26316ZM18.4213 5.26316C19.1471 5.26316 19.7371 4.67377 19.7371 3.94735V1.3159C19.7371 0.588725 19.1471 0 18.4213 0C17.6938 0 17.1055 0.588725 17.1055 1.31581V3.94727C17.1055 4.67377 17.6952 5.26316 18.4213 5.26316Z"
																		fill="#69C530" />
																</svg>
															</a>
														</div>
														<div id="test-popup" class="white-popup mfp-hide">
															<input class="form-control date-range2" type="text" style="display: none;">
															<div class="wrap-mfp-close">
																<div class="mfp-close">Закрыть
																	<img src="img/svg/close-datepicker.svg" alt="close-datepicker">
																</div>
															</div>
															<div class="date_range1"></div>
															<div class="wrap-btn-choose">
																<div class="btn-def btn-choose date-select">Выбрать</div>
															</div>
														</div>
													</div>
													<div class="input-group__clock">
														<input class="form-control time" type="text" required>
														<!-- <img src="img/svg/clock.svg" alt="clock"> -->
														<div class="open-clock">
															<svg width="25" height="25" viewBox="0 0 25 25" fill="none"
																xmlns="http://www.w3.org/2000/svg">
																<path
																	d="M12.5 0C5.6075 0 0 5.6075 0 12.5C0 19.3925 5.6075 25 12.5 25C19.3925 25 25 19.3925 25 12.5C25 5.6075 19.3925 0 12.5 0ZM12.5 22.3402C7.07416 22.3402 2.65953 17.9261 2.65953 12.5C2.65953 7.0739 7.07416 2.65979 12.5 2.65979C17.9258 2.65979 22.3405 7.0739 22.3405 12.5C22.3405 17.9261 17.9258 22.3402 12.5 22.3402Z"
																	fill="#69C530" />
																<path
																	d="M19.0145 12.114H13.397V5.35972C13.397 4.79132 12.9361 4.33049 12.3677 4.33049C11.7994 4.33049 11.3385 4.79132 11.3385 5.35972V13.1433C11.3385 13.7117 11.7994 14.1725 12.3677 14.1725H19.0145C19.5829 14.1725 20.0437 13.7117 20.0437 13.1433C20.0437 12.5749 19.5829 12.114 19.0145 12.114Z"
																	fill="#69C530" />
															</svg>
														</div>
													</div>
												</div>
											</div>
										</form>
									<input class="tel-event" type="tel" name="phone" placeholder="+7 937 834 90 20" required autocomplete="tel">
									</div>
									<div class="modal-footer">
										<button type="button" class="btn-def">Сохранить</button>
										<button type="button" class="btn-def btn-def_gray" data-dismiss="modal">Удалить</button>
									</div>
								</div>
								<div class="event-btn-more">
									<img src="img/svg/arrow_right.svg" alt="arrow_right">
								</div>
							</li>
							<li class="event-item">
								<div class="event-inform event-inform-short">
									<div class="event-part">
										<div class="event-icon"><img src="img/event/event_4.jpg" alt="event_4"></div>	
										<div class="event-text">
											<div class="event-date">
												23 января 15:00
											</div>
											<div class="event-top-text">
												Илья Авербух. 15 лет успеха
											</div>
											<div class="event-status">
												За 1 месяц
											</div>
										</div>
									</div>
								</div>
								<div class="event-description event-inform-more">
									<div class="event-btn-back">
										<img src="img/svg/mob-arrow-back.svg" alt="arrow_back">
										<span class="text-back">Напоминания</span>
									</div>
									<div class="wrap-event-part">
										<div class="event-part">
											<div class="event-icon"><img src="img/event/event_2.jpg" alt="event_2"></div>	
											<div class="event-text">
												<div class="event-date">
													23 января 15:00
												</div>
												<div class="event-top-text">
													Илья Авербух. 15 лет успеха 
												</div>
											</div>
										</div>
									</div>
									<div class="modal-body">
										<form action="" class='basic-information needs-validation' novalidate>
											<!-- <div class="wrap-basic-information">
												<div class="select-top">
													<h5>Напомнить до начала события</h5>
													<div class="wrap-select">
														<select class="select" >
															<option value="">В момент события</option>
															<option>За 5 мин</option>
															<option>За 10 мин</option>
															<option>За 15 мин</option>
															<option>За 30 мин</option>
															<option>За 1 ч</option>
															<option>За 2 ч</option>
															<option>За 1 дн</option>
															<option>За 2 дн</option>
															<option>За нед</option>
														</select>
													</div>
												</div>
											</div> -->
											<div class="date-time">
												<div class="date-time-top">
													<span class="date-time__title">
														Дата и время
													</span>
												</div>
												<div class="date-time-input-group">
													<div class="input-group__date">
														<input class="form-control date_range" type="text" placeholder="14 сентября 2019"
															required>
														<div class="popupOpen">
															<a href="#test-popup" class="open-popup-link">
																<svg width="25" height="25" viewBox="0 0 25 25" fill="none"
																	xmlns="http://www.w3.org/2000/svg">
																	<path
																		d="M14.4738 13.1572C13.7463 13.1572 13.158 13.7463 13.158 14.4737C13.158 15.1998 13.7477 15.7895 14.4738 15.7895C15.1999 15.7895 15.7896 15.1998 15.7896 14.4737C15.7897 13.7463 15.2012 13.1572 14.4738 13.1572ZM10.5263 11.8421C11.2527 11.8421 11.8421 11.2527 11.8421 10.5262C11.8421 9.79932 11.2527 9.2106 10.5263 9.2106C9.80006 9.2106 9.21066 9.79932 9.21066 10.5262C9.21066 11.2527 9.80006 11.8421 10.5263 11.8421ZM14.4738 9.2106C13.7463 9.2106 13.158 9.79932 13.158 10.5262C13.158 11.2527 13.7463 11.8421 14.4738 11.8421C15.1999 11.8421 15.7896 11.2527 15.7896 10.5262C15.7897 9.79932 15.2012 9.2106 14.4738 9.2106ZM15.7897 2.63146H9.21066V5.26308H15.7897V2.63146ZM18.4213 11.8421C19.1471 11.8421 19.7371 11.2527 19.7371 10.5262C19.7371 9.79932 19.1484 9.2106 18.4213 9.2106C17.6938 9.2106 17.1055 9.79932 17.1055 10.5262C17.1055 11.2527 17.6952 11.8421 18.4213 11.8421ZM18.4213 15.7895C19.1471 15.7895 19.7371 15.1998 19.7371 14.4737C19.7371 13.7463 19.1484 13.1579 18.4213 13.1579C17.6938 13.1579 17.1055 13.7463 17.1055 14.4737C17.1055 15.1998 17.6952 15.7895 18.4213 15.7895ZM10.5263 15.7895C11.2527 15.7895 11.8421 15.1998 11.8421 14.4737C11.8421 13.7463 11.2534 13.1572 10.5263 13.1572C9.79939 13.1572 9.21066 13.7463 9.21066 14.4737C9.21066 15.1998 9.80006 15.7895 10.5263 15.7895ZM6.57902 19.737C7.30527 19.737 7.89484 19.1469 7.89484 18.4212C7.89484 17.6938 7.30527 17.1054 6.57902 17.1054C5.85209 17.1054 5.2632 17.6938 5.2632 18.4212C5.2632 19.1469 5.85268 19.737 6.57902 19.737ZM22.3684 2.63146H21.053V5.26308H22.3684V22.3682H2.63164V5.26316H3.94729V2.63146H2.63164C1.1783 2.63146 0 3.80933 0 5.26316V22.3677C0 23.8219 1.1783 25 2.63164 25H22.3684C23.822 25 25 23.8218 25 22.3677V5.26316C25.0001 3.80933 23.822 2.63146 22.3684 2.63146ZM6.57902 15.7895C7.30527 15.7895 7.89484 15.1998 7.89484 14.4737C7.89484 13.7463 7.30527 13.1572 6.57902 13.1572C5.85209 13.1572 5.2632 13.7463 5.2632 14.4737C5.2632 15.1998 5.85268 15.7895 6.57902 15.7895ZM6.57902 11.8421C7.30527 11.8421 7.89484 11.2527 7.89484 10.5262C7.89484 9.79932 7.30527 9.2106 6.57902 9.2106C5.85209 9.2106 5.2632 9.79932 5.2632 10.5262C5.2632 11.2527 5.85268 11.8421 6.57902 11.8421ZM10.5263 19.737C11.2527 19.737 11.8421 19.1469 11.8421 18.4212C11.8421 17.6938 11.2527 17.1054 10.5263 17.1054C9.80006 17.1054 9.21066 17.6938 9.21066 18.4212C9.21066 19.1469 9.80006 19.737 10.5263 19.737ZM6.57902 5.26316C7.30527 5.26316 7.89484 4.67377 7.89484 3.94735V1.3159C7.89484 0.588725 7.30594 0 6.57902 0C5.85268 0 5.2632 0.588725 5.2632 1.31581V3.94727C5.2632 4.67377 5.85268 5.26316 6.57902 5.26316ZM18.4213 5.26316C19.1471 5.26316 19.7371 4.67377 19.7371 3.94735V1.3159C19.7371 0.588725 19.1471 0 18.4213 0C17.6938 0 17.1055 0.588725 17.1055 1.31581V3.94727C17.1055 4.67377 17.6952 5.26316 18.4213 5.26316Z"
																		fill="#69C530" />
																</svg>
															</a>
														</div>
														<div id="test-popup" class="white-popup mfp-hide">
															<input class="form-control date-range2" type="text" style="display: none;">
															<div class="wrap-mfp-close">
																<div class="mfp-close">Закрыть
																	<img src="img/svg/close-datepicker.svg" alt="close-datepicker">
																</div>
															</div>
															<div class="date_range1"></div>
															<div class="wrap-btn-choose">
																<div class="btn-def btn-choose date-select">Выбрать</div>
															</div>
														</div>
													</div>
													<div class="input-group__clock">
														<input class="form-control time" type="text" required>
														<!-- <img src="img/svg/clock.svg" alt="clock"> -->
														<div class="open-clock">
															<svg width="25" height="25" viewBox="0 0 25 25" fill="none"
																xmlns="http://www.w3.org/2000/svg">
																<path
																	d="M12.5 0C5.6075 0 0 5.6075 0 12.5C0 19.3925 5.6075 25 12.5 25C19.3925 25 25 19.3925 25 12.5C25 5.6075 19.3925 0 12.5 0ZM12.5 22.3402C7.07416 22.3402 2.65953 17.9261 2.65953 12.5C2.65953 7.0739 7.07416 2.65979 12.5 2.65979C17.9258 2.65979 22.3405 7.0739 22.3405 12.5C22.3405 17.9261 17.9258 22.3402 12.5 22.3402Z"
																	fill="#69C530" />
																<path
																	d="M19.0145 12.114H13.397V5.35972C13.397 4.79132 12.9361 4.33049 12.3677 4.33049C11.7994 4.33049 11.3385 4.79132 11.3385 5.35972V13.1433C11.3385 13.7117 11.7994 14.1725 12.3677 14.1725H19.0145C19.5829 14.1725 20.0437 13.7117 20.0437 13.1433C20.0437 12.5749 19.5829 12.114 19.0145 12.114Z"
																	fill="#69C530" />
															</svg>
														</div>
													</div>
												</div>
											</div>
										</form>
									<input class="tel-event" type="tel" name="phone" placeholder="+7 937 834 90 20" required autocomplete="tel">
									</div>
									<div class="modal-footer">
										<button type="button" class="btn-def">Сохранить</button>
										<button type="button" class="btn-def btn-def_gray" data-dismiss="modal">Удалить</button>
									</div>
								</div>
								<div class="event-btn-more">
									<img src="img/svg/arrow_right.svg" alt="arrow_right">
								</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
			
			<!-- modal-del -->
			<div class="delete-editing modal modal-del fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
				<div class="modal-dialog modal-dialog-centered" role="document">
				<div class="modal-content">
					<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLongTitle">
						Удалить напоминание
						“StandUp.Виктор Комаров”?
					</h5>
					<button type="button" class="btn-close-modal" data-dismiss="modal" aria-label="Close">
						<img src="img/close.svg" alt="">
					</button>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn-def">Удалить</button>
						<button type="button" class="btn-def btn-def_gray" data-dismiss="modal">Отменить</button>
					</div>
				</div>
				</div>
			</div>
			<!-- modal-editing -->
			<div class="delete-editing modal modal-editing fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
				<div class="modal-dialog modal-dialog-centered" role="document">
				<div class="modal-content">
					<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLongTitle">
						Редактирование напоминания
						"StandUp.Виктор Комаров"
					</h5>
					<button type="button" class="btn-close-modal" data-dismiss="modal" aria-label="Close">
						<img src="img/close.svg" alt="">
					</button>
					</div>
					<div class="modal-body">
						<form action="" class='basic-information needs-validation' novalidate>
							<div class="date-time">
								<div class="date-time-top">
									<span class="date-time__title">
										Дата и время
									</span>
								</div>
								<div class="date-time-input-group">
									<div class="input-group__date">
										<input class="form-control date_range" type="text" placeholder="14 сентября 2019" required>
										<div class="popupOpen">
											<a href="#test-popup" class="open-popup-link">
												<svg width="25" height="25" viewBox="0 0 25 25" fill="none"
													xmlns="http://www.w3.org/2000/svg">
													<path
														d="M14.4738 13.1572C13.7463 13.1572 13.158 13.7463 13.158 14.4737C13.158 15.1998 13.7477 15.7895 14.4738 15.7895C15.1999 15.7895 15.7896 15.1998 15.7896 14.4737C15.7897 13.7463 15.2012 13.1572 14.4738 13.1572ZM10.5263 11.8421C11.2527 11.8421 11.8421 11.2527 11.8421 10.5262C11.8421 9.79932 11.2527 9.2106 10.5263 9.2106C9.80006 9.2106 9.21066 9.79932 9.21066 10.5262C9.21066 11.2527 9.80006 11.8421 10.5263 11.8421ZM14.4738 9.2106C13.7463 9.2106 13.158 9.79932 13.158 10.5262C13.158 11.2527 13.7463 11.8421 14.4738 11.8421C15.1999 11.8421 15.7896 11.2527 15.7896 10.5262C15.7897 9.79932 15.2012 9.2106 14.4738 9.2106ZM15.7897 2.63146H9.21066V5.26308H15.7897V2.63146ZM18.4213 11.8421C19.1471 11.8421 19.7371 11.2527 19.7371 10.5262C19.7371 9.79932 19.1484 9.2106 18.4213 9.2106C17.6938 9.2106 17.1055 9.79932 17.1055 10.5262C17.1055 11.2527 17.6952 11.8421 18.4213 11.8421ZM18.4213 15.7895C19.1471 15.7895 19.7371 15.1998 19.7371 14.4737C19.7371 13.7463 19.1484 13.1579 18.4213 13.1579C17.6938 13.1579 17.1055 13.7463 17.1055 14.4737C17.1055 15.1998 17.6952 15.7895 18.4213 15.7895ZM10.5263 15.7895C11.2527 15.7895 11.8421 15.1998 11.8421 14.4737C11.8421 13.7463 11.2534 13.1572 10.5263 13.1572C9.79939 13.1572 9.21066 13.7463 9.21066 14.4737C9.21066 15.1998 9.80006 15.7895 10.5263 15.7895ZM6.57902 19.737C7.30527 19.737 7.89484 19.1469 7.89484 18.4212C7.89484 17.6938 7.30527 17.1054 6.57902 17.1054C5.85209 17.1054 5.2632 17.6938 5.2632 18.4212C5.2632 19.1469 5.85268 19.737 6.57902 19.737ZM22.3684 2.63146H21.053V5.26308H22.3684V22.3682H2.63164V5.26316H3.94729V2.63146H2.63164C1.1783 2.63146 0 3.80933 0 5.26316V22.3677C0 23.8219 1.1783 25 2.63164 25H22.3684C23.822 25 25 23.8218 25 22.3677V5.26316C25.0001 3.80933 23.822 2.63146 22.3684 2.63146ZM6.57902 15.7895C7.30527 15.7895 7.89484 15.1998 7.89484 14.4737C7.89484 13.7463 7.30527 13.1572 6.57902 13.1572C5.85209 13.1572 5.2632 13.7463 5.2632 14.4737C5.2632 15.1998 5.85268 15.7895 6.57902 15.7895ZM6.57902 11.8421C7.30527 11.8421 7.89484 11.2527 7.89484 10.5262C7.89484 9.79932 7.30527 9.2106 6.57902 9.2106C5.85209 9.2106 5.2632 9.79932 5.2632 10.5262C5.2632 11.2527 5.85268 11.8421 6.57902 11.8421ZM10.5263 19.737C11.2527 19.737 11.8421 19.1469 11.8421 18.4212C11.8421 17.6938 11.2527 17.1054 10.5263 17.1054C9.80006 17.1054 9.21066 17.6938 9.21066 18.4212C9.21066 19.1469 9.80006 19.737 10.5263 19.737ZM6.57902 5.26316C7.30527 5.26316 7.89484 4.67377 7.89484 3.94735V1.3159C7.89484 0.588725 7.30594 0 6.57902 0C5.85268 0 5.2632 0.588725 5.2632 1.31581V3.94727C5.2632 4.67377 5.85268 5.26316 6.57902 5.26316ZM18.4213 5.26316C19.1471 5.26316 19.7371 4.67377 19.7371 3.94735V1.3159C19.7371 0.588725 19.1471 0 18.4213 0C17.6938 0 17.1055 0.588725 17.1055 1.31581V3.94727C17.1055 4.67377 17.6952 5.26316 18.4213 5.26316Z"
														fill="#69C530" />
												</svg>
											</a>
										</div>
										<div id="test-popup" class="white-popup mfp-hide">
											<input class="form-control date-range2" type="text" style="display: none;">
											<div class="wrap-mfp-close">
												<div class="mfp-close">Закрыть
													<img src="img/svg/close-datepicker.svg" alt="close-datepicker">
												</div>
											</div>
											<div class="date_range1"></div>
											<div class="wrap-btn-choose">
												<div class="btn-def btn-choose date-select">Выбрать</div>
											</div>
										</div>
									</div>
									<div class="input-group__clock">
										<input class="form-control time" type="text" required>
										<!-- <img src="img/svg/clock.svg" alt="clock"> -->
										<div class="open-clock">
											<svg width="25" height="25" viewBox="0 0 25 25" fill="none"
												xmlns="http://www.w3.org/2000/svg">
												<path
													d="M12.5 0C5.6075 0 0 5.6075 0 12.5C0 19.3925 5.6075 25 12.5 25C19.3925 25 25 19.3925 25 12.5C25 5.6075 19.3925 0 12.5 0ZM12.5 22.3402C7.07416 22.3402 2.65953 17.9261 2.65953 12.5C2.65953 7.0739 7.07416 2.65979 12.5 2.65979C17.9258 2.65979 22.3405 7.0739 22.3405 12.5C22.3405 17.9261 17.9258 22.3402 12.5 22.3402Z"
													fill="#69C530" />
												<path
													d="M19.0145 12.114H13.397V5.35972C13.397 4.79132 12.9361 4.33049 12.3677 4.33049C11.7994 4.33049 11.3385 4.79132 11.3385 5.35972V13.1433C11.3385 13.7117 11.7994 14.1725 12.3677 14.1725H19.0145C19.5829 14.1725 20.0437 13.7117 20.0437 13.1433C20.0437 12.5749 19.5829 12.114 19.0145 12.114Z"
													fill="#69C530" />
											</svg>
										</div>
									</div>
								</div>
							</div>
							<input class="tel-event" type="tel" name="phone" placeholder="+7 937 834 90 20" required autocomplete="tel">
						</form>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn-def">Сохранить</button>
						<button type="button" class="btn-def btn-def_gray" data-dismiss="modal">Отменить</button>
					</div>
				</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!--_______ End.page-reminders _______-->