// page-editing-develop
.show-photo
	.small-img
		display: flex
		justify-content: space-between
		li
			position: relative
			overflow: visible !important
		.small-img-close
			opacity: 0
			width: 30px
			height: 30px
			border: 1px solid #212942
			border-radius: 50%
			display: flex
			position: absolute
			right: -8px
			top: -8px
			left: auto
			color: #fff
			background: #212942 url(../img/svg/close-white.svg) no-repeat center
			display: block !important
			z-index: 2
			transition: opacity .3s ease-in-out

		.wrap-empty
			width: 100%
			background: #6C7583
			border-radius: 3px
			position: absolute
			top: 0
			display: block
			padding: 0
			overflow: hidden
			&::before
				content: ''
				display: block
				padding-top: 100%
			&.check
				background: #0E1F38
				&::after
					content: ""
					position: absolute
					width: 23px
					height: 23px
					background: url("../img/svg/check_green_drop.svg") no-repeat
					display: flex
					top: 50%
					// background: red
					left: 50%
					transform: translate(-50%, -50%)
			@media only screen and (max-width: 767px)
				width: calc((100% - 3px * 5) / 5)

			img
				position: absolute
				top: 0
				bottom: 0
				left: 0
				width: 100%
				height: auto
				border: 0
			&.active:hover ~ .small-img-close
				opacity: 1
				top: -8px
				right: -8px					
			&.active ~ .small-img-close:hover
				opacity: 1
				cursor: pointer
.page-editing-develop
	.main-content
		.basic-information
			.wrap-basic-information_dev
				border-top: 1px solid #E3E7F1
				padding-top: 20px
			.panel-submit
				.btn-def
					width: 145px
				button
					&.preview
						min-width: 120px
						width: 120px
						order: 1
			.select-context
				.steps-mob
					@media only screen and (max-width: 767px)
						display: none
		.steps-mob
			@media only screen and (max-width: 767px)
				display: none
	.wrap-event-preview
		border-top: 1px solid #E3E7F1
		padding-top: 59px
		background: #FFFFFF
		box-shadow: none
		border-radius: 3px
