<!--_______ .page-editing-develop _______-->
<div class="page-create-new-event-step1 page-create-new-event-step2 page-create-new-event-step3 page-editing-develop page-insert">
	<div class="container">
		<div class="row-wrap-main">
			<div class="col-item side-bar">
				<div class="side-bar-user">
					<div class="top-nav">
						<div class="user-avatar" style="background-image: url(img/user-avatar.jpg)"></div>
						<div class="user-inform">
							<div class="user-name">
								<span>Вячеслав</span>
								<a class="user-gear" href="#">
									<i class="icon icon-settings"></i>
								</a>
							</div>
							<div class="user-status">Организатор</div>
						</div>
					</div>

					<ul>
						<li  class="active">
							<a href="#">
								<i class="icon icon-developments"></i>
								<span>
									События и статистика
								</span>
							</a>
						</li>
						<li>
							<a href="#">
								<i class="icon icon-bd"></i>
								<span>База клиентов</span>
							</a>
						</li>
						<li>
							<a href="#">
								<i class="icon icon-ticket"></i>
								<span>Проверка билетов</span>
							</a>
						</li>
						<li>
							<a href="#">
								<i class="icon icon-paid--services"></i>
								<span>Платные услуги</span>
							</a>
						</li>
					</ul>
					
					<ul>
						<li>
							<a href="#">
								<i class="icon icon-support"></i>
								<span>
									Служба поддержки
								</span>
							</a>
						</li>
						<li>
							<a href="#">
								<i class="icon icon-exit"></i>
								<span>Выйти из кабинета</span>
							</a>
						</li>
					</ul>
				</div>
			</div>
			<div class="col-item main-content">
				<form action="" class='basic-information needs-validation' novalidate>
					<div class=" error-messages">
						Заполните обязательную информацию по событию ввыделенную красными рамками ниже
					</div>
					<div class="wrap-basic-information">
						<div class="select-context">
							<div class="steps steps-mob">
								<div class="wrap-steps">
									<div class="step active">
										<div class="die">
											<p>
												1
											</p>
										</div>
										<h5>
											Основная информация
										</h5>
									</div>
								</div>
								<div class="wrap-steps">
									<div class="step">
										<div class="die">
											<p>
												2
											</p>
										</div>
										<h5>
											Билеты и цены
										</h5>
									</div>
								</div>
								<div class="wrap-steps">
									<div class="step">
										<div class="die">
											<p>
												3
											</p>
										</div>
										<h5>
											Предпросмотр
										</h5>
									</div>
								</div>
							</div>
							<div class="row-select-context">
								<input class="form-control is-invalid" type="text" placeholder="Название события" value="Уральские пельмени" required>
								<div class="wrap-select select-zero">
									<select class="select" required>
										<option value="">12+</option>
										<option>6+</option>
										<option>12+</option>
										<option>16+</option>
										<option>18+</option>
										<option>21+</option>
									</select>
								</div>
							</div>
							<div class="row-select-context">
								<div class="wrap-select select-city">
									<select class="select form-control is-valid" >
										<option>Санкт-Петербург</option>
										<option>Москва</option>
										<option>Казань</option>
										<option>Санкт-Петербург</option>
										<option>Москва</option>
										<option>Казань</option>
									</select>
								</div>
							</div>
							<div class="row-select-context">
								<div class="wrap-select select-rank">
									<select class="select">
										<option>Концерты</option>
										<option>Кино</option>
										<option>Концерты</option>
										<option>Вечеринки</option>
										<option>Театры</option>
										<option>Детям</option>
										<option>Бизнес</option>
										<option>Спорт</option>
										<option>Активный отдых</option>
										<option>Обучение</option>
									</select>
								</div>
								<div class="wrap-select select-genre">
									<select class="select ">
										<option>Юмор</option>
										<option>Кино</option>
										<option>Концерты</option>
										<option>Вечеринки</option>
										<option>Театры</option>
										<option>Детям</option>
										<option>Бизнес</option>
										<option>Спорт</option>
										<option>Активный отдых</option>
										<option>Обучение</option>
									</select>
								</div>
							</div>
						</div>
						<div class="who-to-go">
							<div class="wrap-content">
								<div class="filter-item__title">
									<span class="filter-name">С кем можно пойти</span>
								</div>
								<div class="wrap-content-mob">
									<label class="container-checkbox">
										<input class='form-control'	type="checkbox" checked="checked">
										<span class="checkmark"></span>
										<span>
											С детьми
										</span>
									</label>
									<label class="container-checkbox">
										<input class="form-control" type="checkbox" checked="checked">
										<span class="checkmark"></span>
										<span>
											С друзьями
										</span>
									</label>
									<label class="container-checkbox">
										<input class="form-control" type="checkbox" checked="checked">
										<span class="checkmark"></span>
										<span>
											С родителями
										</span>
									</label>
									<label class="container-checkbox">
										<input class="form-control" type="checkbox" checked="checked">
										<span class="checkmark"></span>
										<span>
											Вдвоем
										</span>
									</label>
									<label class="container-checkbox">
										<input class="form-control" type="checkbox" checked="checked">
										<span class="checkmark"></span>
										<span>
											Одному/Одной
										</span>
									</label>
								</div>
							</div>
						</div>
						<div class="date-time">
							<div class="date-time-top">
								<span class="date-time__title">
									Дата и время
								</span>
							</div>
							<div class="date-time-input-group">
								<div class="input-group__date">
									<input class="form-control date_range" type="text" placeholder="14 сентября 2019" required>
									<div class="popupOpen">
										<a href="#test-popup" class="open-popup-link">
											<svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
												<path d="M14.4738 13.1572C13.7463 13.1572 13.158 13.7463 13.158 14.4737C13.158 15.1998 13.7477 15.7895 14.4738 15.7895C15.1999 15.7895 15.7896 15.1998 15.7896 14.4737C15.7897 13.7463 15.2012 13.1572 14.4738 13.1572ZM10.5263 11.8421C11.2527 11.8421 11.8421 11.2527 11.8421 10.5262C11.8421 9.79932 11.2527 9.2106 10.5263 9.2106C9.80006 9.2106 9.21066 9.79932 9.21066 10.5262C9.21066 11.2527 9.80006 11.8421 10.5263 11.8421ZM14.4738 9.2106C13.7463 9.2106 13.158 9.79932 13.158 10.5262C13.158 11.2527 13.7463 11.8421 14.4738 11.8421C15.1999 11.8421 15.7896 11.2527 15.7896 10.5262C15.7897 9.79932 15.2012 9.2106 14.4738 9.2106ZM15.7897 2.63146H9.21066V5.26308H15.7897V2.63146ZM18.4213 11.8421C19.1471 11.8421 19.7371 11.2527 19.7371 10.5262C19.7371 9.79932 19.1484 9.2106 18.4213 9.2106C17.6938 9.2106 17.1055 9.79932 17.1055 10.5262C17.1055 11.2527 17.6952 11.8421 18.4213 11.8421ZM18.4213 15.7895C19.1471 15.7895 19.7371 15.1998 19.7371 14.4737C19.7371 13.7463 19.1484 13.1579 18.4213 13.1579C17.6938 13.1579 17.1055 13.7463 17.1055 14.4737C17.1055 15.1998 17.6952 15.7895 18.4213 15.7895ZM10.5263 15.7895C11.2527 15.7895 11.8421 15.1998 11.8421 14.4737C11.8421 13.7463 11.2534 13.1572 10.5263 13.1572C9.79939 13.1572 9.21066 13.7463 9.21066 14.4737C9.21066 15.1998 9.80006 15.7895 10.5263 15.7895ZM6.57902 19.737C7.30527 19.737 7.89484 19.1469 7.89484 18.4212C7.89484 17.6938 7.30527 17.1054 6.57902 17.1054C5.85209 17.1054 5.2632 17.6938 5.2632 18.4212C5.2632 19.1469 5.85268 19.737 6.57902 19.737ZM22.3684 2.63146H21.053V5.26308H22.3684V22.3682H2.63164V5.26316H3.94729V2.63146H2.63164C1.1783 2.63146 0 3.80933 0 5.26316V22.3677C0 23.8219 1.1783 25 2.63164 25H22.3684C23.822 25 25 23.8218 25 22.3677V5.26316C25.0001 3.80933 23.822 2.63146 22.3684 2.63146ZM6.57902 15.7895C7.30527 15.7895 7.89484 15.1998 7.89484 14.4737C7.89484 13.7463 7.30527 13.1572 6.57902 13.1572C5.85209 13.1572 5.2632 13.7463 5.2632 14.4737C5.2632 15.1998 5.85268 15.7895 6.57902 15.7895ZM6.57902 11.8421C7.30527 11.8421 7.89484 11.2527 7.89484 10.5262C7.89484 9.79932 7.30527 9.2106 6.57902 9.2106C5.85209 9.2106 5.2632 9.79932 5.2632 10.5262C5.2632 11.2527 5.85268 11.8421 6.57902 11.8421ZM10.5263 19.737C11.2527 19.737 11.8421 19.1469 11.8421 18.4212C11.8421 17.6938 11.2527 17.1054 10.5263 17.1054C9.80006 17.1054 9.21066 17.6938 9.21066 18.4212C9.21066 19.1469 9.80006 19.737 10.5263 19.737ZM6.57902 5.26316C7.30527 5.26316 7.89484 4.67377 7.89484 3.94735V1.3159C7.89484 0.588725 7.30594 0 6.57902 0C5.85268 0 5.2632 0.588725 5.2632 1.31581V3.94727C5.2632 4.67377 5.85268 5.26316 6.57902 5.26316ZM18.4213 5.26316C19.1471 5.26316 19.7371 4.67377 19.7371 3.94735V1.3159C19.7371 0.588725 19.1471 0 18.4213 0C17.6938 0 17.1055 0.588725 17.1055 1.31581V3.94727C17.1055 4.67377 17.6952 5.26316 18.4213 5.26316Z" fill="#69C530"/>
											</svg>
										</a>
									</div>
									<div id="test-popup" class="white-popup mfp-hide">
										<input class="form-control date-range2" type="text" style="display: none;">
										<div class="wrap-mfp-close">
											<div class="mfp-close">Закрыть
												<img src="img/svg/close-datepicker.svg" alt="close-datepicker">
											</div>
										</div>
										<div class="date_range1"></div>
										<div class="wrap-btn-choose">
											<div class="btn-def btn-choose date-select">Выбрать</div>
										</div>
									</div>
								</div>
								<div class="input-group__clock">
									<input class="form-control time" type="text" required>
									<!-- <img src="img/svg/clock.svg" alt="clock"> -->
									<div class="open-clock">
										<svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
											<path d="M12.5 0C5.6075 0 0 5.6075 0 12.5C0 19.3925 5.6075 25 12.5 25C19.3925 25 25 19.3925 25 12.5C25 5.6075 19.3925 0 12.5 0ZM12.5 22.3402C7.07416 22.3402 2.65953 17.9261 2.65953 12.5C2.65953 7.0739 7.07416 2.65979 12.5 2.65979C17.9258 2.65979 22.3405 7.0739 22.3405 12.5C22.3405 17.9261 17.9258 22.3402 12.5 22.3402Z" fill="#69C530"/>
											<path d="M19.0145 12.114H13.397V5.35972C13.397 4.79132 12.9361 4.33049 12.3677 4.33049C11.7994 4.33049 11.3385 4.79132 11.3385 5.35972V13.1433C11.3385 13.7117 11.7994 14.1725 12.3677 14.1725H19.0145C19.5829 14.1725 20.0437 13.7117 20.0437 13.1433C20.0437 12.5749 19.5829 12.114 19.0145 12.114Z" fill="#69C530"/>
										</svg>
									</div>
								</div>
							</div>
						</div>
						<div class="place">
							<span class="place__title">
								Место
							</span>
							<p>
								Укажите точку на карте или напишите текстом адрес и название площадки
							</p>
							<div class="place-input">
								<div class="wrap-input">
									<input class="form-control" type="text" placeholder="Адрес площадки" value="Ленина 101/1" required>
								</div>
								<div class="wrap-input">
									<input class="" type="text" placeholder="Название площадки" value='Уфа-Арена' required>
								</div>
							</div>
							<div class="place-map">
								<div id='map-search' class="map-search"></div>
							</div>
						</div>
						<div class="about-event">
							<span class="about-event__title">
								О событии
							</span>
							<textarea class='form-control about-event__textarea' rows="3" name="text" required placeholder="Описание события, Условия посещения,  face-control, dress-code или иные условия...">Шоу «Уральские Пельмени» в Уфе. 
22 марта 2019г., 19-00ч., ГКЗ Башкортостан
Они превратили ошибки и оговорки в самый блестящий номер программы, а самые смешные женские роли отдают актёрам-мужчинам. Они придумывают новогодние программы в октябре, а в год 25-летия отправляются в «ПРЕДЪюбилейный тур».Поэтому (и не только) они единственные и неповторимые, долгожданные и всенародно любимые «Уральские Пельмени»!
Это значит, что все официальные, торжественные и прочие обязательные в юбилей вещи останутся для телевизионного концерта к 25-летию. А гостей и зрителей «ПРЕДЪюбилейного тура» ждёт только всё самое смешное и любимое, проверенное зрителями, а также всё самое новое, так сказать, с пылу с жару, ну, или </textarea>
						</div>
						<div class="photo-video">
							<span class="photo-video__title">Фото и видео</span>						
							<input class="form-control fileElem" type="file" id="fileElem" required="" multiple="" accept="image/*"	onchange="handleFiles(this.files, '.show-photo')">
							<div class="wrap-photo">
								<div class="show-photo">
									<div id="gallery" class="big-img">
										<div class="event-cover">
											<div class="wrap-event-cover">
												<img class='icon-event-cover' src="img/svg/icon-event-cover.svg" alt="icon-event-cover">
												<div class="first_p">
													Обложка события
												</div>
												<div class="next_p">
													Загрузите фото и выберите его ниже чтобы сделать обложкой вашего события
												</div>
											</div>
										</div>
										<img src="img/drop/empty-big-img.jpg" alt="" data-src='img/drop/empty-big-img.jpg'>
									</div>
									<ul class="small-img">
										<li>
											<div class="wrap-empty"></div>
											<span class="small-img-close"></span>
										</li>
										<li>
											<div class="wrap-empty"></div>
											<span class="small-img-close"></span>
										</li>
										<li>
											<div class="wrap-empty"></div>
											<span class="small-img-close"></span>
										</li>
										<li>
											<div class="wrap-empty"></div>
											<span class="small-img-close"></span>
										</li>
										<li>
											<div class="wrap-empty"></div>
											<span class="small-img-close"></span>
										</li>
									</ul>
								</div>
								<div class="drop-photo">
									<div id="drop-area" class="drop-area">
										<div class="my-form">
											<img src="img/svg/drop.svg" alt="drop">
											<p>Перетащите сюда до 5	фото вашего события или</p>
											<label class="btn-def btn-my-form" for="fileElem">Загрузить фото</label>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="youtube-link">
							<span class="youtube-link__title">
								Если у вас есть видео (трейлер, презентация) укажите ссылку на youtube
							</span>
							<input class="" type="text" placeholder="https://" required>
							<p>
								Видео будет показывать первым в галлерии о вашем событии
							</p>	
						</div>
						<div class="contact">
							<span class="contact__title">
								Контакты
							</span>
							<div class="wrap-main-contact">
								<div class="main-contact first-contact">
									<div class="wrap-input">
										<img  src="img/svg/contact-tel.svg" class='contact-img' alt="contact-tel">
										<img  src="img/svg/contact-tel-mob.svg" class='contact-img-mob' alt="contact-tel-mob">
										<input class="" type="text" placeholder="+7" required>
									</div>
									<div class="wrap-input">
										<img  src="img/svg/contact-site.svg" class='contact-img' alt="contact-site">
										<img  src="img/svg/contact-site-mob.svg" class='contact-img-mob' alt="contact-site-mob">
										<input class="" type="text" placeholder="Сайт" required>
									</div>
								</div>
								<div class="main-contact social-contact">
									<div class="wrap-input">
										<img  src="img/svg/login-social-vk.svg" class='contact-img' alt="login-social-vk">
										<input class="" type="text" placeholder="https://" required>
									</div>
									<div class="wrap-input">
										<img  src="img/svg/login-social-f.svg" class='contact-img' alt="login-social-f">
										<input class="" type="text" placeholder="https://" required>
									</div>
									<div class="wrap-input">
										<img  src="img/svg/login-social-g+.svg" class='contact-img' alt="login-social-g+">
										<input class="" type="text" placeholder="https://" required>
									</div>
								</div>
							</div>
						</div>
						<div class="wrap-basic-information wrap-basic-information_dev">
							<div class="wrap-ticket">
									<div class="steps steps-mob">
											<div class="wrap-steps">
												<div class="step">
													<div class="die">
														<p>
															1
														</p>
													</div>
													<h5>
														Основная информация
													</h5>
												</div>
											</div>
											<div class="wrap-steps">
												<div class="step active">
													<div class="die">
														<p>
															2
														</p>
													</div>
													<h5>
														Билеты и цены
													</h5>
												</div>
											</div>
											<div class="wrap-steps">
												<div class="step">
													<div class="die">
														<p>
															3
														</p>
													</div>
													<h5>
														Предпросмотр
													</h5>
												</div>
											</div>
										</div>
								<div class="ticket__title">
									Билеты
								</div>
								<div class="wrap-content">
									<input type="checkbox" class="checkbox_tickets" id="free-event" />
									<label for="free-event">Бесплатное событие</label>
								</div>
								<div class="wrap-content wrap-content-hide">
									<input type="checkbox" class="checkbox_tickets" id="referral-program" checked/>
									<label for="referral-program">Реферальная программа (услуга платная 1900 руб/месяц)</label>
									<a class="a-question" href="#">
										<i class="icon-question"></i>
									</a>
								</div>
								<span class="site-link__title">
									Ссылка на страничку вашего сайта/группы с выбором места (для для подсчета <span>продаж*</span>)
								</span>
								<input class="site-input" type="text" placeholder="https://" required>
							</div>
							<div class="bonus-places">
								<div class="bonus-places__title">Места и цены за бонусы</div>
								<div class="wrap-table">
									<table class="tableSection">
										<thead>
											<th class="th_1">Сектор</th>
											<th class="th_2">Количество мест</th>
											<th class="th_3">Цена билета (бонусов)</th>
										</thead>
										<tbody>
											<tr> 
												<td>
													Партер
												</td> 
												<td>
													85
												</td>
												<td>
													300
													<div class="icon-block-shell">
														<div class="icon-block">
															<a href="#">
																<i class="icon icon-settings"></i>
															</a>
															<a href="#">
																<i class="icon icon-delete"></i>
															</a>
														</div>
													</div>
													<a class="a-arrow"	href="#">
														<img src="img/svg/arrow_right.svg" alt="arrow_right">
													</a>
												</td>
											</tr>
											<tr> 
												<td>
													Сектор А
												</td> 
												<td>
													25
												</td>
												<td>
													200
													<div class="icon-block-shell">
														<div class="icon-block">
															<a href="#">
																<i class="icon icon-settings"></i>
															</a>
															<a href="#">
																<i class="icon icon-delete"></i>
															</a>
														</div>
													</div>
													<a class="a-arrow"	href="#">
														<img src="img/svg/arrow_right.svg" alt="arrow_right">
													</a>
												</td>
											</tr>
											<tr> 
												<td>
													Сектор Б
												</td> 
												<td>
													25
												</td>
												<td>
													250
													<div class="icon-block-shell">
														<div class="icon-block">
															<a href="#">
																<i class="icon icon-settings"></i>
															</a>
															<a href="#">
																<i class="icon icon-delete"></i>
															</a>
														</div>
													</div>
													<a class="a-arrow"	href="#">
														<img src="img/svg/arrow_right.svg" alt="arrow_right">
													</a>
												</td>
											</tr>
											<tr> 
												<td>
													Танцпол
												</td> 
												<td>
													150
												</td>
												<td>
													150
													<div class="icon-block-shell">
														<div class="icon-block">
															<a href="#">
																<i class="icon icon-settings"></i>
															</a>
															<a href="#">
																<i class="icon icon-delete"></i>
															</a>
														</div>
													</div>
													<a class="a-arrow"	href="#">
														<img src="img/svg/arrow_right.svg" alt="arrow_right">
													</a>
												</td>
											</tr>
											<caption>
												<button class='btn-def add-places' href="#">
													Добавить места
												</button>
											</caption>
										</tbody>
									</table>
								</div>
							</div>
							<div class="wrap-event-preview">
								<div class="steps steps-mob">
									<div class="wrap-steps">
										<div class="step">
											<div class="die">
												<p>
													1
												</p>
											</div>
											<h5>
												Основная информация
											</h5>
										</div>
									</div>
									<div class="wrap-steps">
										<div class="step">
											<div class="die">
												<p>
													2
												</p>
											</div>
											<h5>
												Билеты и цены
											</h5>
										</div>
									</div>
									<div class="wrap-steps">
										<div class="step active">
											<div class="die">
												<p>
													3
												</p>
											</div>
											<h5>
												Предпросмотр
											</h5>
										</div>
									</div>
								</div>
								<div class="wrap-item">
									<div class="item event-preview">
										<p class="p-item">
											Перед публикацией убедитесь что вы заполнили всю информацию правильно
										</p>
										<div class="wrap-img">
												<!-- style="background-image: url(img/event-preview-img.jpg)" -->
											<a href="#" class="overlay-img">
												<i class="icon icon-show-2 center"></i>
												<span>Событие</span>
											</a>
											<img src="img/event-preview-img.jpg" alt="">
										</div>
									</div>
									<div class="item applied-services">
										<h5>
											Примененные услуги (оплачено):
										</h5>
										<ul>
											<li class="active">
												<p>
													Реферальная программа
												</p>
											</li>
											<li class="active">
												<p>
													Выделение события цветом
												</p>
											</li>
											<li>
												<p>
													Закрепление в каталоге в ТОП-3
												</p>
											</li>
										</ul>
									</div>
									<div class="item ticket-preview">
										<p class="p-item">
											Посмотрите пример билета с которым к вам будут приходить посетители. 
										</p>
										<div class="wrap-img">
											<a href="#" class="overlay-img" data-toggle="modal" data-target="#myModal">
												<i class="icon icon-show-2 center"></i>
												<span>Билет</span>
											</a>
											<img src="img/ticket-preview-img.jpg" alt="">
										</div>
									</div>
								</div>
							</div>
							<div class="panel-submit">
								<button class='btn-def next' href="#" type="submit">
									Сохранить 
								</button>
								<button class='btn-def btn-def_transparent btn-def_gray preview' href="#" type="submit">
									Отменить
								</button>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
	<!-- Modal -->
	<div class="modal view-ticket fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
		aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="wrap-mfp-close">
					<div class="wrap-btn-back">
						<div class="btn-back">
							<img src="img/svg/arrow-back.svg" alt="arrow-back">
							<span>предпросмотр</span>
						</div>
					</div>
					<div class="mfp-close" data-dismiss="modal" aria-label="Close">
						<span>Закрыть</span>
						<a class="close-castom-mob"></a>
					</div>
				</div>
				<div class="modal-header">
					<a class="close-castom" data-dismiss="modal" aria-label="Close"></a>
					<p class="top-p">
						Клиенты могут прийти с распечатанным билетом или показать билет на телефоне.
					</p>
					<p>
						Проверять билеты посетителей можно в <a href="#">База клиентов</a><br>
						Если клиент покупал билет через eventr.ru то он отобразится в вашей клиентской базе. Если клиент
						не найден (и фио
						введено правильно, верно указан город) - то это мошенник, которой подделал билет.
					</p>
				</div>
				<div class="liks-events">
					<a class='download' href="#">
						<i class="icon icon-download"></i>
						<!-- <img src="img/svg/download.svg" alt="download"> -->
						<span>Скачать</span>
					</a>
					<a class='direct' href="#">
						<i class="icon icon-mail"></i>
						<!-- <img src="img/svg/direct-mob.svg" alt="direct"> -->
						<span>Отправить на почту/тел.</span>
					</a>
					<a class='print' href="#">
						<i class="icon icon-print"></i>
						<!-- <img src="img/svg/print.svg" alt="print"> -->
						<span>Распечатать</span>
					</a>
				</div>
				<div class="modal-body">
					<img src="img/screenshot.svg" alt="screenshot">
				</div>
			</div>
		</div>
	</div>
</div>
<!--_______ End.page-event-statistic _______-->