/*Typerhead*/
.typeahead,
.tt-query,
.tt-hint {
  width: 396px; }

.tt-menu {
  width: 422px;
  margin: 12px 0;
  padding: 8px 0;
  background-color: #fff;
  border: 1px solid #dedede;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2); }

.tt-suggestion {
  padding: 3px 20px;
  border-radius: 0; }

.tt-suggestion:hover {
  cursor: pointer;
  color: #fff;
  background-color: #8BC34A; }

.tt-suggestion.tt-cursor {
  color: #fff;
  background-color: #0097cf; }