.page-seats
	min-height: 100vh
	padding-top: 29px
	h1
		font-weight: bold
		font-size: 24px
		line-height: 28px
		color: #000
		text-align: center

#parent
	display: flex
	flex-direction: column


.row
	height: 27px


.elem 
	width: 25px
	height: 25px
	border: 1px solid green
	display: inline-block