<!--_______ .page-copyright-holders _______-->
<div class="page-copyright-holders page-insert">
	<div class="container">
		<div class="row-wrap-main">
			<div class="col-item main-content">
				<div class="wrap-copyright">
					<div class="copyright">
						<h2>
							<img src="img/svg/copyright.svg" alt="copyright">
						</h2>
					</div>
					<p>
						Если вы являетесь правообладателем того или иного материала, находящегося на сайте eventr.ru и не желаете, чтобы он и далее находился в свободном доступе наших сервисов, то мы готовы посодействовать удалению данного материала, а также обсудить условия предоставления данного контента пользователям.
					</p>
					<p>
						Для этого вам необходимо написать в <a href="#">службу поддержки</a>
					</p>
					<h5>
						Просьба предоставить следующие данные:
					</h5>
					<p>
						- Документальное подтверждение наличия у вас прав на материал, защищенный авторским правом: отсканированный документ с печатью, либо иная информация, позволяющая однозначно идентифицировать вас как правообладателя данного материала.
					</p>
					<p>
						- Текст, который вы желаете разместить в сопровождении удаляемой информации. В нем вы можете указать где, и на каких условиях можно получить информацию, ссылки на которую были удалены.
					</p>
					<p>
						- Все поступающие жалобы будут рассмотрены в порядке их поступления. В случае необходимости мы свяжемся с вами.
					</p>
				</div>
			</div>
		</div>
		<div class="app-mobile">
			<div class="app-mobile__title">Чаще ищете куда сходить с телефона?</div>
			<div class="app-mobile__pre-title">Скачайте приложение EVENTR</div>
			<div class="app-mobile__img">
				<p><a href="#"><img src="img/gps.png" alt=""></a></p>
				<p><a href="#"><img src="img/aps.png" alt=""></a></p>
			</div>
		</div>
	</div>
	<!-- Modal -->
	<div class="modal offers-modal fade" id="my_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<a class="close-castom" data-dismiss="modal" aria-label="Close"></a>

				<img src="img/svg/payment-method.svg" alt="">
			</div>
		</div>
	</div>
</div>
<!--_______ End.page-copyright-holders _______-->