// .page-copyright-holders
.page-copyright-holders
	.container
		padding: 0
		@media only screen and (min-width: 768px)
			padding: 0 15px
		.main-content
			min-width: 100%
			display: flex
			flex-direction: column
			align-items: center
			@media only screen and (max-width: 767px)
				padding-top: 0
			h2
				padding-top: 26px
				margin-bottom: 9px
				@media only screen and (max-width: 767px)
					padding-top: 0
			h5
				font-weight: bold
				padding-top: 3px
				margin-bottom: 16px
				@media only screen and (max-width: 767px)
					padding-top: 2px
					line-height: 21px	
				
	.wrap-copyright
		width: 100%
		max-width: 561px
		background: #FFFFFF
		box-shadow: 0px 2px 2px #E0E0E3
		border-radius: 3px
		padding: 8px 30px 20px
		@media only screen and (max-width: 767px)
			padding: 0 20px 20px
		.copyright
			display: flex
			justify-content: center
			@media only screen and (max-width: 767px)
				margin-bottom: -15px
		p
			font-size: 14px
			line-height: 21px
			color: #6C7583

// /*End_.page-copyright-holders*/