// .page-ticket-page
.page-ticket-page
	.main-content
		padding-top: 29px
		@media only screen and (max-width: 767px)
			padding-top: 0
	.wrap-top-title
		display: flex
		align-items: center
		@media only screen and (max-width: 767px)
			display: block
	.link-top
		margin-left: auto
		a
			&:not(:first-child)
				padding-left: 24px
			img
				padding-right: 6px						
	.wrap-img
		margin-top: 20px
		margin-bottom: 178px
	.modal-dialog
		@media only screen and (max-width: 575px)
			width: 100%
.modal-mail
	.modal-dialog
		@media only screen and (max-width: 575px)
			margin: 0
			max-width: 100%
	.modal-header
		@media only screen and (max-width: 575px)
			border-bottom: 1px solid #E3E7F1
			padding-top: 13px
			padding-bottom: 11px
		h5
			@media only screen and (max-width: 575px)
				font-weight: bold
				font-size: 14px
				line-height: 16px
				text-align: center
				color: #0E1F38
	.modal-body
		@media only screen and (max-width: 575px)
			padding: 30px 20px
		.form-group
			@media only screen and (max-width: 575px)
				margin-bottom: 0
	.btn-def
		@media only screen and (max-width: 575px)
			padding: 9px 5px 8px
			text-align: center
			display: table	
	.btn-close-modal-mob
		@media only screen and (max-width: 575px)
			display: table
	.btn-close-modal-desk
		display: inline-block			
		@media only screen and (max-width: 575px)
			display: none
	.modal-footer
		@media only screen and (max-width: 575px)
			position: relative
			justify-content: space-between	

// /*End_.page-ticket-page*/