<!--_______ .page-paid-services _______-->
<div class="page-event-statistic page-personal-data page-insert">
	<div class="container">
		<div class="row-wrap-main">
			<div class="col-item side-bar">
				<div class="side-bar-user">
					<div class="top-nav">
						<div class="user-avatar" style="background-image: url(img/user-avatar.jpg)"></div>
						<div class="user-inform">
							<div class="user-name">
								<span>Вячеслав</span>
								<a class="user-gear" href="#">
									<i class="icon icon-settings"></i>
								</a>
							</div>
							<div class="user-status">Организатор</div>
						</div>
					</div>

					<ul>
						<li>
							<a href="#">
								<i class="icon icon-developments"></i>
								<span>
									События и статистика
								</span>
								<button class="add-event"><img src="img/svg/plus.svg" alt="plus"></button>
							</a>
						</li>
						<li>
							<a href="#">
								<i class="icon icon-bd"></i>
								<span>База клиентов</span>
							</a>
						</li>
						<li>
							<a href="#">
								<i class="icon icon-ticket"></i>
								<span>Проверка билетов</span>
							</a>
						</li>
						<li>
							<a href="#">
								<i class="icon icon-paid--services"></i>
								<span>Платные услуги</span>
							</a>
						</li>
					</ul>
					
					<ul>
						<li>
							<a href="#">
								<i class="icon icon-support"></i>
								<span>
									Служба поддержки
								</span>
							</a>
						</li>
						<li>
							<a href="#">
								<i class="icon icon-exit"></i>
								<span>Выйти из кабинета</span>
							</a>
						</li>
					</ul>
				</div>
			</div>
			<div class="col-item main-content">
			<div class="wrap-top-select">
					<h5>
						Личные данные
					</h5>
				</div>
				<div class="desktop-main-content">
					<div class="wrap-content">
						<div class="upload-photo">
							<div class="wrap-foto-crop">
								<label class="label" data-toggle="tooltip">
									<div class="my-form-personal">
										<input type="file" class="sr-only" id="input" name="image" accept="image/*">
										<div class="wrap-img">
												<svg width="46" height="31" viewBox="0 0 46 31" fill="none" xmlns="http://www.w3.org/2000/svg">
													<path d="M37.1833 11.625C35.8417 5.0375 30.0917 0 23 0C17.4417 0 12.65 3.1 10.35 7.75C4.40833 8.525 0 13.3687 0 19.375C0 25.7688 5.175 31 11.5 31H36.4167C41.7833 31 46 26.7375 46 21.3125C46 16.275 41.975 12.0125 37.1833 11.625ZM26.8333 17.4375V25.1875H19.1667V17.4375H13.4167L23 7.75L32.5833 17.4375H26.8333Z" fill="#A7B3BE"/>
												</svg>
											<p>Загрузить фото</p>
										</div>
									</div>
									<div class="foto-crop">
										<img class="rounded-crop" id="avatar" src="img/svg/grey-ellipse.svg" alt="avatar">
									</div>
								</label>
							</div>
							<p class="verification-passed">
								<img src="img/svg/check_green_big.svg" alt="">
								Верификация пройдена
							</p>
						</div>
						<div class="personal-data">
							<h2>
								Личные данные
							</h2>
							<form action="" class='basic-information needs-validation' novalidate>
								<!-- <div class=" error-messages">
									Заполните обязательную информацию по событию ввыделенную красными рамками ниже
								</div> -->
								<div class="wrap-basic-information">
									<div class="contact">
										<div class="wrap-main-contact">
											<div class="main-contact first-contact">
												<div class="wrap-input">
													<input class="" type="text" placeholder="Вячеслав" required>
												</div>
												<!-- <div class="wrap-input">
													<input class="" type="text" placeholder="Санкт-Петербург" required>
												</div> -->
												<div class="wrap-select">
													<select  class="select select_all_city">
														<option>Все города</option>
														<option>Санкт-Петербург</option>
														<option>Москва</option>
														<option>Уфа</option>
														<option>Казань</option>
													</select>
												</div>
												<div class="wrap-input">
													<input class="" type="text" placeholder="+7 (937) 222 90 92" required>
												</div>
												<div class="wrap-input">
													<input class="" type="text" placeholder="vicheslav@mail.ru" required>
												</div>
											</div>
										</div>
									</div>
									<div class="panel-submit">
										<button class='btn-def' href="#" type="submit">
												Сохранить
										</button>
										<button class='btn-def btn-def_transparent preview' href="#" type="submit">
												Отменить
										</button>
									</div>
								</div>
							</form>
						</div>
						<div class="linked-accounts">
								<h2>
									Связанные аккаунты
								</h2>
							<span class="linked-accounts__p">
								Привяжите чтобы было проще входить в сервис
							</span>
							<div class="main-contact social-contact">
								<div class="wrap-input">
									<a class='social-signIn-vk'	href="#">
										<i class="icon-vk"></i>
									</a>
									<p class="pers">Марина Семенова</p>
									<button class='btn-def btn-def_transparent snap' href="#" type="submit">
										Привязать
									</button>
									<button class='btn-def btn-def_gray untie' href="#" type="submit">
										Отвязать
									</button>
								</div>
								<div class="wrap-input">
									<a class='social-signIn-f' href="#">
										<i class="icon-facebook"></i>
									</a>
									<p class="pers">Марина Семенова</p>
									<button class='btn-def btn-def_transparent snap' href="#" type="submit">
										Привязать
									</button>
									<button class='btn-def btn-def_gray untie' href="#" type="submit">
										Отвязать
									</button>
								</div>
								<div class="wrap-input">
									<a class='social-signIn-g' href="#">
										<i class="icon-google-plus"></i>
									</a>
									<p class="pers">Марина Семенова</p>
									<button class='btn-def btn-def_transparent snap' href="#" type="submit">
										Привязать
									</button>
									<button class='btn-def btn-def_gray untie' href="#" type="submit">
										Отвязать
									</button>
								</div>
								<div class="wrap-input">
									<a class='social-signIn-g' href="#">
										<i class="icon-google-plus"></i>
									</a>
									<p class="pers">Марина Семенова</p>
									<button class='btn-def btn-def_transparent snap' href="#" type="submit">
										Привязать
									</button>
									<button class='btn-def btn-def_gray untie' href="#" type="submit">
										Отвязать
									</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="app-mobile">
			<div class="app-mobile__title">Чаще ищете куда сходить с телефона?</div>
			<div class="app-mobile__pre-title">Скачайте приложение EVENTR</div>
			<div class="app-mobile__img">
				<p><a href="#"><img src="img/gps.png" alt=""></a></p>
				<p><a href="#"><img src="img/aps.png" alt=""></a></p>
			</div>
		</div>
	</div>
	<!-- Modal -->
	<div class="modal offers-modal fade" id="my_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<a class="close-castom" data-dismiss="modal" aria-label="Close"></a>

				<img src="img/svg/payment-method.svg" alt="">
			</div>
		</div>
	</div>
	<!-- Modal_Cropper -->
	<!-- Show the cropped image in modal -->
    <div class="crop-modal modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="modalLabel">Выберите желаемую облать которая будет отображаться в круге аватарки</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<div class="img-container">
					<img id="image" src="https://avatars0.githubusercontent.com/u/3456749">
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn-def" id="crop">Сохранить</button>
				</div>
			</div>
		</div>
	</div>
</div>
<!--_______ End.page-paid-services _______-->