// .page-bonuses
.page-bonuses
	.main-content
		@media screen and (max-width: 767px)
			width: 100%
	.desktop-main-content
		display: none
		@media screen and (min-width: 768px)
			display: flex
	.mobile-main-content
		display: none
		@media screen and (max-width: 767px)
			display: block
	.wrap-mfp-close
		display: block
	.mfp-content
		.white-popup
			.wrap-btn-choose
				display: table
				width: 51em
				margin: 0 auto
	.wrap-top-select
		justify-content: space-between
		@media screen and (max-width: 767px)
			// padding: 0 20px
		h2
			display: none
			@media screen and (max-width: 767px)
				padding: 0 20px
				margin: 0
				display: block
				font-weight: bold
				font-size: 14px
				line-height: 21px
				color: #0E1F38
		.top-select
			display: flex
			align-items: center
			justify-content: flex-start
			@media screen and (max-width: 767px)
				flex-wrap: wrap
				padding-top: 9px
		h5
			margin-right: 8px
			font-weight: normal
			font-size: 14px
			line-height: 16px
			color: #6C7583
			margin-bottom: 0
			@media screen and (max-width: 767px)
				font-weight: normal
				font-size: 12px
				line-height: 30px
				color: #6C7583
				padding: 0 0 0 20px
			&:last-child
				flex: 0 0 auto
				padding-top: 3px 
							

		.input-group__date
			display: flex
			align-items: center
			@media screen and (max-width: 767px)
				max-width: 262px
			input
				max-width: 178px
				@media screen and (max-width: 767px)
					max-width: 225px
					width: 225px
					height: 30px
			.popupOpen
				padding-left: 8px
				padding-right: 12px
				@media screen and (max-width: 767px)
					padding-right: 0
		.slelect-right
			display: flex
			align-items: center
			margin-left: auto
			.select2
				margin-bottom: 0

	.desktop-main-content
		.center-content
			// margin-top: 32px
			.tableSection
				margin-top: 11px
			tr
				&:last-child
					td
						padding-bottom: 32px
				&:hover
					box-shadow: none							
			th
				border: 1px solid #ECECF0
				padding: 19px 5px 14px 14px
				font-size: 14px 

			.th_1
				width: 21%
			.th_2
				width: 15%
			.th_3
				width: 42%
			.th_4
				width: 21%
			td
				position: relative
				border: 1px solid  #ECECF0
				border-top: 1px solid transparent
				border-bottom: 1px solid transparent
				padding: 16px 15px 3px
				span
					position: absolute
					top: 5px
					left: 15px
					font-weight: bold
					font-size: 12px
					line-height: 14px
					color: #6C7583
			td:nth-child(2)
				color: $green-light-def
			td:nth-child(4)
				font-weight: bold
			td
				&.red
					color: $error				
		.side-bar-right
			flex: 0 0 auto
			width: 175px
			margin-left: 28px
			padding-top: 40px
			// padding-top: 72px
			// *
			// 	outline: 1px solid red
			li
				min-height: 135px
				display: flex
				align-items: center
				border-bottom: 1px solid #DDDDE2
				&:last-child
					border-bottom: 0
					
			.bonuses-part
				display: flex
				padding-top: 38px
				.bonuses-icon
					width: 110px
					height: 97px
					position: relative
					flex: 0 0 auto
					img
						width: 110px
						height: 97px
						position: absolute
						min-width: 100%
						left: -25px
				.bonuses-text
					margin-left: -30px
					display: flex
					align-items: center
					flex-wrap: wrap
					padding-bottom: 37px
					.bonuses-data
						font-weight: bold
						font-size: 36px
						line-height: 42px
						text-transform: uppercase
						color: #1C8D00
						margin-left: -9px
						flex: 1 0 0
					.bonuses-status
						font-size: 14px
						line-height: 16px
						color: #A7B3BE

	.mobSection
		background: transparent
		@media screen and (max-width: 767px)
			margin: 12px 0 0
			padding: 4px 0 0
			box-shadow: none
		.bonus-btn
			display: flex
			flex-wrap: wrap
			padding: 0 20px
			justify-content: space-between
			li
				// outline: 1px solid red
				box-sizing: border-box
				width: calc(1/2*100% - (1 - 1/2)*10px)
				margin-bottom: 10px
				.bonuses-part
					display: flex
					align-items: center
					.bonuses-icon
						flex: 0 0 auto
						width: 40px
				a
					display: flex
					height: 100%
					background: #FFFFFF
					box-shadow: 0px 2px 2px #E0E0E3
					border-radius: 3px		
					padding: 10px 15px 13px
				.bonuses-text
					display: flex
					flex-direction: column
					align-items: flex-end
					.bonuses-data
						font-weight: bold
						font-size: 18px
						line-height: 21px
						color: #1C8D00
						padding-left: 8px
					.bonuses-status
						font-weight: normal
						font-size: 12px
						line-height: 14px
						color: #6C7583				
		.ul-events-mob
			background: #fff
			box-shadow: 0px 2px 2px #E0E0E3
			padding: 6px 20px 7px
			margin-top: 14px
			.event-part
				justify-content: space-between
				padding-right: 23px
				padding-bottom: 14px
				@media screen and (max-width: 767px)
					padding-top: 10px
					flex-wrap: wrap
				.event-text
					justify-content: flex-start
					.event-date
						line-height: 14px						
					.event-top-text
						padding-top: 0
						font-weight: normal
						font-size: 12px
						line-height: 14px
						color: $black
				.event-count
					h6
						font-weight: bold
						font-size: 12px
						line-height: 14px
						color: $green-light-def
						margin-bottom: 0
						&.red
							color: $error
					p
						font-weight: bold
						font-size: 12px
						line-height: 14px
						color: $green-light-def
						color: $black
						margin-bottom: 0
	.pagination
		padding: 20px 20px 18px			
.mfp-content
	.white-popup
		@media screen and (min-width: 768px)
			width: 51em
			display: table
			margin: 0 auto
		.wrap-mfp-close
			@media screen and (min-width: 768px)
				display: block
		.mfp-close
			@media screen and (min-width: 768px)
				display: block
		.wrap-btn-choose
			@media screen and (min-width: 768px)
				display: flex
			.btn-choose
				@media screen and (min-width: 768px)
					margin-top: 0
	.ui-datepicker-multi
		@media screen and (min-width: 768px)
			padding-bottom: 0

// /*End_.page-bonuses*/