<!--_______ .page-bonuses _______-->
<div class="page-bonuses  page-create-new-event-step1 page-insert">
	<div class="container">
		<div class="row-wrap-main">
			<div class="col-item side-bar">
					<div class="side-bar-user side-bar-user_visitor">
						<div class="top-nav">
							<div class="user-avatar" style="background-image: url(img/user-visit.png)"></div>
							<div class="user-inform">
								<div class="user-name">
									<span>Марина</span>
									<a class="user-gear" href="#">
										<i class="icon icon-settings"></i>
									</a>
								</div>
								<div class="user-status">Посетитель событий</div>
							</div>
						</div>
						<ul>
							<li>
								<a href="#">
									<i class="icon icon-like"></i>
									<span>Избранное</span>
								</a>
							</li>
							<li>
								<a href="#" >
									<i class="icon icon-remind"></i>
									<span>Напоминания</span>
								</a>
							</li>
							<li class="active">
								<a href="#">
									<i class="icon icon-bonuses"></i>
									<span>Бонусы</span>
								</a>
							</li>
							<li>
								<a href="#">
									<i class="icon icon-ticket"></i>
									<span>Билеты</span>
								</a>
							</li>
							<li>
								<a href="#">
									<i class="icon icon-mail"></i>
									<span>Рассылка</span>
								</a>
							</li>
						</ul>
						
						<ul class="bottom-ul">
							<li>
								<a href="#">
									<i class="icon icon-support"></i>
									<span>Служба поддержки</span>
								</a>
							</li>
							<li>
								<a href="#">
									<i class="icon icon-exit"></i>
									<span>Выйти из кабинета</span>
								</a>
							</li>
						</ul>
					</div>
			</div>
			<div class="col-item main-content">
				<div class="desktop-main-content">
					<div class="center-content">
						<div class="wrap-top-select">
							<h2>
								Бонусы
							</h2>
							<div class="top-select">
								<h5>За</h5>
								<div class="input-group__date">
									<input class="form-control date_range" type="text" placeholder="14 сентября 2019" required>
									<div class="popupOpen">
										<a href="#test-popup" class="open-popup-link">
											<svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
												<path d="M14.4738 13.1572C13.7463 13.1572 13.158 13.7463 13.158 14.4737C13.158 15.1998 13.7477 15.7895 14.4738 15.7895C15.1999 15.7895 15.7896 15.1998 15.7896 14.4737C15.7897 13.7463 15.2012 13.1572 14.4738 13.1572ZM10.5263 11.8421C11.2527 11.8421 11.8421 11.2527 11.8421 10.5262C11.8421 9.79932 11.2527 9.2106 10.5263 9.2106C9.80006 9.2106 9.21066 9.79932 9.21066 10.5262C9.21066 11.2527 9.80006 11.8421 10.5263 11.8421ZM14.4738 9.2106C13.7463 9.2106 13.158 9.79932 13.158 10.5262C13.158 11.2527 13.7463 11.8421 14.4738 11.8421C15.1999 11.8421 15.7896 11.2527 15.7896 10.5262C15.7897 9.79932 15.2012 9.2106 14.4738 9.2106ZM15.7897 2.63146H9.21066V5.26308H15.7897V2.63146ZM18.4213 11.8421C19.1471 11.8421 19.7371 11.2527 19.7371 10.5262C19.7371 9.79932 19.1484 9.2106 18.4213 9.2106C17.6938 9.2106 17.1055 9.79932 17.1055 10.5262C17.1055 11.2527 17.6952 11.8421 18.4213 11.8421ZM18.4213 15.7895C19.1471 15.7895 19.7371 15.1998 19.7371 14.4737C19.7371 13.7463 19.1484 13.1579 18.4213 13.1579C17.6938 13.1579 17.1055 13.7463 17.1055 14.4737C17.1055 15.1998 17.6952 15.7895 18.4213 15.7895ZM10.5263 15.7895C11.2527 15.7895 11.8421 15.1998 11.8421 14.4737C11.8421 13.7463 11.2534 13.1572 10.5263 13.1572C9.79939 13.1572 9.21066 13.7463 9.21066 14.4737C9.21066 15.1998 9.80006 15.7895 10.5263 15.7895ZM6.57902 19.737C7.30527 19.737 7.89484 19.1469 7.89484 18.4212C7.89484 17.6938 7.30527 17.1054 6.57902 17.1054C5.85209 17.1054 5.2632 17.6938 5.2632 18.4212C5.2632 19.1469 5.85268 19.737 6.57902 19.737ZM22.3684 2.63146H21.053V5.26308H22.3684V22.3682H2.63164V5.26316H3.94729V2.63146H2.63164C1.1783 2.63146 0 3.80933 0 5.26316V22.3677C0 23.8219 1.1783 25 2.63164 25H22.3684C23.822 25 25 23.8218 25 22.3677V5.26316C25.0001 3.80933 23.822 2.63146 22.3684 2.63146ZM6.57902 15.7895C7.30527 15.7895 7.89484 15.1998 7.89484 14.4737C7.89484 13.7463 7.30527 13.1572 6.57902 13.1572C5.85209 13.1572 5.2632 13.7463 5.2632 14.4737C5.2632 15.1998 5.85268 15.7895 6.57902 15.7895ZM6.57902 11.8421C7.30527 11.8421 7.89484 11.2527 7.89484 10.5262C7.89484 9.79932 7.30527 9.2106 6.57902 9.2106C5.85209 9.2106 5.2632 9.79932 5.2632 10.5262C5.2632 11.2527 5.85268 11.8421 6.57902 11.8421ZM10.5263 19.737C11.2527 19.737 11.8421 19.1469 11.8421 18.4212C11.8421 17.6938 11.2527 17.1054 10.5263 17.1054C9.80006 17.1054 9.21066 17.6938 9.21066 18.4212C9.21066 19.1469 9.80006 19.737 10.5263 19.737ZM6.57902 5.26316C7.30527 5.26316 7.89484 4.67377 7.89484 3.94735V1.3159C7.89484 0.588725 7.30594 0 6.57902 0C5.85268 0 5.2632 0.588725 5.2632 1.31581V3.94727C5.2632 4.67377 5.85268 5.26316 6.57902 5.26316ZM18.4213 5.26316C19.1471 5.26316 19.7371 4.67377 19.7371 3.94735V1.3159C19.7371 0.588725 19.1471 0 18.4213 0C17.6938 0 17.1055 0.588725 17.1055 1.31581V3.94727C17.1055 4.67377 17.6952 5.26316 18.4213 5.26316Z" fill="#69C530"/>
											</svg>
										</a>
									</div>
									<div id="test-popup" class="white-popup mfp-hide">
										<input class="form-control date-range2" type="text" style="display: none;">
										<div class="wrap-mfp-close">
											<div class="mfp-close">Закрыть
												<img src="img/svg/close-datepicker.svg" alt="close-datepicker">
											</div>
										</div>
										<div class="date_range1"></div>
										<div class="wrap-btn-choose">
											<div class="btn-def btn-choose date-select">Выбрать</div>
										</div>
									</div>
								</div>
								<h5>
									заработано 485 бонусов
								</h5>
								<div class="slelect-right">
									<h5>
										Выводить по
									</h5>
									<div class="wrap-select">
										<select class="select">
											<option>10</option>
											<option>15</option>
											<option>20</option>
											<option>25</option>
											<option>30</option>
											<option>35</option>
										</select>
									</div>
								</div>
							</div>
						</div>
						<table class="tableSection">
							<thead>
								<th class="th_1">
									Дата и время  
								</th>
								<th class="th_2">
									Начислено
								</th>
								<th class="th_3">
									За рекомендацию
								</th>
								<th class="th_4">
									Всего бонусов
								</th>
							</thead>	 
							<tr> 
								<td>
									8 марта 21:43	
								</td> 
								<td>
									+5
								</td>
								<td>
									Концерт - руки вверх 20 лет
								</td>
								<td>
									710
								</td>
							</tr>
							<tr> 
								<td>
									18 марта 21:12
								</td> 
								<td>
									+5
								</td>
								<td>
									Концерт - руки вверх 20 лет
								</td>
								<td>
									705
								</td>
							</tr>
							<tr> 
								<td>
									17 марта 14:23
								</td> 
								<td>
									+5
								</td>
								<td>
									Концерт - руки вверх 20 лет
								</td>
								<td>
									700
								</td>
							</tr>
							<tr> 
								<td>
									17 марта 14:01
								</td> 
								<td >
									+5
								</td>
								<td>
									Концерт - руки вверх 20 лет
								</td>
								<td>
									695
								</td>
							</tr>
							<tr> 
								<td>
									17 марта 13:45
								</td> 
								<td class="red">
									-500
								</td>
								<td>
									<span>
										Покупка билета
									</span>
									Концерт - руки вверх 20 лет
								</td>
								<td>
									710
								</td>
							</tr>
							<tr> 
								<td>
									17 марта 13:34
								</td> 
								<td>
									+5
								</td>
								<td>
									Концерт - руки вверх 20 лет
								</td>
								<td>
									1190
								</td>
							</tr>
							<tr> 
								<td>
									17 марта 13:11
								</td> 
								<td>
									+5
								</td>
								<td>
									Концерт - руки вверх 20 лет
								</td>
								<td>
									1185
								</td>
							</tr>
							<tr> 
								<td>
									16 марта 13:45
								</td> 
								<td>
									+10
								</td>
								<td>
									Афиша событий Eventr.ru
								</td>
								<td>
									1180
								</td>
							</tr>
							<tr> 
								<td>
									16 марта 12:42
								</td> 
								<td>
									+10
								</td>
								<td>
									Афиша событий Eventr.ru
								</td>
								<td>
									1175
								</td>
							</tr>
							<tr> 
								<td>
									16 марта 12:09
								</td> 
								<td>
									+5
								</td>
								<td>
									Концерт - руки вверх 20 лет
								</td>
								<td>
									1165
								</td>
							</tr>
							<tr> 
								<td>
									16 марта 11:44
								</td> 
								<td>
									+5
								</td>
								<td>
									Концерт - руки вверх 20 лет
								</td>
								<td>
									1155
								</td>
							</tr>
							<tr> 
								<td>
									16 марта 11:39
								</td> 
								<td>
									+10
								</td>
								<td>
									Афиша событий Eventr.ru
								</td>
								<td>
									1150
								</td>
							</tr>
							<tr> 
								<td>
									16 марта 11:23
								</td> 
								<td>
									+5
								</td>
								<td>
									Концерт - Stand Up
								</td>
								<td>
									1145
								</td>
							</tr>
							<tr> 
								<td>
									16 марта 10:26
								</td> 
								<td>
									+5
								</td>
								<td>
									Концерт - Stand Up
								</td>
								<td>
									1135
								</td>
							</tr>
							<tr> 
								<td>
									16 марта 10:24
								</td> 
								<td>
									+5
								</td>
								<td>
									Концерт - Stand Up
								</td>
								<td>
									1130
								</td>
							</tr>
							<tr> 
								<td>
									15 марта 13:45
								</td> 
								<td>
									+10
								</td>
								<td>
									Афиша событий Eventr.ru
								</td>
								<td>
									1125
								</td>
							</tr>
							<tr> 
								<td>
									15 марта 13:24
								</td> 
								<td>
									+5
								</td>
								<td>
									Концерт - Stand Up
								</td>
								<td>
									1120
								</td>
							</tr>
							<tr> 
								<td>
									15 марта 13:04
								</td> 
								<td>
									+5
								</td>
								<td>
									Концерт - Stand Up
								</td>
								<td>
									1110
								</td>
							</tr>
							<tr> 
								<td>
									15 марта 12:45
								</td> 
								<td>
									+10
								</td>
								<td>
									Афиша событий Eventr.ru
								</td>
								<td>
									1105
								</td>
							</tr>
							<tr> 
								<td>
									15 марта 11:43
								</td> 
								<td>
									+5
								</td>
								<td>
									Концерт - руки вверх 20 лет
								</td>
								<td>
									1100
								</td>
							</tr>
						</table>
					</div>
					<div class="side-bar-right">
						<ul>
							<li>
								<a href="#">
									<div class="bonuses-part">
										<div class="bonuses-icon">
											<img src="img/side-bar-right/bonus_1.svg" alt="bonus_1">
										</div>
										<div class="bonuses-text">
											<div class="bonuses-data">1205</div>
											<div class="bonuses-status">
												Бонусы
											</div>
										</div>
									</div>
								</a>
							</li>
							<li>
								<a href="#">
									<div class="bonuses-part">
										<div class="bonuses-icon">
											<img src="img/side-bar-right/bonus_2.svg" alt="bonus_2">
										</div>
										<div class="bonuses-text">

											<div class="bonuses-status">
												Правила начисления
												бонусов
											</div>
										</div>
									</div>
								</a>
							</li>
							<li>
								<a href="#">
									<div class="bonuses-part">
										<div class="bonuses-icon">
											<img src="img/side-bar-right/bonus_3.svg" alt="bonus_3">
										</div>
										<div class="bonuses-text">
											<div class="bonuses-status">
												События с оплатой за бонусы
											</div>
										</div>
									</div>
								</a>
							</li>
							<li>
								<a href="#">
									<div class="bonuses-part">
										<div class="bonuses-icon">
											<img src="img/side-bar-right/bonus_4.svg" alt="bonus_4">
										</div>
										<div class="bonuses-text">
											<div class="bonuses-status">
												Купить бонусы
											</div>
										</div>
									</div>
								</a>
							</li>
						</ul>
					</div>
				</div>
				<div class="mobile-main-content">
					<div class="wrap-top-select">
						<h2>
							Бонусы
						</h2>
					</div>
					<div class="mobSection">
						<ul class="bonus-btn">
							<li>
								<a href="#">
									<div class="bonuses-part">
										<div class="bonuses-icon">
											<img src="img/side-bar-right/bonus_1_mob.svg" alt="bonus_1_mob">
										</div>
										<div class="bonuses-text">
											<div class="bonuses-data">1205</div>
											<div class="bonuses-status">
												Бонусы
											</div>
										</div>
									</div>
								</a>
							</li>
							<li>
								<a href="#">
									<div class="bonuses-part">
										<div class="bonuses-icon">
											<img src="img/side-bar-right/bonus_2_mob.svg" alt="bonus_2_mob">
										</div>
										<div class="bonuses-text">

											<div class="bonuses-status">
												Правила начисления
												бонусов
											</div>
										</div>
									</div>
								</a>
							</li>
							<li>
								<a href="#">
									<div class="bonuses-part">
										<div class="bonuses-icon">
											<img src="img/side-bar-right/bonus_3_mob.svg" alt="bonus_3_mob">
										</div>
										<div class="bonuses-text">
											<div class="bonuses-status">
												События с оплатой за бонусы
											</div>
										</div>
									</div>
								</a>
							</li>
							<li>
								<a href="#">
									<div class="bonuses-part">
										<div class="bonuses-icon">
											<img src="img/side-bar-right/bonus_4_mob.svg" alt="bonus_4_mob">
										</div>
										<div class="bonuses-text">
											<div class="bonuses-status">
												Купить бонусы
											</div>
										</div>
									</div>
								</a>
							</li>
						</ul>
						<div class="wrap-top-select">
							<div class="top-select">
								<h5>За</h5>
								<div class="input-group__date">
									<input class="form-control date_range" type="text" placeholder="14 сентября 2019" required>
									<div class="popupOpen">
										<a href="#test-popup" class="open-popup-link">
											<svg width="25" height="25" viewBox="0 0 25 25" fill="none"
												xmlns="http://www.w3.org/2000/svg">
												<path
													d="M14.4738 13.1572C13.7463 13.1572 13.158 13.7463 13.158 14.4737C13.158 15.1998 13.7477 15.7895 14.4738 15.7895C15.1999 15.7895 15.7896 15.1998 15.7896 14.4737C15.7897 13.7463 15.2012 13.1572 14.4738 13.1572ZM10.5263 11.8421C11.2527 11.8421 11.8421 11.2527 11.8421 10.5262C11.8421 9.79932 11.2527 9.2106 10.5263 9.2106C9.80006 9.2106 9.21066 9.79932 9.21066 10.5262C9.21066 11.2527 9.80006 11.8421 10.5263 11.8421ZM14.4738 9.2106C13.7463 9.2106 13.158 9.79932 13.158 10.5262C13.158 11.2527 13.7463 11.8421 14.4738 11.8421C15.1999 11.8421 15.7896 11.2527 15.7896 10.5262C15.7897 9.79932 15.2012 9.2106 14.4738 9.2106ZM15.7897 2.63146H9.21066V5.26308H15.7897V2.63146ZM18.4213 11.8421C19.1471 11.8421 19.7371 11.2527 19.7371 10.5262C19.7371 9.79932 19.1484 9.2106 18.4213 9.2106C17.6938 9.2106 17.1055 9.79932 17.1055 10.5262C17.1055 11.2527 17.6952 11.8421 18.4213 11.8421ZM18.4213 15.7895C19.1471 15.7895 19.7371 15.1998 19.7371 14.4737C19.7371 13.7463 19.1484 13.1579 18.4213 13.1579C17.6938 13.1579 17.1055 13.7463 17.1055 14.4737C17.1055 15.1998 17.6952 15.7895 18.4213 15.7895ZM10.5263 15.7895C11.2527 15.7895 11.8421 15.1998 11.8421 14.4737C11.8421 13.7463 11.2534 13.1572 10.5263 13.1572C9.79939 13.1572 9.21066 13.7463 9.21066 14.4737C9.21066 15.1998 9.80006 15.7895 10.5263 15.7895ZM6.57902 19.737C7.30527 19.737 7.89484 19.1469 7.89484 18.4212C7.89484 17.6938 7.30527 17.1054 6.57902 17.1054C5.85209 17.1054 5.2632 17.6938 5.2632 18.4212C5.2632 19.1469 5.85268 19.737 6.57902 19.737ZM22.3684 2.63146H21.053V5.26308H22.3684V22.3682H2.63164V5.26316H3.94729V2.63146H2.63164C1.1783 2.63146 0 3.80933 0 5.26316V22.3677C0 23.8219 1.1783 25 2.63164 25H22.3684C23.822 25 25 23.8218 25 22.3677V5.26316C25.0001 3.80933 23.822 2.63146 22.3684 2.63146ZM6.57902 15.7895C7.30527 15.7895 7.89484 15.1998 7.89484 14.4737C7.89484 13.7463 7.30527 13.1572 6.57902 13.1572C5.85209 13.1572 5.2632 13.7463 5.2632 14.4737C5.2632 15.1998 5.85268 15.7895 6.57902 15.7895ZM6.57902 11.8421C7.30527 11.8421 7.89484 11.2527 7.89484 10.5262C7.89484 9.79932 7.30527 9.2106 6.57902 9.2106C5.85209 9.2106 5.2632 9.79932 5.2632 10.5262C5.2632 11.2527 5.85268 11.8421 6.57902 11.8421ZM10.5263 19.737C11.2527 19.737 11.8421 19.1469 11.8421 18.4212C11.8421 17.6938 11.2527 17.1054 10.5263 17.1054C9.80006 17.1054 9.21066 17.6938 9.21066 18.4212C9.21066 19.1469 9.80006 19.737 10.5263 19.737ZM6.57902 5.26316C7.30527 5.26316 7.89484 4.67377 7.89484 3.94735V1.3159C7.89484 0.588725 7.30594 0 6.57902 0C5.85268 0 5.2632 0.588725 5.2632 1.31581V3.94727C5.2632 4.67377 5.85268 5.26316 6.57902 5.26316ZM18.4213 5.26316C19.1471 5.26316 19.7371 4.67377 19.7371 3.94735V1.3159C19.7371 0.588725 19.1471 0 18.4213 0C17.6938 0 17.1055 0.588725 17.1055 1.31581V3.94727C17.1055 4.67377 17.6952 5.26316 18.4213 5.26316Z"
													fill="#69C530" />
											</svg>
										</a>
									</div>
									<div id="test-popup" class="white-popup mfp-hide">
										<input class="form-control date-range2" type="text" style="display: none;">
										<div class="wrap-mfp-close">
											<div class="mfp-close">Закрыть
												<img src="img/svg/close-datepicker.svg" alt="close-datepicker">
											</div>
										</div>
										<div class="date_range1"></div>
										<div class="wrap-btn-choose">
											<div class="btn-def btn-choose date-select">Выбрать</div>
										</div>
									</div>
								</div>
								<h5>
									заработано 485 бонусов
								</h5>
							</div>
						</div>
						<ul class="ul-events-mob">
							<li class="event-item">
								<div class="event-inform event-inform-short">
									<div class="event-part">
										<div class="event-text">
											<div class="event-date">
												8 марта 21:43
											</div>
											<div class="event-top-text">
												Концерт - руки вверх 20 лет
											</div>
										</div>
										<div class="event-count">
											<h6>+5</h6>
											<p>695</p>
										</div>
									</div>
								</div>
							</li>
							<li class="event-item">
								<div class="event-inform event-inform-short">
									<div class="event-part">
										<div class="event-text">
											<div class="event-date">
												18 марта 21:12
											</div>
											<div class="event-top-text">
												Концерт - руки вверх 20 лет
											</div>
										</div>
										<div class="event-count">
											<h6>+5</h6>
											<p>690</p>
										</div>
									</div>
								</div>
							</li>
							<li class="event-item">
								<div class="event-inform event-inform-short">
									<div class="event-part">
										<div class="event-text">
											<div class="event-date">
												17 марта 14:23
											</div>
											<div class="event-top-text">
												Афиша событий Eventr.ru
											</div>
										</div>
										<div class="event-count">
											<h6>+10</h6>
											<p>685</p>
										</div>
									</div>
								</div>
							</li>
							<li class="event-item">
								<div class="event-inform event-inform-short">
									<div class="event-part">
										<div class="event-text">
											<div class="event-date">
												17 марта 14:01
											</div>
											<div class="event-top-text">
												Афиша событий Eventr.ru
											</div>
										</div>
										<div class="event-count">
											<h6>+10</h6>
											<p>675</p>
										</div>
									</div>
								</div>
							</li>
							<li class="event-item">
								<div class="event-inform event-inform-short">
									<div class="event-part">
										<div class="event-text">
											<div class="event-date">
												17 марта 13:45
											</div>
											<div class="event-top-text">
												Концерт - руки вверх 20 лет
											</div>
										</div>
										<div class="event-count">
											<h6>+5</h6>
											<p>655</p>
										</div>
									</div>
								</div>
							</li>
							<li class="event-item">
								<div class="event-inform event-inform-short">
									<div class="event-part">
										<div class="event-text">
											<div class="event-date">
												17 марта 13:34
											</div>
											<div class="event-top-text">
												Концерт - руки вверх 20 лет
											</div>
										</div>
										<div class="event-count">
											<h6>+5</h6>
											<p>650</p>
										</div>
									</div>
								</div>
							</li>
							<li class="event-item">
								<div class="event-inform event-inform-short">
									<div class="event-part">
										<div class="event-text">
											<div class="event-date">
												17 марта 13:11
											</div>
											<div class="event-top-text">
												Афиша событий Eventr.ru
											</div>
										</div>
										<div class="event-count">
											<h6>+10</h6>
											<p>640</p>
										</div>
									</div>
								</div>
							</li>
							<li class="event-item">
								<div class="event-inform event-inform-short">
									<div class="event-part">
										<div class="event-text">
											<div class="event-date">
												16 марта 13:45
											</div>
											<div class="event-top-text">
												Концерт - Stand Up
											</div>
										</div>
										<div class="event-count">
											<h6>+5</h6>
											<p>635</p>
										</div>
									</div>
								</div>
							</li>
							<li class="event-item">
								<div class="event-inform event-inform-short">
									<div class="event-part">
										<div class="event-text">
											<div class="event-date">
												16 марта 12:42
											</div>
											<div class="event-top-text">
												Концерт - Stand Up
											</div>
										</div>
										<div class="event-count">
											<h6 class='red'>-500</h6>
											<p>1125</p>
										</div>
									</div>
								</div>
							</li>
							<li class="event-item">
								<div class="event-inform event-inform-short">
									<div class="event-part">
										<div class="event-text">
											<div class="event-date">
												16 марта 12:09
											</div>
											<div class="event-top-text">
												Концерт - Stand Up
											</div>
										</div>
										<div class="event-count">
											<h6>+5</h6>
											<p>1125</p>
										</div>
									</div>
								</div>
							</li>
							<li class="event-item">
								<div class="event-inform event-inform-short">
									<div class="event-part">
										<div class="event-text">
											<div class="event-date">
												16 марта 11:44
											</div>
											<div class="event-top-text">
												Афиша событий Eventr.ru
											</div>
										</div>
										<div class="event-count">
											<h6>+10</h6>
											<p>1115</p>
										</div>
									</div>
								</div>
							</li>
							<li class="event-item">
								<div class="event-inform event-inform-short">
									<div class="event-part">
										<div class="event-text">
											<div class="event-date">
												16 марта 11:39
											</div>
											<div class="event-top-text">
												Концерт - Stand Up
											</div>
										</div>
										<div class="event-count">
											<h6>+5</h6>
											<p>1110</p>
										</div>
									</div>
								</div>
							</li>
							<li class="event-item">
								<div class="event-inform event-inform-short">
									<div class="event-part">
										<div class="event-text">
											<div class="event-date">
												16 марта 11:23
											</div>
											<div class="event-top-text">
												Концерт - Stand Up
											</div>
										</div>
										<div class="event-count">
											<h6>+5</h6>
											<p>1105</p>
										</div>
									</div>
								</div>
							</li>
						</ul>
					</div>
				</div>
				<div class="pagination">
					<a href="#" class="prev">
						<img src="img/svg/pagination_arrow_left.svg" alt="arrow_left">	
					</a>
					<a href="#" class="active">1</a>
					<a href="#">2</a>
					<a href="#">3</a>
					<a href="#">...</a>
					<a href="#">18</a>
					<a href="#" class="next">
						<img src="img/svg/pagination_arrow_right.svg" alt="arrow_right">
					</a>
					</div>
			</div>
			
			<!-- modal-del -->
			<div class="delete-editing modal modal-del fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
				<div class="modal-dialog modal-dialog-centered" role="document">
				<div class="modal-content">
					<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLongTitle">
						Удалить напоминание
						“StandUp.Виктор Комаров”?
					</h5>
					<button type="button" class="btn-close-modal" data-dismiss="modal" aria-label="Close">
						<img src="img/close.svg" alt="">
					</button>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn-def">Удалить</button>
						<button type="button" class="btn-def btn-def_gray" data-dismiss="modal">Отменить</button>
					</div>
				</div>
				</div>
			</div>
			<!-- modal-editing -->
			<div class="delete-editing modal modal-editing fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
				<div class="modal-dialog modal-dialog-centered" role="document">
				<div class="modal-content">
					<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLongTitle">
						Редактирование напоминания
						"StandUp.Виктор Комаров"
					</h5>
					<button type="button" class="btn-close-modal" data-dismiss="modal" aria-label="Close">
						<img src="img/close.svg" alt="">
					</button>
					</div>
					<div class="modal-body">
						<form action="" class='basic-information needs-validation' novalidate>
								<div class="wrap-basic-information">
									<div class="select-top">
										<h5>До начала события</h5>
										<div class="wrap-select">
											<select class="select" >
												<option value="">В момент события</option>
												<option>За 5 мин</option>
												<option>За 10 мин</option>
												<option>За 15 мин</option>
												<option>За 30 мин</option>
												<option>За 1 ч</option>
												<option>За 2 ч</option>
												<option>За 1 дн</option>
												<option>За 2 дн</option>
												<option>За нед</option>
											</select>
										</div>
									</div>
								</div>
							</form>
						<input class="tel-event" type="tel" name="phone" placeholder="+7 937 834 90 20" required autocomplete="tel">
					</div>
					<div class="modal-footer">
						<button type="button" class="btn-def">Сохранить</button>
						<button type="button" class="btn-def btn-def_gray" data-dismiss="modal">Отменить</button>
					</div>
				</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!--_______ End.page-bonuses _______-->