<!--_______ .page-create-new-event-step2 _______-->
<div class="page-create-new-event-step1 page-create-new-event-step2 page-insert">
	<div class="container">
		<div class="row-wrap-main">
			<div class="col-item side-bar">
				<div class="side-bar-user">
					<div class="top-nav">
						<div class="user-avatar" style="background-image: url(img/user-avatar.jpg)"></div>
						<div class="user-inform">
							<div class="user-name">
								<span>Вячеслав</span>
								<a class="user-gear" href="#">
									<i class="icon icon-settings"></i>
								</a>
							</div>
							<div class="user-status">Организатор</div>
						</div>
					</div>

					<ul>
						<li  class="active">
							<a href="#">
								<i class="icon icon-developments"></i>
								<span>
									События и статистика
								</span>
							</a>
						</li>
						<li>
							<a href="#">
								<i class="icon icon-bd"></i>
								<span>База клиентов</span>
							</a>
						</li>
						<li>
							<a href="#">
								<i class="icon icon-ticket"></i>
								<span>Проверка билетов</span>
							</a>
						</li>
						<li>
							<a href="#">
								<i class="icon icon-paid--services"></i>
								<span>Платные услуги</span>
							</a>
						</li>
					</ul>
					
					<ul>
						<li>
							<a href="#">
								<i class="icon icon-support"></i>
								<span>
									Служба поддержки
								</span>
							</a>
						</li>
						<li>
							<a href="#">
								<i class="icon icon-exit"></i>
								<span>Выйти из кабинета</span>
							</a>
						</li>
					</ul>
				</div>
			</div>
			<div class="col-item main-content">
				<a href="#" class="btn-back">
					<div class="wrap-btn-back">
						<img src="img/svg/arrow-back.svg" alt="arrow-back">
						<span>Шаг 1 (основная инфорация)</span>
					</div>
				</a>
				<div class="steps">
					<div class="wrap-steps">
						<a href="#" class="step early">
							<div class="die">
								<p>
									1
								</p>
							</div>
							<h5>
								Основная информация
							</h5>
						</a>
					</div>
					<div class="wrap-steps">
						<a href="#" class="step active">
							<div class="die">
								<p>
									2
								</p>
							</div>
							<h5>
								Билеты и цены
							</h5>
						</a>
					</div>
					<div class="wrap-steps">
						<a href="#" class="step">
							<div class="die">
								<p>
									3
								</p>
							</div>
							<h5>
								Предпросмотр
							</h5>
						</a>
					</div>
				</div>
				<form action="" class='basic-information ' novalidate>
					<div class=" error-messages">
						Заполните обязательную информацию по событию ввыделенную красными рамками ниже
					</div>
					<div class="wrap-basic-information">
						<div class="wrap-ticket">
								<div class="steps steps-mob">
										<div class="wrap-steps">
											<div class="step">
												<div class="die">
													<p>
														1
													</p>
												</div>
												<h5>
													Основная информация
												</h5>
											</div>
										</div>
										<div class="wrap-steps">
											<div class="step active">
												<div class="die">
													<p>
														2
													</p>
												</div>
												<h5>
													Билеты и цены
												</h5>
											</div>
										</div>
										<div class="wrap-steps">
											<div class="step">
												<div class="die">
													<p>
														3
													</p>
												</div>
												<h5>
													Предпросмотр
												</h5>
											</div>
										</div>
									</div>
							<div class="ticket__title">
								Билеты
							</div>
							<div class="wrap-content">
								<input type="checkbox" class="checkbox_tickets" id="free-event" />
								<label for="free-event">Бесплатное событие</label>
							</div>
							<div class="wrap-content wrap-content-hide">
								<input type="checkbox" class="checkbox_tickets" id="referral-program" checked/>
								<label for="referral-program">Реферальная программа (услуга платная 1900 руб/месяц)</label>
								<a class="a-question" href="#">
									<i class="icon-question"></i>
								</a>
							</div>
							<span class="site-link__title">
								Ссылка на страничку вашего сайта/группы с выбором места (для для подсчета <span>продаж*</span>)
							</span>
							<input class="site-input" type="text" placeholder="https://" required>
						</div>
						<div class="bonus-places">
							<div class="bonus-places__title">Места и цены за бонусы</div>
							<div class="wrap-table">
								<table class="tableSection">
									<thead>
										<th class="th_1">Сектор</th>
										<th class="th_2">Количество мест</th>
										<th class="th_3">Цена билета (бонусов)</th>
									</thead>
									<tbody>
										<tr> 
											<td>
												Партер
											</td> 
											<td>
												85
											</td>
											<td>
												300
												<div class="icon-block-shell">
													<div class="icon-block">
														<a href="#">
															<i class="icon icon-settings"></i>
														</a>
														<a href="#">
															<i class="icon icon-delete"></i>
														</a>
													</div>
												</div>
												<a class="a-arrow"	href="#">
													<img src="img/svg/arrow_right.svg" alt="arrow_right">
												</a>
											</td>
										</tr>
										<tr> 
											<td>
												Сектор А
											</td> 
											<td>
												25
											</td>
											<td>
												200
												<div class="icon-block-shell">
													<div class="icon-block">
														<a href="#">
															<i class="icon icon-settings"></i>
														</a>
														<a href="#">
															<i class="icon icon-delete"></i>
														</a>
													</div>
												</div>
												<a class="a-arrow"	href="#">
													<img src="img/svg/arrow_right.svg" alt="arrow_right">
												</a>
											</td>
										</tr>
										<tr> 
											<td>
												Сектор Б
											</td> 
											<td>
												25
											</td>
											<td>
												250
												<div class="icon-block-shell">
													<div class="icon-block">
														<a href="#">
															<i class="icon icon-settings"></i>
														</a>
														<a href="#">
															<i class="icon icon-delete"></i>
														</a>
													</div>
												</div>
												<a class="a-arrow"	href="#">
													<img src="img/svg/arrow_right.svg" alt="arrow_right">
												</a>
											</td>
										</tr>
										<tr> 
											<td>
												Танцпол
											</td> 
											<td>
												150
											</td>
											<td>
												150
												<div class="icon-block-shell">
													<div class="icon-block">
														<a href="#">
															<i class="icon icon-settings"></i>
														</a>
														<a href="#">
															<i class="icon icon-delete"></i>
														</a>
													</div>
												</div>
												<a class="a-arrow"	href="#">
													<img src="img/svg/arrow_right.svg" alt="arrow_right">
												</a>
											</td>
										</tr>
										<caption>
											<button class='btn-def add-places' href="#">
												Добавить места
											</button>
										</caption>
									</tbody>
								</table>
							</div>
						</div>
						<div class="referral-program">
							<div class="referral-program__title">
								Применить к событию услуги повышающие продажи:
							</div>
							<div class="promotional-offer-hide">
								<div class="promotional-offer">
									<div class="wrap-content">
										<label class="container-checkbox">
											<input type="checkbox" checked="checked">
											<span class="checkmark"></span>
											<span>
												Реферальная программа
											</span>
										</label>
										<i class="icon icon-question"></i>
										<p class="bottom-p">Действует сразу на все события</p>
									</div>
									<div class="wrap-select-span">
										<select class="select">
											<option>1 месяц</option>
											<option>2 месяц</option>
											<option>3 месяц</option>
											<option>пол года</option>
											<option>год</option>
										</select>
										<span class='price'>1990 <i class="icon icon-rb"></i></span>
									</div>
								</div>
							</div>
							<div class="promotional-offer">
								<div class="wrap-content">
									<label class="container-checkbox">
										<input type="checkbox" checked="checked">
										<span class="checkmark"></span>
										<span>
											Выделение события желтой рамкой
										</span>
									</label>
								</div>
								<div class="wrap-select-span">
									<select class="select">
										<option>1 месяц</option>
										<option>2 месяц</option>
										<option>3 месяц</option>
										<option>пол года</option>
										<option>год</option>
									</select>
									<span class='price'>300 <i class="icon icon-rb"></i></span>
								</div>
							</div>
							<div class="promotional-offer">
								<div class="wrap-content">
									<label class="container-checkbox">
										<input type="checkbox" checked="checked">
										<span class="checkmark"></span>
										<span>
											Закрепление в каталоге ТОП-3
										</span>
									</label>
								</div>
								<div class="wrap-select-span">
									<select class="select">
										<option>1 месяц</option>
										<option>2 месяц</option>
										<option>3 месяц</option>
										<option>пол года</option>
										<option>год</option>
									</select>
									<span class='price'>1000 <i class="icon icon-rb"></i></span>
								</div>
							</div>
							<button class='btn-def btn-referral-program' href="#" type="submit">
								Оплатить 
								<span>
									3290 
									<span>&#x20bd;</span>
								</span>
							</button>
						</div>
						<div class="panel-submit">
							<button class='btn-def next' href="#" type="submit">
								Далее 
								<span>
									(Предпросотр события и билета)
								</span>
							</button>
						</div>
					</div>
				</form>
			</div>
		</div>
		<div class="app-mobile">
			<div class="app-mobile__title">Чаще ищете куда сходить с телефона?</div>
			<div class="app-mobile__pre-title">Скачайте приложение EVENTR</div>
			<div class="app-mobile__img">
				<p><a href="#"><img src="img/gps.png" alt=""></a></p>
				<p><a href="#"><img src="img/aps.png" alt=""></a></p>
			</div>
		</div>
	</div>
	<!-- Modal -->
	<div class="modal offers-modal fade" id="my_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">Скрыть</h5>
					<a class="close-castom" data-dismiss="modal" aria-label="Close"></a>
				</div>
				<div class="modal-body">
						<label class="container-checkbox">
							<input type="checkbox" checked="checked">
							<span class="checkmark"></span>
							<span>
								Большой предновогодний тур по России<br>
							</span>
								​​​​​​​(Только это событие)
						</label>
						<label class="container-checkbox">
							<input type="checkbox" checked="checked">
							<span class="checkmark"></span>
							<span>
								Comedy Club<br>
							</span>
								(Все события этого организатора)
						</label>
				</div>
				<div class="modal-footer">
					<div class="wrap-btn">
						<a class='btn-def modal-btn-def' href="#" data-dismiss="modal">
							Скрыть
						</a>
						<a class='btn-def btn-def_gray modal-btn_gray' href="#" data-dismiss="modal">
							Отменить
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!--_______ End.page-create-new-event-step2 _______-->