// .page-create-new-event-step1
.page-create-new-event-step2
	.main-content
		@media screen and (max-width: 767px)
			padding-top: 0
		.btn-back
			display: none
			@media screen and (max-width: 767px)
				display: block
				border-bottom: 1px solid #E3E7F1
				// background:#F4F4F5
				background: trasparent
			.wrap-btn-back
				@media screen and (max-width: 991px)
					display: flex
					align-items: center
					padding: 17px 20px 12px
					span
						font-weight: bold
						font-size: 12px
						line-height: 14px
						text-transform: uppercase
						margin-bottom: 0
						color: #1C8D00
						padding-left: 4px
						display: block
				@media screen and (max-width: 991px)
					padding: 14px 20px 11px
		.steps
			@media screen and (max-width: 767px)
				display: none
			.step
				&.early
					.die
						p
							color: $black
					h5
						color: #0e1f38
						border-bottom: 1px dashed #5F7493
						padding-right: 0
						margin-right: 50px
		.steps-mob
			display: none
			@media only screen and (max-width: 767px)
				display: flex
				margin-bottom: 31px
			.step.active
				@media only screen and (max-width: 767px)
					display: flex
				.die
					@media only screen and (max-width: 767px)
						width: 30px
						height: 30px
					p
						@media only screen and (max-width: 767px)
							font-size: 14px
							line-height: 15px
		.basic-information
			.panel-submit
				@media only screen and (max-width: 767px)
					padding: 40px 5px 35px
				button
					padding: 7px 29px

	.checkbox_tickets:checked + label
		color: #0e1f38
	.checkbox_tickets + label
		padding: 0 4px 0 58px
		margin-bottom: 0
		@media only screen and (max-width: 767px)
			padding: 0 4px 0 48px
			line-height: 18px

	.wrap-ticket
		padding: 30px 29px
		@media only screen and (max-width: 767px)
			padding: 14px 20px
		.ticket
			&__title
				font-weight: bold
				font-size: 16px
				line-height: 19px
				color: #6C7583
				padding-bottom: 22px
				@media only screen and (max-width: 767px)
					display: none
		.wrap-content
			padding-bottom: 18px
			display: flex
			align-items: center
			@media only screen and (max-width: 767px)
				padding-bottom: 17px
		.site-link__title
			display: block
			margin-bottom: 6px
			@media only screen and (max-width: 767px)
				font-size: 12px
				line-height: 18px
				margin-bottom: 6px
				margin-top: 3px
			span
				font-style: italic
				font-weight: bold
				font-size: 14px
				line-height: 21px
				text-decoration-line: underline
				color: #6C7583
				@media only screen and (max-width: 767px)
					font-size: 12px
					line-height: 18px
		.site-input
			height: 35px
			@media only screen and (max-width: 767px)
				height: 30px
	.a-question
		@media only screen and (max-width: 767px)
			align-self: flex-start
	.icon-question
		color: $green-light-def
		font-size: 20px
		@media only screen and (max-width: 767px)
			font-size: 15px
	.bonus-places
		padding: 0 30px 50px
		@media only screen and (max-width: 767px)
			padding: 0
		&__title
			font-weight: bold
			font-size: 16px
			line-height: 19px
			color: #0E1F38
			padding-top: 21px
			padding-bottom: 18px
			@media only screen and (max-width: 767px)
				padding: 0 20px
				font-size: 12px
				line-height: 14px
				padding: 26px 20px 15px

	.wrap-table
		.tableSection
			border: 1px solid #E3E7F1
			box-sizing: border-box
			width: 100%
			box-shadow: none
			.icon-block-shell
				@media only screen and (max-width: 767px)
					display: none
				.icon-block
					a
						margin-right: 20px
						&:last-child
							margin-right: 20px
						&:first-child
							margin-left: 20px
						
			th
				font-size: 14px
				line-height: 20px
				color: #A7B3BE
				border: 1px solid #E3E7F1
				@media only screen and (max-width: 767px)
					font-size: 12px
					line-height: 12px
					padding: 14px 17px 9px
			.th_1
				width: 25%
				@media only screen and (max-width: 767px)
					width: 25%
			.th_2
				width: 21%
				@media only screen and (max-width: 767px)
					width: 28%
			.th_3
				width: 61%
				@media only screen and (max-width: 767px)
					width: 34%
			th
    			padding-left: 20px
			tr:hover
				@media only screen and (max-width: 767px)
					box-shadow: none
				& > td
					color: $black
			tr:last-child
				td
					padding-bottom: 29px
					@media only screen and (max-width: 767px)
						padding-bottom: 11px
			td
				color: $default-color
				border-left: 1px solid #E3E7F1
				border-right: 1px solid #E3E7F1
				border-bottom: 0
				border-top: 0
				padding: 18px 20px 12px
				@media only screen and (max-width: 767px)
					font-size: 12px
					line-height: 14px
					color: #0E1F38
					padding: 16px 14px 11px
			.a-arrow
				display: none
				@media only screen and (max-width: 767px)
					display: block
					float: right

			caption
				border: 1px solid #E3E7F1
				border-top: 0
				padding: 19px 20px 18px
				@media only screen and (max-width: 767px)
					border: none
			.add-places
				padding: 9px 21px
				@media only screen and (max-width: 767px)
					padding: 7px 13px
	.referral-program
		margin: 0 30px 50px
		background: #FFFFFF
		border: 5px solid #69C530
		box-sizing: border-box
		box-shadow: 0px 35px 35px #E6EFE0
		padding: 26px 30px 36px
		@media only screen and (max-width: 767px)
			margin: 21px 0 0
			border: 10px solid #69C530
			padding: 12px 10px 15px
		&__title
			font-weight: bold
			font-size: 18px
			line-height: 21px
			color: #0E1F38
			margin-bottom: 25px
			@media only screen and (max-width: 767px)
				margin-bottom: -7px

		.promotional-offer
			display: flex
			padding-bottom: 17px
			@media only screen and (max-width: 767px)
				display: block
				padding-top: 16px
				padding-bottom: 20px
				border-bottom: 1px solid #E3E7F1
		.wrap-content
			display: flex
			align-items: center
			flex-wrap: wrap
			max-width: 291px
			width: 100%
			.container-checkbox
				font-weight: normal
				font-size: 14px
				line-height: 16px
				margin: 7px 4px 5px 0
				@media only screen and (max-width: 767px)
					margin: 7px 4px 2px 0px
				.checkmark
					top: -2px
				input:checked ~ span
					font-weight: bold
					font-size: 14px
					line-height: 16px
					color: #6C7583
			.bottom-p
				flex-basis: 100%
				font-size: 13px
				line-height: 15px		
				color: #A7B3BE
				padding-left: 26px
				margin-bottom: 7px
				@media only screen and (max-width: 767px)
					padding-left: 30px
		.wrap-select-span
			display: flex
			align-items: center
			@media only screen and (max-width: 767px)
				padding-left: 29px
				padding-top: 5px
			.select2
				margin-bottom: 0
				@media only screen and (max-width: 767px)
					max-width: 114px
				.select2-selection--single
					.select2-selection__rendered
						line-height: 30px
		.price
			font-weight: bold
			font-size: 18px
			line-height: 21px
			color: #0E1F38
			display: flex
			align-items: center
			margin-left: 30px
			@media only screen and (max-width: 767px)
				margin-left: 9px
				font-size: 16px
				line-height: 19px
				color: #6C7583
			.icon
				font-size: 14px
				margin-left: 2px
				cursor: pointer
		.btn-referral-program
			margin-top: 6px
			padding: 10px 29px 7px
			@media only screen and (max-width: 767px)
				margin-top: 6px
				padding: 6px 15px
				margin: 20px auto 2px
				display: block