// .page-verification
.page-verification
    .container
        @media only screen and (max-width: 767px)
            padding: 0
            margin: 0
        .row-wrap-main
            @media only screen and (max-width: 767px)
                margin: 0 0 36px
    .clarifications
        padding-bottom: 22px
        @media only screen and (max-width: 767px)
            background: #FFFFFF
            box-shadow: 0px 2px 2px #E0E0E3
            padding: 16px 20px 17px        
        .clarifications-top
            display: flex
            align-items: center
            padding-bottom: 13px
            @media only screen and (max-width: 767px)
                padding-bottom: 23px
            img
                padding-right: 10px
        &-title
            font-weight: bold
            font-size: 18px
            line-height: 21px
            color: #0E1F38
            margin: 0
            padding: 0
            @media only screen and (max-width: 767px)
                font-weight: bold
                font-size: 14px
                line-height: 16px
                color: #0E1F38
        p
            font-size: 14px
            line-height: 21px
            color: #6C7583
            margin-bottom: 0
            @media only screen and (max-width: 767px)
                font-weight: bold
                font-size: 12px
                line-height: 150%
                color: #6C7583
                margin-bottom: 18px
    .bold
        font-weight: bold
    .bold-black
        font-weight: bold
        color: $black
    .main-content
        @media only screen and (max-width: 767px)
            padding-top: 0
        .steps
            margin-bottom: 10px
        
            .step
                @media only screen and (max-width: 767px)
                    display: flex
                .die
                    p
                        color: #0e1f38
                        font-weight: bold
                h5
                    color: #0e1f38
        .wrap-steps
            @media only screen and (max-width: 767px)
                padding: 40px 20px 0
        .basic-information
            &.needs-validation
                @media only screen and (max-width: 767px)
                    margin: 0
                    padding: 0
            .select-context
                padding: 28px 32px 17px
                @media only screen and (max-width: 767px)
                    padding: 28px 20px 0
                p
                    font-size: 14px
                    line-height: 21px
                    color: #6C7583
                    @media only screen and (max-width: 767px)
                        font-size: 12px
                        line-height: 18px
                        color: #6C7583
            .panel-submit
                border-top: 0
                padding: 29px 37px 30px
                justify-content: flex-start
                border-top: none
                @media only screen and (max-width: 767px)
                    justify-content: center
                    background: #FFFFFF
                    box-shadow: 0px 2px 2px #E0E0E3
                    padding: 21px 30px 41px
                    button
                        padding: 9px 25px   

            .upload-documents
                padding: 0
                .wrap-photo
                    margin-top: 0
                    padding: 0 32px 0 34px
                    @media only screen and (max-width: 767px)
                        padding: 0 20px
                    .show-photo
                        margin-right: 0
                        flex: 0 0 auto
                        max-width: 140px
                        @media only screen and (max-width: 767px)
                            padding-top: 19px
                            max-width: 100% 
                        .small-img
                            flex-direction: column
                            @media only screen and (max-width: 767px)
                                flex-direction: row 
                                display: flex 
                            li
                                width: 100%
                                margin-bottom: 28px
                                max-width: 110px
                                margin-left: 31px
                                @media only screen and (max-width: 767px)
                                    margin-bottom: 0
                                    max-width: none
                                    box-sizing: border-box
                                    width: calc(1/3*100% - (1 - 1/3)*10px)
                                    margin-left: 0
                                &:last-child
                                    margin-bottom: 0
                            .wrap-empty
                                background: #EEEEEE
                                border: 1px solid #DDDEE4
                                box-sizing: border-box
                                border-radius: 0
                                @media only screen and (max-width: 767px)
                                    width: 100%
                    .drop-photo
                        width: calc(100% - 140px)
                        @media only screen and (max-width: 767px)
                            width: 100%
                            display: block
                        p
                            max-width: 335px
                        .drop-area
                            @media only screen and (max-width: 767px)
                                display: block
                                border-radius: 0
                                border: none
                                background: #fff 
                            .my-form
                                margin-top: 16px
                                .btn-my-form
                                    padding: 8px 36px 9px
                                    @media only screen and (max-width: 767px)
                                        margin: 0 auto
                                        width: 100%
                .m-top
                    padding-top: 24px



            .drop-area
                width: 100%
                background: #F8F8F8
                border: 1px dashed #D2D3DB
                box-sizing: border-box
                border-radius: 3px
        .sec-2
            padding-top: 53px
            @media only screen and (max-width: 767px)
                padding-top: 0  
            .select-context
                padding: 28px 32px 0
                @media only screen and (max-width: 767px)
                    padding: 28px 20px 0
        .sec-3
            padding-top: 50px
            @media only screen and (max-width: 767px)
                padding-top: 0
            .select-context
                padding: 28px 32px 12px
                @media only screen and (max-width: 767px)
                    padding: 28px 20px 8px
        .sec-4
            padding-top: 50px
            @media only screen and (max-width: 767px)
                padding-top: 0
            .select-context
                padding: 28px 32px 12px
                @media only screen and (max-width: 767px)
                    padding: 28px 20px 12px
        .sec-5
            padding-top: 50px
            @media only screen and (max-width: 767px)
                padding-top: 0
            .select-context
                padding: 28px 32px 12px
                @media only screen and (max-width: 767px)
                    padding: 0 20px
                textarea
                    height: 163px
            .p-t
                @media only screen and (max-width: 767px)
                    padding-top: 8px
    .copy-link
        padding: 0 30px 
        margin-bottom: 16px
        align-items: center
        @media only screen and (max-width: 767px)
            padding: 3px 20px 0
        input
            width: 360px
            @media only screen and (max-width: 767px)
                max-width: 280px
                margin: 0 auto 20px
                display: table
                padding: 5px 10px 6px
        span
            font-size: 14px
            line-height: 21px
            color: #6C7583
            margin-left: auto
            margin-right: 15px
            @media only screen and (max-width: 767px)
                display: none
        .btn-def
            width: 118px
            @media only screen and (max-width: 767px)
                width: 100%
                max-width: 280px
                padding: 6px 10px
            &.btn-def_transparent
                @media only screen and (max-width: 767px)
                    display: table
                    margin: 0 auto
    .сode
        background: #595F6A
        box-shadow: inset 0px 2px 2px #3F495A
        border-radius: 3px
        padding: 25px 10px 31px 30px
        margin: 17px 30px 0px 30px
        @media only screen and (max-width: 767px)
            margin: 15px 20px 0px 20px
            padding: 4px 12px 15px
        code
            font-size: 14px
            line-height: 21px
            color: #B3B9CB
            @media only screen and (max-width: 767px)
                font-size: 10px
                line-height: 15px
                color: #B3B9CB

    .across-vk
        display: flex
        align-items: center
        padding: 0 30px 29px
        @media only screen and (max-width: 767px)
            padding: 0 20px 40px
            display: block
        input
            width: 330px
            border: 1px solid #E3E7F1
            border-radius: 3px
            padding: 8px 13px
            color: #A7B3BE
            margin-right: 21px
            @media only screen and (max-width: 767px)
                max-width: 280px
                display: block
                margin: 0 auto 13px
        span
            font-size: 14px
            line-height: 21px
            color: #6C7583
            margin-right: 15px
            @media only screen and (max-width: 767px)
                font-size: 12px
                line-height: 14px
                padding-bottom: 14px
                display: block
        .btn-def
            width: 195px
            padding: 9px 5px 8px
            @media only screen and (max-width: 767px)
                width: 210px
                margin: 0 auto
                display: block

    .hidden-sm-down
        display: block
        @media only screen and (max-width: 767px)
            display: none
    .hidden-md-up
        display: none
        @media only screen and (max-width: 767px)
            display: block

// .END_page-verification
