<!--_______ page-verification_______-->
<div class="page-create-new-event-step1 page-verification page-insert">
	<div class="container">
		<div class="row-wrap-main">
			<div class="col-item side-bar">
				<div class="side-bar-user">
					<div class="top-nav">
						<div class="user-avatar" style="background-image: url(img/user-avatar.jpg)"></div>
						<div class="user-inform">
							<div class="user-name">
								<span>Вячеслав</span>
								<a class="user-gear" href="#">
									<i class="icon icon-settings"></i>
								</a>
							</div>
							<div class="user-status">Организатор</div>
						</div>
					</div>

					<ul>
						<li  class="active">
							<a href="#">
								<i class="icon icon-developments"></i>
								<span>
									События и статистика
								</span>
							</a>
						</li>
						<li>
							<a href="#">
								<i class="icon icon-bd"></i>
								<span>База клиентов</span>
							</a>
						</li>
						<li>
							<a href="#">
								<i class="icon icon-ticket"></i>
								<span>Проверка билетов</span>
							</a>
						</li>
						<li>
							<a href="#">
								<i class="icon icon-paid--services"></i>
								<span>Платные услуги</span>
							</a>
						</li>
					</ul>
					
					<ul>
						<li>
							<a href="#">
								<i class="icon icon-support"></i>
								<span>
									Служба поддержки
								</span>
							</a>
						</li>
						<li>
							<a href="#">
								<i class="icon icon-exit"></i>
								<span>Выйти из кабинета</span>
							</a>
						</li>
					</ul>
				</div>
			</div>
			<div class="col-item main-content">
				<div class="clarifications">
					<div class="clarifications-top">
						<img src="img/svg/shield.svg" alt="shield">
						<h2 class="clarifications-title">Осталься последний шаг. Вам нужно пройти верификацию.</h2>
					</div>
					<p>
						<span class="bold">Верификация</span> - это процедура, которая позволяет вам один раз подтвердить то, что вы являетесь организатором событий и все последующие события публиковать без прохождения модерации. 
					</p>
					<p>
						<span class="bold-black">Выберите один из способов подтверждения</span> что вы являетесь организатором событий:
					</p>
				</div>
				<section class="sec-1">
					<div class="steps">
						<div class="wrap-steps">
							<div class="step">
								<div class="die">
									<p>
										1
									</p>
								</div>
								<h5>
									С помощью документов
								</h5>
							</div>
						</div>
					</div>
					<form action="" class='basic-information needs-validation' novalidate>
						<div class="wrap-basic-information">
							<div class="select-context">
								<p>
									Необходимо загрузить любой 1 документ, где вы указаны как организатор. Это может быть договор с артистами, площадками, билетными системами, документы ООО или ИП с указанием ОКВЕД и тп. 
								</p>
								<p>
									Или вы можете от лица вашей компании с печатью и подпись сделать документ где будет написано что вы подтвеждаете что являетесь организатором таких-то артистов, групп, событий. Нужно отсканировать или сфотографировать этот документ, загрузить и отправить на проверку. 
								</p>
							</div>
							<div class="photo-video upload-documents js_photo-video-1">
								<input class="form-control fileElem" type="file" id="fileElem1" required multiple accept="image/*" onchange="handleFiles(this.files, '.js_photo-video-1')">
								<div class="wrap-photo">
									<div class="drop-photo">
										<div class="drop-area">
											<div class="my-form">
												<img src="img/svg/drop.svg" alt="drop">
												<p>Перетащите сюда документы подтверждающий что вы являетесь организатором</p>
												<label class="btn-def btn-my-form hidden-sm-down" for="fileElem1">Загрузить документы</label>
												<label class="btn-def btn-def_transparent btn-my-form hidden-md-up" for="fileElem1">Загрузить документы</label>
											</div>
										</div>
									</div>
									<div class="show-photo">
										<ul class="small-img">
											<li>
												<div class="wrap-empty"></div>
												<span class="small-img-close"></span>
											</li>
											<li>
												<div class="wrap-empty"></div>
												<span class="small-img-close"></span>
											</li>
											<li>
												<div class="wrap-empty"></div>
												<span class="small-img-close"></span>
											</li>
										</ul>
									</div>
								</div>
							</div>
							<div class="panel-submit">
								<button class='btn-def' href="#" type="submit">
									Отправить на проверку
								</button>
							</div>
						</div>
					</form>
				</section>
				<section class="sec-2">
						<div class="steps">
							<div class="wrap-steps">
								<div class="step">
									<div class="die">
										<p>
											2
										</p>
									</div>
									<h5>
										Через сайт
									</h5>
								</div>
							</div>
						</div>
						<form action="" class='basic-information needs-validation' novalidate>
							<div class="wrap-basic-information">
								<div class="select-context">
									<p>
										<span class="bold">
											Для этого способа подтверждения необходим доступ к сайту и технические навыки или попросите вашего специалиста по сайту выполнить эту операцию.
										</span>
									</p>
									<p>
										Устновите html-код на вашем сайте где есть информация о вашем событии. После прохождения модерации код можно удалить. 
									</p>
								</div>
								<div class="copy-link">
									<input type="text"  value="https://">
									<span>Проверочный код</span>
									<button class="btn-def hidden-sm-down" onclick="CopyToClipboard('copyCode');">Скопировать</button>

									<button class="btn-def btn-def_transparent hidden-md-up" onclick="CopyToClipboard('copyCode');">Скопировать проверочный код</button>
								</div>
								<div class="сode">
									<code id="copyCode">
										&lt;!-- EVENTR --&gt;<br>
										​​​​​​​&lt;script type=&quot;text/javascript&quot; &gt; (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)}; m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)}) (window, document, &quot;script&quot;, &quot;https://mc.yandex.ru/metrika/tag.js&quot;, &quot;ym&quot;); ym(52810507, &quot;init&quot;, { clickmap:true, trackLinks:true, accurateTrackBounce:true, webvisor:true }); &lt;/script&gt; &lt;noscript&gt;&lt;div&gt;&lt;img src=&quot;https://mc.yandex.ru/watch/52810507&quot; style=&quot;position:absolute; left:-9999px;&quot; alt=&quot;&quot; /&gt;&lt;/div&gt;<br>
										&lt;!-- EVENTR --&gt;
									</code>
								</div>
								<div class="panel-submit">
									<button class='btn-def' href="#" type="submit">
										Отправить на проверку
									</button>
								</div>
							</div>
						</form>
				</section>
				<section class="sec-3">
					<div class="steps">
						<div class="wrap-steps">
							<div class="step">
								<div class="die">
									<p>
										3
									</p>
								</div>
								<h5>
									Через группу Вконтакте
								</h5>
							</div>
						</div>
					</div>
					<form action="" class='basic-information needs-validation' novalidate>
						<div class="wrap-basic-information">
							<div class="select-context">
								<p>
									<span class="bold p-bottom">
										Для подтверждения этим способом необходимо чтобы вы обаладали правами администратора вашей группы в соц.сети. 
									</span>
									<br>
								</p>
								<p>
									Напишите в статуте группы "Билеты можно купить на eventr.ru". После этого отправьте на проверку.
									После успешной проверки статуст с текстом можно будет удалить.
								</p>
							</div>
							<div class="across-vk">
								<span class="bold">Адрес группы</span>
								<input type="text"  value="https://">
								<button class='btn-def' href='#' type='submit'>Отправить на проверку</button>
							</div>
						</div>
					</form>
				</section>
				<section class="sec-4">
					<div class="steps">
						<div class="wrap-steps">
							<div class="step">
								<div class="die">
									<p>
										4
									</p>
								</div>
								<h5>
									С помощью паспорта
								</h5>
							</div>
						</div>
					</div>
					<form action="" class='basic-information needs-validation' novalidate>
						<div class="wrap-basic-information">
							<div class="photo-video upload-documents js_photo-video-2">
								<input class="form-control fileElem" type="file" id="fileElem2" required multiple accept="image/*" onchange="handleFiles(this.files, '.js_photo-video-2')">
								<div class="wrap-photo m-top">
									<div class="drop-photo">
										<div class="drop-area">
											<div class="my-form">
												<img src="img/svg/drop.svg" alt="drop">
												<p>Загрузить фото или скан вашего паспорт</p>
												<label class="btn-def btn-my-form hidden-sm-down" for="fileElem2">Загрузить</label>
												<label class="btn-def btn-def_transparent btn-my-form hidden-md-up" for="fileElem2">Загрузить фото или скан паспорта</label>
											</div>
										</div>
									</div>
									<div class="show-photo">
										<ul class="small-img">
											<li>
												<div class="wrap-empty"></div>
												<span class="small-img-close"></span>
											</li>
											<li>
												<div class="wrap-empty"></div>
												<span class="small-img-close"></span>
											</li>
											<li>
												<div class="wrap-empty"></div>
												<span class="small-img-close"></span>
											</li>
										</ul>
									</div>
								</div>
							</div>
							<div class="panel-submit">
								<button class='btn-def' href="#" type="submit">
									Отправить на проверку
								</button>
							</div>
						</div>
					</form>
				</section>
				<section class="sec-5">
					<div class="steps">
						<div class="wrap-steps">
							<div class="step">
								<div class="die">
									<p>
										5
									</p>
								</div>
								<h5>
									Если не подходит ни один из способов. 
								</h5>
							</div>
						</div>
					</div>
					<form action="" class='basic-information needs-validation' novalidate>
						<div class="wrap-basic-information p-t">
							<div class="select-context">
								<p>
									Напишите нам:<br>
									- какие событие вы организуете<br>
									- в каких городах<br>
									- на какое кол-во человек<br>
									- где и как можно посмотреть результат вашей работы чтобы мы могли понять что вы являетесь организатором который делает качественные события. 
								</p>

							</div>
							<div class="select-context">
								<textarea name="" id="" cols="30" rows="10"></textarea>
							</div>
							<div class="panel-submit">
								<button class='btn-def' href="#" type="submit">
									Отправить
								</button>
							</div>
						</div>
					</form>
				</section>
			</div>
		</div>
		<div class="app-mobile">
			<div class="app-mobile__title">Чаще ищете куда сходить с телефона?</div>
			<div class="app-mobile__pre-title">Скачайте приложение EVENTR</div>
			<div class="app-mobile__img">
				<p><a href="#"><img src="img/gps.png" alt=""></a></p>
				<p><a href="#"><img src="img/aps.png" alt=""></a></p>
			</div>
		</div>
	</div>
	<!-- Modal -->
	<div class="modal offers-modal fade" id="my_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">Скрыть</h5>
					<a class="close-castom" data-dismiss="modal" aria-label="Close"></a>
				</div>
				<div class="modal-body">
						<label class="container-checkbox">
							<input type="checkbox" checked="checked">
							<span class="checkmark"></span>
							<span>
								Большой предновогодний тур по России<br>
							</span>
								​​​​​​​(Только это событие)
						</label>
						<label class="container-checkbox">
							<input type="checkbox" checked="checked">
							<span class="checkmark"></span>
							<span>
								Comedy Club<br>
							</span>
								(Все события этого организатора)
						</label>
				</div>
				<div class="modal-footer">
					<div class="wrap-btn">
						<a class='btn-def modal-btn-def' href="#" data-dismiss="modal">
							Скрыть
						</a>
						<a class='btn-def btn-def_gray modal-btn_gray' href="#" data-dismiss="modal">
							Отменить
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!--_______ End page-verification _______-->