// .page-training_4
.page-training_4
	.wrap-task
		padding: 20px 20px 50px
	.wrap-click-switch
		margin-bottom: 0
	.wrap-click-on-button
		padding-top: 9px
		display: flex
		align-items: flex-end
		margin-bottom: 0
		@media only screen and (max-width: 767px)
			padding-top: 4px
			margin-bottom: 1px
			justify-content: flex-end
		.click-on-button
			@media only screen and (max-width: 767px)
				flex: 0 0 auto
			img
				transform: translate(-23px, -7px )
		.left-arrow
			@media only screen and (max-width: 767px)
				flex: 0 0 30px
			img
				transform: translate(-41px, -74px)
				@media only screen and (max-width: 767px)
					transform: translate(-24px, 17px)
		.click-on-button-p
			font-weight: bold
			font-size: 14px
			line-height: 16px
			color: #6C7583
			transform: translate(-31px, -81px)
			@media only screen and (max-width: 767px)
				font-size: 11px
				line-height: 17px
				margin-left: -14px
	p
		font-size: 14px
		line-height: 21px
		margin-bottom: 0
		@media only screen and (max-width: 767px)
			font-size: 12px
			line-height: 18px
	.img-arrow
		&.w-100
			width: 100%
			max-width: 100%

	.wrap-img-arrow
		margin: 2px -60px 19px 0

	

	.wrap-counter
		align-items: flex-start
		flex-wrap: nowrap
		@media only screen and (max-width: 767px)
			margin-top: 0
			flex-wrap: wrap
			justify-content: flex-start
		.wrap-input
			width: 100%
			max-width: 309px
			margin-right: 20px
			margin-bottom: 20px
			@media only screen and (max-width: 350px)
				flex: 0 0 auto
				margin-right: 0
			input
				padding: 9px 13px 7px
		.btn-def
			padding: 9px 15px 8px
			flex: 0 0 auto
			@media only screen and (max-width: 350px)
				flex: 1 0 auto
	.flow
		position: relative
		margin-top: 20px
		.wrap-img
			min-height: 550px
			display: flex
			width: 100%
			height: 100%
			.top-img
				transform: translate(-20px, -10px)
				position: absolute
				top: 0
				left: 0
			.bottom-img
				transform: translate(21px, 10px)
				position: absolute
				right: 0
				bottom: 0


// /*End_.page-training_4*/